<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visible"
  nzPlacement="top"
  [nzTitle]="wording.general.maintenanceMode | translate"
  nzHeight="auto"
  nzWrapClassName="maintenance-mode-drawer"
>
  <p>{{ wording.general.maintenanceModeMessage | translate }}</p>
  <p *ngIf="estimatedEndTime$ | async as estimatedEndTime">
    {{ wording.general.estimatedEndTime | translate }}:
    {{ estimatedEndTime | toCurrentDateFormat: { withTime: true } }}
  </p>

  <div class="footer">
    <button
      nz-button
      nzType="primary"
      (click)="ok()"
      data-ok-button="ok"
    >
      {{ wording.general.ok | translate }}
    </button>
  </div>
</nz-drawer>
