@mixin centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::ng-deep .maintenance-mode-drawer {
  .ant-drawer-title {
    @include centered;
    font-size: 2.5rem;
  }
  .ant-drawer-body {
    @include centered;
    p {
      font-size: 2rem;
      color: rgba(0, 0, 0, 0.65);
      margin-bottom: 0.5em;
    }
  }
}
