<div class="users-groups-content box-sizing-border-box">
  <me-search-bar
    [dataModel]="searchBarData"
    (searchInput)="handleSearch($event)"
    (sortBy)="handleSortByEvent($event)"
    (selectedUsersGroups)="handleSelectUsersGroupsEvent($event)"
  >
  </me-search-bar>
  <me-users-table
    *ngIf="usersView"
    [items]="userTableItems"
    [columns]="tableColumns"
    [columnOptions]="tableColumnOptions"
    [loader]="tableLoader"
    [updateTableData]="updateUserTableDataEventSubject"
  >
  </me-users-table>
  <me-groups-table
    *ngIf="!usersView"
    [items]="groupTableItems"
    [columns]="tableColumns"
    [columnOptions]="tableColumnOptions"
    [loader]="tableLoader"
    >

  </me-groups-table>
</div>

<!-- Create button in breadcrumbs -->
<ng-template #createButton>
  <ng-container>
    Create Group
    <me-icons name="plus"></me-icons>
  </ng-container>
</ng-template>
