@import '../../../assets/less/variables.less';

:host ::ng-deep {
  .l-select {
    width: @width_md;
    position: relative;
  }

  .l-selection {
    i {
      cursor: pointer;
    }
  }

  i {
    .transition;
  }

  .visible {
    i {
      transform: rotateX(180deg);
    }
  }

  .autocomplete-input {
    .l-input-wrapper {
      width: calc(@width_md - @height_sm);
      margin-bottom: 5px;
    }
  }

  .l-select-options {
    width: @width_md;
    min-height: 70px;
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid @gray-bold;
    border-radius: 3px;
    padding: 3px;
    background: white;

    position: absolute;
    top: 33px;
    left: 0;
    z-index: 99999999999999999;
  }

  .l-option {
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
    border-bottom: 1px solid lighten(@gray, 10%);
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    .transition;

    &:last-child {
      border-bottom: none;
    }

    &:hover, &.l-option-hover {
      background: @gray_placeholder;
      color: @blue;
      opacity: 1;
    }

    &.l-option-selected {
      opacity: .4;
      .no-event;
    }
  }

  .multiselect {
    .l-checkbox-options {
      .col;
      width: 100%;
    }

    .l-checkbox-option {
      width: 100%;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
      .transition;

      &:hover {
        background: darken(@gray, 15%);
        color: @white;
        opacity: 1;
      }
    }
  }
}
