@mixin disabledSwitcher {
  nz-tree-node-switcher {
    opacity: .4;
    pointer-events: none;
    transition: all 0s;
  }
}

:host {
  padding: 20px;
  min-width: 400px;

  &::ng-deep {
    .full-expanded {
      nz-tree-node {
        transition: all 0s;
        &:nth-child(8), &:nth-child(9), &:nth-child(10) {
          @include disabledSwitcher;
        }
      }
    }

    .expanded-legalForm1 {
      nz-tree-node {
        &:nth-child(8), &:nth-child(6), &:nth-child(7) {
          @include disabledSwitcher;
        }
      }
    }

    .expanded-legalForm2 {
      nz-tree-node {
        &:nth-child(5), &:nth-child(6), &:nth-child(7) {
          @include disabledSwitcher;
        }
      }
    }

    .expanded-0 {
      nz-tree-node {
        &:nth-child(3), &:nth-child(4),  &:nth-child(5) {
          @include disabledSwitcher;
        }
      }
    }

    .ant-tree-node-selected {
      font-weight: 900;
    }
  }
}
