<button
  nz-button
  nzType="primary"
  [disabled]="!legalForm"
  (click)="resetSelection(nodesComponent)"
>
  {{ wording.general.resetSelection | translate  }}
</button>

<h2 *ngIf="title">{{title | translate}}</h2>
<nz-tree
  nzShowLine
  [ngClass]="customClassName"
  [nzData]="nodes"
  (nzClick)="onClick($event, nodesComponent)"
  (nzExpandChange)="onExpandChange($event)"
  #nodesComponent
></nz-tree>
