<form
  *ngIf="form"
  [formGroup]="form"
  nz-form
  nzLayout="vertical"
>
  <nv-input-wrapper
    [label]="wording.accounting.current | translate"
    [showErrMessages]="false"
    [redBorderError]="false"
  >
    <nz-input-group [nzSuffix]="currentFormat">
      <input
        nz-input
        formControlName="current"
      >
    </nz-input-group>
  </nv-input-wrapper>
  <nv-input-wrapper
    [label]="wording.accounting.new | translate"
    [showErrMessages]="false"
    [redBorderError]="false"
  >
    <nz-input-group [nzSuffix]="newFormat">
      <input
        nz-input
        formControlName="new"
      >
    </nz-input-group>
  </nv-input-wrapper>
</form>
