<div class="calendar-wrapper" *ngIf="calendarOptions" [ngClass]="{'isFourWeekCalendar': isFourWeekCalendar}">
  <div
    class="context-menu"
    [ngClass]="{'visible': isContextMenuVisibile}"
    #contextMenu
  >
    <div class="context" *ngFor="let btnConf of contextMenuBtnConfig">
      <div *ngIf="context === btnConf.contextType" [ngClass]="btnConf.contextClassname">
        <div *ngFor="let btn of btnConf.buttons">
          <button
            *ngIf="hasPermissionAccess(btn.operation)"
            nz-button
            (click)="handleContextMenuAction(btn.operation, btn.eventType, btn.action)"
          >
            <i nz-icon [nzType]="btn.icon"></i>{{btn.wording[language]}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="app-calendar">
    <div class="calendar-filters" *ngIf="!isFourWeekCalendar">
      <div class="filter-wrapper month">
        <nz-select
          [(ngModel)]="currentMonth"
          (ngModelChange)="onMonthChange($event)"
        >
          <nz-option
            *ngFor="let month of months[language]"
            [nzLabel]="month"
            [nzValue]="month"
            nzCustomContent
          >
            <div [attr.data-vessel-type-option]="month">
              {{ month }}
            </div>
          </nz-option>
        </nz-select>

      </div>
      <div class="filter-wrapper year">
        <nz-date-picker
          nzMode="year"
          [(ngModel)]="currentDate"
          (ngModelChange)="onYearChange($event)"
          [nzAllowClear]="false"
        ></nz-date-picker>
      </div>
      <div class="filter-wrapper search-box">
        <input
          [placeholder]="wording.chartering.searchCalendar | translate"
          nz-input
          [value]="searchValue"
          (input)="searchValueChange($event)"/>
        <p class="error" *ngIf="searchValueError">{{wording.general.noResults[language]}}</p>
      </div>
      <div class="filter-wrapper calendar-picker">
        <button
          *ngIf="hasAccessToCreateCalendar"
          nz-button
          class="create-calendar-btn"
          (click)="createCalendar()"
        >
          <i nz-icon nzType="plus-circle"></i>
        </button>
        <nz-select
          nzMode="multiple"
          [nzPlaceHolder]="wording.chartering.calendar | translate"
          [(ngModel)]="listOfSelectedCalendars"
          (ngModelChange)="onCalendarSelect($event)">
          <nz-option
            *ngFor="let option of allCalendars"
            [nzLabel]="option.displayLabel | translate"
            [nzValue]="option.id"
          ></nz-option>
        </nz-select>
      </div>
    </div>
    <div class="calendar-filters" *ngIf="isFourWeekCalendar">
      <nz-date-picker
        nzMode="date"
        [nzPlaceHolder]="wording.general.until | translate"
        [(ngModel)]="dateUntilFor4Weeks"
        (ngModelChange)="onDateUntilFor4WeeksChange($event)"
        [nzAllowClear]="false"
      ></nz-date-picker>
    </div>
    <full-calendar
      #calendar
      [deepChangeDetection]="true"
      [options]="calendarOptions"
      (contextmenu)="onRightClick($event)"
    ></full-calendar>
  </div>
</div>

