@mixin btnStyle {
  background: #c44747;
  border-color: #c44747;
}

:host ::ng-deep {
  .calendar-wrapper {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }

  .app-calendar {
    height: 100%;
  }

  .calendar-filters {
    display: flex;
    align-content: space-between;
    margin-bottom: 10px;

    nv-datebox {
      width: 250px;
      margin-right: 10px;
    }

    .create-calendar-btn {
      margin-right: 5px;
      border: none;
    }
  }

  .filter-wrapper {
    margin-right: 10px;

    &.month {
      width: 80px;

      nz-input-group {
        position: relative;
        z-index: 3;

        input {
          cursor: pointer;
          background: transparent;
        }

        i {
          position: absolute;
          right: 10px;
          top: 10px;
          z-index: 1;
        }
      }

      nz-select {
        width: 80px !important;
      }

      nz-select-item {
        background: transparent !important;
      }
    }

    &.year {
    }

    &.calendar-picker {
      margin-left: auto;
      margin-right: 0;

      nz-select {
        width: 250px !important;
      }

      nz-select-item {
        color: #fff;
        background: #c44747 !important;
      }
    }

    &.search-box {
      position: relative;

      .error {
        color: #c44747;
        position: absolute;
        top: -23px;
        left: 0;
      }
    }
  }

  .fc-day-sat, .fc-day-sun {
    background: rgba(225,225,225,.2);
  }

  .fc-toolbar-chunk {
    .fc-button-primary {
      @include btnStyle;

      &:not(:disabled).fc-button-active {
        opacity: .8;
        transition: all .3s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .fc-event {
    &.nv-task {
      padding: 5px;
      border: 1px solid #d9d9d9;
      .fc-event-title {
        color: #475159 !important;
      }
    }

    &.nv-holiday {
    }

    &.no-edit {
      pointer-events: none;
      cursor: auto;
    }
  }

  .app-calendar {
    padding: 20px;
    flex: 3;
  }

  .context-menu {
    width: auto;
    background: #fff;
    padding: 3px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    transition: opacity .3s;
    position: fixed;
    top: 40%;
    left: 40%;
    z-index: 100;
    opacity: 0;
    pointer-events: none;

    .context {
      width: 100%;
    }

    &.visible {
      opacity: 1;
      pointer-events: all;
    }

    button {
      width: 100%;
      text-align: left;
      padding: 5px;
    }
  }

  .ant-picker {
    background: transparent;
  }

  .ant-select-selection-item-remove {
    color: #fff;
  }

  .isFourWeekCalendar {
    &.calendar-wrapper { width: 100%; height: auto; overflow: auto; position: relative;}
    .app-calendar { padding: 0; }
    .fc .fc-toolbar.fc-header-toolbar { margin-bottom: 0;}

    .calendar-filters { position: absolute; top: 0; left: 0;}
  }
}
