:host {
  display: flex;
  overflow: hidden;

  .detail-view-main {
    display: flex;
    flex-direction: column;

    .main-content-wrapper {
      overflow: auto;
    }
  }
}

.permissions-wrapper {
  flex-direction: column;
  display: flex;

  .operations-wrapper {
    border-top: 1px solid #ebebeb;
    padding-bottom: 4px;
    flex-direction: row;

    &.hidden {
      display: none;
    }

    td {
      padding: 4px;
    }

    .zone-label {
      padding-left: 4px;
      font-weight: 500;
      font-size: 14px;
      border-right: 1px solid #ebebeb;
      margin-right: 12px;
      height: 32px;
      padding-right: 4px;
      align-items: center;
      display: flex;
    }

    .nz-row {
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
}

.checkbox-item {
  padding-right: 20px;
  display: block !important;
}

.zone-hover {
  pointer-events: all;
}

form {
  min-width: 100%;
}
