<div class="detail-view-main">
  <!-- Header -->
  <nv-detail-view-actions
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <!-- Content -->
  <div class="main-content-wrapper padding-mid">
    <div class="generalInfo">
      <form class="form" [formGroup]="form" nz-form nzLayout="vertical" #formElement>
        <div nz-row nzGutter="22">
          <div nz-col nzSpan="12">
            <nv-input-wrapper [label]="'Name De'" [formGroup]="form">
              <input formControlName="labelDe" type="text" nz-input />
            </nv-input-wrapper>
          </div>
          <div nz-col nzSpan="12">
            <nv-input-wrapper [label]="'Name En'" [formGroup]="form">
              <input formControlName="labelEn" type="text" nz-input />
            </nv-input-wrapper>
          </div>
        </div>

        <nv-input-wrapper
          [label]="wording.general.description | translate"
          [formGroup]="form"
        >
          <textarea
            nz-input
            formControlName="description"
            [nzAutosize]="{ minRows: 2, maxRows: 4 }"
          >
          </textarea>
        </nv-input-wrapper>

        <nv-input-wrapper
          [label]="wording.general.remarks | translate"
          [formGroup]="form"
        >
          <textarea
            nz-input
            formControlName="remarks"
            [nzAutosize]="{ minRows: 2, maxRows: 4 }"
          >
          </textarea>
        </nv-input-wrapper>
      </form>
    </div>
    <nv-fieldset [label]="wording.general.roleRights | translate">
      <div class="e2e-permissions-wrapper permissions-wrapper" [attr.form-field]="true">
        <table class="main-table">
          <tr
            *ngFor="let permission of permissionsTree"
            [ngClass]="{ 'no-pointer-events': !editMode, 'hidden': !permission.fullTitle }"
            class="operations-wrapper e2e-operations-wrapper"
            [attr.data-role-row-name]="permission.zone"
          >
            <td>
              <div
                class="zone-label zone-hover"
                nz-tooltip
                [nzTooltipTitle]="permission.description"
                nzTooltipTrigger="hover"
              >
                {{ permission.fullTitle | translate }}
              </div>
            </td>

            <td *ngFor="let operation of permission.operations">
              <label
                *ngIf="operation.isVisible"
                class="checkbox-item"
                nz-checkbox
                [(ngModel)]="operation.checked"
                (ngModelChange)="
                  setOtherPermissions(permission.operations, operation)
                "
                [attr.data-operation]="operation.label"
              >
                {{ operation.label }}
              </label>
            </td>
          </tr>
        </table>
      </div>
    </nv-fieldset>
  </div>
</div>
