<div class="content-wrap">
  <div class="content">
    <nv-interval-list
      [intervalItems]="periods"
      [selectedId]="selectedPeriod && selectedPeriod.id"
      [disabled]="inEditMode"
      [withCreateOption]="authService.canCreate(zone)"
      [creationMode]="inCreationMode"
      [withOrderNumber]="true"
      [width]="250"
      (select)="intervalClicked($event)"
      (create)="addIntervalClicked()"
    >
    </nv-interval-list>

    <div class="intervalDetails">
      <div class="actionBar">
        <nv-detail-view-actions
          *ngIf="selectedPeriod"
          [inEditingMode]="inEditMode"
          [editDisabled]="!selectedPeriod?.id"
          (editClicked)="enterEditMode()"
          (cancelClicked)="cancelEditing()"
          (saveClicked)="saveClicked()"
          [form]="form"
          [formElement]="formElement"
        >
        </nv-detail-view-actions>
      </div>
      <div
        class="form-wrapper"
        *ngIf="form"
      >
        <form
          nvSpyElement
          (initialized)="formInitialized($event)"
          [formGroup]="form"
          class="form-group"
          nz-form
          nzLayout="vertical"
        >
          <div
            nz-row
            nzGutter="14"
          >
            <!-- FormField: 'from' -->
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.general.from | translate">
                <nv-datebox
                  [disabledFrom]="timeCharter?.until"
                  [disabledUntil]="timeCharter?.from"
                  formControlName="from"
                  [withTime]="true"
                ></nv-datebox>
              </nv-input-wrapper>
            </div>
            <!-- FormField: 'until' -->
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.general.until | translate">
                <nv-datebox
                  [disabledFrom]="timeCharter?.until"
                  [disabledUntil]="timeCharter?.from"
                  formControlName="until"
                  [withTime]="true"
                ></nv-datebox>
              </nv-input-wrapper>
            </div>
          </div>

          <div
            nz-row
            nzGutter="14"
          >
            <!-- PERIOD-TYPE -->
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.periodType | translate">
                <nz-select formControlName="periodType">
                  <nz-option
                    *ngFor="let option of periodTypeOptions"
                    [nzLabel]="option.displayLabel | translate"
                    [nzValue]="option.value"
                    nzCustomContent
                  >
                    <div [attr.data-period-type-option]="option.displayLabel.en">
                      {{ option.displayLabel | translate }}
                    </div>
                  </nz-option>
                </nz-select>
              </nv-input-wrapper>
            </div>
            <!-- DURATION-TYPE -->
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.durationType | translate">
                <nz-select formControlName="durationType">
                  <nz-option
                    *ngFor="let option of durationTypeOptions"
                    [nzLabel]="option.displayLabel | translate"
                    [nzValue]="option.value"
                    nzCustomContent
                  >
                    <div [attr.data-duration-type-option]="option.displayLabel.en">
                      {{ option.displayLabel | translate }}
                    </div>
                  </nz-option>
                </nz-select>
              </nv-input-wrapper>
            </div>
          </div>

          <nz-divider
            [nzText]="wording.chartering.deliveryRedelivery | translate"
            nzOrientation="left"
          ></nz-divider>

          <div
            nz-row
            nzGutter="14"
          >
            <!-- BEGIN-DATE -->
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.begin | translate">
                <nv-datebox
                  [disabledFrom]="timeCharter?.until"
                  [disabledUntil]="timeCharter?.from"
                  formControlName="begin"
                  [withTime]="true"
                ></nv-datebox>
              </nv-input-wrapper>
            </div>
          </div>

          <div
            nz-row
            nzGutter="14"
          >
            <!-- END-DATE-APPROXIMATE -->
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.endApprox | translate">
                <nv-datebox
                  formControlName="endApprox"
                  [withTime]="true"
                ></nv-datebox>
              </nv-input-wrapper>
            </div>
            <!-- END-DATE-ACTUAL -->
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.endActual | translate">
                <nv-datebox
                  formControlName="endActual"
                  [withTime]="true"
                ></nv-datebox>
              </nv-input-wrapper>
            </div>
          </div>

          <div
            nz-row
            nzGutter="14"
          >
            <!-- DURATION -->
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.duration | translate">
                <nv-decimal-input
                  formControlName="duration"
                  [decimalPlaces]="4"
                >
                </nv-decimal-input>
              </nv-input-wrapper>
            </div>
            <!-- DURATION-UNIT -->
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.durationUnit | translate">
                <nz-select formControlName="durationUnit">
                  <nz-option
                    *ngFor="let option of durationUnitOptions"
                    [nzLabel]="option.displayLabel | translate"
                    [nzValue]="option.value"
                    nzCustomContent
                  >
                    <div [attr.data-duration-type-option]="option.displayLabel.en">
                      {{ option.displayLabel | translate }}
                    </div>
                  </nz-option>
                </nz-select>
              </nv-input-wrapper>
            </div>
          </div>

          <div
            nz-row
            nzGutter="14"
          >
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.minPeriod | translate">
                <nv-decimal-input
                  formControlName="minPeriod"
                  [decimalPlaces]="4"
                >
                </nv-decimal-input>
              </nv-input-wrapper>
            </div>

            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.maxPeriod | translate">
                <nv-decimal-input
                  formControlName="maxPeriod"
                  [decimalPlaces]="4"
                >
                </nv-decimal-input>
              </nv-input-wrapper>
            </div>
          </div>

          <div
            nz-row
            nzGutter="14"
          >
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.minDate | translate">
                <nv-datebox
                  formControlName="minDate"
                  [withTime]="true"
                >
                </nv-datebox>
              </nv-input-wrapper>
            </div>

            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.maxDate | translate">
                <nv-datebox
                  formControlName="maxDate"
                  [withTime]="true"
                >
                </nv-datebox>
              </nv-input-wrapper>
            </div>
          </div>

          <div
            nz-row
            nzGutter="14"
          >
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.minusDays | translate">
                <input
                  type="text"
                  nz-input
                  formControlName="minusDays"
                />
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.plusDays | translate">
                <input
                  nz-input
                  type="text"
                  formControlName="plusDays"
                />
              </nv-input-wrapper>
            </div>
          </div>

          <div
            nz-row
            nzGutter="14"
          >
            <!-- ADDITIONAL OFF HIRE -->
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.additionalOffHire | translate">
                <input
                  nz-input
                  type="text"
                  formControlName="additionalOffHire"
                />
              </nv-input-wrapper>
            </div>
          </div>

          <ng-container *ngIf="declarationOfOptionShown">
            <nz-divider
              [nzText]="wording.chartering.declarationOfOption | translate"
              nzOrientation="left"
            ></nz-divider>

            <div
              nz-row
              nzGutter="14"
            >
              <!-- DECLARATION-TO-BE -->
              <div
                nz-col
                nzSpan="12"
              >
                <nv-input-wrapper [label]="wording.chartering.declarationToBe | translate">
                  <nv-datebox
                    formControlName="declarationToBe"
                    [withTime]="true"
                  >
                  </nv-datebox>
                </nv-input-wrapper>
              </div>
              <!-- DECLARED -->
              <div
                nz-col
                nzSpan="12"
              >
                <nv-input-wrapper [label]="wording.chartering.declared | translate">
                  <nv-datebox
                    formControlName="declared"
                    [withTime]="true"
                  >
                  </nv-datebox>
                </nv-input-wrapper>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="addendumSectionShown">
            <nz-divider
              [nzText]="wording.chartering.addendum | translate"
              nzOrientation="left"
            ></nz-divider>

            <div
              nz-row
              nzGutter="14"
            >
              <!-- ADDENDUM-DATE -->
              <div
                nz-col
                nzSpan="12"
              >
                <nv-input-wrapper [label]="wording.chartering.addendumDated | translate">
                  <nv-datebox formControlName="addendumDated"> </nv-datebox>
                </nv-input-wrapper>
              </div>
              <!-- ADDENDUM-NO -->
              <div
                nz-col
                nzSpan="12"
              >
                <nv-input-wrapper [label]="wording.chartering.addendumNo | translate">
                  <input
                    nz-input
                    type="text"
                    formControlName="addendumNo"
                  />
                </nv-input-wrapper>
              </div>
            </div>
          </ng-container>

          <nz-divider
            [nzText]="wording.chartering.charterRate | translate"
            nzOrientation="left"
          ></nz-divider>

          <div
            nz-row
            nzGutter="14"
          >
            <!-- CURRENCY-->
            <div
              nz-col
              nzSpan="12"
            >
              <nv-currency-autocomplete
                [form]="form"
                [setNullIfNotFound]="true"
              >
              </nv-currency-autocomplete>
            </div>

            <!-- CHARTER RATE TYPE -->
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.charterRateType | translate">
                <nz-select formControlName="charterRateType">
                  <nz-option
                    *ngFor="let option of charterRateTypeOptions"
                    [nzLabel]="option.displayLabel | translate"
                    [nzValue]="option.value"
                    nzCustomContent
                  >
                    <div [attr.data-duration-type-option]="option.displayLabel.en">
                      {{ option.displayLabel | translate }}
                    </div>
                  </nz-option>
                </nz-select>
              </nv-input-wrapper>
            </div>
          </div>
          <!-- CHARTER FROM / RATE -->
          <div
            nz-row
            nzGutter="14"
            *ngIf="
              form.get('charterRateType').value === CHARTER_RATE_TYPE.Fixed
            "
          >
            <nv-charterer-rates
              [chartererRates]="[timeChartererRates[0]]"
              (valueChange)="onChartererRateChange($event)"
              [showCreateRow]="false"
              [disableFields]="!inEditMode"
              [inEditMode]="inEditMode"
            >
            </nv-charterer-rates>
          </div>

          <div
            nz-row
            nzGutter="14"
            *ngIf="
              form.get('charterRateType').value === CHARTER_RATE_TYPE.Variable
            "
          >
            <nv-charterer-rates
              [chartererRates]="timeChartererRates"
              (valueChange)="onChartererRateChange($event)"
              [disableFields]="!inEditMode"
              [inEditMode]="inEditMode"
              [addNewRowOnInit]="
                form.get('charterRateType').value ===
                  CHARTER_RATE_TYPE.Variable && inEditMode
              "
            >
            </nv-charterer-rates>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>