
:host {
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  height: 100%;
  flex-direction: row;
  padding: 10px;

  .section {
    border-top: 1px solid #e8e8e8;
    padding-top: 16px;
    margin-top: 6px;
  }

  .intervalDetails {
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin-left: 6px;
    padding-top: 2px;

    .actionBar{
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .deleteButton{
        margin-left: 4px;
      }
    }

    .form-wrapper {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin-top: 10px;
      padding: 7px;
      form {
        overflow: auto;
        padding: 10px;
      }
    }
  }
}
