<div class="create-new-password-section">
  <ng-container *ngIf="!resetPasswordSent">
    <span class="forgot-large">{{ 'forgotPassword' | translate }}</span>
    <span class="forgot-small">{{ 'pleaseChooseNewPasswordToFinishLogin' | translate }}</span>

    <form [formGroup]="passwordForm" id="create-new-password-form" (ngSubmit)="resetPassword()">
      <input hidden autocomplete="username" />

      <mat-form-field class="create-new-password-att inline-icon" hideRequiredMarker="true">
        <mat-label>{{ 'newPassword' | translate }}</mat-label>
        <input
          #passwordField
          matInput
          formControlName="newPassword"
          [type]="showPassword ? 'text' : 'password'"
          required
          (focus)="checkPasswordStrength()"
          (blur)="checkPasswordStrength()"
          autocomplete="new-password"
        />
        <i-feather
          *ngIf="showPassword"
          name="eye-off"
          (click)="changeShowPasswordState()"
          matTooltip="{{ 'hidePassword' | translate }}"
          matTooltipPosition="above"
        ></i-feather>

        <i-feather
          *ngIf="!showPassword"
          name="eye"
          (click)="changeShowPasswordState()"
          matTooltip="{{ 'showPassword' | translate }}"
          matTooltipPosition="above"
        ></i-feather>
        <div class="password-errors" *ngIf="checkPasswordStrengthOpen && newPasswordControl!.value">
          <span>{{ 'passwordValidation.title' | translate }}</span>

          <div class="password-error-row">
            <i-feather
              [ngClass]="{ error: newPasswordControl!.hasError('minlength'), success: !newPasswordControl!.hasError('minlength') }"
              name="check-circle"
            ></i-feather>
            <span>{{ 'passwordValidation.charLong' | translate: { chars: 8 } }}</span>
          </div>

          <div class="password-error-row">
            <i-feather
              [ngClass]="{
                error: newPasswordControl!.hasError('hasCapitalCase'),
                success: !newPasswordControl!.hasError('hasCapitalCase')
              }"
              name="check-circle"
            ></i-feather>
            <span>{{ 'passwordValidation.oneUppercase' | translate }}</span>
          </div>

          <div class="password-error-row">
            <i-feather
              [ngClass]="{ error: newPasswordControl!.hasError('hasSmallCase'), success: !newPasswordControl!.hasError('hasSmallCase') }"
              name="check-circle"
            ></i-feather>
            <span>{{ 'passwordValidation.oneLowercase' | translate }}</span>
          </div>

          <div class="password-error-row">
            <i-feather
              [ngClass]="{ error: newPasswordControl!.hasError('hasNumber'), success: !newPasswordControl!.hasError('hasNumber') }"
              name="check-circle"
            ></i-feather>
            <span>{{ 'passwordValidation.oneNumber' | translate }}</span>
          </div>

          <div class="password-error-row">
            <i-feather
              [ngClass]="{
                error: newPasswordControl!.hasError('hasSpecialCharacters'),
                success: !newPasswordControl!.hasError('hasSpecialCharacters')
              }"
              name="check-circle"
            ></i-feather>
            <span>{{ 'passwordValidation.oneSymbol' | translate: { symbols: '!#$%&()@_.' } }}</span>
          </div>
        </div>
      </mat-form-field>

      <mat-form-field class="forgot-password-form-att" hideRequiredMarker="true">
        <mat-label>{{ 'confirmNewPassword' | translate }}</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          [type]="showPassword ? 'text' : 'password'"
          required
          autocomplete="new-password"
        />
      </mat-form-field>

      <mat-error
        *ngIf="newPasswordControl!.dirty && confirmPasswordControl!.dirty && passwordForm!.hasError('noPassswordMatch')"
        class="no-match"
      >
        {{ 'inputsDontMatch' | translate }}
      </mat-error>

      <button mat-raised-button [disabled]="!passwordForm.valid || reset" color="primary" type="submit" class="create-new-password-button">
        {{ 'submit' | translate }}
      </button>
    </form>
  </ng-container>

  <ng-container *ngIf="resetPasswordSent">
    <span class="forgot-large">{{ 'success' | translate }}</span>
    <span class="forgot-small">{{ 'useNewPasswordToLogin' | translate }}</span>

    <button mat-raised-button color="primary" type="submit" (click)="goToLogin()" class="go-to-login-button">
      {{ 'goToLogin' | translate }}
    </button>
  </ng-container>
</div>
