.create-new-password-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;

  .forgot-large {
    color: var(--color-main-darker);
    font-weight: bold;
    font-size: 40px;
    margin: 24px 0px 24px;
    line-height: 40px;
  }

  .forgot-small {
    font-size: 14px;
    color: var(--color-main);
    margin-bottom: 32px;
    text-align: center;
  }

  #create-new-password-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;

    .create-new-password-att {
      width: 100%;

      .password-errors {
        position: absolute;
        left: -11px;
        top: 46px;
        max-width: 250px;
        background-color: var(--color-white);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 16px;
        font-size: 12px;
        color: var(--color-main);
        z-index: 999;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);

        .password-error-row {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: auto;
          align-items: center;

          i-feather {
            height: 20px;
            width: 20px;
            stroke-width: 1.5;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 4px;
          }
        }
      }

      .password-errors::after,
      .password-errors::before {
        top: -10px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      .password-errors::after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: var(--color-white);
        border-width: 12px;
        margin-top: -14px;
      }

      .password-errors::before {
        border-color: rgba(0, 0, 0, 0);
        border-bottom-color: var(--color-main-light);
        border-width: 12px;
        margin-top: -14px;
      }
    }

    .no-match {
      margin-bottom: 6px;
      font-size: 12px;
    }

    .create-new-password-button {
      width: 100%;
    }
  }

  .go-to-login-button {
    width: 100%;
  }
}
