@import 'global/breakpoints';

.step-label-heading {
  display: block;
  color: var(--color-body-font);
  font-size: 14px;
  margin-bottom: 3px;
  margin-left: 10px;
}

.click-holder {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-label-heading-active {
  color: var(--color-primary);
}

.step-label-heading-completed {
  color: var(--color-success);
}

.step-label-subheading {
  display: block;
  color: #9a9c9e;
  font-size: 12px;
  margin-left: 10px;
}

.step-content-title {
  padding: 15px 20px;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 16px;
  }
}

.button-section {
  max-width: 100%;
  height: 100px;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  &.single {
    justify-content: flex-end;
  }
}

.attribute-group-container {
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
}

.finish-btn {
  margin-left: 20px;
}

.step-content-container {
  .description {
    max-width: 374px;
    margin: 0 auto;
    text-align: center;

    margin-top: 20px;
  }
}

.add-users-list-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 50px);
}

:host ::ng-deep {
  .mat-step-header[ng-reflect-selected='true'] {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-primary-background);
  }
  .mat-stepper-horizontal {
    background-color: unset;
    display: flex;

    .mat-horizontal-stepper-header-container {
      display: block;
      background-color: unset;
      border: unset;

      .mat-step-header {
        min-width: 288px;
      }
    }

    .mat-horizontal-content-container {
      width: 100%;
      background-color: var(--color-white);
      margin-left: 20px;
      padding: 0;

      .mat-horizontal-content {
        padding: 0;
      }
    }

    i-feather {
      &.users-icon {
        width: 90px;
        height: 90px;

        .feather-users {
          width: 90px;
          height: 90px;
        }
      }
    }
  }
}
