<mat-horizontal-stepper linear #stepper class="user-select-none" *ngIf="groupInfoAttributeForm && groupInfoAttributeItemMap">
  <ng-template matStepperIcon="edit">
    <i-feather name="check" class="step-label-heading-completed icon"></i-feather>
  </ng-template>

  <mat-step #stepOne [stepControl]="groupInfoAttributeForm">
    <form [formGroup]="groupInfoAttributeForm">
      <ng-template matStepLabel>
        <div class="click-holder"></div>
        <p
          [ngClass]="{
            'step-label-heading': true,
            bold: true,
            'step-label-heading-active': stepper.selected === stepOne,
            'step-label-heading-completed': stepOne.completed && stepper.selected !== stepOne
          }">
          {{i18nStrings.generalInfo}}
        </p>

        <span class="step-label-subheading">Enter general information</span>
      </ng-template>

      <div class="step-content box-sizing-border-box">
        <div class="step-content-title">
          <p>General Information</p>
          <button mat-stroked-button>Cancel</button>
        </div>
        <div class="attribute-group-container">
          <div class="group-container">
            <!-- <div class="row-container">
              <me-attribute
                *ngIf="groupTypeAttributeItem"
                [attributeItem]="groupTypeAttributeItem"
                [attWidth]="'50%'"
              ></me-attribute>
            </div> -->

            <div *ngFor="let row of generalInfoLayoutGroups[0].rows" class="row-container" [attr.data-row]="row.rowIndex">
              <ng-container *ngFor="let rowAttribute of row.attributes">
                <me-attribute
                  [attributeItem]="groupInfoAttributeItemMap.get(rowAttribute.internalName)"
                  [attWidth]="rowAttribute.width"
                  [attr.data-row]="rowAttribute.row"
                  [attr.data-column]="rowAttribute.column"
                ></me-attribute>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="button-section single box-sizing-border-box">
          <me-button [dataModel]="buttonNext.data" (clickEvent)="stepper.next(); getGroupUsers()">
            {{ buttonNext.label }} <i-feather name="arrow-right"></i-feather>
          </me-button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step #stepTwo>
    <ng-template matStepLabel>
      <div class="click-holder" (click)="getGroupUsers()"></div>
      <p
        [ngClass]="{
          'step-label-heading': true,
          bold: true,
          'step-label-heading-active': stepper.selected === stepTwo,
          'step-label-heading-completed': stepTwo.completed && stepper.selected !== stepTwo
        }">
        Add Users
      </p>

      <span class="step-label-subheading">Add users to your group</span>
    </ng-template>

    <div class="step-content box-sizing-border-box">
      <div class="step-content-title">
        <p>Add Users</p>
        <button mat-stroked-button>Cancel</button>
      </div>
      <div class="step-content-container">
        <div class="description" *ngIf="!tableItems.length; else tableBlock">
          <i-feather name="users" class="users-icon"></i-feather>
          <h1>Add your first users</h1>
          <p>Organize team members into groups that can be used to easily create conversation channels or configure permissions for a set of users.</p>
          <me-button [dataModel]="buttonBack.data" (click)="openUsersListPopUp()">
            <i-feather name="plus"></i-feather> Add Users
          </me-button>
        </div>
        <ng-template #tableBlock>
          <me-table
            [cellClickEvent]="cellClickEventSubject"
            [dataSource]="tableItems"
            [columns]="tableColumns"
            [columnOptions]="tableColumnOptions"
            [isLoadingResults]="tableLoader"
            [hideFooterPagination]="true">
          </me-table>
        </ng-template>
      </div>
    </div>
    <div class="button-section">
      <me-button [dataModel]="buttonBack.data" (clickEvent)="stepper.previous()">
        <i-feather name="arrow-left"></i-feather> {{ buttonBack.label }}
      </me-button>
      <me-button [dataModel]="buttonFinish.data" class="finish-btn" (clickEvent)="finishSteps()">
        {{ buttonFinish.label }}<i-feather name="arrow-right"></i-feather>
      </me-button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<!-- Add users to group popup -->
<ng-template #addUsersList>
  <me-search-input [dataModel]="searchUsersFromAddListPopup" (changeEvent)="handleSearchUsersFromAddListPopup($event)"></me-search-input>
  <div class="box-sizing-border-box scrollbar add-users-list-container" meScrollToBottom>
    <me-add-list-card
      *ngFor="let addUserListCard of addUserListCardItems; let cardIndex = index; trackBy: getCardOid"
      [dataModel]="addUserListCard"
      (addListCardEvent)="handleAddListCardEvent($event, cardIndex, addUserListCardItems)"></me-add-list-card>
  </div>
</ng-template>
