<!--demo-->

<lavash-input placeholder="placeholder"></lavash-input>
<lavash-input placeholder="placeholder" placeholderType="top"></lavash-input>
<lavash-input placeholder="placeholder" placeholderType="bottom"></lavash-input>
<lavash-input placeholder="placeholder" placeholderType="label"></lavash-input>
<lavash-input placeholder="hello placeholder" placeholderType="bottom" graphics="icon-chevron-down"></lavash-input>
<lavash-input placeholder="placeholder" placeholderType="label" graphics="icon-chevron-down" graphicsPosition="right"></lavash-input>
<lavash-input placeholder="placeholder" placeholderType="label" graphics="icon-chevron-down" graphicsPosition="top"></lavash-input>
<lavash-input placeholder="placeholder" placeholderType="label" graphics="icon-chevron-down" graphicsPosition="bottom"></lavash-input>
<lavash-input placeholder="placeholder" placeholderType="label" graphics="icon-chevron-down" graphicsPosition="outer-right"></lavash-input>
<lavash-input placeholder="placeholder" placeholderType="label" graphics="icon-chevron-down" graphicsPosition="outer-left"></lavash-input>
<lavash-input placeholder="placeholder" placeholderType="label" [readonly]="true"></lavash-input>
