.document-line {
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  height: 60px;
  padding: 10px 20px;

  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 60px;

      .thumbnail {
        width: 100%;
        height: 100%;
        border-radius: 30%;
      }

      .extension-icon {
        width: 70%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;

        me-icons {
          height: 100%;
          width: 100%;
        }
      }
    }

    .info {
      margin-left: 10px;
      max-width: 240px;

      .title {
        font-size: 0.86em;
        font-weight: 600;
        color: var(--color-main-darker, #282a3c);
      }

      .date {
        font-size: 0.71em;
        font-weight: 600;
        color: var(--color-main-dark, #747474);
      }
    }
  }

  .menu {
    display: flex;
    align-items: center;
    align-content: center;
  }
}
