<div class="document-line">
  <div class="profile">
    <div class="icon">
      <ng-container *ngIf="dataModel.documentThumbnail; else extensionIcon">
        <div class="thumbnail" [ngStyle]="{ 'background-image': 'url(' + dataModel.documentThumbnail + ')' }"></div>
      </ng-container>
      <ng-template #extensionIcon>
        <div class="extension-icon">
          <me-icons *ngIf="dataModel.documentExtensionIcon" [name]="dataModel.documentExtensionIcon"></me-icons>
        </div>
      </ng-template>
    </div>
    <div class="info">
      <me-ellipsis-row class="title" [text]="dataModel.documentName"></me-ellipsis-row>
      <me-ellipsis-row class="date" [text]="dataModel.creationDate"></me-ellipsis-row>
    </div>
  </div>
  <me-context-menu
    class="menu"
    [dataModel]="dataModel.contextMenu"
    (itemClick)="customEvent('documentContextMenuItemClick', $event)"
    (click)="$event.stopPropagation()"
  ></me-context-menu>
</div>
