<app-loading></app-loading>
<div class="app-container">
    <h1>Con's & pro's App</h1>
    <p> implementation: lilit hovhannisyan <br/>
        [phone: 055 661 337] [email: lilit.hovhannisyan.armeni@gmail.com]</p>
    <app-global-error></app-global-error>
    <router-outlet></router-outlet>
</div>