<nv-paper-view
  [routeBack]="!creationMode && routeBack"
  [customTitle]="
    creationMode ? (wording.general.create | translate) : (title$ | async)
  "
>
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <div class="form-wrap">
    <form
      *ngIf="form"
      nvSpyElement
      (initialized)="formInitialized($event)"
      [formGroup]="form"
      nz-form
      nzLayout="vertical"
    >
      <div
        nz-col
        class="cost-unit-content form-content"
      >
        <nv-fieldset>
          <nv-input-wrapper [label]="wording.accounting.costUnitCategory | translate">
            <nz-select
              formControlName="costUnitCategoryId"
              nzShowSearch
              nzAllowClear
            >
              <nz-option
                *ngFor="let option of costUnitCategories$ | async"
                [nzLabel]="option.displayLabel | translate"
                [nzValue]="option.id"
                nzCustomContent
              >
                <div [attr.cost-type-option]="option.displayLabel.en">
                  {{ option.displayLabel | translate }}
                </div>
              </nz-option>
            </nz-select>
          </nv-input-wrapper>

          <nv-input-wrapper [label]="wording.accounting.no | translate">
            <input
              formControlName="no"
              type="text"
              [placeholder]="wording.accounting.no | translate"
              nz-input
            />
          </nv-input-wrapper>

          <nv-input-wrapper [label]="wording.general.nameDe | translate">
            <input
              type="text"
              formControlName="labelDe"
              [placeholder]="wording.general.nameDe | translate"
              nz-input
            />
          </nv-input-wrapper>

          <nv-input-wrapper [label]="wording.general.nameEn | translate">
            <input
              type="text"
              formControlName="labelEn"
              [placeholder]="wording.general.nameEn | translate"
              nz-input
            />
          </nv-input-wrapper>

          <nv-input-wrapper [label]="wording.accounting.remark | translate">
            <textarea
              [nzAutosize]="{ minRows: 3, maxRows: 6 }"
              formControlName="remark"
              [placeholder]="wording.accounting.remark | translate"
              nz-input
            >
            </textarea>
          </nv-input-wrapper>
          <label
            class="is-active"
            formControlName="isActive"
            nz-checkbox
          >
            {{ wording.accounting.active | translate }}
          </label>
        </nv-fieldset>
      </div>

      <div
        nz-col
        class="mandators form-content"
      >
        <nv-fieldset [label]="wording.accounting.mandators | translate">
          <nv-grid
            [gridConfig]="mandatorCostUnitGridConfig"
            [dataSource$]="mandatorCostUnits$"
            (gridConfigChangedOnSave)="gridConfigService.update($event)"
            #mandatorsCostUnitGrid
          >
          </nv-grid>
        </nv-fieldset>
      </div>
    </form>
  </div>
</nv-paper-view>