:host {
  form {
    width: 100%;
    display: flex;
    padding: 5px;
  }

  .mandators {
    margin: 0px 10px 10px 10px;

    nv-grid {
      max-height: calc(100vh - 300px);
    }
  }

  .cost-unit-content {
    margin-top: 10px;
  }

  .form-content {
    width: 100%;
  }
}
