<div class="wrap">
  <form [formGroup]="form" *ngIf="form" nz-form nzLayout="vertical">
    <div nz-row nzGutter="24">
      <div nz-col nzSpan="6">
        <nv-input-wrapper
          class="date-picker"
          [label]="wording.system.from | translate"
        >
          <nv-datebox formControlName="from"></nv-datebox>
        </nv-input-wrapper>
      </div>
    </div>

    <div class="separator vertical-space"></div>

    <!---------- Increase ------------->
    <div nz-row nzGutter="24" class="vertical-space">
      <div nz-col nzSpan="20">
        <nv-input-wrapper [label]="increasePartnerLabel | translate">
          <nv-autocomplete
            [autofocus]="false"
            [resource]="companies$ | async"
            [properities]="['companyName']"
            [displayOneProperty]="true"
            [setNullIfNotFound]="true"
            formControlName="increasePartnerId"
          ></nv-autocomplete>
        </nv-input-wrapper>
      </div>
      <div nz-col nzSpan="4" class="vertical-space right-content">
        <button
          class="full-width nv-no-focus"
          nz-button
          nzType="primary"
          nz-tooltip
          [nzTooltipTitle]="createPartnerTooltipText | translate"
          (click)="openPartnersModal(form.controls.increasePartnerId)"
          type="button"
        >
          {{ wording.general.create | translate }}
        </button>
      </div>
    </div>
    <div nz-row nzGutter="24">
      <div nz-col nzSpan="20">
        <nv-input-wrapper [label]="partnerTrusteeLabel | translate">
          <nv-autocomplete
            [autofocus]="false"
            [resource]="increaseShareholders$ | async"
            [properities]="['companyName']"
            [displayOneProperty]="true"
            [setNullIfNotFound]="true"
            formControlName="increaseShareholderId"
          ></nv-autocomplete>
        </nv-input-wrapper>
      </div>
    </div>
    <div nz-row nzGutter="24">
      <div nz-col nzSpan="10">
        <nv-input-wrapper
          [label]="contributionLabel | translate"
        >
          <nv-decimal-input
            formControlName="increaseContribution"
            [decimalPlaces]="2"
          >
          </nv-decimal-input>
        </nv-input-wrapper>
      </div>
      <div nz-col nzSpan="10">
        <nv-input-wrapper
          [label]="contributionNewLabel | translate"
        >
          <nv-decimal-input
            formControlName="increaseContributionNew"
            [decimalPlaces]="2"
          >
          </nv-decimal-input>
        </nv-input-wrapper>
      </div>
      <div nz-col nzSpan="4" *ngIf="!isNonParValueShare">
        <nv-input-wrapper
          className="iso-code"
          [showErrMessages]="false"
          [label]="wording.system.currency | translate"
        >
          <input formControlName="currency" type="text" nz-input />
        </nv-input-wrapper>
      </div>
    </div>

    <div class="separator vertical-space"></div>

    <!---------- Reduce ------------->
    <div nz-row nzGutter="24" class="vertical-space">
      <div nz-col nzSpan="20">
        <nv-input-wrapper [label]="reducePartnerLabel | translate">
          <nv-autocomplete
            [autofocus]="false"
            [resource]="decreaseShareholders$ | async"
            [properities]="['companyName']"
            [displayOneProperty]="true"
            [setNullIfNotFound]="true"
            formControlName="reducePartnerId"
          ></nv-autocomplete>
        </nv-input-wrapper>
      </div>
      <div nz-col nzSpan="4" class="vertical-space right-content">
        <button
          class="full-width nv-no-focus"
          nz-button
          nzType="primary"
          nz-tooltip
          [nzTooltipTitle]="createPartnerTooltipText | translate"
          (click)="openPartnersModal(form.controls.reducePartnerId)"
          type="button"
        >
          {{ wording.general.create | translate }}
        </button>
      </div>
    </div>
    <div nz-row nzGutter="24">
      <div nz-col nzSpan="20">
        <nv-input-wrapper [label]="partnerTrusteeLabel | translate">
          <nv-autocomplete
            [autofocus]="false"
            [resource]="reduceShareholdersPartners"
            [properities]="['companyName']"
            [displayOneProperty]="true"
            [setNullIfNotFound]="true"
            formControlName="reduceShareholderId"
          ></nv-autocomplete>
        </nv-input-wrapper>
      </div>
    </div>
    <div nz-row nzGutter="24">
      <div nz-col nzSpan="10">
        <nv-input-wrapper
          [label]="contributionLabel | translate"
        >
          <nv-decimal-input
            formControlName="reduceContribution"
            [decimalPlaces]="2"
          >
          </nv-decimal-input>
        </nv-input-wrapper>
      </div>
      <div nz-col nzSpan="10">
        <nv-input-wrapper
          [label]="contributionNewLabel | translate"
        >
          <nv-decimal-input
            formControlName="reduceContributionNew"
            [decimalPlaces]="2"
          >
          </nv-decimal-input>
        </nv-input-wrapper>
      </div>
      <div nz-col nzSpan="4" *ngIf="!isNonParValueShare">
        <nv-input-wrapper
          className="iso-code"
          [showErrMessages]="false"
          [label]="wording.system.currency | translate"
        >
          <input formControlName="currency" type="text" nz-input />
        </nv-input-wrapper>
      </div>
    </div>

    <div class="separator vertical-space"></div>

    <!---------- Change ------------->
    <div nz-row nzGutter="24" class="vertical-space">
      <div nz-col nzSpan="10">
        <nv-input-wrapper
          [label]="contributionChangeLabel | translate"
        >
          <nv-decimal-input
            formControlName="contributionChange"
            [decimalPlaces]="2"
          >
          </nv-decimal-input>
        </nv-input-wrapper>
      </div>
    </div>
  </form>
  <nv-modal-footer class="modal-footer">
    <button
      nz-button
      nzType="info"
      [disabled]="isPendingRequest | async"
      (click)="cancel()"
    >
      {{ wording.general.cancel | translate }}
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="submit()"
      [disabled]="!form?.valid || (isPendingRequest | async)"
    >
      {{ wording.general.save | translate }}
    </button>
  </nv-modal-footer>
</div>
