:host {
  flex: 1 1 auto;
  display: flex;
}

.paper{
  min-width: min-content;

  .header{
    padding: 10px;
    flex-direction: row;
    align-items: center;
  }

  .content{
    padding: 26px;
  }
}

nv-router-tabs {
  flex: 1;
  display: flex;
}
