<div class="detail-view-main" *ngIf="tabs.length > 0">
  <span class="modal-title">
    {{ wording.general.assignedRights | translate }} - {{ selectedTopic.title | translate }}
  </span>
  <span class="related-zones">{{ wording.general.relatedZones | translate }}</span>

  <nz-tabset nzTabPosition="left" (nzSelectedIndexChange)="onTabIndexChange($event)" [nzShowPagination]="false">
    <nz-tab *ngFor="let tab of tabs; let tabIndex = index" [nzTitle]="tab.fullTitle | translate">
      <nv-fieldset [label]="wording.general.assignedZonePermissions | translate">
        <div class="role-zone-permissions">
          <div class="header" nz-row>
            <div class="operation-header">
              <div *ngFor="let operation of allOperations" class="operation-name" nz-col nzSpan="6">
                {{ Operations[operation] }}
              </div>
            </div>
            <div class="role-header" nz-col nzSpan="12">
              {{ wording.general.userName | translate | uppercase }}
            </div>
          </div>
          <div class="role-wrapper">
            <div *ngFor="let user of usersWithPermissions" class="role">
              <div class='e2e-operations-wrapper operations-wrapper' [attr.data-username]="user.username">
                <div class="operation">
                  <div nz-col nzSpan="6" class="e2e-checkbox-item checkbox-item" *ngIf="user.isCreateVisible">
                    <label nz-checkbox [ngModel]="user.hasCreate" disabled></label>
                  </div>
                  <div nz-col nzSpan="6" class="e2e-checkbox-item checkbox-item" *ngIf="user.isReadVisible">
                    <label nz-checkbox [ngModel]="user.hasRead" disabled></label>
                  </div>
                  <div nz-col nzSpan="6" class="e2e-checkbox-item checkbox-item" *ngIf="user.isUpdateVisible">
                    <label nz-checkbox [ngModel]="user.hasUpdate" disabled></label>
                  </div>
                  <div nz-col nzSpan="6" class="e2e-checkbox-item checkbox-item" *ngIf="user.isDeleteVisible">
                    <label nz-checkbox [ngModel]="user.hasDelete" disabled></label>
                  </div>
                </div>

                <div
                  class='e2e-zone-label zone-label zone-hover role'
                  nz-tooltip
                  [nzTooltipTitle]="user.displayName"
                  nzTooltipTrigger="hover"
                >
                  {{ user.username }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </nv-fieldset>
    </nz-tab>
  </nz-tabset>

  <div nz-row nzType="flex" nzJustify="end" class="footer">
    <button
      nz-button
      nzType="danger"
      class='btn cancel'
      (click)="closeModal()"
      data-crud-action-button="cancel"
    >
      {{ wording.general.ok | translate }}
    </button>
  </div>
</div>
