<div class="wrap">
  <form [formGroup]="form" *ngIf="form" nz-form nzLayout="vertical">
    <nv-input-wrapper
      [label]="businessNameWording | translate"
    >
      <input formControlName="name" type="text" nz-input />
    </nv-input-wrapper>
    <nv-input-wrapper
      [label]="wording.system.from | translate"
    >
      <nv-datebox
        formControlName="from"
      ></nv-datebox>
    </nv-input-wrapper>
  </form>
  <nv-modal-footer>
    <button
      nz-button
      nzType="info"
      (click)="modalRef.close()"
    >
      {{ wording.general.cancel | translate }}
    </button>
    <button
      *ngIf="!businessName || editMode"
      nz-button
      nzType="primary"
      (click)="submit()"
      [disabled]="!form?.valid"
    >
      {{ wording.general.save | translate }}
    </button>
  </nv-modal-footer>
</div>
