<span class="title">
  {{ wording.general.applyTaskTemplate | translate }}
</span>
<nv-autocomplete
  [(ngModel)]="templateId"
  (ngModelChange)="selectTemplate($event)"
  [resource]="dataSource"
  [properities]="['label' | labelKey]"
  [displayOneProperty]="true"
  [setNullIfNotFound]="true"
  [minLengthToOpen]="0"
  [modalGridConfig]="gridConfig"
></nv-autocomplete>
<!-- TODO: add vessel-task here as preview -->
<div *nzModalFooter>
  <button
    nz-button
    nzType="default"
    (click)="modalRef.close()"
  >
    {{ wording.general.cancel | translate }}
  </button>
  <button
    nz-button
    nzType="primary"
    (click)="modalRef.close(selectedTemplate)"
    [disabled]="!selectedTemplate"
  >
    {{ wording.general.submit | translate}}
  </button>
</div>