<div class="content-wrap">
  <div class="content">
    <nv-interval-list
      [intervalItems]="offHires"
      [selectedId]="selectedOffHire && selectedOffHire.id"
      [disabled]="inEditMode"
      [withCreateOption]="authService.canCreate(zone)"
      [creationMode]="inCreationMode"
      [withOrderNumber]="true"
      [width]="250"
      (select)="intervalClicked($event)"
      (create)="addIntervalClicked()"
    ></nv-interval-list>

    <div class="intervalDetails">
      <div class="actionBar">
        <nv-detail-view-actions
          *ngIf="selectedOffHire"
          [inEditingMode]="inEditMode"
          [editDisabled]="!selectedOffHire?.id"
          (editClicked)="enterEditMode()"
          (cancelClicked)="cancelEditing()"
          (saveClicked)="saveClicked()"
          [form]="form"
          [formElement]="formElement"
        >
        </nv-detail-view-actions>
      </div>
      <div
        class='form-wrapper'
        *ngIf="form"
      >
        <form
          nvSpyElement
          (initialized)="formInitialized($event)"
          [formGroup]="form"
          class="form-group"
          nz-form
          nzLayout="vertical"
        >
          <div
            nz-row
            nzGutter="14"
            class="row"
          >
            <!-- FormField: 'Off Hire' -->
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.offHire | translate">
                <nv-datebox
                  formControlName="from"
                  [withTime]="true"
                ></nv-datebox>
              </nv-input-wrapper>
            </div>
            <!-- FormField: 'On Hire' -->
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.onHire | translate">
                <nv-datebox
                  formControlName="until"
                  [withTime]="true"
                ></nv-datebox>
              </nv-input-wrapper>
            </div>
          </div>
          <div
            nz-row
            nzGutter="14"
            nzType="flex"
            nzAlign="middle"
            class="row"
          >
            <!-- Credit -->
            <div
              nz-col
              nzSpan="12"
            >
              <label
                nz-checkbox
                formControlName="isCredit"
                class="uppercase"
              >
                {{ wording.chartering.credit | translate }}
              </label>
            </div>
            <!-- % to Count -->
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.percentToCount | translate">
                <!-- TODO change to nv-decimal-input when it will work in here fine -->
                <nv-decimal-input
                  formControlName="factor"
                  [decimalPlaces]="5"
                ></nv-decimal-input>
              </nv-input-wrapper>
            </div>
          </div>
          <div
            nz-row
            nzGutter="14"
            class="row"
          >
            <!-- Total Days -->
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.totalDays | translate">
                <nv-decimal-input
                  formControlName="totalDays"
                  [decimalPlaces]="5"
                ></nv-decimal-input>
              </nv-input-wrapper>
            </div>
            <!-- Days to Count -->
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.daysToCount | translate">
                <nv-decimal-input
                  formControlName="daysToCount"
                  [decimalPlaces]="5"
                ></nv-decimal-input>
              </nv-input-wrapper>
            </div>
          </div>
          <div
            nz-row
            nzGutter="14"
            class="row"
          >
            <!-- Location -->
            <div
              nz-col
              nzSpan="24"
            >
              <nv-input-wrapper [label]="wording.chartering.location | translate">
                <input
                  nz-input
                  type="text"
                  formControlName="location"
                />
              </nv-input-wrapper>
            </div>
          </div>
          <div
            nz-row
            nzGutter="14"
            class="row"
          >
            <!-- Cause -->
            <div
              nz-col
              nzSpan="24"
            >
              <nv-input-wrapper [label]="wording.chartering.cause | translate">
                <textarea
                  nz-input
                  formControlName="cause"
                  [nzAutosize]="{ minRows: 2, maxRows: 4 }"
                ></textarea>
              </nv-input-wrapper>
            </div>
          </div>
          <div
            nz-row
            nzGutter="14"
            class="row"
          >
            <!-- Remark -->
            <div
              nz-col
              nzSpan="24"
            >
              <nv-input-wrapper [label]="wording.chartering.remarks | translate">
                <textarea
                  nz-input
                  formControlName="remark"
                  [nzAutosize]="{ minRows: 2, maxRows: 4 }"
                ></textarea>
              </nv-input-wrapper>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>