:host {
  width: 100%;
  nz-input-group {
    input {
      box-shadow: none;
    }
  }
}

.datebox-container {
  width: 100%;

  .date-picker-group {
    margin-top: -32px;
  }
}

:host::ng-deep .ant-input-group-addon {
  padding: 0;
  border: 0;

  button {
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 8px;
    padding-left: 8px;

    i {
      font-size: 18px;
    }
  }
}

.calendarIcon {
  margin-right: -11px;
  border-radius: 0px 2px 2px 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.07);
  padding: 5px 8px;
  cursor: pointer;

  &:hover {
    color: black;
    background: #00000005;
  }
}

:host::ng-deep .ant-input-prefix {
  color: #a8a8a8;
}

:host::ng-deep .ant-input-group-wrapper {
  top: 0 !important;
}

:host::ng-deep .ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 35px;
}
