<div class="datebox-container" [ngStyle]="{'pointer-events': isDisabled ? 'none' : 'auto' }">
  <nz-date-picker
    [(ngModel)]="date"
    [nzOpen]="isCalendarOpen"
    [nzFormat]="nzDatePickerFormat"
    [nzShowTime]="withTime"
    [nzSize]="'default'"
    [nzDisabled]="true"
    (nzOnOpenChange)="closeIfCalendarClicked()"
    (ngModelChange)="onDateChange($event)"
    (nzOnOk)="hideCalendar()"
    [nzDisabledDate]="disabledDateFn"
    nzDropdownClassName="datebox-overlay"
  >
  </nz-date-picker>

  <!-- Date input group with calendar button-->
  <div class="date-picker-group">
    <nz-input-group
      [nzSuffix]="calendarIcon"
      [nzPrefix]="withWeekDay && weekDayTemplate"
      [nzSize]="nzSize"
      [class.invalid]="!isDisabled && isDateInValid"
    >
      <input
        #input
        type="text"
        [class.invalid]="!isDisabled && isDateInValid"
        nz-input
        [disabled]="isDisabled"
        [(ngModel)]="dateInput"
        (keypress)="preventNotAllowedCharacters($event)"
        (keydown.escape)="handleEscape($event)"
        (keydown.tab)="handleTab($event)"
        (keydown.shift.tab)="handleTab($event)"
        (keydown.enter)="handleEnter($event)"
        (blur)="handleBlur($event)"
        (focus)="handleFocus($event)"
        [ngStyle]="inputFieldStyle"
        [placeholder]="placeholder ? (placeholder | translate) : ''"
      >
    </nz-input-group>

    <!-- Input AddOnAfter, calendar button-->
    <ng-template
      #calendarIcon
    >
      <i
        nz-icon
        nzType="calendar"
        class="calendarIcon e2e-calendarIcon"
        (mousedown)="!isDisabled ? (!isCalendarOpen ? showCalendar() : hideCalendar()) : null"
      ></i>
    </ng-template>

    <!-- Input preffix, week day -->
    <ng-template #weekDayTemplate>
      {{ weekDay }}
    </ng-template>
  </div>
</div>
