<div class="wrap">
  <form [formGroup]="form" nz-form nzLayout="vertical">
    <div nz-row nzGutter="22">
      <div nz-col nzSpan="24">
        <nv-input-wrapper [label]="wording.accounting.labelEn | translate">
          <input nz-input formControlName="labelEn" type="text" />
        </nv-input-wrapper>

        <nv-input-wrapper [label]="wording.accounting.labelDe | translate">
          <input nz-input formControlName="labelDe" type="text" />
        </nv-input-wrapper>

        <nv-input-wrapper [label]="wording.system.vesselTaskType | translate">
          <nz-radio-group formControlName="type">
            <label
              nz-radio
              *ngFor="let type of taskTypes | keyvalue"
              [nzValue]="type.key"
            >
              {{ type.value | translate }}
            </label>
          </nz-radio-group>
        </nv-input-wrapper>

        <label nz-checkbox formControlName="isSystemDefault">
          {{ wording.general.systemDefault | translate }}
        </label>
      </div>
    </div>
  </form>
  <nv-modal-footer>
    <button nz-button nzType="info" (click)="closeModal()">
      {{ wording.general.cancel | translate }}
    </button>
    <button
      [disabled]="!form?.valid"
      (click)="save()"
      nz-button
      nzType="primary"
    >
      {{ wording.general.save | translate }}
    </button>
  </nv-modal-footer>
</div>
