<div class="popup-select-container box-sizing-border-box">
  <div class="popup-header box-sizing-border-box">
    <span>{{ dataModel.title }}</span>
    <div class="popup-close">
      <i-feather name="x" mat-dialog-close></i-feather>
    </div>
  </div>
  <div class="popup-content">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
  <div class="popup-footer box-sizing-border-box">
    <ng-container *ngIf="dataModel.showActions">
      <div class="actions" [class.hidden]="!dataModel.selectedCount">
        <span class="left-element">{{ dataModel.selectedCount }} Items selected</span>
        <ng-container *ngIf="!dataModel.showOnlySelected; else showAllTemplate">
          <me-button class="left-element" [dataModel]="showSelectedBtn" (clickEvent)="customEvent('showSelected')">Show selected</me-button>
        </ng-container>
        <ng-template #showAllTemplate>
          <me-button class="left-element" [dataModel]="showAllBtn" (clickEvent)="customEvent('showAll')">Show all</me-button>
        </ng-template>
        <me-button class="left-element" [dataModel]="clearBtn" (clickEvent)="customEvent('clearSelection')">Clear</me-button>
      </div>
      <div class="actions">
        <me-button class="right-element" [dataModel]="cancelBtn" (clickEvent)="customEvent('close')">Cancel</me-button>
        <me-button class="right-element" [dataModel]="addBtn" (clickEvent)="customEvent('addItems')">Add</me-button>
      </div>
    </ng-container>
  </div>
</div>
