.popup-select-container {
  height: 92vh;
  width: calc(82vw - 82px);
  border-radius: 6px;
  display: flex;
  flex-direction: column;

  .popup-header {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid var(--color-main-lighter);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-black);
  }

  .popup-content {
    overflow: hidden;
    max-height: calc(100% - 132px);
    flex-grow: 1;
  }

  .popup-footer {
    width: 100%;
    height: 78px;
    border-top: 1px solid var(--color-main-lighter);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
    font-size: 14px;
    font-weight: 600;

    .actions {
      display: flex;
      align-items: center;

      &.hidden {
        visibility: hidden;
      }

      .left-element {
        margin-right: 24px;
      }

      .right-element {
        margin-left: 20px;
      }
    }
  }
}
