<div class="wrapper">
  <div class="content">
    <nv-vessel-interval-register
      [vesselId]="vesselId"
      [node]="node"
      context="vessel-registration"
    >
    </nv-vessel-interval-register>
  </div>
</div>
