<div class="main-app-container">
  <div class="sidebar-container" [ngClass]="{ 'expanded open-mobile': sidebar.isExpanded }">
    <me-sidebar [dataModel]="sidebar" (eventOccurs)="sidebarEvents($event)" (toggleSideBar)="toggleSidebar()"></me-sidebar>
  </div>
  <div class="inner-app-container" [ngClass]="{ 'sidebar-expanded': sidebar.isExpanded }">
    <div class="header-container">
      <me-header
        *ngIf="header"
        [dataModel]="header"
        (goToMessagessEvent)="messagesEvent()"
        (goToNotificationsEvent)="notificationsEvent()"
        (goToUserProfileEvent)="userProfileEvent()"
        (openUserGuideEvent)="userGuideEvent()"
        (helpMenuItemClickEvent)="handleHelpMenuItemClickEvent($event)"
        (logOutEvent)="logOut()"
      ></me-header>
    </div>
    <div class="main-container">
      <div class="main-content">
        <me-breadcrumb [dataModel]="breadcrumb" (goToHome)="goToHome()"></me-breadcrumb>
        <div class="content-container box-sizing-border-box" [meComponentLoading]="isLoading">
          <router-outlet></router-outlet>
        </div>
        <ng-template #popupImportData>
          <me-data-import (sendFormData)="handleSendFormData($event)"></me-data-import>
        </ng-template>
      </div>
      <div class="right-sidebar">
        <me-new-right-sidebar></me-new-right-sidebar>
      </div>
    </div>
  </div>
</div>
