@import 'global/breakpoints';

.main-app-container {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  --header-height: 70px;
  --breadcrumb-height: 54px;
  --sidebar-width: 70px;
  --sidebar-expanded-width: 300px;
  overflow: hidden;

  .sidebar-container {
    height: 100%;
    transition: flex-basis 0.3s ease;
    flex-basis: var(--sidebar-width);

    &.expanded {
      flex-basis: var(--sidebar-expanded-width);
      overflow: visible;
    }

    @include mobile {
      position: fixed;
      z-index: 15;

      &.open-mobile {
        background-color: var(--sidebar-mobile-overlay);
        width: 100%;
      }
    }
  }

  .inner-app-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    max-width: calc(100% - var(--sidebar-width) - 1px);

    &.sidebar-expanded {
      max-width: calc(100% - var(--sidebar-expanded-width));
    }

    @include mobile {
      z-index: 10;
      max-width: 100%;
    }

    .header-container {
      width: 100%;
      height: var(--header-height);

      @include mobile {
        height: 50px;
      }
    }

    .main-container {
      width: 100%;
      height: calc(100% - var(--header-height));
      overflow: hidden;
      display: flex;

      .main-content {
        flex-grow: 1;

        .content-container {
          margin: 20px 20px 0 20px;
          overflow: hidden;
          height: calc(100% - var(--breadcrumb-height) - 20px);
        }
      }

      .right-sidebar {
        flex-shrink: 0;
        background-color: var(--color-white);
      }
    }
  }
}
