:host {
  position: relative;
  min-height: 200px;
  height: calc(100vh - 126px);
  overflow: auto;
}
.add-users-list-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 50px);
}
