<me-table
  [dataSource]="items"
  [columns]="columns"
  [columnOptions]="columnOptions"
  [isLoadingResults]="loader"
  [hideFooterPagination]="true"
  [cellClickEvent]="cellClickEventSubject"
  (openExpandedRow)="getExpandedDataAndSetCellComponents($event)"
>
</me-table>

<!-- Add users to group popup -->
<ng-template #addUsersList>
  <me-search-input [dataModel]="searchUsersFromAddListPopup" (changeEvent)="handleSearchUsersFromAddListPopup($event)"></me-search-input>
  <div class="box-sizing-border-box scrollbar add-users-list-container" meScrollToBottom (bottomReached)="bottomReachedHandlerForAddList()">
    <me-add-list-card
      *ngFor="let addUserListCard of addUserListCardItems; let cardIndex = index; trackBy: getCardOid"
      [dataModel]="addUserListCard"
      (addListCardEvent)="handleAddListCardEvent('users', $event, cardIndex, addUserListCardItems)"
    ></me-add-list-card>
  </div>
</ng-template>

<!-- (openExpandedRow)="getExpandedDataAndSetCellComponents($event)" -->

<!-- Add users to group popup -->
<ng-template #addGroupsList>
  <!-- <me-search-input [dataModel]="searchUsersFromAddListPopup" (changeEvent)="handleSearchUsersFromAddListPopup($event)"></me-search-input> -->
  <div class="box-sizing-border-box scrollbar add-users-list-container" meScrollToBottom>
    <p *ngIf="!addGroupListCardItems.length">Loading...</p>
    <me-add-list-card
      *ngFor="let addGroupListCard of addGroupListCardItems; let cardIndex = index; trackBy: getCardOid"
      [dataModel]="addGroupListCard"
      (addListCardEvent)="handleAddListCardEvent('groups', $event, cardIndex, addGroupListCardItems)"
    ></me-add-list-card>
  </div>
</ng-template>
