<div class="form-wrap">
  <div nz-form nzLayout="vertical">
    <form *ngIf="form" [formGroup]="form" nz-form nzLayout="vertical">
      <div nzSpan="10">
          <nv-input-wrapper [label]="wording.accounting.taxKeysLabelCode | translate">
            <input formControlName="code" type="text" nz-input />
          </nv-input-wrapper>

          <nv-input-wrapper [label]="wording.general.name | translate">
            <input formControlName="name" type="text" nz-input />
          </nv-input-wrapper>

          <nv-input-wrapper
            [label]="wording.accounting.taxKeysLabelPercentage | translate"
          >
            <input formControlName="percentage" type="text" nz-input />
          </nv-input-wrapper>

          <nv-input-wrapper [label]="wording.accounting.accountNo | translate">
            <input formControlName="accountNo" type="text" nz-input />
          </nv-input-wrapper>

          <nv-input-wrapper [label]="wording.accounting.accountName | translate">
            <input formControlName="accountLabel" type="text" nz-input />
          </nv-input-wrapper>
      </div>
    </form>
  </div>
</div>
