<nv-paper-view
  [customTitle]="customTitle | translate"
  [contentWrapperStyle]="{ padding: '12px' }"
>
  <nv-detail-view-actions
    [showRefresh]="true"
    [showEditButton]="false"
    [refreshDisabled]="!form.valid"
    (refreshClicked)="search()"
  >
  </nv-detail-view-actions>
  <form [formGroup]="form">
    <nv-input-wrapper
      [label]="wording.accounting.bookingYear | translate"
      [showErrMessages]="false"
      [redBorderError]="true"
      className="vertical"
    >
      <nz-input-number
        [style.width.px]="70"
        formControlName="year"
        [nzMax]="maxSelectableYear"
      >
      </nz-input-number>
    </nv-input-wrapper>
    <nv-mandator-autocomplete
      [style.width.px]="300"
      [form]="form"
      [autofocus]="true"
    >
    </nv-mandator-autocomplete>
    <nv-booking-account-autocomplete
      [style.width.px]="300"
      [form]="form"
      [onlyOfMandator]="true"
    >
    </nv-booking-account-autocomplete>
    <button
      nz-button
      [disabled]="isButtonDisabled(true)"
      (click)="next(true)"
    >
      <i
        nz-icon
        nzType="left"
      ></i>
    </button>
    <button
      nz-button
      [disabled]="isButtonDisabled()"
      (click)="next()"
    >
      <i
        nz-icon
        nzType="right"
      ></i>
    </button>
    <nv-input-wrapper
      [label]="wording.accounting.accountingNorm_v2 | translate"
      className="vertical"
      [showErrMessages]="false"
      [requiredSymbol]="true"
    >
      <nz-radio-group
        formControlName="accountingNorm"
        nzButtonStyle="solid"
      >
        <label
          *ngFor="let accountingType of accountingTypeOptions"
          nz-radio-button
          [nzValue]="accountingType.value"
          [nzDisabled]="accountingType.disabled"
        >
          {{ accountingType.displayLabel | translate }}
        </label>
      </nz-radio-group>
    </nv-input-wrapper>
    <ng-container *ngIf="canAccessOpenItems">
      <button nz-button [disabled]="disableOpenitemsIcon" (click)="goToOpenItems()"
        [nzTooltipTitle]="wording.accounting.openItems | translate"
        nz-tooltip>
        <i nz-icon nzType="exception"></i>
      </button>
    </ng-container>
  </form>
  <div class="grids">
    <nv-grid
      #bookingLines
      class="main-grid"
      [gridConfig]="mainGridConfig"
      [dataSource$]="bookingLines$"
      (filtered)="handleGridFilterChanged()"
    ></nv-grid>

    <form
      [formGroup]="formSummary"
      class="formSummary"
    >
      <nv-input-wrapper
        [label]="wording.accounting.currency | translate"
        className="vertical"
      >
        <nz-select
          formControlName="currencyId"
          class="currency-select"
        >
          <nz-option
            nzValue="default"
            [nzLabel]="wording.general.all | translate"
          ></nz-option>
          <nz-option
            *ngFor="let currency of displayedCurrencies$ | async"
            [nzLabel]="currency.isoCode"
            [nzValue]="currency.id"
          >
          </nz-option>
        </nz-select>
      </nv-input-wrapper>
    </form>
    <nv-grid
      class="side-grid"
      [gridConfig]="sideGridConfig"
      [dataSource$]="calculatedData$"
    ></nv-grid>
  </div>
</nv-paper-view>