.grids {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 90%;
}

.main-grid {
  height: 72%;
  margin-top: 10px;
}

.side-grid {
  height: 104px;
  width: fit-content;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

form>* {
  margin-right: 5px;
}

.formSummary {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 10px;
}

.formSummary>* {
  margin-right: 5px;
}

.currency-select {
  width: 80px;
}

nv-mandator-autocomplete ::ng-deep nv-input-wrapper nz-form-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}