<div [formGroup]="parentForm">
  <nv-input-wrapper
    label='street'
  >
    <input formControlName="street" type="text" placeholder = "street + number" nz-input>
  </nv-input-wrapper>

  <nv-input-wrapper
    label='postalcode'
  >
    <input formControlName="postalCode" type="text" placeholder="postal-code" nz-input>
  </nv-input-wrapper>

  <nv-input-wrapper
    label='city'
  >
    <input formControlName="city" type="text" placeholder = "city" nz-input>
  </nv-input-wrapper>

  <nv-input-wrapper
    label='province'
  >
    <input formControlName="province" type="text" placeholder="province" nz-input>
  </nv-input-wrapper>

  <nv-input-wrapper
    label='country'
  >
    <nz-select formControlName="country" nzPlaceHolder="Choose">
      <nz-option
        *ngFor="let country of isoCountries$ | async"
        [nzLabel]="country.displayLabel | translate"
        [nzValue]="country.isoAlpha2"
        nzCustomContent
      >
        <div [attr.data-country-option]="country.labelEn">
          {{ country.displayLabel | translate }}
        </div>
      </nz-option>
    </nz-select>
  </nv-input-wrapper>
</div>
