:host {
  display: block;
  padding-top: 8px;
}

fieldset {
  border: 1px solid #c2c2c2;
  border-radius: 6px;
  padding: 14px;
  height: 100%;
  width: 100%;

  legend {
    margin-left: 0px;
    font-size: 16px;
    color: #888686;
    width: unset;
    padding: 0px 24px;
    background: inherit;
    padding: 0px 4px;
    border-bottom: none;
    margin-bottom: 0px;
  }
}

// fieldset {
//   border: 1px solid #c2c2c2;
//     border-radius: 11px;
//     legend {
//       margin-left: 3%;
//       font-size: 1.2em;
//       color: #888686;
//       width: unset;
//     }
// }
