<div class="login-box">
  <div class="info-text">
    Please enter your new password and confirm it
  </div>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <nv-input-wrapper
      label="New password"
      [requiredSymbol]="true"
      [redBorderError]="false"
    >
      <input
        formControlName="newPassword"
        type="password"
        nz-input
      >
    </nv-input-wrapper>
    <nv-input-wrapper
      label="Confirm new password"
      [requiredSymbol]="true"
      [redBorderError]="false"
    >
      <input
        formControlName="newPasswordConfirm"
        type="password"
        nz-input
      >
    </nv-input-wrapper>
    <button
      nz-button
      [disabled]="!form.valid"
    >
      Change Password
    </button>
  </form>
  <div class="info-text">
    <p>
      <code class="policies-text">*</code>
       Length min. 12 characters
    </p>
    <p>
      <code class="policies-text">*</code>
       Use at least 3 of the 4 character types (upper case, lower case, numbers, special characters)
    </p>
    <p>
      <code class="policies-text">*</code>
       Do not use words from the dictionary
    </p>
    <p>
      <code class="policies-text">*</code>
       Must not contain your first or last name
    </p>
  </div>
</div>
<div class="background-image"></div>
