<div [class.opt-required-input-attribute-wrapper]="data.optRequired && !data.required">
  <mat-form-field [formGroup]="form">
    <mat-label [class.mark-required]="data.required" [class.mark-opt-required]="data.optRequired && !data.required">{{
      data.displayName
    }}</mat-label>
    <mat-select [id]="data.internalName" [formControlName]="data.internalName">
      <mat-option>
        <ngx-mat-select-search
          [formControl]="searchFilterCtrl"
          placeholderLabel="Search"
          noEntriesFoundLabel="No matches"
        ></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let optionValue of filteredValues | async" [value]="optionValue.value">
        {{ optionValue.displayName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
