@import "../../../../core/styles/_variables.scss";

.topbar {
  background: $primary;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-x: auto;
  font-family: $font-family;
  height: 100%;
  width: 100%;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-content: center;
  letter-spacing: 6px;
  color: white;
  cursor: pointer;
  padding: 0px 10px 0px 10px;

  &:hover {
    background: #ad3838;
  }

  &.offline {
    color: grey;
  }
  span {
    display: flex;
    align-items: center;
  }
  .version {
    text-transform: lowercase;
    font-size: 11px;
    text-align: end;
    letter-spacing: normal;
    width: max-content;
    display: flex;
    align-self: flex-end;
  }
}

.link {
  height: 100%;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: $transition-fast;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 5px 0px 5px;

  &:hover {
    background-color: #ad3838;
  }

  &.active {
    background-color: #872c2c;
  }

  i {
    font-size: 25px;
  }

  .title {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.utilities,
.left-utilities,
.right-utilities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.right-utilities {
  border-left: 1px solid #ffffff2b;
  padding: 0px 5px 0px 15px;
  width: unset;
}

nv-activity-logs,
nv-topic-search {
  margin-right: 15px;
}
