<div class="e2e-topbar topbar">
  <a
    class="logo"
    [ngClass]="{ offline: !isOnline }"
    [routerLink]="['/base/main']"
  >
    <i nz-icon nzType="dashboard"></i>
    <span>Navido</span>
    <small class="version">({{version.tag}})</small>
  </a>
  <div class="utilities">
    <div class="left-utilities">
      <a
        *ngFor="let category of categories"
        class="link"
        [style.width.%]="100 / categories.length"
        [routerLink]="[url(category)]"
        routerLinkActive="active"
        [attr.data-category-title]="category.title.en"
      >
        <i nz-icon [nzType]="category.icon"></i>
        <div class="title">{{ category.title | translate }}</div>
      </a>
    </div>
    <div class="right-utilities">
      <nv-topic-search></nv-topic-search>
      <nv-activity-logs></nv-activity-logs>
      <nv-topbar-user-dropdown
        [user]="user$ | async"
        (logout)="logout()"
      >
      </nv-topbar-user-dropdown>
    </div>
  </div>
</div>
