@import '../../../assets/less/variables.less';

:host ::ng-deep {
  .l-controls-container {
    z-index: 2147483647;
  }

  .l-timer {
    color: @white;
    font-size: .8rem;
  }

  .l-controls {
    margin-bottom: 5px;
  }

  .l-control-slider-wrap {
    height: 100%;
    position: relative;

    .l-control-slider {
      width: 0;
      height: 100%;
      background: transparent;
      position: absolute;
      top: 0;
      right: 40px;
      border-radius: 10px 0 0 10px;
      .l-hidden;
      .transition;

      .l-progress-container {
        width: 70%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }

      * {
        opacity: 0;
        pointer-events: none;
        .transition;
      }

      &.l-show {
        background: @blue_hover_tr;
        width: 90px;
        .l-show;

        * {
          opacity: 1;
          pointer-events: all;
          border: 1px solid transparent;
        }
      }

    }

    button {
      width: 35px;
    }

    &.l-speed {
      button.l-no-background {
        color: white;
        position: relative;
        .flex;
        .center-left;

        &:after {
          content: '';
          display: block;
          width: 80%;
          height: 70%;
          position: absolute;
          border: 1px dashed rgba(250,250,250,.3);
          top: 15%;
          left: 10%;
        }
      }
    }

    .l-slider-icon {
      height: 100%;

      button {
        height: 100%;
      }

      &.hover {
        button {
          opacity: .8;
          border-radius: 0 10px 10px 0;
        }
      }
    }

    .l-speed-text {
      color: white;
      font-size: .5rem;
      text-align: center;
    }

    .l-speed-options {
      position: absolute;
      width: 100%;
      height: 40%;
      left: 0;
      bottom: 10px;

      .l-speed-option {
        button {
          // background: @white;
          height: 100%;
          min-height: 0;
          padding: 0;
          margin: 0;
          width: 5px;
          border: 1px solid;
          border-right: 2px solid @white;
          opacity: .5;
          cursor: pointer;
          .transition;

          &:hover {
            opacity: 1;
          }
        }

        &.active {
          button {
            border-right: 3px solid @white;
            opacity: 1;
            pointer-events: none;
          }
        }
      }
    }
  }

  button {
    color: @white;
    margin-right: 5px;
  }

  .l-icon {
    color: @white;
    font-size: 1.2rem;
  }
}


::-webkit-media-controls {
  display:none !important;
}

video::-webkit-media-controls {
  display:none !important;
}

video::-webkit-media-controls-enclosure {
  display:none !important;
}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}
video::-webkit-media-controls-play-button {
  background: red !important;
}

video::-webkit-media-controls-panel {
  display: none;
  -webkit-appearance: none;
}
video::-webkit-media-controls-play-button {
  display: none;
  -webkit-appearance: none;
}
video::-webkit-media-controls-start-playback-button {
  display: none;
  -webkit-appearance: none
}

video::-webkit-media-controls {
  display: none;
  -webkit-appearance: none;
}