<lavash-event-container (fullscreenchangeEvent)="escapeFullScreen($event)"
                 (keyboardEvent)="onArrowToggle($event)">
  <div class="l-media-container"
       [ngClass]="fullscreen ? 'l-container-fullscreen ' + fullScreenProportion : ''"
       #mediaContainer>

  <!--media goes here-->
  <ng-content></ng-content>

  <div class="l-controls-container">
    <div class="l-controls flex flex-wrap space-between">
      <div class="l-left flex center-top">
        <lavash-button *ngIf="playBtnActive"
                       className="rounded animated no-background"
                       graphics="l-icon-media-play-outline"
                       (clickEvent)="onPlay(mediaType)">
        </lavash-button>
        <lavash-button *ngIf="!playBtnActive"
                       className="rounded animated no-background"
                       graphics="l-icon-media-pause-outline"
                       (clickEvent)="onPause(mediaType)">
        </lavash-button>
        <lavash-button className="rounded animated no-background"
                       graphics="l-icon-media-stop-outline"
                       (clickEvent)="onPause(mediaType, true)">
        </lavash-button>

        <span *ngIf="!mediaType.duration"
              class="l-timer"> 00:00 / 00:00</span>
        <span *ngIf="mediaType.duration"
              class="l-timer">
            <span class="l-current">{{dateFormat(mediaType.currentTime * 1000, 'MM:SS')}}</span>
             / {{dateFormat(mediaType.duration * 1000, 'MM:SS')}}
    </span>
      </div>

      <div class="l-right flex center-top ">
          <!--voice-->
          <div class="l-control-slider-wrap flex center-top l-voice">
            <div class="l-control-slider"
                 [ngClass]="showVoiceSlider ? 'l-show' : ''"
                 (mouseenter)="onShowSlider('showVoiceSlider', true)"
                 (mouseleave)="onShowSlider('showVoiceSlider', false)">
              <lavash-slide-bar [progressPercentage]="voiceProgressPercentage"
                                (progressChange)="onVoiceProgressChange($event, mediaType)">
              </lavash-slide-bar>
            </div>
            <lavash-button [graphics]="mediaType.muted || mediaType.volume === 0 ? 'l-icon-volume-mute' :
                                   mediaType.volume < .5 ? 'l-icon-volume-down1' :
                                   'l-icon-volume-up'"
                           class="l-slider-icon"
                           [className]="!showVoiceSlider ? 'no-background' : ''"
                           [ngClass]="showVoiceSlider ? 'hover' : ''"
                           (clickEvent)="controlVoice(mediaType)"
                           (mouseenter)="onShowSlider('showVoiceSlider')"
                           (mouseleave)="onShowSlider('showVoiceSlider')">
            </lavash-button>
          </div>

          <!--speed-->
          <div class="l-control-slider-wrap flex center-top l-speed"
               *ngIf="hasSpeedControl">
            <div class="l-control-slider flex col"
                 [ngClass]="showSpeedSlider ? 'l-show' : ''"
                 (mouseenter)="onShowSlider('showSpeedSlider', true)"
                 (mouseleave)="onShowSlider('showSpeedSlider', false)">
              <span class="l-speed-text">{{speedText}} {{hoverSpeed}}</span>
              <div class="l-speed-options flex">
                <lavash-button class="l-speed-option"
                               [ngClass]="_speed === mediaType?.playbackRate ? 'active' : ''"
                               *ngFor="let _speed of speedOptions"
                               (mouseenter)="onSpeedHover(_speed)"
                               (mouseleave)="onSpeedHover(null, true)"
                               (clickEvent)="onSpeedClick(_speed)">
                </lavash-button>
              </div>
            </div>
            <lavash-button [text]="mediaType.playbackRate + 'x'"
                           class="l-slider-icon"
                           [className]="!showSpeedSlider ? 'no-background' : ''"
                           [ngClass]="showSpeedSlider ? 'hover' : ''"
                           (mouseenter)="onShowSlider('showSpeedSlider')"
                           (mouseleave)="onShowSlider('showSpeedSlider')">
            </lavash-button>
          </div>

          <!--full screen-->
          <lavash-button *ngIf="getMediaType() === 'video'"
                         [graphics]="fullscreen ? 'l-icon-fullscreen_exit' : 'l-icon-fullscreen'"
                         className="rounded animated no-background"
                         (clickEvent)="fullscreen ? cancelFullScreen(mediaContainer) : requestFullScreen(mediaContainer)">
          </lavash-button>
      </div>
    </div>

    <!--main progress-->
    <span>
      <lavash-slide-bar [progressPercentage]="progressPercentage"
                        (progressChange)="onProgressChange($event, mediaType)">
      </lavash-slide-bar>
  </span>
  </div>

  <div class="l-timer-notification"></div>

  </div>
</lavash-event-container>