.wizard-main{
  flex-direction: column;

  .steps-main{
    padding: 14px;
    padding-left: 20px;
    background: #f9f9f9;
    border-bottom: 1px solid #e8e8e8;
  }

  .steps-content{
    padding: 22px;

    .title{
      font-size: 18px;
      margin-bottom: 18px;
      color: #262626;
    }
  }

  .footer{
    flex-direction: row;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    border-radius: 0 0 4px 4px;
    justify-content: flex-end;

    .next-button{
      margin-left: auto;
    }
  }
}

