<div class='fb wizard-main'>
  <nz-steps [nzCurrent]="currentStep - 1"  nzSize="small" class='steps-main'>
    <nz-step *ngFor="let step of steps"></nz-step>
  </nz-steps>

  <div class="steps-content">
    <div class='fb title'>
      {{ currentTitle }}
    </div>
    <ng-content></ng-content>
  </div>

  <div class='fb footer'>
    <button
      nz-button
      nzType="default"
      [hidden]="isFirstStep"
      class='footer-button'
      (click)="stepBack()"
    >
      BACK
    </button>
    <button
      nz-button
      nzType="primary"
      [disabled]="!stepIsValid"
      class='footer-button next-button'
      (click)="stepForward()"
    >
      {{ isLastStep ? 'DONE' : 'NEXT' }}
    </button>
  </div>
</div>
