.git-repo {
    background: lightblue;
    border: 1px solid gainsboro;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
}

text-component {
    margin-top: 10px;
    transform: scale(.7);
}