<nv-paper-view>
  <div class='fb wizard-wrapper'>
    <nv-wizard (complete)="stepsCompleted($event)">
      <nv-form1 [stepId]="1" title='form You Title'></nv-form1>
      <nv-form2 [stepId]="2" title='form Me Title'></nv-form2>
      <nv-form3 [stepId]="3" title='form Him Title'></nv-form3>
    </nv-wizard>
  </div>
</nv-paper-view>

