<table class="main-table">
  <thead>
    <tr>
      <th>
        {{ wording.accounting.year | translate}}
      </th>
      <th>
        {{ wording.accounting.isClosed | translate }}?
      </th>
      <th>
        {{ wording.accounting.closedPeriod | translate }}
      </th>
      <th>
        {{ wording.accounting.blockedPeriod | translate }}
      </th>
      <th>
        {{ wording.accounting.blockedOn | translate }}
      </th>
      <th>
        {{ wording.accounting.blockedBy | translate }}
      </th>
      <th>
        {{ wording.accounting.closedOn | translate }}
      </th>
      <th>
        {{ wording.accounting.closedBy | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mergedYear of mergedYears">
      <td>{{ mergedYear.year }}</td>
      <td>
        <i
          nz-icon
          [nzType]="mergedYear.closedPeriod === 13 ? 'check' : 'close'"
          nzTheme="outline"
          [ngClass]="{'false-icon': mergedYear.closedPeriod !== 13}"
        >
        </i>
      </td>
      <td>
        <nz-select
          [ngModel]="mergedYear.closedPeriod"
          (ngModelChange)="closedPeriodChanged(mergedYear.closedYearId, mergedYear.year, $event)"
          [nzSize]="'small'"
          nzAllowClear
          [ngStyle]="{width: '80px'}"
          [nzDisabled]="!isClosedPeriodEditable(mergedYear)"
        >
          <nz-option
            *ngFor="let period of periods"
            [nzValue]="period"
            [nzLabel]="period"
            nzCustomContent
          >
            <div [attr.data-closed-period-option]="period">{{ period }}</div>
          </nz-option>
        </nz-select>
      </td>
      <td>
        <nz-select
          *ngIf="mergedYear.closedPeriod !== 13"
          [ngModel]="mergedYear.blockedPeriod"
          (ngModelChange)="blockedPeriodChanged(mergedYear.blockedYearId, mergedYear.year, $event)"
          [nzSize]="'small'"
          nzAllowClear
          [ngStyle]="{width: '80px'}"
          [nzDisabled]="!isBlockedPeriodEditable(mergedYear)"
        >
          <nz-option
            *ngFor="let period of getBlockablePeriods(mergedYear.closedPeriod)"
            [nzValue]="period"
            [nzLabel]="period"
            nzCustomContent
          >
            <div [attr.data-blocked-period-option]="period">{{ period }}</div>
          </nz-option>
        </nz-select>
      </td>
      <td>
        {{ mergedYear.blockedAt | toCurrentDateFormat : { withTime: true } }}
      </td>
      <td>
        <nv-user-compact
          *ngIf="mergedYear.blockedBy"
          [userId]="mergedYear.blockedBy"
        ></nv-user-compact>
      </td>
      <td>
        {{ mergedYear.closedAt | toCurrentDateFormat : { withTime: true } }}
      </td>
      <td>
        <nv-user-compact
          *ngIf="mergedYear.closedBy"
          [userId]="mergedYear.closedBy"
        ></nv-user-compact>
      </td>
    </tr>
  </tbody>
</table>