:host {
  display: flex;
  overflow: auto;
}

.main-table {
  width: 100%;
  border-bottom: 1px solid lightgrey;

  thead {
    background: #f1f1f1;
    height: 26px;

    th {
      padding-left: 8px;
      font-weight: 500;
    }
  }

  td {
    padding-left: 8px;
    border-top: 1px solid lightgrey;
    height: 32px;
  }
}

.false-icon {
  color: #af2e08;
}
