<div
  class="component-wrap"
  [ngClass]="{'de': (lang$ | async) === 'de'}"
>
  <div class="nv-content content">
    <div class="actions-row">
      <nv-detail-view-actions
        [inEditingMode]="editMode"
        (editClicked)="enterEditMode()"
        (cancelClicked)="cancelEditing()"
        (saveClicked)="submit()"
        [form]="form"
        [formElement]="formElement"
      >
      </nv-detail-view-actions>
    </div>
    <div
      class="form-wrapper"
      *ngIf="form"
    >
      <form
        nvSpyElement
        (initialized)="formInitialized($event)"
        [formGroup]="form"
        nz-form
        nzLayout="vertical"
      >
        <nv-fieldset [label]="wording.technicalManagement.statusOfTheReport | translate">
          <div class="wrap">
            <nz-steps
              [nzCurrent]="resource.status"
              nzDirection="vertical"
              nzSize="small"
            >
              <nz-step
                [nzTitle]="wording.technicalManagement.ratingRequired | translate"
                [nzStatus]="getStatus(StevedoreDamageReportStatus.RatingRequired)"
              >
              </nz-step>

              <nz-step
                [nzTitle]="wording.technicalManagement.approvalRequired | translate"
                [nzStatus]="getStatus(StevedoreDamageReportStatus.ReleaseRequired)"
              >
              </nz-step>

              <nz-step
                [nzTitle]="wording.technicalManagement.invoiceRequired | translate"
                [nzStatus]="getStatus(StevedoreDamageReportStatus.InProgress)"
                [nzIcon]="getCustomIcon(StevedoreDamageReportStatus.InProgress)"
              >
              </nz-step>

              <nz-step
                [nzTitle]="wording.technicalManagement.administratorTabInvoiceCreated | translate"
                [nzStatus]="getStatus(StevedoreDamageReportStatus.InvoiceCreated)"
                [nzIcon]="getCustomIcon(StevedoreDamageReportStatus.InvoiceCreated)"
              >
              </nz-step>

              <nz-step
                [nzTitle]="wording.technicalManagement.invoiceCleared | translate"
                [nzStatus]="getStatus(StevedoreDamageReportStatus.Cleared)"
              >
              </nz-step>
            </nz-steps>
            <div class="controls">
              <div
                class="rating-required"
                nz-row
                nzGutter="20"
              >
                <nv-input-wrapper
                  nz-col
                  nzSpan="12"
                  [label]="wording.technicalManagement.reportCreatedOn | translate"
                >
                  <nv-datebox
                    formControlName="createdOn"
                    [withTime]="true"
                  >
                  </nv-datebox>
                </nv-input-wrapper>

                <nv-input-wrapper
                  nz-col
                  nzSpan="12"
                  [label]="wording.general.createdBy | translate"
                >
                  <input
                    formControlName="createdBy"
                    type="text"
                    nz-input
                  />
                </nv-input-wrapper>
              </div>

              <div
                class="approval-required"
                nz-row
                nzGutter="20"
              >
                <label
                  nz-col
                  nzSpan="24"
                  nz-checkbox
                  formControlName="isInvoiceApproved"
                >
                  {{ wording.technicalManagement.invoiceApproved | translate }}
                </label>
                <nv-input-wrapper
                  nz-col
                  nzSpan="12"
                  [label]="wording.technicalManagement.invoiceApprovedOn | translate"
                >
                  <nv-datebox
                    formControlName="invoiceApprovedOn"
                    [withTime]="true"
                  >
                  </nv-datebox>
                </nv-input-wrapper>

                <nv-input-wrapper
                  nz-col
                  nzSpan="12"
                  [label]="wording.technicalManagement.approvedBy | translate"
                >
                  <input
                    formControlName="invoiceApprovedBy"
                    type="text"
                    nz-input
                  />
                </nv-input-wrapper>

                <label
                  nz-col
                  nzSpan="24"
                  nz-checkbox
                  formControlName="isInvoiceWaivedAndSetToCleared"
                >
                  {{ wording.technicalManagement
                      .invoiceWaivedAndSetToCleared | translate }}
                </label>

                <nv-input-wrapper
                  [class.hidden]="(
                    !resource.isInvoiceWaivedAndSetToCleared
                    && !resource.invoiceWaivedOn
                  )"
                  nz-col
                  nzSpan="12"
                  [label]="wording.technicalManagement.invoiceWaivedOn | translate"
                >
                  <nv-datebox
                    formControlName="invoiceWaivedOn"
                    [withTime]="true"
                  >
                  </nv-datebox>
                </nv-input-wrapper>

                <nv-input-wrapper
                  [class.hidden]="(
                    !resource.isInvoiceWaivedAndSetToCleared
                    && !resource.invoiceWaivedBy
                  )"
                  nz-col
                  nzSpan="12"
                  [label]="wording.technicalManagement.waivedBy | translate"
                >
                  <input
                    formControlName="invoiceWaivedBy"
                    type="text"
                    nz-input
                  />
                </nv-input-wrapper>
              </div>
              <div
                class="invoice-created"
                nz-row
                nzGutter="20"
              >
                <nv-input-wrapper
                  nz-col
                  nzSpan="12"
                  [label]="wording.technicalManagement.invoiceNo_ | translate"
                >
                  <input
                    formControlName="invoiceNumber"
                    type="text"
                    nz-input
                  />
                </nv-input-wrapper>
                <div
                  nz-col
                  nzSpan="12"
                ></div>

                <nv-input-wrapper
                  nz-col
                  nzSpan="12"
                  [label]="wording.technicalManagement.invoiceCreatedOn | translate"
                >
                  <nv-datebox
                    formControlName="invoiceCreatedOn"
                    [withTime]="true"
                  >
                  </nv-datebox>
                </nv-input-wrapper>

                <nv-input-wrapper
                  nz-col
                  nzSpan="12"
                  [label]="wording.general.createdBy | translate"
                >
                  <input
                    formControlName="invoiceCreatedBy"
                    type="text"
                    nz-input
                  />
                </nv-input-wrapper>

              </div>
              <div
                class="invoice-cleared"
                nz-row
                nzGutter="20"
              >
                <nv-input-wrapper
                  nz-col
                  nzSpan="12"
                  [label]="wording.technicalManagement.invoicePaidOn | translate"
                >
                  <nv-datebox
                    formControlName="invoicePaidOn"
                    [withTime]="true"
                  >
                  </nv-datebox>
                </nv-input-wrapper>
                <div
                  nz-col
                  nzSpan="12"
                ></div>

                <nv-input-wrapper
                  nz-col
                  nzSpan="24"
                  [label]="wording.technicalManagement.otherAgreements | translate"
                >
                  <textarea
                    formControlName="remark"
                    [nzAutosize]="{ minRows: 4, maxRows: 5 }"
                    nz-input
                  >
                  </textarea>
                </nv-input-wrapper>
              </div>
            </div>
          </div>
        </nv-fieldset>
      </form>
    </div>
  </div>
</div>
