:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .component-wrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .form-wrapper {
      display: flex;
      form {
        nv-fieldset {
          padding-top: 0px;
        }
        .wrap {
          display: flex;
          .controls {
            margin-left: -127px;
            .rating-required {
              margin-top: 30px;
            }
            .approval-required {
              margin-top: 40px;
              .hidden {
                opacity: 0;
              }
            }
            .invoice-created {
              margin-top: 115px;
            }
            .invoice-cleared {
              margin-top: 30px;
            }
          }
          ::ng-deep .ant-steps {
            .ant-steps-item-custom {
              .ant-steps-item-icon {
                border: none;
              }
            }
            .ant-steps-item.ant-steps-item-process .ant-steps-item-title {
              font-weight: bold;
            }
            .ant-steps-item-title {
              min-width: 127px;
            }
            :nth-child(1) .ant-steps-item-container {
              height: 100px;
            }
            :nth-child(2) .ant-steps-item-container {
              height: 200px;
            }
            :nth-child(3) .ant-steps-item-container {
              height: 80px;
            }
            :nth-child(4) .ant-steps-item-container {
              height: 150px;
            }
            :nth-child(5) .ant-steps-item-container {
              height: 100px;
            }
          }
        }
      }
    }
    &.de {
      .controls {
        margin-left: -160px !important;
      }
      .ant-steps-item-title {
        min-width: 160px !important;
      }
    }
  }
}
