.user-group-card-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: var(--color-white, #ffffff);
  box-shadow: 0px 1px 3px var(--darker-box-shadows, rgba(0, 0, 0, 0.3));
  border-radius: 4px;

  .image-container {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }

  .user-values-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 55%;
    justify-content: space-between;
    align-items: flex-start;

    .name {
      font-size: 16px;
      font-weight: 600;
      color: var(--color-main-darker, #282a3c);
    }

    .invited-email {
      font-size: 12px;
      font-weight: 400;
      color: var(--color-main-darker, #282a3c);
    }

    .material {
      font-size: 8px;
      font-weight: 400;
      color: var(--color-main-darker, #282a3c);
    }

    .role {
      font-size: 10px;
      font-weight: 600;
      color: var(--color-main, #747474);
    }

    .groups {
      font-size: 12px;
      font-weight: 600;
      color: var(--color-main, #747474);
    }
  }

  .checkbox {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    pointer-events: none;
  }
}

.selected {
  margin: 0px;
  border: 2px solid var(--color-primary);
}

.selected:hover {
  margin: 0px;
  border: 2px solid var(--color-primary);
}
