<div class="user-group-card-container box-sizing-border-box cursor-pointer" [ngClass]="{ selected: dataModel.selected }">
  <div class="image-container">
    <me-user-image [imageModel]="userImage"></me-user-image>
  </div>
  <div class="user-values-container box-sizing-border-box">
    <ng-container *ngIf="dataModel.type === 'user'; else groupTemplate">
      <span class="name">{{ dataModel.firstName }} {{ dataModel.lastName }}</span>
      <span *ngIf="dataModel.invitedEmail" class="invited-email">{{ dataModel.invitedEmail }}</span>
      <me-label [dataModel]="dataModel.statusLabel">
        <span content>{{ dataModel.status ? 'ACTIVE' : 'INACTIVE' }}</span>
      </me-label>
      <span class="material"></span>
      <span class="groups"> Member of: {{ dataModel.groups }} groups </span>
    </ng-container>
    <ng-template #groupTemplate>
      <span class="name">{{ dataModel.groupName }}</span>
      <span class="role">{{ dataModel.groupRole }}</span>
      <span class="material">{{ dataModel.groupDescription }}</span>
      <span class="groups"> Group has: {{ dataModel.users }} users </span>
    </ng-template>
  </div>

  <ng-container *ngIf="dataModel.selectionEnabled; else contextMenuTemplate">
    <div class="checkbox">
      <mat-checkbox [checked]="dataModel.selected" name="Primary" color="primary"></mat-checkbox>
    </div>
  </ng-container>
  <ng-template #contextMenuTemplate>
    <me-context-menu
      [dataModel]="{
        contextMenuItems: dataModel.contextMenuItems
      }"
      (itemClick)="customEvent('userCardContextMenuItemClick', $event)"
      (click)="preventOtherEvents($event)"
    ></me-context-menu>
  </ng-template>
</div>
