.collection-card {
  --description-height: 90px;

  display: flex;
  flex-direction: column;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  box-sizing: content-box;
  position: relative;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.1);
  margin: 2px;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .image-container {
    display: flex;
    height: calc(100% - var(--description-height));
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;

    .thumbnail {
      width: 100%;
      height: 100%;
      position: absolute;
      transition: transform 400ms ease;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .thumbnail-no-picture {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-main-lighter);
      color: var(--color-main-light);
      me-icons {
        width: 700px;
        height: 70px;
      }
    }

    .checkbox {
      display: flex;
      flex-grow: 1;
      align-items: baseline;
      justify-content: flex-end;
      margin: 20px 20px 0 0;
      pointer-events: none;
    }
  }

  .visibility-container {
    width: 100%;
    position: absolute;
    display: flex;

    .visibility {
      border-radius: 3px;
      font-size: 0.85em;
      font-weight: 600;
      padding: 3px 10px;
      margin: 20px;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    height: var(--description-height);
    overflow: visible;
    background-color: var(--color-white);
    padding: 5px 20px 20px;

    .links-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% + 10px);

      .supplier {
        width: calc(100% - 25px);
        height: 15px;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        color: var(--color-primary);
      }

      .button {
        height: 20px;
        width: 20px;
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
      }
    }

    .supplier:hover {
      text-decoration: underline;
    }

    .collection-name {
      display: flex;
      flex-direction: row;
      width: calc(100% - 36px);
      height: 22px;
      align-items: center;
      font-size: 16px;
      line-height: 22px;
      font-weight: 600;
      margin-top: 2px;
    }

    .info {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      margin-top: 10px;

      .group {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        color: var(--color-body-font, #000000);

        .image {
          margin-right: 10px;
        }

        .count {
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
  }
}

.collection-card:hover {
  .thumbnail {
    transform: scale(1.15);
  }
}

.selected {
  margin: 0px;
  border: 2px solid var(--color-primary);
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.3);
}

.selected:hover {
  margin: 0px;
  border: 2px solid var(--color-primary);
}
