<div class="collection-card cursor-pointer" [ngClass]="{ selected: dataModel.selected }">
  <div class="image-container">
    <!-- <div class="thumbnail" [ngStyle]="{ 'background-image': 'url(' + dataModel.thumbnail + ')' }"></div> -->
    <ng-container *ngIf="dataModel.thumbnail">
      <div class="thumbnail" [ngStyle]="{ 'background-image': 'url(' + dataModel.thumbnail + ')' }"></div>
    </ng-container>
    <ng-container *ngIf="!dataModel.thumbnail">
      <div class="thumbnail-no-picture"><me-icons name="image"></me-icons></div>
    </ng-container>
    <div *ngIf="dataModel.selectionEnabled" class="checkbox">
      <mat-checkbox [(ngModel)]="dataModel.selected" name="Primary" color="primary"></mat-checkbox>
    </div>
  </div>
  <ng-container *ngIf="dataModel.visibility">
    <div class="visibility-container">
      <div
        class="visibility"
        [ngStyle]="{ 'background-color': dataModel.visibility.backgroundColorHex, color: dataModel.visibility.fontColorHex }"
      >
        {{ dataModel.visibility.label | uppercase }}
      </div>
    </div>
  </ng-container>
  <div class="description box-sizing-border-box">
    <div class="links-row">
      <me-ellipsis-row class="collection-name" [text]="dataModel.collectionName"></me-ellipsis-row>
      <me-context-menu
        [dataModel]="dataModel.contextMenu"
        (itemClick)="handleItemClick($event)"
        (click)="preventOtherEvents($event)"
      ></me-context-menu>
    </div>

    <div class="info">
      <div class="group">
        <div class="image">
          <i-feather name="grid"></i-feather>
        </div>
        <div class="count">
          {{ dataModel.numberOfMaterials }}
        </div>
      </div>
      <!-- <div class="group">
        <div class="image">
          <i-feather name="users"></i-feather>
        </div>
        <div class="count">
          {{ dataModel.numberOfCustomers }}
        </div>
      </div>
      <div class="group">
        <div class="image">
          <i-feather name="user"></i-feather>
        </div>
        <div class="count">
          {{ dataModel.numberOfTeams }}
        </div>
      </div> -->
    </div>
  </div>
</div>
