:host {
  flex: 1 1 auto;
  display: flex;

  .nv-content {
    overflow: hidden;
  }
  .form-wrap {
    padding: 20px;
    overflow: auto;
    min-width: 600px;
  }
}

.paper {
  .header {
    padding: 10px;
    flex-direction: row;
    align-items: center;
  }

  .content {
    padding: 26px;
  }
}

.form-wrap-content {
  margin: 0 !important;
}

nz-year-picker {
  width: 100%;
}
form {
  min-width: 550px;
}
