<nv-paper-view
  [customTitle]="creationMode ? (wording.general.create | translate) : title$ | async"
  [routeBack]="routeBackUrl && routeBack"
>
  <!-- Header -->
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <!-- Content -->
  <div class="form-wrap">
    <form
      nvSpyElement
      (initialized)="formInitialized($event)"
      [formGroup]="form"
      nz-form
      nzLayout='vertical'
      *ngIf="form"
    >
      <div class="form-wrap-content">
        <div
          nz-row
          nzGutter="14"
        >
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper [label]="wording.general.nameDe | translate">
              <input
                formControlName="labelDe"
                type="text"
                nz-input
              >
            </nv-input-wrapper>
          </div>
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper [label]="wording.general.nameEn | translate">
              <input
                formControlName="labelEn"
                type="text"
                nz-input
              >
            </nv-input-wrapper>
          </div>
        </div>
        <div
          nz-row
          nzGutter="14"
        >
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper [label]="wording.technicalManagement.articleNo | translate">
              <input
                formControlName="no"
                type="text"
                nz-input
              >
            </nv-input-wrapper>
          </div>
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper [label]="wording.technicalManagement.unit | translate">
              <nv-autocomplete
                [resource]="articleUnits$ | async"
                [modalGridConfig]="articleUnitsGridConfig"
                [properities]="['displayLabel' | labelKey]"
                formControlName="articleUnitId"
                [autofocus]="false"
                [setNullIfNotFound]="true"
              ></nv-autocomplete>
            </nv-input-wrapper>
          </div>
        </div>
        <div
          nz-row
          nzGutter="14"
        >
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper [label]="wording.technicalManagement.articleClass | translate">
              <nv-autocomplete
                [resource]="articleClasses$ | async"
                [modalGridConfig]="articleClassesGridConfig"
                [properities]="['displayLabel' | labelKey]"
                formControlName="articleClassId"
                [autofocus]="false"
                [setNullIfNotFound]="true"
              ></nv-autocomplete>
            </nv-input-wrapper>
          </div>
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper [label]="wording.technicalManagement.articleType | translate">
              <nv-autocomplete
                [resource]="articleTypes$ | async"
                [modalGridConfig]="articleTypesGridConfig"
                [properities]="['displayLabel' | labelKey]"
                formControlName="articleTypeId"
                [autofocus]="false"
                [setNullIfNotFound]="true"
              ></nv-autocomplete>
            </nv-input-wrapper>
          </div>
        </div>
        <div
          nz-row
          nzGutter="14"
        >
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper [label]="wording.technicalManagement.description | translate">
              <textarea
                class="insolvency-administrator"
                rows="4"
                nz-input
                formControlName="description"
              >
              </textarea>
            </nv-input-wrapper>
          </div>
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper [label]="wording.technicalManagement.manufacturerManual | translate">
              <input
                formControlName="manufacturerManual"
                type="text"
                nz-input
              >
            </nv-input-wrapper>
            <nv-input-wrapper [label]="wording.technicalManagement.manufacturerArticleNo | translate">
              <input
                formControlName="manufacturerArticleNo"
                type="text"
                nz-input
              >
            </nv-input-wrapper>
          </div>
        </div>
        <div
          nz-row
          nzGutter="14"
        >
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper [label]="wording.technicalManagement.standardSupplier | translate">
              <nv-autocomplete
                [resource]="debitorCreditors$ | async"
                [modalGridConfig]="debitorCreditorsGridConfig"
                [properities]="['no', 'companyName']"
                formControlName="debitorCreditorId"
                [autofocus]="false"
                [setNullIfNotFound]="true"
              ></nv-autocomplete>
            </nv-input-wrapper>
          </div>
          <div
            nz-col
            nzSpan="12"
          >
            <nv-currency-autocomplete [form]="form"></nv-currency-autocomplete>
          </div>
        </div>
        <div
          nz-row
          nzGutter="14"
        >
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper [label]="wording.technicalManagement.itemType | translate">
              <input
                formControlName="itemType"
                type="text"
                nz-input
              >
            </nv-input-wrapper>
          </div>
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper [label]="wording.technicalManagement.serialNo | translate">
              <input
                formControlName="serialNo"
                type="text"
                nz-input
              >
            </nv-input-wrapper>
          </div>
        </div>
        <div
          nz-row
          nzGutter="14"
        >
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper
              class="date-picker"
              [label]="wording.technicalManagement.yearOfManufacture | translate"
            >
              <nz-year-picker formControlName="year"></nz-year-picker>
            </nv-input-wrapper>
          </div>
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper [label]="wording.technicalManagement.salePrice | translate">
              <nv-decimal-input
                [showSeparator]="true"
                [decimalPlaces]="2"
                formControlName="salePrice"
              ></nv-decimal-input>
            </nv-input-wrapper>
          </div>
        </div>

        <div class="form-row-host">
          <label
            nz-checkbox
            formControlName="isSystemDefault"
          >
            {{ wording.general.systemDefault | translate }}
          </label>
        </div>
        <div class="form-row-host">
          <label
            nz-checkbox
            formControlName="isActive"
          >
            {{ wording.general.active | translate }}
          </label>
        </div>
      </div>
    </form>
  </div>
</nv-paper-view>