<div class="create-calendar">
  <form
    [formGroup]="form"
    nz-form
    nzLayout="vertical"
  >
    <nv-input-wrapper
      [label]="wording.general.nameEn | translate"
    >
      <input
        nz-input
        formControlName="labelEn"
      >
    </nv-input-wrapper>
    <nv-input-wrapper
      [label]="wording.general.nameDe | translate"
    >
      <input
        nz-input
        formControlName="labelDe"
      >
    </nv-input-wrapper>
    <label nz-checkbox formControlName="isSystemDefault" *ngIf="isSuperAdmin">
      {{ wording.general.systemDefault | translate }}
    </label>
  </form>
  <button nz-button class="create-calendar-btn" (click)="createCalendar()">
    {{wording.general.submit | translate}}
  </button>
</div>
