:host {
  .create-calendar {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  &::ng-deep {
    nv-input-wrapper {
      margin-bottom: 10px;
    }
  }

  .create-calendar-btn {
    margin-top: 10px;
    margin-left: auto;
    background: #c44747;
    color: #fff;
  }

  .ant-modal-body { overflow: hidden;}
}
