<div class="main">
    <div class='fb'>
      <nv-grid
        [gridConfig]="mandatorTaxKeyConfig"
        [dataSource$]="dataSource$"
        (rowSelectionChanged)="rowSelect($event)"
      ></nv-grid>
    </div>

    <div>
      <div class="fb footer">
        <button
          nz-button
          nzType="primary"
          [disabled]="submitDisabled"
          class="footer-button save-button"
          (click)="save()"
        >
          {{ wording.general.save | translate  }}
        </button>
      </div>
    </div>
  </div>

