:host {
    flex: 1 1 auto;
    display: flex;
}

.paper {
    max-width: 880px;
    .header {
        padding: 10px;
        flex-direction: row;
        align-items: center;
    }
}

.footer {
    flex-direction: row;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    border-radius: 0 0 4px 4px;
    justify-content: flex-end;
    .save-button {
        margin-left: auto;
    }
}

:host ::ng-deep .grid-view-port-container {
    overflow: unset !important;
}

.main {
    display: flex;
    flex-direction: column;
}