<div class="wrap" *ngIf="form">
  <form [formGroup]="form" nz-form nzLayout="vertical">
    <nv-input-wrapper
      nz-col
      nzSpan="24"
      [label]="wording.accounting.barcode | translate"
    >
      <input
        formControlName="barcode"
        type="text"
        nz-input
        (keyup.enter)="onBarcodeEnter()"
      />
    </nv-input-wrapper>

    <nv-mandator-autocomplete
      [label]="wording.accounting.mandator"
      [form]="form"
      [filters]="{ isActive: true }"
    >
    </nv-mandator-autocomplete>

    <div nz-row nzGutter="10">
      <nv-input-wrapper
        nz-col
        nzSpan="6"
        [label]="wording.accounting.voucherNo_2 | translate"
      >
        <input
          formControlName="voucherType"
          type="text"
          nz-input
        />
      </nv-input-wrapper>

      <nv-input-wrapper
        nz-col
        nzSpan="6"
        [label]="wording.general.noLabel | translate"
      >
        <input
          formControlName="mandatorNo"
          type="text"
          nz-input
        />
      </nv-input-wrapper>

      <nv-voucher-number
        nz-col
        nzSpan="12"
        [form]="form"
      >
      </nv-voucher-number>
    </div>
  </form>
</div>
<nv-modal-footer>
  <button nz-button nzType="info" (click)="closeModal()">
    {{ wording.general.cancel | translate }}
  </button>
  <button [disabled]="!form?.valid" (click)="save()" nz-button nzType="primary">
    {{ wording.general.save | translate }}
  </button>
</nv-modal-footer>
