:host {
  display: flex;
}


::ng-deep nv-grid-data-select .nv-content {
  max-height: 100%;
  height: auto;
  display: inherit;
}

::ng-deep nv-grid {
  height:100% !important;
  max-height: calc(100vh - 185px) !important;
}