<nz-select
    nzAllowClear
    nzShowSearch
    [nzDisabled]="disabled"
    [ngModel]="value"
    (ngModelChange)="selectValueChanged($event)"
    [nzAutoFocus]="autoFocus"
    (keyup)="keyup($event)"
  >
  <nz-option
    *ngFor="let d of dataSource$ | async"
    [nzLabel]="getLabel(d) | truncate:50"
    [nzValue]="d.id"
    nz-tooltip
    [nzTooltipTitle]="getLabel(d)"
    nzCustomContent
  >
  <div
    [attr.data-resource-option]="getLabel(d)"
    [title]="getLabel(d)"
  >
    {{ getLabel(d) | truncate:50 }}
  </div>
  </nz-option>
</nz-select>
<button
  type="button"
  nz-button
  (click)="openSelectModal()"
  [disabled]="disabled"
  tabIndex="-1"
>
  <i nz-icon nzType="search" nzTheme="outline"></i>
</button>
