@import '../../../assets/less/_vars';

:host ::ng-deep {
  .toolbar {
    padding: 0 20px;
    width: 100%;
    left: 0;
    top: 110px;
    position: absolute;
    .transition;
    .flex;

    &.fix {
      position: fixed;
      z-index: 999999999999999999999;
      top: 61px;
    }
  }

  .modes {
    .items {
      font-size: .7rem;
      color: @white_l;
      margin-right: 5px;
    }

    &.right {
      .float-right;
    }
  }

  .mode {
    button {
      min-height: auto;
      line-height: 30px;
      border-radius: 0;
      color: @toxic_border;
      background: @transparent;
      padding: 0 3px;
      cursor: pointer;
      font-size: .8rem;
      opacity: .6;
      margin-right: 2px;

      &:hover {
        opacity: 1;
        transform: scale(1.02);
        .transition;
      }
    }

    &[graphics] {
      button {
        font-size: 1.5rem;
        padding: 0;
      }
    }

    &.deactive {
      pointer-events: none;
      opacity: .3;
    }

    &.active {
      background: @toxic_b;
      color: @toxic;
      pointer-events: none;
    }

    &.hidden {
      display: none;
    }
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: @mobile_portait) {
  :host ::ng-deep {
    .modes {
      position: fixed;
      right: 0;
      z-index: 999;

      &.left {
        top: 75px;
      }

      &.right {
        top: 110px;
        .col;

        .mode {
          .float-right;
        }
      }

      &.left, &.right {
        opacity: 0;
        pointer-events: none;
      }
    }

    .toolbar {
      &.fix {
        .modes {
          &.left, &.right {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }

  }
}
