@import "src/app/core/styles/_mixins";

:host {
  display: flex;
  overflow: hidden;
  padding: 10px;
  min-width: 1200px;

  .detail-view-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: inherit;

    .main-content-wrapper {
      overflow: auto;
    }
  }
}

:host ::ng-deep {
  @include setScrollBar();

  .ant-progress {
    line-height: unset !important;
  }

  nv-fieldset fieldset {
    padding-bottom: 5px !important;
    margin-top: 0;
    padding-right: 14px !important;
    min-height: 400px;
  }

  .role-zone-permissions {
    max-height: calc(100% - 20px);
  }

  // not used anymore
  // .ant-tabs-bar {
  //   border: 1px solid #c2c2c2;
  //   border-radius: 6px;
  //   margin-top: 12px;
  //   padding: 10px !important;
  //   height: 100%;
  //   max-height: calc(100% - 20px);
  //   min-height: 388px;
  //   transition: none !important;
  // }

  // .ant-tabs-left-content {
  //   border: 0;
  // }

  // .ant-tabs-left-bar isn't in dom anymore
  // .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
  //   text-align: left;
  //   padding: 14px 10px;
  //   margin: 0;
  //   border-bottom: 1px solid #ebebeb;
  // }

  // .ant-tabs-nav-container {
  //   padding: 10px 1px;
  //   transition: none !important;
  //   min-height: calc(100% + 20px);
  //   height: 100%;
  //   margin-top: -10px;
  //   overflow: auto !important;
  //   width: fit-content;
  //   max-width: 500px;
  // }
}

:host ::ng-deep nz-tabset.ant-tabs {
  margin-top: 25px;
  nz-tabs-nav.ant-tabs-nav {
    margin-top: 20px;
    .ant-tabs-nav-wrap {
      padding: 0;
      height: auto;
      width: fit-content;
      min-width: 400px;
      .ant-tabs-nav-list {
        .ant-tabs-ink-bar {
          display: none !important;
        }
        .ant-tabs-tab {
          margin-bottom: 5px;
          .ant-tabs-tab-btn {
          }
        }
      }
    }
  }
}

.modal-title {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.related-zones {
  margin-left: 0px;
  font-size: 16px;
  width: unset;
  background: #ffffff;
  padding: 0px 4px;
  border-bottom: none;
  margin-bottom: 0px;
  top: 63px;
  position: absolute;
  z-index: 1;
  left: 28px;
  color: #888686;
}

.role-wrapper {
  flex-direction: column;
  display: flex;
  overflow-y: auto;
  max-height: 70vh;

  .role {
    padding: 0;
    min-width: 180px;

    &:last-child {
      .operations-wrapper {
        border-bottom: 1px solid #ebebeb;
      }
    }
  }

  .operations-wrapper {
    border-top: 1px solid #ebebeb;
    flex-direction: row;
    display: flex;

    .operation {
      display: flex;
      width: 180px;
    }

    .zone-label {
      font-weight: 500;
      font-size: 14px;
      border-left: 1px solid #ebebeb;
      margin-right: 12px;
      height: 32px;
      align-items: center;
      display: flex;
      padding-left: 10px;
      height: 45px;
      white-space: nowrap;
    }

    .nz-row {
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
}

.checkbox-item {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 45px;
}

.zone-hover {
  pointer-events: all;
}

.role {
  padding-left: 10px;
}

.header {
  .operation-header {
    display: flex;
    width: 180px;
  }

  .operation-name {
    display: block !important;
    text-align: center;
    font-size: 10px;
    padding-bottom: 5px;
    white-space: nowrap;
  }

  .role-header {
    display: block !important;
    padding-left: 10px;
    text-align: center;
    font-size: 10px;
    padding-bottom: 5px;
  }
}

.footer {
  padding-top: 15px;
  .btn {
    margin-left: 10px;
  }

  .cancel {
    border: 1px solid #c44747;
  }
}
