<div class="detail-view-main" *ngIf="tabs.length > 0">
  <span class="modal-title">
    {{ wording.general.roleRights | translate }} - {{ selectedTopic.title | translate }}
  </span>
  <span class="related-zones">{{ wording.general.relatedZones | translate }}</span>

  <nz-tabset nzTabPosition="left" [nzShowPagination]="false">
    <nz-tab *ngFor="let tab of tabs; let tabIndex = index" [nzTitle]="tab.fullTitle | translate">
      <nv-fieldset [label]="wording.general.relatedRoleZonePermissions | translate">
        <div class="role-zone-permissions">
          <div class="header" nz-row>
            <div class="operation-header">
              <div *ngFor="let operation of allOperations" class="operation-name" nz-col nzSpan="6">
                {{ Operations[operation] }}
              </div>
            </div>
            <div class="role-header" nz-col nzSpan="12">
              {{ wording.general.roles | translate | uppercase }}
            </div>
          </div>
          <div class="role-wrapper">
            <div
              class="role"
              *ngFor="let role of tab.rolesWithOperations; let i = index;"
              [attr.data-role-row]="role.labelEn"
            >
              <div class='operations-wrapper e2e-operations-wrapper'>
                <div class="operation">
                  <div
                    nz-col
                    nzSpan="6"
                    *ngFor="let operation of role.selectedTopicOperations"
                    class="checkbox-item"
                    [attr.data-operation]="operation.label"
                  >
                    <label
                      *ngIf="operation.isVisible"
                      nz-checkbox
                      [(ngModel)]="operation.checked"
                      (ngModelChange)="setOtherPermissions(tabIndex, i, operation)"
                    >
                    </label>
                  </div>
                </div>

                <div
                  class='zone-label zone-hover role'
                  nz-tooltip
                  [nzTooltipTitle]="role.description"
                  nzTooltipTrigger="hover"
                  nz-col
                  nzSpan="12"
                >
                  {{ role.displayLabel | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </nv-fieldset>
    </nz-tab>
  </nz-tabset>

  <div nz-row nzType="flex" nzJustify="end" class="footer">
    <button
      nz-button
      nzType="danger"
      class='btn cancel'
      (click)="closeModal()"
      data-crud-action-button="cancel"
    >
      {{ wording.general.cancel | translate }}
    </button>
    <button
      nz-button
      nzType="primary"
      class="btn"
      (click)="submit()"
      data-crud-action-button="ok"
    >
      {{ wording.general.save | translate }}
    </button>
  </div>
</div>
