:host * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:host [selector="h3"] {
    display: block;
    margin-top: 10px;
}

/*:host > div{
    // background: green;
}

:host > icon-component {
    background: blue;
}

:host .nested-div {
    background: red;
}

:host .nested-div::shadow button-component {
    background: blue;
}

:host::shadow {
    color: #449fdb;
}

:host-context(button-component)  {
    background: red;
}*/