<mat-form-field [formGroup]="form">
  <mat-label [class.mark-required]="data.required">{{ data.displayName }}</mat-label>
  <input matInput [id]="data.internalName" [formControlName]="data.internalName" [matDatepicker]="picker" />
  <mat-datepicker-toggle matSuffix [for]="picker">
    <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
