<span class="title">
  <!-- the character is 0-width-space -->
  {{ selectedGroup?.name || '&#8203;' }}
</span>
<div class="grids-row">
  <nv-grid
    #mandatorsGrid
    *ngIf="mandatorsGridConfig"
    class="mandators-grid"
    [gridConfig]="mandatorsGridConfig"
    [dataSource$]="helperService.selectedMandators$"
  ></nv-grid>
  <nv-grid
    #usersGrid
    *ngIf="usersGridConfig"
    [gridConfig]="usersGridConfig"
    [dataSource$]="helperService.selectedUsers$"
  ></nv-grid>
</div>