<div class="stepper-container">
  <mat-horizontal-stepper linear #stepper class="user-select-none" (selectionChange)="markFormAsTouched($event)">
    <ng-template matStepperIcon="edit">
      <i-feather name="check" class="step-label-heading-completed icon"></i-feather>
    </ng-template>

    <mat-step #stepOne *ngIf="infoAttributeForm && infoAttributeItemMap" [stepControl]="infoAttributeForm">
      <form [formGroup]="infoAttributeForm">
        <ng-template matStepLabel>
          <div class="click-holder" (click)="checkStepBeforeSwitch(0)"></div>
          <span
            [ngClass]="{
              'step-label-heading': true,
              bold: true,
              'step-label-heading-active': stepper.selected === stepOne,
              'step-label-heading-completed': stepOne.completed && stepper.selected !== stepOne
            }"
          >
            {{ i18nStrings.documentInfo }}</span
          >

          <span class="step-label-subheading">{{ i18nStrings.documentInfoSubheading }}</span>
        </ng-template>

        <div class="step-content box-sizing-border-box">
          <h1 class="step-content-label bold">{{ i18nStrings.documentInfo }}</h1>

          <div class="attribute-group-container">
            <div class="group-container">
              <div class="row-container">
                <me-attribute
                  *ngIf="documentTypeAttributeItem"
                  [attributeItem]="documentTypeAttributeItem"
                  [attWidth]="'50%'"
                ></me-attribute>
              </div>

              <div *ngFor="let row of infoLayoutGroups[0].rows; trackBy: getRowIndex" class="row-container" [attr.data-row]="row.rowIndex">
                <ng-container *ngFor="let rowAttribute of row.attributes; trackBy: getAttributeName">
                  <me-attribute
                    [attributeItem]="infoAttributeItemMap.get(rowAttribute.internalName)"
                    [attWidth]="rowAttribute.width"
                    [attr.data-row]="rowAttribute.row"
                    [attr.data-column]="rowAttribute.column"
                  ></me-attribute>
                </ng-container>
              </div>
            </div>
          </div>

          <div
            *ngIf="uploadFileData"
            class="ulpoad-container box-sizing-border-box"
            [meComponentLoading]="isDocumentUploadInProgress.value"
          >
            <me-upload-file [uploadData]="uploadFileData" (returnFormData)="handleFileFormData($event)"></me-upload-file>
          </div>

          <div *ngIf="videoSources.length" class="video-player-container box-sizing-border-box">
            <vg-player class="video-player">
              <video #media [vgMedia]="$any(media)" id="singleVideo" preload="auto" controls>
                <source *ngFor="let videoSource of videoSources" [src]="videoSource.source" [type]="videoSource.type" />
              </video>
            </vg-player>
          </div>

          <div class="button-section single box-sizing-border-box">
            <me-button *ngIf="!attributesForm" [dataModel]="buttonSubmit.data" (clickEvent)="stepSubmitEventHandler(0, infoAttributeForm)">
              {{ buttonSubmit.label }}
            </me-button>
            <me-button *ngIf="attributesForm" [dataModel]="buttonNext.data" (clickEvent)="stepNextEventHandler(1, true)"
              >{{ buttonNext.label }}<i-feather name="arrow-right"></i-feather>
            </me-button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step #stepTwo *ngIf="attributesForm && attributesItemMap" [stepControl]="attributesForm">
      <form [formGroup]="attributesForm">
        <ng-template matStepLabel>
          <div class="click-holder" (click)="stepNextEventHandler(1)"></div>
          <span
            [ngClass]="{
              'step-label-heading': true,
              bold: true,
              'step-label-heading-active': stepper.selected === stepTwo,
              'step-label-heading-completed': stepTwo.completed && stepper.selected !== stepTwo
            }"
          >
            {{ i18nStrings.documentAttributes }}</span
          >

          <span class="step-label-subheading">{{ i18nStrings.documentAttributesSubheading }}</span>
        </ng-template>

        <div class="step-content">
          <h1 class="step-content-label bold">{{ i18nStrings.documentAttributes }}</h1>

          <div class="attribute-group-container column">
            <div *ngFor="let group of attributesLayoutGroup" class="group-container">
              <div class="group-label bold">{{ group.displayName }}</div>

              <div *ngFor="let row of group.rows; trackBy: getRowIndex" class="row-container" [attr.data-row]="row.rowIndex">
                <ng-container *ngFor="let rowAttribute of row.attributes; trackBy: getAttributeName">
                  <me-attribute
                    [attributeItem]="attributesItemMap.get(rowAttribute.internalName)"
                    [attWidth]="rowAttribute.width"
                    [attr.data-row]="rowAttribute.row"
                    [attr.data-column]="rowAttribute.column"
                  ></me-attribute>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="button-section">
            <me-button [dataModel]="buttonBack.data" (clickEvent)="stepper.previous()">
              <i-feather name="arrow-left"></i-feather> {{ buttonBack.label }}
            </me-button>

            <me-button *ngIf="attributesForm" [dataModel]="buttonSubmit.data" (clickEvent)="stepSubmitEventHandler(1, attributesForm)">
              {{ buttonSubmit.label }}
            </me-button>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
