@import 'global/breakpoints';

.loader-container {
  width: 100%;
  height: 100%;
}

.stepper-container {
  width: 100%;
  height: 100%;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .click-holder {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .step-label-heading {
    display: block;
    color: var(--color-body-font);
    font-size: 14px;
    margin-bottom: 3px;
    margin-left: 10px;
  }

  .step-label-heading-active {
    color: var(--color-primary);
  }

  .step-label-heading-completed {
    color: var(--color-success);
  }

  .step-label-subheading {
    display: block;
    color: #9a9c9e;
    font-size: 12px;
    margin-left: 10px;
  }

  .step-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .step-content-label {
      font-size: 38px;
      max-width: 900px;
      width: 100%;
      text-align: center;
      margin: 30px 0;
    }

    .attribute-group-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      max-width: 900px;
      width: 100%;

      @include tablet {
        flex-wrap: wrap;
      }

      .group-container {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);

        .group-label {
          width: calc(100% - 20px);
          font-size: 16px;
          margin: 10px;
        }

        .row-container {
          display: flex;
          flex-flow: row wrap;
          align-items: flex-start;
          justify-items: flex-start;
        }
      }
    }

    .circle-proggress-bar-container {
      align-self: flex-end;
      position: sticky;
      top: 30px;
      right: 10px;
      z-index: 1;
      height: 0px;
      overflow: visible;
    }

    .column {
      flex-direction: column;
    }

    .ulpoad-container {
      max-width: 840px;
      width: 100%;
      height: 215px;
    }

    .video-player-container {
      max-width: 900px;
      width: 100%;
      padding: 0 30px;
      margin-top: 50px;
      display: flex;
      justify-content: center;

      .video-player {
        max-width: 100%;
        width: fit-content;
      }
    }

    .button-section {
      max-width: 900px;
      width: 100%;
      height: 100px;
      padding: 0 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &.single {
        justify-content: flex-end;
      }
    }
  }
}
