<lavash-event-container (mouseEvent)="onMouseupOnDom($event, contentElement, containerElement)">
    <div class="l-scrollbar-container"
         [ngClass]="[mouseInContainer && (hasScrollVertical || hasScrollHorizontal) ? 'l-mouse-in-container' : '',
                     activeScrollBarY ? 'l-active-scrollbar-y' :
                     activeScrollBarX ? 'l-active-scrollbar-x': '']"
         [ngStyle]="{'width.px': containerPxWidth  || 'auto',
                     'height.px': containerPxHeight || 'auto'}"
         (mouseenter)="triggerMouseInContainerContainer(true, contentElement, containerElement)"
         (mouseleave)="triggerMouseInContainerContainer(false, contentElement, containerElement)"
         (wheel)="onWheel($event, contentElement, containerElement)"
         #containerElement>

        <!--CONTENT-->
        <div #contentElement
             class="l-scrollbar-content"
             [ngStyle]="{'width.%': contentWidthPercentage,
                         'left.px': contentLeft,
                         'top.px': contentTop}">
             <ng-content></ng-content>
        </div>

        <!--SCROLLBARS-->
        <div *ngIf="hasScrollVertical"
             class="l-scrollbar l-scrollbar-y"
             [ngClass]="mouseInScrollbarY ? 'l-mouse-in-scrollbar' : ''"
             (mouseenter)="triggerMouseInScrollbar('Y', true)"
             (mouseleave)="triggerMouseInScrollbar('Y', false)"
             (click)="onScrollbarClick($event, contentElement, containerElement)">
            <div class="l-scroller"
                 [ngStyle]="{'height.px': scrollHeight, 'top.px': scrollTop}"
                 (mousedown)="onMousedownScrollbar($event, contentElement, containerElement, 'Y')">
            </div>
        </div>

        <div *ngIf="hasScrollHorizontal"
             class="l-scrollbar l-scrollbar-x"
             [ngClass]="mouseInScrollbarX ? 'l-mouse-in-scrollbar' : ''"
             (mouseenter)="triggerMouseInScrollbar('X', true)"
             (mouseleave)="triggerMouseInScrollbar('X', false)"
             (click)="onScrollbarClick($event, contentElement, containerElement)">
            <div class="l-scroller"
                 [ngStyle]="{'width.px': scrollWidth, 'left.px': scrollLeft}"
                 (mousedown)="onMousedownScrollbar($event, contentElement, containerElement, 'X')">
            </div>
        </div>
    </div>
</lavash-event-container>



