@import '../../../assets/less/variables.less';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.l-scrollbar-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 1px solid transparent;

  &.l-mouse-in-container, &.l-active-scrollbar-y, &.l-active-scrollbar-x {
    border: 1px solid rgba(0,0,0,.1);

    .l-scrollbar {
      opacity: 1;
      pointer-events: all;
    }
  }

  &.l-active-scrollbar-y {
    cursor: pointer;

    .l-scrollbar-y {
      z-index: 2;

      .l-scroller {
        opacity: .9;
      }
    }
  }

  &.l-active-scrollbar-x {
    cursor: pointer;

    .l-scrollbar-x {
      z-index: 2;

      .l-scroller {
        opacity: .9;
      }
    }
  }
}

.l-scrollbar-content {
  width: 100%;
  height: auto;
  position: absolute;
}

.l-scrollbar {
  background: rgba(250,250,250,.2);
  box-shadow: inset 0 0 2px rgba(0,0,0,.3); //@gray_placeholder;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  z-index: 1;

  &.l-mouse-in-scrollbar {
    background: rgba(250,250,250,.6);
    z-index: 2;
  }

  &.l-scrollbar-x {
    height: 7px;
    width: 100%;
    bottom: 0;

    .l-scroller {
      height: 100%;
    }
  }

  &.l-scrollbar-y {
    width: 7px;
    height: 100%;
    right: 0;

    .l-scroller {
      width: 100%;
    }
  }
}

.l-scroller {
  z-index: -1;
  cursor: pointer;
  background: @blue_hover_tr;
  border-radius: 3px;
  opacity: .7;
  position: absolute;
  top: 0;
  left: 0;
}

:host {
  width: 100%;
  height: 100%;

  &::ng-deep {
    .l-event-container {
      width: 100%;
      height: 100%;
    }
  }
}

@media all and (max-width: @mobile) {
  .l-scrollbar-container {
    overflow: scroll;
  }

  .l-scrollbar {
    display: none;
  }
}