<me-groups-table [items]="tableItems" [columns]="tableColumns" [columnOptions]="tableColumnOptions" [loader]="tableLoader">
</me-groups-table>

<!-- <me-table
  [dataSource]="tableItems"
  [columns]="tableColumns"
  [columnOptions]="tableColumnOptions"
  [isLoadingResults]="tableLoader"
  [hideFooterPagination]="true"
  [cellClickEvent]="cellClickEventSubject"
  (openExpandedRow)="getExpandedDataAndSetCellComponents($event)"
>
</me-table> -->

<!-- Add users to group popup -->
<ng-template #addUsersList>
  <me-search-input [dataModel]="searchUsersFromAddListPopup" (changeEvent)="handleSearchUsersFromAddListPopup($event)"></me-search-input>
  <div class="box-sizing-border-box scrollbar add-users-list-container" meScrollToBottom (bottomReached)="bottomReachedHandlerForAddList()">
    <me-add-list-card
      *ngFor="let addUserListCard of addUserListCardItems; let cardIndex = index; trackBy: getCardOid"
      [dataModel]="addUserListCard"
      (addListCardEvent)="handleAddListCardEvent('users', $event, cardIndex, addUserListCardItems)"
    ></me-add-list-card>
  </div>
</ng-template>

<!-- Add users to group popup -->
<ng-template #addGroupsList>
  <!-- <me-search-input [dataModel]="searchUsersFromAddListPopup" (changeEvent)="handleSearchUsersFromAddListPopup($event)"></me-search-input> -->
  <div class="box-sizing-border-box scrollbar add-users-list-container" meScrollToBottom>
    <p *ngIf="!addGroupListCardItems.length">Loading...</p>
    <me-add-list-card
      *ngFor="let addGroupListCard of addGroupListCardItems; let cardIndex = index; trackBy: getCardOid"
      [dataModel]="addGroupListCard"
      (addListCardEvent)="handleAddListCardEvent('groups', $event, cardIndex, addGroupListCardItems)"
    ></me-add-list-card>
  </div>
</ng-template>
