<div>

  <form *ngIf="form" [formGroup]="form" nz-form nzLayout="vertical">
    <div class="form-row">
      <div class="form-col">

        <nv-input-wrapper [label]="wording.accounting.contactPerson | translate">
          <input
            formControlName="contactPerson"
            type="text"
            nz-input
            placeholder="{{wording.general.enter | translate}} {{wording.accounting.contactPerson | translate}}">
        </nv-input-wrapper>
        <nv-input-wrapper [label]="wording.accounting.role | translate">
          <nz-select
            formControlName="roleId"
            nzPlaceHolder="{{wording.general.select | translate}} {{wording.accounting.role | translate}}"
            nzShowSearch
            nzAllowClear
          >
            <nz-option
              *ngFor="let roleType of contactRoles$ | async"
              [nzValue]="roleType.id"
              [nzLabel]="roleType.displayLabel | translate"
              nzCustomContent
            >
              <div [attr.data-role-type-option]="roleType.labelEn">
                {{ roleType.displayLabel | translate }}
              </div>
            </nz-option>
          </nz-select>
        </nv-input-wrapper>
        <nv-input-wrapper [label]="wording.accounting.type | translate">
          <nz-select
            formControlName="typeId"
            nzPlaceHolder="{{wording.general.select | translate}} {{wording.accounting.type | translate}}"
            nzShowSearch
            nzAllowClear
          >
            <nz-option
              *ngFor="let contactType of contactTypes$ | async"
              [nzValue]="contactType.id"
              [nzLabel]="contactType.displayLabel | translate"
              nzCustomContent
            >
              <div [attr.data-contact-type-option]="contactType.labelEn">
                {{ contactType.displayLabel | translate }}
              </div>
            </nz-option>
          </nz-select>
        </nv-input-wrapper>
        <nv-input-wrapper [label]="wording.accounting.value | translate">
          <input
            formControlName="value"
            type="text"
            nz-input
            placeholder="{{wording.general.enter | translate}} {{wording.accounting.value | translate}}"
          >
        </nv-input-wrapper>

        <nv-input-wrapper [label]="wording.accounting.remark | translate">
          <input
            formControlName="remark"
            type="text"
            nz-input
            class="remark"
          />
        </nv-input-wrapper>
      </div>
    </div>
  </form>
  <nv-modal-footer>
    <button nz-button nzType="info" (click)="closeModal()">
      {{wording.general.cancel | translate}}
    </button>
    <ng-container
      *nvAccessControl="
      ACL_ACTIONS.UPDATE;
      zoneName:contactsZone
    ">
      <button
        nz-button
        nzType="primary"
        (click)="saveClicked()"
        [disabled]="!(isValid | async) || !form.dirty">
        {{wording.general.save | translate}}
      </button>
    </ng-container>
  </nv-modal-footer>
</div>
