:host {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;
  overflow-y: auto;
  padding: 3px 0;

  &[disabled] {
    background-color: rgb(243, 243, 243);
  }
}

.no-data {
  width: 100%;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  color: gray;
}
