.app-loading {
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.1);
  position: fixed;
  z-index: 99999999999999999999999;
  display: none;


  img {
    width: 50px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  &.true {
    display: block;
  }
}
