:host ::ng-deep {
  router-outlet + * {
    overflow: scroll;
  }

  [data-tab-path="shareholders-partners"], [data-tab-path="trustors"], [data-tab-path="subParticipants"] {
    &.tabMain.selected {
      pointer-events: none !important;
    }
  }
}
