<mat-form-field [formGroup]="form">
  <mat-label [class.mark-required]="data.required">{{ data.displayName }}</mat-label>
  <mat-slide-toggle [id]="data.internalName" [formControlName]="data.internalName" [checked]="data.value">
    {{ data.displayName }}
  </mat-slide-toggle>
  <textarea matInput hidden [formControlName]="data.internalName"></textarea>
</mat-form-field>
