:host {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  .form-wrapper {
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    form {
      flex: auto;
      width: unset;
    }
    textarea {
      margin-bottom: 0px;
    }
  }
}

.paper {
  max-width: 880px;
  .header {
    padding: 10px;
    flex-direction: row;
    align-items: center;
  }
  .content {
    padding: 26px;
  }
}
