<nv-paper-view
  [customTitle]="
    creationMode ? (wording.general.create | translate) : (title$ | async)
  "
  [routeBack]="!creationMode && routeBack"
>
  <!-- Header -->
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <div class="form-wrapper">
    <form #formElement [formGroup]="form" nz-form nzLayout="vertical">
      <nv-input-wrapper [label]="wording.general.message | translate">
        <textarea
          [nzAutosize]="{ minRows: 2, maxRows: 4 }"
          nz-input
          formControlName="message"
        ></textarea>
      </nv-input-wrapper>
      <nv-input-wrapper [label]="wording.general.startDate | translate">
        <nv-datebox
          formControlName="startTime"
          [propagateInvalidDate]="true"
          [withTime]="true"
        ></nv-datebox>
      </nv-input-wrapper>
      <nv-input-wrapper [label]="wording.general.estimatedEndTime | translate">
        <nv-datebox
          formControlName="estimatedEndTime"
          [propagateInvalidDate]="true"
          [withTime]="true"
        ></nv-datebox>
      </nv-input-wrapper>
    </form>
  </div>
</nv-paper-view>
