:host {
  padding: 8px;
  border-top: 1px solid #e8e8e8;
  justify-content: flex-end;
  display: flex;
  background: #f5f5f5;
  border-radius: 0px 0px 4px 4px;
}

:host ::ng-deep button {
  margin-left: 6px;
}
