<nv-paper-view
  [routeBack]="!creationMode && routeBack"
  [customTitle]="
    creationMode ? (wording.general.create | translate) : (title$ | async)
  "
>
  <!-- actions -->
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <div class="form-wrap">
    <form
      #formElement
      [formGroup]="form"
      nz-form
      nzLayout="vertical"
      class="form"
    >
      <div class="col">
        <nv-fieldset>
          <nv-input-wrapper [label]="wording.accounting.no | translate">
            <input
              formControlName="no"
              type="number"
              [placeholder]="wording.accounting.no | translate"
              nz-input
            />
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.general.nameDe | translate">
            <input
              type="text"
              formControlName="labelDe"
              [placeholder]="wording.general.nameDe | translate"
              nz-input
            />
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.general.nameEn | translate">
            <input
              type="text"
              formControlName="labelEn"
              [placeholder]="wording.general.nameEn | translate"
              nz-input
            />
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.accounting.type | translate">
            <nz-select
              formControlName="type"
              nzShowSearch
              nzAllowClear
            >
              <nz-option
                *ngFor="let option of costCenterTypes | keyvalue"
                [nzLabel]="option.value | translate"
                [nzValue]="option.key"
                nzCustomContent
              >
                <div [attr.cost-type-option]="option.value.en">
                  {{ option.value | translate }}
                </div>
              </nz-option>
            </nz-select>
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.accounting.remark | translate">
            <textarea
              [nzAutosize]="{ minRows: 3, maxRows: 6 }"
              formControlName="remark"
              [placeholder]="wording.accounting.remark | translate"
              nz-input
            >
            </textarea>
          </nv-input-wrapper>
          <label
            class="is-active"
            formControlName="isActive"
            nz-checkbox
          >
            {{ wording.accounting.active | translate }}
          </label>
        </nv-fieldset>
      </div>
    </form>
  </div>
</nv-paper-view>