<nv-paper-view
  [ngClass]="[ ('has-' + buttonsCount + '-buttons') ]"
  [routeBack]="routeBack"
  [customTitle]="permissionsSitemapNode.title | translate"
>
  <nv-detail-view-actions
    *ngIf="activeSitemapEntry.key === permissionsSitemapNode.children.id.children.basic.path"
    [inEditingMode]="helperService.editMode"
    (saveClicked)="submit()"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    [showEditButton]="permissionGroups?.length"
    [editDisabled]="selectedGroup?.isSystemDefault && !(user?.isSuperAdmin || user?.isAdmin)"
    [saveDisabled]="!form?.controls.name.value"
    [form]="form"
    [formElement]="formElement"
  >
    <div class="additional-buttons">
      <ng-container *nvAccessControl="ACL_ACTIONS.CREATE">
        <button
          nz-button
          nzType="danger"
          (click)="enterCreationMode()"
          class="add-btn"
          data-crud-action-button="add"
          [nzTooltipTitle]="wording.general.add | translate"
          nz-tooltip
          *ngIf="ACL_ACTIONS.CREATE && !helperService.editMode"
        >
          <i nz-icon nzType="plus-circle"></i>
        </button>
      </ng-container>
      <ng-container *nvAccessControl="ACL_ACTIONS.DELETE">
        <button
          nz-button
          nzType="danger"
          class="delete-btn"
          (click)="delete()"
          data-crud-action-button="delete"
          [nzTooltipTitle]="wording.general.delete | translate"
          nz-tooltip
          *ngIf="!helperService.editMode"
          [disabled]="!selectedGroup || selectedGroup?.isSystemDefault ? !user?.isSuperAdmin : false"
        >
          <i nz-icon nzType="delete"></i>
        </button>
      </ng-container>
    </div>
  </nv-detail-view-actions>
  <div class="fieldsets-container">
    <nv-fieldset class="permission-groups" label="{{ wording.accounting.permissionGroups | translate }}">
      <form
        nz-form
        nzLayout="vertical"
        [formGroup]="form"
        [hidden]="!helperService.editMode"
        *ngIf="form"
        nvSpyElement
        (initialized)="formInitialized($event)"
      >
        <nv-input-wrapper
          [label]="wording.accounting.permissionGroupName | translate">
          <input
            #name
            formControlName="name"
            nz-input
          >
        </nv-input-wrapper>
        <nz-divider></nz-divider>
      </form>
      <nv-radio-select
        [ngModel]="selectedGroup?.id"
        (ngModelChange)="permissionGroupChange($event)"
        [sourceArray]="permissionGroups"
        [isDisabled]="helperService.editMode"
        [withRouterLink]="true"
      ></nv-radio-select>
    </nv-fieldset>
    <nv-fieldset class="grids-fieldset">
      <nv-router-tabs
        *ngIf="this.selectedGroup"
        [sitemapNode]="permissionsSitemapNode.children.id"
        [tabDisabler]="tabDisabler"
      ></nv-router-tabs>
    </nv-fieldset>
  </div>
</nv-paper-view>
