<!-- <p>login works!</p> -->
<div class="login-section">
  <div class="text-section">
    <span class="welcome">{{ 'welcome' | translate }}</span>
    <span class="login">{{ 'pleaseLoginToAcc' | translate }}</span>
  </div>

  <form id="login-form" (ngSubmit)="performLogin()">
    <mat-form-field class="login-form-att" hideRequiredMarker="true">
      <mat-label>{{ 'usernameOrEmail' | translate }}</mat-label>
      <input matInput [(ngModel)]="username" id="username" name="username" required autocomplete="username" />
    </mat-form-field>
    <mat-form-field class="password-form-field inline-icon" hideRequiredMarker="true">
      <mat-label>{{ 'password' | translate }}</mat-label>
      <input matInput [(ngModel)]="password" id="password" name="password" [type]="'password'" required autocomplete="current-password" />
    </mat-form-field>

    <!-- <mat-error
      *ngIf="errorData.status === 401"
      class="invalid-creds"
    >
      {{ errorData.error.details }}
    </mat-error> -->

    <button mat-raised-button color="primary" type="submit" class="login-button">{{ 'login' | translate }}</button>
  </form>

  <div class="forgot-password">
    <span class="forgot-password-text link" (click)="goToForgotPassword()">{{ 'forgotPasswordQ' | translate }}</span>
  </div>

  <div class="random-text">
    <div class="random-single-text">
      <i-feather name="dollar-sign"></i-feather>
      <span class="random-text-value" [innerHTML]="'reduceCosts' | translate"></span>
    </div>

    <div class="random-single-text">
      <i-feather name="clock"></i-feather>
      <span class="random-text-value" [innerHTML]="'shortenTimescales' | translate"> </span>
    </div>

    <div class="random-single-text">
      <i-feather name="repeat"></i-feather>
      <span class="random-text-value" [innerHTML]="'improveGlobalCollaboration' | translate"></span>
    </div>

    <div class="random-single-text">
      <i-feather name="feather"></i-feather>
      <span class="random-text-value bold">{{ 'sustainability' | translate }}</span>
    </div>

    <div class="random-single-text">
      <span class="privacy-notice" [innerHTML]="'readOurPrivacyNotice' | translate" (click)="goToPrivacyNotice($event)"> </span>
    </div>
  </div>
</div>
