.login-section {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;

  .text-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    .welcome {
      color: var(--color-main-darker);
      font-weight: bold;
      font-size: 40px;
      margin: 24px 0px;
    }

    .login {
      color: var(--color-main);
      font-size: 14px;
      margin-bottom: 24px;
    }
  }

  #login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 14px;

    .login-form-att {
      width: 100%;
    }

    .password-form-field {
      width: 100%;
    }

    .login-button {
      width: 100%;
    }

    .invalid-creds {
      margin-bottom: 6px;
      font-size: 12px;
    }
  }

  .forgot-password {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
    color: var(--color-danger);
  }

  .random-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    margin-bottom: 64px;

    .random-single-text {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 8px;

      i-feather {
        height: 20px;
        width: 20px;
        stroke-width: 1.5;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        color: var(--color-main-light);
      }

      .random-text-value {
        font-size: 14px;
        color: var(--color-main);
      }

      .privacy-notice {
        font-size: 12px;
        color: var(--color-main-light);
      }
    }
  }
}
