:host ::ng-deep .nv-content {
  flex-direction: row;

  >* {
    padding: 10px;
  }

  span.ant-radio+* {
    white-space: pre-line;
  }
}

.wrapper {
  height: 100%;
  display: flex;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  padding: 5px;
  overflow: auto;
  width: 100%;
  box-shadow: inset 0px 0px 5px 0px #d2d2d2;

  div:not(.flex-container) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    height: 100%;
  }
}

nv-grid {
  max-height: 175px;
  min-height: 175px;
}

nv-paper-view {
  flex-direction: row
}


.flex-container {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    opacity: 1;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    opacity: 1;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #c44747;
    transition: background-color .3s;
  }
}

:host ::ng-deep {
  .ant-row {
    display: block !important;
  }
}
