<nv-detail-view-actions
  header
  [inEditingMode]="editMode"
  (saveClicked)="submit()"
  (editClicked)="enterEditMode()"
  (cancelClicked)="cancelEditing()"
  [form]="form"
  [formElement]="formElement"
></nv-detail-view-actions>
<div
  class="wrapper"
  *ngIf="form"
  [formGroup]="form"
  nvSpyElement
  (initialized) = "formInitialized($event)"
>
    <div class="flex-container">
      <div>
        <label
          nz-checkbox
          formControlName="isActive"
        >
          {{wording.accounting.active | translate}}
        </label>
        <nv-mandator-autocomplete
          [form]="form"
          [filters]="{ isActive: true, isAutoBankWorkflow: true }"
        >
        </nv-mandator-autocomplete>
        <nv-input-wrapper
          [label]="wording.accounting.filterName | translate"
          [showErrMessages]="false"
          [redBorderError]="true"
        >
          <input
            nz-input
            type="text"
            formControlName="filterName"
            [maxlength]="100"
          >
        </nv-input-wrapper>
        <nv-input-wrapper [label]="wording.accounting.type | translate">
          <nz-radio-group formControlName="isValidForAllBankAccounts">
            <label
              nz-radio
              [nzValue]="true"
              [nzDisabled]="form.get('isValidForAllBankAccounts').disabled"
            >
              {{wording.accounting.filterValidity | translate}}
            </label>
            <label
              nz-radio
              [nzValue]="false"
              [nzDisabled]="form.get('isValidForAllBankAccounts').disabled"
            >
              {{wording.accounting.filterOnlyValidFor | translate}}
            </label>
          </nz-radio-group>
        </nv-input-wrapper>
        <nv-bank-account-autocomplete [form]="form"></nv-bank-account-autocomplete>
      </div>
      <div>
        <nv-input-wrapper [label]="wording.accounting.paymentType | translate">
          <nz-radio-group
            class="payment-type"
            formControlName="autobankPaymentType"
            (keydown.tab)="jumpToGrid()"
          >
            <label
              tabindex="0"
              nz-radio
              [nzValue]="PaymentType.RECEIPT"
              [nzDisabled]="form.get('autobankPaymentType').disabled"
            >
              {{wording.accounting.paymentReceipt | translate}}
            </label>
            <label
              nz-radio
              [nzValue]="PaymentType.OUTGOING"
              [nzDisabled]="form.get('autobankPaymentType').disabled"
            >
              {{wording.accounting.outgoingPayment | translate}}
            </label>
            <label
              nz-radio
              [nzValue]="PaymentType.BOTH"
              [nzDisabled]="form.get('autobankPaymentType').disabled"
            >
              {{wording.accounting.both | translate}}
            </label>
          </nz-radio-group>
        </nv-input-wrapper>
        <nv-grid
          #autobankFilterGrid
          [dataSource]="dataSource"
          [gridConfig]="autobankFilterConfig"
        >
          <ng-template
            nvEditColumnTemplate
            columnName="fieldTypeId"
            let-data
          >
            <ng-container [formGroup]="data.form">
              <nv-autocomplete
                [resource]="(autobankFieldTypeRepo.getStream() | async)"
                [properities]="['label' | labelKey]"
                [displayOneProperty]="true"
                [openListOnInit]="true"
                [setNullIfNotFound]="true"
                [minLengthToOpen]="0"
                [formControlName]="data.column.key"
                (tab)="data.externalEmitter.emit($event)"
                (enter)="data.externalEmitter.emit($event)"
                (escape)="data.externalEmitter.emit($event)"
                (blur)="data.externalEmitter.emit($event)"
              ></nv-autocomplete>
            </ng-container>
          </ng-template>
          <ng-template
            nvEditColumnTemplate
            columnName="operationTypeId"
            let-data
          >
            <ng-container [formGroup]="data.form">
              <nv-operation-type-autocomplete
                [showLabel]="false"
                [form]="data.form"
                [controlName]="data.column.key"
                [openListOnInit]="true"
                [autofocus]="true"
                [onlyOfField]="true"
                (tab)="data.externalEmitter.emit($event)"
                (enter)="data.externalEmitter.emit($event)"
                (escape)="data.externalEmitter.emit($event)"
                (blur)="data.externalEmitter.emit($event)"
              ></nv-operation-type-autocomplete>
            </ng-container>
          </ng-template>
          <ng-template
            nvEditColumnTemplate
            columnName="value"
            let-data
          >
            <ng-container [ngSwitch]="isGVC(data)">
              <ng-container *ngSwitchCase="true">
                <ng-container [formGroup]="data.form">
                  <nv-autobank-business-case-autocomplete
                    [showLabel]="false"
                    [form]="data.form"
                    [controlName]="data.column.key"
                    [openListOnInit]="true"
                    [autofocus]="true"
                    (tab)="data.externalEmitter.emit($event)"
                    (enter)="data.externalEmitter.emit($event)"
                    (escape)="data.externalEmitter.emit($event)"
                    (blur)="data.externalEmitter.emit($event)"
                  ></nv-autobank-business-case-autocomplete>
                </ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="false">
                <ng-container [formGroup]="data.form">
                  <nv-auto-focus
                    [formControlName]="data.column.key"
                    (tab)="data.externalEmitter.emit($event)"
                    (enter)="data.externalEmitter.emit($event)"
                    (escape)="data.externalEmitter.emit($event)"
                    (blur)="data.externalEmitter.emit($event)"
                    (next)="data.externalEmitter.emit(true)"
                  ></nv-auto-focus>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-template>
          <ng-template
            nvColumnTemplate
            columnName="value"
            let-data
            let-rowIndex="rowIndex"
          >
            {{getAutobankFilterDescription(data, rowIndex)}}
          </ng-template>
        </nv-grid>
      </div>
    </div>
    <div class="flex-container">
      <div class="flex-container">
        <div>
          <nv-mandator-autocomplete
            [form]="form"
            [controlName]="'bookingMandatorId'"
          ></nv-mandator-autocomplete>
          <nv-booking-code-autocomplete
            [form]="form"
            [onlyOfMandator]="true"
            [mandatorControlName]="'bookingMandatorId'"
          ></nv-booking-code-autocomplete>
          <nv-debitor-creditor-autocomplete [form]="form"></nv-debitor-creditor-autocomplete>
        </div>
        <div>
          <nv-booking-account-autocomplete
            [form]="form"
            [onlyOfMandator]="true"
            [mandatorControlName]="'bookingMandatorId'"
          >
          </nv-booking-account-autocomplete>
          <nv-input-wrapper
            [label]="wording.accounting.costCenter | translate"
            [showErrMessages]="false"
            [redBorderError]="true"
          >
            <input
              nz-input
              type="text"
              formControlName="costCenter"
            >
          </nv-input-wrapper>
          <nv-country-autocomplete [form]="form"></nv-country-autocomplete>
        </div>
        <div>
          <nv-input-wrapper
            [label]="wording.accounting.bookingText | translate"
            [showErrMessages]="false"
            [redBorderError]="true"
          >
            <input
              nz-input
              type="text"
              formControlName="bookingText"
              [maxLength]="50"
            >
          </nv-input-wrapper>
        </div>
      </div>
    </div>
</div>