@import 'global/breakpoints';

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: row;

  .expandable-part {
    display: flex;
    flex-direction: column;
    width: 70px;
    will-change: width;
    transition: width 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
    background-color: var(--color-white, #ffffff);

    &.expanded {
      width: 320px;
      visibility: initial;
    }

    .mev-logo {
      margin: 15px;
      display: flex;
      justify-content: flex-start;
      width: 100%;

      img {
        width: 40px;
        height: 40px;
      }
    }

    .company-part {
      display: flex;
      align-items: center;
      align-content: center;
      height: 260px;

      .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        align-content: center;

        .img {
          height: 100px;
          width: 100px;
          margin-bottom: 10px;
          cursor: pointer;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .title {
          font-size: 14px;
          font-weight: 600;
          color: var(--color-black, #000000);
        }

        .button {
          visibility: hidden;
          opacity: 0;
          transition: visibility 0.3s linear, opacity 0.3s linear;
        }

        &:hover {
          .button {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    .items {
      display: flex;
      flex-direction: column;
      margin: 0 15px;

      .item {
        border-radius: 4px;
        margin-bottom: 10px;

        .parent-item {
          display: flex;
          flex-direction: row;
          height: 40px;
          width: 100%;
          align-items: center;
          align-content: center;
          color: var(--color-main-darker, #282a3c);
          font-weight: 600;
          border-radius: 4px;

          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 4px;

            &.activated {
              color: var(--color-primary, #5849e0);
              background-color: var(--color-primary-background, #e4e0f1);
            }
          }

          .title {
            padding: 10px;

            &.activated {
              color: var(--color-primary, #5849e0);
            }
          }

          &.activated {
            color: var(--color-primary, #5849e0);
            background-color: var(--color-primary-background, #e4e0f1);
          }

          &.disabled {
            color: var(--color-main-light, #bbbbbb);
          }
        }

        .parent-item:hover {
          color: var(--color-primary, #5849e0);
          background-color: var(--color-primary-background, #e4e0f1);
          cursor: pointer;

          &.disabled {
            color: var(--color-main-light, #bbbbbb);
            background-color: unset;
          }
        }

        .item-children {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          color: var(--color-main-darker, #282a3c);
          font-weight: 600;
          margin-left: 80px;

          .item-child {
            display: flex;
            align-items: center;
            align-content: center;
            width: 100%;
            height: 40px;
            border-radius: 4px;

            .title {
              margin: 0 15px;
            }
          }

          .item-child:hover {
            color: var(--color-primary, #5849e0);
            background-color: var(--color-primary-background, #e4e0f1);
            cursor: pointer;
          }
        }
      }
    }
  }

  .expand-button {
    display: inline-block;
    position: relative;

    .wrapper {
      position: absolute;
      display: flex;
      align-items: center;
      align-content: center;
      margin-top: 110px;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      background-color: var(--color-white, #ffffff);
      width: 32px;
      height: 40px;
      box-shadow: 5px 3px 5px var(--color-black, #000000);
    }
  }

  .m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 500ms, opacity 500ms;

    @include mobile {
      visibility: visible;
      opacity: 1;
    }
  }
}

.sidebar:hover {
  .expand-button {
    visibility: visible;
    opacity: 1;
    transition-delay: 200ms;
  }
}
