<div class="sidebar">
  <div class="expandable-part" [class.expanded]="dataModel.isExpanded">
    <div class="mev-logo">
      <img src="{{ dataModel.logoUrl }}" alt="MEV_LOGO" />
    </div>
    <div class="company-part">
      <ng-container *ngIf="dataModel.isExpanded">
        <div class="wrapper">
          <div class="img">
            <ng-container *ngIf="dataModel.company.logoUrl">
              <img src="{{ dataModel.company.logoUrl }}" alt="logo" (click)="customEvent('goToDigitalProfile')" />
            </ng-container>
          </div>
          <div class="title">
            <ng-container *ngIf="dataModel.company.title">
              {{ dataModel.company.title }}
            </ng-container>
          </div>
          <div class="button">
            <ng-container *ngIf="dataModel.company.editButton">
              <me-button [dataModel]="dataModel.company.editButton" (clickEvent)="customEvent('clickedEditButton')">
                {{ dataModel.company.editButtonTitle }}
              </me-button>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="items">
      <div class="item" *ngFor="let item of dataModel.navItems">
        <div
          class="parent-item"
          [class.activated]="item.activated"
          [class.disabled]="item.disabled"
          (click)="item.disabled ? selectItem(null) : selectItem(item)"
        >
          <div class="icon" [class.activated]="item.activated">
            <me-icons name="{{ item.icon }}"></me-icons>
          </div>
          <ng-container *ngIf="dataModel.isExpanded">
            <div class="title" [class.activated]="item.activated">
              {{ item.title }}
            </div>
          </ng-container>
        </div>
        <ng-container *ngIf="item.children && item.activated && dataModel.isExpanded">
          <div class="item-children">
            <div *ngFor="let childItem of item.children" class="item-child" (click)="selectItem(childItem)">
              <div class="title">
                {{ childItem.title }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="expand-button m-fadeOut" *ngIf="dataModel.isCollapsible">
    <div class="wrapper">
      <ng-container *ngIf="dataModel.isExpanded">
        <i-feather name="chevron-left" (click)="toggleExpandableSidebar()"></i-feather>
      </ng-container>
      <ng-container *ngIf="!dataModel.isExpanded">
        <i-feather name="chevron-right" (click)="toggleExpandableSidebar()"></i-feather>
      </ng-container>
    </div>
  </div>
</div>
