<div class="component-wrap">
  <div class="nv-content content">
    <div class="actions-row">
      <nv-detail-view-actions
        [inEditingMode]="editMode"
        (editClicked)="enterEditMode()"
        (cancelClicked)="cancelEditing()"
        (saveClicked)="submit()"
        [form]="form"
        [formElement]="formElement"
      >
      </nv-detail-view-actions>
    </div>
    <div
      class="form-wrapper"
      *ngIf="form"
    >
      <form
        nvSpyElement
        (initialized)="formInitialized($event)"
        [formGroup]="form"
        class="form-group"
        nz-form
        nzLayout="vertical"
      >
        <div
          nz-row
          nzGutter="14"
        >
          <div
            nz-col
            nzSpan="12"
            nz-tooltip
            nzTooltipPlacement="topCenter"
            [nzTooltipTitle]="
              wording.chartering.toEditRemovePeriods | translate
            "
            [nzOverlayStyle]="{
              display: form.get('from').disabled && editMode ? 'block' : 'none'
            }"
          >
            <nv-input-wrapper
              class="date-picker"
              [label]="wording.general.from | translate"
            >
              <nv-datebox
                formControlName="from"
                [withTime]="true"
                [disabledFrom]="voyage?.until"
                [disabledUntil]="voyage?.from"
              ></nv-datebox>
            </nv-input-wrapper>
          </div>
          <div
            nz-col
            nzSpan="12"
            nz-tooltip
            nzTooltipPlacement="topCenter"
            [nzTooltipTitle]="
              wording.chartering.toEditRemovePeriods | translate
            "
            [nzOverlayStyle]="{
              display: form.get('until').disabled && editMode ? 'block' : 'none'
            }"
          >
            <nv-input-wrapper
              class="date-picker"
              [label]="wording.general.until | translate"
            >
              <nv-datebox
                formControlName="until"
                [withTime]="true"
                [disabledUntil]="voyage?.from"
                [disabledFrom]="voyage?.until"
              ></nv-datebox>
            </nv-input-wrapper>
          </div>
        </div>
        <div
          nz-row
          nzGutter="14"
        >
          <div
            nz-col
            nzSpan="24"
          >
            <nv-input-wrapper
              class="date-picker"
              [label]="wording.chartering.charterer | translate"
            >
              <nv-autocomplete
                [resource]="debitorsCreditors"
                [title]="wording.chartering.charterer | translate"
                [modalGridConfig]="debitorsCreditorsGridConfig"
                [properities]="['no', 'companyName']"
                formControlName="debitorCreditorId"
                (valueChange)="loadDefaultAddress($event)"
                [setNullIfNotFound]="true"
              >
              </nv-autocomplete>
            </nv-input-wrapper>
          </div>
        </div>
        <div
          nz-row
          nzGutter="14"
        >
          <div
            nz-col
            nzSpan="24"
          >
            <div class="overrideAddressWrapper">
              <label
                nz-checkbox
                formControlName="overrideAddress"
                (ngModelChange)="overrideAddressChanged($event)"
              >
                {{ wording.chartering.overrideBillingAddress | translate }}
              </label>
            </div>
            <nv-input-wrapper
              class="date-picker"
              [label]="wording.chartering.billingAddress | translate"
            >
              <textarea
                nz-input
                rows="4"
                formControlName="billingAddress"
              ></textarea>
            </nv-input-wrapper>
          </div>
        </div>
        <div
          nz-row
          nzGutter="14"
        >
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper
              class="date-picker"
              [label]="wording.chartering.charterParty | translate"
            >
              <textarea
                nz-input
                rows="4"
                formControlName="charterParty"
              ></textarea>
            </nv-input-wrapper>
          </div>
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper
              class="date-picker"
              [label]="wording.chartering.charterPartyDate | translate"
            >
              <nv-datebox formControlName="charterPartyDate"></nv-datebox>
            </nv-input-wrapper>
          </div>
        </div>
        <div
          nz-row
          nzGutter="14"
        >
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper
              class="date-picker"
              [label]="wording.chartering.laycanFrom | translate"
            >
              <nv-datebox
                formControlName="laycanFrom"
                [withTime]="true"
              ></nv-datebox>
            </nv-input-wrapper>
          </div>
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper
              class="date-picker"
              [label]="wording.chartering.laycanUntil | translate"
            >
              <nv-datebox
                formControlName="laycanUntil"
                [withTime]="true"
              ></nv-datebox>
            </nv-input-wrapper>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>