.nv-paper .nv-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.overrideAddressWrapper {
  margin-bottom: 10px;
}

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .component-wrap {
    display: flex;
    overflow: hidden;
  }
  .form-wrapper {
    overflow: auto;
    form {
      padding: 0 0.5rem;
    }
  }
}
