<nv-paper-view
  [state]="state"
  [routeBack]="comesFromAccountSheets ? goToPreviousRoute : goToParentUrl"
  [customTitle]="customTitle | translate"
  [contentWrapperStyle]="{ padding: '12px' }"
>
  <nv-detail-view-actions
    [showRefresh]="true"
    [showEditButton]="false"
    [refreshDisabled]="!form.valid && !comesFromAccountSheets"
    (refreshClicked)="search()"
  ></nv-detail-view-actions>
  <form [formGroup]="form">
    <nv-mandator-autocomplete
      [form]="form"
      [controlName]="'bookingMandatorId'"
      [autofocus]="true"
    >
    </nv-mandator-autocomplete>
    <nv-booking-account-autocomplete
      [form]="form"
      [onlyOfMandator]="true"
      [mandatorControlName]="'bookingMandatorId'"
      [resource]="accountLookup$"
    >
    </nv-booking-account-autocomplete>
    <button
      nz-button
      [disabled]="comesFromAccountSheets || isButtonDisabled(true)"
      (click)="next(true)"
    >
      <i
        nz-icon
        nzType="left"
      ></i>
    </button>
    <button
      nz-button
      [disabled]="comesFromAccountSheets || isButtonDisabled()"
      (click)="next()"
    >
      <i
        nz-icon
        nzType="right"
      ></i>
    </button>

    <nv-input-wrapper
      [label]="wording.accounting.accountingNorm | translate"
      className="vertical"
      [showErrMessages]="false"
      [requiredSymbol]="true"
    >
      <nz-radio-group
        formControlName="accountingNorm"
        nzButtonStyle="solid"
      >
        <label
          *ngFor="let accountingType of accountingTypeOptions"
          nz-radio-button
          [nzValue]="accountingType.value"
          [nzDisabled]="comesFromAccountSheets || accountingType.disabled"
        >
          {{ accountingType.displayLabel | translate }}
        </label>
      </nz-radio-group>
    </nv-input-wrapper>
  </form>

  <div class="grids">
    <nv-grid
      #mainGrid
      class="main-grid"
      [gridConfig]="gridConfig"
      [dataSource$]="openItemLines$"
      (filtered)="handleGridFilterChanged()"
    >
    </nv-grid>

    <form
      [formGroup]="formSummary"
      class="formSummary"
    >
      <nv-input-wrapper
        [label]="wording.accounting.currency | translate"
        className="vertical"
      >
        <nz-select
          formControlName="currencyId"
          class="currency-select"
        >
          <nz-option
            nzValue="default"
            [nzLabel]="wording.general.all | translate"
          ></nz-option>
          <nz-option
            *ngFor="let currency of displayedCurrencies$ | async"
            [nzLabel]="currency.isoCode"
            [nzValue]="currency.id"
          >
          </nz-option>
        </nz-select>
      </nv-input-wrapper>
    </form>

    <nv-grid
      class="side-grid"
      [gridConfig]="sideGridConfig"
      [dataSource$]="currencyData$"
    ></nv-grid>
  </div>

</nv-paper-view>