form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

form>* {
  margin-right: 5px;
}

.main-grid {
  margin-top: 10px;
}

nv-mandator-autocomplete ::ng-deep nv-input-wrapper nz-form-item {
  flex-direction: column;
  width: 300px;
}

nv-booking-account-autocomplete ::ng-deep nv-input-wrapper nz-form-item {
  flex-direction: column;
  width: 300px;
}

.grids {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 90%;
}

.formSummary {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 10px;
}

.formSummary>* {
  margin-right: 5px;
}

.currency-select {
  width: 80px;
}

.side-grid {
  height: 104px;
  width: fit-content;
  margin-top: 10px;
}