<nv-grid
  [gridConfig]="gridConfig"
  [dataSource$]="flagHistory$"
  (gridConfigChangedOnSave)="gridConfigService.update($event)"
>
  <ng-template nvColumnTemplate let-cell columnName="flagPath" let-data>
    <ng-container>
      <img [src]="data" default="assets/no-flag.png" alt="country-flag" />
    </ng-container>
  </ng-template>
</nv-grid>
