:host ::ng-deep nv-grid .grid-body-container .grid-row [data-cell="flagPath"] .grid-cell {
  text-align: center;
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  img {
    width: 35px;
  }
}
nv-grid {
  max-height: 270px;
  margin: 13px 0px;
}

