.messages-container {
  margin: 20px;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 40px);

  .messages {
    height: 300px;
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    max-height: 300px;

    .no-messages {
      text-align: center;
      padding:30px;
      list-style-type: none;
      font-size: 20px;
    }

    .message {
      width: 100%;
      float: left;
      margin-bottom: 10px;
      
      span {
        border-bottom: 1px solid #efefef;
        color: #d11245;
      }

      &:last-child {
        border-bottom: 0;
      }

      div {
        padding: 10px;
        list-style-type: none;
        width: 50%;
        border: 1px solid #ccc;
        border-radius: 10px;
      }
    }
  }

  .notification {
    div {
      padding: 2px;
      border: 0px !important;
      color: #d11245;
      text-align: center;
      width: 100% !important;
      background-color: #fff !important;
    }
  }

  .send-message-form {
    width: 100%;
    padding: 10px;
    background-color: #ccc;

    button {
      margin-top: 10px;
    }
  }
}

.online-users {
  padding: 0;
  border-right: 1px solid #ccc;
  float: left;
  height: 428px;
  width: 250px;
  margin: 0;

  li {
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
  }
}

.direct-receiver {
  background-color: #d11245;
  color: #fff;
}

.message-section {
  float: right;
  width: calc(100% - 250px);
}

.full-width {
  width: 100%;
}

.sender {
  float: right;
  background-color: #f5f5f5;
}

.receiver {
  float: left;
  background-color: #fff;
}