<div class="messages-container" nz-row>
  <ul class="online-users" *ngIf="mode !== 'all'">
    <ng-container *ngIf="mode === 'direct'">
      <li
        *ngFor="let user of onlineUsers"
        (click)="changeDirectReceiver(user)"
        [ngClass]="{'direct-receiver': directReceiver && (user.name === directReceiver.name)}"
      >
        {{ user.name }}
      </li>
    </ng-container>
    <ng-container *ngIf="mode === 'group'">
      <li
        *ngFor="let group of allGroups"
        (click)="changeGroup(group.name)"
        [ngClass]="{'direct-receiver': currentGroup === group.name}"
      >
        {{ group.name }}
      </li>
    </ng-container>
  </ul>
  
  <div class="message-section" [ngClass]="{'full-width': mode === 'all'}">
    <ul class="messages" nz-row #scrollMe>
      <li
        class="no-messages"
        *ngIf="(messages[mode === 'direct'
          ? directRoomId
          : mode === 'all' ? 'all' : currentGroup] || []
        ).length === 0"
      >
        {{ directReceiver || currentGroup || mode === 'all'
            ? 'There is not any message'
            : 'Please select a conversation to start chatting'
        }}
      </li>
      <li
        class="message"
        *ngFor="let message of (messages[mode === 'direct'
          ? directRoomId
          : mode === 'all' ? 'all' : currentGroup] || []
        )"
        [ngClass]="{'notification': message.isNotification}"
      >
        <div [class]="message.senderName === currentUser.name ? 'sender' : 'receiver'">
          <span *ngIf="!message.isNotification"><strong>{{ message.senderName }}</strong></span>
          <p>{{ message.message }}</p>
        </div>
      </li>
    </ul>
    <div
      class="send-message-form"
      nz-row
      *ngIf="directReceiver || currentGroup || mode === 'all'"
    >
      <textarea
        nz-input
        type="text"
        class="send-message-input"
        [(ngModel)]="messageToSend"
        placeholder="type your message here..."
      >
      </textarea>
      <button
        nz-button
        nzType="primary"
        class="send-message-button"
        (click)="sendMessage()"
        [disabled]="!messageToSend"
      >Send</button>
    </div>
  </div>
</div>