<div>
  <div class="flex">
    <input
      ng-hide
      type="file"
      class="nv-hide"
      id="inputFileDocument"
      (change)="onFileChange($event)"
      #fileInput
    />
  </div>

  <nv-grid
    content
    [gridConfig]="gridConfig"
    [dataSource$]="dataSource$"
    (gridConfigChangedOnSave)="gridConfigService.update($event)"
  >
  </nv-grid>
</div>
