<div
  nz-popover
  [nzPopoverTitle]="(wording.general.topbarNotifications | translate)"
  nzOverlayClassName="logs"
  class="notifications"
  [nzPopoverContent]="logsList"
  nzPopoverPlacement="bottomRight"
  (nzPopoverVisibleChange)="popoverVisibilityChanged($event)"
  nzPopoverTrigger="click"
  [(nzPopoverVisible)]="visible"
>
  <nz-badge
    [nzCount]="unseenCount$ | async"
    [nzStyle]="{
    'background-color': '#46bdca',
    border: 'none',
    'box-shadow': 'none',
    display: !(unseenCount$ | async) ? 'none' : 'initial'
  }"
  >
    <i
      nz-icon
      nzType="bell"
      class="notification-icon"
    ></i>
  </nz-badge>
</div>


<ng-template #logsList>
  <div class='fb popover-content'>
    <div
      class='fb'
      *ngIf="!(logs | async)?.length"
      style="height: 200px; align-items: center; justify-content: center;"
    >
      There are currently no notifications for you.
    </div>
    <div
      *ngFor="let log of logs | async"
      class="notification"
      nz-row
      nzType="flex"
      nzJustify="start"
      nzAlign="middle"
      [ngClass]="{'unseen-notification': log.unseen}"
    >


      <div class='fb avatar-wrapper'>
        <nv-mini-avatar [user]="log.user"></nv-mini-avatar>
      </div>
      <div class='fb content'>
        <div class='fb extra-info'>
          <div class='fb date'>
            {{ log.date | toCurrentDateFormat : { withTime: true } : '-' }}
          </div>
        </div>
        <div
          class="fb message"
          [innerHTML]="(log.message | translate) | safeHTML"
        ></div>
        <div *ngIf="log.documentGuid">
          <button nz-button nzType="link" (click)="downloadClicked( log.documentGuid)">Download...</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
