<div>
  <form [formGroup]="form" nz-form nzLayout="vertical">
    <div class="form-group">
      <div class="form-row-host">
        <nv-autocomplete
          [resource]="bookingCodes$ | async"
          [properities]="['no', 'label' | labelKey]"
          formControlName="bookingCodeId"
          [modalGridConfig]="gridConfig"
          [title]="wording.accounting.bookingCodes"
          [setNullIfNotFound]="true"
        ></nv-autocomplete>
      </div>
    </div>
  </form>
  <nv-modal-footer>
    <button nz-button nzType="info" (click)="closeModal()">
      {{ wording.general.cancel | translate }}
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="saveClicked()"
      [disabled]="!(isValid$ | async)"
    >
      {{ wording.general.save | translate }}
    </button>
  </nv-modal-footer>
</div>
