<div class="main">
  <div class="body">
    <nv-grid
      [gridConfig]="gridConfig"
      [dataSource$]="dataSource$"
      (rowSelectionChanged)="rowSelect($event)"
    ></nv-grid>
  </div>
  <nv-modal-footer>
    <button
      (click)="submit()"
      nz-button
      nzType="primary"
    >
      {{ wording.general.submit | translate }}
    </button>
  </nv-modal-footer>
</div>
 