<div class="l-video-container"
     [ngClass]="showControls ? 'l-fixed-controls' : ''">
    <lavash-media-control [mediaType]="video"
                          [hasSpeedControl]="hasSpeedControl">
        <video width="100%"
               preload=”none”
               [poster]="videoPosterPath + videoPosterSrc"
               #video>
            <source [src]="videoPath + videoSrc" type="video/mp4">
            <!--track label="English" kind="subtitles" srclang="en" [src]="videoPath +  'captions.vtt'" default-->
            Your browser does not support the video tag.
        </video>

    </lavash-media-control>
</div>


