@import '../../../assets/less/variables.less';

:host ::ng-deep {
  .l-video-container {
    position: relative;

    &:hover {
      .l-controls-container {
          bottom: 0;
          opacity: 1;
          pointer-events: all;
      }
    }

    &.l-fixed-controls {
      .l-controls-container {
        bottom: 0;
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  .l-controls-container {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .005) 0%, rgba(0, 0, 0, .45) 75%);
    z-index: 9999;
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    opacity: 0;
    pointer-events: none;
    .transition;
  }

  .l-container-fullscreen {
    position: relative;

    video {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }

    &.l-width-strech {
      video {
        width: 100%;
        height: auto;
      }
    }

    &.l-height-strech {
      video {
        width: auto;
        height: 100%;
      }
    }
  }
}