.spinner-wrapper{
  width: 100%;
  font-size: 34px;
  text-align: center;
}

.layout {
  height: 100%;

  .header {
    width:100%;
    background: none;
    line-height: normal;
    min-height: 60px;
    height: initial;
    padding: 0px;
    z-index: 10;
  }

  .content-wrapper {
    display: flex;

    .main-content{
      padding: 6px;
      overflow-y: auto;
      flex-direction: column;
      flex: 1 1 auto;
      display: flex;
      > *:not(router-outlet) {
        display: flex;
        flex: 1 1 auto;
        overflow: hidden;
      }
    }
  }
}
