<nz-layout class="layout">
  <nz-header class="header">
    <nv-topbar [isOnline]="isOnline$ | async"></nv-topbar>
  </nz-header>
  <nv-loading-spinner *ngIf="isLoading$ | async"></nv-loading-spinner>
  <nv-breadcrumbs></nv-breadcrumbs>

  <nz-content class="content-wrapper">

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

  </nz-content>
</nz-layout>
