<nv-text-formatter [text]="wording.system.selectLegalType | translate"></nv-text-formatter>

<nv-legal-type-dropdown
  [legalForm]="legalForm"
  [legalFormType]="legalFormType"
  (legalFormChange)="onLegalFormChange($event)"
></nv-legal-type-dropdown>

<div class="footer">
  <div>
    <button
      nz-button
      nzType="default"
      (click)="cancel()"
    >
      {{ wording.general.cancel | translate  }}
    </button>
    <button
      nz-button
      nzType="primary"
      [disabled]="!legalForm || (!!legalFormTypeLength && !legalFormType)"
      (click)="create()"
    >
      {{ wording.general.create | translate  }}
    </button>
  </div>
</div>
