:host ::ng-deep{

  nv-text-formatter {
    display: block;
    padding-bottom: 38px;
  }

  .footer {
    display: flex;
    border-top: 1px solid #e8e8e8;
    padding: 10px;

    div {
      margin-left: auto;
    }

    button {
      margin: 0 5px;
    }
  }
}

::ng-deep {
  .nv-shareholding-modal  {
    .ant-modal-confirm-body-wrapper {
      padding: 38px 38px 0;
    }

    .ant-modal-confirm {
      .ant-modal-confirm-btns {
        display: none;
      }
    }

    .ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
      margin-left: 28px;
      margin-top: 2px;
    }
  }
}
