:host {
    width: 100%;
    display: block;
}

.accordion-header {
    display: block;
    width: 100%;
    background: #999999;
}

.accordion-body {
    padding: 10px;
    border: 1px solid;
    display: none;
    transition: all .3s;
}

:host([open="true"]) .accordion-body {
    display: block;
}

:host([open="false"]) .accordion-body {
    display: none;
}

