<nv-paper-view
  [routeBack]="routeBack"
  [customTitle]="
    creationMode ? (wording.general.create | translate) : (title$ | async)
  "
>
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <div class="form-wrap">
    <form #formElement [formGroup]="form" nz-form nzLayout="vertical">
      <nv-input-wrapper [label]="wording.general.nameEn | translate">
        <input formControlName="labelEn" type="text" nz-input />
      </nv-input-wrapper>

      <nv-input-wrapper [label]="wording.general.nameDe | translate">
        <input formControlName="labelDe" type="text" nz-input />
      </nv-input-wrapper>

      <nv-input-wrapper [label]="wording.technicalManagement.code | translate">
        <input formControlName="code" type="text" nz-input />
      </nv-input-wrapper>

      <nv-input-wrapper
        [label]="wording.technicalManagement.decimalPlaces | translate"
      >
        <input formControlName="decimalPlaces" type="text" nz-input />
      </nv-input-wrapper>
      <div class="form-row-host">
        <label nz-checkbox formControlName="isSystemDefault">
          {{ wording.general.systemDefault | translate }}
        </label>
      </div>
      <div class="form-row-host">
        <label nz-checkbox formControlName="isActive">
          {{ wording.general.active | translate }}
        </label>
      </div>
    </form>
  </div>
</nv-paper-view>
