$star-color: #FFEB3B;

nv-paper-view {
  min-width: 920px;
}

.voyageListViewMain {
  max-height: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  .search-wrap {
    width: 100%;
    nz-input-group {
      padding: 0px 5px;
      display: flex;
      align-items: center;
      input {
        padding: 4px 0px;
      }
    }
  }

  .tree-wrap {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    border-right: 1px solid #ebebeb;
    min-width: 400px;

    .tree-header {
      padding: 10px;
      background: #f6f6f6;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ebebeb;

      .toggleFavoriteButton {
        display: flex;
        cursor: pointer;
        margin-left: 3px;

        &.active {
          color: #c44747;
        }
      }
    }

    .vesselListWrapper {
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;


      .vesselItem {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ebebeb;
        height: 30px;
        padding: 0px 2px;
        padding-left: 12px;
        align-items: center;

        &.active {
          background: #f6f6f6;
        }

        a {
          color: #595959;

          &:hover{
            text-decoration: underline;
          }

          &.active {
            color: #c15656;
            font-weight: 500;
          }
        }

        .iconWrapper {
          cursor: pointer;
          padding: 0px 4px;
          border-radius: 2px;
          font-size: 16px;

          &:hover {
            background: #ececec;
          }
        }
      }
    }
  }

  .main-content {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    :not(router-outlet) {
      overflow: hidden;
    }
    h2 {
      margin-bottom: 0px;
      height: min-content;
      color: #be4343;
    }
    .centered {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.favorite {
  color: #c44747;
}

.not-favorite {
  color: #5d5d5d;
}
