<nv-paper-view>
  <div class="voyageListViewMain" >
        <div class="tree-wrap">
          <div class="tree-header">
            <div class="search-wrap e2e-search-wrap">
              <nz-input-group [nzSuffix]="suffixIcon">
                <input
                  type="text"
                  nz-input
                  placeholder="Search"
                  [(ngModel)]="searchValue"
                  (keyup)="search()"
                />
              </nz-input-group>
              <ng-template #suffixIcon>
                <i nz-icon nzType="search"></i>
              </ng-template>
            </div>
              <div class="e2e-toggleFavoriteButton toggleFavoriteButton" [ngClass]="{active: favotiteActive}" >
                <button
                  nz-button
                  (click)="filterFavorites()"
                  [nzTooltipTitle]="wording.general.filterFavorites | translate"
                  nz-tooltip
                >
                  <i
                    nz-icon
                    nzType="star"
                    [nzTheme]="favotiteActive ? 'fill' : 'outline'"
                    [ngStyle]="{
                      'margin-top': '4px',
                      color: favotiteActive ? '#c44747' : '#5d5d5d'
                    }"
                  ></i>
                </button>
              </div>
          </div>
          <div class="vesselListWrapper" >
            <div
              class="vesselItem e2e-vesselItem"
              *ngFor="let node of viewVessels"
              [class.active]="node.id === selectedVesselAccountingId"
              [attr.data-vessel-name]="node.vesselName"
            >
              <div class="vessel-wrap e2e-vessel-wrap">
                <a
                  [class.active]="node.id === selectedVesselAccountingId"
                  (click)="vesselSelect(node)">
                    {{node.vesselNo}} {{node.vesselName}}
                    <ng-container *ngIf="node.charterName">({{node.charterName}})</ng-container>
                </a>
              </div>
              <div
                class="iconWrapper e2e-iconWrapper"
                (click)="toggleFavorite(node)"
                [class.active]="node.isFavorite"
              >
                <i
                  nz-icon
                  nzType="star"
                  [nzTheme]="node.isFavorite ? 'fill' : 'outline'"
                  [ngClass]="node.isFavorite ? 'favorite' : 'not-favorite'"
                ></i>
              </div>
            </div>
          </div>
      </div>
    <div class="main-content">
      <h2 *ngIf="selectedVesselAccoutning">
        {{ vesselTitle }}
      </h2>
      <app-voyage-list *ngIf="selectedVesselAccountingId"></app-voyage-list>

      <div class="centered" *ngIf="!selectedVesselAccountingId">
          <h3>{{wording.chartering.noVesselSelected | translate}}</h3>
          <h4>{{wording.chartering.selectVessel | translate}}</h4>
      </div>
    </div>
  </div>
</nv-paper-view>
