<nv-paper-view>
  <p>
    acl works!
  </p>
  <!-- <nv-foo
    *nvAccessControl="READ; zone:'main.test.acl.foo'"
  >
  </nv-foo>
  <nv-bar
    *nvAccessControl="UPDATE; zone:'main.test.acl.bar'"
  >
  </nv-bar>
  <nv-baz
    *nvAccessControl="READ; zone:'main.test.acl.baz'"
  >
  </nv-baz> -->

  <nv-access-control zone="main.test.acl.secretSection">
    <div>Hi! congratulations you have access to me!!!</div>
    <nv-test1></nv-test1>
    <nv-test2></nv-test2>
    <nv-test3></nv-test3>
  </nv-access-control>
</nv-paper-view>

