:host {
    flex: 1 1 auto;
    display: flex;
}

.header {
  padding: 10px;
  flex-direction: row;
  align-items: center;
}

.content {
  padding: 26px;
  padding-top: 8px;
}

.flexFormGroup {
  display: flex;
}

.mandator-logo {
  height: 120px;
}

:host ::ng-deep .date-picker {
  nz-date-picker, nz-year-picker {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    nz-picker {
      width: 100%;

      :first-child {
        width: 100%;
      }
    }
  }
}

.full-container {
  margin: 10px 0;
  width: fit-content;

  .blocking-section {
    width: 100%;
  }
}

.status-inline {
  margin-right: 10px
}

.status-remark {
  height: 60px;
}

.checkboxes {
  div {
    padding-bottom: 10px;
  }
}

.error {
  color: #c44747;
}

.logo-wrapper{
  flex: 0 0 auto;
  width: 100%;
  height: 100%;

  .logo{
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.is-acitve-checkbox {
  margin-top: 8px;
  margin-left: 0px;
  padding: 4px;
  border-radius: 2px;
  padding-left: 6px;
}

.show-closed-years-checkbox-wrapper {
  margin-bottom: 6px;
}

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 0.5rem;
  .component-wrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0 0.5rem;
    .form-wrap {
      overflow: auto;
      padding: 0px 15px;
    }
  }
}

:host ::ng-deep {
  [formcontrolname="legalForm"] .ant-select-arrow {
    display: none;
  }
}
