<div class="component-wrap">
  <nv-detail-view-actions
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  >
  </nv-detail-view-actions>

  <div class="form-wrap">
    <div class="full-container">
      <form 
      *ngIf="form" 
      nvSpyElement
      (initialized) = "formInitialized($event)"
      [formGroup]="form" 
      nz-form 
      nzLayout="vertical">
        <div nz-row nzGutter="28" class="section">
          <div nz-col nzSpan="10">
            <nv-fieldset [label]="wording.accounting.mandator | translate">
              <nv-input-wrapper
                [label]="wording.accounting.mandatorNumber | translate"
              >
                <input formControlName="no" type="number" nz-input />
              </nv-input-wrapper>
              <nv-input-wrapper
                [label]="wording.accounting.mandatorName | translate"
              >
                <input formControlName="name" type="text" nz-input />
              </nv-input-wrapper>
              <nv-input-wrapper
                [label]="wording.accounting.mandatorCompanyName | translate"
              >
                <nv-autocomplete
                  [resource]="companies"
                  [title]="wording.accounting.mandatorCompanyName | translate"
                  [modalGridConfig]="companyGridConfig"
                  [properities]="['companyName']"
                  formControlName="companyId"
                  [setNullIfNotFound]="true"
                  [autofocus]="false"
                ></nv-autocomplete>
              </nv-input-wrapper>
              <nv-input-wrapper
                [label]="wording.accounting.legalForm | translate"
              >
                <nz-select
                  nzAllowClear
                  nzShowSearch
                  formControlName="legalForm"
                >
                  <nz-option
                    *ngFor="let legalForm of legalFormOptions"
                    [nzValue]="legalForm.value"
                    [nzLabel]="legalForm.displayLabel | translate"
                    nzCustomContent
                  >
                    <div
                      [attr.data-legal-form-option]="legalForm.displayLabel.en"
                    >
                      {{ legalForm.displayLabel | translate }}
                    </div>
                  </nz-option>
                </nz-select>
              </nv-input-wrapper>
              <nv-input-wrapper
                class="date-picker"
                [label]="wording.general.start | translate"
              >
                <nv-datebox formControlName="start"> </nv-datebox>
              </nv-input-wrapper>
              <nv-input-wrapper
                class="date-picker"
                [label]="wording.accounting.firstBookingYear | translate"
              >
                <nz-year-picker formControlName="firstBookingYear">
                </nz-year-picker>
              </nv-input-wrapper>
              <nv-input-wrapper
                [label]="wording.accounting.mandatorType | translate"
              >
                <nz-select
                  formControlName="mandatorType"
                  nzShowSearch
                  nzAllowClear
                >
                  <nz-option
                    *ngFor="let mandatorType of mandatorTypes"
                    [nzLabel]="mandatorType.displayLabel | translate"
                    [nzValue]="mandatorType.value"
                    nzCustomContent
                  >
                    <div
                      [attr.mandator-type-option]="mandatorType.displayLabel.en"
                    >
                      {{ mandatorType.displayLabel | translate }}
                    </div>
                  </nz-option>
                </nz-select>
              </nv-input-wrapper>

              <div class="is-acitve-checkbox" *ngIf="showIsActiveCheckbox">
                <label
                  nz-checkbox
                  formControlName="isActive"
                  data-checkbox="isActive"
                >
                  {{ wording.general.active | translate }}
                </label>
              </div>
            </nv-fieldset>
          </div>
          <div nz-col nzSpan="14">
            <nv-fieldset
              [label]="wording.general.logo | translate"
              *ngIf="mandator"
            >
              <div class="mandator-logo">
                <div class="logo-wrapper">
                  <img
                    class="fb logo"
                    alt="company-logo"
                    [src]="
                      companyLogoId
                        ? (companyLogoId | imgSrc)
                        : 'assets/company_logo.jpg'
                    "
                  />
                </div>
              </div>
            </nv-fieldset>

            <nv-fieldset [label]="wording.general.settings | translate">
              <div nz-row>
                <div nz-col nzSpan="8">
                  <label
                    nz-checkbox
                    formControlName="isCostAccounting"
                    data-checkbox="isCostAccounting"
                  >
                    {{ wording.accounting.costAccounting | translate }}
                  </label>
                </div>
                <div nz-col nzSpan="8">
                  <label
                    nz-checkbox
                    formControlName="isInvoiceWorkflow"
                    data-checkbox="isInvoiceWorkflow"
                  >
                    {{ wording.accounting.invoiceWorkflow | translate }}
                  </label>
                </div>
                <div nz-col nzSpan="8">
                  <label
                    nz-checkbox
                    formControlName="isAutoBankWorkflow"
                    data-checkbox="isAutoBankWorkflow"
                  >
                    {{ wording.accounting.autobankWorkflow | translate }}
                  </label>
                </div>
                <div nz-col nzSpan="8">
                  <label
                    nz-checkbox
                    formControlName="isPaymentTransfer"
                    data-checkbox="isPaymentTransfer"
                  >
                    {{ wording.accounting.paymentTransfer | translate }}
                  </label>
                </div>
              </div>
            </nv-fieldset>
            <nv-fieldset [label]="wording.accounting.accounting | translate">
              <nz-checkbox-wrapper
                style="margin-bottom: 12px"
                (nzOnChange)="accountingTypeChange($event)"
                formGroupName="accountingCheckboxGroup"
              >
                <div class="form-row-host">
                  <label
                    nz-checkbox
                    formControlName="isHgbAccounting"
                    [nzValue]="ACCOUNTING_TYPES.HGB"
                    data-checkbox="isHgbAccounting"
                  >
                    {{ wording.accounting.hgbAccounting | translate }}
                  </label>
                </div>
                <div class="form-row-host">
                  <label
                    nz-checkbox
                    formControlName="isIfrsAccounting"
                    [nzValue]="ACCOUNTING_TYPES.IFRS"
                    data-checkbox="isIfrsAccounting"
                  >
                    {{ wording.accounting.ifrsAccounting | translate }}
                  </label>
                </div>
                <div class="form-row-host">
                  <label
                    nz-checkbox
                    formControlName="isUsgaapAccounting"
                    [nzValue]="ACCOUNTING_TYPES.USGAAP"
                    data-checkbox="isUsgaapAccounting"
                  >
                    {{ wording.accounting.usgaapAccounting | translate }}
                  </label>
                </div>
                <div class="form-row-host">
                  <label
                    nz-checkbox
                    formControlName="eBalanceAccounting"
                    [nzValue]="ACCOUNTING_TYPES.EBalance"
                    data-checkbox="eBalanceAccounting"
                  >
                    {{ wording.accounting.eBalanceAccounting | translate }}
                  </label>
                </div>
                <div
                  class="error"
                  *ngIf="
                    form.controls['accountingCheckboxGroup'].errors &&
                    form.controls['accountingCheckboxGroup'].errors
                      .requiredCheckboxes &&
                    form.controls['accountingCheckboxGroup']!.dirty
                  "
                >
                  {{
                    form.controls["accountingCheckboxGroup"].errors
                      .requiredCheckboxes.message | translate
                  }}
                </div>
              </nz-checkbox-wrapper>
              <nv-input-wrapper
                [label]="wording.accounting.startFiscalYear | translate"
              >
                <input
                  formControlName="startFiscalYear"
                  type="number"
                  nz-input
                />
              </nv-input-wrapper>

              <nv-input-wrapper
                [label]="wording.accounting.localCurrency | translate"
              >
                <nv-autocomplete
                  [title]="wording.accounting.localCurrency | translate"
                  [resource]="currencies$ | async"
                  [modalGridConfig]="currencyGridConfig"
                  [properities]="['isoCode', 'label' | labelKey]"
                  formControlName="currencyId"
                  [autofocus]="false"
                  [setNullIfNotFound]="true"
                >
                </nv-autocomplete>
              </nv-input-wrapper>
            </nv-fieldset>
          </div>
        </div>
      </form>
      <div class="section blocking-section" nz-row>
        <div nz-col nzSpan="28">
          <nv-fieldset
            *ngIf="mandator"
            [label]="wording.general.settings | translate"
          >
            <div class="show-closed-years-checkbox-wrapper">
              <label
                nz-checkbox
                [(ngModel)]="showClosedBookingYears"
                data-checkbox="showClosedBookingYears"
              >
                {{ wording.accounting.showClosedYears | translate }}
              </label>
            </div>
            <nv-blocked-years-section
              [canUpdate]="
                authService.canUpdate('accounting.booking.mandators')
              "
              [closedYears]="closedYears_editable"
              [blockedYears]="blockedYears_editable"
              [firstBookingYear]="resource.firstBookingYear"
              [showClosedBookingYears]="showClosedBookingYears"
              [editMode]="editMode"
              (blockedYearsChanged)="blockedYearsChanged($event)"
              (closedYearsChanged)="closedYearsChanged($event)"
            >
            </nv-blocked-years-section>
          </nv-fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
