<nv-paper-view
  [routeBack]="!creationMode && routeBack"
  [customTitle]="creationMode
      ? (wording.general.create | translate)
      : (title$ | async)"
>
  <!-- actions -->
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <div class="form-wrap">
    <form
      #formElement
      [formGroup]="form"
      nz-form
      nzLayout='vertical'
      class="form"
    >
      <div class="col">
        <nv-fieldset>
          <nv-input-wrapper [label]="wording.accounting.no | translate">
            <input
              formControlName="no"
              type="number"
              [placeholder]="wording.accounting.no | translate"
              nz-input
            >
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.general.nameEn | translate">
            <input
              type="text"
              formControlName="labelEn"
              [placeholder]="wording.general.nameEn | translate"
              nz-input
            >
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.general.nameDe | translate">
            <input
              type="text"
              formControlName="labelDe"
              [placeholder]="wording.general.nameDe | translate"
              nz-input
            >
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.accounting.category | translate">
            <nz-select
              formControlName="accountingRelation"
              nzShowSearch
              nzAllowClear
            >
              <nz-option
                *ngFor="let option of accountingRelationOptions"
                [nzLabel]="option.displayLabel | translate"
                [nzValue]="option.value"
                nzCustomContent
              >
                <div [attr.cost-type-option]="option.displayLabel.en">
                  {{ option.displayLabel | translate }}
                </div>
              </nz-option>
            </nz-select>
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.accounting.remark | translate">
            <textarea
              [nzAutosize]="{ minRows: 2, maxRows: 4 }"
              formControlName="remark"
              [placeholder]="wording.accounting.remark | translate"
              nz-input
            >
          </textarea>
          </nv-input-wrapper>
        </nv-fieldset>
      </div>
      <div class="col">
        <nv-fieldset>
          <div class="isOpex">
            <label
              nz-checkbox
              formControlName="isOpex"
              (nzCheckedChange)="onIsOpexChange($event)"
            >
              {{wording.accounting.opexVesselOperation | translate}}
            </label>
          </div>
          <nv-input-wrapper
            *ngIf="form.get('isOpex').value"
            [label]="wording.accounting.opexType | translate"
          >
            <nz-radio-group formControlName="opexType">
              <span *ngFor="let option of opexTypeOptions">
                <label
                  nz-radio
                  [nzDisabled]="form.get('opexType').disabled"
                  [nzValue]="option.value"
                >
                  {{ option.displayLabel | translate }}
                </label>
                <br />
              </span>
            </nz-radio-group>
          </nv-input-wrapper>
        </nv-fieldset>
        <div class="col">
          <label
            formControlName="isActive"
            (nzCheckedChange)="onIsActiveChange($event)"
            nz-checkbox
          >
            {{wording.accounting.active | translate}}
          </label>
        </div>
      </div>
    </form>
  </div>

</nv-paper-view>