:host {
  .form {
    width: 100%;
    display: flex;

    div.col {
      width: 100%;
      padding: 5px;
    }

    .isOpex {
      margin-bottom: 15px;
    }

    .nz-radio-group {
      span {
        margin-top: 5px;
      }
    }
  }

  .error {
    color: #c44747;
  }
}
