@import "../../../core/styles/_variables.scss";

:host {
  max-width: 100%;
  width: 100%;

  .nv-content {
    width: 100%;
  }

  & ::ng-deep form {
    width: fit-content;
  }

  & ::ng-deep nv-grid {
    width: 100%;

    // every filter in nv-grid contains `form`
    form {
      width: 100%;
    }

    .nv-progress-bar, nz-skeleton {
      display: none;
    }
  }
}

.nv-title {
  line-height: unset;
  margin-left: 45px;

  &.nv-title-details {
    margin-left: 100px;
  }
}



.dockRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

:host ::ng-deep .nv-content {
  .alert-bar {
    margin-bottom: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    opacity: 1;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    opacity: 1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #9c9c9c;
  }
}

/**
 * Bunch of classes are created to be used with `detail-view-actions` component.
 * Since we have have from 0 to 4 buttons in `detail-view-actions` component,
 * and their appearance is dynamic(their count can be changed live-time)
 * - needed to move the title to not overlap buttons.
 * `.has-{N}-buttons` class will move right the title for N buttons.
 */
:host {
  @for $num from 1 through 4 {
    &.has-#{$num}-buttons {
      .nv-title.nv-title-details {
        margin-left: calc(#{$num} * 45px);
      }
    }
  }
}
