<div
  class="nv-paper"
>
  <!-- HEADER -->
  <div class="nv-header">
    <nv-route-back-button *ngIf="showBackButton" (click)="back()"></nv-route-back-button>
    <div
      class="nv-title e2e-nv-title"
      [class.nv-title-details]="paperViewStateService.areDetailsButtonsVisible$ | async"
      [innerHTML]="customTitle || (title | translate) | safeHTML"
      nz-tooltip
      nzTooltipPlacement="bottom"
      [nzTooltipTitle]="tooltipTitle"
    >
    </div>
    <div class="dockRight">
      <ng-content select="[header]"></ng-content>
    </div>
  </div>

  <!-- CONTENT -->
  <div class="nv-content no-padding" [ngStyle]="contentWrapperStyle">
    <ng-content></ng-content>
  </div>

  <!-- FOOTER -->
  <div class="nv-footer">
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
