:host {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .form-wrap {
    display: flex;
    form {
      display: flex;
      flex: 1;
      > div {
        width: 100%;

        ::ng-deep nv-grid.mini-grid {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;
          box-shadow: none;
          padding: 0;
          border-radius: 0;

          nv-grid-toolbar {
            width: fit-content;
            height: fit-content;

            nv-toolbar .nv-toolbar {
              height: fit-content;
              min-height: auto;
            }

            ::ng-deep button {
              display: flex;
              align-items: center;
              height: 28px;
            }
          }

          .grid-wrapper {
            width: fit-content;
          }

          // 'No data available' text
          .grid-body-container > p {
            padding: 0 5px;
          }
        }
      }
    }
  }
}

nv-grid {
  box-shadow: none;
  max-width: 100%;
  width: 100%;
  max-height: 350px;
}
