<ng-container *ngIf="businessNames$ | async as businessNames">
  <nv-grid
    class="mini-grid"
    [gridConfig]="gridConfig"
    [dataSource]="businessNames"
  >
  </nv-grid>
  <div
    class="checkbox-container"
    *ngIf="(allBusinessNames$ | async)?.length > 1"
  >
    <label nz-checkbox [formControl]="showAllCtrl">
      {{ wording.system.viewFormerBusinessNames | translate }}
    </label>
  </div>
</ng-container>
