<lavash-event-container (scrollEvent)="onscroll($event)"
                        (mouseleaveEvent)="onItemMouseleave()"
                        (resizeEvent)="onResize($event)">
    <div class="l-grid-container"
         #gridContainer>
        <div class="l-row" (mouseenter)="onItemMouseleave()">
            <div *ngFor="let column of columnsArr; let colIndex = index"
                 class="l-column"
                 [ngClass]="'l-col-' + columns"
                 (mouseenter)="onItemMouseleave()">

                <div class="l-item-wrapper"
                     (mouseenter)="onItemMouseenter(item, overElement)"
                     (click)="onItemClick(item)"
                     [ngClass]="'l-' + defineSourceType(item?.type, item?.src)"
                     *ngFor="let item of itemsPerColumn[colIndex]">

                    <lavash-image *ngIf="defineSourceType(item?.type, item?.src) === 'img'"
                                  [isLazy]="item.isLazy"
                                  [path]="imageImgPath"
                                  [src]="item?.src"
                                  (loadEvent)="onImageLoad($event)">
                    </lavash-image>

                    <lavash-video *ngIf="defineSourceType(item?.type, item?.src) === 'video'"
                                  [showControls]="false"
                                  [videoPath]="videoImgPath"
                                  [videoSrc]="item?.src"
                                  [videoPosterPath]="videoPosterPath"
                                  [videoPosterSrc]="item?.poster">
                    </lavash-video>

                    <lavash-article-card *ngIf="defineSourceType(item?.type, item?.src) === 'card'"
                                         [article]="item"
                                         [articleImgPath]="articleImgPath"
                                         viewMode="shorthand"
                                         (cardBtnClickEvent)="onCardBtnClick($event)">
                    </lavash-article-card>

                    <div class="l-over" #overElement></div>
                </div>
            </div>
        </div>

        <div class="l-over-data"
             [ngClass]="'l-' + defineSourceType(dynamicItemData?.type, dynamicItemData?.src)"
             style="position: fixed;"
             (click)="onItemClick(dynamicItemData)"
             [ngStyle]="{'top.px': dynamicItemStyles.top,
                 'left.px': dynamicItemStyles.left,
                 'width.px': dynamicItemStyles.width,
                 'height.px': dynamicItemStyles.height,
                 'opacity': dynamicItemStyles.opacity,
                 'pointer-events': dynamicItemStyles.pointerEvents}">

            <!--dynamic content goes here-->
            <ng-content></ng-content>
        </div>
    </div>
</lavash-event-container>



