@import 'global/breakpoints';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;

  h1 {
    font-size: 1.14em;
    font-weight: 600;
    max-width: 100%;
  }

  .attribute-group-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 900px;

    @include tablet {
      flex-wrap: wrap;
    }

    .thumbnail-container {
      width: 240px;
      box-shadow: 0px 0px 2px var(--black-box-shadows), 0px 2px 3px var(--black-box-shadows);
      border-radius: 4px;
      padding: 8px;
      margin-top: 24px;
    }

    .group-container {
      margin-top: 10px;
      margin-left: 20px;
      margin-right: 20px;
      width: calc(100% - 40px);

      .group-label {
        width: calc(100% - 20px);
        font-size: 16px;
        margin: 10px;
      }

      .row-container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-items: flex-start;
      }
    }
  }

  .button-section {
    width: 100%;
    height: 100px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &.single {
      justify-content: flex-end;
    }

    me-button {
      margin-right: 20px;
    }
  }

  .column {
    flex-direction: column;
  }

  .header {
    display: flex;
    width: 100%;

    me-search-bar {
      width: 100%;
    }
  }
}
