<div class="content" *ngIf="userInfoAttributeForm && userInfoAttributeItemMap">
  <div class="attribute-group-container">
    <div class="thumbnail-container">
      <me-upload-image [uploadImageData]="uploadImageData" (returnImageFormData)="handleImageFormData($event)"></me-upload-image>
    </div>
    <form [formGroup]="userInfoAttributeForm">
      <div class="group-container">
        <div class="row-conatiner">
          <div *ngFor="let row of generalInfoLayoutGroups[0].rows" class="row-container" [attr.data-row]="row.rowIndex">
            <ng-container *ngFor="let rowAttribute of row.attributes">
              <me-attribute
                [attributeItem]="userInfoAttributeItemMap.get(rowAttribute.internalName)"
                [attWidth]="rowAttribute.width"
                [attr.data-row]="rowAttribute.row"
                [attr.data-column]="rowAttribute.column"
              ></me-attribute>
            </ng-container>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="button-section single box-sizing-border-box">
    <me-button [dataModel]="button.data" (clickEvent)="onSubmit(userInfoAttributeForm)">{{ button.label }}</me-button>
  </div>
</div>
