<mat-horizontal-stepper #stepper class="user-select-none">
  <ng-template matStepperIcon="edit">
    <i-feather name="check" class="step-label-heading-completed icon"></i-feather>
  </ng-template>

  <mat-step #stepOne [stepControl]="companyInfoAttributeForm" *ngIf="companyInfoAttributeForm && comapanyInfoAttributeItemMap">
    <form [formGroup]="companyInfoAttributeForm">
      <ng-template matStepLabel>
        <div class="click-holder"></div>
        <p
          [ngClass]="{
            'step-label-heading': true,
            bold: true,
            'step-label-heading-active': stepper.selected === stepOne,
            'step-label-heading-completed': stepOne.completed && stepper.selected !== stepOne
          }">
          {{i18nStrings.companyInfo}}
        </p>

        <span class="step-label-subheading">Enter company details</span>
      </ng-template>

      <div class="step-content box-sizing-border-box">
        <div class="attribute-group-container">
          <div class="group-container">
            <div *ngFor="let group of companyInfoLayoutGroups" class="group-container">
              <div class="group-label bold">{{ group.displayName }}</div>
              <div *ngFor="let row of group.rows" class="row-container" [attr.data-row]="row.rowIndex">
                <ng-container *ngFor="let rowAttribute of row.attributes">
                  <me-attribute 
                    [attributeItem]="comapanyInfoAttributeItemMap.get(rowAttribute.internalName)"
                    [attWidth]="rowAttribute.width"
                    [attr.data-row]="rowAttribute.row"
                    [attr.data-column]="rowAttribute.column"
                  ></me-attribute>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-section">
        <me-button [dataModel]="buttonFinish.data" class="finish-btn" (clickEvent)="finishStep()">
          {{ buttonFinish.label }}<i-feather name="arrow-right"></i-feather>
        </me-button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
