@import 'global/breakpoints';

.step-content {
  max-width: 560px;
  margin: 0 auto;
  padding-top: 40px;
}

.step-label-heading {
  display: block;
  color: var(--color-body-font);
  font-size: 14px;
  margin-bottom: 3px;
  margin-left: 10px;
}

.click-holder {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-label-heading-active {
  color: var(--color-primary);
}

.step-label-heading-completed {
  color: var(--color-success);
}

.step-label-subheading {
  display: block;
  color: #9a9c9e;
  font-size: 12px;
  margin-left: 10px;
}

.button-section {
  max-width: 100%;
  height: 100px;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  &.single {
    justify-content: flex-end;
  }
}

:host ::ng-deep {
  .mat-step-header[ng-reflect-selected='true'] {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-primary-background);
  }
  .mat-stepper-horizontal {
    background-color: unset;
    display: flex;

    .mat-horizontal-stepper-header-container {
      display: block;
      background-color: unset;
      border: unset;

      .mat-step-header {
        min-width: 288px;
      }
    }

    .mat-horizontal-content-container {
      width: 100%;
      height: 100%;
      background-color: var(--color-white);
      margin-left: 20px;

      .mat-horizontal-content {
        padding: 0;
      }
    }

    i-feather {
      &.users-icon {
        width: 90px;
        height: 90px;

        .feather-users {
          width: 90px;
          height: 90px;
        }
      }
    }
  }
}
