.header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  height: 100%;

  .filter {
    display: flex;
    align-items: center;
    margin-right: 1px;
    background-color: white;
  }

  .left {
    display: flex;
    align-items: center;
    background-color: white;
    flex-grow: 1;
    padding-left: 18px;

    .search {
      display: flex;
      align-items: center;
    }

    .usersGroupsDropdown {
      display: flex;
      align-items: center;
      margin-left: 30px;
    }

    .single-value-filter {
      width: 200px;
      height: 50px;
      display: flex;
      padding-left: 18px;

      me-attribute {
        padding: 0;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    background-color: white;
    font-size: 14px;
    padding-right: 20px;

    .sort-by {
      display: flex;
      align-items: center;
    }
  }
}
