<div class="header">
  <ng-container *ngIf="dataModel && dataModel.filterEnabled">
    <div class="filter">
      <me-button [dataModel]="noBorderButton" (clickEvent)="customEvent('toggleFilter')">
        <i-feather name="filter"></i-feather>
      </me-button>
    </div>
  </ng-container>
  <div class="left">
    <ng-container *ngIf="dataModel && dataModel.search">
      <div class="search">
        <me-search-input #searchComponent [dataModel]="dataModel.search" (changeEvent)="searchInputEvent($event)"></me-search-input>
      </div>
    </ng-container>
    <ng-container *ngIf="dataModel && dataModel.singleValueFilter">
      <div class="single-value-filter">
        <me-attribute [attributeItem]="dataModel.singleValueFilter"></me-attribute>
      </div>
    </ng-container>
    <ng-container *ngIf="dataModel && dataModel.usersGroupsSelect">
      <div class="usersGroupsDropdown">
        <button mat-button [matMenuTriggerFor]="usersGroupsMenu">
          {{ dataModel.usersGroups!.options[dataModel.usersGroups!.selectedIndex].value }}
          <i-feather name="chevron-down"></i-feather>
        </button>
        <mat-menu #usersGroupsMenu="matMenu">
          <button mat-menu-item *ngFor="let but of dataModel.usersGroups!.options" (click)="selectUsersGroupsEvent(but.key)">
            {{ but.value }}
          </button>
        </mat-menu>
      </div>
    </ng-container>
  </div>
  <div class="right">
    <ng-container *ngIf="dataModel && dataModel.sort">
      <div class="sort-by">
        <span>{{ dataModel.sort.placeholder }}</span>
        <ng-container>
          <button mat-button [matMenuTriggerFor]="menu">
            {{ dataModel.sort.options[dataModel.sort.selectedIndex].value }}
            <i-feather name="chevron-down"></i-feather>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let but of dataModel.sort.options" (click)="sortByEvent(but.key)">
              {{ but.value }}
            </button>
          </mat-menu>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="dataModel && dataModel.selectButton">
      <me-button [dataModel]="noBorderButton" (clickEvent)="toggleSelectEvent()">
        <span> {{ dataModel.selectButton?.placeholder }} </span>
      </me-button>
    </ng-container>

    <ng-container *ngIf="(dataModel && dataModel.selectButton?.enabled) || (dataModel && dataModel.forceShowButton)">
      <me-button
        *ngFor="let but of dataModel.operationButtons"
        (clickEvent)="customEvent(but.clickEventName)"
        [dataModel]="but.button"
        [matTooltip]="but.tooltipText || ''"
      >
        <i-feather name="{{ but.iFeatherName }}"></i-feather>
      </me-button>
    </ng-container>

    <ng-container *ngIf="dataModel && dataModel?.addButton && addButton.observers.length">
      <me-button [dataModel]="primaryButton" (clickEvent)="addButtonEvent()"> {{ dataModel.addButton?.placeholder }} </me-button>
    </ng-container>

    <ng-container *ngIf="dataModel && dataModel.view">
      <me-button [dataModel]="noBorderButton" (clickEvent)="changeViewTypeEvent()">
        <i-feather name="{{ dataModel.view }}"></i-feather>
      </me-button>
    </ng-container>
  </div>
</div>
