<lavash-img-slider  [imagePath]="portfolioPath"
                    [sliderItem]="sliderItem"
                    [sliderItems]="sliderItems"
                    (nextImageEvent)="onSlideEvent($event)"
                    (prevImageEvent)="onSlideEvent($event)">
  <div class="info">
    <app-ph-link introText="Photoghrapher:"
                 [photographer]="sliderItem.photographer"
                 [photo]="sliderItem">
    </app-ph-link>
  </div>
</lavash-img-slider>