<nv-paper-view
  [customTitle]="creationMode ? (wording.general.create | translate) : title$ | async"
  [routeBack]="routeBackUrl && routeBack"
>
  <!-- Header -->
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <!-- Content -->
  <div class="form-wrap padding-mid">
    <div class='mainRow'>
      <form
        #formElement
        [formGroup]="form"
        nz-form
        [nzLayout]="'vertical'"
      >
        <div
          nz-row
          nzGutter="22"
        >
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper [label]="wording.accounting.labelEn | translate">
              <input
                formControlName="labelEn"
                type="text"
                nz-input
              >
            </nv-input-wrapper>
            <nv-input-wrapper [label]="wording.accounting.isoNo | translate">
              <input
                formControlName="isoNo"
                type="number"
                nz-input
              >
            </nv-input-wrapper>
            <nv-input-wrapper [label]="wording.accounting.isoAlpha3 | translate">
              <input
                formControlName="isoAlpha3"
                type="text"
                nz-input
              >
            </nv-input-wrapper>
            <nv-input-wrapper [label]="wording.accounting.isoAlpha2 | translate">
              <input
                formControlName="isoAlpha2"
                type="text"
                nz-input
              >
            </nv-input-wrapper>
            <nv-input-wrapper [label]="wording.accounting.nationality | translate">
              <input
                formControlName="nationality"
                type="text"
                nz-input
              >
            </nv-input-wrapper>
            <nv-input-wrapper>
              <label
                nz-checkbox
                formControlName="euMember"
              >
                {{ wording.accounting.euMember | translate }}
              </label>
            </nv-input-wrapper>
            <nv-input-wrapper>
              <label
                nz-checkbox
                formControlName="sepaParticipant"
              >
                {{ wording.accounting.sepaParticipant | translate }}
              </label>
            </nv-input-wrapper>
          </div>
          <div
            nz-col
            nzSpan="12"
          >
            <nv-input-wrapper [label]="wording.accounting.labelDe | translate">
              <input
                formControlName="labelDe"
                type="text"
                nz-input
              >
            </nv-input-wrapper>

            <nv-input-wrapper [label]="wording.accounting.ibanLength | translate">
              <input
                formControlName="ibanLength"
                type="number"
                nz-input
              >
            </nv-input-wrapper>
            <nv-input-wrapper [label]="wording.accounting.currencyIsoCode | translate">
              <input
                formControlName="currencyIsoCode"
                type="text"
                nz-input
              >
            </nv-input-wrapper>
            <nv-input-wrapper [label]="wording.accounting.bbkShort | translate">
              <input
                formControlName="bbkShort"
                type="text"
                nz-input
              >
            </nv-input-wrapper>
            <nv-input-wrapper [label]="wording.accounting.bbkNo | translate">
              <input
                formControlName="bbkNo"
                type="number"
                nz-input
              >
            </nv-input-wrapper>
            <nv-input-wrapper [label]="wording.accounting.bbkCode | translate">
              <input
                formControlName="bbkCode"
                type="text"
                nz-input
              >
            </nv-input-wrapper>
          </div>
        </div>
      </form>
    </div>
  </div>
</nv-paper-view>