:host {
  flex: 1 1 auto;
  display: flex;
  .form-wrap {
    overflow: auto;
  }
}

.paper {
  .header {
    padding: 10px;
    flex-direction: row;
    align-items: center;
  }
}

form {
  min-width: 750px;
}

.flag-wrap {
  font-size: 40px;
  max-height: 60px;
  text-align: center;
  color: #fff;
}

:host ::ng-deep .nv-title {
  color: rgba(0, 0, 0, 0.8);
}
