<div
  *ngIf="readMode && selectedBooking"
  class="title"
>
  {{ selectedBooking.voucherNumber }}
  {{ wording.general.createdBy | translate }}
  {{ selectedBooking.userName }}
  {{ wording.general.on | translate }}
  {{ selectedBooking.bookingDate | toCurrentDateFormat : { withTime: true } }}
</div>
<form
  class="row"
  [formGroup]="form"
>
  <nv-mandator-autocomplete
    #mandatorInput
    [label]="wording.examples.bookingLabelMandator"
    [form]="form"
    [autofocus]="true"
  >
  </nv-mandator-autocomplete>
  <nv-input-wrapper
    className="vertical"
    [label]="wording.examples.bookingLabelYear | translate"
    [showErrMessages]="false"
    [redBorderError]="true"
  >
    <input
      nz-input
      style="width: 70px"
      type="text"
      formControlName="year"
      maxlength="4"
    >
  </nv-input-wrapper>
  <nv-input-wrapper
    [label]="wording.examples.bookingLabelVoucherDate | translate"
    [showErrMessages]="false"
    [redBorderError]="true"
    style="width: 140px"
  >
    <nv-datebox formControlName="voucherDate"></nv-datebox>
  </nv-input-wrapper>
  <nv-input-wrapper
    [label]="wording.examples.bookingLabelInvoiceDate | translate"
    [showErrMessages]="false"
    [redBorderError]="true"
    style="width: 140px"
  >
    <nv-datebox formControlName="invoiceDate"></nv-datebox>
  </nv-input-wrapper>
  <nv-stream-autocomplete-input-wrapper
    [style.width.px]="85"
    [label]="wording.examples.bookingLabelVoucher | translate"
    [resourceToTransform]="mandatorVoucherRepo.getStream() | async "
    [transformfilters]="{ mandatorId: this.form.get('mandatorId').value }"
    [transformKey]="'voucherTypeId'"
    [resource]="voucherTypeRepo.getStream() | async"
    [modalGridConfig]="voucherTypeGridConfig"
    [filters]="{ isActive: true }"
    [displayOneProperty]="true"
    [properities]="['abbreviation', 'label' | labelKey]"
    [form]="form"
    [controlName]="'voucherTypeId'"
  ></nv-stream-autocomplete-input-wrapper>
  <nv-input-wrapper
    className="vertical"
    [label]="'-'"
    [showErrMessages]="false"
    [redBorderError]="false"
  >
    <input
      nz-input
      style="width: 60px;"
      type="text"
      formControlName="mandatorNoDisabled"
    >
  </nv-input-wrapper>
  <nv-input-wrapper
    className="vertical"
    [label]="'-'"
    [showErrMessages]="false"
    [redBorderError]="false"
  >
    <input
      nz-input
      style="width: 40px;"
      type="text"
      formControlName="yearDisabled"
    >
  </nv-input-wrapper>
  <nv-input-wrapper
    [label]="wording.examples.bookingLabelSerialNo | translate"
    [showErrMessages]="false"
    [redBorderError]="true"
    className="vertical"
  >
    <input
      nz-input
      #input
      style="width: 95px"
      type="number"
      formControlName="serialNo"
      [min]="0"
      max="99999"
      [placeholder]="selectedVoucherType && selectedVoucherType.isAutomaticNumbering
        ? (wording.general.auto | translate)
        :''"
    >
  </nv-input-wrapper>
  <nv-input-wrapper
    className="vertical"
    [label]="wording.examples.bookingLabelPeriod | translate"
    [showErrMessages]="false"
    [redBorderError]="true"
    [infoText]="wording.accounting.periodLessOrEqual | translate"
  >
    <!-- Validation rule 20
            https://navido.atlassian.net/wiki/spaces/TE/pages/376274945/Booking+form -->
    <nz-select
      formControlName="period"
      style="width: 80px"
      nzShowSearch
      nzAllowClear
      (keydown.tab)="jumpToGrid($event)"
    >
      <nz-option
        *ngFor="let period of currentPeriods"
        [nzLabel]="period.toString()"
        [nzValue]="period"
        nzCustomContent
      >
        <span
          [ngClass]="{
            'blocked-period': blockedPeriods.includes(period),
            'closed-period': closedPeriods.includes(period)
          }"
          [attr.data-period-option]="period"
        >
          {{ period }}
        </span>
      </nz-option>
    </nz-select>
  </nv-input-wrapper>
  <div class="column">
    <label
      nz-checkbox
      formControlName="leadingAccount"
      data-checkbox="leadingAccount"
    >
      {{ wording.accounting.leadingAccount| translate }}
    </label>
    <label
      nz-checkbox
      formControlName="defineInvoice"
      data-checkbox="defineInvoice"
      style="margin: 0"
    >
      {{ wording.accounting.defineInvoice| translate }}
    </label>
    <label
      nz-checkbox
      formControlName="accrualAccounting"
      data-checkbox="accrualAccounting"
      style="margin: 0"
    >
      {{ wording.accounting.accrualAccounting | translate }}
    </label>
  </div>
  <nz-radio-group formControlName="accountingType">
    <label
      nz-radio
      [nzValue]="ACCOUNTING_TYPES.HGB"
      [nzDisabled]="createMode ? isAccountingTypeDisabled(ACCOUNTING_TYPES.HGB): true"
      data-radio="hgbAccounting"
    >
      {{ wording.accounting.hgb | translate }}
    </label>
    <label
      nz-radio
      [nzValue]="ACCOUNTING_TYPES.IFRS"
      [nzDisabled]="createMode ? isAccountingTypeDisabled(ACCOUNTING_TYPES.IFRS) : false"
      data-radio="ifrsAccounting"
    >
      {{ wording.accounting.ifrs | translate }}
    </label>
    <label
      nz-radio
      [nzValue]="ACCOUNTING_TYPES.USGAAP"
      [nzDisabled]="createMode ? isAccountingTypeDisabled(ACCOUNTING_TYPES.USGAAP) : false"
      data-radio="usgaapAccounting"
    >
      {{ wording.accounting.usgaap | translate }}
    </label>
    <label
      nz-radio
      [nzValue]="ACCOUNTING_TYPES.EBalance"
      [nzDisabled]="createMode ? isAccountingTypeDisabled(ACCOUNTING_TYPES.EBalance) : false"
      data-radio="eBalanceAccounting"
    >
      {{ wording.accounting.eBalance | translate }}
    </label>
  </nz-radio-group>


  <button
    type="button"
    nz-button
    nzType="primary"
    (click)="openRatesCalendar()"
    [disabled]="!form.get('mandatorId').value || readMode"
    [attr.data-button-name]="wording.general.midrateCalculation.en"
  >
    {{ wording.general.midrateCalculation | translate }}
  </button>
</form>
