.row {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.row>* {
  margin-right: 5px;
}

.column {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blocked-period {
  color: #c44747;
}

.closed-period {
  color: rgba(0, 0, 0, 0.25);
}

.title {
  font-size: large;
}

:host ::ng-deep nv-stream-autocomplete-input-wrapper, .vertical {
  nz-form-item {
    flex-direction: column;
  }
}
