<div class="edit-weather-btn">
  <button
      nz-button
      nzType="default"
      (click)="editWidget()">
    <i nz-icon nzType="edit"></i>
  </button>
</div>

<ng-container *ngIf="editMode">
    <input nz-input nvGooglePlaces (select)="setWeather($event)">
</ng-container>

<div *ngIf="weather">
  <p class="weather-name">{{weather.name}}</p>
  <p class="weather-description">{{weather.weather[0].description | titlecase}}</p>
  <div class="info">
    <div class="temp-wrap">
      <img [src]="getWeatherIcon()" alt="weather icon" />
      <p> {{weather.main.temp}} &deg; C</p>
    </div>
    <div class="other-info">
      <p>{{wording.general.humidity | translate}}: {{weather.main.humidity}}%</p>
      <p>{{wording.general.wind | translate}}: {{weather.wind.speed}} km/h</p>
    </div>
  </div>
</div>
