.edit-weather-btn {
  float: right;
}

.weather-name {
  font-size: x-large;
  color: #878787;
  margin-bottom: -5px;
}

.temp-wrap {
  display: flex;
  img {
    width: 70px;
    height: 70px;
  }
  p {
    display: flex;
    align-self: center;
    font-size: 33px;
    margin-bottom: 0px;
  }
}

.weather-description {
  color: #878787;
  margin-bottom: 0px;
  font-size: medium;
}

.other-info {
  p {
    color: #878787;
    margin-bottom: 0px;
  }
}

.input {
  margin-top: 10px;
}


.info {
  display: flex;
  justify-content: space-around;
}