<mat-tab-group *ngIf="dataModel" mat-align-tabs="start" (selectedIndexChange)="selectedTabChange($event)">
  <mat-tab *ngFor="let tab of dataModel.tabs">
    <ng-template mat-tab-label>
      <ng-container *ngIf="tab.labelContent; else textLabel">
        <ng-container *ngTemplateOutlet="tab.labelContent"></ng-container>
      </ng-container>
      <ng-template #textLabel>
        {{ tab.displayName }}
      </ng-template>
    </ng-template>
    <ng-container *ngTemplateOutlet="tab.content"></ng-container>
  </mat-tab>
</mat-tab-group>
