<mat-tab-group class="tabs" (selectedTabChange)="customEvent('selectedTabIndex', $event.index + '')">
  <mat-tab label="{{ tab.label }}" *ngFor="let tab of dataModel.tabs" class="tab">
    <ng-container [ngSwitch]="tab.type.id">
      <div class="tab-container">
        <div *ngSwitchCase="'overview'" class="overview">
          <div class="header">
            <div class="profile">
              <div class="image-container">
                <img src="{{ $any(tab).type.content.thumbnailUrl }}" />
              </div>
              <div class="info">
                <div class="title">
                  {{ $any(tab).type.content.title }}
                </div>
                <div class="subtitle">
                  {{ $any(tab).type.content.subtitle }}
                </div>
                <div class="status">
                  <span class="text"> {{ $any(tab).type.content.status }} </span>
                </div>
              </div>
            </div>
            <me-context-menu
              class="menu"
              [dataModel]="$any(tab).type.content.contextMenu"
              (itemClick)="customEvent('contextMenuClick', $event)"
            ></me-context-menu>
          </div>
          <div class="paragraph">
            {{ $any(tab).type.content.paragraph }}
          </div>
          <ng-container *ngIf="$any(tab).type.content.video">
            <video controls>
              <source src="{{ $any(tab).type.content.video.url }}" type="{{ $any(tab).type.content.video.type }}" />
              {{ $any(tab).type.content.video.alt }}
            </video>
          </ng-container>
        </div>
        <div *ngSwitchCase="'documents'" class="documents">
          <div class="header">
            <me-search-input
              [dataModel]="$any(tab).type.content.search"
              (changeEvent)="customEvent('searchKeyword', $event)"
              class="search"
            ></me-search-input>
            <div class="select">
              <mat-form-field>
                <mat-select [formControl]="files" multiple (selectionChange)="customEvent('selectionChanged', $event.value.toString())">
                  <!--
                    TODO: This all select option has to be build but it's not primary currently
                    <mat-option
                    *ngIf="$any(tab).type.content.extensions.length > 1"
                    (click)="toggleSelection($any(tab).type.content.extensions)"
                  >
                    {{ $any(tab).type.content.allFilesPlaceholder }}
                  </mat-option> -->
                  <mat-option *ngFor="let item of $any(tab).type.content.extensions" [value]="item.id">
                    {{ '.' + item.displayValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="cards">
            <div class="card" *ngFor="let item of $any(tab).type.content.documentCards">
              <div class="grid-test box-sizing-border-box">
                <me-document-line
                  [dataModel]="item"
                  (eventOccurs)="customEvent('contextMenuClick', 'id:' + item.id + ',' + $event.payload)"
                ></me-document-line>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchDefault class="default"></div>
      </div>
    </ng-container>
  </mat-tab>
</mat-tab-group>
