.tab-container {
  background-color: var(--color-white, #ffffff);

  .overview {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .header {
      display: flex;
      flex-direction: row;
      padding-bottom: 40px;
      flex-shrink: 1;
      justify-content: space-between;

      .profile {
        display: flex;
        flex-direction: row;

        .image-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;

          img {
            height: 100px;
            width: 100px;
            border-radius: 30px;
          }
        }

        .info {
          display: flex;
          align-self: center;
          flex-direction: column;

          .title {
            font-weight: 600;
            font-size: 1.14em;
            color: var(--color-main-darker, #282a3c);
          }

          .subtitle {
            font-weight: 700;
            font-size: 0.79em;
            color: var(--color-main-dark, #646464);
            margin-bottom: 15px;
          }

          .status {
            display: flex;
            font-size: 0.57em;
            font-weight: 600;

            .text {
              font-weight: 600;
              background-color: var(--color-success, #43ad48);
              color: var(--color-white, #ffffff);
              padding: 3px 8px;
              align-items: center;
              text-transform: uppercase;
              border-radius: 2px;
            }
          }
        }
      }
    }
    .paragraph {
      color: var(--color-main-dark, #747474);
      margin-bottom: 20px;
    }

    video {
      width: 100%;
    }
  }

  .documents {
    .header {
      display: flex;
      flex-shrink: 1;
      justify-content: space-between;
      padding: 20px;
    }

    .cards {
      display: flex;
      flex-direction: column;

      .card {
        border-bottom: 1px solid var(--color-main-lighter, #f1f2f7);
      }
    }
  }
}
