<div class="create-box" [class.small]="dataModel.title === ''">
  <div class="box-header">
    <h2>{{ dataModel.title }}</h2>
    <div class="c-btn">
      <i-feather name="x" mat-dialog-close></i-feather>
    </div>
  </div>
  <!-- <div mat-dialog-content class="popup-content"> -->
  <ng-container *ngTemplateOutlet="dataModel.content"></ng-container>
  <!-- </div> -->
</div>
