@import "../../../../styles/global/breakpoints";
.create-box {
    width: 100%;
    max-width: 500px;
    &.small{
        max-width: 290px;
    }
    .box-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px;
        h2 {
            margin: 0;
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            color: var(--color-main-darker);
        }
        .c-btn {
            line-height: 11px;
            i-feather {
                height: 20px;
                width: 20px;
            }
        }
        @include mobile {
            padding: 10px 15px;
        }
    }
}
