<!-- TODO: Change to better custom title -->
<nv-paper-view
  [customTitle]="
    creationMode ? (wording.general.create | translate) : (title$ | async)
  "
  [routeBack]="!creationMode && routeBack"
>
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <form
    #formElement
    [formGroup]="form"
    nz-form
    nzLayout="vertical"
    class="padding-mid"
  >
    <div
      nz-row
      nzGutter="22"
    >
      <div
        nz-col
        nzSpan="12"
      >
        <nv-input-wrapper [label]="wording.system.bookingCode | translate">
          <nv-autocomplete
            [resource]="bookingCodes$ | async"
            [title]="wording.system.bookingCode | translate"
            [modalGridConfig]="bookingCodeGridConfig"
            [properities]="['no', 'label' | labelKey]"
            formControlName="bookingCodeId"
            [setNullIfNotFound]="true"
          >
          </nv-autocomplete>
        </nv-input-wrapper>
        <nv-input-wrapper [label]="wording.general.labelEnglish | translate">
          <input
            formControlName="labelEn"
            type="text"
            nz-input
          />
        </nv-input-wrapper>
        <nv-input-wrapper [label]="wording.system.invoiceTextEnglish | translate">
          <input
            formControlName="invoiceTextEn"
            type="text"
            nz-input
          />
        </nv-input-wrapper>
        <nv-input-wrapper [label]="wording.general.group | translate">
          <nz-select
            formControlName="group"
            nzAllowClear
            nzShowSearch
          >
            <nz-option
              *ngFor="let groupType of groupTypes"
              [nzLabel]="groupType.displayLabel | translate"
              [nzValue]="groupType.value"
              nzCustomContent
            >
              <div [attr.data-group-type-option]="groupType.displayLabel.en">
                {{ groupType.displayLabel | translate }}
              </div>
            </nz-option>
          </nz-select>
        </nv-input-wrapper>
        <label
          *ngIf="showIsActiveCheckbox"
          nz-checkbox
          formControlName="isActive"
          data-checkbox="isActive"
        >
          {{ wording.general.active | translate }}
        </label>
      </div>
      <div
        nz-col
        nzSpan="12"
      >
        <nv-input-wrapper [label]="wording.system.code | translate">
          <input
            formControlName="code"
            type="text"
            nz-input
          />
        </nv-input-wrapper>
        <nv-input-wrapper [label]="wording.general.labelGerman | translate">
          <input
            formControlName="labelDe"
            type="text"
            nz-input
          />
        </nv-input-wrapper>
        <nv-input-wrapper [label]="wording.system.invoiceTextGerman | translate">
          <input
            formControlName="invoiceTextDe"
            type="text"
            nz-input
          />
        </nv-input-wrapper>
        <nv-input-wrapper [label]="wording.general.definition | translate">
          <textarea
            class="insolvency-administrator"
            rows="3"
            nz-input
            formControlName="definition"
          ></textarea>
        </nv-input-wrapper>
      </div>
    </div>
  </form>
</nv-paper-view>