<div class="image" [ngClass]="[imageModel.type, imageModel.size, imageModel.shape, randomColor[randomItem]]">
  <ng-container [ngSwitch]="imageModel.type">
    <ng-container *ngSwitchCase="'avatar'">
      <img [ngClass]="[imageModel.shape]" src="{{ imageModel.imageUrl }}" alt="{{ imageModel.alt || '' }}" />
    </ng-container>
    <ng-container *ngSwitchCase="'initials'">
      <span class="initials">{{ imageModel?.initials || '' }}</span>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <i-feather name="image" class="placeholder"></i-feather>
    </ng-container>
  </ng-container>
</div>
