.add-list-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 340px;
  height: 117px;
  padding: 20px 0 20px 10px;
  background-color: var(--color-white, #ffffff);

  .left {
    display: flex;
    flex-direction: row;

    .thumbnail-container {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }

    .text {
      display: flex;
      flex-direction: column;

      .black {
        font-size: 14px;
        font-weight: 600;
        color: var(--color-main-darker, #282a3c);
      }

      .gray {
        font-size: 12px;
        font-weight: 600;
        color: var(--color-main, #747474);
      }

      .small {
        font-size: 8px;
        font-weight: 400;
        color: var(--color-main, #747474);
      }
    }
  }

  .right {
    me-button {
      display: flex;
      justify-content: flex-end;
    }
  }
}
