<div class="add-list-card-container box-sizing-border-box">
  <div class="left">
    <div class="thumbnail-container">
      <me-user-image [imageModel]="userImage"></me-user-image>
    </div>
    <div class="text box-sizing-border-box">
      <ng-container *ngIf="dataModel.type === 'user'; else groupTemplate">
        <span class="black"> {{ dataModel.firstName }} {{ dataModel.lastName }} </span>
        <span class="gray"> {{ dataModel.uid }} </span>
      </ng-container>
      <ng-template #groupTemplate>
        <span class="black">{{ dataModel.groupName }}</span>
        <span class="gray">{{ dataModel.groupRole }}</span>
        <span class="small">{{ dataModel.description }}</span>
      </ng-template>
    </div>
  </div>
  <!-- TODO - localization -->
  <div class="right" *ngIf="dataModel.showButton">
    <me-button *ngIf="!dataModel.isInGroup" [dataModel]="addButton" (clickEvent)="customEvent('add', dataModel)">Add</me-button>
    <me-button *ngIf="dataModel.isInGroup" [dataModel]="removeButton" (clickEvent)="customEvent('remove', dataModel)">Remove</me-button>
  </div>
</div>
