:host {
  nv-registration-fleet-mortgage {
    display: flex;
    justify-content: flex-start;
    max-height: 200px;
    padding: 0px;
  }
  .call-sign-secondary {
    display: flex;

    .flex-1 {
      flex: 1;
      padding-right: 10px;
    }
    .flex-2 {
      display: flex;
      flex: 2;

      nv-input-wrapper {
        &:first-child {
          padding-right: 10px;
        }
      }
    }
  }
}
