<form [formGroup]="form" class="form-wrapper primary-secondary-register" nz-form nzLayout="vertical">
  <div nz-row nzGutter="24">
    <div nz-col class="register-block">
      <nv-fieldset [label]="wording.chartering.primaryRegister | translate">
        <nv-country-autocomplete
          [form]="form"
          controlName="primaryCountryId"
          [filters]="primaryCountryFilter"
          [label]="form.get('primaryCountryId').value
            ? wording.chartering.register
            : wording.chartering.registerAndFlag
          "
          [withFlag]="true"
        >
        </nv-country-autocomplete>

        <nv-input-wrapper [label]="wording.chartering.portOfRegistry | translate">
          <nv-autocomplete
            [resource]="ports"
            [modalGridConfig]="portsGridConfig"
            [properities]="['shortName', 'countryIsoAlpha3']"
            formControlName="primaryPortId"
            [autofocus]="false"
            [setNullIfNotFound]="true"
          >
          </nv-autocomplete>
        </nv-input-wrapper>

        <nv-input-wrapper [label]="wording.chartering.callSign | translate">
          <input formControlName="primaryCallSign" type="text" nz-input>
        </nv-input-wrapper>

        <ng-container *ngIf="isPrimaryGermany">
          <nv-input-wrapper [label]="wording.chartering.ssr | translate">
            <input formControlName="ssrNo" type="number" nz-input>
          </nv-input-wrapper>

          <nv-input-wrapper [label]="wording.chartering.registerCourt | translate">
            <input formControlName="registerCourt" type="text" nz-input>
          </nv-input-wrapper>
        </ng-container>

        <nv-company-autocomplete
          [form]="form"
          controlName="primaryCompanyId"
          [title]="wording.general.company | translate"
        >
        </nv-company-autocomplete>

        <nv-registration-fleet-mortgage
          *ngIf="isReadOnly"
          [readOnly]="true"
        >
        </nv-registration-fleet-mortgage>
      </nv-fieldset>
    </div>
    <div nz-col class="register-block" *ngIf="form.get('primaryCountryId').value">
      <nv-fieldset [label]="wording.chartering.secondaryRegister | translate">
        <nv-country-autocomplete
          [form]="form"
          controlName="secondaryCountryId"
          [filters]="secondaryCountryFilter"
          [label]="wording.chartering.registerAndFlag"
          [withFlag]="true"
        >
        </nv-country-autocomplete>

        <nv-input-wrapper [label]="wording.chartering.portOfRegistry | translate">
          <nv-autocomplete
            [resource]="ports"
            [modalGridConfig]="portsGridConfig"
            [properities]="['shortName', 'countryIsoAlpha3']"
            formControlName="secondaryPortId"
            [autofocus]="false"
            [setNullIfNotFound]="true"
          >
          </nv-autocomplete>
        </nv-input-wrapper>

        <nv-input-wrapper [label]="wording.chartering.callSign | translate">
          <input formControlName="secondaryCallSign" type="text" nz-input>
        </nv-input-wrapper>

        <ng-container *ngIf="isSecondaryGermany">
          <nv-input-wrapper [label]="wording.chartering.ssr | translate">
            <input formControlName="ssrNo" type="number" nz-input>
          </nv-input-wrapper>

          <nv-input-wrapper [label]="wording.chartering.registerCourt | translate">
            <input formControlName="registerCourt" type="text" nz-input>
          </nv-input-wrapper>
        </ng-container>

        <nv-company-autocomplete
          [form]="form"
          controlName="secondaryCompanyId"
          [title]="wording.general.company | translate"
        >
        </nv-company-autocomplete>
      </nv-fieldset>
    </div>
  </div>
</form>
