:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  nv-paper-view {
    overflow: hidden;
    .form-wrapper {
      display: flex;
      overflow: hidden;
      form {
        overflow: auto;
        padding: 0 13px;
        width: 100%;
        textarea {
          margin-bottom: 0px;
        }
      }
    }
  }
  nv-fieldset legend {
    text-transform: capitalize;
  }

  .credit-note {
    margin-top: 2rem;
    label {
      white-space: nowrap;
    }
  }
}

.form-group {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    opacity: 1;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    opacity: 1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #9c9c9c;
    transition: background-color .3s;
  }
}