<nv-paper-view
  [customTitle]="customTitle || (wording.general.create | translate)"
  [routeBack]="!creationMode && routeBack"
>
  <div class="nv-content content">
    <div class="actions-row">
      <nv-detail-view-actions
        [inEditingMode]="editMode"
        (editClicked)="editClicked()"
        (cancelClicked)="cancelEditing()"
        (saveClicked)="submit()"
        [editDisabled]="resource?.booked"
        [form]="form"
        [formElement]="formElement"
      >
      </nv-detail-view-actions>
    </div>
    <div class="form-wrapper" *ngIf="form && (resource || creationMode)">
      <form 
        nvSpyElement
        (initialized) = "formInitialized($event)"
        [formGroup]="form" 
        class="form-group" 
        nz-form 
        nzLayout="vertical">
        <div nz-row nzGutter="25">
          <div nz-col nzSpan="24">
            <div nz-row nzGutter="24">
              <nv-mandator-autocomplete
                nz-col
                nzSpan="12"
                [form]="form"
                [dataSource$]="mandators$.asObservable()"
                (valueChange)="onMandatorChange($event)"
              >
              </nv-mandator-autocomplete>

              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="wording.accounting.orderNumber | translate"
              >
                <input formControlName="orderNumber" type="text" nz-input />
              </nv-input-wrapper>
            </div>
            <div nz-row nzGutter="24">
              <nv-input-wrapper
                nz-col
                nzSpan="3"
                [label]="wording.accounting.bookingYear | translate"
              >
                <input formControlName="year" type="text" nz-input />
              </nv-input-wrapper>

              <nv-input-wrapper
                nz-col
                nzSpan="3"
                [label]="wording.accounting.voucherNo | translate"
              >
                <input
                  formControlName="voucherNumberAbbr"
                  type="text"
                  nz-input
                />
              </nv-input-wrapper>

              <nv-input-wrapper nz-col nzSpan="3" label="-">
                <input
                  formControlName="mandatorDisplayValue"
                  type="text"
                  nz-input
                />
              </nv-input-wrapper>

              <nv-input-wrapper nz-col nzSpan="3" label="-">
                <input formControlName="voucherYear" type="text" nz-input />
              </nv-input-wrapper>

              <nv-input-wrapper
                nz-col
                nzSpan="4"
                [label]="wording.accounting.supplier | translate"
              >
                <nv-autocomplete
                  [resource]="debitorCreditor$ | async"
                  [title]="wording.accounting.supplier | translate"
                  [modalGridConfig]="debitorCreditorGridConfig"
                  [properities]="['no', 'companyName']"
                  formControlName="debitorCreditorId"
                  [autofocus]="false"
                  [setNullIfNotFound]="true"
                ></nv-autocomplete>
              </nv-input-wrapper>

              <nv-input-wrapper
                nz-col
                nzSpan="4"
                [label]="wording.accounting.discount | translate"
              >
                <nv-autocomplete
                  [title]="wording.accounting.percentage | translate"
                  [resource]="discounts$ | async"
                  [modalGridConfig]="discountGridConfig"
                  [properities]="['percentage', 'paymentDateLabel']"
                  [setId]="false"
                  formControlName="discount"
                  [autofocus]="false"
                  [setNullIfNotFound]="true"
                  [customOptionsFilter]="autocompleteDiscountOptionsFilter"
                >
                </nv-autocomplete>
              </nv-input-wrapper>

              <nv-input-wrapper
                nz-col
                nzSpan="4"
                [label]="wording.accounting.ledgerPaymentDate | translate"
                [showErrMessages]="false"
              >
                <nv-datebox formControlName="paymentDate"> </nv-datebox>
              </nv-input-wrapper>
            </div>
            <div nz-row nzGutter="24">
              <nv-input-wrapper
                nz-col
                nzSpan="8"
                [label]="wording.accounting.invoiceNo | translate"
              >
                <input formControlName="invoiceNumber" type="text" nz-input />
              </nv-input-wrapper>

              <nv-input-wrapper
                nz-col
                nzSpan="8"
                [label]="wording.accounting.invoiceDate | translate"
              >
                <nv-datebox formControlName="invoiceDate"> </nv-datebox>
              </nv-input-wrapper>

              <nv-input-wrapper
                nz-col
                nzSpan="8"
                [label]="wording.accounting.receiptDate | translate"
              >
                <nv-datebox formControlName="receiptDate" [withTime]="true">
                </nv-datebox>
              </nv-input-wrapper>
            </div>

            <div nz-row nzGutter="24">
              <nv-input-wrapper
                nz-col
                nzSpan="6"
                [label]="wording.accounting.isoCode | translate"
              >
                <nv-autocomplete
                  [title]="wording.accounting.currency | translate"
                  [resource]="currencies$ | async"
                  [modalGridConfig]="currencyGridConfig"
                  [properities]="['isoCode', 'label' | labelKey]"
                  [setId]="true"
                  formControlName="currencyId"
                  [autofocus]="false"
                  [setNullIfNotFound]="true"
                >
                </nv-autocomplete>
              </nv-input-wrapper>

              <nv-input-wrapper
                nz-col
                nzSpan="6"
                [label]="wording.accounting.amount | translate"
              >
                <nv-decimal-input formControlName="amount" [decimalPlaces]="2">
                </nv-decimal-input>
              </nv-input-wrapper>


                <nv-booking-account-autocomplete
                  nz-col
                  nzSpan="8"
                  [form]="form"
                  [onlyOfMandator]="true"
                  [label]="wording.accounting.account"
                  controlName="mandatorAccountId"
                  [resource]="mandatorBookingAccounts$"
                  relationKey="id"
                >
                </nv-booking-account-autocomplete>

              <div class="credit-note" nz-col nzSpan="4">
                <label nz-checkbox formControlName="hasCredit">
                  {{ wording.accounting.creditNote | translate }}
                </label>
              </div>
            </div>
            <div nz-row nzGutter="24">
              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="wording.accounting.vessel | translate"
              >
                <nv-autocomplete
                  [resource]="vesselAccountings$ | async"
                  [title]="wording.accounting.vessel | translate"
                  [modalGridConfig]="vesselAccountingGridConfig"
                  [properities]="['vesselNo', 'vesselName']"
                  formControlName="vesselAccountingId"
                  [autofocus]="false"
                  [setNullIfNotFound]="true"
                ></nv-autocomplete>
              </nv-input-wrapper>

              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="wording.accounting.voyage | translate"
              >
                <nv-autocomplete
                  [resource]="voyages$ | async"
                  [title]="wording.accounting.voyage | translate"
                  [modalGridConfig]="voyageGridConfig"
                  [properities]="['yearAndNo']"
                  formControlName="voyageId"
                  [autofocus]="false"
                  [setNullIfNotFound]="true"
                ></nv-autocomplete>
              </nv-input-wrapper>
            </div>

            <div nz-row nzGutter="24">
              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="wording.accounting.barcode | translate"
              >
                <input formControlName="barcode" type="text" nz-input />
              </nv-input-wrapper>

              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="wording.accounting.taxKey | translate"
              >
                <input formControlName="taxKey" type="text" nz-input />
              </nv-input-wrapper>
            </div>

            <div nz-row nzGutter="24">
              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="
                  wording.technicalManagement.administratorTab.remarks
                    | translate
                "
              >
                <textarea
                  [nzAutosize]="{ minRows: 2, maxRows: 4 }"
                  nz-input
                  formControlName="remark"
                ></textarea>
              </nv-input-wrapper>

              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="wording.accounting.booked | translate"
              >
                <textarea
                  [nzAutosize]="{ minRows: 2, maxRows: 4 }"
                  nz-input
                  formControlName="booked"
                ></textarea>
              </nv-input-wrapper>
            </div>

            <hr *ngIf="!creationMode" />

            <div nz-row nzGutter="24" *ngIf="!creationMode">
              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="
                  (wording.general.createDate | translate) +
                  '/' +
                  (wording.general.createdBy | translate)
                "
              >
                <input
                  formControlName="createdByCreateDate"
                  type="text"
                  nz-input
                />
              </nv-input-wrapper>

              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="
                  (wording.general.changeDate | translate) +
                  '/' +
                  (wording.general.changedBy | translate)
                "
              >
                <input
                  formControlName="changedByChangeDate"
                  type="text"
                  nz-input
                />
              </nv-input-wrapper>
            </div>

            <div nz-row nzGutter="24" *ngIf="resource?.isDeleted">
              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="wording.general.deleteReason | translate"
              >
                <textarea
                  [nzAutosize]="{ minRows: 2, maxRows: 4 }"
                  nz-input
                  formControlName="deletionReason"
                >
                </textarea>
              </nv-input-wrapper>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</nv-paper-view>
