<div class="l-file-upload">
  <input type="file" (change)="onChange($event)"
                     [multiple]="allowMultiple"
                     [accept]="acceptTypes"
                     #el/>
  <lavash-button (click)="onFileUpload(el)"
                [text]="uploadBtnText">
  </lavash-button>
</div>
