/* You can add global styles to this file, and also import other style files */


@import 'lavash-reset';
@import './assets/less/_vars';

body {
  background: #fafafa;
  font-family: 'Philosopher', sans-serif;
  font-size: 1rem;
  font-weight: 200;
}

p, button, input{
  font-family: 'Spartan', 'Philosopher', sans-serif;
  font-family: 'Philosopher', sans-serif;
  font-size: 1rem;
}

h1, h2, h3 {
  font-family: 'Philosopher', sans-serif;
}