@import "../../../../styles/global/breakpoints";
.info-alert {
  width: 100%;
  padding: 14px 16px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  background-color: var(--color-white);
  color: var(--color-black);
  border: 1px solid #e2e5ec;
  .icon-side {
    margin-right: 8px;
    i-feather {
      height: 24px;
      width: 24px;
      stroke-width: 1.5;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: me-info-alert-loader 2s linear infinite;
    }
  }

  .text-side {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 5px;
    
    .text-header {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .text-content {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: var(--color-main-darker);
      line-height: 16px;
    }
    .text-button{
      font-size: 12px;
    }
  }

  .link-close-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .c-btn {
      height: 30px;
      width: 30px;
    }
    i-feather {
      height: 15px;
      width: 15px;
      stroke-width: 1.5;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
  }
  @include mobile{
    .text-side {
      flex-direction: column;
      align-items: flex-start;
      .text-header{
        margin-bottom: 4px;
      }
    }
  }
}

@keyframes me-info-alert-loader {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg); 
  }
}
