<div class="info-alert box-sizing-border-box">
  <div class="icon-side" *ngIf="data.mode === 'loading'">
    <i-feather name="loader"></i-feather>
  </div>

  <div class="text-side">
    <div class="text-side-left">
      <div class="text-header" *ngIf="data.title">{{ data.title }}</div>
      <div class="text-content" *ngIf="data.content">{{ data.content }}</div>
    </div>
    <div class="text-side-right" *ngIf="data.buttonText">
      <button mat-button color="primary" (click)="customEvent('btnEvent')" class="text-button" title="{{ data.buttonText }}">
        {{ data.buttonText }}
      </button>
    </div>
  </div>
  <div class="link-close-side">
    <button (click)="customEvent('exit')" mat-icon-button color="light" class="c-btn" title="Close">
      <i-feather name="x"></i-feather>
    </button>
  </div>
</div>
