<nv-paper-view>
  <!-- tree -->
  <nv-legal-type-tree
    (legalNodeSelect)="onLegalNodeSelect($event)"
  ></nv-legal-type-tree>
  <!-- grid -->
  <nv-grid
    [gridConfig]="shareholdingsGridConfig"
    [dataSource$]="dataSource$"
    (gridConfigChangedOnSave)="gridConfigService.update($event)"
  >
  </nv-grid>
</nv-paper-view>
