.header {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--color-white, #ffffff);
  padding: 15px 56px;

  .inner-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // width: 250px;
    height: 100%;

    .icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
    }

    .user-profile-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      me-user-image {
        margin-right: 20px;
      }

      .names {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .name {
          font-size: 12px;
          font-weight: 700;
        }

        .company {
          font-size: 10px;
          font-weight: 400;
        }
      }
    }
  }
}
