<div class="header box-sizing-border-box">
  <div class="inner-header-container box-sizing-border-box">
    <ng-container *ngIf="dataModel.helpMenuItems && dataModel.helpMenuItems.length">
      <span class="icons" #infoTrigger [matMenuTriggerFor]="infoMenu" (menuOpened)="startTrackClicks(infoTriggerObj, infoTrigger)">
        <i-feather name="help-circle"></i-feather
      ></span>
      <mat-menu #infoMenu="matMenu" yPosition="below" xPosition="before" hasBackdrop="false" class="user-menu custom-mat-menu">
        <div class="users-menu box-sizing-border-box">
          <div class="user-menu-items">
            <div
              *ngFor="let item of dataModel.helpMenuItems; trackBy: itemKey"
              class="user-menu-layout"
              (click)="helpMenuItemClick(item.key)"
            >
              <span>{{ item.displayName }}</span>
            </div>
          </div>
        </div>
      </mat-menu>
    </ng-container>
    <!-- <i-feather name="bell" (click)="goToNotifications()"></i-feather>
    <i-feather name="message-square" (click)="goToMessages()"></i-feather> -->
    <div
      class="user-profile-container box-sizing-border-box cursor-pointer"
      #userTrigger
      [matMenuTriggerFor]="userMenu"
      (menuOpened)="startTrackClicks(userTriggerObj, userTrigger)"
    >
      <me-user-image [imageModel]="dataModel.user.userImage"></me-user-image>
      <div class="names">
        <span class="name">{{ dataModel.user.preferredName || dataModel.user.firstName || '' }}</span>
        <span class="company">{{ dataModel.user.company || '' }}</span>
      </div>

      <i-feather name="chevron-down"></i-feather>
    </div>
    <mat-menu #userMenu="matMenu" yPosition="below" xPosition="before" hasBackdrop="false" class="user-menu custom-mat-menu">
      <div class="users-menu box-sizing-border-box">
        <div class="user-info-container">
          <div class="user-layout">
            <div class="user-img">
              <me-user-image [imageModel]="dataModel.user.userImage"></me-user-image>
            </div>
            <div class="user-text">
              <div class="user-header">{{ dataModel.user.firstName || '' }} {{ dataModel.user.lastName || '' }}</div>
              <div class="user-content">
                {{ dataModel.user.email || '' }}
              </div>
            </div>
          </div>
        </div>
        <div class="user-menu-items">
          <div class="user-menu-layout" (click)="goToUserProfile()">
            <i-feather name="sliders" class="user-icon"></i-feather>
            <span>{{ dataModel.placeholders?.profileSettings || 'Profile Settings' }}</span>
          </div>

          <div class="user-menu-layout" (click)="openUserGuide()">
            <i-feather name="file-text" class="user-icon"></i-feather>
            <span>{{ dataModel.placeholders?.userGuide || 'User Guide' }}</span>
          </div>

          <div class="user-menu-layout" (click)="logOut()">
            <i-feather name="log-out" class="user-icon"></i-feather>
            <span>{{ dataModel.placeholders?.logout || 'Logout' }}</span>
          </div>
        </div>
      </div>
    </mat-menu>
  </div>
</div>
