:host {
  flex: 1 1 auto;
  display: flex;
}

.actionsRow{
  .actionsRowWrapper{
    width: 100%;
    height: 100%;
    flex-direction: row;
  }

  .btn{
    margin-right: 4px;
  }
}

.users-list-content{
  padding: 8px;

  .users-list{
    flex: 0 1 auto;
    overflow: auto;

    .user-element{
      padding: 6px;
      border-bottom: 1px solid #eaeaea;
      cursor: pointer;
      flex-direction: row;
      align-items: center;

      &:hover{
        background: #f3f5f7;
      }

      >*{
        margin-right: 8px;
      }


    }
  }
}
