:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% - 250px);
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  padding-right: 0;
}

nv-fieldset {
  flex: 1;
  height: calc(100% - 40px);
  width: 100%;
}
.fieldset-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: calc(100% - 20px);
  width: 100%;
  position: relative;
}

form[nz-form] {
  width: fit-content;
  position: absolute;
  top: 0;
  left: 5px;
}

.fields-wrapper {
  display: flex;
}

nv-input-wrapper.date {
  margin-right: 25px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center
}

[nz-checkbox][formControlName="showHistoricalData"] {
  margin-bottom: -10px;
}

.grids-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 20px;
  width: 100%;
}

nv-grid {
  box-shadow: none;
  width: fit-content;
  max-width: 100%;
  max-height: fit-content;
}

:host ::ng-deep {
  nv-grid {
    nv-grid-toolbar {
      height: 70px;
    }
    .grid-wrapper {
      // to improve bottom scroll of grid
      height: 100%;
      max-height: fit-content;
    }
  }
}
