<div [class.opt-required-input-attribute-wrapper]="data.optRequired && !data.required">
  <mat-form-field [formGroup]="form">
    <mat-label [class.mark-required]="data.required" [class.mark-opt-required]="data.optRequired && !data.required">{{
      data.displayName
    }}</mat-label>

    <input
      type="number"
      matInput
      [id]="data.internalName"
      [formControlName]="data.internalName"
      [min]="data.minValue"
      [max]="data.maxValue"
    />
    <me-input-error *ngIf="meInputErrorData" [data]="meInputErrorData"></me-input-error>
  </mat-form-field>
</div>
