<nv-fieldset>
  <div class="title">
    <div class="structure-name-container" (contextmenu)="contextMenu($event, menu)">
        {{ currentStructure ? currentStructure.fullTitle : '' }}
      <div class="tree-buttons">
        <button
          nz-button
          nzType="default"
          nz-tooltip
          nzTooltipPlacement="topCenter"
          [nzTooltipTitle]="wording.accounting.openTree | translate"
          (click)="openTree()"
        >
          <i nz-icon nzType="double-right" nzTheme="outline"></i>
        </button>
        <button
          nz-button
          nzType="default"
          nz-tooltip
          nzTooltipPlacement="topCenter"
          [nzTooltipTitle]="wording.accounting.closeTree | translate"
          (click)="closeTree()"
        >
          <i nz-icon nzType="double-left" nzTheme="outline"></i>
        </button>
      </div>
    </div>
  </div>

  <nz-tree
    [nzData]="nodes$ | async"
    [nzTreeTemplate]='nzTreeTemplate'
    [nzDraggable]="_editMode"
    (nzOnDrop)="onDrop($event)"
    (nzExpandChange)="onExpandedChange($event)"
    [nzBeforeDrop]="beforeDrop"
    (nzClick)="closeContextmenu()"
    (nzExpandChange)="closeContextmenu()"
    (nzOnDragEnter)="onDragEnter($event)"
    [nzExpandedIcon]="epxandIcon"
    #nodesComponent
  >
    <ng-template #epxandIcon let-node>
      <i
        *ngIf="node.children.length > 0 "
        nz-icon
        [nzType]="node.isExpanded ? 'caret-down' : 'caret-right'"
        nzTheme="outline"
        class="ant-tree-switcher-line-icon summation-expand-icon"
      ></i>
    </ng-template>
  </nz-tree>
  <ng-template #nzTreeTemplate let-node>
    <!-- Without title="" ng-zorro will display [Object object] in a tooltip
      we don't need the tooltip at all
    -->
    <span
      class="tree-node"
      (contextmenu)="contextMenu($event, menu, node)"
      [attr.draggable]="true"
      [attr.aria-grabbed]="true"
      [class.draggable]="true"
      [ngClass]="{
        'highlighted': node.origin.isHighlighted,
        'account-node': node.origin.bookingAccountId
      }"
      [attr.data-node-key]="node.key"
      title=""
    >
      {{ node.title[language] }}
      <i
        nz-icon
        *ngIf="node.origin.nodeType === MASTER_STRUCTURE_NODE_TYPE.SUMMATION"
        class="node-icon red-icon"
      >
        𝚺
      </i>
      <i
        nz-icon
        *ngIf="node.origin.hasExpenseItem && !node.origin.bookingAccountId"
        class="node-icon expense-icon"
      >
        $
      </i>
      <i
        nz-icon
        *ngIf="node.origin.hasResultCurrentYear"
        class="node-icon"
      >
        𝚺
        <i class="child-icon current-year">C</i>
      </i>
      <i
        nz-icon
        *ngIf="node.origin.hasResultPreviousYear"
        class="node-icon"
      >
        𝚺
        <i class="child-icon previous-year">P</i>
      </i>
      <i
        nz-icon
        nzType="sync"
        nzTheme="outline"
        *ngIf="node.origin.hasSwitchingNode
          || (node.origin.nodeType === MASTER_STRUCTURE_NODE_TYPE.SWITCHING_ACCOUNT
            && node.origin.bookingAccountId)"
      ></i>
    </span>
  </ng-template>
</nv-fieldset>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li
      nz-menu-item
      (click)="openCreationModal()"
      *ngIf="!selectedNode
        || selectedNode?.origin.nodeType === MASTER_STRUCTURE_NODE_TYPE.NODE"
    >
      <i nz-icon nzType="plus-circle"></i>
      {{ wording.accounting.addNode | translate }}
    </li>
    <li
      nz-menu-item
      (click)="openEditModal()"
      *ngIf="selectedNode
        && selectedNode.origin.nodeType != MASTER_STRUCTURE_NODE_TYPE.BOOKING_ACCOUNT
        && selectedNode.origin.nodeType != MASTER_STRUCTURE_NODE_TYPE.SWITCHING_ACCOUNT"
    >
      <i nz-icon nzType="edit"></i>
      {{ wording.accounting.editNode | translate }}
    </li>
    <li
      nz-menu-item
      (click)="openDeleteModal()"
      *ngIf="selectedNode"
    >
      <i nz-icon nzType="delete"></i>
      <ng-container *ngIf="selectedNode!.origin.bookingAccountId">
        {{ wording.accounting.deleteAccount | translate }}
      </ng-container>
      <ng-container *ngIf="!selectedNode!.origin.bookingAccountId">
        {{ wording.accounting.deleteNode | translate }}
      </ng-container>
    </li>
    <li
      nz-menu-item
      (click)="openBookingAccountsModal()"
      *ngIf="selectedNode?.origin.nodeType === MASTER_STRUCTURE_NODE_TYPE.NODE"
    >
      <i nz-icon nzType="plus-circle"></i>
      {{ wording.accounting.addAccount | translate }}
    </li>
    <li
      nz-menu-item
      (click)="highlightNode()"
      *ngIf="selectedNode && !selectedNode.origin.bookingAccountId"
      [ngClass]="{'highlighted': selectedNode?.origin.isHighlighted}"
    >
       <i nz-icon nzType="highlight" nzTheme="outline"></i>
      {{ wording.accounting.highlightNode | translate }}
    </li>
    <li
      nz-menu-item
      (click)="makeExpenseItem()"
      *ngIf="currentStructure
        .masterStructureType === MASTER_STRUCTURE_TYPES.BUSINESS_MANAGEMENT_EVALUATION
        && selectedNode
        && !selectedNode.origin.bookingAccountId
        && selectedNode.children.length === 0
        && selectedNode.level === 0
      "
      [ngClass]="{'highlighted': selectedNode?.origin.hasExpenseItem}"
    >
      <i nz-icon>$</i>
      {{ wording.accounting.expenseItem | translate }}
    </li>
    <li
      nz-menu-item
      (click)="openSummationModal()"
      *ngIf="isSummationVisible"
    >
      <i nz-icon>𝚺</i>
      {{ wording.accounting.summationOf | translate }}
    </li>
    <li
      nz-menu-item
      (click)="makeCurrentYearResult()"
      *ngIf="isCurrentYearResultVisible"
    >
      <i nz-icon>𝚺</i>
      {{ wording.accounting.resultCurrentYear | translate }}
    </li>
    <li
      nz-menu-item
      (click)="makePrevYearResult()"
      *ngIf="isPreviousYearResultVisible"
    >
      <i nz-icon>𝚺</i>
      {{ wording.accounting.resultPrevYear | translate }}
    </li>
  </ul>
</nz-dropdown-menu>

<ng-template #nodeForm>
  <form
    [formGroup]="form"
    class="structure-node-form"
    nz-form
    nzLayout="vertical"
  >
    <nv-input-wrapper [label]="wording.general.nameDe | translate">
      <input formControlName="labelDe" type="text" nz-input>
    </nv-input-wrapper>
    <nv-input-wrapper [label]="wording.general.nameEn | translate">
      <input formControlName="labelEn" type="text" nz-input>
    </nv-input-wrapper>
    <nv-input-wrapper [label]="wording.accounting.externalSystemCode | translate">
      <input formControlName="externalSystemCode" type="text" nz-input>
    </nv-input-wrapper>
    <div
      class="node-type"
      *ngIf="currentStructure
        .masterStructureType === MASTER_STRUCTURE_TYPES.BUSINESS_MANAGEMENT_EVALUATION"
    >
      <label>
        {{ wording.accounting.nodeType | translate }}
      </label>
      <input
        [value]="selectedNode?.origin.hasExpenseItem
          ? (wording.accounting.expenseItem | translate)
          : (wording.accounting.earningsItem | translate)
        "
        type="text"
        nz-input
        disabled
      >
    </div>
    <ng-container
      *ngIf="currentStructure
        .masterStructureType === MASTER_STRUCTURE_TYPES.BALANCE_SHEET
        && selectedNode
        && (selectedNode.level !== 0 || isCreationMode)
        && !selectedNode.origin.bookingAccountId
        && !selectedNode.origin.hasResultCurrentYear
        && !selectedNode.origin.hasResultPreviousYear
      "
    >
      <label
        nz-checkbox
        formControlName="hasSwitchingNode"
        class="switching-node-checkbox"
      >
        {{ wording.accounting.switchingNode | translate }}
      </label>
      <ng-container *ngIf="form.get('hasSwitchingNode').value">
        <nv-input-wrapper [label]="wording.accounting.nameOfSwitchingNode | translate">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input
              type="text"
              formControlName="switchingNodeName"
              nz-input
              [nzAutocomplete]="auto"
              (blur)="onSwitchingNameBlur()"
              (input)="onSwitchingNodeSearch($event.target.value)"
            />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button
              nz-button
              nzType="default"
              nzSearch
              (click)="openSwitchingNodesModal()"
            >
              <i nz-icon nzType="down" nzTheme="outline"></i>
            </button>
          </ng-template>
          <nz-autocomplete [nzDataSource]="filteredSwitchingNodes" nzBackfill #auto>
          </nz-autocomplete>
        </nv-input-wrapper>

        <nv-input-wrapper
          [label]="wording.accounting.externalSystemCodeSwitchingNode | translate"
        >
          <input formControlName="switchingNodeExternalCode" type="text" nz-input>
        </nv-input-wrapper>
      </ng-container>
    </ng-container>
  </form>
</ng-template>
