:host {
  margin-top: 12px;
  margin-bottom: 20px;
  width: 100%;
}

:host ::ng-deep {
  .ant-tree {
    margin-left: 20px;
    margin-top: 20px;
  }
  .ant-tree-treenode {
    margin-bottom: 3px;
  }
  // Enable this is highlighted nodes aren't wanted
  // nz-tree-node-title {
  //   &:hover, &:focus, &:active, &.ant-tree-node-selected {
  //     background: none !important;
  //   }
  // }
}

.tree-node {
  cursor: pointer;
}

nv-input-wrapper {
  height: 75px;
  display: block;
}

.structure-name-container {
  cursor: pointer;
  margin: 5px;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}

.title {
  display: flex;
  align-items: center;

  .tree-buttons {
    margin-left: 5px;
    display: inline-block;
    button {
      border: 0;

      &:hover {
        border: 1px solid #c44747;
      }
    }
  }
}

.node-icon {
  display: contents;
}

.red-icon {
  color: #c44747;
}

.expense-icon {
  font-weight: bolder;
}

.highlighted {
  font-weight: bolder;
}

.child-icon {
  font-weight: bolder;
  font-size: 10px;
  margin-left: -5px;
}

.current-year {
  color: #c44747;
}

.previous-year {
  color: #0080ff;
}

.summation-expand-icon {
  font-size: 10px;
  vertical-align: middle;
}

.node-type {
  label {
    font-size: 12px;
    color: grey;
    text-align: left;
    padding-left: 2px;
    text-transform: uppercase;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.switching-node-checkbox {
  margin-bottom: 20px;
}

.ant-input-group-wrapper {
  top: 0 !important;
}

.account-node {
  font-size: 18px !important;
  font-style: italic;
}
