@import '../../../assets/less/_vars';

section {
  .flex;
  flex-direction: column;

  &:after {
    background: black url(@portfolio-bg) no-repeat bottom center ;
    background-size: cover;
  }
}

.portfolio {
  position: relative;
  border: 1px solid @toxic_b;
  margin-top: 20px;
  padding: 3px;
  // opacity: 0;
  // animation: portfolio 3s ease-in-out forwards;
}

@keyframes portfolio {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
