<div>
  <button type="button" (click)="triggerCancel()" class="ant-modal-close">
    <span class="ant-modal-close-x">
      <i nz-icon [nzType]="'close'"></i>
    </span>
  </button>
  <div class="ant-modal-header no-additional-padding">
    <div class="ant-modal-title">
      <span>
        {{ title ? (title | translate) : '' }}
      </span>
    </div>
  </div>

  <div class="form-wrapper">
    <form [formGroup]="form" nz-form nzLayout='vertical' class="padding-mid">
      <nv-company-autocomplete
        [form]="form"
        [properties]="['firstName', 'lastName']"
        controlName="partnerId"
        [label]="memberToDefineTitle || ''"
        [filters]="{ isActive: true, isPrivatePerson: true }"
        [showErrMessages]="true"
      >
      </nv-company-autocomplete>
      <div class="form-row-host">
        <label
          nz-checkbox
          formControlName="defineManagingPartner"
          data-checkbox="defineManagingPartner"
        >
          {{ defineCheckboxTitle ? (defineCheckboxTitle | translate) : '' }}
        </label>

        <div
          *ngIf="form.get('defineManagingPartner').value"
          class="private-person-fields"
          [formGroup]="privatePersonForm"
        >
          <nv-input-wrapper [label]="wording.accounting.salutation | translate">
            <nz-select
              nzShowSearch
              nzAllowClear
              [nzPlaceHolder]="wording.accounting.chooseSalutation | translate"
              formControlName="salutationId"
            >
              <nz-option
                *ngFor="let salutation of (salutations$ | async)"
                [nzValue]="salutation.id"
                [nzLabel]="salutation.displayLabel | translate"
                nzCustomContent
              >
                <div [attr.e2e-salutation-option]="salutation.labelEn">
                  {{ salutation.displayLabel | translate }}
                </div>
              </nz-option>
            </nz-select>
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.general.firstName | translate">
            <input formControlName="firstName" type="text" nz-input />
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.general.lastName | translate">
            <input formControlName="lastName" type="text" nz-input />
          </nv-input-wrapper>
        </div>
      </div>

      <nv-input-wrapper [label]="wording.system.function | translate">
        <nz-select formControlName="functionType">
          <nz-option
            *ngFor="let option of availableFunctionTypes | keyvalue"
            [nzLabel]="option.value?.en ? (option.value | translate) : option.value"
            [nzValue]="option.key"
            nzCustomContent
          >
            <div [attr.data-function-option]="option.value.en">
              {{ option.value?.en ? (option.value | translate) : option.value }}
            </div>
          </nz-option>
        </nz-select>
      </nv-input-wrapper>

      <nv-input-wrapper [label]="wording.system.scopeOfRepresentation | translate">
        <nz-select formControlName="scopeOfRepresentationType">
          <nz-option
            *ngFor="let option of scopeOfRepresentationTypes | keyvalue"
            [nzLabel]="option.value | translate"
            [nzValue]="option.key"
            nzCustomContent
          >
            <div [attr.data-scope-of-representation-option]="option.value.en">
              {{ option.value | translate }}
            </div>
          </nz-option>
        </nz-select>
      </nv-input-wrapper>

      <div class="form-row-host">
        <label
          nz-checkbox
          formControlName="releaseSec181_1"
          data-checkbox="releaseSec181_1"
        >
          {{ wording.system.releaseSec181_1 | translate }}
        </label>
      </div>

      <div class="form-row-host">
        <label
          nz-checkbox
          formControlName="releaseSec181_2"
          data-checkbox="releaseSec181_2"
        >
          {{ wording.system.releaseSec181_2 | translate }}
        </label>
      </div>

      <div class="form-row-host">
        <label
          nz-checkbox
          formControlName="isActive"
          data-checkbox="isActive"
          [nzDisabled]="true"
        >
          {{ wording.accounting.active | translate }}
        </label>
      </div>

      <div nz-row class="dates">
        <nv-input-wrapper nz-col nzSpan="11" [label]="wording.general.from | translate">
          <nv-datebox formControlName="from"></nv-datebox>
        </nv-input-wrapper>

        <nv-input-wrapper nz-col nzSpan="11" [label]="wording.general.to | translate">
          <nv-datebox formControlName="to"></nv-datebox>
        </nv-input-wrapper>
      </div>

      <nv-input-wrapper [label]="wording.system.remark | translate">
        <textarea
          [nzAutosize]="{ minRows: 2, maxRows: 4 }"
          nz-input
          formControlName="remark"
        ></textarea>
      </nv-input-wrapper>
    </form>
  </div>
</div>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="triggerCancel()">
    {{ wording.general.cancel | translate }}
  </button>
  <button nz-button nzType="primary" (click)="submit()" [disabled]="isSaveDisabled">
    {{ wording.general.save | translate }}
  </button>
</div>