:host {
  max-height: 600px;
  max-width: 85vw;
  padding: 10px;
  min-width: 600px;
}

.title {
  padding: 5px 20px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}

.dates {
  justify-content: space-between;
}

.no-additional-padding {
  margin: -10px !important;
}