:host {
  flex: 1 1 auto;
  display: flex;
  .nv-content {
    overflow: hidden;
  }
  .form-wrap {
    padding: 0.5rem 1rem;
    overflow: auto;
    display: flex;
    form {
      min-width: 850px;
      width: 100%;
    }
  }
  .hide-select-arrow ::ng-deep .ant-select-arrow {
    display: none;
  }
}

.paper {
  max-width: 880px;

  .header {
    padding: 10px;
    flex-direction: row;
    align-items: center;
  }

  .content {
    padding: 26px;
  }
}

.checkboxes {
  div {
    padding-bottom: 10px;
  }
}

.error {
  color: #c44747;
}

.remark {
  height: 60px;
}

:host ::ng-deep .ct-relation {
  .toolbar-buttons, nv-right-action {
    pointer-events: none;
    opacity: .8;
  }

  &.edit-mode {
    .toolbar-buttons, nv-right-action {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.accountTypeAccruals-radio-group {
  width: 220px;
}

.accountTypeAccruals-input {
  margin-top: 6px;
}

.form-wrap {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    opacity: 1;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    opacity: 1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #9c9c9c;
    transition: background-color .3s;
  }
}

