<nv-paper-view
  [customTitle]="creationMode
    ? (wording.general.create | translate)
    : (title$ | async)"
  [routeBack]="!creationMode && routeBack"
>
  <!-- Header -->
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <!-- Content -->
  <div 
    class="form-wrap"
    *ngIf="form"
  >
    <form 
      nvSpyElement
      (initialized) = "formInitialized($event)"
      [formGroup]="form"
      nz-form
      nzLayout="vertical"
    >
      <div
        nz-row
        nzGutter="22"
      >
        <div
          nz-col
          nzSpan="8"
        >
          <nv-fieldset>
            <nv-input-wrapper [label]="accountWording.no | translate">
              <input
                nz-input
                formControlName="no"
                type="text"
                (ngModelChange)="accountNumberChanged($event)"
              />
            </nv-input-wrapper>
            <nv-input-wrapper [label]="wording.general.nameDe | translate">
              <input
                formControlName="labelDe"
                type="text"
                nz-input
              />
            </nv-input-wrapper>
            <nv-input-wrapper [label]="wording.general.nameEn | translate">
              <input
                formControlName="labelEn"
                type="text"
                nz-input
              />
            </nv-input-wrapper>

            <nv-currency-autocomplete
              [form]="form"
              [label]="wording.accounting.restrictedCurrency"
            >
            </nv-currency-autocomplete>

            <nv-input-wrapper [label]="wording.accounting.accountingRelation | translate">
              <nz-select
                class="hide-select-arrow"
                [nzDisabled]="form?.controls.accountingRelation.disabled"
                nzShowSearch
                nzAllowClear
                [nzPlaceHolder]="wording.accounting.accountingRelationType | translate"
                formControlName="accountingRelation"
              >
                <nz-option
                  *ngFor="let option of accountingRelationTypesOptions"
                  [nzLabel]="option.displayLabel | translate"
                  [nzValue]="option.value"
                  nzCustomContent
                >
                  <div [attr.data-accounting-relation-option]="option.displayLabel.en">
                    {{ option.displayLabel | translate }}
                  </div>
                </nz-option>
              </nz-select>
            </nv-input-wrapper>
            <nv-input-wrapper [label]="accountWording.remark | translate">
              <input
                formControlName="remark"
                type="text"
                nz-input
                class="remark"
              />
            </nv-input-wrapper>
          </nv-fieldset>
          <nv-fieldset>
            <nv-input-wrapper [label]="accountWording.debitorCreditor | translate">
              <nz-select
                [nzPlaceHolder]="
                  accountWording.selectDebitorCreditor | translate
                "
                formControlName="debitorCreditorType"
              >
                <nz-option
                  *ngFor="let option of debitorCreditorTypesOptions"
                  [nzLabel]="option.displayLabel | translate"
                  [nzValue]="option.value"
                  nzCustomContent
                >
                  <div [attr.data-debitor-creditor-type-option]="option.displayLabel.en">
                    {{ option.displayLabel | translate }}
                  </div>
                </nz-option>
              </nz-select>
            </nv-input-wrapper>
          </nv-fieldset>
        </div>
        <div
          nz-col
          nzSpan="8"
          class="checkboxes"
        >
          <nv-fieldset>
            <div class="form-row-host">
              <label
                nz-checkbox
                formControlName="isCostAccounting"
                data-checkbox="isCostAccounting"
                (nzCheckedChange)="onIsCostAccountingChange($event)"
              >
                {{ accountWording.costAccounting | translate }}
              </label>
            </div>
            <div class="form-row-host">
              <label
                nz-checkbox
                formControlName="isOpenItem"
                data-checkbox="isOpenItem"
              >
                {{ accountWording.openItem | translate }}
              </label>
            </div>
            <div class="form-row-host">
              <label
                nz-checkbox
                formControlName="isOpex"
                data-checkbox="isOpex"
              >
                {{ accountWording.opex | translate }}
              </label>
            </div>
            <div class="form-row-host">
              <label
                nz-checkbox
                formControlName="assetAccount"
                data-checkbox="assetAccount"
              >
                {{ accountWording.assetAccount | translate }}
              </label>
            </div>
            <div
              class="form-row-host"
              *ngIf="isInBalanceAccountRange"
            >
              <label
                nz-checkbox
                formControlName="isSwitchingAccount"
                data-checkbox="isSwitchingAccount"
              >
                {{ accountWording.switchingAccount | translate }}
              </label>
            </div>
            <div class="form-row-host">
              <label
                *ngIf="showIsActiveCheckbox"
                nz-checkbox
                formControlName="isActive"
                data-checkbox="isActive"
              >
                {{ accountWording.active | translate }}
              </label>
            </div>
          </nv-fieldset>
          <nv-fieldset>
            <nz-checkbox-wrapper formGroupName="accountingCheckboxGroup">
              <div class="form-row-host">
                <label
                  nz-checkbox
                  formControlName="isHgbAccounting"
                  data-checkbox="isHgbAccounting"
                >
                  {{ accountWording.hgbAccounting | translate }}
                </label>
              </div>
              <div class="form-row-host">
                <label
                  nz-checkbox
                  formControlName="isIfrsAccounting"
                  data-checkbox="isIfrsAccounting"
                >
                  {{ accountWording.ifrsAccounting | translate }}
                </label>
              </div>
              <div class="form-row-host">
                <label
                  nz-checkbox
                  formControlName="isUsgaapAccounting"
                  data-checkbox="isUsgaapAccounting"
                >
                  {{ accountWording.usgaapAccounting | translate }}
                </label>
              </div>
              <div class="form-row-host">
                <label
                  nz-checkbox
                  formControlName="isEBalanceAccounting"
                  data-checkbox="isEBalanceAccounting"
                >
                  {{ accountWording.eBalanceAccounting | translate }}
                </label>
              </div>
              <div
                class="error"
                *ngIf="
                  form.controls['accountingCheckboxGroup'].errors &&
                  form.controls['accountingCheckboxGroup'].errors
                    .requiredCheckboxes &&
                  form.controls['accountingCheckboxGroup']!.dirty
                "
              >
                {{
                  form.controls["accountingCheckboxGroup"].errors
                    .requiredCheckboxes.message | translate
                }}
              </div>
            </nz-checkbox-wrapper>
          </nv-fieldset>          
          <nv-fieldset
            *ngIf="isInBalanceAccountRange"
            [label]="wording.accounting.accrualAccounting | translate"
            class="accrualAccounting-fieldset"
          >
            <label
              nz-checkbox
              formControlName="isAccruedAndDeferredItem"
            >
              {{ wording.accounting.accruedAndDeferredItem | translate }}
            </label>
            <div
              *ngIf="form.get('isAccruedAndDeferredItem').value === true"
              class="accountTypeAccruals-input"
            >
              <nv-input-wrapper
                [label]="wording.accounting.typeOfAccount | translate"
                class="accountTypeAccruals-input"
              >
                <nz-radio-group formControlName="accountTypeAccruals">
                  <div class="form-row-host">
                    <label
                      nz-radio
                      [nzValue]="ACCOUNT_TYPE_ACCRUALS.AccountPrepaidExpenses"
                      class="accountTypeAccruals-radio-group"
                    >
                      {{ wording.accounting.accountPrepaidExpenses | translate }}
                    </label>
                    <label
                      nz-checkbox
                      nzDisabled
                      formControlName="isAccrualDefaultPrepaid"                      
                      [hidden]="form.get('isAccruedAndDeferredItem').value !== true || 
                      form.get('accountTypeAccruals').value != ACCOUNT_TYPE_ACCRUALS.AccountPrepaidExpenses"
                      [nzTooltipTitle]="wording.accounting.defaultAccountsAccrualAccounting | translate"
                      nz-tooltip
                    >
                      {{ wording.accounting.defaultAccountPrepaidExpenses | translate }}
                    </label>
                  </div>
                  <div class="form-row-host">
                    <label
                      nz-radio
                      [nzValue]="ACCOUNT_TYPE_ACCRUALS.AccountDeferredIncome"
                      class="accountTypeAccruals-radio-group"
                    >
                      {{ wording.accounting.accountDeferredIncome | translate }}
                    </label>
                    <label
                      nz-checkbox
                      nzDisabled
                      formControlName="isAccrualDefaultDeferred"
                      [hidden]="form.get('isAccruedAndDeferredItem').value !== true || 
                      form.get('accountTypeAccruals').value != ACCOUNT_TYPE_ACCRUALS.AccountDeferredIncome"
                      [nzTooltipTitle]="wording.accounting.defaultAccountsAccrualAccounting | translate"
                      nz-tooltip
                    >
                      {{ wording.accounting.defaultAccountDeferredIncome | translate }}
                    </label>
                  </div>
                </nz-radio-group>
              </nv-input-wrapper>
            </div>
          </nv-fieldset>
          <nv-fieldset
            *ngIf="isInProfitAndLossEarningsRange"
            [label]="wording.accounting.accountDeferredIncome | translate"
            class="accrualAccounting-fieldset"
          >
            <nv-booking-account-autocomplete
              [form]="form"
              controlName="accrualBookingAccountId"
              [filters]="{ isAccruedAndDeferredItem: true, accountTypeAccruals: ACCOUNT_TYPE_ACCRUALS.AccountDeferredIncome }"
            > 
          </nv-booking-account-autocomplete>
           
          </nv-fieldset>
          <nv-fieldset
            *ngIf="isInProfitAndLossExpensesRange"
            [label]="wording.accounting.accountPrepaidExpenses | translate"
            class="accrualAccounting-fieldset"
          >
            <nv-booking-account-autocomplete
              [form]="form"
              controlName="accrualBookingAccountId"
              [filters]="{ isAccruedAndDeferredItem: true, accountTypeAccruals: ACCOUNT_TYPE_ACCRUALS.AccountPrepaidExpenses }"
            > 
        </nv-booking-account-autocomplete>

          </nv-fieldset>
        </div>
        <!-- cost account relation -->
        <div
          nz-col
          nzSpan="8"
          *ngIf="form.get('accountingRelation').value
            && form.get('accountingRelation').value !== ACCOUNTING_RELATIONS.BALANCE
            && form.get('isCostAccounting').value"
        >
          <nv-fieldset
            class="ct-relation"
            [ngClass]="{'edit-mode': editMode}"
          >
            <nv-cost-accounting-relation-list-view
              [bookingAccountId]="bookingAccountId"
              [accountingRelationCategory]="form.get('accountingRelation').value"
            >
            </nv-cost-accounting-relation-list-view>
            <p
              *ngIf="form.get('isCostAccounting').value && accountCostRelations.length === 0"
              class="error"
            >
              {{wording.accounting.atLeastOneCostTypeMustBeSelected | translate}}
            </p>
          </nv-fieldset>
        </div>
      </div>
    </form>
  </div>
</nv-paper-view>