<div class="main">
  <form [formGroup]="form">
    <div class='body-container'>
      <nv-input-wrapper
        [label]="wording.chartering.vessel | translate"
      >
        <nv-box-select formControlName="vesselId">
          <nv-box-select-item
            *ngFor="let vessel of vessels"
            [value]="vessel.id"
            [attr.data-vessel-imo]="vessel.imo"
          >
            {{ vessel.imo }}
            {{ vessel.lastVesselAccounting?.vesselNo }}
            {{ vessel.lastVesselAccounting?.vesselName }}
          </nv-box-select-item>
        </nv-box-select>
      </nv-input-wrapper>
      <nv-input-wrapper
        [label]="wording.accounting.accounting | translate"
      >
        <nv-box-select
          formControlName="vesselAccountingId"
        >
          <nv-box-select-item
            *ngFor="let accounting of vesselAccountings"
            [value]="accounting.id"
            [attr.data-vessel-accounting-no]="accounting.vesselNo"
            [attr.data-vessel-accounting-name]="accounting.vesselName"
          >
            {{ accounting.vesselNo }} {{ accounting.vesselName }}
            ({{ accounting.formattedFrom }}<!--
         -->{{accounting.formattedUntil ? ' - ' : ''}}<!--
         -->{{accounting.formattedUntil}})
          </nv-box-select-item>
        </nv-box-select>
      </nv-input-wrapper>
    </div>
    <div>
      <div class="fb footer">
        <button
          nz-button
          nzType="default"
          class="footer-button"
          [attr.data-crud-action-button]="'cancel'"
          (click)="handleCancel()"
        >
          {{ wording.general.cancel | translate  }}
        </button>
        <button
          nz-button
          nzType="primary"
          type="submit"
          [attr.data-crud-action-button]="'save'"
          class="footer-button save-button"
          (click)="handleSubmit()"
        >
          {{ wording.general.save | translate  }}
        </button>
      </div>
    </div>
  </form>
</div>
