:host {
  display: block;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
}


form {
  width: 100%;
}

.body-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0;

  nv-input-wrapper {
    margin: 0 10px;
    min-height: 100%;

    ::ng-deep {
      & > div {
        height: 100%;

        nz-form-item {
          height: 100%;
          display: flex;
          flex-direction: column;

          nz-form-control {
            flex: 1;

            .ant-form-item-control,
            .ant-form-item-children,
            .input-container {
              display: block;
              height: 100%;
            }
          }
        }
      }
    }
  }

  nv-box-select {
    min-width: 200px;
    height: 100%;

    max-height: 300px;
  }
}

nv-box-select-item {
  white-space: nowrap;
}

.footer {
  flex-direction: row;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  text-align: right;
  border-radius: 0 0 4px 4px;
  justify-content: flex-end;
  .save-button {
    margin-left: auto;
  }
}
.main .footer .save-button {
  margin-left: 10px;
}
