@import '../../../assets/less/_vars';

section {
  &:after {
    background: url(@contact-bg) no-repeat center center;
    background-size: cover;
  }

}

.contact {
  width: 350px;
  margin-right: 50px;
}

:host ::ng-deep {
  .get-in-touch {
    color: white !important;
    margin-top: 20px;
    text-shadow: 0 3px 5px rgba(0,0,0, .3);
  }

  .form {
    position: relative;

    p {
      color: white;
    }

    .mail {
      // padding-left: 10px;
      span {
        color: @toxic;
      }
    }

    .l-input-wrapper {
      width: 100%;
      margin-top: 0;

      input, textarea {
        color: white;
        width: 100%;
        padding: 4px;
        border: none;
        background: rgba(0,0,0,.1);
        margin-bottom: 5px;
      }

      input {
        line-height: 35px;
        border-radius: 0;
        border: none;
        font-size: .8rem;
      }

      .l-placeholder {
        color: @light;
        font-size: .8rem;
      }
    }

    input:focus, textarea:focus {
      border: 1px solid @toxic;
    }

    .cta {
      button {
        background: black;
        color: @toxic;
        cursor: pointer;
        width: 100%;
        border-radius: 0;
        line-height: 40px;
        margin-bottom: 20px;
        .center-left;
      }
    }

    .l-error {
      color: #f15353 !important;
      text-shadow: 2px 0px 0px rgba(250,250,250,.05);
      margin-bottom: 15px;
    }

  }
}


@media all and (max-width: @mobile) {
  .contact {
    margin-right: 0;
  }
}