@import "../../../../styles/global/breakpoints";
.create-box {
  max-width: 660px;
}
.box-body {
  box-shadow: inset 0px 1px 0px #efeff3;
  padding: 30px 20px 20px 20px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  .d-box {
    margin-top: 30px;
    .di-box + .di-box {
      margin-top: 20px;
    }
    & + .d-box {
      border-top: 1px solid #c4c4c4;
      margin-top: 20px;
      padding-top: 20px;
    }
  }
  .nots {
    border-radius: 4px;
    background-color: #e9eefe;
    padding: 20px;
    display: flex;
    i-feather {
      height: 20px;
      width: 20px;
      background-color: var(--color-info);
      color: var(--color-white);
      border-radius: 4px;
      padding: 5px;
      display: flex;
    }
    .txt-box {
      padding: 7px 0 0 20px;
      width: calc(100% - 50px);
    }
    p {
      margin: 0;
      font-size: 12px;
      line-height: 16px;
    }
  }
  .s-title {
    font-size: 14px;
    color: var(--color-main);
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 20px;
  }
  .toggle-box {
    padding: 8px 0;
    .label {
      font-weight: 600;
      font-size: 14px;
      color: var(--color-main-darker);
      display: inline-block;
      width: 100%;
      max-width: calc(276px - 36px);
      cursor: pointer;
    }
  }
  .list {
    margin-top: 20px;
    li {
      font-size: 12px;
      line-height: 18px;
      color: var(--color-main-darker);
    }
  }
}
.box-footer {
  box-shadow: inset 0px 1px 0px #efeff3;
  text-align: right;
  padding: 20px;
  button {
    font-size: 12px;
    font-weight: 600;
    &.mat-stroked-button {
      color: var(--color-main);
    }
    & + button {
      margin-left: 20px;
    }
  }
}
@include tablet {
  .box-body .nots .txt-box {
    padding: 0 0 0 15px;
  }
  .box-footer {
    padding: 15px;
  }
}
@include tablet_small {
  .box-body {
    padding: 20px;
    .s-title {
      margin-bottom: 10px;
    }
  }
}
@include mobile {
  .box-body {
    padding: 20px 15px;
    .nots {
      padding: 10px;
      .txt-box {
        padding: 0 0 0 10px;
      }
    }
    .d-box {
      margin-top: 15px;
      .di-box + .di-box {
        margin-top: 10px;
      }
      & + .d-box {
        margin-top: 15px;
        padding-top: 15px;
      }
    }
    .toggle-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 0;
      .label {
        max-width: calc(100% - 40px);
      }
    }
    .list {
      margin-top: 10px;
    }
  }
}
