<form [formGroup]="importDataForm" (ngSubmit)="submitForm()">
  <div class="box-body scrollbar">
    <div class="nots">
      <i-feather name="info"></i-feather>
      <div class="txt-box">
        <p>You can import <b>Users, Materials, Books</b>, and <b>Documents</b> from the Material library platform.</p>
        <p>Choose from the following options to initiate the data import process. Data imports can take <b>up to 24-hours</b>.</p>
      </div>
    </div>
    <div class="d-box">
      <h2 class="s-title">Materials and Books</h2>
      <div class="di-box">
        <div class="toggle-box">
          <label class="label" for="importMaterials-input">Import Materials</label>
          <mat-slide-toggle formControlName="importMaterials" color="primary" id="importMaterials"></mat-slide-toggle>
        </div>
        <ul class="list">
          <li>- Materials are only imported once. Any previously imported Materials will not be imported again.</li>
          <li>
            - All imported Materials will have “imported” automatically added to their name. You will need to remove the “imported” suffix
            when updating the Material.
          </li>
          <li>- Imported Materials will not be visible in the Marketplace until their visibility settings have been configured.</li>
        </ul>
      </div>
      <div class="di-box">
        <div class="toggle-box">
          <label class="label" for="importBooks-input">Import Books (as Collections)</label>
          <mat-slide-toggle formControlName="importCollections" color="primary" id="importBooks"></mat-slide-toggle>
        </div>
        <ul class="list">
          <li>- Library Platform Books will be converted to Collections in the Marketplace Platform.</li>
          <li>- Books are only imported once. Any previously imported Books will not be imported again.</li>
          <li>
            - All imported Collections will have “imported” automatically added to their (Collection) name. You will need to remove the
            “imported” suffix when updating the imported Collection.
          </li>
          <li>- Imported Collections will not be visible to Customers until their visibility settings have been configured.</li>
        </ul>
      </div>
    </div>
    <div class="d-box">
      <h2 class="s-title">Users</h2>
      <div class="di-box">
        <div class="toggle-box">
          <label class="label" for="importUsers-input">Import and Invite Users</label>
          <mat-slide-toggle formControlName="importUsers" color="primary" id="importUsers"></mat-slide-toggle>
        </div>
        <ul class="list">
          <li>- User accounts are only imported and invited once.</li>
          <li>- Any previously imported/invited user accounts will not be imported/invited again.</li>
          <li>- Users will receive an invitation email.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <button mat-stroked-button color="main" (click)="closePopup()" title="Cancel" type="button">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!importDataForm.value.importMaterials && !importDataForm.value.importCollections && !importDataForm.value.importUsers"
      type="submit"
      title="Import"
    >
      Import
    </button>
  </div>
</form>
