:host *  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button:focus {
    outline: none;
}

.l-button {
    background: #449fdb;
    display: flex;
    align-content: center;
}

.fill {
    width: 100%;
}

.fixed {
    width: 150px;
}

.rounded {
    border-radius: 50%;
}

.centered {
   justify-content: center;
}

button:hover {
    background: #e74c3c;
    transition: all .3s;
}

button {
    background: transparent;
    cursor: pointer;
    border: none;
}

:host text-component {
     line-height: 30px;
}

:host text-component[render="true"] {
    margin: 0 5px;
}