<div class="l-popup-container" *ngIf="popupIsActive">
  <lavash-event-container (keyboardEvent)="onKeydown($event)">
    <div class="l-popup">
      <lavash-button class="l-close"
                     className="animated"
                     [text]="closeBtnText"
                     [graphics]="closeBtnIcon"
                     (clickEvent)="closePopup()">
      </lavash-button>

      <div class="l-popup-data">
        <!-- popup dynamic data goes here -->
        <ng-content></ng-content>
      </div>
    </div>
  </lavash-event-container>
</div>
