@keyframes delay-pointer-events {
  0% {
    pointer-events: none;
  }
  50% {
    pointer-events: none;
  }
  100% {
    pointer-events: initial;
  }
}

:host {
  .actionsWrapper {
    position: absolute;
    top: 18px;
    left: 54px;

    &.large-buttons {
      position: static;

      .actionsRow {
        margin-right: 0;
        .actionsRowWrapper {
          .btn {
            width: initial;
          }
        }
      }
    }

    .actionsRow {
      display: flex;
      flex-direction: row;
      margin-right: 5px;

      .actionsRowWrapper {
        flex-direction: row-reverse;

        .btn {
          width: 40px;
          margin-right: 4px;
          transition: none !important;
        }
      }
    }

    .save-btn {
      animation: delay-pointer-events 1000ms linear;
    }

    &.editMode {
      left: 10px;
    }
  }
}
