<div
  [ngStyle]="styles"
  class="actionsWrapper"
  [class.editMode]="inEditingMode"
  [class.large-buttons]="largeButtons"
>
  <div class="actionsRow">
    <ng-container *nvAccessControl="ACL_ACTIONS.UPDATE">
      <div class="fb actionsRowWrapper" *ngIf="!inEditingMode">
        <button
          *ngIf="showEditButton"
          nz-button
          nzType="primary"
          class="btn"
          (click)="edit()"
          [disabled]="editDisabled"
          data-crud-action-button="edit"
          [nzTooltipTitle]="wording.general.edit | translate"
          nz-tooltip
        >
          <i *ngIf="!largeButtons" nz-icon nzType="edit"></i>
          <span *ngIf="largeButtons">{{ wording.general.edit | translate }}</span>
        </button>
      </div>
    </ng-container>

    <div class="fb actionsRowWrapper editMode" *ngIf="inEditingMode || showSaveAndCancel">
      <button
        nz-button
        nzType="primary"
        class="btn"
        [ngClass]="{'save-btn': animated}"
        (click)="onSaveclick();"
        [disabled]="saveDisabled"
        data-crud-action-button="save"
        [nzTooltipTitle]="wording.general.save | translate"
        nz-tooltip
      >
        <i *ngIf="!largeButtons" nz-icon nzType="save"></i>
        <span *ngIf="largeButtons">{{ wording.general.save | translate }}</span>
      </button>
      <button
        nz-button
        nzType="danger"
        class="btn cancel"
        (click)="cancelClicked.emit()"
        data-crud-action-button="cancel"
        [nzTooltipTitle]="wording.general.cancel | translate"
        nz-tooltip
      >
        <i *ngIf="!largeButtons" nz-icon nzType="close"></i>
        <span *ngIf="largeButtons">{{ wording.general.cancel | translate }}</span>
      </button>
    </div>
    <div class="fb actionsRowWrapper" *ngIf="showRefresh">
      <button
        nz-button
        nzType="primary"
        class="btn"
        [disabled]="refreshDisabled"
        (click)="refresh()"
        [nzTooltipTitle]="wording.general.refresh | translate"
        nz-tooltip
      >
        <i nz-icon nzType="redo"></i>
      </button>
    </div>
    <ng-content></ng-content>
  </div>
</div>
