*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.l-scrollbar-container {
  position: relative;
  overflow: hidden;
  border: 1px solid;
  padding-right: 20px;
  padding-bottom: 20px;

  &.l-mouse-in-container, &.l-active-scrollbar-y, &.l-active-scrollbar-x {
    background: red;

    .l-scrollbar {
      opacity: 1;
      pointer-events: all;
    }
  }

  &.l-active-scrollbar-y {
    cursor: pointer;

    .l-scrollbar-y {
      z-index: 2;

      .l-scroller {
        background: green;
      }
    }
  }

  &.l-active-scrollbar-x {
    cursor: pointer;

    .l-scrollbar-x {
      z-index: 2;

      .l-scroller {
        background: green;
      }
    }
  }
}

.l-scrollbar-content {
  height: auto;
  position: absolute;
  border: 1px solid red;
}

.l-scrollbar {
  background: gray; //@gray_placeholder;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  z-index: 1;

  &.l-mouse-in-scrollbar {
    background: #e7e63d;
    z-index: 2;
  }

  &.l-scrollbar-x {
    height: 7px;
    width: 100%;
    bottom: 0;

    .l-scroller {
      height: 100%;
    }
  }

  &.l-scrollbar-y {
    width: 7px;
    height: 100%;
    right: 0;

    .l-scroller {
      width: 100%;
    }
  }
}

.l-scroller {
  z-index: -1;
  cursor: pointer;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
}