<lavash-event-container (mouseEvent)="onMouseupOnDom($event, contentElement, containerElement)">
  <div class="l-scrollbar-container"
       [ngClass]="[mouseInContainer ? 'l-mouse-in-container' : '', activeScrollBarY ? 'l-active-scrollbar-y' : activeScrollBarX ? 'l-active-scrollbar-x': '']"
       [ngStyle]="{'width.px': containerPxWidth,
                   'height.px': containerPxHeight }"
       (mouseenter)="triggerMouseInContainerContainer(true, contentElement)"
       (mouseleave)="triggerMouseInContainerContainer(false)"
       (wheel.capture.once.passive)="onWheel($event, contentElement)"
       #containerElement>

    <!--CONTENT-->
    <div #contentElement
         class="l-scrollbar-content"
         [ngStyle]="{'width.%': contentWidthPercentage,
                   'left.px': contentLeft,
                   'top.px': contentTop}">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem consectetur corporis delectus dolores expedita inventore nihil porro, sequi tempore! Ab, aliquam amet deserunt dolor dolorum ducimus eum, expedita incidunt minima nihil nisi numquam officia qui quis quod tempora ullam voluptatibus? Architecto corporis cumque dicta dolorem omnis quasi rem repudiandae rerum! Blanditiis cum cumque debitis delectus ducimus excepturi facilis hic illo itaque magni nesciunt perferendis porro quia ratione, vero. Atque, corporis distinctio earum est, iusto maiores necessitatibus nesciunt nulla pariatur quaerat, sapiente similique suscipit voluptate voluptates voluptatum! Accusantium, cumque dolore est id illum labore laborum magni minima neque nisi odio quisquam reiciendis repudiandae, sit tempora totam vero! Aliquid cupiditate fugit impedit iusto provident quia rem? Dignissimos, excepturi, quia! Accusantium amet assumenda corporis cum dolor doloremque enim id impedit inventore ipsum laborum laudantium magni, molestias nam natus non nostrum possimus quaerat quibusdam quo reiciendis similique soluta sunt, ullam velit. A accusantium aspernatur atque beatae cum cumque deserunt eligendi est facere harum labore libero mollitia pariatur, perferendis, quibusdam soluta, suscipit unde veritatis vero voluptate. Ab at culpa deserunt enim, esse facere fuga fugiat labore laborum maiores, minus omnis praesentium qui quis repellendus sit tenetur unde voluptate. Adipisci cum debitis ipsum minima reprehenderit?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, accusantium autem beatae, culpa debitis distinctio ea et id itaque laborum libero minus molestias necessitatibus optio perspiciatis quidem ratione sit unde ut vel! Ab deleniti eius exercitationem fugiat fugit harum illum in libero possimus repellat. Alias deleniti eveniet ipsam minus obcaecati placeat saepe? Adipisci doloribus eaque fugit minus, perferendis quae quo quos reiciendis sed! Ab animi dolores, doloribus enim expedita facilis fuga fugit ipsum iusto pariatur perferendis perspiciatis quia rerum similique sint sunt tempora ullam voluptas voluptatem voluptatum. Dolore et tempore veritatis voluptas. Aliquid, asperiores at aut debitis ea excepturi fugit impedit in iste laboriosam numquam odit perspiciatis soluta, totam voluptatibus! Asperiores autem dolores, esse et iusto libero maiores, modi molestias provident similique suscipit tempora, tempore veniam? Consectetur culpa non officiis, praesentium quaerat ullam velit. Ad, aperiam cum deleniti deserunt doloribus eligendi illo laboriosam mollitia numquam omnis pariatur placeat porro quaerat quam quasi reiciendis sunt suscipit? Animi aut ea earum eius excepturi iusto possimus quasi recusandae sapiente. Accusantium animi assumenda consequuntur deleniti dignissimos eius esse facere fugiat harum incidunt ipsum magni minima mollitia nobis, nulla odio, optio porro provident quibusdam sint tenetur totam veniam veritatis. Aut consequatur corporis est libero voluptatum! hhhhhh
    </div>

    <!--SCROLLBARS-->
    <div *ngIf="hasScrollVertical"
         class="l-scrollbar l-scrollbar-y"
         [ngClass]="mouseInScrollbarY ? 'l-mouse-in-scrollbar' : ''"
         (mouseenter)="triggerMouseInScrollbar('Y', true)"
         (mouseleave)="triggerMouseInScrollbar('Y', false)"
         (click)="onScrollbarClick($event, contentElement, containerElement)">
      <div class="l-scroller"
           [ngStyle]="{'height.px': scrollHeight, 'top.px': scrollTop}"
           (mousedown)="onMousedownScrollbar($event, contentElement, containerElement, 'Y')">
      </div>
    </div>

    <div *ngIf="hasScrollHorizontal"
         class="l-scrollbar l-scrollbar-x"
         [ngClass]="mouseInScrollbarX ? 'l-mouse-in-scrollbar' : ''"
         (mouseenter)="triggerMouseInScrollbar('X', true)"
         (mouseleave)="triggerMouseInScrollbar('X', false)"
         (click)="onScrollbarClick($event, contentElement, containerElement)">
      <div class="l-scroller"
           [ngStyle]="{'width.px': scrollWidth, 'left.px': scrollLeft}"
           (mousedown)="onMousedownScrollbar($event, contentElement, containerElement, 'X')">
      </div>
    </div>
  </div>
</lavash-event-container>
<!--dont delete yet-->


<lavash-scrollbar-container [containerPxWidth]="200" [containerPxHeight]="200">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias beatae blanditiis eos error fuga ipsum molestias mollitia, possimus provident quasi qui, repudiandae velit vero voluptas! Adipisci culpa, distinctio dolores dolorum enim facilis impedit laboriosam maiores nostrum, quas quis sapiente temporibus ullam. Atque consequatur culpa deserunt dicta esse exercitationem, fuga illo, ipsa ipsum iste labore maxime nobis porro possimus tempora, unde veniam. Adipisci aliquam cum eius eligendi excepturi facere hic itaque nobis, non obcaecati, odio placeat porro quasi quidem ullam! A consectetur, consequatur cum dolorum eos expedita hic id incidunt libero minima minus necessitatibus, nihil nulla quas repudiandae sequi sint suscipit. Accusantium, blanditiis consectetur corporis in iusto necessitatibus! Ab accusantium adipisci aperiam assumenda aut autem culpa cumque dolor dolores dolorum, earum impedit inventore iure, laudantium libero modi natus neque non nulla numquam odit perspiciatis porro quam qui quisquam quos sapiente tempora! Alias blanditiis cumque deleniti dignissimos et facere harum ipsa nihil nostrum odio, officiis reprehenderit sunt totam veniam, vero? Autem blanditiis eum totam! Ab asperiores consectetur corporis debitis dolorum et maxime odit qui sint totam. Aliquam aliquid aperiam atque aut commodi consequuntur cumque deserunt error est eum hic impedit incidunt laboriosam minima minus molestias natus neque, non odit pariatur perferendis perspiciatis possimus provident reiciendis rem rerum, sed sequi sint tempora voluptatibus. Fuga hic nobis pariatur quisquam rem repudiandae similique veniam. Adipisci aut illo illum mollitia repellat vitae. Accusamus ad eos facere provident totam! Accusamus architecto dolor hic nulla perspiciatis repellendus. Aut eos error expedita fuga impedit laboriosam necessitatibus recusandae sint.
</lavash-scrollbar-container>


<div style="width: 200px; height: 200px; overflow: scroll;">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet animi aut beatae commodi consequatur consequuntur culpa cupiditate, debitis eligendi eos facilis illo ipsam, iste maxime molestias natus neque nihil numquam officia officiis possimus quaerat quam quibusdam quisquam quo repellendus reprehenderit, sequi similique sint tenetur vel veritatis vitae voluptas voluptate voluptatem voluptates. Accusamus aliquid architecto asperiores atque aut blanditiis consectetur consequatur distinctio doloribus earum eos error est, in iste nihil officiis, optio, quia quidem quos ratione recusandae reiciendis sapiente sunt totam veritatis voluptate voluptatem! Ad atque culpa facere placeat. Corporis eum expedita laborum quisquam quos ratione recusandae repellat repellendus sequi similique. Ab ad aspernatur culpa eius. Dicta impedit nostrum quia saepe tempora. Ab accusamus accusantium asperiores commodi consequuntur corporis cumque dignissimos distinctio earum eos est explicabo in ipsam itaque iure iusto laborum laudantium, minima molestias mollitia nemo nesciunt nihil nobis non nulla, obcaecati pariatur praesentium quia quod quos sapiente sunt unde ut vel veniam vitae voluptatum. Accusantium ad aliquam aliquid amet animi assumenda beatae consectetur eos error in itaque laudantium maiores non, optio porro praesentium quas quia quo ratione recusandae repellat repellendus sapiente sit sunt tempora, temporibus ullam voluptatem! Adipisci expedita fugiat labore quos voluptatem. Amet autem facere facilis iure libero? Ad, animi dolorum eaque eius eveniet fuga impedit labore minima, nobis numquam quas quos sint vel, velit veniam. A aliquam amet asperiores autem cumque eum eveniet, expedita ipsum iste iure magnam mollitia nam natus nemo nobis non possimus quam quas quibusdam quis reiciendis rerum suscipit tempora temporibus voluptas voluptate voluptatum. Adipisci autem beatae corporis culpa cumque dolor dolorem dolorum error eveniet ipsa laborum magnam molestiae nostrum odio officia, pariatur, quia quis quos ratione sapiente similique vero voluptate. Adipisci, architecto consequatur consequuntur corporis cupiditate deserunt enim error facere, hic ipsam ipsum iusto maxime minima nemo nisi nobis non numquam officiis porro quas quasi quia quidem quod reprehenderit repudiandae saepe sed sequi soluta suscipit tempore ullam unde velit voluptatem. Beatae culpa esse facere iusto labore laudantium, magnam molestiae quasi, reiciendis rem velit voluptate? Accusantium autem eaque eos facilis illo ipsa laborum, maxime, perferendis perspiciatis quo, sapiente sunt temporibus ullam? Accusamus architecto culpa dolor et exercitationem facilis, hic in labore libero mollitia, perferendis perspiciatis quis sunt vitae voluptas! Assumenda consequatur culpa, dolorem, ducimus ea eaque enim eum explicabo in inventore ipsum laudantium officia omnis quam, quas qui quis quo quod quos recusandae similique sint suscipit unde! Ab accusantium aliquid amet consequatur cumque delectus dicta dolorum eaque error, est eum eveniet ipsam laudantium molestias neque numquam officiis praesentium quia quos repellendus rerum soluta ullam unde velit veritatis, voluptate voluptatibus! Alias at expedita mollitia neque qui rem, tempore voluptates. Magnam omnis placeat provident repudiandae. Ad consequuntur doloribus eaque ex fugit inventore laudantium obcaecati quod tenetur? A ab at, atque blanditiis consequatur eius fuga inventore laborum nesciunt nulla odit possimus quae quibusdam sint temporibus tenetur ut? Ab aliquam blanditiis consectetur distinctio impedit incidunt necessitatibus numquam quia quo, repellat sed, sequi suscipit tenetur ut vel veritatis vitae. At fugit id labore nam nihil perspiciatis sit velit.
</div>

<router-outlet></router-outlet>


<div *ngFor="let m of libStructure">
  <div>
      <span>{{m.moduleName}} ({{m.moduleDirName}})</span>

      <div class="l-nested" *ngFor="let c of m.componentsMetadata">
          <a href="#">{{c.componentName}}</a>

      </div>
  </div>
</div>