<ng-container>
  <ng-container *ngIf="taskTemplate.todos.length; else noChecklist">
    <div class="todos" *ngFor="let todo of taskTemplate.todos">
      <span *ngIf="taskTemplate.languageType === taskLanguageType.All">
        {{ todo | labelTranslate }}
      </span>

      <span *ngIf="taskTemplate.languageType === taskLanguageType.En">
        {{ todo.labelEn || todo.labelDe }}
      </span>

      <span *ngIf="taskTemplate.languageType === taskLanguageType.De">
        {{ todo.labelDe || todo.labelEn }}
      </span>
    </div>
  </ng-container>
  <ng-template #noChecklist>
    <p class="empty-task-template">
      <i nz-icon nzType="info-circle" nzTheme="outline"></i
      >{{ wording.system.emptyTaskTemplate | translate }}
    </p>
  </ng-template>
</ng-container>
