<div class="main">
  <div class="body">
    <form nz-form [formGroup]="form" *ngIf="form" nzLayout="vertical">
      <nv-input-wrapper [label]="wording.general.from | translate">
        <nv-datebox
          formControlName="from"
          [propagateInvalidDate]="false"
          [withTime]="false"
        ></nv-datebox>
      </nv-input-wrapper>
      <nv-input-wrapper [label]="wording.technicalManagement.charterName | translate">
        <input formControlName="charterName" type="text" nz-input />
      </nv-input-wrapper>
    </form>
  </div>
  <nv-modal-footer>
    <button nz-button nzType="info" (click)="cancel()">
      {{ wording.general.cancel | translate }}
    </button>
    <button
      (click)="submit()"
      nz-button
      nzType="primary"
    >
      {{ wording.general.submit | translate }}
    </button>
  </nv-modal-footer>
</div>
