<div class="companies-content">
  <me-search-bar [dataModel]="searchBarData" (searchInput)="handleSearch($event)"> </me-search-bar>
  <div class="companies-table-container">
    <me-table
      [dataSource]="tableItems"
      [columns]="tableColumns"
      [columnOptions]="tableColumnOptions"
      [isLoadingResults]="tableLoader"
      [hideFooterPagination]="true"
      [cellClickEvent]="cellClickEventSubject"
    >
    </me-table>
  </div>
</div>

<!-- Create button in breadcrumbs -->
<ng-template #createButton>
  <ng-container>
    Create
    <me-icons name="plus"></me-icons>
  </ng-container>
</ng-template>