<nv-detail-view-actions header [inEditingMode]="isEditMode"
  (editClicked)="enterEditMode()"
  (cancelClicked)="cancelEditing()"
  (saveClicked)="submit()"
>
  <div class="additional-buttons" *nvAccessControl="ACL_ACTIONS.CREATE">
    <button
      nz-button
      nzType="danger"
      (click)="tasksListComponent.openDetailViewModal()"
      class="add-btn"
      data-crud-action-button="add"
      [nzTooltipTitle]="wording.general.add | translate"
      nz-tooltip
      *ngIf="ACL_ACTIONS.CREATE && !isEditMode"
    >
      <i nz-icon nzType="plus-circle"></i>
    </button>
  </div>
</nv-detail-view-actions>
<nv-vessel-task-list
  [(value)]="tasksList"
  [isEditable]="isEditMode"
  [vesselId]="vesselId"
  [vesselRegistrationId]="vesselRegistrationId"
  context="registration-fleet"
>
  <div class="title-bar">
    <div class="title">{{ wording.chartering.vesselRegistrationTasks | translate }}</div>
    <div class="actions">
      <i
        nz-icon
        nzType="double-right"
        nzTheme="outline"
        (click)="tasksListComponent.setAllTasksOpenState(true)"
      ></i>
      <i
        nz-icon
        nzType="double-left"
        nzTheme="outline"
        (click)="tasksListComponent.setAllTasksOpenState(false)"
      ></i>
    </div>
  </div>
</nv-vessel-task-list>
