:host {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  form {
    width: 100%;
    padding: 5px;
  }

  .registration-type {
    .title {
      font-size: 12px;
      color: grey;
      text-align: left;
      padding-left: 2px;
      text-transform: uppercase;
      line-height: 20px;
      white-space: nowrap;
    }
    label {
      width: 100%;
      margin: 2px 0 0 0;
    }
  }
}

// Create button
button[data-crud-action-button="add"] {
  width: 40px;
  color: #c44747;
  border: 1px solid #C44947;
  margin-right: 5px;
}

.title-bar {
  display: flex;
  align-items: center;
  padding: 0 20px;

  .title {
    font-size: 18px;
    margin-right: 40px;
  }
  .actions {
    [nz-icon] {
      font-size: 16px;
      cursor: pointer;

      &[nzType="double-right"] {
        margin-right: 10px;
      }
      &[nzType="double-left"] {
        margin-right: 60px;
      }
    }
  }
}

html[data-theme="dark"] :host .additional-buttons{
  button {
    color: #efe8dd;
    border-color: #efe8dd;
  }
}
