<nv-fieldset [label]="wording.accounting.taxRelInfo | translate">
  <form *ngIf="form" [formGroup]="form" nz-form nzLayout="vertical">
    <nv-input-wrapper [label]="wording.accounting.taxNo | translate">
      <input formControlName="taxNo" type="text" nz-input />
    </nv-input-wrapper>

    <nv-input-wrapper [label]="wording.accounting.vatId | translate">
      <input formControlName="vatId" type="text" nz-input />
    </nv-input-wrapper>
  </form>
</nv-fieldset>
