<div class="card" [ngClass]="{ selected: dataModel.selected }">
  <div class="back">
    <div class="background-wrapper">
      <div class="background-green"></div>
      <div class="background-shape">
        <div class="background-top">
          <div class="background-top-left"></div>
          <div class="background-top-right"></div>
        </div>
        <div class="background-rest"></div>
      </div>
    </div>
  </div>
  <div class="book-card cursor-pointer box-sizing-border-box">
    <div class="wrapper">
      <div class="user">
        <div class="avatar">
          <me-user-image [imageModel]="dataModel.userProfile"></me-user-image>

          <!-- Book Card Creator -->
          <span class="user-name">{{ dataModel.creator || 'N/A' }}</span>
        </div>
        <ng-container *ngIf="!dataModel.selectionEnabled">
          <me-context-menu [dataModel]="dataModel.contextMenu" (itemClick)="customEvent('selectedContextMenu', $event)"></me-context-menu>
        </ng-container>
        <div *ngIf="dataModel.selectionEnabled" class="checkbox">
          <mat-checkbox [(ngModel)]="dataModel.selected" name="Primary" color="primary"></mat-checkbox>
        </div>
      </div>
      <div class="book-name">
        {{ dataModel.name }}
      </div>
      <div class="modified">{{ dataModel.lastUpdatedPlaceholder }} : {{ dataModel.dateDiff }}</div>
      <div class="images">
        <div class="image" *ngFor="let url of dataModel.firstThreeMaterialsThumbnailUrl">
          <img src="{{ url }}" />
        </div>
        <div class="rest-images image box-sizing-border-box" *ngIf="dataModel.restMaterialsNumber > 0">
          <span class="text">+ {{ dataModel.restMaterialsNumber }}</span>
        </div>
      </div>
      <div class="info">
        <div class="group">
          <div class="image">
            <i-feather name="grid"></i-feather>
          </div>
          <div class="count">
            {{ dataModel.numberOfMaterials }}
          </div>
        </div>
        <div class="group">
          <div class="image">
            <i-feather name="user"></i-feather>
          </div>
          <div class="count">
            {{ dataModel.numberOfCustomers }}
          </div>
        </div>
        <div class="group">
          <div class="image">
            <i-feather name="share-2"></i-feather>
          </div>
          <div class="count">
            {{ dataModel.numberOfTeams }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
