.card {
  position: relative;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 100%;
  height: 222px;

  .back {
    position: absolute;
    width: 100%;
    height: 100%;

    .background-wrapper {
      display: flex;
      position: relative;

      .background-green {
        width: 70%;
        height: 50px;
        margin-top: 3px;
        margin-left: 10px;
        background-color: #43ae49;
        position: absolute;
        overflow: hidden;
      }

      .background-shape {
        width: 100%;
        height: 222px;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;

        .background-top {
          display: flex;
          width: 100%;

          .background-top-left {
            background-color: var(--color-white, #ffffff);
            width: 50%;
            height: 50px;
            border-top-right-radius: 50%;
            border-top-left-radius: 3px;
          }

          .background-top-right {
            background-color: var(--color-white, #ffffff);
            width: 50%;
            height: 50px;
            border-top-left-radius: 50%;
            border-top-right-radius: 3px;
          }
        }

        .background-rest {
          width: calc(100%-4px);
          height: 100%;
          background-color: var(--color-white, #ffffff);
          border-radius: 0 0 3px 3px;
        }
      }
    }
  }

  .book-card {
    width: 100%;
    height: 222px;
    position: relative;

    .wrapper {
      padding: 13px 20px 13px 20px;
      height: calc(100% - 26px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .user {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;

        .avatar {
          display: flex;
          flex-grow: 1;
          align-items: center;

          .user-name {
            color: var(--color-black, #000000);
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            margin-left: 5px;
          }
        }

        .checkbox {
          pointer-events: none;
        }
      }

      .book-name {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: var(--color-black, #000000);
      }

      .modified {
        font-size: 10px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: var(--color-main-light, #bbbbbb);
        margin-bottom: 7px;
      }

      .images {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        min-height: 49px;

        .image {
          width: 49px;
          height: 49px;
          margin-right: 5px;

          img {
            border-radius: 4px;
          }
        }

        .rest-images {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px dashed var(--color-main-light, #bbbbbb);
          border-radius: 4px;

          .text {
            color: var(--color-main-light, #bbbbbb);
            font-size: 12px;
            line-height: 16px;
            text-align: center;
          }
        }
      }

      .info {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        .group {
          display: flex;
          flex-direction: row;

          .image {
            color: var(--color-main-light, #bbbbbb);
            margin-right: 10px;
          }

          .count {
            color: var(--color-black, #000000);
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
          }
        }
      }
    }
  }
}

.card:hover {
  margin: 0;

  .back {
    .background-wrapper {
      .background-green {
      }

      .background-shape {
        border: 2px solid var(--color-primary, #5849e0);

        .background-top {
          .background-top-left {
          }

          .background-top-right {
          }
        }

        .background-rest {
        }
      }
    }
  }
}

.selected {
  margin: 0;

  .back {
    .background-wrapper {
      .background-green {
        background-color: var(--color-main-light, #bbbbbb);
      }

      .background-shape {
        margin: 0;

        .background-top {
          margin: 0;

          .background-top-left {
            border-left: 2px solid var(--color-primary, #5849e0);
            // border-right: 2px solid var(--color-primary);
            border-top: 2px solid var(--color-primary, #5849e0);
          }

          .background-top-right {
            // border-left: 2px solid var(--color-primary);
            border-right: 2px solid var(--color-primary, #5849e0);
            border-top: 2px solid var(--color-primary, #5849e0);
          }
        }

        .background-rest {
          border-right: 2px solid var(--color-primary, #5849e0);
          border-left: 2px solid var(--color-primary, #5849e0);
          border-bottom: 2px solid var(--color-primary, #5849e0);
        }
      }
    }
  }
}
