<nv-paper-view
  [customTitle]="creationMode ? (wording.general.create | translate) : title$ | async"
  [routeBack]="!creationMode && routeBack"
>
  <!-- Header -->
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <!-- Content -->
  <div
    class="form-wrap padding-mid"
    *ngIf="form"
  >
    <form
      nvSpyElement
      (initialized)="formInitialized($event)"
      [formGroup]="form"
      nz-form
      [nzLayout]="'vertical'"
      nzType="flex"
    >
      <nv-input-wrapper
        nz-row
        [label]="wording.general.nameEn | translate"
      >
        <input
          formControlName="labelEn"
          type="text"
          nz-input
        >
      </nv-input-wrapper>
      <nv-input-wrapper
        nz-row
        [label]="wording.general.nameDe | translate"
      >
        <input
          formControlName="labelDe"
          type="text"
          nz-input
        >
      </nv-input-wrapper>
      <div
        nz-row
        class="form-row-host"
      >
        <label
          nz-checkbox
          formControlName="isActive"
          (nzCheckedChange)="onIsActiveChange($event)"
        >
          {{ wording.general.active | translate }}
        </label>
      </div>
    </form>
  </div>
</nv-paper-view>