<app-intro-component></app-intro-component>
<lavash-event-container (scrollEvent)="onScroll($event)">
  <div class="mainLayout">
    <div class="headline-block">
      <app-top-block [ngClass]="fixedTopBlock ? 'fix' : ''"></app-top-block>
      <app-header-component [ngClass]="fixedTopBlock ? 'fix' : ''"></app-header-component>
    </div>
    <app-footer [photographer]="photographer" [ngClass]="absoluteFooter? 'absolute' : ''"></app-footer>
    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <app-popup></app-popup>
  </div>
</lavash-event-container>
