<div [class.opt-required-input-attribute-wrapper]="data.optRequired && !data.required">
  <mat-form-field [formGroup]="form">
    <mat-label [class.mark-required]="data.required" [class.mark-opt-required]="data.optRequired && !data.required">{{
      data.displayName
    }}</mat-label>
    <input
      matInput
      [id]="data.internalName"
      [formControlName]="data.internalName"
      [minLength]="data.minLength"
      [maxLength]="data.maxLength"
    />
    <me-input-error [data]="meInputErrorData"></me-input-error>
  </mat-form-field>
</div>
