.pagination-result {
    border: 1px solid gainsboro;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    position: relative;
}

.slot_20 {
    min-height: 70vh;
}

.pagination-btns {
    display: flex;
    position: absolute;
    top: -35px;
    right: 0;
}

.hidden {
    display: none;
}

[noevent="false"] {
    opacity: .2 !important;
    pointer-events: none !important;
}

.avatar-block {
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid gainsboro;
    padding: 2px;
}

.users {
  display: flex;
  flex-wrap: wrap;
}

.users.justify {
  justify-content: space-around;
}

.actions {
    margin-top: 5px;
    display: flex;
}

.actions button-component:first-child {
    margin-right: 5px;
}