:host{
  &::ng-deep {
    nv-grid {
      min-width: 500px;
      box-shadow: none;
    }

    .footer {
      display: flex;
      border-top: 1px solid #e8e8e8;
      padding: 10px;

      button {
        margin-left: auto;
      }
    }
  }
}
