<nv-grid
  [gridConfig]="costTypeGridConfig"
  [dataSource$]="dataSource$"
  (rowSelectionChanged)="rowSelect($event)"
>
</nv-grid>

<div class="footer">
  <button
    nz-button
    nzType="primary"
    [disabled]="!selectedCostTypesIdArray.length"
    (click)="save()"
  >
    {{ wording.general.submit | translate  }}
  </button>
</div>
