.footer {
  padding: 8px;
  border-top: 1px solid #e8e8e8;
  justify-content: flex-end;
  display: flex;

  button {
    margin-left: 6px;
  }
}

form {
  width: 420px;
  padding: 20px;
}

.roles-section {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 5px;
  margin-top: 5px;

  .search-wrap input {
    border-width: 0 0 1px 0;
    border-radius: 0;
    box-shadow: none;

    &:hover,
    &:focus {
      border-right-width: 0 !important;
      background: none;
    }
  }

  .checkboxes-wrapper {
    margin-top: 10px;
    height: 50vh;
    overflow: auto;

    .empty-message {
      text-align: center;
    }
  }
}
