<div *ngIf="form">
  <form [formGroup]="form" nz-form nzLayout="vertical">
    <div class="form-group">
      <div class="form-row-host">
        <label nz-checkbox formControlName="isOpenItem" [nzDisabled]="isOpenItemDisabled">
          {{ wording.accounting.openItem | translate }}
        </label>
      </div>
      <div class="form-row-host" *ngIf="!showOnlyOpenItem">
        <label nz-checkbox formControlName="isOpex">
          {{ wording.accounting.opex | translate }}
        </label>
      </div>
      <nv-currency-autocomplete
        [form]="form"
        controlName="restrictedCurrencyId"
        [label]="wording.accounting.restrictedCurrency"
        *ngIf="!showOnlyOpenItem"
      >
      </nv-currency-autocomplete>

      <div class="form-row-host" *ngIf="!showOnlyOpenItem">
        <label nz-checkbox formControlName="needsAccountPermission">
          {{ wording.accounting.accountPermissions | translate }}
        </label>
      </div>

      <div
        class="roles-section"
        *ngIf="!showOnlyOpenItem && form.get('needsAccountPermission').value"
      >
        <div class="search-wrap">
          <nz-input-group [nzSuffix]="suffixIcon">
            <input
              type="text"
              nz-input
              placeholder="Search"
              formControlName="searchValue"
            />
          </nz-input-group>
          <ng-template #suffixIcon>
            <i nz-icon nzType="search"></i>
          </ng-template>
        </div>

        <div class="checkboxes-wrapper">
          <div *ngFor="let role of filteredRoles" class="checkbox-item">
            <label
              [disabled]="!canChangeRoles || !canEdit"
              nz-checkbox
              [(ngModel)]="role.checked"
              [ngModelOptions]="{ standalone: true }"
            >
              {{ role[role | labelKey] }}
            </label>
          </div>
          <div class="empty-message" *ngIf="!filteredRoles.length">
            {{ wording.general.noResults | translate }}
          </div>
        </div>
      </div>
    </div>
  </form>
  <nv-modal-footer>
    <button nz-button nzType="info" (click)="closeModal()">
      {{ wording.general.cancel | translate }}
    </button>
    <button
      *ngIf="canEdit"
      nz-button
      nzType="primary"
      (click)="saveClicked()"
      [disabled]="!form.dirty && !form.valid"
    >
      {{ wording.general.submit | translate }}
    </button>
  </nv-modal-footer>
</div>
