:host ::ng-deep .grid-view-port-container {
  overflow: unset !important;
}

.header {
  flex-direction: row;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  text-align: right;
  border-radius: 0 0 4px 4px;
}

:host ::ng-deep .grid-wrapper {
  overflow-y: scroll !important;
}

nv-grid {
  height: 650px !important;
}
