  <div class='fb header'>
    <button
      nz-button
      class="submit-button"
      nzType="primary"
      (click)="submit()"
      [disabled]="selectedBookingAccounts.length == 0"
    >
      {{ wording.general.submit | translate }}
    </button>
  </div>
  <nv-grid
    [gridConfig]="gridConfig"
    [dataSource$]="dataSource$"
    (rowSelectionChanged)="rowSelectionChanged($event)"
    (gridConfigChangedOnSave)="gridConfigService.update($event)"
  >
  </nv-grid>