@import "src/app/core/styles/_variables";

:host {
  display: block;
}

form {
  padding: 16px;

  .vertical-space {
    margin-top: 20px;
  }
  .right-content {
    display: flex;
    justify-content: flex-end;
  }
  .full-width {
    width: 100%;
  }
  .separator {
    border-bottom: 1px solid $gray-light;
  }
}

.modal-footer {
  padding-right: 16px;

  button:first-child {
    margin-right: 5px;
  }
}
