<ng-content></ng-content>
<nz-button-group>
  <button
    nz-button
    nzType="default"
    [disabled]="disabled || !selectedItemIndex"
    (click)="prev()"
  >
    <i nz-icon nzType="left" nzTheme="outline"></i>
  </button>
  <button
    nz-button
    nzType="default"
    [disabled]="disabled || selectedItemIndex === dataArray?.length - 1"
    (click)="next()"
  >
    <i nz-icon nzType="right" nzTheme="outline"></i>
  </button>
</nz-button-group>

