.breadcrumbs-main {
  padding: 12px 16px 0px;

  nz-breadcrumb {
    display: flex;
    align-items: center;

    nv-route-back-button {
      background: none;
      position: static;
      height: 20px;

      ::ng-deep button {
        background: none;
        border: none;
        box-shadow: none;

        i {
          color: #525252;
          font-size: 18px;
        }

        &:hover i{
          color: #d1706d;
        }
      }
    }
  }
}

.disabled-link {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.35);
}
