<div class='fb breadcrumbs-main' *ngIf="isVisible && !!this.crumbs.length">
  <nz-breadcrumb>
    <nv-route-back-button *ngIf="showBackButton" (click)="back()"></nv-route-back-button>
    <nz-breadcrumb-item *ngFor="let crumb of crumbs; let index = index">
      <a
        *ngIf="index < crumbs.length - 1"
        [routerLink]="url(crumb)"
        [ngClass]="{'disabled-link': crumb.hidden}"
      >
        {{ crumb.title | translate }}
      </a>
      <span *ngIf="index === crumbs.length - 1" >{{ crumb.title | translate }}</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>


