:host {
  display: block;
}

.additional-buttons {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;

  button {
    width: 40px;
    color: #c44747;
    border: 1px solid #C44947;
    margin-right: 5px;
  }

  .delete-btn[disabled], .copy-btn[disabled] {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
  }
}

html[data-theme="dark"] :host .additional-buttons{
  button {
    color: #efe8dd !important;
    border-color: #efe8dd !important;

    [disabled] {
      color: #efe8dd !important;
      background-color: #441c1c !important;
      border-color: #757472 !important;
    }
  }

  .delete-btn[disabled] {
    background-color: #441c1c !important;
    border-color: #757472 !important;
  }
}

form[nz-form] {
  height: fit-content;
  width: 100%;
}

.fieldsets-container {
  height: 100%;
  min-width: 100%;
  width: fit-content;
  padding: 0px 10px 25px 10px;
  display: flex;
}

nv-fieldset.permission-groups {
  width: 400px;
  min-width: 400px;
  height: 100%;
  min-height: fit-content;

  nv-radio-select {
    height: calc(100% - 25px);
  }
}
nv-fieldset.grids-fieldset {
  flex: 1;
  height: 100%;
  padding-top: 20px;
  margin-left: 15px;

}

nz-divider {
  margin: 12px 0;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  padding: 5px;

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    opacity: 1;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    opacity: 1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #9c9c9c;
    transition: background-color .3s;
  }
}
