<div
  class="sitemap-main fb"
  *ngIf="sections.length"
>
  <div
    *ngFor="let section of sections"
    class="section-main fb"
  >
    <div class='fb section-head'>
      <div class='section-icon'>
        <img [src]="section.node.icon">
      </div>
      <div
        class='section-title e2e-section-title'
        [attr.data-section-title]="section.node.title.en"
      >
        {{ section.node.title | translate }}
      </div>
    </div>
    <div class='topics-container'>
      <ng-container *ngFor="let topic of topics[section.key]">
        <div
          *ngIf="!topic.hidden"
          class='fb topic-item'
        >
          <i
            [ngClass]="{
              'rotate-forward': clickedBookmarkPath === topic.path && topic.bookmarked,
              'rotate-backward': clickedBookmarkPath === topic.path && !topic.bookmarked
            }"
            nz-icon
            nzType="star"
            (click)="toggleBookmark(topic)"
            [nzTheme]="topic.bookmarked ? 'fill' : 'outline'"
            [attr.data-topic-bookmark-icon]="topic.title.en"
          ></i>
          <a
            [routerLink]="url(topic)"
            class='topic-title e2e-topic-title'
            [title]="topic.description | translate"
            [attr.data-topic-title]="topic.title.en"
            (contextmenu)="showContextMenu($event, topicContextMenu, topic)"
          >
            {{ topic.title | translate }}
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</div>


<nz-dropdown-menu #topicContextMenu="nzDropdownMenu">
  <nv-topic-context-menu [selectedTopic]="contextMenuOpenedForTopic"></nv-topic-context-menu>
</nz-dropdown-menu>
