.sitemap-main {
  flex-direction: row;
  width: 100%;

  .section-main {
    box-shadow: 0px 2px 4px #00000026;
    margin: 0px 8px 4px 8px;
    border-radius: 4px;
    overflow: auto;
    width: 100%;

    .section-head {
      flex-direction: row;
      border-bottom: 1px solid #d3d3d375;
      background: #80808012;
      height: 42px;
      align-items: center;
      padding: 0px 18px 0 13px;


      .section-icon {
        img {
          width: 18px;
          height: 18px;
          opacity: 0.58;
          margin-left: 4px;
        }
      }

      .section-title {
        font-size: 16px;
        margin-left: 8px;
        color: #535353;
        text-transform: uppercase;
        line-height: 22px;
        font-weight: 300;
        letter-spacing: 0.7px;
        display: flex;
        justify-content: center;
      }
    }

    .topics-container {
      padding: 14px;
      overflow: visible;

      .topic-item {
        flex-direction: row;
        align-items: center;
        font-size: 16px;
        height: 45px;
        color: #525252;
        margin-bottom: 10px;

        i,
        a {
          cursor: pointer;
        }

        a {
          width: 100%;
          padding: 10px 25px 10px 25px;
          text-align: left;
          background: radial-gradient(36px 100% at left, transparent 50%, #80808012 50%);
          border-radius: 0px 40px 40px 0px;
          margin-left: -13px;
        }

        i {
          height: 100%;
          background: #80808012;
          display: flex;
          flex-direction: column;
          border-radius: 50%;
          justify-content: center;
          width: 45px;
          align-items: center;
          min-width: 45px;
          color: #d43a42;
          z-index: 1;
        }
        .topic-title {
          color: #525252;

          &:hover {
            text-decoration: underline;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@keyframes rotate-forward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-backward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.rotate-forward {
  animation: rotate-forward 1s ease-in-out 0s;
}

.rotate-backward {
  animation: rotate-backward 1s ease-in-out 0s;
}
