:host {
  display: flex;
}

form {
  width: 100%;
  display: flex;
  width: fit-content;
  min-width: 100%;

  .name {
    margin-right: 10px;
    flex: 1;
    max-width: 350px;
    min-width: 90px;
  }
}

.fixed-container {
  display: flex;

  .date-field {
    margin-right: 10px;

    nv-datebox {
      // show whole date(without time)
      display: block;
      width: 120px;
    }
  }

}

.actions-container {
  display: flex;
  align-items: flex-start;
  padding-top: 3px;
}

.actions {
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;

  [nz-icon] {
    margin-right: 10px;
    cursor: pointer;

    &:hover {
      color: #a7a3a3;
    }
    &:last-of-type {
      margin-right: 20px;
    }
  }
}

nv-datebox ::ng-deep nz-input-group {
  height: 32px;
}