<form *ngIf="form"
  [formGroup]="form"
  nz-form
  nzLayout="vertical"
>
  <nv-input-wrapper
    *ngIf="showLabelEn"
    class="name"
    [label]="null"
  >
    <nz-input-group [nzSuffix]="labelWarning">
      <input
        #todoName
        (focus)="focus.emit($event)"
        (blur)="blur.emit($event)"
        formControlName="labelEn"
        nz-input
      />
    </nz-input-group>
    <ng-template #labelWarning>
      <i
        *ngIf="showLabelEnWarning"
        nz-icon
        nzType="exclamation-circle"
        nzTheme="outline"
        nz-tooltip
        [nzTooltipTitle]="wording.general.taskNotEnabledForChosenLanguage | translate"
      ></i>
    </ng-template>
  </nv-input-wrapper>
  <nv-input-wrapper
    *ngIf="showLabelDe"
    [label]="null"
    class="name"
  >
    <nz-input-group [nzSuffix]="labelWarning">
      <input
        #todoName
        (focus)="focus.emit($event)"
        (blur)="blur.emit($event)"
        formControlName="labelDe"
        nz-input
      />
    </nz-input-group>
    <ng-template #labelWarning>
      <i
        *ngIf="showLabelDeWarning"
        nz-icon
        nzType="exclamation-circle"
        nzTheme="outline"
        nz-tooltip
        [nzTooltipTitle]="wording.general.taskNotEnabledForChosenLanguage | translate"
      ></i>
    </ng-template>
  </nv-input-wrapper>
  <div class="date fixed-container">
    <nv-input-wrapper
      [label]="null"
      class="date-field"
    >
      <nv-datebox
        (focus)="focus.emit($event)"
        (blur)="blur.emit($event)"
        formControlName="started"
      ></nv-datebox>
    </nv-input-wrapper>
    <nv-input-wrapper
      [label]="null"
      class="date-field"
    >
      <nv-datebox
        (focus)="focus.emit($event)"
        (blur)="blur.emit($event)"
        formControlName="completed"
      ></nv-datebox>
    </nv-input-wrapper>
    <div class="actions-container">
      <div class="actions">
        <i
          *ngIf="!disabled"
          nz-icon
          nzType="delete"
          nzTheme="outline"
          (click)="delete.emit(value)"
        ></i>
        <i
          *ngIf="!disabled"
          nz-icon
          nzType="plus-circle"
          nzTheme="outline"
          (click)="add.emit(value)"
        ></i>
        <nv-vessel-task-status-picker
          formControlName="status"
        ></nv-vessel-task-status-picker>
      </div>
    </div>
  </div>
</form>
<ng-content></ng-content>