<div [class.opt-required-input-attribute-wrapper]="data.optRequired && !data.required">
  <mat-form-field [formGroup]="form">
    <mat-label [class.mark-required]="data.required" [class.mark-opt-required]="data.optRequired && !data.required">{{
      data.displayName
    }}</mat-label>
    <textarea
      matInput
      [id]="data.internalName"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="10"
      [formControlName]="data.internalName"
      [minLength]="data.minLength"
      [maxLength]="data.maxLength"
    ></textarea>
  </mat-form-field>
</div>
