<div class="main-wrapper">
  <div
    class="main"
    *ngIf="company"
  >
    <div
      nz-row
      nzGutter="28"
      class="content"
    >
      <div
        nz-col
        nzSpan="12"
      >
        <nv-fieldset [label]="wording.general.company | translate">
          <div
            class="action-bar"
            style="margin-bottom: 8px"
          >
            <nv-detail-view-actions
              [largeButtons]="true"
              [inEditingMode]="editMode"
              (editClicked)="enterEditMode()"
              (cancelClicked)="cancelEditing()"
              (saveClicked)="submit()"
              style="margin-left: auto;"
              [form]="form"
              [formElement]="formElement"
            ></nv-detail-view-actions>
          </div>
          <form
            #formElement
            [formGroup]="form"
            nz-form
            nzLayout="vertical"
          >
            <div class="logo-wrapper">
              <img
                class="logo"
                [src]="
                  company.logoId
                    ? (company.logoId | imgSrc)
                    : 'assets/company_logo.jpg'
                "
              />
            </div>
            <div class="input-btn-wrap">
              <nv-input-wrapper [label]="wording.accounting.companyName | translate">
                <input
                  formControlName="companyName"
                  type="text"
                  nz-input
                />
              </nv-input-wrapper>
              <a
                nz-button
                *ngIf="hasAccessCompanies"
                [routerLink]="[companyPath]"
                target="_blank"
              >
                <i
                  nz-icon
                  nzType="right"
                ></i>
                <span>{{
                  wording.general.showCompanyAndBankDetails | translate
                }}</span>
              </a>
            </div>
            <nv-input-wrapper [label]="wording.accounting.taxNo | translate">
              <input
                formControlName="taxNo"
                type="text"
                nz-input
              />
            </nv-input-wrapper>
            <nv-input-wrapper [label]="wording.accounting.vatId | translate">
              <input
                formControlName="vatId"
                type="text"
                nz-input
              />
            </nv-input-wrapper>
            <nv-input-wrapper [label]="wording.accounting.debitorCreditorNo | translate">
              <input
                formControlName="debitorCreditorNo"
                type="text"
                nz-input
              />
            </nv-input-wrapper>
          </form>
        </nv-fieldset>
        <nv-fieldset [label]="wording.accounting.bankAccounts | translate">
          <nv-editable-bank-account-list [companyId]="company.id">
          </nv-editable-bank-account-list>
        </nv-fieldset>
      </div>
      <div
        nz-col
        nzSpan="12"
      >
        <nv-fieldset [label]="wording.accounting.address | translate">
          <div class="form-group">
            <div class="form-row-host">
              <label>{{ wording.general.addressType | translate }}</label>
              <input
                type="text"
                [value]="addressType | translate"
                nz-input
                readonly
              />
            </div>
            <div class="form-row-host">
              <label>{{ wording.general.printPreview | translate }}</label>
              <textarea
                nz-input
                [(ngModel)]="fullAddress"
                readonly
                class="full-address"
                #fullAddressInput
              ></textarea>
              <span
                class="fb copy-to-clipboard"
                (click)="copyToClipboard(fullAddressInput)"
                [ngClass]="{ 'copy-to-clipboard-disabled': !fullAddress }"
              >
                {{ wording.general.copyToClipboard | translate }}
              </span>
            </div>
          </div>
          <nv-fieldset [label]="wording.general.allAddresses | translate">
            <nv-editable-address-list
              [companyId]="company.id"
              [shouldFirstRowBeSelected]="true"
              (addressRowSelectionChanged)="onAddressRowSelectionChange($event)"
              [isSelectable]="true"
            ></nv-editable-address-list>
          </nv-fieldset>
        </nv-fieldset>
        <nv-fieldset [label]="wording.general.contacts | translate">
          <nv-editable-contact-list [companyId]="company.id"></nv-editable-contact-list>
        </nv-fieldset>
      </div>
    </div>
  </div>
</div>