:host {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}

.main-wrapper {
  padding-top: 8px;
  padding: 26px;
  min-height: 100px;
  min-width: 100px;
  overflow: auto;
}

.form-row-host {
  flex: 1 1 auto;
  margin-top: 12px;
}

.content {
  padding-top: 0px;
}

.form-wrapper {
  padding-left: 20px;
}

.copy-to-clipboard {
  justify-content: flex-end;
  flex-direction: row;
  cursor: pointer;
}

.copy-to-clipboard-disabled {
  cursor: not-allowed;
  color: #a7a7a7;
}

:host ::ng-deep nv-grid {
  box-shadow: none !important;
}

label {
  font-size: 12px;
  color: grey;
  text-align: left;
  padding-left: 2px;
  text-transform: uppercase;
  line-height: 20px;
}

.full-address {
  border: 1px solid gainsboro;
  background: #f3f3f3;
  color: #565656;
  max-height: 100px;
  min-height: 100px;
  height: 100px;
}

input[type="text"]:read-only,
textarea:read-only {
  border: 1px solid gainsboro;
  background: #f3f3f3;
  color: #565656;
}

:host ::ng-deep .logo-wrapper {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: flex-start;
  img {
    height: 7rem;
    margin-right: 5px;
  }
  a {
    text-transform: capitalize;
  }
}
.input-btn-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  a {
    margin-top: 11px;
    margin-left: 3px;
    text-transform: capitalize;
  }
  nv-input-wrapper {
    flex: 1;
  }
}

form {
  width: 100%;
}

:host ::ng-deep .actionsRow {
  display: flex;
  justify-content: flex-end;
}
