<div class="main">
  <div class="headline" >
    {{ wording.general.todoList | translate }}
  </div>
  <div class="body" >
    <div class="checkboxWrapper" *ngFor="let todo of todos" >
      <label nz-checkbox [ngModel]="true" >
      </label>
      <div class="label" >
        <b class="vessel" >{{ todo.vessel }}</b>
        <span class="text" >{{ todo.text }}</span>
      </div>
    </div>
  </div>
</div>
