.mat-checkbox {
  .mat-checkbox-layout {
    white-space: normal;
  }
  .mat-checkbox-inner-container {
    margin-right: 10px;
  }
  .mat-checkbox-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
}
