.feather {
  height: 20px;
  width: 20px;
  stroke-width: 1.5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-container {
  .feather {
    height: 22px;
    width: 22px;
  }
}

.filter-container {
  i-feather {
    height: 16px;
    width: 16px;

    .feather {
      height: 16px;
      width: 16px;
    }
  }

  .grid-list-secondary {
    .feather {
      color: var(--color-body-font);
    }
  }
}

.list-view {
  i-feather {
    height: 16px;
    width: 16px;

    .feather {
      height: 16px;
      width: 16px;
    }
  }
}

.label {
  .feather {
    height: 12px;
    width: 12px;
  }
}

.context-button {
  i-feather {
    height: 20px;
    width: 20px;
  }
}

.extension-icon {
  .feather {
    width: 100px;
    height: 110px;
  }
}

.arrow {
  color: var(--color-main-dark);

  i-feather {
    height: 50px;
    width: 50px;

    .feather {
      height: 50px;
      width: 50px;
    }
  }
}

.upload-container{
  i-feather {
    height: 50px;
    width: 50px;

    .feather {
      height: 50px;
      width: 50px;
    }
  }
}
