.mat-form-field-appearance-outline {
  .mat-form-field-infix {
    padding: 8px 0px 8px;
    line-height: 14px;

    .mat-input-element {
      margin: 0px;
    }

    .mat-form-field-label-wrapper {
      .mat-form-field-label {
        color: var(--color-input-label);
        top: 18px;
        line-height: 22px;
      }
    }
  }

  &.mat-form-field-type-mat-select,
  &.mat-form-field-type-app-form-boolean {
    .mat-form-field-infix {
      padding: 8px 0px 12px;
      line-height: 14px;

      .mat-slide-toggle {
        height: 12px;
      }
    }
  }

  &.inline-icon {
    .mat-form-field-infix {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 6px 0px;
    }
  }
}

.mat-form-field-appearance-outline {
  .mat-form-field-outline {
    color: var(--color-input-border);
  }

  .mat-form-field-outline-thick {
    color: var(--color-input-border);
  }
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float,
.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper {
  .mat-form-field-label {
    transform: translateY(-18px) scale(0.75);
  }

  &.mat-focused {
    .mat-form-field-label-wrapper {
      .mat-form-field-label {
        color: var(--color-primary);
      }
    }
  }

  &.mat-form-field-invalid {
    .mat-form-field-label-wrapper {
      .mat-form-field-label {
        color: var(--color-danger);
      }
    }
  }
}
