@import 'global/breakpoints';

// overwrite angular material style
.mat-table {
  .mat-header-cell {
    border: 1px solid var(--color-table-border);
    padding-left: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }

  .mat-cell {
    border: 1px solid var(--color-table-border);
    padding-left: 10px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
  }

  .mat-sort-header-content {
    order: 2;
  }

  .mat-sort-header-arrow {
    order: 1;
    margin: 0 6px 0 0;
  }
}

.mat-chip-list {
  .mat-chip {
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid var(--color-input-border);
  }
}

.mat-stepper-horizontal {
  height: 100%;

  .mat-horizontal-stepper-header-container {
    height: 72px;
    background-color: var(--color-content-background);
    padding: 0;
    border-bottom: 1px solid var(--color-primary-background);

    .mat-step-header {
      .mat-step-icon-selected {
        background-color: var(--color-primary-background);
        color: var(--color-primary);
      }

      .mat-step-icon-state-edit {
        background-color: var(--color-success-background);
      }
    }
  }

  .mat-horizontal-content-container {
    @extend .scrollbar;

    position: relative;
    height: calc(100% - 73px);
    overflow-y: scroll;
    padding-bottom: 0px;
  }
}

.user-profile-container {
  .mat-step-header {
    .mat-step-icon {
      display: none;
    }
  }
}

.mat-step-header .mat-step-icon {
  background-color: var(--color-main-lighter);
  color: var(--color-main-dark);
  width: 40px;
  height: 40px;
  border-radius: 4px;

  .ng-star-inserted {
    font-weight: bold;
  }
}

.mat-stepper-horizontal-line {
  display: none;
}

.mat-tab-group {
  .mat-tab-header {
    border-bottom: none;
  }
}

// basic-alert component
snack-bar-container.mat-snack-bar-container {
  padding: 0px;
  width: 80%;
  margin: 8px auto;
  overflow: hidden;

  .feather {
    height: 40px;
    width: 40px;
  }
}
//info snackbar
snack-bar-container.info-snack {
  margin: 10px;
  background-color: transparent;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  max-width: 70%;
  .feather {
    height: 24px;
    width: 24px;
  }
  @include tablet {
    max-width: 60%;
  }
  @include tablet_small {
    max-width: 70%;
  }
}

// sweet-alert component
#sweet-alert-form .mat-form-field-wrapper {
  padding: 0 0 0 10px;
  margin-right: 10px;
}

// progress spinner custom color type
mat-progress-spinner.mat-success circle {
  stroke: var(--color-success);
}

.custom-mat-tooltip-class {
  color: var(--color-primary) !important;
  background-color: var(--color-white);
  font-size: 12px;
}

.progress-bar {
  .mat-progress-bar-background {
    fill: none;
  }

  .mat-progress-bar-buffer {
    background-color: transparent;
  }
}

.first-row {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

// header menu
.user-menu,
.info-menu,
.message-menu,
.notification-menu,
.help-menu {
  .mat-menu-content:not(:empty) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

// handling user-mat-menu
.user-menu {
  .users-menu {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--color-main-darker);
    display: flex;
    flex-direction: column;

    .user-info-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;

      .user-layout {
        display: flex;
        flex-direction: row;

        .user-img {
          margin-right: 8px;

          img {
            width: 35px;
            height: 35px;
          }
        }

        .user-text {
          display: flex;
          flex-direction: column;

          .user-header {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: bold;
            color: var(--color-primary);
          }

          .user-content {
            display: flex;
            align-items: center;
            font-size: 12px;
          }
        }
      }
    }

    .user-menu-items {
      display: flex;
      flex-direction: column;

      .user-menu-layout {
        display: flex;
        flex-direction: row;
        margin-bottom: 16px;
        cursor: pointer;

        .user-icon {
          margin-right: 8px;
          color: var(--color-primary);
        }
      }
    }
  }
}

.checkbox .mat-checkbox .mat-checkbox-frame {
  background-color: var(--color-white);
}

.cdk-overlay-pane {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;

  .mat-menu-panel {
    width: 324px;
    max-width: 324px;
  }
}

// Search For input
.filter-container {
  .mat-form-field {
    width: 200px;
  }

  .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
    background-color: var(--color-main-lighter);
    border-radius: 4px;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 6px 0;
  }

  .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,
  .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    height: 1.5em;
    width: 1.5em;
  }
}

// Popup select panel
.no-padding-popup .mat-dialog-container {
  padding: 0px;
}

// create account popup
.popup-account-backdrop {
  background: rgba(0, 0, 0, 0.32);
  & + .cdk-global-overlay-wrapper {
    overflow-y: auto;
    pointer-events: auto;
  }
}
.popup-account-container {
  .mat-dialog-container {
    padding: 0px;
    overflow: inherit;
  }
  @include tablet_small {
    max-width: calc(100% - 30px) !important;
  }
}

// Popup select panel
.basic-input-container .mat-dialog-container {
  padding: 0px;
}

// Add list user popup
.add-list-container .mat-dialog-container {
  padding: 0px;
}
// User info popup
.user-info-container .mat-dialog-container {
  padding: 0px;
}

.add-list-container {
  .mat-form-field {
    width: 100%;
  }
}

// Mat tab view
.mat-tab-group {
  height: 100%;

  .mat-tab-header-pagination {
    display: none;
  }

  .mat-tab-list {
    min-height: 60px;
    // padding-left: 400px;
    background-color: var(--color-white);
    color: var(--color-body-font);

    .mat-tab-label {
      height: 60px;
      font-weight: 600;

      &.mat-tab-label-active {
        font-weight: 700;
        opacity: 1;
      }
    }
  }

  .mat-tab-body-wrapper {
    height: calc(100% - 54px);
    max-height: calc(100% - 54px);
  }
}

// Me material tab group in sidebar - disable labels pagination
.right-sidebar {
  .mat-tab-list {
    min-height: 54px;

    .mat-tab-label {
      height: 54px;
    }
  }

  .mat-tab-header-pagination {
    display: none !important;
  }

  .mat-tab-body-content {
    overflow: hidden;
  }
}

.attributes-container {
  .tab {
    .mat-tab-body.mat-tab-body-active {
      position: absolute;
      height: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}

.view-material-container {
  .attributes-container {
    .mat-tab-labels {
      // justify-content: space-between;
      justify-content: center;
      align-items: center;
    }
  }
}
.company-view-tab {
  .mat-tab-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .mat-tab-list {
    border-radius: 0px 0px 4px 4px;
  }
  .mat-tab-labels {
    padding-left: 330px;
  }
  .mat-tab-body-wrapper {
    margin-top: 20px;
  }
}

.basic-input-container {
  .mat-form-field {
    width: 100%;
  }
}

.opt-required-input-attribute-wrapper {
  .mat-form-field-appearance-outline {
    .mat-form-field-outline {
      color: var(--color-warning, #ffb822);
    }
    .mat-form-field-infix {
      .mat-form-field-label-wrapper {
        .mat-form-field-label {
          color: var(--color-warning, #ffb822);
        }
      }
    }
  }
}

// Share options design
.cdk-overlay-pane .share-options {
  width: auto;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  min-height: inherit;
  .mat-menu-content {
    padding: 5px 10px;
    .mat-fab {
      box-shadow: none;
      width: 36px;
      height: 36px;
      background-color: #f1f2f7;
      .mat-button-wrapper {
        line-height: 12px;
        padding: 6px 0;
      }
      me-icons {
        height: 12px;
        width: 12px;
        color: #93949d;
      }
      & + .mat-fab {
        margin-left: 15px;
      }
    }
  }
}

// Home page button
.home-main {
  .icon-btn-home {
    .mat-button-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
  .btn-box {
    .mat-flat-button {
      font-size: 12px;
      min-width: 59px;
      text-decoration: none;
      .mat-button-wrapper {
        min-width: auto;
      }
    }
  }
}

// Carousel replace cursor hand
.carousel-slide {
  cursor: pointer;
}

// Introduction message
@each $class in materials-container, document-container-wrapper, users-groups-container, company-view-main {
  .i-msg-main ~ .#{$class} {
    max-height: calc(100% - 90px);
  }
}

// Video popup
.video-popup-container {
  width: 900px;
  .mat-dialog-container {
    padding: 0;
    iframe {
      height: 500px;
      display: block;
    }
  }
}

@include mobile {
  .cdk-overlay-pane {
    margin: 0;
    right: 0 !important;

    .mat-menu-panel {
      width: 100%;
      max-width: 100%;
    }

    .mat-menu-panel.custom-mat-menu {
      max-width: none;
      width: 100vw;
      height: auto;
      margin-left: -8px;
      margin-top: 15px;
    }
  }
}
