// .label {
//   background: rgba(52, 52, 52, 0.1);
//   padding: 4px 10px 4px 10px;

//   &.primary {
//     background: #EEEDFC;

//     span {
//       color: #5849E0
//     }
//   }

//   span {
//     font-size: 8px;
//     color: #343434;
//   }
// }

:host ::ng-deep {
  .label {
    padding: 4px 10px !important;
  }
}