.add-clock-btn {
  display: flex;
  flex-direction: row-reverse;
}

section {
  height: 100%;
  overflow: auto;
}

.ant-table-tbody {
  tr {
    td {
      padding: 14px 16px !important;

      .button {
        float: right;
      }
    }
  }
}
