  <div class="add-clock-btn">
    <button
      nz-button
      nzType="default"
      (click)="openDetailViewModal()">
      <i nz-icon nzType="plus-circle"></i>
      {{wording.general.addTimeZone | translate}}
    </button>
  </div>

  <nz-table
    [nzData]="clocks"
    [nzShowPagination]="false"
    *ngIf="clocks.length"
  >
    <tbody>
      <tr *ngFor="let clock of clocks; let i=index">
        <td>{{clock.timeZone}}</td>
        <td>{{clock.date | async }}</td>
        <td>
          <button
            nz-button
            class="button"
            nzType="default"
            (click)="delete(i)"
          >
            <i nz-icon nzType="delete"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
