<div class="wrap">
  <nv-paper-view>
    <div class="grid">
      <div class="task-categories">
        <nv-fieldset [label]="wording.system.taskCategories | translate">
          <nv-task-categories></nv-task-categories>
        </nv-fieldset>
      </div>
      <div class="task-templates-wrap">
        <nv-fieldset [label]="wording.system.taskTemplates | translate">
          <nv-task-templates-detail></nv-task-templates-detail>
        </nv-fieldset>
      </div>
    </div>
  </nv-paper-view>
</div>
