.wrap {
  width: 100%;
  ::ng-deep .nv-content {
    overflow: hidden;
  }
  .grid {
    display: grid;
    height: 100%;
    padding: 10px;
    grid-template-columns: repeat(24, 1fr);
    grid-gap: 10px;
    nv-fieldset {
      height: 100%;
    }
    .task-categories {
      grid-column: span 8 / auto;
    }

    .task-templates-wrap {
      grid-column: span 16 / auto;
    }
  }
}
