<div class="create-category">
  <button nz-button nzType="primary" (click)="onCategoryCreateOrEdit()">
    {{ wording.system.createCatgory | translate }}
    <i nz-icon nzType="appstore-add"></i>
  </button>
</div>

<nz-divider></nz-divider>

<div class="search-box">
  <nz-input-group nzAddOnAfterIcon="search">
    <input type="text" nz-input [formControl]="searchCtrl" />
  </nz-input-group>
  <button
    nz-button
    class="filter"
    nz-popover
    [nzPopoverTitle]="wording.general.selectVesselType | translate"
    [nzPopoverContent]="popoverContent"
    nzPopoverPlacement="rightBottom"
    nzPopoverTrigger="click"
  >
    <i nz-icon nzType="filter"></i>
  </button>
  <ng-template #popoverContent>
    <div class="checkboxes">
      <label nz-checkbox [formControl]="registrationVesselTaskCtrl">
        {{ wording.system.registrationVesselTask | translate }}
      </label>

      <label nz-checkbox [formControl]="simpleVesselTaskCtrl">
        {{ wording.system.simpleVesselTask | translate }}
      </label>
    </div>
  </ng-template>
</div>

<nz-radio-group [formControl]="categoryCtrl">
  <div
    *ngFor="let category of taskCategories$ | async"
    class="radio-actions-wrap"
  >
    <label nz-radio [nzValue]="category.id">
      {{ category.displayLabel | translate }}
    </label>
    <div class="action-buttons">
      <button
        nz-button
        nzType="primary"
        nzShape="circle"
        nzSize="small"
        (click)="onCategoryCreateOrEdit(category)"
      >
        <i nz-icon nzType="edit"></i>
      </button>
      <button
        nz-button
        nzType="primary"
        nzDanger
        nzShape="circle"
        nzSize="small"
        (click)="onDelete(category)"
      >
        <i nz-icon nzType="delete"></i>
      </button>
    </div>
  </div>
</nz-radio-group>
