@import 'src/app/core/styles/_mixins';

.search-box {
  display: flex;
  .filter {
    margin-left: 3px;
  }
  margin: 10px 0px;
}
.create-category {
  display: flex;
  flex-direction: column;
  button {
    margin-bottom: 10px;
  }
  .checkboxes {
    label {
      margin-left: 0px;
    }
  }
}
nz-divider {
  margin: 12px 0;
}
nz-radio-group {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 52vh;

  @media only screen and(max-height: 844px) {
    height: 45vh;
  }

  @media only screen and(max-height: 660px) {
    height: 40vh;
  }

  @include setScrollBar();
  .radio-actions-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
}
