@import "global/breakpoints";

.auth-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-auth-background);
  --logoSectionHeight: 50px;
  overflow: hidden;

  .auth-page-left-side {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    overflow: auto;

    @include tablet {
      width: 50%;
    }

    @include tablet_small {
      width: 60%;
    }

    @include mobile {
      width: 100%;
    }

    .logo-section {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-self: flex-start;
      width: 100%;
      height: var(--logoSectionHeight);

      img {
        height: 50px;
        object-fit: contain;

        @include tablet_small {
          height: 40px;
        }

        @include mobile {
          height: 30px;
        }
      }
    }

    .content-section {
      max-width: 350px;
    }

    .logos-reserved {
      display: flex;
      flex-direction: column;
      width: 100%;

      .logos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 16px;

        a {
          margin: 0 5px;

          img {
            height: 30px;
            object-fit: contain;
          }
        }
      }

      .join-mev {
        text-align: center;
        margin-bottom: 16px;
        font-size: 14px;
        color: var(--color-main);
      }

      .rights {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: var(--color-main-light);
      }
    }
  }

  .auth-page-right-side {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @include tablet {
      width: 50%;
    }

    @include tablet_small {
      display: 40%;
    }

    @include mobile {
      display: none;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%
    }
  }
}
