<div class="auth-page">
  <div class="auth-page-left-side scrollbar">
    <div class="logo-section">
      <a href="./"><img src="/assets/images/mev-black-logo.png" alt="Material Exchange" /></a>
    </div>

    <div class="content-section">
      <router-outlet></router-outlet>
    </div>

    <div class="logos-reserved">
      <div class="logos">
        <a [href]="fdraSiteUrl" target="_blank" rel="noreferrer noopener">
          <img src="/assets/images/fdra_logo.png" alt="FDRA Logo" />
        </a>

        <a [href]="usfiaSiteUrl" target="_blank" rel="noreferrer noopener">
          <img src="/assets/images/usfia_logo.png" alt="USFIA Logo" />
        </a>
      </div>

      <div class="join-mev">
        <p>
          {{ 'dontHaveAccount' | translate }}
          <a [href]="joinMaterialExchangeUrl" target="_blank" rel="noreferrer noopener">{{ 'joinMaterialExchange' | translate }}</a>
        </p>
      </div>

      <div class="rights">
        {{ 'copyright' | translate: { year: copyrightYear } }}
      </div>
    </div>
  </div>

  <div class="auth-page-right-side">
    <img src="https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80" />
  </div>
</div>
