<div class="logo" (click)="goToMainPage()">
  <div class="square leading_square square1"></div>
  <!--div class="square square1_1"></div>
  <div class="square leading_square square2"></div-->
  <div class="square square2_2"></div>
  <!--div class="kpp">Killing Proficient Pixels</div-->
  <div class="kpp">@l_hovhanni</div>
  <div class="camera-lense" *ngIf="lense">
    <div class="trigger-square trigger-square-1"></div>
    <div class="trigger-square trigger-square-2"></div>
  </div>
</div>


