<nv-paper-view>
  <nv-grid
    [gridConfig]="portsGridConfig"
    [dataSource$]="dataSource$"
    (gridConfigChangedOnSave)="gridConfigService.update($event)"
  >
    <ng-template
      nvColumnTemplate
      let-cell
      columnName="countryFlagPath"
      let-data
    >
      <ng-container>
        <img [src]="data" default="assets/no-flag.png" alt="country-flag" />
      </ng-container>
    </ng-template>
  </nv-grid>
</nv-paper-view>
