@import "src/app/core/styles/_variables";

:host {
  display: block;

  &::ng-deep {
    .partner-type-checkbox-wrap {
      width: 100%;
      display: flex;
      overflow: hidden;

      .checkbox {
        padding-top: 17px;
      }
    }
  }
}

form {
  padding: 20px 16px;

  .vertical-space {
    margin-top: 7px;
  }
  .right-content {
    display: flex;
    justify-content: flex-end;
  }
  .full-width {
    width: 100%;
  }
  .separator {
    border-bottom: 1px solid $gray-light;
  }
}

.modal-footer {
  padding-right: 16px;
}
