<div class="wrap">
  <form [formGroup]="form" *ngIf="form" nz-form nzLayout="vertical">
      <div nz-row nzGutter="24">
        <div nz-col nzSpan="6">
          <nv-input-wrapper
            class="date-picker"
            [label]="wording.system.from | translate"
          >
            <nv-datebox formControlName="from"></nv-datebox>
          </nv-input-wrapper>
        </div>
      </div>

      <div class="separator vertical-space"></div>

      <!---------- Increase ------------->
      <div nz-row nzGutter="24" class="vertical-space">
        <div nz-col nzSpan="20">
          <nv-input-wrapper
            [label]="shareholderIncreaseLabels.get(legalFormKey) | translate"
          >
            <nv-autocomplete
              [autofocus]="false"
              [resource]="companies$ | async"
              [properities]="['companyName']"
              [displayOneProperty]="true"
              [setNullIfNotFound]="true"
              formControlName="increasePartnerId"
              (optionSelected)="setPartnerTypeValue(PARTNER_CHANGE_TYPE.increase)"
            ></nv-autocomplete>
          </nv-input-wrapper>
        </div>
        <div nz-col nzSpan="4" class="vertical-space right-content">
          <button
            class="full-width"
            nz-button
            nzType="primary"
            nz-tooltip
            [nzTooltipTitle]="
              defineManuallyLabels.get(legalFormKey) | translate
            "
            (click)="openPartnersModal(form.controls.increasePartnerId)"
            type="button"
          >
            {{ wording.general.create | translate }}
          </button>
        </div>

        <div nz-col [nzSpan]="isNotNonParValueShare ? 10 : 12">
          <nv-input-wrapper
            [label]="contributionAmountLabels.get(legalFormKey) | translate"
          >
            <nv-decimal-input
              formControlName="increaseContribution"
              [decimalPlaces]="2"
            >
            </nv-decimal-input>
          </nv-input-wrapper>
        </div>
        <div nz-col [nzSpan]="isNotNonParValueShare ? 10 : 12">
          <nv-input-wrapper
            [label]="contributionAmountNewLabels.get(legalFormKey) | translate"
          >
            <nv-decimal-input
              formControlName="increaseContributionNew"
              [decimalPlaces]="2"
            >
            </nv-decimal-input>
          </nv-input-wrapper>
        </div>
        <div nz-col nzSpan="4" *ngIf="isNotNonParValueShare">
          <nv-input-wrapper
            className="iso-code"
            [showErrMessages]="false"
            [label]="wording.system.currency | translate"
          >
            <input formControlName="currency" type="text" nz-input />
          </nv-input-wrapper>
        </div>
        <div class="partner-type-checkbox-wrap">
          <div nz-col nzSpan="10" *ngIf="partnerTypeSelectionShown">
            <nv-input-wrapper
              [label]="wording.system.typePartner | translate"
            >
              <nz-select
                nzShowSearch
                nzAllowClear
                [nzPlaceHolder]="wording.system.typePartner | translate"
                formControlName="partnerType"
              >
                <nz-option
                  *ngFor="let type of partnerTypes | keyvalue"
                  [nzLabel]="type.value | translate"
                  [nzValue]="type.key"
                  nzCustomContent
                >
                  <div [attr.company-partner-type]="type.value.en">
                    {{type.value | translate}}
                  </div>
                </nz-option>
              </nz-select>
            </nv-input-wrapper>
          </div>
          <div nz-col nzSpan="10" class="checkbox" *ngIf="isManagingPartnersVisible">
            <label
              nz-checkbox
              formControlName="increaseManagingPartner"
              data-checkbox="increaseManagingPartner"
            >
              {{ wording.system.managingPartners | translate }}
            </label>
          </div>
          <div nz-col nzSpan="24" *ngIf="isEntryWithZeroVisible | async" class="checkbox">
            <label
              nz-checkbox
              formControlName="entryWithZeroValue"
              data-checkbox="entryWithZeroValue"
            >
              {{ entryWithZeroValueLabels.get(legalFormKey) | translate }}
            </label>
          </div>
        </div>
      </div>

      <div class="separator vertical-space"></div>

      <!---------- Reduce ------------->
      <div nz-row nzGutter="24" class="vertical-space">
        <div nz-col nzSpan="20">
          <nv-input-wrapper
            [label]="shareholderReduceLabels.get(legalFormKey) | translate"
          >
            <nv-autocomplete
              [autofocus]="false"
              [resource]="companiesWithContributions$ | async"
              [properities]="['companyName']"
              [displayOneProperty]="true"
              [setNullIfNotFound]="true"
              formControlName="reducePartnerId"
              (optionSelected)="setPartnerTypeValue(PARTNER_CHANGE_TYPE.reduce)"
            ></nv-autocomplete>
          </nv-input-wrapper>
        </div>
        <div nz-col nzSpan="4" class="vertical-space right-content">
          <button
            class="full-width"
            nz-button
            nzType="primary"
            nz-tooltip
            [nzTooltipTitle]="
              defineManuallyLabels.get(legalFormKey) | translate
            "
            (click)="openPartnersModal(form.controls.reducePartnerId)"
            type="button"
          >
            {{ wording.general.create | translate }}
          </button>
        </div>

        <div nz-col [nzSpan]="isNotNonParValueShare ? 10 : 12">
          <nv-input-wrapper
            [label]="contributionAmountLabels.get(legalFormKey) | translate"
          >
            <nv-decimal-input
              formControlName="reduceContribution"
              [decimalPlaces]="2"
            >
            </nv-decimal-input>
          </nv-input-wrapper>
        </div>
        <div nz-col [nzSpan]="isNotNonParValueShare ? 10 : 12">
          <nv-input-wrapper
            [label]="contributionAmountNewLabels.get(legalFormKey) | translate"
          >
            <nv-decimal-input
              formControlName="reduceContributionNew"
              [decimalPlaces]="2"
            >
            </nv-decimal-input>
          </nv-input-wrapper>
        </div>
        <div nz-col nzSpan="4" *ngIf="isNotNonParValueShare">
          <nv-input-wrapper
            className="iso-code"
            [showErrMessages]="false"
            [label]="wording.system.currency | translate"
          >
            <input formControlName="currency" type="text" nz-input />
          </nv-input-wrapper>
        </div>

        <div class="partner-type-checkbox-wrap">
          <div nz-col nzSpan="10" *ngIf="partnerTypeSelectionShown">
            <nv-input-wrapper
              [label]="wording.system.typePartner | translate"
            >
              <nz-select
                nzShowSearch
                nzAllowClear
                [nzPlaceHolder]="wording.system.typePartner | translate"
                formControlName="partnerTypeReduce"
              >
                <nz-option
                  *ngFor="let type of partnerTypes | keyvalue"
                  [nzLabel]="type.value | translate"
                  [nzValue]="type.key"
                  nzCustomContent
                >
                  <div [attr.company-partner-type]="type.value.en">
                    {{type.value | translate}}
                  </div>
                </nz-option>
              </nz-select>
            </nv-input-wrapper>
          </div>
          <div nz-col nzSpan="10" class="checkbox" *ngIf="isManagingPartnersVisible">
            <label
              nz-checkbox
              formControlName="reduceManagingPartner"
              data-checkbox="reduceManagingPartner"
              [nzDisabled]="true"
            >
              {{ wording.system.managingPartners | translate }}
            </label>
          </div>
          <div nz-col nzSpan="24" *ngIf="isWithdrawWithZeroVisible | async" class="checkbox">
            <label
              nz-checkbox
              formControlName="withdrawWithZeroValue"
              data-checkbox="withdrawWithZeroValue"
            >
              {{ withdrawWithZeroValueLabels.get(legalFormKey) | translate }}
            </label>
          </div>
        </div>
      </div>

      <div class="separator vertical-space"></div>

      <!---------- Change ------------->
      <div nz-row nzGutter="24" class="vertical-space">
        <div nz-col [nzSpan]="isNotNonParValueShare ? 10 : 12">
          <nv-input-wrapper
            [label]="
              contributionChangeAmountLabels.get(legalFormKey) | translate
            "
          >
            <nv-decimal-input
              formControlName="contributionChange"
              [decimalPlaces]="2"
            >
            </nv-decimal-input>
          </nv-input-wrapper>
        </div>
      </div>
  </form>
  <nv-modal-footer class="modal-footer">
    <button
      nz-button
      nzType="info"
      [disabled]="isPendingRequest | async"
      (click)="cancel()"
    >
      {{ wording.general.cancel | translate }}
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="submit()"
      [disabled]="!form?.valid || (isPendingRequest | async)"
    >
      {{ wording.general.save | translate }}
    </button>
  </nv-modal-footer>
</div>
