<nv-paper-view
  [customTitle]="creationMode ? (wording.general.create | translate) : title$ | async"
  [routeBack]="!creationMode && routeBack"
>
  <!-- Header -->
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <!-- Content -->
  <div class="form-wrapper">
    <form
      #formElement
      [formGroup]="form"
      nz-form
      nzLayout='vertical'
      class="padding-mid"
    >
      <div
        nz-row
        nzGutter="22"
      >
        <div
          nz-col
          nzSpan="12"
        >

          <nv-input-wrapper [label]="wording.accounting.bankName | translate">
            <input
              formControlName="name"
              type="text"
              [placeholder]="wording.accounting.bankName | translate"
              nz-input
            >
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.accounting.bankCode | translate">
            <input
              formControlName="code"
              type="text"
              [placeholder]="wording.accounting.bankCode | translate"
              nz-input
            >
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.accounting.bic | translate">
            <input
              formControlName="bic"
              type="text"
              [placeholder]="wording.accounting.bic | translate"
              nz-input
            >
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.general.zipCode | translate">
            <input
              formControlName="zipCode"
              type="text"
              [placeholder]="wording.general.zipCode | translate"
              nz-input
            >
          </nv-input-wrapper>
          <div class="form-row-host">
            <label
              *ngIf="showIsActiveCheckbox"
              nz-checkbox
              formControlName="isActive"
              data-checkbox="isActive"
            >
              {{ wording.accounting.active | translate }}
            </label>
          </div>

        </div>
        <div
          nz-col
          nzSpan="12"
        >

          <nv-input-wrapper [label]="wording.general.city | translate">
            <input
              formControlName="city"
              type="text"
              [placeholder]="wording.general.city | translate"
              nz-input
            >
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.general.street | translate">
            <input
              formControlName="street"
              type="text"
              [placeholder]="wording.general.street | translate"
              nz-input
            >
          </nv-input-wrapper>
          <nv-country-autocomplete [form]="form"></nv-country-autocomplete>
          <nv-input-wrapper [label]="wording.accounting.differentAccountHolder | translate">
            <input
              formControlName="differentAccountHolder"
              type="text"
              [placeholder]="wording.accounting.differentAccountHolder | translate"
              nz-input
            >
          </nv-input-wrapper>

        </div>
      </div>
    </form>
  </div>
</nv-paper-view>