:host {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
    .form-wrapper {
      overflow: auto;
    }
}

.paper {
    max-width: 880px;
    .header {
        padding: 10px;
        flex-direction: row;
        align-items: center;
    }
    .content {
        padding: 26px;
    }
}

form {
  min-width: 800px;
}