<div>
  <form [formGroup]="form" nz-form nzLayout="vertical">
    <div class="form-group">
      <div class="form-row-host">
        <nv-input-wrapper label="Select Timezone">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Timezone" formControlName="timeZone">
            <nz-option
              *ngFor="let timezone of timezones"
              [nzLabel]="timezone"
              [nzValue]="timezone"
              nzCustomContent
            >
              <div [attr.data-timezone-option]="timezone">
                {{ timezone }}
              </div>
            </nz-option>
          </nz-select>
        </nv-input-wrapper>
      </div>
    </div>
  </form>
  <nv-modal-footer>
    <button nz-button nzType="info" (click)="closeModal()">{{wording.general.cancel | translate}}</button>
    <button nz-button nzType="primary" (click)="submit(form.value.timeZone)" [disabled]="form.invalid">{{wording.general.save | translate}}</button>
  </nv-modal-footer>
</div>
