<div class="dialog-container">
  <span mat-dialog-title>{{ i18nStrings.certificate }}</span>
  <mat-dialog-content class="scrollbar">
    <div class="loading" [meComponentLoading]="!ready"></div>

    <div class="step-content" *ngIf="ready">
      <div *ngIf="isFirstCertificate">
        <me-empty-content class="empty-container" [dataModel]="emptyCompanyContent" (clicked)="isFirstCertificate = false">
        </me-empty-content>
      </div>

      <div *ngIf="!isFirstCertificate" class="certificate-group-container attribute-group-container row">
        <div class="thumbnail-container">
          <div class="icon-container" *ngIf="!selectedCertificateLogo">
            <me-icons class="icon" name="certificates" width="80"></me-icons>
          </div>
          <div class="icon-container" *ngIf="selectedCertificateLogo">
            <img class="img-certi" [src]="selectedCertificateLogo" />
          </div>
        </div>
        <div *ngFor="let group of certificateInfoLayoutGroups" class="group-container">
          <div class="row-container">
            <me-attribute
              *ngIf="certificateTypeAttributeItem"
              [attributeItem]="certificateTypeAttributeItem"
              [attWidth]="'50%'"
            ></me-attribute>
          </div>

          <div *ngFor="let row of group.rows" class="row-container" [attr.data-row]="row.rowIndex">
            <ng-container *ngFor="let rowAttribute of row.attributes">
              <me-attribute
                [attributeItem]="certificateInfoAttributeItemMap.get(rowAttribute.internalName)"
                [attWidth]="rowAttribute.width"
                [attr.data-row]="rowAttribute.row"
                [attr.data-column]="rowAttribute.column"
              ></me-attribute>
            </ng-container>
          </div>
          <div class="ulpoad-container box-sizing-border-box">
            <me-upload-file
              *ngIf="documentCards.length == 0"
              [uploadData]="uploadFileData"
              (returnFormData)="handleFileFormData($event)"
            ></me-upload-file>
            <!-- <div *ngIf="documentCards"> -->

            <div class="card" *ngFor="let item of documentCards">
              <div class="grid-test box-sizing-border-box">
                <me-document-line [dataModel]="item" (eventOccurs)="customEvent($event.eventName, $event.payload, item)"></me-document-line>
              </div>
            </div>

            <!-- <me-document-line [dataModel]="documentCards" (eventOccurs)="customEvent($event.eventName, $event.payload, documentCards)"></me-document-line> -->
            <!-- <p>{{ selectedCertificate.name }}</p>
                  <h6>{{ selectedCertificate.createdOn }}</h6>
                  <span (click)="deleteCertificate()">Delete Certificate</span> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions *ngIf="ready" align="end">
    <div class="button-section single">
      <me-button [dataModel]="buttonCancel.data" mat-dialog-close>{{ buttonCancel.label }} </me-button>
      <me-button [dataModel]="buttonSubmit.data" (clickEvent)="handleCertificate(certificateInfoAttributeForm)"
        >{{ buttonSubmit.label }}
      </me-button>
    </div>
  </mat-dialog-actions>
</div>
