.compact-user-element {
  flex-direction: row;
  align-items: center;

  > * {
    margin-right: 8px;
  }

  .content-main{
    flex-direction: column;

    .name {
      min-width: 100px;
      flex-direction: row;
      margin-bottom: 2px;

      .firstname {
        margin-right: 2px;
      }
    };
  }
  .clickable-text :hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
