<div class="compact-user-element flex row" *ngIf="_user">
  <nv-mini-avatar [user]="_user" [shape]="shape"></nv-mini-avatar>
  <div class="content-main flex "
    [ngClass]="{'clickable-text': navigateByClick}"
    (click)="navigateTo()">
    <div class="name fb">
      <div class="firstname fb">{{ _user.firstName }}</div>
      <div class="lastname fb">{{ _user.lastName }}</div>
    </div>
  </div>
</div>