.user-info-container {
  width: 387px;
  height: 572px;
  background: #ffffff;
  box-shadow: 0px 10px 10px var(--black-box-shadows, rgba(0, 0, 0, 0.1));
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;

  .top-part {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-main-lighter, #f1f2f7);

    .user-data-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;

      .left-part {
        display: flex;
        flex-direction: row;
        width: 70%;

        .image-container {
          width: 60px;
          height: 60px;
          margin-right: 10px;
        }

        .user-values-container {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 55%;
          justify-content: space-between;
          align-items: flex-start;

          .name {
            font-size: 16px;
            font-weight: 600;
            color: var(--color-main-darker, #282a3c);
          }

          .uid {
            font-size: 12px;
            font-weight: 400;
            color: var(--color-main, #747474);
          }
        }
      }

      .right-part {
        display: flex;
        flex-direction: row;
        width: 30%;
        justify-content: flex-end;
      }
    }

    .email {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      span {
        margin-left: 10px;
        font-size: 12px;
        font-weight: 400;
        color: (--color-info, #2353f3);
      }
    }
  }

  .popup-content {
    overflow: hidden;
    flex-grow: 1;
    max-height: calc(100% - 132px);
  }
}
