<div class="user-info-container box-sizing-border-box">
  <div class="top-part box-sizing-border-box">
    <div class="user-data-container box-sizing-border-box">
      <div class="left-part">
        <div class="image-container">
          <me-user-image [imageModel]="userImage"></me-user-image>
        </div>
        <div class="user-values-container box-sizing-border-box">
          <span class="name"> {{ dataModel.firstName }} {{ dataModel.lastName }} </span>
          <span class="uid"> {{ dataModel.uid }} </span>
          <me-label [dataModel]="statusLabel">
            <span content>{{ dataModel.status ? 'ACTIVE' : 'INACTIVE' }}</span>
          </me-label>
        </div>
      </div>
      <div class="right-part">
        <me-icons class="cursor-pointer" name="x" (click)="customEvent('close')"></me-icons>
      </div>
    </div>
    <div class="email">
      <me-icons name="inbox"></me-icons>
      <span>{{ dataModel.email }}</span>
    </div>
  </div>

  <div class="popup-content">
    <ng-container *ngTemplateOutlet="content"> </ng-container>
  </div>
</div>
