@import '../../../assets/less/variables.less';

:host ::ng-deep {
  .l-date-picker-wrap {
    position: relative;
    width: @width_md;
  }

  .l-date-result {
    .flex;
    .center-top;

    input {
      padding: 0 5px;
      line-height: 30px;
      border: 1px solid @gray;
      width: 100%;
      margin-right: 3px;
    }

    .date-format-onfocus {
      font-size: .9rem;
      color: @gray;
      position: absolute;
      top: 5px;
      left: 5px;
      pointer-events: none;
      .transition;

      &.focus {
        font-size: .7rem;
        top: -17px;
        left: 0;
      }
    }
  }

  .l-date-picker {
    width: 100%;
    height: 270px;
    background: white;
    margin-top: 2px;
    border: 1px solid @gray-bold;
    padding: 5px;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 9999999999999999;
    .transition;
    opacity: 0;
    pointer-events: none;

    &.vis {
      opacity: 1;
      pointer-events: all;
    }

    table {
      height: 185px;
      margin:  0 auto;

      td, th {
        text-align: center;
      }

      th {
        font-size: .8rem;
        font-weight: 300;
        padding: 3px;
      }

      td {
        cursor: pointer;

        &.current {
          border: 1px solid @blue;
        }

        &.selected {
          background: @blue;
          border: 1px solid @blue;
          color: white;
        }
      }
    }

    .periods {
      font-size: .8rem;
    }
    .period {
      .flex;
      .space-between;
      .center-top;
      line-height: 30px;

      .l-input-wrapper {
        border: none;
        width: 70px;
        text-align: center;
      }
    }
  }

  .l-date-picker-wrap {
    .l-calendar-toggle {
      button {
        background: transparent;
        .transition;

        &:hover {
          color: @blue;
        }
      }
    }

    button {
      border: none;
      background: none;
      font-size: 1rem;
      color: @gray_placeholder;
      cursor: pointer;
    }

    .changePeriod {
      .flex;

      button {
        background: transparent;
        color: @gray;
        font-size: 1.2rem;
        border-radius: 50%;;
        line-height: 30px;
        text-align: center;
        margin-right: 3px;
        .transition;

        &:hover {
          color: @blue;
        }
      }
    }
  }

  .god-day {
    color: @red;
  }
}
