<lavash-event-container (mouseEvent)="onDatePickerClickout($event)">
  <div class="l-date-picker-wrap">
    <div class="l-date-result flex flex-bottom">
      <lavash-input  [value]="selectedDate"
                     [placeholder]="placeholder || ''"
                     [graphics]="calendarIcon"
                     [graphicsPosition]="calendarIconPosition"
                     (graphicClick)="onToggleDatePicker()"
                     (focusEvent)="onDateChangeFromInput()"
                     (inputEvent)="onDateChangeFromInput()"
                     (deleteEvent)="onClearDateFromInput()">
      </lavash-input>
    </div>

    <div class="l-date-picker" [ngClass]="datePickerVisible ? 'vis' : ''">

      <div class="period month">
        <span>{{curMonth}}</span>
        <div class="changePeriod">
          <lavash-button graphics="icon-chevron-left"
                         (clickEvent)="changeMonth(-1)">
          </lavash-button>
          <lavash-button graphics="icon-chevron-right"
                         (clickEvent)="changeMonth(1)">
          </lavash-button>
        </div>
      </div>

      <div class="weekdays">
        <table>
          <thead>
          <tr>
            <th *ngFor="let wD of wDl" [ngClass]="wD === 'Sun' ? 'god-day' : ''">{{wD}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let r of weekDays">
            <td *ngFor="let d of r" (click)="onSelectDate(d)"
                [ngClass]="d === curDay && curMonthIndex === staticCurMonthIndex && curYear === staticYear ? 'current' :
                           d === selectedDay && curMonthIndex === selectedMonthIndex && curYear === selectedYear  ? 'selected' :
                           (!startsFromMonday && d && r.indexOf(d) === 0) ? 'god-day' :
                           (startsFromMonday && d && r.indexOf(d) === 6) ? 'god-day' : ''">
              {{d}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="period year">
        <lavash-input [value]="curYear"
                      [noClearEvent]="true"
                      (enterEvent)="onYearManualChange()"
                      (blurEvent)="onYearManualChange()"
                      (focusEvent)="onYearManualFocus()">
        </lavash-input>
        <div class="changePeriod">
          <lavash-button graphics="icon-chevron-left"
                         (clickEvent)="changeYear(-1)">
          </lavash-button>
          <lavash-button graphics="icon-chevron-right"
                         (clickEvent)="changeYear(1)">
          </lavash-button>
        </div>
      </div>
    </div>
  </div>
</lavash-event-container>
