<div class="image-with-title cursor-pointer">
  <!-- <div class="image" [ngStyle]="{ 'background-image': 'url(' + data.imgUrl + ')'}"></div> -->
  <me-user-image
    [imageModel]="{
      type: data.url ? 'avatar' : 'initials',
      size: 'small',
      shape: 'rounded',
      initials: 'FB',
      imageUrl: baseUrl + '/files/download/' + data.url,
      alt: ''
    }"
    (click)="onClick()">
  </me-user-image>
  <span (click)="onClick()">{{data.title}}</span>
</div>
