.image-with-title {
  display: flex;
  align-items: center;

  .image {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 13px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  span {
    font-size: 14px;
    color: #282A3C;
    margin-left: 18px;
  }
}
