<div class="forgot-password-section">
  <span class="back-to-sign-in link" (click)="goToLogin()">{{ 'backToLogin' | translate }}</span>

  <ng-container *ngIf="!userNameEmailSent">
    <span class="forgot-large">{{ 'forgotPassword' | translate }}</span>
    <span class="forgot-small">
      {{ 'forgotPasswordInsturctions' | translate }}
    </span>

    <form id="forgot-password-form" #forgotPasswordForm="ngForm" (ngSubmit)="performForgotPassword()">
      <mat-form-field class="forgot-password-att" hideRequiredMarker="true">
        <mat-label>{{ 'usernameOrEmail' | translate }}</mat-label>
        <input #userNameEmailField matInput [(ngModel)]="userNameEmail" id="userNameEmail" name="userNameEmail" required />
      </mat-form-field>
      <button mat-raised-button [disabled]="!forgotPasswordForm.valid" color="primary" type="submit" class="forgot-password-button">
        {{ 'submit' | translate }}
      </button>
    </form>
  </ng-container>

  <ng-container *ngIf="userNameEmailSent">
    <span class="forgot-large">{{ 'checkYourEmail' | translate }}</span>
    <span class="forgot-small mb32">
      {{ 'passwordResetLinkMessage' | translate }}
    </span>
    <span class="forgot-small">
      {{ 'passwordRequestNewLink' | translate }}
    </span>
  </ng-container>
</div>
