.forgot-password-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;

  .back-to-sign-in {
    font-size: 14px;
    color: var(--color-primary);
    margin-top: 24px;
  }

  .forgot-large {
    color: var(--color-main-darker);
    font-weight: bold;
    font-size: 40px;
    margin: 24px 0px 24px;
    line-height: 40px;
  }

  .forgot-small {
    font-size: 14px;
    color: var(--color-main);
    margin-bottom: 32px;
    text-align: center;

    &.mb32 {
      margin-bottom: 32px;
    }
  }

  #forgot-password-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;

    .forgot-password-att {
      width: 100%;
    }

    .forgot-password-button {
      width: 100%;
    }
  }
}
