.body {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep nz-input-group[nzPrefix] input.ant-input {
  padding-left: 25px;
}

html[data-theme="dark"] :host ::ng-deep nz-input-group[nzPrefix] .ant-input-prefix {
  color: #ffffff;
}
