<div class="main">
  <div class="body">
    <form nz-form [formGroup]="form" *ngIf="form">
      <div nzGutter="28" nz-col class="section">
        <nz-form-item nz-row nzSpan="10">
          <nv-input-wrapper nz-col [label]="wording.general.domain | translate">
            <nz-input-group nzPrefix="@">
              <input type="text" nz-input formControlName="domain">
            </nz-input-group>
          </nv-input-wrapper>
        </nz-form-item>
        <div class="checkbox-wrap">
          <nz-switch formControlName="isSystemDefault"></nz-switch>
          <div class="switchLabel">
            {{ wording.general.systemDefault | translate }}
          </div>
        </div>
      </div>
    </form>
  </div>
  <nv-modal-footer>
    <button nz-button nzType="info" (click)="cancel()">
      {{ wording.general.cancel | translate }}
    </button>
    <button
      [disabled]="!form?.valid"
      (click)="submit()"
      nz-button
      nzType="primary"
    >
      {{ wording.general.submit | translate }}
    </button>
  </nv-modal-footer>
</div>
