<lavash-grid-container [columns]="columns"
                       [items]="items"
                       articleImgPath="../l-hovhanni-assets/img/stories/"
                       imageImgPath="../l-hovhanni-assets/img/portfolio/"
                       videoImgPath="../l-hovhanni-assets/video/"
                       videoPosterPath="../l-hovhanni-assets/video/posters/"
                       (itemClickEvent)="onItemClick($event)"
                       (itemHoverEvent)="onItemHover($event)"
                       (cardBtnClickEvent)="onCardBtnClick($event)"
                       (windowResizeEvent)="onResize($event)"
                       (imageLoadEvent)="onImageLoad($event)">
        <span class="l-photo-info"
              [ngClass]="dynamicItemDataType">
            <app-ph-link [introText]="introText"
                         [photographer]="dynamicItemData?.photographer"
                         [photo]="dynamicItemData">
            </app-ph-link>
        </span>
</lavash-grid-container>



