.compnay-users-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.add-users-list-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 50px);
}
