.image-upload-container {
  border: 1px dashed var(--color-main-light);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 240px;
  height: 240px;

  .feather {
    width: 40px !important;
    height: 40px !important;
  }

  .thumbnail {
    color: var(--color-main-darker);
    font-size: 14px;
    font-weight: 600;
  }

  .supported {
    color: var(--color-main-light);
    font-size: 12px;
    font-weight: 600;
  }

  .size {
    color: var(--color-main);
    font-size: 8px;
    font-weight: 600;
  }

  .delete-icon {
    align-self: flex-end;
  }

  .thumbnail-container {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
    text-shadow: 2px 2px 4px var(--color-black);

    i-feather {
      height: 22px;
      width: 22px;
      color: var(--color-main-lighter);
    }

    .text {
      color: var(--color-main-lighter);
      font-size: 14px;
      font-weight: 600;
    }
  }

  .thumbnail-container:hover .middle {
    opacity: 1;
  }

  .danger {
    color: var(--color-danger);
    font-weight: bold;
  }

  .progress-bar {
    width: 200px;
    height: auto;
    display: flex;
    justify-items: center;
    align-items: center;
  }
}
