<div class="image-upload-container box-sizing-border-box" meDragDrop (fileDropped)="onDropped($event)" *ngIf="uploadImageData">
  <ng-container *ngIf="!uploadImageData.thumbnail && !uploadImageData.showProgress">
    <i-feather [class.danger]="uploadImageData.isThumbnailStatusInvalid" name="upload"></i-feather>

    <span [class.danger]="uploadImageData.isThumbnailStatusInvalid" class="thumbnail">{{
      uploadImageData.title || 'Material Thumbnail'
    }}</span>

    <span [class.danger]="uploadImageData.isThumbnailStatusInvalid" class="supported">
      Files supported: {{ uploadImageData.supportedThumbnailFiles }}
    </span>
    <me-button [dataModel]="uploadImageData.uploadImageButton!" (click)="fileInput.click()"> Choose File </me-button>
    <input
      hidden
      (change)="handleFileInput($event)"
      #fileInput
      type="file"
      id="file"
      class="droparea"
      accept="{{ uploadImageData.acceptPhotoExtensions }}"
    />

    <span [class.danger]="uploadImageData.isThumbnailStatusInvalid" class="size"> Max size {{ uploadImageData.maxUploadSize }}</span>
  </ng-container>

  <ng-container *ngIf="uploadImageData.thumbnail && !uploadImageData.showProgress">
    <div class="thumbnail-container">
      <img [src]="uploadImageData.thumbnail" />
      <div class="middle" (click)="hoverFileInput.click()">
        <i-feather name="camera"></i-feather>
        <div class="text">Update</div>
      </div>
      <input
        hidden
        (change)="handleFileInput($event)"
        #hoverFileInput
        type="file"
        id="hoverFile"
        class="droparea"
        accept="{{ uploadImageData.acceptPhotoExtensions }}"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="uploadImageData.showProgress && fileToUpload">
    <div class="progress-bar">
      <mat-progress-bar mode="determinate" value="{{ uploadImageData.percentageDone }}"></mat-progress-bar>
    </div>
  </ng-container>
</div>
