<nv-paper-view>
  <div class="grids-container">
    <nv-grid
      (gridConfigChangedOnSave)="gridConfigService.update($event)"
      [gridConfig]="favoriteCurrenciesConfig"
      [dataSource$]="favoritesDataSource$"
      [attr.data-grid-name]="'favorites'"
    >
    </nv-grid>
    <nv-grid
      (gridConfigChangedOnSave)="gridConfigService.update($event)"
      [gridConfig]="currenciesConfig"
      [dataSource$]="dataSource$"
      [attr.data-grid-name]="'all-currencies'"
    >
    </nv-grid>
  </div>
</nv-paper-view>
