.grids-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px;
  align-items: self-end;

  nv-grid {
    box-shadow: none;

    &:first-child {
      height: auto;
    }
  }
}
