@import "src/app/core/styles/_variables";

:host {
  display: block;
}

form {
  padding: 20px 10px;

  .vertical-space {
    margin-top: 20px;
  }
  .separator {
    border-bottom: 1px solid $gray-light;
  }
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  .action-buttons :first-child {
    margin-right: 5px;
  }
}
