<div class="wrap" e2e-modal="company-legal-entity-partners-modal">
  <form [formGroup]="form" *ngIf="form" nz-form nzLayout="vertical">
      <div nz-row nzGutter="10">
          <nv-input-wrapper
            nz-col
            nzSpan="6"
            class="date-picker"
            [label]="wording.system.from | translate"
          >
            <nv-datebox formControlName="from"></nv-datebox>
          </nv-input-wrapper>
          <nv-input-wrapper
            nz-col nzSpan="18"
            [label]="companyNameWording | translate"
          >
            <nv-autocomplete
              [autofocus]="false"
              [resource]="companiesObservable | async"
              [properities]="['companyName']"
              [displayOneProperty]="true"
              [setNullIfNotFound]="true"
              formControlName="partnerId"
            ></nv-autocomplete>
          </nv-input-wrapper>
      </div>
      <div nz-row nzGutter="10">
          <nv-input-wrapper
            nz-col
            [nzSpan]="showCurrency ? 20 : 24"
            [label]="contributionAmountWording | translate"
          >
            <nv-decimal-input
              formControlName="contributionAmount"
              [decimalPlaces]="2"
            >
            </nv-decimal-input>
          </nv-input-wrapper>
          <nv-input-wrapper
            *ngIf="showCurrency"
            nz-col
            nzSpan="4"
            className="iso-code"
            [showErrMessages]="false"
            [label]="wording.system.currency | translate"
          >
            <input formControlName="currency" type="text" nz-input />
          </nv-input-wrapper>
      </div>

      <div
        nz-col
        nzSpan="10"
        class="checkbox"
        *ngIf="isManagingPartnersVisible"
      >
        <label
          nz-checkbox
          formControlName="managingPartner"
          data-checkbox="managingPartner"
          [nzDisabled]="true"
        >
          {{ wording.system.managingPartners | translate }}
        </label>
      </div>

      <div
        nz-row
        nzGutter="10"
        *ngIf="company.legalForm === companyLegalFormTypes.LimitedPartnership"
      >
      <!-- legalForm = KG -->
        <nv-input-wrapper
          nz-col
          nzSpan="10"
          [label]="wording.system.typePartner | translate"
        >
          <nz-select
            class="hide-select-arrow"
            [nzPlaceHolder]="wording.system.typePartner | translate"
            formControlName="partnerType"
          >
            <nz-option
              *ngFor="let item of typePartnerOptions | keyvalue"
              [nzLabel]="item.value | translate"
              [nzValue]="item.key"
              nzCustomContent
            >
              <div [attr.data-type-partner-option]="item.value.en">
                {{ item.value | translate }}
              </div>
            </nz-option>
          </nz-select>
        </nv-input-wrapper>
          <nv-input-wrapper
            nz-col
            nzSpan="10"
            [label]="wording.system.liabilitySum | translate"
          >
            <nv-decimal-input
              formControlName="liabilitySum"
              [decimalPlaces]="2"
            >
            </nv-decimal-input>
          </nv-input-wrapper>
          <nv-input-wrapper
            nz-col
            nzSpan="4"
            className="iso-code"
            [showErrMessages]="false"
            [label]="wording.system.currency | translate"
          >
            <input formControlName="liabilityCurrency" type="text" nz-input />
          </nv-input-wrapper>
      </div>
      <nv-input-wrapper
        nz-col
        nzSpan="24"
        [label]="wording.system.remark | translate"
      >
        <textarea
          [nzAutosize]="{ minRows: 2, maxRows: 4 }"
          nz-input
          formControlName="remark"
        ></textarea>
      </nv-input-wrapper>
  </form>
  <nv-modal-footer>
    <button nz-button nzType="info" (click)="cancel()">
      {{ wording.general.cancel | translate }}
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="submit()"
      [disabled]="!form?.valid"
    >
      {{ wording.general.save | translate }}
    </button>
  </nv-modal-footer>
</div>
