:host,
.form-wrap {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  form {
    overflow: auto;

    [formControlName="hasCorporateRelevance"] {
      padding-bottom: 10px;
    }
  }
}
