<nv-detail-view-actions
  [inEditingMode]="editMode"
  (editClicked)="enterEditMode()"
  (cancelClicked)="cancelEditing()"
  (saveClicked)="submit()"
></nv-detail-view-actions>

<div class="form-wrap">
  <form
    *ngIf="form"
    [formGroup]="form"
    nz-form
    [nzLayout]="'vertical'"
    class="padding-mid"
  >
    <label
      nz-checkbox
      formControlName="hasCorporateRelevance"
      data-checkbox="hasCorporateRelevance"
    >
      {{ wording.accounting.corporateGroupRelevance | translate }}
    </label>
    <div *ngIf="form.get('hasCorporateRelevance').value">
      <nv-input-wrapper [label]="wording.accounting.corporateAccountingReference | translate">
        <input
          formControlName="corporateAccountingReference"
          type="text"
          nz-input
        />
      </nv-input-wrapper>
      <nv-input-wrapper [label]="wording.accounting.intercompanyIdentityDebitorCreditor | translate">
        <nz-select
          formControlName="debitorCreditor"
        >
          <nz-option
            [nzLabel]="debitorCreditor.no + ' ' + debitorCreditor.companyName"
            [nzValue]="debitorCreditor.no"
            nzCustomContent
          >
            <div data-debitor-creditor-type-option="debitorCreditor.no">
              {{ debitorCreditor.no + ' ' + debitorCreditor.companyName }}
            </div>
          </nz-option>
        </nz-select>
      </nv-input-wrapper>
    </div>
  </form>
</div>
