<div class="main">
  <nz-steps
    [nzCurrent]="currentStep"
    class="steps-bar"
  >
    <nz-step></nz-step>
    <nz-step></nz-step>
  </nz-steps>
  <div
    class='fb'
    [hidden]="currentStep !== 0"
  >
    <nv-grid
      [gridConfig]="config"
      [dataSource$]="dataSource$"
      (rowSelectionChanged)="rowSelect($event)"
    >
    </nv-grid>
  </div>

  <div
    class="auto-numbering-wrap"
    [hidden]="currentStep !== 1"
  >
    <form
      [formGroup]="form"
      nz-form
      nzLayout='vertical'
      class="form"
    >
      <div
        nz-row
        nzGutter="24"
      >
        <div
          nz-col
          nzSpan="24"
        >
          <label
            nz-checkbox
            formControlName="isAutomaticNumbering"
          >
            {{wording.accounting.autoNumbering | translate}}
          </label>
        </div>
      </div>
    </form>
  </div>

  <div>
    <div class='fb footer'>
      <button
        nz-button
        nzType="default"
        [hidden]="currentStep === 0"
        class='footer-button'
        (click)="stepBack()"
      >
        {{wording.general.back | translate}}
      </button>
      <button
        nz-button
        nzType="primary"
        [disabled]="!form.getRawValue()['voucherTypeId']"
        class='footer-button next-button'
        (click)="currentStep === 0 ? stepForward() : save()"
      >
        {{ currentStep === 1 ? (wording.general.done | translate) : (wording.general.next | translate) }}
      </button>
    </div>
  </div>
</div>
