:host ::ng-deep .grid-view-port-container {
  overflow: unset !important;
}

.main{
  display: flex;
  flex-direction: column;
}

.steps-bar {
  padding: 14px;
  padding-left: 20px;
  background: #f9f9f9;
  border-bottom: 1px solid #e8e8e8;
}

.footer{
  flex-direction: row;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  text-align: right;
  border-radius: 0 0 4px 4px;
  justify-content: flex-end;

  .next-button{
    margin-left: auto;
  }
}

.auto-numbering-wrap {
  padding: 25px 30px;
}

.steps-action {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  button {
    margin-right: 5px;
  }
}

.nv-paper {
  min-height: min-content;
}
