<div class="wrap">
  <form [formGroup]="form" *ngIf="form" nz-form nzLayout="vertical">
    <div nz-row nzGutter="20">
      <nv-input-wrapper
        nz-col
        nzSpan="18"
        [label]="wording.system.silentPartner | translate"
      >
        <nv-autocomplete
          [autofocus]="false"
          [resource]="companies$ | async"
          [properities]="['companyName']"
          [displayOneProperty]="true"
          [setNullIfNotFound]="true"
          formControlName="partnerId"
        ></nv-autocomplete>
      </nv-input-wrapper>
      <div
        class="button-container"
        nzSpan="6"
        nz-col
      >
        <button
          nz-button
          nzType="primary"
          nz-tooltip
          [nzTooltipTitle]="wording.system.defineSilentPartnerManually | translate"
          (click)="openPartnersModal()"
          type="button"
        >
          {{ wording.general.create | translate }}
        </button>
      </div>
    </div>
    <div nz-row nzGutter="20">
      <nv-input-wrapper
        nz-col
        nzSpan="12"
        [label]="wording.system.contribution_v1 | translate"
      >
        <nv-decimal-input
          formControlName="contribution"
          [decimalPlaces]="2"
        >
        </nv-decimal-input>
      </nv-input-wrapper>
      <nv-currency-autocomplete
        nz-col
        nzSpan="12"
        [form]="form"
        controlName="currencyId"
      ></nv-currency-autocomplete>
    </div>
    <div
      nz-col
      nzSpan="24"
    >
      <label
        nz-checkbox
        formControlName="isAtypicalSilentPartner"
      >
        {{ wording.system.atypicalSilentPartner | translate }}
      </label>
    </div>
    <div
      nz-col
      nzSpan="24"
    >
      <label
        nz-checkbox
        formControlName="isActive"
      >
        {{ wording.general.active | translate }}
      </label>
    </div>
    <div nz-row nzGutter="20">
      <nv-input-wrapper
        nz-col
        nzSpan="12"
        [label]="wording.system.dateFromTo | translate"
      >
        <nv-datebox formControlName="from"> </nv-datebox>
      </nv-input-wrapper>
      <!-- label is zero-width space -->
      <nv-input-wrapper
        nz-col
        nzSpan="12"
        label="&#8203;"
        [requiredSymbol]="false"
      >
        <nv-datebox formControlName="to"> </nv-datebox>
      </nv-input-wrapper>
    </div>
    <nv-input-wrapper
      nz-col
      nzSpan="24"
      [label]="wording.system.remark | translate"
    >
      <textarea
        [nzAutosize]="{ minRows: 4, maxRows: 8 }"
        nz-input
        formControlName="remark"
      ></textarea>
    </nv-input-wrapper>
  </form>
  <nv-modal-footer class="modal-footer">
    <button
      nz-button
      nzType="info"
      [disabled]="isRequestPending"
      (click)="modalRef.close()"
    >
      {{ wording.general.cancel | translate }}
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="submit()"
      [disabled]="!form?.valid || isRequestPending"
    >
      {{ wording.general.save | translate }}
    </button>
  </nv-modal-footer>
</div>
