@import "src/app/core/styles/_variables";

:host {
  display: block;
}

form {
  padding: 20px 16px;

  .vertical-space {
    margin-top: 20px;
  }
  .right-content {
    display: flex;
    justify-content: flex-end;
  }
  .full-width {
    width: 100%;
  }
  .separator {
    border-bottom: 1px solid $gray-light;
  }
}

.modal-footer {
  padding-right: 16px;
}
.button-container {
  display: flex;
  align-items: center;
  margin-bottom: -10px;
  justify-content: flex-end;
}

[nz-checkbox] {
  margin: 10px 0;
}
