<div class="add-list-container box-sizing-border-box">
  <div class="header box-sizing-border-box">
    <span class="title">{{ dataModel.title }}</span>
    <me-icons name="x" mat-dialog-close></me-icons>
  </div>
  <div class="content">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
  <div class="footer box-sizing-border-box">
    <me-button [dataModel]="finishButton" (clickEvent)="customEvent('addUsersAndClose')">Finish</me-button>
  </div>
</div>
