.add-list-container {
  width: 387px;
  height: 670px;
  background: #ffffff;
  box-shadow: 0px 10px 10px var(--black-box-shadows, rgba(0, 0, 0, 0.1));
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 22px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;

    .title {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .content {
    flex-grow: 1;
    height: calc(100% - 80px);
    overflow-y: hidden;
    width: 100%;
    padding-right: 4px;
  }

  .footer {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    font-weight: 600;

    .actions {
      display: flex;
      align-items: center;

      &.hidden {
        visibility: hidden;
      }
    }
  }
}
