<div class="wrap" e2e-modal="company-legal-entity-partners-modal">
  <form [formGroup]="form" *ngIf="form" nz-form nzLayout="vertical">
    <nv-input-wrapper
      *ngIf="!onlyCreate"
      [label]="
        (isGeneralPartners
          ? wording.system.generalPartner
          : wording.system.managingPartners
        ) | translate
      "
    >
      <nv-autocomplete
        [resource]="companiesObservable | async"
        [properities]="['companyName']"
        [displayOneProperty]="true"
        [setNullIfNotFound]="true"
        formControlName="id"
      ></nv-autocomplete>
    </nv-input-wrapper>
    <div
      *ngIf="!onlyCreate"
      class="checkbox-wrapper"
      nz-row
      (click)="defineManuallyClickHandler()"
    >
      <div class="cover"></div>
      <label
        nz-checkbox
        [ngModel]="form.value.defineManually"
        [ngModelOptions]="{ standalone: true }"
        e2e-checkbox="define-manually"
      >
        {{
          (isGeneralPartners
            ? wording.system.defineGeneralPartnerManually
            : wording.system.defineManagingPartnerManually
          ) | translate
        }}
      </label>
    </div>
    <nv-fieldset *ngIf="form.value.defineManually">
      <div class="fieldset-wrapper">
        <div class="business-partner">
          <span class="label">
            {{ wording.system.businessPartner | translate }}
          </span>
          <nz-radio-group formControlName="isPrivatePerson">
            <label nz-radio [nzValue]="true" e2e-radio="private-person">
              {{ wording.system.privatePerson | translate }}
            </label>
            <label nz-radio [nzValue]="false" e2e-radio="company">
              {{ wording.system.company | translate }}
            </label>
          </nz-radio-group>
        </div>

        <div
          class="private-person-fields"
          *ngIf="form.value.isPrivatePerson; else companyFields"
        >
          <nv-input-wrapper
            [label]="wording.accounting.salutation | translate"
          >
            <!-- TODO: CHANGE -->
            <nz-select
              nzShowSearch
              nzAllowClear
              [nzPlaceHolder]="wording.accounting.chooseSalutation | translate"
              formControlName="salutationId"
            >
              <nz-option
                *ngFor="let salutation of salutations"
                [nzValue]="salutation.id"
                [nzLabel]="salutation.displayLabel | translate"
                nzCustomContent
              >
                <div [attr.e2e-salutation-option]="salutation.labelEn">
                  {{ salutation.displayLabel | translate }}
                </div>
              </nz-option>
            </nz-select>
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.general.firstName | translate">
            <input formControlName="firstName" type="text" nz-input />
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.general.lastName | translate">
            <input formControlName="lastName" type="text" nz-input />
          </nv-input-wrapper>
        </div>
        <ng-template #companyFields>
          <div class="company-fields" nzGutter="10">
            <nv-input-wrapper
              [label]="wording.system.managingPartnersBusinessName | translate"
            >
              <input formControlName="companyName" type="text" nz-input />
            </nv-input-wrapper>
            <nv-input-wrapper
              [label]="wording.accounting.legalForm | translate"
            >
              <nz-select nzAllowClear nzShowSearch formControlName="legalForm">
                <nz-option
                  *ngFor="let legalForm of legalFormOptions"
                  [nzValue]="legalForm.value"
                  [nzLabel]="legalForm.displayLabel | translate"
                  nzCustomContent
                >
                  <div [attr.e2e-legal-form-option]="legalForm.displayLabel.en">
                    {{ legalForm.displayLabel | translate }}
                  </div>
                </nz-option>
              </nz-select>
            </nv-input-wrapper>
            <nv-input-wrapper
              [label]="wording.system.legalFormType | translate"
            >
              <nz-select
                nzAllowClear
                nzShowSearch
                formControlName="legalFormType"
              >
                <nz-option
                  *ngFor="let legalFormType of legalFormTypesOptions"
                  [nzValue]="legalFormType.value"
                  [nzLabel]="legalFormType.displayLabel | translate"
                  nzCustomContent
                >
                  <div
                    [attr.e2e-legal-form-type-option]="
                      legalFormType.displayLabel.en
                    "
                  >
                    {{ legalFormType.displayLabel | translate }}
                  </div>
                </nz-option>
              </nz-select>
            </nv-input-wrapper>
            <div *ngIf="hasCommercialFields">
              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="(isHRA ? wording.system.hra : wording.system.hrb) | translate"
              >
                <input
                  *ngIf="isHRA; else hrb"
                  formControlName="hra"
                  type="text"
                  nz-input
                />
                <ng-template #hrb>
                  <input formControlName="hrb" type="text" nz-input />
                </ng-template>
              </nv-input-wrapper>
              <nv-input-wrapper
                [label]="wording.system.commercialRegisterPlace | translate"
              >
                <input
                  formControlName="commercialRegister"
                  type="text"
                  nz-input
                />
              </nv-input-wrapper>
            </div>
          </div>
        </ng-template>
      </div>
    </nv-fieldset>
  </form>
  <nv-modal-footer>
    <button
      nz-button
      nzType="info"
      (click)="cancel()"
      [disabled]="isRequestPending"
    >
      {{ wording.general.cancel | translate }}
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="submit()"
      [disabled]="!form?.valid || isRequestPending"
    >
      {{ wording.general.save | translate }}
    </button>
  </nv-modal-footer>
</div>
