:host {
  display: block;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  .action-buttons :first-child {
    margin-right: 5px;
  }
}

form {
  padding: 20px 10px;
}

[formControlName="defineManually"] {
  margin: 10px 0;
}

.fieldset-wrapper {
  height: 100%;
  width: 100%;
}

.checkbox-wrapper {
  position: relative;
  cursor: pointer;

  [nz-checkbox]{
    pointer-events: none;
  }

  .cover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}

.business-partner {
  display: flex;
  justify-content: space-between;

  span.label {
    margin-right: 10px;
    white-space: nowrap;
  }

  nz-radio-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
  }
}
