<div class="l-checkbox" (click)="onSelectOption()">
      <div class="selection-area" [ngClass]="option.selected ? 'selected' : ''">
        <lavash-icon [iconClassName]="icon || 'icon-tick'"></lavash-icon>
      </div>
      <div class="selection-value">{{option.value}}</div>
</div>
