<nv-detail-view-actions
  [inEditingMode]="editMode"
  (cancelClicked)="cancelEditing()"
  (editClicked)="enterEditMode()"
  (saveClicked)="submit()"
></nv-detail-view-actions>
<ng-container
  [formGroup]="form"
  *ngIf="form"
>
  <nv-input-wrapper
    [label]="wording.accounting.remarks | translate"
    [redBorderError]="true"
    [showErrMessages]="false"
  >
    <textarea
      [nzAutosize]="{ minRows: 2, maxRows: 4 }"
      nz-input
      formControlName="remarks"
    ></textarea>
  </nv-input-wrapper>
  <nv-input-wrapper
    [label]="wording.general.createdBy | translate"
    [redBorderError]="true"
    [showErrMessages]="false"
  >
    <input
      type="text"
      nz-input
      formControlName="createdByName"
    >
  </nv-input-wrapper>
  <div class="label-wrap">
    <label>
      {{ wording.general.createDate | translate }}
    </label>
  </div>
  <nz-form-control>
    <div class="input-container">
      <input
        [value]="form.get('createdAt').value | currentDateFormat : { withTime: true }"
        type="text"
        nz-input
        disabled
      >
    </div>
  </nz-form-control>
  <nv-input-wrapper
    [label]="wording.general.editedBy | translate"
    [redBorderError]="true"
    [showErrMessages]="false"
  >
    <input
      type="text"
      nz-input
      formControlName="editedByName"
    >
  </nv-input-wrapper>
  <nz-form-item class="form-item">
    <div class="label-wrap">
      <label>
        {{ wording.general.editDate | translate }}
      </label>
    </div>
    <nz-form-control>
      <div class="input-container">
        <input
          [value]="form.get('editedAt').value | currentDateFormat: { withTime: true }"
          type="text"
          nz-input
          disabled
        >
      </div>
    </nz-form-control>
  </nz-form-item>
</ng-container>
