:host {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

:host ::ng-deep {
  .ant-row {
    display: block;
  }
}

.form-item {
  margin-bottom: 0px;
}

.label-wrap>label {
  font-size: 12px;
  color: grey;
  text-align: left;
  padding-left: 2px;
  text-transform: uppercase;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.label-wrap {
  display: flex;
  justify-content: space-between;

  span {
    cursor: pointer;
  }
}

nz-form-control {
  flex-grow: 0;
}

.input-container {
  line-height: initial;
}
