<div class="wrapper">
  <div class="side-tabs">
    <ul
      nz-menu
      nzMode="inline"
      [nzTheme]="theme$ | async"
      [nzInlineCollapsed]="false"
    >
      <li
        *ngFor="let tab of sideTabs$ | async"
        nz-menu-item
        [routerLink]="isTabDisabled(tab) ? undefined : tab.path"
        [nzMatchRouter]="!isTabDisabled(tab) || undefined"
        [nzDisabled]="isTabDisabled(tab)"
        [ngClass]="{'has-icon': showLegalTabExclamationIcon(tab)}"
      >
        <span>
          {{ tab.title | translate }}
          <i
            *ngIf="showLegalTabExclamationIcon(tab)"
            class="exclamation"
            nz-icon
            nzType="exclamation-circle"
            [nzTooltipTitle]="getExclamationTooltip(tab) | translate"
            nz-tooltip
          ></i>
        </span>
      </li>
    </ul>
  </div>

  <div class="form-content">
    <router-outlet></router-outlet>
  </div>
</div>
