:host {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;

  .side-tabs {
    flex: 1;
    ul {
      width: 100%;
      height: 100%;
      overflow: auto;
      overflow-x: hidden;
      overflow-y: auto;
      li.ant-menu-item {
        // using important because the directive is adding inline style on the elem
        padding-left: 10px !important;

        &.ant-menu-item-selected {

          &:not(.has-icon) {
            pointer-events: none;
          }
        }
      }
    }
  }
  .form-content {
    flex: 8;
    padding: 5px 10px;
    overflow: auto;
  }
}
