.user-general {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.user-ifo {
    background: lightblue;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-repos, .user-ifo {
    padding: 10px;
}



.user-repos {
    width: 90%;
    height: 250px;
    margin: 0 auto;
    margin-top: 35px;
}