::ng-deep html[data-theme="dark"] {
  div.grid {
    background: unset !important;
  }
}

:host {
  .grid {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    width: 100%;
    background: #fff;
    nv-fieldset {
      height: 100%;
    }
    .active-tasks {
      display: flex;
      flex-direction: column;
      nv-dashboard-tasks {
        flex: 10;
        .header {
          display: flex;
          justify-content: flex-end;
        }
      }
      .buttons {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }
  .span-col-3 {
    grid-column: span 3 / auto;
  }

  .span-col-9 {
    grid-column: span 9 / auto;
  }

  .span-col-8 {
    grid-column: span 8 / auto;
  }

  .span-col-4 {
    grid-column: span 4 / auto;
  }

  .span-col-5 {
    grid-column: span 5 / auto;
  }

  .span-row-2 {
    grid-row: span 2 / auto;
  }

  &::ng-deep {
    .fc-event-time {
      display: none;
    }
  }
}
