<div class="grid">
  <div class="span-col-4 span-row-2 active-tasks">
    <nv-dashboard-tasks [calendarRange]="calendarRange"></nv-dashboard-tasks>
    <div class="buttons">
      <a
        nz-button
        nzType="primary"
        *ngFor="let button of registrationDashboardButtons"
        [routerLink]="button.routerLink"
      >
        {{ button.label | translate }}
      </a>
    </div>
  </div>
  <div class="span-col-8">
    <nv-fieldset class="calendar" [label]="wording.chartering.calendar | translate">
      <nv-calendar
        #calendar
        [isFourWeekCalendar]="true"
        (calendarRangeChange)="onCalendarRangeChange($event)"
      ></nv-calendar>
    </nv-fieldset>
  </div>
  <div class="span-col-4">
    <nv-fieldset [label]="wording.chartering.todo | translate"> </nv-fieldset>
  </div>
  <div class="span-col-4">
    <nv-fieldset [label]="wording.chartering.statistics | translate">
    </nv-fieldset>
  </div>
</div>
