:host ::ng-deep {
  .nv-title {
    width: 100%;
    display: flex;
    justify-content: space-between;

    p {
      margin-bottom: 0;
    }
  }

  nv-paper-view ::ng-deep {
    & > .nv-paper  > .nv-content {
      width: 100%;

      nv-router-tabs {
        height: 100%;
      }
    }
  }
}
