<!-- Header -->
<nv-detail-view-actions
  header
  [inEditingMode]="editMode"
  (editClicked)="enterEditMode()"
  (cancelClicked)="cancelEditing()"
  (saveClicked)="submit()"
  [form]="form"
  [formElement]="formElement"
></nv-detail-view-actions>

<!-- Content -->
<div class="form-wrap">
  <form
    #formElement
    [formGroup]="form"
    nz-form
    nzLayout="vertical"
    class="padding-mid"
  >
    <div
      nz-col
      nzSpan="12"
    >
      <nv-input-wrapper [label]="wording.accounting.taxKeysLabelCode | translate">
        <input
          formControlName="code"
          type="string"
          nz-input
        />
      </nv-input-wrapper>
      <nv-input-wrapper [label]="wording.general.nameDe | translate">
        <input
          formControlName="labelDe"
          type="text"
          nz-input
        />
      </nv-input-wrapper>
      <nv-input-wrapper [label]="wording.general.nameEn | translate">
        <input
          formControlName="labelEn"
          type="text"
          nz-input
        />
      </nv-input-wrapper>

      <div
        nz-row
        class="percentage-category-container fieldset-row-container"
      >
        <nv-input-wrapper [label]="wording.accounting.taxKeysLabelPercentage | translate">
          <nv-decimal-input
            [decimalPlaces]="2"
            formControlName="percentage"
            [showSeparator]="true"
          >
          </nv-decimal-input>
        </nv-input-wrapper>
        <nv-fieldset [label]="wording.accounting.taxType | translate | uppercase">
          <nz-radio-group formControlName="taxCategory">
            <label
              nz-radio
              [nzDisabled]="form.get('taxCategory').disabled"
              [nzValue]="taxCategories.inputTax"
            >
              {{ wording.accounting.inputTax | translate }}
            </label>
            <label
              nz-radio
              [nzDisabled]="form.get('taxCategory').disabled"
              [nzValue]="taxCategories.valueAddedTax"
            >
              {{ wording.accounting.valueAddedTax | translate }}
            </label>
          </nz-radio-group>
        </nv-fieldset>
      </div>
      <nv-input-wrapper [label]="wording.accounting.taxKeysLabelBookingAccount | translate">
        <nv-autocomplete
          [resource]="bookingAccounts$ | async"
          [properities]="['no', 'label' | labelKey]"
          formControlName="bookingAccountId"
          [modalGridConfig]="gridConfig"
          [title]="wording.accounting.taxKeysLabelBookingAccount"
          [setNullIfNotFound]="true"
        ></nv-autocomplete>
      </nv-input-wrapper>
      <div
        class="calculation-settings-container fieldset-row-container"
        nz-row
      >
        <nv-fieldset [label]="
            wording.accounting.calculationSettings | translate | uppercase
          ">
          <nz-radio-group formControlName="calculationType">
            <label
              nz-radio
              [nzValue]="taxCalculationTypes.include"
              [nzDisabled]="form.get('calculationType').disabled"
            >{{
                wording.accounting.taxKeysLabelCalculationInclude | translate
              }}
            </label>
            <label
              nz-radio
              [nzValue]="taxCalculationTypes.exclude"
            >{{
                wording.accounting.taxKeysLabelCalculationExclude | translate
              }}
            </label>
          </nz-radio-group>
        </nv-fieldset>
        <div class="checkbox-container">
          <label
            nz-checkbox
            formControlName="isActive"
            data-checkbox="isActive"
          >{{ wording.general.active | translate }}
          </label>
          <label
            nz-checkbox
            formControlName="isSystemDefault"
            data-checkbox="isSystemDefault"
          >{{ wording.general.systemDefault | translate }}</label>
        </div>
      </div>
    </div>
  </form>
</div>