:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.paper {
  .header {
    padding: 10px;
    flex-direction: row;
    align-items: center;
  }
}

:host ::ng-deep nv-paper-view {
  height: 100%;
  overflow: auto;
}

:host ::ng-deep .nv-paper {
  overflow-x: hidden;

  .nv-content {
    padding: 0px 10px;

    .form-wrap {
      overflow: auto;
      padding-bottom: 20px;

      form {
        min-width: 800px;
      }
    }
  }
}

:host .fieldset-row-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-bottom: 8px;

  ::ng-deep fieldset {
    padding: 10px;
    margin: 0;

    & > legend {
      font-size: 14px;
    }
  }
}

:host .percentage-category-container {

  ::ng-deep > nv-input-wrapper {
    display: flex;
    align-items: flex-end;
    margin-right: 10px;

    nz-form-item.ant-form-item {
      padding: 0;
    }
  }

  nz-radio-group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    & > label {
      margin: 0;

      &:first-child {
        margin-right: 5px;
      }
    }
  }
}

:host .calculation-settings-container {
  display: flex;
  flex-wrap: nowrap;

  .checkbox-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10px;

    .ant-checkbox-wrapper {
      margin: 0;
      white-space: nowrap;
    }
  }
}

.form-wrap {
  display: flex;
  flex-direction: column;
  height:100%;
  overflow: auto;

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    opacity: 1;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    opacity: 1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #9c9c9c;
    transition: background-color .3s;
  }
}
