<div class="wrap">
  <div *ngFor="let message of messages">
    <nv-text-formatter [text]="message | translate"></nv-text-formatter>
  </div>
  <form [formGroup]="form">
    <nv-input-wrapper
      label=""
    >
      <textarea
        nz-input
        [nzAutosize]="{ minRows: 2, maxRows: 4 }"
        formControlName="text"
      ></textarea>
    </nv-input-wrapper>
  </form>

  <div class="modal-footer">
    <p *ngIf="footerMessage?.en">{{ footerMessage | translate }}</p>
    <div class="action-buttons">
      <button nz-button nzType="info" (click)="cancel()">
        {{ wording.general.cancel | translate }}
      </button>
      <button
        nz-button
        nzType="primary"
        (click)="submit()"
        [disabled]="!form.valid"
      >
        {{ wording.general.delete | translate }}
      </button>
    </div>
  </div>
</div>
