form {
  margin: 10px 0px;
  textarea {
    margin-bottom: 0px;
  }
}
.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin-bottom: 0px;
    margin-right: 10px;
    font-size: 15px;
  }
  .action-buttons :first-child {
    margin-right: 5px;
  }
}
