.headline {
  font-weight: 500;
  font-size: 18px;
  color: #262625cf;
  padding: 0px 4px;
  margin-bottom: 6px;
}

.topics-container {
  padding: 14px;
  overflow: auto;

  .topic-item {
    flex-direction: row;
    cursor: pointer;
    padding-bottom: 8px;
    font-size: 16px;
    color: #525252;

    i {
      height: 14px;
      margin-top: 4px;
      margin-right: 6px;
      color: #d43a42;
    }

    .topic-title {
      color: #525252;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
