<div class="headline" >{{wording.general.bookmarkTopics | translate}}</div>
<div class='topics-container'>
  <div *ngFor="let bookmark of bookmarks$ | async" class='fb topic-item e2e-topic-item'>
    <i
      nz-icon nzType="star"
      nzTheme="fill"
      (click)="removeBookmark(bookmark)"
      [attr.data-topic-bookmark-icon]="bookmark.node.title.en"
    >
    </i>
    <a
      [routerLink]="url(bookmark.node)"
      class='topic-title'
      [attr.data-topic-title]="bookmark.node.title.en"
    >
      {{ bookmark.node.title | translate }}
    </a>
  </div>
</div>
