<div [class.card]="isEditMode">
  <form *ngIf="form"
    [formGroup]="form"
    nz-form
    nzLayout="vertical"
  >
    <div [class.card]="!isEditMode">
      <div class="header-container">
        <div class="color"
          [style.backgroundColor]="color"
        >
          <div
            class="color-picker-container"
            (mouseenter)="handleColorPickerHover(true)"
            (mouseleave)="handleColorPickerHover(false)"
          >
            <color-sketch
              [disableAlpha]="true"
              [color]="color"
              (onChangeComplete)="handleColorChange($event)"
            ></color-sketch>
          </div>
        </div>
        <div class="header-info">
          <div class="title-bar">
            <span class="title">
              <span *ngIf="!isEditMode">
                {{ value?.vesselAccountingName }}
                <span *ngIf="value?.displayLabel && value?.vesselAccountingName">-</span>
              </span>
              {{ (value?.displayLabel || wording.general.create) | translate : true }}
              <ng-container *ngIf="selectedCountryNameWording">
                ({{ selectedCountryNameWording | translate }})
              </ng-container>
            </span>
            <label
                *ngIf="isEditMode"
                nz-checkbox
                formControlName="showEnDe"
              >
              {{ wording.general.enDe | translate }}
            </label>
            <div class="icons" *ngIf="!readonly && !isModal">
              <ng-container *nvAccessControl="ACL_ACTIONS.DELETE">
                <i
                  *ngIf="editable && !isCreateMode && !isModal"
                  nz-icon
                  nzType="delete"
                  nzTheme="outline"
                  (click)="delete.emit(value)"
                ></i>
              </ng-container>
              <i
                *ngIf="value.remark"
                nz-icon
                nzType="info-circle"
                nzTheme="outline"
                nz-tooltip
                nzTooltipPlacement="topCenter"
                [nzTooltipTitle]="value?.remark"
                [disabled]="!value?.remark"
              ></i>
              <span *ngIf="showFoldArrow" class="open-icon-container">
                <i
                  nz-icon
                  nzTheme="outline"
                  [nzType]="isOpened ? 'double-left' : 'double-right'"
                  (click)="setOpenedState(!isOpened)"
                ></i>
              </span>
            </div>
          </div>
          <div class="info" *ngIf="!isEditMode">
            <div class="from-until">
              {{ value?.start | systemDate }} -
              <i *ngIf="!value?.end; else end">open</i>
              <ng-template #end>{{ value?.end | systemDate }}</ng-template>
            </div>
            <div class="checklist-info">
              {{ wording.general.checklistItems | translate }}:
              {{ todos?.length }} / {{ doneTodosCount }}
              {{ wording.general.done | translate }}</div>
          </div>
          <div class="details">
            <span class="remark-short" *ngIf="!isEditMode">{{ value?.remark }}</span>
            <nv-vessel-task-status-picker
              formControlName="status"
            ></nv-vessel-task-status-picker>
          </div>
        </div>
      </div>
    </div>
    <div class="main" [hidden]="!(todos?.length ? isOpened : isEditMode)">
        <div class="main-fields-row">
          <div nz-col class="main-fields-container" *ngIf="isEditMode">
            <div nz-row nzGutter="14">
              <nv-input-wrapper
                *ngIf="showLabelEn"
                nz-col nzSpan="12"
                [label]="wording.general.nameEn | translate"
              >
                <nz-input-group [nzSuffix]="labelWarning">
                  <input
                    (focus)="setFocusState(true)"
                    (blur)="setFocusState(false)"
                    formControlName="labelEn"
                    nz-input
                  />
                </nz-input-group>
                <ng-template #labelWarning>
                  <i
                    *ngIf="showLabelEnWarning"
                    nz-icon
                    nzType="exclamation-circle"
                    nzTheme="outline"
                    nz-tooltip
                    [nzTooltipTitle]="wording.general.taskNotEnabledForChosenLanguage | translate"
                  ></i>
                </ng-template>
              </nv-input-wrapper>
              <nv-input-wrapper
                *ngIf="showLabelDe"
                nz-col nzSpan="12"
                [label]="wording.general.nameDe | translate"
              >
                <nz-input-group [nzSuffix]="labelWarning">
                  <input
                    (focus)="setFocusState(true)"
                    (blur)="setFocusState(false)"
                    formControlName="labelDe"
                    nz-input
                  />
                </nz-input-group>
                <ng-template #labelWarning>
                  <i
                    *ngIf="showLabelDeWarning"
                    nz-icon
                    nzType="exclamation-circle"
                    nzTheme="outline"
                    nz-tooltip
                    [nzTooltipTitle]="wording.general.taskNotEnabledForChosenLanguage | translate"
                  ></i>
                </ng-template>
              </nv-input-wrapper>
            </div>
            <div nz-row>
              <nv-vessel-autocomplete
                *ngIf="vesselsList$"
                nz-col nzSpan="16"
                [form]="form"
                [dataSource$]="vesselsList$"
              >
              </nv-vessel-autocomplete>
            </div>
            <div nz-row>
              <nv-vessel-register-autocomplete
                nz-col nzSpan="16"
                [fetchResource]="false"
                [form]="form"
                [dataSource$]="filteredRegisters$"
              ></nv-vessel-register-autocomplete>
            </div>
            <div nz-row nzGutter="14">
              <nv-input-wrapper
                nz-col nzSpan="12"
                [label]="wording.general.start | translate"
              >
                <nv-datebox
                  (focus)="setFocusState(true)"
                  (blur)="setFocusState(false)"
                  formControlName="start"
                ></nv-datebox>
              </nv-input-wrapper>
              <nv-input-wrapper
                nz-col nzSpan="12"
                [label]="wording.chartering.doneDue | translate"
              >
                <nv-datebox
                  (focus)="setFocusState(true)"
                  (blur)="setFocusState(false)"
                  formControlName="end"
                ></nv-datebox>
              </nv-input-wrapper>
            </div>
            <div nz-row>
              <nv-input-wrapper
                nz-col nzSpan="24"
                [label]="wording.technicalManagement.administratorTab.remarks | translate"
              >
                <textarea
                  (focus)="setFocusState(true)"
                  (blur)="setFocusState(false)"
                  [nzAutosize]="{ minRows: 2, maxRows: 4 }"
                  nz-input
                  formControlName="remark"
                ></textarea>
              </nv-input-wrapper>
            </div>
          </div>
          <div class="template-actions" *ngIf="isEditMode && !readonly">
            <button
              (click)="openTaskTemplateModal()"
              nz-button
              nzType="default"
            >
              <i nz-icon nzType="form" nzTheme="outline"></i>
              {{ wording.general.applyTaskTemplate | translate }}
            </button>
          </div>
        </div>

        <nv-vessel-task-todo-list
          [hidden]="!(todos.length || isEditMode && !readonly)"
          [(value)]="todos"
          (valueChange)="handleTodoListChange()"
          (statusChange)="setValidStatus()"
          (delete)="setValidStatus()"
          (add)="handleTodoAdd($event)"
          (focus)="setFocusState(true)"
          (blur)="setFocusState(false)"
          [disabled]="!isEditMode || readonly"
          [languageType]="languageType"
          [showOppositeLangueIfFieldEmpty]="!editable && !readonly"
        ></nv-vessel-task-todo-list>

        <div nz-row class="use-start-date" *ngIf="isEditMode">
          <nz-radio-group formControlName="useStartDate">
            <label nz-radio [nzValue]="true">
              {{ wording.chartering.showOnStartDate | translate }}
            </label>
            <label nz-radio [nzValue]="false">
              {{ wording.chartering.showOnDoneDueDate | translate }}
            </label>
          </nz-radio-group>
        </div>
    </div>
    <ng-content></ng-content>
    <nv-modal-footer *ngIf="isModal && editable">
      <button
        (click)="modalCancel()"
        nz-button
        nzType="default"
      >
        {{ (readonly ? wording.autocomplete.close : wording.general.cancel) | translate }}
      </button>
      <button
        *ngIf="!readonly"
        (click)="modalSubmit()"
        nz-button
        nzType="primary"
        [disabled]="this.invalid || saveRequestIsSent"
      >
        {{ wording.general.submit | translate }}
      </button>
    </nv-modal-footer>
  </form>
</div>
