$iconSize: 20px;
$borderRadius: 8px;

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: fit-content;
  max-width: 100%;
  overflow: hidden;

  &.stretched {
    width: 100%;

    .card {
      width: 100%;
    }

    &:not(.editable) {
      .main {
        padding-left: 5px;
      }
    }
  }

  &.editable {
    &.opened {
      .card {
        width: 1000px;
      }
    
      .header-container {
        height: 60px;
      }
      .header-info {
        flex-direction: row;
      }
      .title-bar {
        flex: 1;
      }
      .title {
        display: flex;
        font-size: 20px;
        margin-left: 10px;
        align-items: center;
        flex: 1;
      }

      .icons {
        [nz-icon]:last-child {
          margin-right: 30px;
        }
      }

      .color {
        cursor: pointer;
        &:hover {
          .color-picker-container {
            display: flex;

            &:hover {
              display: flex;
            }
          }
        }
      }
    }
  }

  &.invalid {
    .card {
      border-color: #ff5050;
    }
  }

  &.opened {
    [nz-icon][nzType="double-right"] {
      transform: rotate(180deg);
    }
  }

  &:not(.editable) {
    .main {
      margin-top: 0;
      padding-left: 30px;
    }
  }

  &.readonly {
    .color {
      pointer-events: none;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 500px;
  max-width: 100%;
  background: #f5f5f5;
  border: solid 1px #dedede;
  border-radius: $borderRadius;
  overflow: hidden;
  padding: 5px;
  color: #7f7f7f;
}

.header-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.color {
  height: 100%;
  width: 15px;
  background: #b5e61d;
  border-radius: 10px;
  position: relative;

  .color-picker-container {
    padding-top: 60px;
    height: fit-content;
    position: absolute;
    display: none;
    z-index: 10;
    top: 0;
    left: 0;
    width: 200px;
  }
  color-sketch {
    width: 100%;
  }
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-left: 10px;
  width: calc(100% - 15px);
}

.title-bar {
  display: flex;
  justify-content: space-between;

  .title {
    font-weight: bold;
  }
}

.icons {
  font-size: $iconSize;
  padding-left: 10px;
  display: flex;
  flex-wrap: nowrap;

  [nz-icon] {
    cursor: pointer;
    height: fit-content;

    &:not([disabled="true"]):not([nzType="info-circle"]):hover {
      color: #a7a3a3;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }

    &[disabled="true"] {
      cursor: not-allowed;
    }
  }

  [nz-icon][nzType="info-circle"] {
    cursor: help;
  }

  [nz-icon][nzType="delete"] {
    margin-right: 30px;
    margin-top: 1px;
  }
}
.open-icon-container {
  display: inline-flex;
}


// Info
.info {
  display: flex;
  justify-content: space-between;
}
.checklist-info {
  color: #c3c3d4;
}


// Details
.details {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.remark-short {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 400px;
}


nv-vessel-task-status-picker {
  margin-bottom: -2px;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  width: 100%;
}

.main-fields-row {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 3px;
  margin-top: 10px;
  width: 100%;
  min-width: 400px;
  flex: 1;
  overflow: hidden;
}
.main-fields-container {
  width: 500px;
  margin-bottom: 20px;
}
.template-actions {
  flex: 1;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & > button[nz-button] {
    width: fit-content;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.use-start-date {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

// modal view
::ng-deep .vessel-task-modal-class {
  .ant-modal-content {
    border-radius: $borderRadius;
  }
  .ant-modal-body {
    padding: 0;
  }
}

html[data-theme="dark"] :host {
  .card {
    background: #212529;
    border: solid 1px #6b6969;
    color: #ccc6c6;
  }
}


[formControlName="showEnDe"] {
  margin-top: 3px;
  height: fit-content;
  margin-right: 10px;
}

[nz-icon][nzType="exclamation-circle"] {
  color: #c44747;
}
