.charterer-rates-content {
  border: 1px solid #d9d9d9;
  margin: 0px 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;

  .headRow {
    background: #f5f5f5;
    font-weight: 400;
    height: 30px;
    border-bottom: 1px solid #d9d9d9;

    .cell {
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 6px;
    }
  }

  .row {
    &:not(:last-of-type) {
      border-bottom: 1px solid #d9d9d9;
      padding-bottom: 1px;
    }
  }

  .cell {
    &:not(:last-of-type) {
      border-right: 1px solid #d9d9d9;
      padding-right: 1px;
    }
  }
}

.deleteButton {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  cursor: pointer;

  &:hover {
    color: red;
  }
}

:host ::ng-deep .invalid {
  border-radius: 4px;
  background: #ff5050;
  line-height: 100%;
  padding: 2px;

  input {
    border: 0;
  }
}

.add-button {
  margin-left: 10px;
}
