<div class="charterer-rates-content">
  <div class="headRow" nz-row>
    <div class="charterer-rates-col" nz-col nzSpan="11" class="cell">
      {{ wording.chartering.countsFrom | translate }}
    </div>
    <div class="charterer-rates-col" nz-col nzSpan="11" class="cell">
      {{ wording.chartering.charterRate | translate }}
    </div>
    <div nz-col nzSpan="2" class="cell"></div>
  </div>
  <div class="charterer-rates-body">
    <div *ngFor="let r of _chartererRates; let i = index" class="row split-rate-row">
      <div nz-row nzType="flex" nzJustify="left" nzAlign="middle">
        <div
          class="cell"
          nz-col
          nzSpan="11"
          nz-tooltip
          nzTooltipPlacement="topCenter"
          [nzTooltipTitle]="wording.general.theFieldIsRequired | translate"
          [ngClass]="{invalid: (!r.from && r.fromTouched) && inEditMode}"
          [nzOverlayStyle]="{
            minWidth: '100px',
            display: !r.from && r.fromTouched
              ? 'block'
              : 'none'
          }"
        >
          <nv-datebox
            [withTime]="true"
            [dateString]="r.from"
            (valueChange)="onCountsFromChange($event, i)"
            [disabled]="disableFields"
            [inputFieldStyle]="{border: 'none', 'border-radius': '0px'}"
          ></nv-datebox>
        </div>
        <div
          class="cell"
          nz-col
          nzSpan="11"
          nz-tooltip
          nzTooltipPlacement="topCenter"
          [nzTooltipTitle]="getCharterRateErrorMessage(r.charterRateRaw)"
          [ngClass]="{invalid: (
              (r.charterRateRaw === undefined && r.charterRateTouched)
              || r.charterRateRaw < 0
              || r.charterRateRaw > maxCharterRate
            )
            && inEditMode
          }"
          [nzOverlayStyle]="{
            minWidth: '100px',
            display: (r.charterRateRaw === undefined && r.charterRateTouched)
              || r.charterRateRaw < 0
              || r.charterRateRaw > maxCharterRate
                ? 'block'
                : 'none'
          }"
        >
          <nv-decimal-input
            [decimalPlaces]="3"
            [valueAsInput]="r.charterRate"
            [disabledState]="disableFields"
            (valueChangeEvent)="onCharterRateChange($event, i)"
            [inputFieldStyle]="{border: 'none', 'border-radius': '0px'}"
          ></nv-decimal-input>
        </div>
        <div nz-col nzSpan="2"  class="cell">
          <div
            *ngIf="i !== 0 && _chartererRates.length > 1 && !disableFields"
            class="deleteButton"
            (click)="delete(i)"
          >
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <button
    nz-button
    nzType="primary"
    (click)="addNewRow()"
    [disabled]="disableFields || !isListValid()"
    class="add-button"
    type="button"
    *ngIf="showCreateRow && !disableFields"
  >
    {{ wording.general.addNewRow | translate }}
  </button>