:host {
  flex: 1 1 auto;
  display: flex;

  .nv-content {
    overflow: hidden;
  }
  .form-wrap {
    padding: 0.5rem 1rem;
    overflow: auto;
  }
}

.paper {
  .header {
    padding: 10px;
    flex-direction: row;
    align-items: center;
  }

  .content {
    padding: 26px;
  }
}

form {
  min-width: 550px;
}
