
:host {
  padding: 10px;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  ::ng-deep nv-grid {
    max-height: 400px;
  }

  ::ng-deep .ant-row {
    position: static;
  }

  > div {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .form-wrap {
      overflow-x: hidden;
    }
  }
}

form {
  width: 100%;
  display: flex;
}

.reparation-footer {
  margin-top: 10px;
}

.right-aligned-content {
  margin-bottom: 10px;

  .reparation-fixed-checkbox {
    margin-bottom: 3px;

    ::ng-deep {
      .ant-checkbox {
        margin-top: 1px;
      }

      .ant-checkbox-input {
        cursor: pointer !important;
      }

      .ant-checkbox-disabled {
        .ant-checkbox-input {
          z-index: 0;
        }
      }

      span {
        cursor: pointer !important;
        color: gray !important;
      }
      span:not(.ant-checkbox) {
        padding-left: 2px;
      }
    }
  }
}

.invoice-btn {
  height: 45px;
}

.expenses-and-material {
  display: flex;
  flex: 1;
  height: 100%;
}
