<div class="nv-content content">
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>
  <div class="form-wrap">
    <form
      nvSpyElement
      (initialized)="formInitialized($event)"
      [formGroup]="form"
      nz-form
      nzLayout='vertical'
      *ngIf="form"
    >
      <div
        nzGutter="24"
        nz-row
      >
        <div
          nz-col
          nzSpan="12"
        >
          <nv-fieldset [label]="wording.technicalManagement.repair | translate">
            <div
              nz-row
              nzGutter="24"
            >
              <div
                nz-col
                nzSpan="12"
              >
                <nv-input-wrapper [label]="wording.technicalManagement.repairDate | translate">
                  <nv-datebox
                    formControlName="repairDate"
                    [disabledFrom]="dateNowISOString"
                  ></nv-datebox>
                </nv-input-wrapper>

                <div class="right-aligned-content">
                  <div class="form-row-host reparation-fixed">
                    <label
                      nz-checkbox
                      formControlName="isReparationFinished"
                      data-checkbox="isReparationFinished"
                      class="reparation-fixed-checkbox"
                      (click)="checkIfReparationDoneByExist()"
                      [nzDisabled]="true"
                    >
                      {{ wording.technicalManagement.repairFinished | translate }}
                    </label>
                    <input
                      formControlName="reparationFinishedByAndDate"
                      type="text"
                      nz-input
                    />
                  </div>
                </div>
              </div>

              <div
                nz-col
                nzSpan="12"
              >
                <nv-input-wrapper [label]="wording.technicalManagement.repairDoneBy | translate">
                  <nz-select
                    formControlName="reparationDoneBy"
                    nzAllowClear
                    nzShowSearch
                  >
                    <nz-option
                      *ngFor="let option of reparationDoneByOptions"
                      [nzLabel]="option.displayLabel | translate"
                      [nzValue]="option.value"
                      nzCustomContent
                    >
                      <div [attr.data-currency-option]="option.displayLabel.en">
                        {{ option.displayLabel | translate }}
                      </div>
                    </nz-option>
                  </nz-select>
                </nv-input-wrapper>
              </div>

              <nv-input-wrapper
                [label]="wording.technicalManagement.internalRemarks | translate"
                nz-col
                nzSpan="24"
              >
                <textarea
                  rows="3"
                  nz-input
                  formControlName="internalRemark"
                ></textarea>
              </nv-input-wrapper>
            </div>
          </nv-fieldset>

          <nv-fieldset [label]="wording.technicalManagement.documents | translate">
            <nv-upload-documents
              [inEditingMode$]="inEditMode$"
              [(documents)]="documents"
              (documentsChange)="onDocumentsChange($event)"
            ></nv-upload-documents>
          </nv-fieldset>
        </div>

        <div
          nz-col
          nzSpan="12"
        >
          <nv-fieldset
            [label]="wording.technicalManagement.expensesAndMaterial | translate"
            class="expenses-and-material"
          >
            <div>
              <nv-grid
                #repairItemsGrid
                [gridConfig]="repairItemsGridConfig"
                [dataSource$]="repairItems$"
              >
                <ng-template
                  nvEditColumnTemplate
                  columnName="pricePerUnit"
                  let-data
                >
                  <ng-container [formGroup]="data.form">
                    <nv-update-on-jump
                      type="number"
                      [model]="data.cell"
                      [formControlName]="data.column.key"
                      [maxIntegerDigits]="12"
                      [saveValueAfterBlur]="true"
                      (tab)="data.externalEmitter.emit($event)"
                      (enter)="data.externalEmitter.emit($event)"
                      (escape)="data.externalEmitter.emit($event)"
                      (blur)="data.externalEmitter.emit($event)"
                    ></nv-update-on-jump>
                  </ng-container>
                </ng-template>
              </nv-grid>
            </div>

            <div
              nz-row
              nzGutter="24"
              nzType="flex"
              nzJustify="space-around"
              nzAlign="middle"
              class="reparation-footer"
            >
              <nv-input-wrapper
                nz-col
                nzSpan="8"
                [label]="wording.technicalManagement.amount | translate"
              >
                <nv-decimal-input
                  [decimalPlaces]="2"
                  formControlName="amount"
                  [showSeparator]="true"
                >
                </nv-decimal-input>
              </nv-input-wrapper>

              <nv-input-wrapper
                nz-col
                nzSpan="8"
                [label]="wording.accounting.currency | translate"
              >
                <nv-autocomplete
                  [resource]="currencies$ | async"
                  [properities]="['isoCode', 'label' | labelKey]"
                  formControlName="currencyId"
                  [modalGridConfig]="currencyGridConfig"
                  [setNullIfNotFound]="true"
                ></nv-autocomplete>
              </nv-input-wrapper>

              <nv-mandator-autocomplete
                [form]="form"
                [filters]="{ isActive: true }"
                [label]="wording.technicalManagement.mandator"
                nz-col
                nzSpan="8"
              >
              </nv-mandator-autocomplete>

              <div
                nz-col
                nzSpan="8"
              >
                <button
                  nz-button
                  class="ant-btn ant-btn-default ant-btn-lg invoice-btn"
                  (click)="printInvoice()"
                >
                  <i
                    nz-icon
                    nzType="plus-circle"
                    nzTheme="outline"
                  ></i>
                  {{ wording.technicalManagement.createInvoice | translate }}
                </button>
              </div>

              <nv-input-wrapper
                nz-col
                nzSpan="8"
                [label]="wording.technicalManagement.invoiceNoSeparated | translate"
              >
                <input
                  formControlName="invoiceNo"
                  type="text"
                  nz-input
                >
              </nv-input-wrapper>

              <nv-input-wrapper
                nz-col
                nzSpan="8"
                [label]="wording.technicalManagement.dateOfInvoice | translate"
              >
                <nv-datebox
                  formControlName="invoiceDate"
                  [disabledFrom]="dateNowISOString"
                ></nv-datebox>
              </nv-input-wrapper>
            </div>
          </nv-fieldset>
        </div>
      </div>
    </form>
  </div>
</div>