<div class="nv-paper">
  <div class="nv-content">
    <nz-table [nzTemplateMode]="true">
      <tbody>
        <tr>
          <td>{{ wording.general.tag | translate }}</td>
          <td class="copy-val" (click)="copy(version.tag)">
            <span
              nz-tooltip
              [nzTooltipMouseEnterDelay]="0.5"
              [nzTooltipTitle]="wording.general.copyToClipboard | translate"
            >
              {{ version.tag }}
            </span>
          </td>
        </tr>
        <tr *ngFor="let commit of version.commits">
          <td class="copy-val" (click)="copy(commit.hash)">
            <span
              nz-tooltip
              [nzMouseEnterDelay]="0.5"
              [nzTooltipTitle]="wording.general.copyToClipboard | translate"
            >
              {{ commit.hash }}
            </span>
          </td>
          <td>{{ commit.msg }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
