<div class="header-container">
  <ng-content></ng-content>
  <label
    nz-checkbox
    data-checkbox="show-done-tasks"
    [(ngModel)]="showDoneTasksValue"
  >
    {{ wording.chartering.showDoneTasks | translate }}
  </label>
  <nz-button-group *ngIf="!hideActionsButtons">
    <ng-container *ngIf="isEditable; else editActions">
      <button
        nz-button
        nzType="default"
        class="btn cancel"
        (click)="cancelEditing()"
        data-crud-action-button="cancel"
        [nzTooltipTitle]="wording.general.cancel | translate"
        nz-tooltip
      >
        <i nz-icon nzType="close"></i>
      </button>
      <button
        nz-button
        nzType="primary"
        class="btn"
        (click)="submit();"
        [disabled]="saveDisabled"
        data-crud-action-button="save"
        [nzTooltipTitle]="wording.general.save | translate"
        nz-tooltip
      >
        <i nz-icon nzType="save"></i>
      </button>
    </ng-container>
    <ng-template #editActions>
      <button
        *nvAccessControl="ACL_ACTIONS.UPDATE"
        nz-button
        nzType="primary"
        (click)="enterEditMode()"
        [disabled]="editDisabled"
        data-crud-action-button="edit"
        [nzTooltipTitle]="wording.general.edit | translate"
        nz-tooltip
      >
        <i *ngIf="!largeButtons" nz-icon nzType="edit"></i>
      </button>
      <button
        *nvAccessControl="ACL_ACTIONS.CREATE"
        nz-button
        nzType="default"
        (click)="openDetailViewModal()"
        data-crud-action-button="add"
        [nzTooltipTitle]="wording.general.add | translate"
        nz-tooltip
      >
        <i nz-icon nzType="plus-circle"></i>
      </button>
    </ng-template>
  </nz-button-group>
</div>
<div
  cdkDropList
  (cdkDropListDropped)="dropHandler($event)"
  class="cards-container"
  dropAutoScrollContainer=".cards-container"
>
  <nv-vessel-task
    #taskElem
    *ngFor="let item of value; let i = index; trackBy: identify"
    [hidden]="!showDoneTasksValue && item.status === statusEnum.Done && !taskElem.isEditMode"
    [(value)]="value[i]"
    (valueChange)="valueChange.emit(value)"
    ngDefaultControl
    [editable]="isEditable"
    [stretchFully]="stretchTasksFully"
    [disableVesselField]="disableVesselField"
    (delete)="handleDelete(i, item)"
    (open)="handleOpen(taskElem)"
    [fetchResources]="fetchResourcesInEachTask"
    cdkDrag
    cdkDragLockAxis="y"
    (cdkDragStarted)="dragStartHandler(taskElem)"
    [cdkDragDisabled]="!isEditable
      || taskElem.hasFocusedInput
      || value.length <= 1
      || taskElem.isColorPickerOpened"
  >
    <div
      *cdkDragPlaceholder
      class="custom-placeholder"
      [class.open]="taskElem.opened"
    ></div>
  </nv-vessel-task>
</div>