@import 'src/app/core/styles/_mixins';
$borderRadius: 8px;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  overflow: hidden;

  &[context="dashboard"] {
    .header-container {
      justify-content: flex-end;
      align-items: center;

      [nz-checkbox] {
        height: fit-content;
        margin-right: 10px;
      }
    }
    .cards-container {
      padding: 0;
      padding-right: 5px;
    }
  }
}

.header-container {
  display: flex;
  margin-bottom: 10px;
}

.cards-container {
  flex: 1;
  padding: 20px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  @include setScrollBar();

  &.cdk-drop-list-dragging nv-vessel-task:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: $borderRadius;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.custom-placeholder {
  border-radius: $borderRadius;
  background: #ccc;
  border: dotted 3px #999;
  height: 95px;
  width: 500px;
  max-width: 100%;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

  &.opened {
    width: 800px;
    min-height: 370px;
  }
}

nv-vessel-task {
  margin: 10px 0;
}

nz-button-group button {
  width: 40px;
}
