@import '../../../assets/less/_vars';

:host ::ng-deep {
  .l-img-container {
    .info {
      position: absolute;
      top: 17px;
      right: 60px;
      width: 100%;
      text-align: right;
    }
  }


  .l-img-slider-container {
    .l-arrows {
      width: 160px;
      right: -80px;
      transform: rotate(90deg);
    }

    .l-arrow-icon {
      button {
        padding: 15px;
        background: rgba(250,250,250,.1);
      }

      i {
        font-size: 4rem;
      }

      &.l-right {
        right: 30px;
        bottom: 0;
      }
    }
  }

  @media all and (max-width: @mobile) {

    .l-img-container {
      .info {
        top: calc(100vh - 150px);
        right: 5px;
      }
    }

  }
}


