<div class="login-box"  >
  <form [formGroup]="form">
    <div class="form-group">
      <div class="form-row-host">
        <nv-input-wrapper [label]="'Email'" [labelCol]="24" [requiredSymbol]="false" [inputCol]="24" [formItemCol]="21">
          <input formControlName="emailMe" type="text" nz-input>
        </nv-input-wrapper>
      </div>
      <div class="form-row-host">
        <nv-input-wrapper [label]="'Password'" [labelCol]="24" [requiredSymbol]="false" [inputCol]="24" [formItemCol]="21">
          <input formControlName="passwordMe" type="password" nz-input>
        </nv-input-wrapper>
      </div>
    </div>
    <div>
    </div>
  </form>
</div>
