<div class="backoffice-app-container">
  <div class="sidebar-container" [ngClass]="{ 'expanded open-mobile': sidebar.isExpanded }">
    <me-sidebar [dataModel]="sidebar" (eventOccurs)="sidebarEvents($event)" (toggleSideBar)="toggleSidebar()"></me-sidebar>
  </div>
  <div class="inner-app-container" [ngClass]="{ 'sidebar-expanded': sidebar.isExpanded }">
    <div class="backoffice-container">
      <div class="backoffice-content">
        <me-breadcrumb [dataModel]="breadcrumb" (goToHome)="goToHome()"></me-breadcrumb>
        <div class="content-container box-sizing-border-box" [meComponentLoading]="isLoading">
          <router-outlet></router-outlet>
        </div>
        <!-- <ng-template #popupImportData>
          <me-data-import (sendFormData)="handleSendFormData($event)"></me-data-import>
        </ng-template> -->
      </div>
      <!-- <div class="right-sidebar">
        <me-new-right-sidebar></me-new-right-sidebar>
      </div> -->
    </div>
  </div>
</div>