<nv-detail-view-actions
  [inEditingMode]="editMode"
  (editClicked)="enterEditMode()"
  (cancelClicked)="cancelEditing()"
  (saveClicked)="submit()"
></nv-detail-view-actions>

<div class="form-wrap" *ngIf="!!(legalEntityHelperService.legalForm$ | async)">
  <form [formGroup]="form" nz-form nzLayout="vertical" class="padding-mid">
    <div nz-row nzGutter="26">
      <div nz-col nzSpan="14">
        <nv-fieldset [label]="wording.system.commercialRegister | translate">
          <p
            *ngIf="businessNameHasError && isInShareholdingsLegalEntity"
            class="error"
          >
            {{ wording.general.theFieldIsRequired | translate }}
          </p>

          <nv-legal-entity-business-names
            *ngIf="isInShareholdingsLegalEntity"
            [editable]="editMode"
            [businessNamesCtrl]="businessNamesCtrl"
            (businessNameAdd)="onBusinessNameAdd($event)"
            (businessNameDelete)="onBusinessNameDelete($event)"
          >
          </nv-legal-entity-business-names>

          <nv-grid
            *ngIf="isFieldAvailable('partners')"
            class="mini-grid"
            [gridConfig]="partnersGridConfig"
            [dataSource$]="partnersSubject$"
          >
          </nv-grid>

          <div nz-row nzGutter="14">
            <div nz-col nzSpan="12" *ngIf="isFieldAvailable('hra')">
              <nv-input-wrapper [label]="wording.system.hra | translate">
                <input formControlName="hra" type="number" nz-input />
              </nv-input-wrapper>
            </div>
            <div nz-col nzSpan="12" *ngIf="isFieldAvailable('hrb')">
              <nv-input-wrapper [label]="wording.system.hrb | translate">
                <input formControlName="hrb" type="number" nz-input />
              </nv-input-wrapper>
            </div>
            <div nz-col nzSpan="12" *ngIf="isFieldAvailable('companyNumber')">
              <nv-input-wrapper
                [label]="wording.system.companyNumber | translate"
              >
                <input formControlName="companyNumber" type="text" nz-input />
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="12"
              *ngIf="isFieldAvailable('commercialRegister')"
            >
              <nv-input-wrapper
                [label]="wording.system.commercialRegisterPlace | translate"
              >
                <input
                  formControlName="commercialRegister"
                  type="text"
                  nz-input
                />
              </nv-input-wrapper>
            </div>
          </div>

          <div nz-row nzGutter="14">
            <div nz-col nzSpan="12" *ngIf="isFieldAvailable('dateOfEntry')">
              <nv-input-wrapper
                class="date-picker"
                [label]="wording.system.dateOfEntry | translate"
              >
                <nv-datebox formControlName="dateOfEntry"> </nv-datebox>
              </nv-input-wrapper>
            </div>
            <div nz-col nzSpan="12">
              <div nz-row nzGutter="14">
                <div
                  nz-col
                  nzSpan="18"
                  *ngIf="isFieldAvailable('sumOfContributions')"
                >
                  <nv-input-wrapper
                    [label]="wording.system.sumOfContributions | translate"
                    [showErrMessages]="false"
                  >
                    <nv-decimal-input
                      formControlName="sumOfContributions"
                      [decimalPlaces]="2"
                    >
                    </nv-decimal-input>
                  </nv-input-wrapper>
                </div>
                <div
                  nz-col
                  nzSpan="18"
                  *ngIf="isFieldAvailable('sumOfContributions_v2')"
                >
                  <nv-input-wrapper
                    [label]="wording.system.sumOfContributions_v2 | translate"
                    [showErrMessages]="false"
                  >
                    <nv-decimal-input
                      formControlName="sumOfContributions"
                      [decimalPlaces]="2"
                    >
                    </nv-decimal-input>
                  </nv-input-wrapper>
                </div>
                <div
                  nz-col
                  nzSpan="18"
                  *ngIf="isFieldAvailable('shareCapital')"
                >
                  <nv-input-wrapper
                    [label]="wording.system.shareCapital | translate"
                    [showErrMessages]="false"
                  >
                    <nv-decimal-input
                      formControlName="shareCapital"
                      [decimalPlaces]="2"
                    >
                    </nv-decimal-input>
                  </nv-input-wrapper>
                </div>
                <div
                  nz-col
                  nzSpan="18"
                  *ngIf="isFieldAvailable('shareCapital_v2')"
                >
                  <nv-input-wrapper
                    [label]="wording.system.shareCapital_v2 | translate"
                    [showErrMessages]="false"
                  >
                    <nv-decimal-input
                      formControlName="shareCapital"
                      [decimalPlaces]="2"
                    >
                    </nv-decimal-input>
                  </nv-input-wrapper>
                </div>
                <div
                  nz-col
                  nzSpan="18"
                  *ngIf="isFieldAvailable('shareCapital_v3')"
                >
                  <nv-input-wrapper
                    [label]="wording.system.shareCapital_v3 | translate"
                    [showErrMessages]="false"
                  >
                    <nv-decimal-input
                      formControlName="shareCapital"
                      [decimalPlaces]="2"
                    >
                    </nv-decimal-input>
                  </nv-input-wrapper>
                </div>

                <div nz-col nzSpan="6" *ngIf="isFieldAvailable('currencyId')">
                  <nv-input-wrapper
                    className="iso-code"
                    [showErrMessages]="false"
                    [label]="wording.system.currency | translate"
                  >
                    <nv-autocomplete
                      [resource]="currencies$ | async"
                      [properities]="['isoCode']"
                      formControlName="currencyId"
                      [modalGridConfig]="gridConfig"
                      [title]="wording.accounting.isoCode"
                      [setNullIfNotFound]="false"
                    >
                    </nv-autocomplete>
                  </nv-input-wrapper>
                </div>
              </div>
            </div>

            <div nz-col nzSpan="12" *ngIf="isFieldAvailable('capitalType')">
              <label>
                {{ wording.system.stockType | translate }}
              </label>
              <br />
              <div nz-col nzSpan="12">
                <nz-radio-group formControlName="capitalType">
                  <label
                    nz-radio
                    [nzDisabled]="form.get('capitalType').disabled"
                    [nzValue]="capitalType.ParValueShare"
                  >
                    {{ wording.system.parValueShare | translate }}
                  </label>
                  <br />
                  <label
                    nz-radio
                    [nzDisabled]="form.get('capitalType').disabled"
                    [nzValue]="capitalType.NonParValueShare"
                  >
                    {{ wording.system.nonParValueShare | translate }}
                  </label>
                </nz-radio-group>
              </div>
            </div>
            <div
              nz-col
              nzSpan="12"
              *ngIf="
                form.controls.capitalType.value ===
                  capitalType.NonParValueShare &&
                isFieldAvailable('sumOfNonParValueShares')
              "
            >
              <nv-input-wrapper
                [label]="wording.system.sumOfNonParValueShares | translate"
              >
                <input
                  formControlName="sumOfNonParValueShares"
                  type="number"
                  nz-input
                />
              </nv-input-wrapper>
            </div>
          </div>
        </nv-fieldset>
      </div>
      <div nz-col nzSpan="10" class="trustor-sub-part-wrap">
        <nv-fieldset
          [label]="
            (isFieldAvailable('subParticipant') &&
              wording.system.trustorSubParticipantSilentPartner) ||
              wording.system.trustor | translate
          "
        >
          <div *ngIf="isFieldAvailable('trustor')">
            <label
              [nzChecked]="hasTrusteeContribution"
              nz-checkbox
              [nzDisabled]="true"
              data-checkbox="trustor"
            >
              {{ wording.system.trustor | translate }}
            </label>
          </div>
          <div *ngIf="isFieldAvailable('subParticipant')">
            <label
              [nzChecked]="hasSubParticipantContribution"
              nz-checkbox
              [nzDisabled]="true"
              data-checkbox="subParticipant"
            >
              {{ wording.system.subParticipant | translate }}
            </label>
          </div>
          <div *ngIf="isFieldAvailable('silentPartner')">
            <label
              nz-checkbox
              [nzDisabled]="true"
              [nzChecked]="hasAnySilentPartner"
              data-checkbox="silentPartner"
            >
              {{ wording.system.silentPartner | translate }}
            </label>
          </div>
        </nv-fieldset>

        <nv-fieldset [label]="wording.general.status | translate">
          <div *ngIf="isFieldAvailable('isPreliminaryInsolvencyProceeding')">
            <label
              nz-checkbox
              formControlName="isPreliminaryInsolvencyProceeding"
              data-checkbox="isPreliminaryInsolvencyProceeding"
            >
              {{ wording.system.preliminaryInsolvencyProceedings | translate }}
            </label>
            <div
              nz-row
              nzGutter="14"
              *ngIf="form.value.isPreliminaryInsolvencyProceeding"
            >
              <div nz-col nzSpan="11" nzOffset="1">
                <nv-input-wrapper
                  class="date-picker"
                  [label]="wording.system.start | translate"
                >
                  <nv-datebox
                    formControlName="preliminaryInsolvencyProceedingStartDate"
                  >
                  </nv-datebox>
                </nv-input-wrapper>
              </div>

              <div nz-col nzSpan="12">
                <nv-input-wrapper
                  [label]="
                    wording.system.preliminaryInsolvencyAdministrator
                      | translate
                  "
                >
                  <input
                    formControlName="preliminaryInsolvencyAdministrator"
                    type="text"
                    nz-input
                  />
                </nv-input-wrapper>
              </div>
            </div>
          </div>
          <div *ngIf="isFieldAvailable('isInsolvencyProceeding')">
            <label
              nz-checkbox
              formControlName="isInsolvencyProceeding"
              data-checkbox="isInsolvencyProceeding"
            >
              {{ wording.system.insolvencyProceedings | translate }}
            </label>
            <div nz-row nzGutter="14" *ngIf="form.value.isInsolvencyProceeding">
              <div nz-col nzSpan="11" nzOffset="1">
                <nv-input-wrapper
                  class="date-picker"
                  [label]="wording.system.start | translate"
                >
                  <nv-datebox formControlName="insolvencyProceedingStartDate">
                  </nv-datebox>
                </nv-input-wrapper>
              </div>
            </div>
          </div>
          <div *ngIf="isFieldAvailable('isInLiquidation')">
            <label
              nz-checkbox
              formControlName="isInLiquidation"
              data-checkbox="isInLiquidation"
            >
              {{ wording.system.inLiquidation | translate }}
            </label>
            <div nz-row nzGutter="14" *ngIf="form.value.isInLiquidation">
              <div nz-col nzSpan="11" nzOffset="1">
                <nv-input-wrapper
                  class="date-picker"
                  [label]="wording.system.start | translate"
                >
                  <nv-datebox formControlName="liquidationStartDate">
                  </nv-datebox>
                </nv-input-wrapper>
              </div>

              <div nz-col nzSpan="12">
                <nv-input-wrapper
                  [label]="wording.system.liquidator | translate"
                >
                  <input formControlName="liquidator" type="text" nz-input />
                </nv-input-wrapper>
              </div>
            </div>
          </div>
          <div *ngIf="isFieldAvailable('isDeleted')">
            <label
              nz-checkbox
              formControlName="isDeleted"
              data-checkbox="isDeleted"
            >
              {{ wording.system.deleted | translate }}
            </label>
            <div nz-row nzGutter="14" *ngIf="form.value.isDeleted">
              <div nz-col nzSpan="11" nzOffset="1">
                <nv-input-wrapper
                  class="date-picker"
                  [label]="wording.general.date | translate"
                >
                  <nv-datebox formControlName="deletedStartDate"> </nv-datebox>
                </nv-input-wrapper>
              </div>
            </div>
          </div>
          <div *ngIf="isFieldAvailable('isSold')">
            <label nz-checkbox formControlName="isSold" data-checkbox="isSold">
              {{ wording.system.sold | translate }}
            </label>
            <div nz-row nzGutter="14" *ngIf="form.value.isSold">
              <div nz-col nzSpan="11" nzOffset="1">
                <nv-input-wrapper
                  class="date-picker"
                  [label]="wording.general.date | translate"
                >
                  <nv-datebox formControlName="soldStartDate"> </nv-datebox>
                </nv-input-wrapper>
              </div>

              <div nz-col nzSpan="12">
                <nv-input-wrapper [label]="wording.system.buyer | translate">
                  <input formControlName="buyer" type="text" nz-input />
                </nv-input-wrapper>
              </div>
            </div>
          </div>
        </nv-fieldset>
      </div>
    </div>

    <div nz-row nzGutter="26">
      <div nz-col nzSpan="7">
        <nv-fieldset
          [label]="wording.system.classification | translate"
          class="classification"
        >
          <div class="content-wrap">
            <nv-input-wrapper
              [label]="wording.system.groupOfCompany | translate"
              *ngIf="isFieldAvailable('companyGroup')"
            >
              <nz-select
                formControlName="groupOfCompanyId"
                nzShowSearch
                nzAllowClear
              >
                <nz-option
                  *ngFor="let option of companyGroups$ | async"
                  [nzLabel]="option.displayLabel | translate"
                  [nzValue]="option.id"
                  nzCustomContent
                >
                  <div [attr.company-group-option]="option.labelEn">
                    {{ option.displayLabel | translate }}
                  </div>
                </nz-option>
              </nz-select>
            </nv-input-wrapper>
            <div class="checkboxes">
              <div *ngIf="isFieldAvailable('isShellCompany')">
                <label
                  nz-checkbox
                  formControlName="isShellCompany"
                  data-checkbox="isShellCompany"
                >
                  {{ wording.system.shellCompany | translate }}
                </label>
              </div>
              <div *ngIf="isFieldAvailable('isDormantCompany')">
                <label
                  nz-checkbox
                  formControlName="isDormantCompany"
                  data-checkbox="isDormantCompany"
                >
                  {{ wording.system.dormantCompany | translate }}
                </label>
              </div>

              <div *ngIf="isFieldAvailable('isUnitaryLimitedPartnership')">
                <label
                  nz-checkbox
                  formControlName="isUnitaryLimitedPartnership"
                  data-checkbox="isUnitaryLimitedPartnership"
                >
                  {{ wording.system.unitaryLimitedPartnership | translate }}
                </label>
              </div>
            </div>
          </div>
        </nv-fieldset>
      </div>
      <div nz-col nzSpan="7" *ngIf="isFieldAvailable('remark')">
        <nv-fieldset [label]="wording.system.remark | translate">
          <textarea
            [nzAutosize]="{ minRows: 6, maxRows: 4 }"
            nz-input
            formControlName="remark"
          ></textarea>
        </nv-fieldset>
      </div>
      <div nz-col nzSpan="10" class="change-of-legal-form-wrap">
        <nv-fieldset [label]="wording.system.changeOfLegalForm | translate">
          <div class="content-wrap">
            <div class="row">
              <nv-company-autocomplete
                [form]="form"
                controlName="formerCompanyId"
                [label]="wording.system.formerCompany"
                [showErrMessages]="true"
              >
              </nv-company-autocomplete>

              <a
                nz-button
                [disabled]="!form.get('formerCompanyId').value"
                [routerLink]="
                  countryPath + '/' + form.get('formerCompanyId').value
                "
                target="_blank"
              >
                <i nz-icon nzType="right"></i>
                <span>{{ wording.general.showCompany | translate }}</span>
              </a>
            </div>
            <div class="row">
              <nv-company-autocomplete
                [form]="form"
                controlName="subSequentCompanyId"
                [label]="wording.system.subsequentCompany"
                [showErrMessages]="true"
              >
              </nv-company-autocomplete>

              <a
                nz-button
                [disabled]="!form.get('subSequentCompanyId').value"
                [routerLink]="
                  countryPath + '/' + form.get('subSequentCompanyId').value
                "
                target="_blank"
              >
                <i nz-icon nzType="right"></i>
                <span>{{ wording.general.showCompany | translate }}</span>
              </a>
            </div>
          </div>
        </nv-fieldset>
      </div>
    </div>
  </form>
</div>
