:host {
  overflow: auto;
  display: flex;
  flex-direction: column;

  .form-wrap {
    display: flex;

    form {
      display: flex;
      flex-direction: column;
      flex: 1;

      .trustor-sub-part-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        nv-fieldset {
          flex: 1;
        }
      }
      .change-of-legal-form-wrap {
        display: flex;
        nv-fieldset {
          flex: 1;
        }
        .row {
          display: flex;
          align-items: center;
          nv-company-autocomplete {
            margin-right: 7px;
            flex: 1;
          }
          a {
            &:focus {
              border-color: #d9d9d9 !important;
              outline-color: transparent !important;
              color: rgba(0, 0, 0, 0.65) !important;
            }
            margin-left: 4px;
            margin-top: 12px;
          }
        }
      }

      > div {
        width: 100%;

        ::ng-deep nv-grid.mini-grid {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;
          box-shadow: none;
          padding: 0;
          border-radius: 0;

          nv-grid-toolbar {
            width: fit-content;
            height: fit-content;

            nv-toolbar .nv-toolbar {
              height: fit-content;
              min-height: auto;
            }

            ::ng-deep button {
              display: flex;
              align-items: center;
              height: 28px;
            }
          }

          .grid-wrapper {
            width: fit-content;
          }

          // 'No data available' text
          .grid-body-container > p {
            padding: 0 5px;
          }
        }
      }
    }
  }
}

nv-legal-entity-business-names {
  margin-bottom: 10px;
}

.error {
  max-width: 325px;
  color: #c44747;
  padding-left: 5px;
}

.classification {
  height: 100%;
  .content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .checkboxes {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
}
