<ng-container>
  <nv-grid
    [gridConfig]="bankAccountGridConfig"
    [dataSource$]="dataSource$"
    (gridConfigChangedOnSave)="gridConfigService.update($event)"
  >
    <ng-template
      nvColumnTemplate
      columnName="bic"
      let-cell
    >
      <div class="bic">{{cell}}</div>
    </ng-template>
  </nv-grid>
</ng-container>
