:host {
  display: block;
  height: 100%;
}


:host ::ng-deep .grid-cell {
  .bic {
    background: lightgrey;
  }
}

html[data-theme="dark"] :host ::ng-deep .grid-cell  {
  .bic {
    background: #721515;
  }
}
