<div
  class="master-structures"
  [ngClass]="{
    'only-update': canUpdate && !canCreate && !canDelete && !editMode,
    'only-create': !canUpdate && canCreate && !canDelete && !editMode,
    'create-missing': canUpdate && !canCreate && canDelete && !editMode,
    'delete-missing': canUpdate && canCreate && !canDelete && !editMode,
    'only-read': canRead && !canCreate && !canDelete && !canUpdate && !editMode,
    'full-access': canCreate && canUpdate && canDelete && !editMode
  }"
>
  <nv-paper-view
    [customTitle]="
      (wording.accounting.masterStructures | translate)
      + (currentStructure ?  (' - ' + currentStructure.fullTitle) : '')
    "
    [tooltip]="true"
  >
    <nv-detail-view-actions
      header
      [inEditingMode]="editMode"
      (editClicked)="enterEditMode()"
      (cancelClicked)="cancelEditing()"
      (saveClicked)="submit()"
      [showSaveAndCancel]="!canUpdate && canCreate && editMode"
      [editDisabled]="structures.length === 0 || !currentStructure"
      [form]="form"
      [formElement]="formElement"
    ></nv-detail-view-actions>

    <div
      class="additional-buttons"
      [ngClass]="{'update-missing': !canUpdate}"
    >
      <ng-container *nvAccessControl="ACL_ACTIONS.CREATE">
        <button
          nz-button
          nzType="danger"
          (click)="enterCreationMode()"
          class="add-btn"
          data-crud-action-button="add"
          [nzTooltipTitle]="wording.general.add | translate"
          nz-tooltip
          *ngIf="!editMode"
        >
          <i
            nz-icon
            nzType="plus-circle"
          ></i>
        </button>
      </ng-container>

      <ng-container *nvAccessControl="ACL_ACTIONS.DELETE">
        <button
          nz-button
          nzType="danger"
          class="delete-btn"
          (click)="delete()"
          data-crud-action-button="delete"
          [nzTooltipTitle]="wording.general.delete | translate"
          nz-tooltip
          *ngIf="!editMode"
          [disabled]="!currentStructure"
        >
          <i
            nz-icon
            nzType="delete"
          ></i>
        </button>
      </ng-container>
      <button
        nz-button
        nzType="danger"
        class="copy-btn"
        (click)="copy()"
        data-crud-action-button="delete"
        [nzTooltipTitle]="wording.general.copyToClipboard | translate"
        nz-tooltip
        *ngIf="!editMode"
        [disabled]="!currentStructure || currentStructure && !currentStructure.isActive"
      >
        <i
          nz-icon
          nzType="copy"
        ></i>
      </button>
    </div>

    <div class="download-buttons">
      <button
        class="excel-download nv-no-focus-primary"
        nz-button
        nzType="default"
        (click)="download(downloadModal, 'excel')"
        [disabled]="!currentStructure || editMode"
        nz-tooltip
        [nzTooltipTitle]="wording.general.downloadAsExcel | translate"
      >
        <i
          nz-icon
          nzType="download"
          nzTheme="outline"
        ></i>
        {{ wording.general.excel | translate }}
      </button>

      <button
        class="pdf-download nv-no-focus-primary"
        nz-button
        nzType="default"
        (click)="download(downloadModal, 'pdf')"
        [disabled]="!currentStructure || editMode"
        nz-tooltip
        [nzTooltipTitle]="wording.general.downloadAsPdf | translate"
      >
        <i
          nz-icon
          nzType="download"
          nzTheme="outline"
        ></i>
        {{ wording.general.pdf | translate }}
      </button>
    </div>

    <div class="sections-wrap">
      <div class="left-section">
        <nv-fieldset [label]="wording.accounting.structures | translate">
          <div class="leftbar-content">
            <nz-radio-group
              [(ngModel)]="selectedLanguage"
              (ngModelChange)="onLanguageChange($event)"
            >
              <label
                nz-radio
                [nzValue]="Language.EN"
                class="flag-icon-label"
              >
                <img
                  src="assets/icons/flags/en.ico"
                  class="flag-icon"
                >
              </label>
              <label
                nz-radio
                [nzValue]="Language.DE"
                class="flag-icon-label"
              >
                <img
                  src="assets/icons/flags/de.ico"
                  class="flag-icon"
                >
              </label>
            </nz-radio-group>

            <div class="structures-content">
              <div
                class="search-structures"
                *ngIf="!editMode"
              >
                <nz-input-group [nzSuffix]="suffixTemplate">
                  <input
                    type="text"
                    nz-input
                    [placeholder]="wording.accounting.structures | translate"
                    [(ngModel)]="searchValue"
                    (input)="onSearch()"
                    [disabled]="editMode"
                  />
                </nz-input-group>
                <ng-template #suffixTemplate>
                  <i
                    nz-icon
                    nzType="search"
                  ></i>
                </ng-template>
              </div>

              <div class="structures">
                <p
                  class="no-results"
                  *ngIf="structures.length === 0"
                >
                  {{ wording.general.noResults | translate }}
                </p>

                <nz-radio-group
                  [(ngModel)]="currentStructureId"
                  (ngModelChange)="onStructureChange($event)"
                  class="structures-list"
                  *ngIf="!editMode"
                >
                  <label
                    *ngFor="let structure of structures"
                    nz-radio
                    [nzValue]="structure.id"
                    [nzDisabled]="
                      (editMode && structure.id !== currentStructureId)
                      || creationMode
                    "
                  >
                    <span
                      nz-tooltip
                      nzTooltipPlacement="bottomLeft"
                      [nzTooltipTitle]="structure.fullTitle"
                    >
                      {{ structure.titleWithoutStructureType }}
                    </span>
                    <i
                      *ngIf="structure.unusedBookingAccounts.length > 0"
                      nz-icon
                      nzType="info-circle"
                      nzTheme="outline"
                      class="inactive-structure"
                      nz-tooltip
                      nzTooltipPlacement="topCenter"
                      [nzTooltipTitle]="wording.accounting
                        .theAccountAssignmentIsIncomplete | translate
                      "
                    ></i>
                  </label>
                </nz-radio-group>

                <ng-container *ngIf="editMode">
                  <form
                    [formGroup]="form"
                    nz-form
                    nzLayout="vertical"
                  >
                    <nv-input-wrapper
                      [label]="wording.accounting.structureTitle | translate"
                      [showErrMessages]="true"
                    >
                      <input
                        type="text"
                        nz-input
                        formControlName="name"
                        #structureNameField
                      />
                    </nv-input-wrapper>

                    <label class="type-of-structures">
                      {{ wording.accounting.typeOfStructure | translate }}
                    </label>
                    <nz-radio-group
                      [(ngModel)]="currentStructure.masterStructureType"
                      [ngModelOptions]="{standalone: true}"
                      class="form-el"
                      (ngModelChange)="onStructureTypeChange($event)"
                    >
                      <label
                        *ngFor="let structureType of masterStructureTypeOptions"
                        nz-radio
                        [nzValue]="structureType.value"
                        data-radio="structureType.label.en"
                      >
                        {{ structureType.displayLabel | translate }}
                      </label>
                    </nz-radio-group>

                    <label>{{ wording.accounting.accountingNorm | translate }}</label>
                    <nz-radio-group
                      [(ngModel)]="currentStructure.accountingType"
                      class="form-el"
                      [ngModelOptions]="{standalone: true}"
                      (ngModelChange)="onAccountingNormChange($event)"
                    >
                      <label
                        *ngFor="let accountingType of accountingTypeOptions"
                        nz-radio
                        [nzValue]="accountingType.value"
                        data-radio="accountingType.label.en"
                        (ngModelChange)="onStructureTypeChange($event)"
                      >
                        {{ accountingType.displayLabel | translate }}
                      </label>
                    </nz-radio-group>

                    <label
                      nz-checkbox
                      formControlName="isActive"
                      class="form-el"
                      nz-tooltip
                      nzTooltipPlacement="topCenter"
                      [nzTooltipTitle]="wording.accounting
                        .theStructureIsIncomplete | translate"
                      [nzOverlayStyle]="{
                        display: isInActiveTooltipVisible ? 'block' : 'none'
                      }"
                    >
                      {{ wording.accounting.active | translate }}
                    </label>
                  </form>
                </ng-container>
              </div>
            </div>
          </div>
        </nv-fieldset>
      </div>

      <div
        class="nodes"
        *ngIf="structures.length > 0 || creationMode"
      >
        <nv-master-structure-nodes
          [structure]="currentStructure"
          [selectedLanguage]="selectedLanguage"
          (nodeChange)="onNodeChange($event)"
          [editMode]="editMode"
          #nodes
        >
        </nv-master-structure-nodes>
      </div>
    </div>
  </nv-paper-view>
</div>

<ng-template #downloadModal>
  <div class="download-modal">
    <p *ngIf="!currentStructure.isActive">
      {{ wording.accounting.downloadWithAssignedAccounts | translate }}
    </p>
    <nz-radio-group [(ngModel)]="exportWithAccounts">
      <label
        nz-radio
        [nzValue]="true"
      >
        {{ wording.general.yes | translate }}
      </label>
      <label
        nz-radio
        [nzValue]="false"
      >
        {{ wording.general.no | translate }}
      </label>
    </nz-radio-group>

    <div class="download-modal-buttons">
      <button
        nz-button
        nzType="danger"
        (click)="closeDownloadModal()"
      >
        {{ wording.general.cancel | translate }}
      </button>
      <button
        class="start-download"
        nz-button
        nzType="primary"
        (click)="startDownloading()"
      >
        {{ wording.general.download | translate }}
      </button>
    </div>
  </div>
</ng-template>