:host ::ng-deep .sections-wrap {
  display: flex;
  flex: 1;

  nv-fieldset {
    display: flex;
    flex: 1;

    fieldset {
      flex: 1;
      overflow-y: auto;
      height: calc(100vh - 237px);
      padding: 10px !important;
    }
  }

  .left-section {
    overflow: auto;
    width: 500px;

    fieldset {
      overflow-y: hidden;
      height: calc(100vh - 225px);
    }

    .leftbar-content {
      overflow-y: auto;
      height: calc(100vh - 290px);
      overflow-y: auto;
      padding: 0 10px;
    }

    .ant-list {
      &.ant-list-split {
        overflow: auto;
        max-height: 27rem;
      }
    }
    grid-column: span 4 / auto;
    @media screen and (max-width: 1024px) {
      grid-column: span 6 / auto;
    }
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  nz-radio-group {
    display: block;

    label {
      display: block;
    }
  }

  .nodes {
    width: calc(100% - 510px);
    align-items: stretch;
    display: flex;
  }

  .structures-content {
    .structures {
      margin-top: 15px;

      .type-of-structures {
        margin-top: 15px;
        display: flex;
      }

      .form-el {
        margin-bottom: 15px;
      }

      .structures-list {
        display: block;
        max-height: 170px;
        overflow-y: auto;
        height: auto;
        padding: 10px;

        label {
          display: flex;
          align-items: center;
        }
      }
    }

    .search-structures {
      nz-input-group {
        border-bottom: 1px solid #ccc;
      }
    }
  }

  .flag-icon {
    width: 40px;
    height: 40px;
  }
}

:host ::ng-deep .nv-content {
  overflow: hidden;
}

.additional-buttons {
  position: absolute;
  top: 18px;
  display: flex;
  cursor: pointer;
  align-items: center;
  left: 100px;
  justify-content: space-between;

  button {
    width: 40px;
    color: #c44747;
    border: 1px solid #C44947;
    margin-right: 5px;
  }

  .delete-btn[disabled], .copy-btn[disabled] {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
  }
}

.update-missing {
  left: 55px;
}

.master-structures {
  max-width: 100%;
  width: 100%;
}

:host ::ng-deep .only-update {
  .nv-title {
    margin-left: 140px !important;
  }
}

:host ::ng-deep .only-create {
  .nv-title {
    margin-left: 145px !important;
  }
}

:host ::ng-deep .create-missing {
  .nv-title {
    margin-left: 190px !important;
  }
}

:host ::ng-deep .delete-missing {
  .nv-title {
    margin-left: 190px !important;
  }
}

:host ::ng-deep .full-access {
  .nv-title {
    margin-left: 235px !important;
  }
}

:host ::ng-deep .only-read {
  .nv-title {
    margin-left: 90px !important;
  }
}

:host ::ng-deep .nv-title {
  margin-right: 355px;
}

.no-results {
  text-align: center;
}

.download-buttons {
  position: absolute;
  top: 14px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;

  button {
    border-radius: 7px;
    cursor: pointer;
    height: 40px;
  }

  .excel-download[disabled], .pdf-download[disabled] {
    color: #aba9a9;
    cursor: not-allowed;
  }
}

.pdf-download {
  margin-right: 10px;
}

.inactive-structure{
  color: #C44947;
}

.download-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .start-download {
    width: fit-content;
    padding: 0px 20px;
    margin-left: 15px;
  }

  .download-modal-buttons {
    margin-top: 20px;
    flex-direction: row;
    display: flex;
  }
}
