<nv-paper-view
  [customTitle]="
    creationMode ? (wording.general.create | translate) : (title$ | async)
  "
  [routeBack]="routeBackUrl && routeBack"
>
  <!-- Header -->
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <!-- Content -->
  <div class="form-wrap">
    <form
      nvSpyElement
      (initialized)="formInitialized($event)"
      [formGroup]="form"
      nz-form
      nzLayout="vertical"
      *ngIf="form"
    >
      <nv-input-wrapper [label]="wording.general.nameDe | translate">
        <input
          formControlName="labelDe"
          type="text"
          nz-input
        />
      </nv-input-wrapper>
      <nv-input-wrapper [label]="wording.general.nameEn | translate">
        <input
          formControlName="labelEn"
          type="text"
          nz-input
        />
      </nv-input-wrapper>
      <nv-input-wrapper [label]="wording.technicalManagement.articleNoAbbreviation | translate">
        <input
          nz-input
          formControlName="abbreviation"
          type="text"
        />
      </nv-input-wrapper>
      <div class="form-row-host">
        <label
          nz-checkbox
          formControlName="isSystemDefault"
        >
          {{ wording.general.systemDefault | translate }}
        </label>
      </div>
      <div class="form-row-host">
        <label
          nz-checkbox
          formControlName="isActive"
        >
          {{ wording.general.active | translate }}
        </label>
      </div>
    </form>
  </div>
</nv-paper-view>