:host {
  width: 100%;
  min-width: 340px;
  height: 140px;

  display: flex;
  position: relative;

  .profile {
    max-width: calc(100% - 40px);
    margin: 20px 30px 20px 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .image-container {
      flex-shrink: 0;
      height: 100px;
      width: 100px;
      border-radius: 30px;
      margin-right: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        width: 90%;
        height: 90%;
      }
    }

    .info {
      display: flex;
      flex: 1 1;
      align-self: center;
      flex-direction: column;
      max-width: calc(100% - 120px);

      .title {
        font-weight: 600;
        font-size: 1.14em;
        color: var(--color-main-darker, #282a3c);
      }

      .subtitle {
        font-weight: 700;
        font-size: 0.79em;
        color: var(--color-main-dark, #646464);
        margin-bottom: 15px;
      }

      .status {
        display: flex;

        .description {
          color: var(--color-main-light);
        }
      }
    }
  }

  .menu {
    position: absolute;
    top: 10px;
    right: 2px;
  }
}
