<div class="profile">
  <ng-container *ngIf="dataModel.thumbnail; else iconTemplate">
    <div class="image-container" [ngStyle]="{ 'background-image': 'url(' + (dataModel.thumbnail || '') + ')' }"></div>
  </ng-container>
  <ng-template #iconTemplate>
    <div class="image-container">
      <me-icons class="icon" [name]="dataModel.icon || ''"></me-icons>
    </div>
  </ng-template>

  <div class="info">
    <me-ellipsis-row class="title" [text]="dataModel.title"></me-ellipsis-row>
    <me-ellipsis-row class="subtitle" [text]="dataModel.subtitle"></me-ellipsis-row>
    <div class="status">
      <ng-container *ngIf="dataModel.label; else elseTemplate">
        <me-label [dataModel]="dataModel.label">
          <span content>{{ dataModel.description }}</span>
        </me-label>
      </ng-container>
      <ng-template #elseTemplate>
        <div class="description">{{ dataModel.description }}</div>
      </ng-template>
    </div>
  </div>
</div>
<me-context-menu
  class="menu"
  [dataModel]="dataModel.contextMenu"
  (itemClick)="customEvent('infoCardContextMenuClick', $event)"
></me-context-menu>
