<div (click)="openSearchModal()">
  <i
    nz-icon
    nzType="search"
    class="component-icon"
  ></i>
</div>

<ng-template #searchModal>
  <nv-topic-search-content
    (navigationHappened)="navigatedFromTopicSearch()"
  ></nv-topic-search-content>
</ng-template>