:host {
  cursor: pointer;
}

.component-icon {
  font-size: 25px;
  color: #fff;
}

::ng-deep {
  .topic-search-modal {
    .ant-modal-body {
      padding: 24px 35px;
    }
    nv-topic-search-content nz-input-group {
      border: none;
    }
  }
}
