<div class="stepper-container">
  <mat-horizontal-stepper linear #stepper class="user-select-none" (selectionChange)="markFormAsTouched($event); addButtonToBreadcrumb()">
    <ng-template matStepperIcon="edit">
      <i-feather name="check" class="step-label-heading-completed icon"></i-feather>
    </ng-template>

    <mat-step #stepOne *ngIf="materialInfoAttributeForm && materialInfoAttributeItemMap" [stepControl]="materialInfoAttributeForm">
      <form [formGroup]="materialInfoAttributeForm">
        <ng-template matStepLabel>
          <div class="click-holder" (click)="checkStepBeforeSwitch(0)"></div>
          <span
            [ngClass]="{
              'step-label-heading': true,
              bold: true,
              'step-label-heading-active': stepper.selected === stepOne,
              'step-label-heading-completed': stepOne.completed && stepper.selected !== stepOne
            }"
          >
            {{ i18nStrings.materialInfo }}</span
          >

          <span class="step-label-subheading">{{ i18nStrings.materialGeneralInfo }}</span>
        </ng-template>

        <div class="step-content box-sizing-border-box">
          <h1 class="step-content-label bold">{{ i18nStrings.materialInfo }}</h1>

          <div class="attribute-group-container">
            <div class="thumbnail-container">
              <me-upload-image [uploadImageData]="uploadImageData" (returnImageFormData)="handleImageFormData($event)"></me-upload-image>
            </div>

            <div class="group-container">
              <div class="row-container">
                <me-attribute
                  *ngIf="materialTypeAttributeItem"
                  [attributeItem]="materialTypeAttributeItem"
                  [attWidth]="'50%'"
                ></me-attribute>
              </div>

              <div *ngFor="let row of generalInfoLayoutGroups[0].rows" class="row-container" [attr.data-row]="row.rowIndex">
                <ng-container *ngFor="let rowAttribute of row.attributes">
                  <me-attribute
                    [attributeItem]="materialInfoAttributeItemMap.get(rowAttribute.internalName)"
                    [attWidth]="rowAttribute.width"
                    [attr.data-row]="rowAttribute.row"
                    [attr.data-column]="rowAttribute.column"
                  ></me-attribute>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="button-section single box-sizing-border-box">
            <me-button [dataModel]="buttonNext.data" (clickEvent)="stepper.next(); checkIfThumbnailIsSet(); checkStepBeforeSwitch(1)">
              {{ buttonNext.label }} <i-feather name="arrow-right"></i-feather>
            </me-button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step #stepTwo *ngIf="generalAttributesForm && generalAttributeItemMap" [stepControl]="generalAttributesForm">
      <form [formGroup]="generalAttributesForm">
        <ng-template matStepLabel>
          <div class="click-holder" (click)="checkIfThumbnailIsSet(); checkStepBeforeSwitch(1)"></div>
          <span
            [ngClass]="{
              'step-label-heading': true,
              bold: true,
              'step-label-heading-active': stepper.selected === stepTwo,
              'step-label-heading-completed': stepTwo.completed && stepper.selected !== stepTwo
            }"
          >
            {{ i18nStrings.materialAttributes }}</span
          >

          <span class="step-label-subheading">{{ i18nStrings.materialAttributesSubheading }}</span>
        </ng-template>

        <div class="step-content">
          <h1 class="step-content-label bold">{{ i18nStrings.materialAttributes }}</h1>

          <div class="attribute-group-container column">
            <div *ngFor="let group of generalAttributeLayoutGroups" class="group-container">
              <div class="group-label bold">{{ group.displayName }}</div>

              <div *ngFor="let row of group.rows" class="row-container" [attr.data-row]="row.rowIndex">
                <ng-container *ngFor="let rowAttribute of row.attributes">
                  <me-attribute
                    [attributeItem]="generalAttributeItemMap.get(rowAttribute.internalName)"
                    [attWidth]="rowAttribute.width"
                    [attr.data-row]="rowAttribute.row"
                    [attr.data-column]="rowAttribute.column"
                  ></me-attribute>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="button-section">
            <me-button [dataModel]="buttonBack.data" (clickEvent)="stepper.previous()">
              <i-feather name="arrow-left"></i-feather> {{ buttonBack.label }}
            </me-button>

            <me-button
              *ngIf="!materialPropertiesAttributeForm"
              [dataModel]="buttonSubmit.data"
              (clickEvent)="handleMaterial(generalAttributesForm)"
            >
              {{ buttonSubmit.label }}
            </me-button>
            <me-button
              *ngIf="materialPropertiesAttributeForm"
              [dataModel]="buttonNext.data"
              (clickEvent)="stepper.next(); checkStepBeforeSwitch(2)"
              >{{ buttonNext.label }}<i-feather name="arrow-right"></i-feather>
            </me-button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step
      #stepThree
      *ngIf="materialPropertiesAttributeForm && materialPropertiesAttributeItemMap"
      [stepControl]="materialPropertiesAttributeForm"
    >
      <form [formGroup]="materialPropertiesAttributeForm">
        <ng-template matStepLabel>
          <div class="click-holder" (click)="checkIfThumbnailIsSet(); checkStepBeforeSwitch(2)"></div>
          <span
            [ngClass]="{
              'step-label-heading': true,
              bold: true,
              'step-label-heading-active': stepper.selected === stepThree,
              'step-label-heading-completed': stepThree.completed && stepper.selected !== stepThree
            }"
          >
            {{ i18nStrings.materialProperties }}</span
          >

          <span class="step-label-subheading">{{ i18nStrings.materialPropertiesSubheading }}</span>
        </ng-template>

        <div class="step-content">
          <h1 class="step-content-label bold">{{ i18nStrings.materialSpecificAttributes }}</h1>

          <div class="attribute-group-container column">
            <div *ngFor="let group of extendedLayoutGroups" class="group-container">
              <div class="group-label bold">{{ group.displayName }}</div>

              <div *ngFor="let row of group.rows" class="row-container" [attr.data-row]="row.rowIndex">
                <ng-container *ngFor="let rowAttribute of row.attributes">
                  <me-attribute
                    [attributeItem]="materialPropertiesAttributeItemMap.get(rowAttribute.internalName)"
                    [attWidth]="rowAttribute.width"
                    [attr.data-row]="rowAttribute.row"
                    [attr.data-column]="rowAttribute.column"
                  ></me-attribute>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="button-section">
            <me-button [dataModel]="buttonBack.data" (clickEvent)="stepper.previous()">
              <i-feather name="arrow-left"></i-feather>{{ buttonBack.label }}
            </me-button>
            <me-button
              [dataModel]="buttonSubmit.data"
              (clickEvent)="handleMaterial(materialPropertiesAttributeForm); stepper.next(); checkStepBeforeSwitch(3)"
              >{{ buttonSubmit.label }}
            </me-button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step #stepFour *ngIf="material && documentsStepEnabled && documentsForm" [stepControl]="documentsForm">
      <form [formGroup]="documentsForm">
        <ng-template matStepLabel>
          <div class="click-holder"></div>
          <span
            [ngClass]="{
              'step-label-heading': true,
              bold: true,
              'step-label-heading-active': stepper.selected === stepFour,
              'step-label-heading-completed': stepFour.completed && stepper.selected !== stepFour
            }"
          >
            {{ i18nStrings.manageDocuments }}</span
          >

          <span class="step-label-subheading">{{ i18nStrings.addSupportingAssets }}</span>
        </ng-template>

        <div class="step-content">
          <h1 class="step-content-label bold">{{ i18nStrings.manageDocuments }}</h1>
          <ng-container *ngIf="addedDocumentCardItems.length > 0 || areDocumentsLoading || documentsIsSearchTab; else noDocumentsTemplate">
            <me-search-bar
              *ngIf="searchBarDataMaterialDocuments"
              [dataModel]="searchBarDataMaterialDocuments"
              (searchInput)="handleSearchInputEventMaterialDocuments($event)"
              (sortBy)="handleSortByEventMaterialDocuments($event)"
              class="searchbar"
            ></me-search-bar>
            <div class="document-grid box-sizing-border-box">
              <me-document-card
                *ngFor="let document of addedDocumentCardItems; let index = index; trackBy: getDocumentOid"
                [dataModel]="document"
                (eventOccurs)="removeDocument($event, document.oid)"
              ></me-document-card>
            </div>
            <div *ngIf="addedDocumentCardItems.length === 0">0 RESULTS</div>
          </ng-container>
          <ng-template #noDocumentsTemplate>
            <div>
              <me-empty-content [dataModel]="emptyContent" (clicked)="handleAddButtonClick()"> </me-empty-content>
            </div>
          </ng-template>
          <div class="button-section">
            <me-button [dataModel]="buttonBack.data" (clickEvent)="stepper.previous()">
              <i-feather name="arrow-left"></i-feather>{{ buttonBack.label }}
            </me-button>
            <me-button [dataModel]="buttonFinish.data" (clickEvent)="openMaterial()">
              {{ buttonFinish.label }}<i-feather name="arrow-right"></i-feather>
            </me-button>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<ng-template #popupDocumentGrid>
  <div
    class="document-container-wrapper box-sizing-border-box"
    [meComponentLoading]="areDocumentsLoading"
    *ngIf="documentCardItems.length !== 0 || areDocumentsLoading || documentsIsSearch; else noDocumentsTemplate"
  >
    <div class="header-container" [class.header-disabled]="isShowSelectedActive">
      <me-search-bar
        [dataModel]="documentsSearchBar"
        (searchInput)="handleDocumentsSearch($event)"
        (sortBy)="documentsHandleSortByEvent($event)"
      >
      </me-search-bar>
    </div>

    <div meScrollToBottom (bottomReached)="documentsBottomReachedHandler()" class="document-container box-sizing-border-box">
      <div
        class="document-grid box-sizing-border-box"
        *ngIf="documentCardItems.length !== 0 || areDocumentsLoading; else zeroDocumentsTemplate"
      >
        <me-document-card
          *ngFor="let cardItem of documentCardItems; let cardIndex = index; trackBy: getDocumentOid"
          [dataModel]="cardItem"
          (click)="toggleCardItemSelection(cardItem.oid, cardIndex)"
          (eventOccurs)="dcumentCardCustomEvent($event.eventName, $event.payload, cardItem)"
        ></me-document-card>
      </div>
      <ng-template #zeroDocumentsTemplate> THERE ARE NO DOCUMENTS </ng-template>
    </div>
  </div>
  <ng-template #noDocumentsTemplate>
    <me-empty-content class="empty-container" [dataModel]="doocumentsEmptyContent" (clicked)="goToCreateDocument()"> </me-empty-content>
  </ng-template>
</ng-template>

<ng-template #addButton>
  {{ i18nStrings.add }}
  <i-feather name="plus"></i-feather>
</ng-template>
