<div>
  <button
    nz-button
    nzType="default"
    nzSize="large"
    class="nv-no-focus"
    (click)="openContributionsModal()"
  >
    <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
    {{ wording.general.add | translate }}
  </button>
</div>
<nv-fieldset [label]="sectionTitleWording | translate">
  <div class="fieldset-wrapper">
    <form [formGroup]="form" nz-form nzLayout="vertical" *ngIf="form">
      <div nz-row class="fields-wrapper">
        <nv-input-wrapper
          [label]="wording.general.date | translate"
          nz-col
          class="date"
        >
        <nv-datebox
          [propagateInvalidDate]="true"
          [withTime]="false"
          formControlName="date"
        ></nv-datebox>
        </nv-input-wrapper>
        <div class="checkbox-wrapper">
          <label nz-checkbox formControlName="showHistoricalData">
            {{ wording.system.showHistoricalData | translate }}
          </label>
        </div>
      </div>
    </form>
    <div class="grids-container">
      <nv-grid
        *ngIf="resultData && resultGridConfig"
        [gridConfig]="resultGridConfig"
        [dataSource]="resultData"
      ></nv-grid>
      <nz-divider
        nzOrientation="left"
        [hidden]="!form?.value.showHistoricalData"
        [nzText]="wording.system.history | translate"
      ></nz-divider>
      <nv-grid
        *ngIf="historyData && historyGridConfig"
        [hidden]="!form?.value.showHistoricalData"
        [gridConfig]="historyGridConfig"
        [dataSource]="historyData"
      ></nv-grid>
    </div>
  </div>
</nv-fieldset>
