<div
  *ngIf="editMode"
  class="overlay delete-widget-btn e2e-delete-widget-btn"
>
  <button
    nz-button
    nzType="default"
    (click)="removeWidget(widget.id)"
  >
    <i
      nz-icon
      nzType="delete"
    ></i>
  </button>
</div>
<nv-clock
  *ngIf="widget.type === widgetType.Clock"
  [widget]="widget"
>
</nv-clock>
<nv-weather
  *ngIf="widget.type === widgetType.Weather"
  [widget]="widget"
>
</nv-weather>
<nv-bookmark *ngIf="widget.type === widgetType.Bookmark"></nv-bookmark>
<nv-todo-widget *ngIf="widget.type === widgetType.Todo"></nv-todo-widget>
<nv-currency *ngIf="widget.type === widgetType.Currency"></nv-currency>
