<nv-interval-list
  [intervalItems]="registers"
  [selectedId]="selectedRegister && selectedRegister.id"
  [disabled]="inEditMode"
  [withCreateOption]="authService.canCreate(zone)"
  [creationMode]="inCreationMode"
  (select)="intervalClicked($event)"
  (create)="addIntervalClicked()"
  [withTime]="false"
>
</nv-interval-list>
<div class="intervalDetails">
  <div class="actionBar">
    <nv-detail-view-actions
      *ngIf="selectedRegister"
      [inEditingMode]="inEditMode"
      [editDisabled]="!selectedRegister?.id"
      (editClicked)="enterEditMode()"
      (cancelClicked)="cancelEditing()"
      (saveClicked)="saveClicked()"
      [form]="form"
      [formElement]="formElement"
    >
    </nv-detail-view-actions>
  </div>
  <div
    class="form-wrapper"
    *ngIf="form"
  >
    <form
      nvSpyElement
      (initialized)="formInitialized($event)"
      [formGroup]="form"
      class="form-wrapper"
      nz-form
      nzLayout="vertical"
    >
      <div
        nz-row
        nzGutter="12"
        class="period-from-until top-date-range"
      >
        <nv-input-wrapper
          class="period-from"
          [label]="wording.chartering.periodFromUntil | translate"
        >
          <nv-datebox formControlName="from"></nv-datebox>
        </nv-input-wrapper>

        <nv-input-wrapper
          [label]="wording.general.until | translate"
          class="no-label"
        >
          <nv-datebox formControlName="until"></nv-datebox>
        </nv-input-wrapper>
      </div>

      <div
        nz-row
        nzGutter="24"
      >
        <div
          nz-col
          nzSpan="12"
        >
          <nv-fieldset [label]="wording.chartering.primaryRegister | translate">
            <nv-country-autocomplete
              [form]="form"
              controlName="primaryCountryId"
              [filters]="primaryCountryFilter"
              [label]="form.get('primaryCountryId').value
                ? wording.chartering.register
                : wording.chartering.registerAndFlag
              "
              [withFlag]="true"
            >
            </nv-country-autocomplete>

            <nv-input-wrapper [label]="wording.chartering.portOfRegistry | translate">
              <nv-autocomplete
                [resource]="ports"
                [modalGridConfig]="portsGridConfig"
                [properities]="['shortName', 'countryIsoAlpha3']"
                formControlName="primaryPortId"
                [autofocus]="false"
                [setNullIfNotFound]="true"
              >
              </nv-autocomplete>
            </nv-input-wrapper>

            <nv-input-wrapper [label]="wording.chartering.callSign | translate">
              <input
                formControlName="primaryCallSign"
                type="text"
                nz-input
              >
            </nv-input-wrapper>

            <ng-container *ngIf="isPrimaryGermany">
              <nv-input-wrapper [label]="wording.chartering.ssr | translate">
                <input
                  formControlName="ssrNo"
                  type="number"
                  nz-input
                >
              </nv-input-wrapper>

              <nv-input-wrapper [label]="wording.chartering.registerCourt | translate">
                <input
                  formControlName="registerCourt"
                  type="text"
                  nz-input
                >
              </nv-input-wrapper>
            </ng-container>

            <nv-company-autocomplete
              [form]="form"
              controlName="primaryCompanyId"
              [title]="wording.general.company | translate"
            >
            </nv-company-autocomplete>
          </nv-fieldset>
        </div>

        <div
          nz-col
          nzSpan="12"
          *ngIf="form.get('primaryCountryId').value"
        >
          <nv-fieldset [label]="wording.chartering.secondaryRegister | translate">
            <nv-country-autocomplete
              [form]="form"
              controlName="secondaryCountryId"
              [filters]="secondaryCountryFilter"
              [label]="wording.chartering.registerAndFlag"
              [withFlag]="true"
            >
            </nv-country-autocomplete>

            <nv-input-wrapper [label]="wording.chartering.portOfRegistry | translate">
              <nv-autocomplete
                [resource]="ports"
                [modalGridConfig]="portsGridConfig"
                [properities]="['shortName', 'countryIsoAlpha3']"
                formControlName="secondaryPortId"
                [autofocus]="false"
                [setNullIfNotFound]="true"
              >
              </nv-autocomplete>
            </nv-input-wrapper>

            <nv-input-wrapper [label]="wording.chartering.callSign | translate">
              <input
                formControlName="secondaryCallSign"
                type="text"
                nz-input
              >
            </nv-input-wrapper>

            <ng-container *ngIf="isSecondaryGermany">
              <nv-input-wrapper [label]="wording.chartering.ssr | translate">
                <input
                  formControlName="ssrNo"
                  type="number"
                  nz-input
                >
              </nv-input-wrapper>

              <nv-input-wrapper [label]="wording.chartering.registerCourt | translate">
                <input
                  formControlName="registerCourt"
                  type="text"
                  nz-input
                >
              </nv-input-wrapper>
            </ng-container>

            <nv-company-autocomplete
              [form]="form"
              controlName="secondaryCompanyId"
              [title]="wording.general.company | translate"
            >
            </nv-company-autocomplete>
          </nv-fieldset>
        </div>

        <div
          *ngIf="showClientRemarkFieldset"
          nz-col
          nzSpan="12"
          class="client-remark-fieldset"
        >
          <nv-fieldset>
            <nv-input-wrapper [label]="wording.chartering.client | translate">
              <input
                type="text"
                formControlName="client"
                nz-input
              />
            </nv-input-wrapper>
            <nv-input-wrapper [label]="wording.system.remarks | translate">
              <textarea
                [nzAutosize]="{ minRows: 4, maxRows: 8 }"
                nz-input
                formControlName="remarks"
              ></textarea>
            </nv-input-wrapper>
          </nv-fieldset>
        </div>
        <div
          nz-col
          nzSpan="24"
          class="registration-type"
        >
          <div nz-row class="registration-type-gutter">
            <div nzSpan="12">
              <div class="title">
                {{ wording.chartering.typeOfRegistration | translate }}
              </div>   
              <nz-radio-group
                formControlName="type"
                nzName="radiogroup"
              >
                <label
                  nz-radio
                  [nzValue]="RegistrationTypes.Bareboat"
                >
                  {{ wording.chartering.bareboat | translate }}
                </label>
                <label
                  nz-radio
                  [nzValue]="RegistrationTypes.Permanent"
                >
                  {{ wording.chartering.permanent | translate }}
                </label>
              </nz-radio-group>
            </div>
  
            <div nzSpan="12" class="is-training">
              <div
                nz-row
                class="checkboxes-wrap"
              >
                <label
                  nz-checkbox
                  formControlName="isTraining"
                  data-checkbox="training"
                >
                  {{ wording.chartering.training | translate }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>