:host {
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &::ng-deep {
    .registration-type {
      margin-top: 10px;

      label {
        display: block;
      }
    }
  }
}

.section {
  border-top: 1px solid #e8e8e8;
  padding-top: 16px;
  margin-top: 6px;
}

.intervalDetails {
  min-width: min-content;
  min-height: min-content;
  padding: 12px;
  margin-left: 6px;
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  width: 100%;

  .actionBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .delete-button {
      margin-right: 4px;
    }
  }

  .form-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: calc(100vh - 260px);
    
    form {
      padding: 10px 13px;
      overflow: auto;
      width: 100%;
    }
  }
}

.period-from-until {
  display: flex !important;
}

.top-date-range .period-from {
  margin-right: 10px;
}

.checkboxes-wrap {
  display: flex;
  flex-direction: column;
  label {
    margin-left: 8px;
    margin-bottom: 15px;
  }
}

.is-training {
  margin-top: 22px;
  margin-left: 10px;
}

.registration-type-gutter {
  margin: 0 !important;
}

.client-remark-fieldset {
  margin-top: 12px;
}