<div class="check-up-form">
  <h2>{{formTitle}}</h2>
  <lavash-form-builder [fieldsConfig]="fieldsConfig"
                       [submitBtnText]="submitBtnText"
                       (submitEvent)="onSubmit($event)">
  </lavash-form-builder>
</div>