:host {
  display: flex;
  overflow: hidden;
  .component-wrap {
    display: flex;
    overflow: auto;
    width: 100%;
  }
}

.mainContent {
  display: flex;
  padding: 12px;
  overflow: auto;
}

.chartername-grid-container {
  flex: 1;

  nv-fieldset {
    display: block;
    width: fit-content;
  }
}

:host ::ng-deep nz-year-picker {
  width: 100%;

  .ant-calendar-picker {
    width: 100%;
  }
}

input:disabled::placeholder {
  color: #bfbfbf;
}

.timeChartersMain {
  .actions-container {
    padding: 5px 5px 0px 5px;
    display: flex;
    justify-content: flex-end;
  }

  nz-divider {
    margin-bottom: 0;
  }
}

form {
  width: 100%;
}

nv-grid {
  padding-top: 2px;
}
