<div class="component-wrap">
  <div class="nv-content content">
    <div class="actions-row">
      <nv-detail-view-actions
        header
        [inEditingMode]="editMode"
        (editClicked)="enterEditMode()"
        (cancelClicked)="cancelEditing()"
        (saveClicked)="submit()"
        [form]="form"
        [formElement]="formElement"
      ></nv-detail-view-actions>
    </div>
    <div class="mainContent" nz-row nzGutter="20">
      <div nz-col>
        <form
          *ngIf="form"
          nvSpyElement
          (initialized)="formInitialized($event)"
          [formGroup]="form"
          nz-form
          nzLayout="vertical"
        >
          <div nz-row nzGutter="22">
            <div nz-col nzSpan="12">
              <nv-input-wrapper [label]="wording.chartering.vessel | translate">
                <nz-select nzAllowClear nzShowSearch formControlName="vesselAccountingId">
                  <nz-option
                    *ngFor="let vessel of vesselAccountings"
                    [nzValue]="vessel.id"
                    [nzLabel]="vessel.vesselName"
                    nzCustomContent
                  >
                    <div [attr.data-vessel-option]="vessel.vesselName">
                      {{vessel.vesselName}}
                    </div>
                  </nz-option>
                </nz-select>
              </nv-input-wrapper>
            </div>
          </div>
          <div nz-row nzGutter="22">
            <div nz-col nzSpan="12">
              <nv-input-wrapper
                class="date-picker"
                [label]="wording.general.year | translate"
              >
                <nz-year-picker
                  formControlName="year"
                ></nz-year-picker>
              </nv-input-wrapper>
              <div
                nz-tooltip
                nzTooltipPlacement="topCenter"
                [nzTooltipTitle]="wording.chartering.toEditRemoveTimeCharters | translate"
                [nzOverlayStyle]="{
                  display: form.get('from').disabled && editMode
                    ? 'block'
                    : 'none'
                }"
              >
                <nv-input-wrapper
                  [label]="wording.general.from | translate"
                  class="date-picker"
                >
                  <nv-datebox
                    formControlName="from"
                    [withTime]="true"
                  >
                  </nv-datebox>
                </nv-input-wrapper>
              </div>
            </div>
            <div nz-col nzSpan="12">
              <nv-input-wrapper [label]="wording.general.number | translate">
                <input
                  formControlName="no"
                  type="text"
                  nz-input
                  [placeholder]="wording.general.getsGenerated | translate"
                >
              </nv-input-wrapper>
              <div
                nz-tooltip
                nzTooltipPlacement="topCenter"
                [nzTooltipTitle]="wording.chartering.toEditRemoveTimeCharters | translate"
                [nzOverlayStyle]="{
                  display: form.get('until').disabled && editMode
                    ? 'block'
                    : 'none'
                }"
              >
                <nv-input-wrapper
                  [label]="wording.general.until | translate"
                  class="date-picker"
                >
                  <nv-datebox
                    formControlName="until"
                    [withTime]="true"
                  >
                  </nv-datebox>
                </nv-input-wrapper>
              </div>
            </div>
          </div>
        </form>
        <div class="timeChartersMain e2e-timeChartersMain" *ngIf="timeCharters$" >
          <nz-divider nzText="{{ wording.chartering.timeCharters | translate }}" nzOrientation="left"></nz-divider>
          <div class="actions-container">
            <button nz-button nzSize="large" (click)="createTimeCharter()">
              <i nz-icon nzType="plus-circle"></i>
              <span>{{ wording.general.create | translate }}</span>
            </button>
          </div>
          <nv-grid
            [gridConfig]="timeCharterGridConfig"
            [dataSource$]="timeCharters$"
            [ngStyle]="{'box-shadow': 'none'}"
          ></nv-grid>
        </div>
      </div>
      <div class="chartername-grid-container" *ngIf="authService.canRead(charternameZone)">
        <nv-fieldset
          [label]="wording.technicalManagement.charterName | translate"
          nz-col
          *ngIf="charternames"
        >
          <nv-chartername-grid
            [(ngModel)]="charternames"
            (ngModelChange)="charternamesChange($event)"
            [isEditableGrid]="editMode"
            [voyageFrom]="form?.controls.from.value"
            [voyageUntil]="form?.controls.until.value"
            [disabled]="!form?.controls.from.value || !form?.controls.until.value"
          ></nv-chartername-grid>
        </nv-fieldset>
      </div>
    </div>
  </div>
</div>
