.material-type-container {
  background-color: var(--color-white, #ffffff);
  width: 100%;
  height: 80px;
  border-radius: 4px;
  border: 1px solid var(--color-input-border, #e2e5ec);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;

  &.selected {
    border: 1px solid var(--color-primary, #5849e0);

    .icon {
      fill: var(--color-primary, #5849e0);
    }

    .name {
      color: var(--color-primary, #5849e0);
    }
  }

  .icon {
    height: 30px;
    width: 30px;
  }

  .name {
    font-size: 12px;
    font-weight: 600;
    color: var(--color-main, #747474);
  }
}
