<div class="material-type-container cursor-pointer box-sizing-border-box" (click)="emitClick()" [class.selected]="dataModel.selected">
  <me-icons class="icon" name="{{ dataModel.icon }}"></me-icons>
  <span class="name"> {{ dataModel.title }} </span>
</div>
