<div class="component-wrap">
  <nv-detail-view-actions
    *ngIf="specification"
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  >
  </nv-detail-view-actions>

  <div class="wrap" nz-row [nzGutter]="24">
    <nv-fieldset
      nz-col
      [nzSpan]="(isHandset$ | async) ? 24 : 12"
      [label]="wording.chartering.technicalDetails | translate"
    >
      <form
        *ngIf="form"
        nvSpyElement
        (initialized)="formInitialized($event)"
        [formGroup]="form"
        nz-form
        nzLayout="vertical"
        [style.width]="(isHandset$ | async) ? '100%' : ''"
      >
      <nv-input-wrapper
        [label]="wording.chartering.vesselType | translate"
        className="vessel-type-wrapper"
      >
          <nz-select formControlName="vesselType" nzAllowClear nzShowSearch>
            <nz-option
              *ngFor="let vesselType of vesselTypes"
              [nzLabel]="vesselType.displayLabel | translate"
              [nzValue]="vesselType.value"
              nzCustomContent
            >
              <div [attr.data-vessel-type-option]="vesselType.displayLabel.en">
                {{ vesselType.displayLabel | translate }}
              </div>
            </nz-option>
          </nz-select>
        </nv-input-wrapper>
      </form>
    </nv-fieldset>
  </div>
</div>
