@import "../../../../styles/global/breakpoints";
.box-body {
  box-shadow: inset 0px 1px 0px #efeff3;
  padding: 30px 20px 20px 20px;
  &.border-0 {
    box-shadow: none;
    & ~ .box-footer {
      box-shadow: none;
      text-align: center;
    }
  }
  .create-body {
    padding: 0 20px;
  }
  .cancel-box {
    margin: -10px 0 0 0;
    color: var(--color-main-darker);
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    b {
      display: block;
      margin-bottom: 20px;
    }
    p {
      margin: 0;
    }
  }
  .n-txt {
    font-size: 12px;
    line-height: 16px;
    color: var(--color-main-darker);
    margin-bottom: 30px;
  }
  .mat-form-field {
    width: 100%;
  }
  .mat-checkbox {
    padding: 8px 10px;
    margin-bottom: 20px;
  }
  .nots {
    border-radius: 4px;
    background-color: #e9eefe;
    padding: 20px;
    display: flex;
    i-feather {
      height: 20px;
      width: 20px;
      background-color: var(--color-info);
      color: var(--color-white);
      border-radius: 4px;
      padding: 5px;
      display: flex;
    }
    .txt-box {
      padding: 7px 0 0 20px;
      width: calc(100% - 50px);
    }
    p {
      margin: 0;
      font-size: 12px;
      line-height: 16px;
    }
  }
  .password-errors {
    position: absolute;
    top: -20px;
    left: calc(100% + 25px);
    width: 290px;
    background-color: var(--color-white);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    z-index: 9;
    &:before,
    &:after {
      position: absolute;
      display: block;
      content: "";
      border-color: transparent;
      border-style: solid;
    }
    &:after {
      top: 24px;
      border-width: 10px 10px 10px 0px;
      border-right-color: var(--color-white);
      right: 100%;
    }
    &:before {
      top: 24px;
      border-width: 11px 11px 11px 0;
      border-right-color: rgba(0, 0, 0, 0.25);
      right: 100%;
    }
    p {
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 0.1px;
      margin: 0 0 2px 0;
    }
    .password-error-row {
      display: flex;
      align-items: center;
      i-feather,
      svg {
        height: 16px;
        width: 16px;
        margin: 0 6px 0 0;
      }
      span {
        font-size: 11px;
        line-height: 22px;
      }
    }
  }
}
.box-footer {
  box-shadow: inset 0px 1px 0px #efeff3;
  text-align: right;
  padding: 20px;
  button {
    font-size: 12px;
    font-weight: 600;
    &.mat-stroked-button {
      color: var(--color-main);
    }
    & + button {
      margin-left: 20px;
    }
  }
}
@include tablet {
  .box-body {
    overflow-y: auto;
    max-height: calc(100vh - 220px);
    .nots .txt-box {
      padding: 0 0 0 15px;
    }
    .password-errors {
      right: -10px;
      top: 60px;
      left: auto;
      &:after {
        right: 10px;
        top: -10px;
        border-width: 0 10px 10px 10px;
        border-right-color: transparent;
        border-bottom-color: var(--color-white);
      }
      &:before {
        right: 10px;
        top: -10px;
        border-width: 0 10px 10px 10px;
        border-right-color: transparent;
        border-bottom-color: rgba(0, 0, 0, 0.25);
      }
    }
  }
  .box-footer {
    padding: 15px;
  }
}
@include tablet_small {
  .box-body {
    padding: 20px;
    .create-body {
      padding: 0;
    }
    .mat-checkbox {
      margin-bottom: 10px;
    }
    .n-txt {
      margin-bottom: 15px;
    }
  }
  .box-footer {
    padding: 15px;
  }
}
@include mobile {
  .box-body {
    padding: 20px 15px;
    .mat-form-field-wrapper {
      padding-bottom: 0.5rem;
    }
    .nots {
      padding: 10px;
      .txt-box {
        padding: 0 0 0 10px;
      }
    }
    .mat-checkbox {
      margin-bottom: 0;
      padding: 5px 0;
    }
    .password-errors {
      top: 40px;
      padding: 10px;
      width: 250px;
    }
  }
}
