<ng-template #popupAccountForm>
  <form id="account-form" [formGroup]="accountForm" (ngSubmit)="submitForm()">
    <div class="box-body scrollbar">
      <div class="create-body">
        <div>
          <mat-form-field hideRequiredMarker="true">
            <mat-label>{{ 'firstName' | translate }}*</mat-label>
            <input matInput formControlName="firstName" id="firstName" name="firstName" required autocomplete="firstName" />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field hideRequiredMarker="true">
            <mat-label>{{ 'lastName' | translate }}*</mat-label>
            <input matInput formControlName="lastName" id="lastName" name="lastName" required autocomplete="lastName" />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field hideRequiredMarker="true">
            <mat-label>{{ 'preferredName' | translate }}*</mat-label>
            <input matInput formControlName="prefferedName" id="prefferedName" name="prefferedName" required autocomplete="prefferedName" />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="create-new-password-att inline-icon" hideRequiredMarker="true">
            <mat-label>{{ 'newPassword' | translate }}*</mat-label>
            <input
              #passwordField
              matInput
              formControlName="newPassword"
              [type]="showPassword ? 'text' : 'password'"
              required
              (focus)="checkPasswordStrength()"
              (blur)="checkPasswordStrength()"
              autocomplete="new-password"
            />
            <i-feather
              *ngIf="showPassword"
              name="eye-off"
              (click)="changeShowPasswordState()"
              matTooltip="{{ 'hidePassword' | translate }}"
              matTooltipPosition="above"
            ></i-feather>

            <i-feather
              *ngIf="!showPassword"
              name="eye"
              (click)="changeShowPasswordState()"
              matTooltip="{{ 'showPassword' | translate }}"
              matTooltipPosition="above"
            ></i-feather>
            <div class="password-errors" *ngIf="checkPasswordStrengthOpen && newPasswordControl!.value">
              <p>{{ 'passwordValidation.title' | translate }}</p>

              <div class="password-error-row">
                <i-feather *ngIf="newPasswordControl!.hasError('minlength')" class="error" name="x-circle"></i-feather>
                <i-feather *ngIf="!newPasswordControl!.hasError('minlength')" class="success" name="check-circle"> </i-feather>
                <span>{{ 'passwordValidation.charLong' | translate: { chars: 8 } }}</span>
              </div>

              <div class="password-error-row">
                <i-feather *ngIf="newPasswordControl!.hasError('hasCapitalCase')" class="error" name="x-circle"> </i-feather>
                <i-feather *ngIf="!newPasswordControl!.hasError('hasCapitalCase')" class="success" name="check-circle"> </i-feather>
                <span>{{ 'passwordValidation.oneUppercase' | translate }}</span>
              </div>

              <div class="password-error-row">
                <i-feather *ngIf="newPasswordControl!.hasError('hasSmallCase')" class="error" name="x-circle"> </i-feather>
                <i-feather *ngIf="!newPasswordControl!.hasError('hasSmallCase')" class="success" name="check-circle"> </i-feather>
                <span>{{ 'passwordValidation.oneLowercase' | translate }}</span>
              </div>

              <div class="password-error-row">
                <i-feather *ngIf="newPasswordControl!.hasError('hasNumber')" class="error" name="x-circle"></i-feather>
                <i-feather *ngIf="!newPasswordControl!.hasError('hasNumber')" class="success" name="check-circle"> </i-feather>
                <span>{{ 'passwordValidation.oneNumber' | translate }}</span>
              </div>

              <div class="password-error-row">
                <i-feather *ngIf="newPasswordControl!.hasError('hasSpecialCharacters')" class="error" name="x-circle"> </i-feather>
                <i-feather *ngIf="!newPasswordControl!.hasError('hasSpecialCharacters')" class="success" name="check-circle"></i-feather>
                <span>{{ 'passwordValidation.oneSymbol' | translate: { symbols: '!#$%&()@_.' } }}</span>
              </div>
            </div>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="forgot-password-form-att" hideRequiredMarker="true">
            <mat-label>{{ 'confirmNewPassword' | translate }}*</mat-label>
            <input
              matInput
              formControlName="confirmPassword"
              [type]="showPassword ? 'text' : 'password'"
              required
              autocomplete="new-password"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-error
            *ngIf="newPasswordControl!.dirty && confirmPasswordControl!.dirty && accountForm!.hasError('noPassswordMatch')"
            class="no-match"
          >
            {{ 'inputsDontMatch' | translate }}
          </mat-error>
        </div>
        <div class="nots">
          <i-feather name="info"></i-feather>
          <div class="txt-box">
            <p>
              <b>Note:</b> This new password will only be used for the Material Exchange Marketplace platform. Your password for the
              Material Exchange Library Platform will not be changed. You may continue to use Library platform with the password you already
              have there.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <button mat-stroked-button color="main" (click)="onCancelclick()" type="button" title="Cancel">Cancel</button>
      <button [disabled]="!accountForm.valid" mat-raised-button color="primary" type="submit">Next</button>
    </div>
  </form>
</ng-template>
<ng-template #popupLegalForm>
  <form [formGroup]="legalForm" (ngSubmit)="submitLegalForm()">
    <div class="box-body scrollbar">
      <p class="n-txt">You must agree to the following terms and conditions to use of the Material Exchange Marketplace Platform.</p>
      <mat-checkbox formControlName="LA001" color="primary" class="example-margin"
        >I have read and agree to the
        <a href="/assets/images/pdf/Marketplace-Terms-and-conditions.pdf" target="_blank" rel="noopener noreferrer"
          >Terms & Conditions</a
        ></mat-checkbox
      >
      <mat-checkbox formControlName="LA002" color="primary" class="example-margin"
        >I have read the
        <a href="https://material-exchange.com/privacy-notice/" target="_blank" rel="noopener noreferrer">Privacy Notice</a></mat-checkbox
      >
      <mat-checkbox formControlName="LA003" color="primary" class="example-margin"
        >I have read the
        <a href="/assets/images/pdf/Marketplace-Platform-policy.pdf" target="_blank" rel="noopener noreferrer"
          >Platform Policy</a
        ></mat-checkbox
      >
      <mat-checkbox formControlName="LA004" color="primary" class="example-margin"
        >I have read and agree to the
        <a href="https://material-exchange.com/data-processing-agreement/" target="_blank" rel="noopener noreferrer"
          >Data Processing Agreement</a
        ></mat-checkbox
      >
    </div>
    <div class="box-footer">
      <button mat-stroked-button color="main" (click)="onDontAgreeClick()" title="I Don’t Agree" type="button">I Don’t Agree</button>
      <button mat-raised-button color="primary" [disabled]="legalForm.invalid" type="submit" title="I Agree">I Agree</button>
    </div>
  </form>
</ng-template>

<ng-template #popupCancel>
  <div class="box-body border-0">
    <div class="cancel-box">
      <b>Are you sure?</b>
      <p>If you cancel onboarding, you can pick up where you left off the next time you log in.</p>
    </div>
  </div>
  <div class="box-footer">
    <button mat-stroked-button color="main" (click)="onCancelclick()" title="Cancel" type="button">Cancel</button>
    <button mat-raised-button color="primary" (click)="submitForm()" type="submit" title="Continue">Continue</button>
  </div>
</ng-template>
