@import '../../../assets/less/_vars';


:host {
  header {
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &.hidden {
      .on-screen {
        opacity: .7;
      }

      .navigation-wrapper {
        height: 0;

        * {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }

  .navigation-wrapper {
    .flex;
    .space-between;
    width: 100%;
    height: 90px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    background: rgba(0,0,0,.3);
    .transition;

    .logo-wrap {
      // transform: scale(.7);
    }

    .navigation-dynamic {
      .flex;
      .center-top;
      .center-left;
      width: auto;
      height: 100%;
      position: relative;
      z-index: 1;

      &:after {
        content: '';
        width: 0;
        height: 100%;
        background: @toxic;
        position: absolute;
        top: 0;
        z-index: -1;
        .transition;
      }

      &.left {
        &:after {
          left: 0;
        }
      }

      &.right {
        &:after {
          right: 0;
          width: 100%;
        }
      }
    }
  }

  &.fix {
    .navigation-wrapper {
      background: rgba(0,0,0,.5);
      position: fixed;
      height: 60px;
      top: 0;
      z-index: 10;

      .navigation-dynamic {
        &:after {
          width: 0;
        }

        &.left {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }

  @media all and (max-width: @mobile) {
    .navigation-wrapper {
      height: 50px;
      top: 0;

      .navigation-dynamic {

        &.right {
          opacity: .5;
          position: absolute;
          top: calc(100vh - 120px);
          right: 0;
        }
      }
    }

  }

  &::ng-deep {
    header {
      .logo-wrap {
        width: 100px;
      }

      .on-screen {
        position: absolute;
        bottom: 25px;
        left: 5px;
        opacity: 0;
        z-index: 1;
        .transition;
      }

      .logo {
        transform: scale(.7);
        width: 70px;
        height: 70px;
        margin-top: -15px;

        .square {
          border-color: fadeOut(@white, 50%);
          border-width: 1px;

          &:before {
            width: 5px;
            height: 5px;
            background: @white;
          }
        }

        .kpp {
          color: @white;
          width: 250%;
          font-size: 1rem;

          &:before, &:after {
            display: none;
          }
        }
      }

      .project {
        cursor: auto;
        margin-right: 20px;

        a {
          color: white;
          opacity: .7;
        }
        &:hover {
          background: transparent;
        }
      }
    }

    @media all and (max-width: @mobile) {
      header {
        .logo-wrap {
          width: auto;
          padding: 0 5px;
        }

        .logo {
          transform: scale(.5);
          // margin-left: -15px;
        }
      }
      .logo-wrap {
        width: 100px;
      }

      .logo {
        width: 60px;
        height: 50px;
        margin-top: 45px;

        .kpp {
          color: @white;
          width: 250%;
          font-size: .5rem;

          &:before, &:after {
            display: none;
          }
        }
      }

      app-nav-bar {
        position: absolute;
        top: 0;
        left: 30%;
      }

      .project {
        padding: 0 !important;
        margin: 0 !important;
        transform: scale(.9);
      }
    }
  }
}

