<header [ngClass]="sidebarVisible ? 'hidden' : ''">
  <div class="logo-wrap on-screen">
    <app-logo-component></app-logo-component>
  </div>

  <div class="navigation-wrapper">
    <div class="navigation-dynamic left">
      <div class="logo-wrap">
        <app-logo-component></app-logo-component>
      </div>
    </div>

    <app-nav-bar></app-nav-bar>

    <div class="navigation-dynamic right">
      <div class="current-project">
        <app-project [project]="currentProject">
        </app-project>
      </div>
    </div>
  </div>
</header>
