:host {
  display: block;
  height: 100%;
  width: 100%;
}
.image-upload-container {
  height: 100%;
  width: 100%;
  position: relative;
  .img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .middle {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px 4px 0px 0px;
    top: 33%;
    right: 40%;
    padding: 25px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s ease;
    opacity: 0;
    cursor: pointer;
    me-icons {
      height: 38px;
      width: 38px;
      color: var(--color-white);
    }
    .text {
      color: var(--color-white);
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      margin-top: 10px;
      text-align: center;
      span {
        display: block;
        font-size: 12px;
      }
    }
  }
  &:hover .middle {
    opacity: 1;
  }
}
