<div class="image-upload-container box-sizing-border-box" meDragDrop (fileDropped)="onDropped($event)" *ngIf="uploadCoverImageData">
  <ng-container *ngIf="!uploadCoverImageData.thumbnail && !uploadCoverImageData.showProgress">
    <div class="img" [ngStyle]="{ 'background-image': 'url(' + uploadCoverImageData.backgroundimage + ')' }"></div>
  </ng-container>
  <ng-container *ngIf="uploadCoverImageData.thumbnail && !uploadCoverImageData.showProgress">
    <div class="img" [ngStyle]="{ 'background-image': 'url(' + uploadCoverImageData.thumbnail + ')' }"></div>
  </ng-container>
  <div *ngIf="!uploadCoverImageData.disabled" class="middle" (click)="fileInput.click()">
    <me-icons name="camera"></me-icons>
    <div class="text">
      {{ uploadCoverImageData.thumbnail ? 'Update' : 'Upload' }}
      <span>{{ uploadCoverImageData.dimensions }}</span>
    </div>
  </div>
  <input
    hidden
    (change)="handleFileInput($event)"
    #fileInput
    type="file"
    id="file"
    class="droparea"
    accept="{{ uploadCoverImageData.acceptPhotoExtensions }}"
  />
  <ng-container *ngIf="uploadCoverImageData.showProgress && fileToUpload">
    <div class="progress-bar">
      <mat-progress-bar mode="determinate" value="{{ uploadCoverImageData.percentageDone }}"></mat-progress-bar>
    </div>
  </ng-container>
</div>
