
:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;

  &:not([disabled="true"]) {
    cursor: pointer;
  }
  &[disabled="true"] {
    cursor: help;
  }

  &[data-task-status="not-started"] .color {
    background: #7f7f7f;
  }
  &[data-task-status="open"] .color {
    background: #ff5630;
  }
  &[data-task-status="in-progress"] .color {
    background: #ffaf4f;
  }
  &[data-task-status="done"] .color {
    background: #36b37e;
  }
}

.circle {
  $size: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: $size;
  width: $size;
  border-radius: $size;
  background-color: white;
  border: 1px solid #dadada;
}

.color {
  height: 65%;
  width: 65%;
  border-radius: 100%;
  background: #7f7f7f;
}

html[data-theme="dark"] :host {
  .circle {
    background-color: black;
    border: solid 1px #6b6969;
  }
}
