<me-introduction-message [dataModel]="introMsgData" (btnEvent)="btnEventHandler()"></me-introduction-message>
<div class="company-view-main scrollbar" meScrollToBottom (bottomReached)="bottomReachedHandler()">
  <ng-container *ngIf="!isCompanyLoading">
    <div class="company-banner">
      <!-- <div class="banner-image" [ngStyle]="{ 'background-image': 'url(' + companyAttributes.coverImage + ')' }"></div> -->
      <form [formGroup]="companyImageForm">
        <input type="hidden" formControlName="coverImage" />
        <me-cover-image-upload
          class="banner-image"
          [uploadCoverImageData]="uploadCoverImageData"
          (returnCoverImageFormData)="handleImageFormData($event, 'coverImage')"
        ></me-cover-image-upload>
        <div class="banner-txt">
          <div class="bt-left">
            <div class="c-logo">
              <input type="hidden" formControlName="logo" />
              <me-logo-upload [uploadImageData]="uploadLogoData" (returnImageFormData)="handleImageFormData($event, 'logo')">
              </me-logo-upload>
            </div>
            <div>
              <h1 class="c-title">{{ companyAttributes.name || i18nStrings.notAvailable }}</h1>
              <p>{{ companyAttributes.nameLocal || i18nStrings.notAvailable }}</p>
            </div>
          </div>
          <!-- <div class="bt-right">
            <button mat-raised-button color="primary">
              <i-feather name="Edit"></i-feather>{{ i18nStrings.edit }}
            </button>
          </div> -->
        </div>
      </form>
    </div>
    <div class="company-view-tab">
      <!-- <div class="share-box">
                <button mat-icon-button [matMenuTriggerFor]="shareBox" class="share-button" color="primary"><i-feather name="share-2"></i-feather></button>
                <mat-menu #shareBox="matMenu" class="share-options">
                    <button mat-fab color="light">
                        <me-icons name="copy-filled"></me-icons>
                    </button>
                    <button mat-fab color="light">
                        <me-icons name="facebook-filled"></me-icons>
                    </button>
                    <button mat-fab color="light">
                        <me-icons name="messenger-filled"></me-icons>
                    </button>
                    <button mat-fab color="light">
                        <me-icons name="twitter-filled"></me-icons>
                    </button>
                </mat-menu>
            </div> -->
      <mat-tab-group (selectedTabChange)="tabChanged($event)">
        <mat-tab label="{{ i18nStrings.company }} {{ i18nStrings.info }}">
          <div class="grid-container">
            <div class="grid-container-half">
              <div class="overview-b">
                <me-icons name="Clock"></me-icons>
                <p>
                  {{
                    companyAttributes.experience
                      ? companyAttributes.experience.substring(1).toString().replace('_', '-')
                      : i18nStrings.notAvailable
                  }}
                  {{ i18nStrings.years }}
                </p>
                <span>{{ i18nStrings.experience }}</span>
              </div>
              <div class="overview-b">
                <me-icons name="Employees"></me-icons>
                <p>
                  {{
                    companyAttributes.numberOfEmployees
                      ? companyAttributes.numberOfEmployees.substring(1).toString().replace('_', '-')
                      : i18nStrings.notAvailable
                  }}
                  {{ i18nStrings.employees }}
                </p>
                <span>{{ i18nStrings.employed }}</span>
              </div>
              <div class="overview-b">
                <me-icons name="Certificates"></me-icons>
                <p>{{ certificateCardItems.length }} {{ i18nStrings.certificates }}</p>
              </div>
              <div class="overview-b">
                <me-icons name="Sustainability"></me-icons>
                <p>{{ sustainabilityCount }} {{ i18nStrings.sustainability }}</p>
              </div>
            </div>
            <div class="company-d">
              <ng-container *ngIf="companyAttributes.description">
                <div class="title-b"><me-icons name="company-introduction"></me-icons>{{ i18nStrings.companyIntroduction }}</div>
                <div class="company-intro">
                  <p>{{ companyAttributes.description }}</p>
                </div>
              </ng-container>
              <div class="company-info" *ngIf="companyInfoAttributeGroups.length !== 0">
                <ng-container *ngFor="let group of companyInfoAttributeGroups">
                  <ng-container *ngIf="group.attributes.length !== 0">
                    <div class="info-inner">
                      <div class="title-b">
                        <ng-container *ngIf="group.internalName === 'businessInformation'">
                          <me-icons name="business-information"></me-icons>
                        </ng-container>
                        <ng-container *ngIf="group.internalName === 'factoryInformation'">
                          <me-icons name="factory"></me-icons>
                        </ng-container>
                        <ng-container *ngIf="group.internalName === 'contactInformation'">
                          <me-icons name="contact-information"></me-icons>
                        </ng-container>
                        {{ group.displayName }}
                      </div>
                      <div class="i-box" *ngFor="let item of group.attributes">
                        <span class="it">{{ item.displayName }}:</span>
                        <p *ngIf="item.internalName !== 'languageCapabilities'; else hasLanguage">
                          {{ item.convertedValue !== null ? item.convertedValue : 'N/A' }}
                        </p>
                        <ng-template #hasLanguage>
                          <me-label [dataModel]="languageLabel" *ngFor="let language of item.value">
                            <span content>{{ language }}</span>
                          </me-label>
                        </ng-template>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab *ngIf="isCertificateView" label="{{ i18nStrings.certificates }}">
          <div class="tab-bg">
            <me-search-bar
              [dataModel]="searchBarData"
              (searchInput)="certificateHandleSearch($event)"
              (addButton)="addEditCertificate(undefined)"
            >
            </me-search-bar>
            <div class="certificates-list" *ngIf="certificateCardItems.length !== 0; else emptyBox">
              <h2 class="c-title">{{ i18nStrings.certificates }} ({{ certificateCardItems.length }})</h2>
              <me-certificate
                *ngFor="let item of certificateCardItems"
                [dataModel]="item"
                (eventOccurs)="customCertificateEvent($event.eventName, $event.payload, item)"
              >
              </me-certificate>
            </div>
            <ng-template #emptyBox>
              <me-empty-content class="empty-container" [dataModel]="emptyCertificateContent" (clicked)="goToEditProfile()">
              </me-empty-content>
            </ng-template>
          </div>
        </mat-tab>
        <mat-tab label="{{ i18nStrings.collections }}">
          <div class="tab-bg">
            <me-search-bar [dataModel]="searchBarData" (searchInput)="collectionHandleSearch($event)"> </me-search-bar>
            <div class="collection-grid" *ngIf="collectionCardItems.length !== 0; else noCollection">
              <me-new-collection-card
                *ngFor="let item of collectionCardItems; let index = index"
                [dataModel]="item"
                (click)="handleItemClick(item)"
                (eventOccurs)="customEvent($event.eventName, $event.payload, item)"
              >
              </me-new-collection-card>
            </div>
            <ng-template #noCollection>
              <div class="collection-grid">THERE ARE NO COLLECTIONS</div>
            </ng-template>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ng-container>
</div>
<ng-template #editButton>
  <i-feather name="Edit"></i-feather>
</ng-template>
