.users-groups-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    border-bottom: 1px solid var(--color-main-lighter);
  }

  .users-groups-content {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 20px;
    background-color: var(--color-white, #ffffff);

    .grid-container {
      --column-min-width: 360px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(var(--column-min-width), 1fr));
      grid-gap: 20px;
      justify-content: space-between;
    }
  }
}

.groups-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    height: 53px;
    border-bottom: 1px solid var(--color-main-lighter);
  }

  .groups-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 20px;
    background-color: var(--color-white, #ffffff);

    .group-members-grid {
      width: 100%;
      height: fit-content;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
      grid-gap: 20px;
    }
  }

  .no-members-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 700;
  }
}

.add-users-list-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 50px);
}

.add-user-to-groups-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.empty-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
}

.empty-search-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  font-size: 16px;
  font-weight: 700;
}
