<me-introduction-message [dataModel]="introMsgData" (btnEvent)="btnEventHandler()"></me-introduction-message>
<div class="users-groups-container">
  <div class="header">
    <me-search-bar
      [dataModel]="searchBarData"
      (searchInput)="handleSearchInputEvent($event)"
      (sortBy)="handleSortByEvent($event)"
      (selectedUsersGroups)="handleSelectUsersGroupsEvent($event)"
      (toggleSelect)="handleToggleSelectEvent()"
      (changeViewType)="handleViewTypeEvent()"
      (searchBarActions)="handleSearchBarEvents($event)"
    ></me-search-bar>
  </div>

  <div class="users-groups-content box-sizing-border-box scrollbar" meScrollToBottom (bottomReached)="bottomReachedHandler()">
    <!-- USERS VIEW -->
    <ng-container *ngIf="usersView; else groupsTemplate">
      <ng-container *ngIf="(userCardItems && userCardItems.length > 0) || areUsersLoading || isUserSearch; else emptyUsersTemplate">
        <!-- GRID OF USER CARDS -->
        <ng-container *ngIf="(userCardItems && userCardItems.length > 0) || areUsersLoading; else zeroUsersTemplate">
          <div class="grid-container box-sizing-border-box">
            <me-user-group-card
              *ngFor="let userCard of userCardItems; let cardIndex = index; trackBy: getCardOid"
              [dataModel]="userCard"
              (userGroupCardOutputEvent)="handleUserCardOutputEvent($event, userCard)"
              (click)="selectionEnabled ? toggleUserCardItemSelection(cardIndex) : userCardActions(userCard)"
            ></me-user-group-card>
          </div>
        </ng-container>
        <!-- USERS EMPTY SEARCH STATE -->
        <ng-template #zeroUsersTemplate> <span class="empty-search-container">There are no users.</span> </ng-template>
      </ng-container>
      <!-- USERS EMPTY STATE -->
      <ng-template #emptyUsersTemplate>
        <me-empty-content class="empty-container" [dataModel]="emptyUserContent" (clicked)="handleEmptyContentClick()"> </me-empty-content>
      </ng-template>
    </ng-container>

    <!-- GROUPS VIEW -->
    <ng-template #groupsTemplate>
      <ng-container *ngIf="(groupCardItems && groupCardItems.length > 0) || areGroupsLoading || isGroupSearch; else emptyGroupsTemplate">
        <!-- GRID OF GROUP CARDS -->
        <ng-container *ngIf="(groupCardItems && groupCardItems.length > 0) || areGroupsLoading; else zeroGroupsTemplate">
          <div class="grid-container box-sizing-border-box">
            <me-user-group-card
              *ngFor="let groupCard of groupCardItems; let cardIndex = index; trackBy: getCardOid"
              [dataModel]="groupCard"
              (userGroupCardOutputEvent)="handleGroupCardOutputEvent($event, groupCard)"
              (click)="selectionEnabled ? toggleGroupCardItemSelection(cardIndex) : openGroupInfoPopup(groupCard)"
            ></me-user-group-card>
          </div>
        </ng-container>
        <!-- GROUPS EMPTY SEARCH STATE -->
        <ng-template #zeroGroupsTemplate> <span class="empty-search-container">There are no groups.</span> </ng-template>
      </ng-container>
      <!-- GROUPS EMPTY STATE -->
      <ng-template #emptyGroupsTemplate>
        <me-empty-content class="empty-container" [dataModel]="emptyGroupContent" (clicked)="handleEmptyContentClick()"> </me-empty-content>
      </ng-template>
    </ng-template>
  </div>
</div>

<!-- TEMPLATES -->

<!-- Create button in breadcrumbs -->
<ng-template #createButton>
  <ng-container>
    {{ i18nStrings.inviteUser }}
    <me-icons name="plus"></me-icons>
  </ng-container>
</ng-template>

<!-- Create/Invite new user inputs -->
<ng-template #popupBasicInput>
  <me-search-input [dataModel]="basicInputPopupEmail" (changeEvent)="handleBasicInputEmailEvent($event)"></me-search-input>
</ng-template>

<!-- Group members grid for group info popup -->
<ng-template #groupMembersGrid>
  <div class="groups-content" [meComponentLoading]="areUsersInPopupLoading">
    <div class="header">
      <me-search-bar
        [dataModel]="searchBarDataForGroupMembersPopup"
        (addButton)="addingUsersFromGroupInfoPopup()"
        (searchBarActions)="handleSearchBarEvents($event)"
        (sortBy)="handleSortByGroupMembersEvent($event)"
        (searchInput)="handleSearchInputGroupMembersEvent($event)"
      ></me-search-bar>
    </div>

    <ng-container
      *ngIf="(groupMembersCardItems && groupMembersCardItems.length > 0) || isGroupMembersSearch; else emptyGroupMembersTemplate"
    >
      <div class="groups-container box-sizing-border-box scrollbar" meScrollToBottom (bottomReached)="bottomReachedHandler()">
        <div class="group-members-grid box-sizing-border-box">
          <me-user-group-card
            *ngFor="let groupMemberCard of groupMembersCardItems; let cardIndex = index; trackBy: getCardOid"
            [dataModel]="groupMemberCard"
            (userGroupCardOutputEvent)="handleGroupUserCardOutputEvent($event, groupMemberCard)"
            (click)="selectionEnabled ? toggleUserCardItemSelection(cardIndex) : userCardActions(groupMemberCard)"
          ></me-user-group-card>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyGroupMembersTemplate>
      <div class="no-members-container">This groups has no members.</div>
    </ng-template>
  </div>
</ng-template>

<!-- Add users to group popup -->
<ng-template #addUsersList>
  <me-search-input [dataModel]="searchUsersFromAddListPopup" (changeEvent)="handleSearchUsersFromAddListPopup($event)"></me-search-input>
  <div class="box-sizing-border-box scrollbar add-users-list-container" meScrollToBottom (bottomReached)="bottomReachedHandlerForAddList()">
    <me-add-list-card
      *ngFor="let addUserListCard of addUserListCardItems; let cardIndex = index; trackBy: getCardOid"
      [dataModel]="addUserListCard"
      (addListCardEvent)="handleAddListCardEvent($event, cardIndex, addUserListCardItems)"
    ></me-add-list-card>
  </div>
</ng-template>

<!-- After success user invite show groups popup -->
<!-- <ng-template #addUserToGroupsList>
  <div class="box-sizing-border-box scrollbar add-user-to-groups-list">
    <me-add-list-card
      *ngFor="let addGroupListCard of addGroupListCardItems; let cardIndex = index; trackBy: getCardOid"
      [dataModel]="addGroupListCard"
      (addListCardEvent)="handleAddListCardEvent($event, cardIndex, addGroupListCardItems)"
    ></me-add-list-card>
  </div>
</ng-template> -->

<!-- Groups that user is in for user info popup  -->
<ng-template #userInfoGroups>
  <div class="box-sizing-border-box scrollbar add-users-list-container">
    <me-add-list-card
      *ngFor="let userGroupsCard of userGroupsListCardItems"
      [dataModel]="userGroupsCard"
      (addListCardEvent)="handleUserGroupsEvent($event)"
    ></me-add-list-card>
  </div>
</ng-template>
