@import '~@angular/material/theming';

// Configure material typography
$mev_typography: mat-typography-config($font-family: var(--font-family-primary));
@include mat-core($mev_typography);

// Theme Palettes
$mev_primary_palette: (100: var(--color-primary),
    500: var(--color-primary),
    700: var(--color-primary),
    contrast: (100: var(--color-white),
        500: var(--color-white),
        700: var(--color-white)));

$mev_accent_palette: (100: var(--color-warning),
    500: var(--color-warning),
    700: var(--color-warning),
    contrast: (100: var(--color-white),
        500: var(--color-white),
        700: var(--color-white)));

$mev_warn_palette: (100: var(--color-danger),
    500: var(--color-danger),
    700: var(--color-danger),
    contrast: (100: var(--color-white),
        500: var(--color-white),
        700: var(--color-white)));


// Light Theme
$mev_light_background: (status-bar: map_get($mat-grey, 300),
    app-bar: map_get($mat-grey, 100),
    background: map_get($mat-grey, 50),
    hover: rgba(black, 0.04),
    card: white,
    dialog: white,
    disabled-button: rgba(black, 0.12),
    raised-button: white,
    focused-button: $dark-focused,
    selected-button: map_get($mat-grey, 300),
    selected-disabled-button: map_get($mat-grey, 400),
    disabled-button-toggle: map_get($mat-grey, 200),
    unselected-chip: map_get($mat-grey, 300),
    disabled-list-option: map_get($mat-grey, 200),
    tooltip: map_get($mat-grey, 700));

$mev_light_foreground: (base: black,
    divider: $dark-dividers,
    dividers: $dark-dividers,
    disabled: $dark-disabled-text,
    disabled-button: rgba(black, 0.26),
    disabled-text: $dark-disabled-text,
    elevation: black,
    hint-text: $dark-disabled-text,
    secondary-text: $dark-secondary-text,
    icon: rgba(black, 0.54),
    icons: rgba(black, 0.54),
    text: rgba(black, 0.87),
    slider-min: rgba(black, 0.87),
    slider-off: rgba(black, 0.26),
    slider-off-active: rgba(black, 0.38), );

// Dark Theme
$mev_dark_background: (status-bar: black,
    app-bar: map_get($mat-grey, 900),
    background: var(--color-main-darker),
    hover: rgba(white, 0.04),
    card: map_get($mat-grey, 800),
    dialog: map_get($mat-grey, 800),
    disabled-button: rgba(white, 0.12),
    raised-button: map-get($mat-grey, 800),
    focused-button: $light-focused,
    selected-button: map_get($mat-grey, 900),
    selected-disabled-button: map_get($mat-grey, 800),
    disabled-button-toggle: black,
    unselected-chip: map_get($mat-grey, 700),
    disabled-list-option: black,
    tooltip: map_get($mat-grey, 700));

$mev_dark_foreground: (base: white,
    divider: $light-dividers,
    dividers: $light-dividers,
    disabled: $light-disabled-text,
    disabled-button: rgba(white, 0.3),
    disabled-text: $light-disabled-text,
    elevation: black,
    hint-text: $light-disabled-text,
    secondary-text: $light-secondary-text,
    icon: white,
    icons: white,
    text: white,
    slider-min: white,
    slider-off: rgba(white, 0.3),
    slider-off-active: rgba(white, 0.3));


// Set Theme Palettes
$mev_primary: mat-palette($mev_primary_palette);
$mev_accent: mat-palette($mev_accent_palette);
$mev_warn: mat-palette($mev_warn_palette);

// Set Theme Function
@function set-mev-theme($primary, $accent, $warn, $background, $foreground) {
    @return (primary: $primary,
        accent: $accent,
        warn: $warn,
        background: $background,
        foreground: $foreground,
    );
}

// Set Light Theme
$mev_light_theme: set-mev-theme($mev_primary, $mev_accent, $mev_warn, $mev_light_background, $mev_light_foreground);
@include angular-material-theme($mev_light_theme);

// Set Dark Theme
.dark-theme {
    $mev_dark_theme: set-mev-theme($mev_primary, $mev_accent, $mev_warn, $mev_dark_background, $mev_dark_foreground);
    @include angular-material-theme($mev_dark_theme);
}
