.l-input  {
    background: #ffffff;
    border: 1px solid gainsboro;
    width: 150px;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-content: center;
}

input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
}

input:focus {
    outline: none;
}