<div class="sweet-alert" [style.--icon-color]="'var(--color-' + data.mode + ')'">
  <div class="sweet-alert-close">
    <i-feather name="x" mat-dialog-close></i-feather>
  </div>

  <div class="icon">
    <i-feather [name]="data.icon"></i-feather>
  </div>

  <span class="title">{{ data.title !== '' ? data.title : data.mode }}</span>
  <span class="message">{{ data.message }}</span>

  <div class="action-container">
    <!-- Input sweet alert -->
    <ng-container *ngIf="data.type.name === 'input'">
      <form id="sweet-alert-form" #sweetAlertForm="ngForm">
        <mat-form-field hideRequiredMarker="true">
          <mat-label>{{ data.inputLabel }}</mat-label>
          <input matInput [(ngModel)]="data.userInput" name="email" required />
        </mat-form-field>

        <me-button [dataModel]="submitButton" (clickEvent)="customEvent('submit', data)">{{ data.type.buttons.submit }}</me-button>
      </form>
    </ng-container>

    <!-- Confirm sweet alert -->
    <ng-container *ngIf="data.type.name === 'submit'">
      <me-button [dataModel]="cancelButton" (clickEvent)="customEvent('cancel', data)">{{ data.type.buttons.cancel }}</me-button>
      <me-button [dataModel]="submitButton" (clickEvent)="customEvent('submit', data)">{{ data.type.buttons.submit }}</me-button>
    </ng-container>

    <ng-container *ngIf="data.type.name === 'confirm'">
      <me-button [dataModel]="confirmButton" (clickEvent)="customEvent('cancel', data)">{{ data.type.buttons.confirm }}</me-button>
    </ng-container>

    <!-- Custom sweet alert -->
    <ng-container *ngIf="data.type.name === 'custom'">
      <ng-container *ngTemplateOutlet="data.type.customTemplate || null"></ng-container>
    </ng-container>
  </div>
</div>
