.sweet-alert {
  --icon-color: var(--color-primary);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 260px;
  max-width: 360px;
  position: relative;
  padding: 10px;

  .sweet-alert-close {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .icon {
    border-radius: 50px;
    border: 2px solid var(--icon-color);

    i-feather {
      height: 70px;
      width: 70px;
      stroke-width: 1.5;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--icon-color);
    }
  }

  .title {
    color: var(--color-main-darker);
    font-size: 24px;
    font-weight: 600;
  }

  .message {
    color: var(--color-body-font);
    font-size: 14px;
    padding: 10px;
    text-align: center;
  }

  .action-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    me-button {
      margin: 10px;
    }

    #sweet-alert-form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
}
