<div class="nv-paper">
  <div class="nv-header">
    <div class="nv-title">
      {{ sitemap.main.children.settings.children.accountSettings.title | translate }}
    </div>
  </div>

  <div class="nv-content settings-main">
    <div class="flex row language-select e2e-language-select">
      <div class="label">
        {{ wording.accounting.accountLanguage | translate }}:
      </div>
      <nz-select
        [ngModel]="settingsService.language"
        style="width: 200px;"
        nzPlaceHolder="Choose Language"
        (ngModelChange)="onLanguageChange($event)"
        nzShowSearch
      >
        <nz-option nzValue="en" nzLabel="English" nzCustomContent>
          <div data-language-option="en">
            English
          </div>
        </nz-option>
        <nz-option nzValue="de" nzLabel="Deutsch" nzCustomContent>
          <div data-language-option="de">Deutsch</div>
        </nz-option>
      </nz-select>
    </div>

    <div class="flex row date-format-select">
      <div class="label">
        {{ wording.accounting.accountLocale | translate }}:
      </div>
      <nz-select
        [ngModel]="settingsService.locale"
        style="width: 200px;"
        [nzPlaceHolder]="wording.accounting.chooseDateFormat | translate"
        (ngModelChange)="onLocaleChange($event)"
        nzShowSearch
      >
        <nz-option
          [nzValue]="NvLocale.DE"
          nzLabel="Deutsch (DE)"
          nzCustomContent
        >
          <div data-locale-option="de">
            Deutsch (DE)
          </div>
        </nz-option>
        <nz-option
          [nzValue]="NvLocale.UK"
          nzLabel="English (UK)"
          nzCustomContent
        >
          <div data-locale-option="uk">
            English (UK)
          </div>
        </nz-option>
        <nz-option
          [nzValue]="NvLocale.US"
          nzLabel="English (US)"
          nzCustomContent
        >
          <div data-locale-option="us">
            English (US)
          </div>
        </nz-option>
      </nz-select>
    </div>

    <div class="flex row debit-credit-select">
      <div class="label">{{ wording.accounting.debitCredit | translate }}:</div>
      <nz-select
        [ngModel]="settingsService.debitCredit"
        style="width: 200px;"
        [nzPlaceHolder]="wording.accounting.chooseDebitCreditFormat | translate"
        (ngModelChange)="onDebitCreditFormatChange($event)"
        nzShowSearch
      >
        <nz-option
          [nzValue]="DEBIT_CREDIT.plusMinus"
          nzLabel="+/-"
          nzCustomContent
        >
          <div data-debitor-creditor-option="plus-minus">
            +/-
          </div>
        </nz-option>
        <nz-option
          [nzValue]="DEBIT_CREDIT.DC"
          [nzLabel]="wording.accounting.DC | translate"
          nzCustomContent
        >
          <div data-debitor-creditor-option="dc">
            {{ wording.accounting.DC | translate }}
          </div>
        </nz-option>
      </nz-select>
    </div>

    <div class="flex row theme-select e2e-theme-select">
      <div class="label">{{ wording.general.theme | translate }}:</div>
      <nz-select
        [ngModel]="theme"
        style="min-width: 200px;"
        (ngModelChange)="onThemeChange($event)"
        nzShowSearch
      >
        <nz-option
          *ngFor="let theme of themes"
          [nzValue]="theme.value"
          [nzLabel]="theme.label | translate"
          nzCustomContent
        >
          <div [attr.data-theme-option]="theme.value">{{theme.label | translate}}</div>
        </nz-option>
      </nz-select>
    </div>

    <div class="flex row">
      <button
        type="button"
        nz-button
        (click)="resetPassword()"
        >
        {{ wording.general.requestNewPassword | translate }}
      </button>
    </div>
  </div>
</div>
