:host {
  flex: 1 1 auto;
  display: flex;

  .settings-main {
    padding: 20px;

    .row {
      flex-direction: row;

      &.flex {
        align-items: center;
        margin-top: 12px;

        &:first-child {
          margin-top: 0px;
        }

        &:last-child {
          margin-top: 20px;
        }

        .label {
          margin-right: 12px;
          font-size: 14px;
          color: grey;
          text-align: left;
          padding-left: 2px;
          text-transform: uppercase;
          line-height: 20px;
          min-width: 150px;
          font-weight: 400;
        }
      }
    }
  }
}
