:host {
  display: flex;
  min-height: 30px;
  align-items: center;
  padding: 0 10px;

  &.selected {
    background-color: #fff2f0;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.65);
  }

  &:hover {
    cursor: pointer;
    background-color: #fff2f0;
    color: rgba(0, 0, 0, 0.65);
  }
}
