:host{
  width: 100%;
  height: 100%;
}

.main-wrapper{
  width: 100%;
  height: 100%;
  // position: relative;

  .cell-input{
    height: 100%;
    width: 100%;
    border: none;
    padding: 0px 4px;
    border-radius: 0px;
    display: block;

    &.focused{
      background: #e2f2ff;
      // box-shadow: inset 0px 0px 4px 0px #69bcff7d;
      color: #146bb3;
    }
  }
}

.popover{
  width: auto;
  min-width: 100%;
  max-width: calc(100% + 100px);
  border-radius: 2px;
  background: white;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.34);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  max-height: 144px;
  overflow: auto;
  cursor: pointer;
  margin-top: 1px;

  .row{
    padding: 1px 4px;
    line-height: 26px;
    color: #595959;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:not(:last-of-type){
      border-bottom: 1px solid #ebf2f5;
    }

    &.selected{
      background: #e2f2ff;
      color: #146bb3;
    }

    &:hover {
      background: #e2f2ff;
    }
  }
}

