* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

ul { list-style-type: none; }
a { text-decoration: none; }

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}