@import '../../../assets/less/variables.less';

button {
  min-height: @height_sm;
  border-radius: @border-radius;

  background: @blue;
  color: @white;
  cursor: pointer;
  padding: 0 @padding_sm;
  border: none;
  .transition;

  .graphic-positioning-container;

  &.l-outlined {
    border: 1px solid @blue;
    background: transparent;
    color: @blue;
  }

  &.l-rounded {
    .flex;
    .center-left;
    .center-top;
    width: @width_btn_sm;
    height: @width_btn_sm;
    border-radius: 50%;
  }

  &.l-no-background {
    color: @blue;
    background: transparent;
  }

  &.l-disabled {
    .no-event;
    opacity: .5;
  }

  &.l-animated {
    position: relative;

    &:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      background: @transparent;
      .l-hidden;
      .transition;
    }
  }

  &.l-opacity {
    background: rgba(0,0,0,0);
  }

  &:hover {
    opacity: .8;

    &.l-animated {
      &:after {
        width: 100%;
        height: 100%;
        .l-show;
        // animation: boom .5s ease-in-out forwards;
      }

      &.l-rounded {
        &:after {
          border-radius: 50%;
        }
      }
    }

    &.l-opacity {
      background: rgba(0,0,0,.2);
    }
  }
}

@keyframes boom {
  0% {
    width: 0;
    height: 0;
    .l-hidden;
  }

  90% {
    width: 100%;
    height: 100%;
    .l-show;
  }

  100% {
    width: 110%;
    height: 110%;
    .l-hidden;
  }
}
