<me-introduction-message [dataModel]="introMsgData" (btnEvent)="btnEventHandler()"></me-introduction-message>
<ng-container *ngIf="documentCardItems.length !== 0 || areDocumentsLoading || isSearch; else noDocumentsTemplate">
  <div class="document-container-wrapper">
    <div class="header-container">
      <me-search-bar
        [dataModel]="searchBarData"
        (searchInput)="handleSearch($event)"
        (sortBy)="handleSortByEvent($event)"
        (toggleSelect)="handleToggleSelectEvent()"
        (searchBarActions)="handleSearchBarEvents($event)"
      ></me-search-bar>
    </div>
    <div meScrollToBottom class="document-container box-sizing-border-box" (bottomReached)="bottomReachedHandler()">
      <div class="document-grid" *ngIf="documentCardItems.length !== 0 || areDocumentsLoading; else zeroDocumentsTemplate">
        <me-document-card
          *ngFor="let item of documentCardItems; let index = index; trackBy: trackByDocumentOid"
          [dataModel]="item"
          (click)="handleItemClick(item, index)"
          (eventOccurs)="customEvent($event.eventName, $event.payload, item)"
        >
        </me-document-card>
      </div>
      <ng-template #zeroDocumentsTemplate> THERE ARE NO DOCUMENTS </ng-template>
    </div>
  </div>
</ng-container>

<ng-template #noDocumentsTemplate>
  <me-empty-content class="empty-container" [dataModel]="emptyContent" (clicked)="handleAddButtonClick()"> </me-empty-content>
</ng-template>

<ng-template #create>
  <i-feather name="plus"></i-feather>
  {{ i18nStrings.create }}
</ng-template>
<ng-template #info>
  <i-feather name="info"></i-feather>
</ng-template>

<ng-template #rightSidebarContent>
  <me-tab-group *ngIf="tabGroupData" [dataModel]="tabGroupData"></me-tab-group>
</ng-template>

<ng-template #tabOne>
  <me-info-card
    *ngIf="documentInfoCard"
    [dataModel]="documentInfoCard"
    (eventOccurs)="customEvent($event.eventName, $event.payload, this.selectedDocument || undefined)"
  ></me-info-card>
  <div class="document-description">{{ selectedDocument?.attributes?.description || '' }}</div>
  <!-- TODO: implement attributes -->
</ng-template>
