.document-container-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .header-container {
    height: 53px;
    border-bottom: 1px solid var(--color-body-background);
    flex-shrink: 0;
  }

  .document-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    overflow-y: scroll;
    padding: 20px;
    background-color: var(--color-white);

    .document-grid {
      width: 100%;
      height: fit-content;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
      grid-gap: 20px;
    }
  }
}

.empty-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
}

.document-description {
  line-height: 1.71em;
  color: var(--color-main);
  margin: 20px;
}
