<canvas [width]="canvasWidth" [height]="canvasHeight" #canvas></canvas>
<div>
  <span nz-row nzType="flex" nzJustify="center"> {{ zoomInputText }} </span>
  <div  nz-row nzType="flex" nzJustify="center">
    <input #scaleSlider
           [type]='zoomType'
           [min]='zoomMin'
           [max]='zoomMax'
           [step]='zoomStep'
    />
  </div>
</div>
<div nz-row nzType="flex" nzJustify="center" class="buttons">
  <button
    (click)="cropImage()"
    nz-button
    nzType="primary"
  >
    {{ cropButtonText }}
  </button>
  <button
    (click)="cancel.emit()"
    nz-button
    nzType="danger"
    class="ml"
  >
    Cancel
  </button>

</div>
