  <!-- Content -->
  <div class="form-wrap">
    <form [formGroup]="form" nz-form nzLayout='vertical' *ngIf="form">
      <div class="form-wrap-content">
        <div nz-row nzGutter="14">
          <div nz-col nzSpan="12">
            <nv-input-wrapper [label]="wording.technicalManagement.unit | translate ">
              <nz-select formControlName="articleUnitId" nzAllowClear nzShowSearch>
                <nz-option
                  *ngFor="let unit of (articleUnits$ | async)"
                  [nzLabel]="unit.displayLabel | translate"
                  [nzValue]="unit.id"
                  nzCustomContent
                >
                  <div [attr.data-group-type-option]="unit.code">
                    {{ unit.displayLabel | translate }}
                  </div>
                </nz-option>
              </nz-select>
            </nv-input-wrapper>
          </div>
          <div nz-col nzSpan="12">
            <nv-input-wrapper [label]="wording.technicalManagement.salePrice | translate">
              <nv-decimal-input
                [showSeparator]="true"
                [decimalPlaces]="2"
                formControlName="salePrice"
              ></nv-decimal-input>
            </nv-input-wrapper>
          </div>
        </div>
        <div nz-row nzGutter="14">
          <div nz-col nzSpan="12">
            <nv-input-wrapper [label]="wording.technicalManagement.articleClass | translate ">
              <nz-select formControlName="articleClassId" nzAllowClear nzShowSearch>
                <nz-option
                  *ngFor="let classItem of (articleClasses$ | async)"
                  [nzLabel]="classItem.displayLabel | translate"
                  [nzValue]="classItem.id"
                  nzCustomContent
                >
                  <div [attr.data-group-type-option]="classItem.abbreviation">
                    {{ classItem.displayLabel | translate }}
                  </div>
                </nz-option>
              </nz-select>
            </nv-input-wrapper>
          </div>
          <div nz-col nzSpan="12">
            <nv-input-wrapper [label]="wording.technicalManagement.articleType | translate ">
              <nz-select formControlName="articleTypeId" nzAllowClear nzShowSearch>
                <nz-option
                  *ngFor="let type of (articleTypes$ | async)"
                  [nzLabel]="type.displayLabel | translate"
                  [nzValue]="type.id"
                  nzCustomContent
                >
                  <div *ngIf="type.isActive" [attr.data-group-type-option]="type.abbreviation">
                    {{ type.displayLabel | translate }}
                  </div>
                </nz-option>
              </nz-select>
            </nv-input-wrapper>
          </div>
        </div>
        <div nz-row nzGutter="14">
          <div nz-col nzSpan="12">
            <nv-input-wrapper [label]="wording.technicalManagement.description | translate">
              <textarea class="insolvency-administrator" rows="4" nz-input formControlName="description"></textarea>
            </nv-input-wrapper>
          </div>
          <div nz-col nzSpan="12">
            <nv-input-wrapper [label]="wording.accounting.currency | translate ">
              <nz-select formControlName="currencyId" nzAllowClear nzShowSearch>
                <nz-option
                  *ngFor="let currency of (currencies$ | async)"
                  nzLabel="{{ currency.isoCode }} / {{ currency.displayLabel | translate }}"
                  [nzValue]="currency.id"
                  nzCustomContent
                >
                  <div [attr.data-group-type-option]="currency.isoCode">
                    {{ currency.isoCode }} / {{ currency.displayLabel | translate }}
                  </div>
                </nz-option>
              </nz-select>
            </nv-input-wrapper>
          </div>
        </div>
      </div>
    </form>
  </div>
