.main-container {
  height: 100%;
  width: 100%;
  display: flex;

  .test-filter {
    height: 1500px;
    margin: 20px;
    width: calc(100% - 40px);
    flex-shrink: 0;
  }

  .content-container {
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    #title {
      text-align: center;
      margin: 0px 20px 20px;
    }

    .items-container {
      width: 100%;
      margin: 10px 0;
      display: flex;
      flex-direction: column;

      .card-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: 1px solid;
        align-items: center;
        justify-content: space-between;

        .material-card {
          width: 300px;
        }

        .user-card {
          width: 365px;
          height: 150px;
        }
      }

      .inner-items-container {
        width: 100%;
        display: flex;
        flex-direction: row;

        .material-card {
          width: 300px;
        }

        .icons {
          width: 100%;
          height: 100px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .big {
            height: 80px;
            width: 80px;
          }

          .green {
            color: green;
          }

          .red {
            fill: red;
          }
        }
      }
    }

    .empty-content {
      width: 100%;
      min-height: 800px;
    }
  }
}

.header {
  height: 54px;
}

.grid-test {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  border-top: 1px solid var(--color-body-background);
}

.type-grid {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-gap: 10px;
  padding: 20px;
}

.tab-group {
  width: 100%;
  height: 100%;
}

.info-card-container {
  width: 100%;
  height: 400px;

  display: flex;
  justify-content: space-around;
}
