<div class="main-container">
  <me-advanced-filter [dataModel]="advancedFilter" (eventOccurs)="toggleFilter($event)">
    <div class="test-filter"></div>
  </me-advanced-filter>
  <div class="content-container box-sizing-border-box scrollbar" [meComponentLoading]="isLoading">
    <h1 id="title">NOTE: contents of this page are for experiments only, not meant for production</h1>

    <div class="right-sidebar">
      <b>Right sidebar</b>
      <me-right-sidebar [dataModel]="rightSidebar" (eventOccurs)="event($event)"></me-right-sidebar>
    </div>

    <div class="items-container">
      <b>Component header</b>

      <me-search-bar [dataModel]="componentHeader" (searchBarActions)="componentHeaderEventHandler($event)"></me-search-bar>
    </div>
    <div class="items-container">
      <b>Labels</b>
      <div class="inner-items-container">
        <me-label [dataModel]="{ type: 'inversed', color: 'primary', margin: 'none' }">
          <i-feather name="grid" icon></i-feather><span content>Test Label</span>
        </me-label>
      </div>

      <div class="items-container">
        <b>Buttons</b>
        <div class="inner-items-container">
          <me-button [dataModel]="buttonDataModel"> <i-feather name="grid"></i-feather>TEST </me-button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="items-container">
        <b>Labels</b>
        <div class="inner-items-container">
          <me-label [dataModel]="{ type: 'regular', color: 'primary', margin: 'none' }">
            <i-feather name="grid" icon></i-feather><span content>Test Label</span>
          </me-label>
        </div>
      </div>
      <div class="items-container">
        <b>Cards</b>
        <div class="inner-items-container">
          <div class="card-container">
            <div class="material-card">
              <b>Material card</b>
              <me-material-card [dataModel]="materialDataModel"></me-material-card>
            </div>

            <div>
              <b>Empty collection card</b>
              <me-collection-card></me-collection-card>
            </div>

            <div>
              <b>Collection card</b>
              <me-collection-card [dataModel]="collection"></me-collection-card>
            </div>

            <div class="user-card">
              <b>User card</b>
              <me-user-group-card [dataModel]="userGroupCardDataModel"></me-user-group-card>
            </div>

            <div>
              <b>Add list card USER</b>
              <me-add-list-card [dataModel]="addListCardDataModelUser"></me-add-list-card>
            </div>

            <div>
              <b>Add list card GROUP</b>
              <me-add-list-card [dataModel]="addListCardDataModelGroup"></me-add-list-card>
            </div>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div class="items-container">
          <b>Icons</b>
          <div class="inner-items-container">
            <div class="icons">
              <me-icons class="big" name="file-threedm"></me-icons>
              <me-icons class="big" name="file-docx"></me-icons>
              <me-icons class="big" name="file-jpg"></me-icons>
              <me-icons class="big" name="file-other"></me-icons>
              <me-icons class="big" name="file-pdf"></me-icons>
              <me-icons class="big" name="file-png"></me-icons>
              <me-icons class="big" name="file-xlsx"></me-icons>
            </div>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div class="items-container">
          <b>Cards</b>
          <div class="inner-items-container">
            <div class="material-card">
              <me-material-card [dataModel]="materialDataModel"></me-material-card>
            </div>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div class="items-container">
          <b>Upload image</b>
          <div class="inner-items-container">
            <me-upload-file-example></me-upload-file-example>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div class="items-container">
          <b>Upload file</b>
          <div class="inner-items-container">
            <me-upload-image-example></me-upload-image-example>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div class="items-container">
          <b>Me Image Loader</b>
          <div class="inner-items-container">
            <img
              meImageLoader
              src="https://dev-flex-master.material-exchange.com/Windchill/servlet/rest/meapi/unauthorized/getDocument?ContentHolder=com.lcs.wc.document.LCSDocument:1082840"
            />
          </div>
        </div>

        <mat-divider></mat-divider>
        <div class="items-container">
          <div class="collection-card">
            <b>Collection card (empty):</b>
            <div class="inner-items-container">
              <me-collection-card></me-collection-card>
            </div>
            <b>Collection card</b>
            <div class="inner-items-container">
              <me-collection-card [dataModel]="collection"></me-collection-card>
            </div>
          </div>
        </div>

        <mat-divider></mat-divider>

        <b>Empty content:</b>
        <div class="empty-content">
          <me-empty-content [dataModel]="emptyContent" (clicked)="clickHandler()">
            <i-feather name="plus"></i-feather>Click me
          </me-empty-content>
        </div>

        <mat-divider></mat-divider>
        <div class="items-container">
          <me-attribute [attributeItem]="attributeItem"></me-attribute>
          <me-attribute [attributeItem]="attributeItem2"></me-attribute>
          <me-attribute [attributeItem]="attributeItem3"></me-attribute>
          <me-attribute [attributeItem]="attributeItem4"></me-attribute>
          <me-attribute [attributeItem]="attributeItem5"></me-attribute>
          <me-attribute [attributeItem]="attributeItem6"></me-attribute>
        </div>

        <mat-divider></mat-divider>

        <div class="info-card-container">
          <me-info-card [dataModel]="meInfoCardOne"></me-info-card>
          <me-info-card [dataModel]="meInfoCardTwo"></me-info-card>
        </div>

        <mat-divider></mat-divider>

        <div class="grid-test box-sizing-border-box">
          <me-document-card
            *ngFor="let document of documents"
            [dataModel]="document"
            (click)="!document.selectionEnabled || (document.selected = !document.selected)"
          ></me-document-card>
        </div>

        <mat-divider></mat-divider>
        <div class="type-grid box-sizing-border-box">
          <me-material-type-card *ngFor="let card of typeCards" [dataModel]="card"></me-material-type-card>
        </div>

        <ng-template #rightSidebarContent>
          <div class="tab-group">
            <me-tab-group [dataModel]="meTabGroup"></me-tab-group>
          </div>
        </ng-template>

        <!-- Content -->
        <ng-template #labelOne>
          <i-feather name="plus"></i-feather>
          Add
        </ng-template>
        <ng-template #tabOne>
          <span>Content 1</span>
        </ng-template>
        <ng-template #labelTwo>
          <i-feather name="minus"></i-feather>
          Remove
        </ng-template>
        <ng-template #tabTwo>
          <span>Content 2</span>
        </ng-template>

        <mat-divider></mat-divider>

        <div class="empty-content">
          <b>Empty content:</b>
          <me-empty-content [dataModel]="emptyContent" (clicked)="clickHandler()">
            <i-feather name="plus"></i-feather>Click me
          </me-empty-content>
        </div>
      </div>
    </div>

    <ng-template #popupDocumentGrid>
      <div class="header">
        <me-search-bar [dataModel]="componentHeader" (searchBarActions)="componentHeaderEventHandler($event)"></me-search-bar>
      </div>
      <div class="grid-test box-sizing-border-box">
        <me-document-card
          *ngFor="let document of documents; let index = index; trackBy: documentOid"
          [dataModel]="document"
          (click)="documentClickHandler(index)"
        ></me-document-card>
      </div>
    </ng-template>

    <ng-template #createButton>
      Create new
      <i-feather name="plus"></i-feather>
    </ng-template>

    <ng-template #infoButton>
      <i-feather name="info"></i-feather>
    </ng-template>

    <ng-template #filterButton>
      <i-feather name="filter"></i-feather>
    </ng-template>
  </div>
</div>
