<div *ngIf="dataModel.contextMenuItems && dataModel.contextMenuItems.length">
  <me-button class="context-button" [dataModel]="contextMenuButton" [matMenuTriggerFor]="menu">
    <i-feather name="more-vertical"></i-feather>
  </me-button>

  <mat-menu #menu="matMenu">
    <button
      *ngFor="let item of dataModel.contextMenuItems; trackBy: itemKey"
      [disabled]="!!item.disabled"
      mat-menu-item
      (click)="onClick(item.key)"
    >
      <span>{{ item.value }}</span>
    </button>
  </mat-menu>
</div>
