@import 'global/breakpoints';

.loader-container {
  width: 100%;
  height: 100%;
}

.stepper-container {
  width: 100%;
  height: 100%;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .click-holder {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .step-label-heading {
    display: block;
    color: var(--color-body-font);
    font-size: 14px;
    margin-bottom: 3px;
    margin-left: 10px;
  }

  .step-label-heading-active {
    color: var(--color-primary);
  }

  .step-label-heading-completed {
    color: var(--color-success);
  }

  .step-label-subheading {
    display: block;
    color: #9a9c9e;
    font-size: 12px;
    margin-left: 10px;
  }

  .step-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;

    .step-content-label {
      font-size: 38px;
      max-width: 900px;
      width: 100%;
      text-align: center;
      margin: 30px 0;

      h1 {
        font-size: 1.14em;
        font-weight: 600;
        max-width: 100%;
      }
    }

    .attribute-group-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      max-width: 900px;
      width: 100%;

      @include tablet {
        flex-wrap: wrap;
      }

      .thumbnail-container {
        width: 240px;
        box-shadow: 0px 0px 2px var(--black-box-shadows), 0px 2px 3px var(--black-box-shadows);
        border-radius: 4px;
        padding: 8px;
        margin-top: 24px;
      }

      .group-container {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);

        .group-label {
          width: calc(100% - 20px);
          font-size: 16px;
          margin: 10px;
        }

        .row-container {
          display: flex;
          flex-flow: row wrap;
          align-items: flex-start;
          justify-items: flex-start;
        }
      }
    }

    .column {
      flex-direction: column;
    }

    .header {
      display: flex;
      width: 100%;

      me-search-bar {
        width: 100%;
      }
    }

    .button-section {
      max-width: 900px;
      width: 100%;
      height: 100px;
      padding: 0 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &.single {
        justify-content: flex-end;
      }
      &.full-width{
        max-width: 100%;
      }

      me-button {
        margin-right: 20px;
      }
    }
  }
}

// This is here because it belong to pop-up
.document-container-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header-container {
  height: 53px;
  border: 0;
}

.header-disabled {
  filter: blur(2px);
  user-select: none;
  pointer-events: none;
}

.my-materials-container {
  height: calc(100% - 53px);
  width: 100%;
  overflow-y: scroll;
  padding: 20px;
  background-color: var(--color-white, #ffffff);

  &.bottom-border {
    border-top: 1px solid var(--color-body-background);
  }

  .grid-container {
    --column-min-width: 260px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 3px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--column-min-width), 1fr));
    grid-gap: 20px;
    justify-content: space-between;
  }
}

.my-documents-container {
  border-top: 1px solid var(--color-body-background);
  height: calc(100% - 54px);
  width: 100%;
  overflow-y: scroll;
  padding: 20px;
  background-color: var(--color-white, #ffffff);
}

.document-grid {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.document-grid.pop-up {
  height: 100%;
  border-top: 1px solid var(--color-body-background);
  overflow-x: hidden;
  overflow-y: scroll;
}

.materials-empty-content{
  width: 100%;
  max-width: 800px;
}
