<div class="stepper-container">
  <mat-horizontal-stepper linear #stepper class="user-select-none" (selectionChange)="addButtonToBreadcrumb()">
    <ng-template matStepperIcon="edit">
      <i-feather name="check" class="step-label-heading-completed icon"></i-feather>
    </ng-template>

    <mat-step #stepOne *ngIf="collectionInfoAttributeForm && collectionInfoAttributeItemMap" [stepControl]="collectionInfoAttributeForm">
      <form [formGroup]="collectionInfoAttributeForm">
        <ng-template matStepLabel>
          <div class="click-holder" (click)="checkStepBeforeSwitch(0)"></div>
          <span
            [ngClass]="{
              'step-label-heading': true,
              bold: true,
              'step-label-heading-active': stepper.selected === stepOne,
              'step-label-heading-completed': stepOne.completed && stepper.selected !== stepOne
            }"
          >
            {{ i18nStrings.collectionInfo }}</span
          >

          <span class="step-label-subheading">{{ i18nStrings.collectionGeneralInfoSubheading }}</span>
        </ng-template>

        <div class="step-content box-sizing-border-box">
          <h1 class="step-content-label bold">{{ i18nStrings.generalInfo }}</h1>

          <div class="attribute-group-container">
            <div class="thumbnail-container">
              <me-upload-image [uploadImageData]="uploadImageData" (returnImageFormData)="handleImageFormData($event)"></me-upload-image>
            </div>

            <div class="group-container">
              <div class="row-container">
                <me-attribute
                  *ngIf="collectionTypeAttributeItem"
                  [attributeItem]="collectionTypeAttributeItem"
                  [attWidth]="'50%'"
                ></me-attribute>
              </div>

              <div
                *ngFor="let row of generalInfoLayoutGroups[0].rows; trackBy: getRowIndex"
                class="row-container"
                [attr.data-row]="row.rowIndex"
              >
                <ng-container *ngFor="let rowAttribute of row.attributes; trackBy: getInternalName">
                  <me-attribute
                    [attributeItem]="collectionInfoAttributeItemMap.get(rowAttribute.internalName)"
                    [attWidth]="rowAttribute.width"
                    [attr.data-row]="rowAttribute.row"
                    [attr.data-column]="rowAttribute.column"
                  ></me-attribute>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="button-section single box-sizing-border-box">
            <me-button [dataModel]="buttonSubmit.data" (clickEvent)="handleCreateEditCollection(collectionInfoAttributeForm)">{{
              buttonSubmit.label
            }}</me-button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step #stepTwo *ngIf="collection && materialsStepEnabled && materialsForm" [stepControl]="materialsForm">
      <form [formGroup]="materialsForm">
        <ng-template matStepLabel>
          <div class="click-holder" (click)="checkStepBeforeSwitch(1)"></div>
          <span
            [ngClass]="{
              'step-label-heading': true,
              bold: true,
              'step-label-heading-active': stepper.selected === stepTwo,
              'step-label-heading-completed': stepTwo.completed && stepper.selected !== stepTwo
            }"
          >
            {{ i18nStrings.manageMaterials }}</span
          >

          <span class="step-label-subheading">{{ i18nStrings.addMaterialsToYourCollection }}</span>
        </ng-template>
        <div class="step-content box-sizing-border-box">
          <h1 class="step-content-label bold">{{ i18nStrings.manageMaterials }}</h1>

          <ng-container *ngIf="collectionMaterialCardItems && collectionMaterialCardItems.length > 0">
            <div class="header">
              <me-search-bar
                *ngIf="searchBarDataCollectionMaterial"
                [dataModel]="searchBarDataCollectionMaterial"
                (sortBy)="handleSortByEventCollectionMaterials($event)"
                (searchInput)="handleSearchInputEventCollectionMaterials($event)"
                (toggleSelect)="handleToggleSelectEventCollectionMaterials()"
                (searchBarActions)="handleSearchBarEventsCollectionMaterials($event)"
              ></me-search-bar>
            </div>
          </ng-container>
          <div class="step-content">
            <ng-template #noMaterialsRef>
              <me-empty-content
                class="empty-content materials-empty-content"
                *ngIf="emptyContentCollectionMaterials"
                [dataModel]="emptyContentCollectionMaterials"
                (clicked)="addMaterialsPopUp()"
              >
                <i-feather name="plus"></i-feather>{{ i18nStrings.add }}
              </me-empty-content>
            </ng-template>
            <ng-container
              *ngIf="collectionMaterialCardItems.length !== 0 || areMaterialsLoading || isCollectionMaterialsSearch; else noMaterialsRef"
            >
              <div
                class="my-materials-container box-sizing-border-box"
                meScrollToBottom
                (bottomReached)="bottomReachedHandler('collectionMaterials')"
              >
                <div
                  *ngIf="collectionMaterialCardItems.length !== 0 || areMaterialsLoading; else zeroMaterialsTemplate"
                  class="grid-container"
                >
                  <me-material-card
                    *ngFor="let cardItem of collectionMaterialCardItems; let cardIndex = index; trackBy: getMaterialOid"
                    [dataModel]="cardItem"
                    (click)="selectMaterialCardForDelete(cardIndex)"
                    (eventOccurs)="removeMaterial($event, cardItem.oid)"
                  ></me-material-card>
                </div>
                <ng-template #zeroMaterialsTemplate> THERE ARE NO MATERIALS </ng-template>
              </div>
            </ng-container>
            <div class="button-section box-sizing-border-box" [class.full-width]="collectionMaterialCardItems.length > 0">
              <me-button [dataModel]="buttonBack.data" (clickEvent)="stepper.previous()">
                <i-feather name="arrow-left"></i-feather>{{ buttonBack.label }}
              </me-button>
              <me-button [dataModel]="buttonNext.data" (clickEvent)="stepper.next()">
                <i-feather name="arrow-right"></i-feather>{{ buttonNext.label }}
              </me-button>
            </div>
          </div>
        </div>
      </form>
    </mat-step>

    <ng-template #popupMaterialGrid>
      <div
        class="document-container-wrapper box-sizing-border-box"
        [meComponentLoading]="areMaterialsLoadingPopup"
        *ngIf="materialCardItemsPopup.length !== 0 || areMaterialsLoadingPopup || isMaterialPopupSearch; else noMaterialsTemplate"
      >
        <div class="header-container" [class.header-disabled]="showSelectedMaterialsPopup">
          <me-search-bar
            *ngIf="searchBarDataMaterialsPopup"
            [dataModel]="searchBarDataMaterialsPopup"
            (searchInput)="handleSearchInputEventMaterialsPopup($event)"
            (sortBy)="handleSortByEventMaterialsPopup($event)"
          ></me-search-bar>
        </div>
        <div
          class="my-materials-container bottom-border box-sizing-border-box"
          meScrollToBottom
          (bottomReached)="bottomReachedHandler('materialsPopup')"
        >
          <div class="grid-container" *ngIf="materialCardItemsPopup.length !== 0 || areMaterialsLoadingPopup; else zeroMaterialsTemplate">
            <me-material-card
              *ngFor="let cardItem of materialCardItemsPopup; let cardIndex = index; trackBy: getMaterialOid"
              [dataModel]="cardItem"
              (click)="toggleMaterialCardItemSelection(cardItem.oid, cardIndex)"
            ></me-material-card>
          </div>
          <ng-template #zeroMaterialsTemplate> THERE ARE NO MATERIALS </ng-template>
        </div>
      </div>
      <ng-template #noMaterialsTemplate>
        <me-empty-content
          *ngIf="emptyContentCollectionMaterials"
          class="empty-container"
          [dataModel]="emptyContentCollectionMaterials"
          (clicked)="goToCreateMaterials()"
        >
        </me-empty-content>
      </ng-template>
    </ng-template>

    <mat-step #stepThree *ngIf="collection && documentsStepEnabled && documentsForm" [stepControl]="documentsForm">
      <form [formGroup]="documentsForm">
        <ng-template matStepLabel>
          <span
            [ngClass]="{
              'step-label-heading': true,
              bold: true,
              'step-label-heading-active': stepper.selected === stepThree,
              'step-label-heading-completed': stepThree.completed && stepper.selected !== stepThree
            }"
          >
            {{ i18nStrings.manageDocuments }}</span
          >

          <span class="step-label-subheading">{{ i18nStrings.addSupportingAssets }}</span>
        </ng-template>

        <div class="step-content">
          <h1 class="step-content-label bold">{{ i18nStrings.manageDocuments }}</h1>

          <ng-container
            *ngIf="cardItemsCollectionDocuments.length !== 0 || areDocumentsLoading || isCollectionDocumentSearch; else noDocumentsTemplate"
          >
            <div class="header">
              <me-search-bar
                *ngIf="searchBarDataCollectionDocuments"
                [dataModel]="searchBarDataCollectionDocuments"
                (searchInput)="handleSearchInputEventCollectionDocuments($event)"
                (sortBy)="handleSortByEventCollectionDocuments($event)"
                (toggleSelect)="handleToggleSelectEventCollectionDocuments()"
                (searchBarActions)="handleSearchBarEventsCollectionDocuments($event)"
              ></me-search-bar>
            </div>

            <div
              *ngIf="cardItemsCollectionDocuments.length !== 0 || areDocumentsLoading; else zeroDocumentsTemplate"
              class="document-grid box-sizing-border-box"
              meScrollToBottom
              (bottomReached)="bottomReachedHandler('collectionDocuments')"
            >
              <me-document-card
                *ngFor="let document of cardItemsCollectionDocuments; let index = index; trackBy: getDocumentOid"
                [dataModel]="document"
                (click)="selectDocumentCardForDelete(index)"
                (eventOccurs)="handleContextMenuEventsCollectionDocuments($event, document.oid)"
              ></me-document-card>
            </div>
            <ng-template #zeroDocumentsTemplate> THERE ARE NO DOCUMENTS </ng-template>
          </ng-container>
          <ng-template #noDocumentsTemplate>
            <me-empty-content
              *ngIf="emptyContentCollectionDocuments"
              [dataModel]="emptyContentCollectionDocuments"
              (clicked)="handleAddButtonClick()"
            >
              <i-feather name="plus"></i-feather> {{ i18nStrings.add }}
            </me-empty-content>
          </ng-template>
          <div class="button-section box-sizing-border-box" [class.full-width]="cardItemsCollectionDocuments.length > 0">
            <me-button [dataModel]="buttonBack.data" (clickEvent)="stepper.previous()">
              <i-feather name="arrow-left"></i-feather>{{ buttonBack.label }}
            </me-button>
            <me-button [dataModel]="buttonFinish.data" (clickEvent)="handleCollectionFinish(collectionInfoAttributeForm)">
              {{ buttonFinish.label }}<i-feather name="arrow-right"></i-feather>
            </me-button>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<ng-template #popupDocumentGrid>
  <div
    class="document-container-wrapper box-sizing-border-box"
    [meComponentLoading]="areDocumentsPopupLoading"
    *ngIf="cardItemsDocumentsPopup.length !== 0 || areDocumentsPopupLoading || isDocumentPopupSearch; else noDocumentsTemplate"
  >
    <div class="header-container" [class.header-disabled]="showSelectedDocumentsPopup">
      <me-search-bar
        [dataModel]="searchBarDataDocumentsPopup"
        (searchBarActions)="componentHeaderEventHandler($event)"
        (searchInput)="handleSearchInputEventDocumentsPopup($event)"
        (sortBy)="handleSortByEventDocumentsPopup($event)"
      ></me-search-bar>
    </div>
    <div class="my-documents-container box-sizing-border-box" meScrollToBottom (bottomReached)="bottomReachedHandler('documentsPopup')">
      <div
        class="document-grid box-sizing-border-box"
        *ngIf="cardItemsDocumentsPopup.length !== 0 || areDocumentsPopupLoading; else zeroDocumentsTemplate"
      >
        <me-document-card
          *ngFor="let document of cardItemsDocumentsPopup; let index = index; trackBy: getDocumentOid"
          [dataModel]="document"
          (click)="toggleDocumentCardItemSelection(document.oid, index)"
        ></me-document-card>
      </div>
      <ng-template #zeroDocumentsTemplate> THERE ARE NO DOCUMENTS </ng-template>
    </div>
  </div>
  <ng-template #noDocumentsTemplate>
    <me-empty-content
      *ngIf="emptyContentCollectionDocuments"
      class="empty-container"
      [dataModel]="emptyContentCollectionDocuments"
      (clicked)="goToCreateDocument()"
    >
    </me-empty-content>
  </ng-template>
</ng-template>

<ng-template #createButton>
  <me-icons name="plus"></me-icons>
  {{ this.i18nStrings.add }}
</ng-template>
