.footer {
  padding: 8px;
  border-top: 1px solid #e8e8e8;
  justify-content: flex-end;
  display: flex;

  button {
    margin-left: 6px;
  }
}

form {
  width: 420px;
  padding: 20px;
}

label[formControlName="isTypeDefault"] {
  margin-top: 10px;
}
