<div>
  <form [formGroup]="form" *ngIf="form" nz-form nzLayout="vertical">
      <nv-country-autocomplete
        [form]="form"
        controlName="countryId"
      >
      </nv-country-autocomplete>
    <nv-input-wrapper [label]="wording.general.city | translate">
      <input
        formControlName="city"
        type="text"
        nz-input
        [placeholder]="wording.general.city | translate"
      />
    </nv-input-wrapper>
    <nv-input-wrapper [label]="wording.general.street | translate">
      <input
        formControlName="street"
        type="text"
        nz-input
        [placeholder]="wording.general.street | translate"
      />
    </nv-input-wrapper>
    <nv-input-wrapper [label]="wording.general.zipCode | translate">
      <input
        formControlName="zipCode"
        type="text"
        nz-input
        [placeholder]="wording.general.zipCode | translate"
      />
    </nv-input-wrapper>
    <nv-input-wrapper [label]="wording.general.addressType | translate">
      <nz-select
        formControlName="addressTypeId"
        [nzPlaceHolder]="wording.general.addressType | translate"
        nzShowSearch
        nzAllowClear
      >
        <nz-option
          *ngFor="let addressType of (addressTypes$ | async)"
          [nzValue]="addressType.id"
          [nzLabel]="addressType.displayLabel | translate"
          nzCustomContent
        >
          <div [attr.data-address-type-option]="addressType.labelEn">
            {{ addressType.displayLabel | translate }}
          </div>
        </nz-option>
      </nz-select>
    </nv-input-wrapper>
    <label
      nz-checkbox
      formControlName="isTypeDefault"
      (click)="isTypeDefaultClickHandler()"
    >
      {{ wording.system.addressTypeDefault | translate }}
    </label>
  </form>
  <nv-modal-footer>
    <button nz-button nzType="info" (click)="closeModal()">
      {{ wording.general.cancel | translate }}
    </button>
    <ng-container *nvAccessControl="ACL_ACTIONS.UPDATE; zoneName: addressZone">
      <button
        nz-button
        nzType="primary"
        (click)="saveClicked()"
        [disabled]="!(isValid$ | async)"
      >
        {{ wording.general.save | translate }}
      </button>
    </ng-container>
  </nv-modal-footer>
</div>
