<div class="main">
  <div class='fb'>
    <nv-grid
      [gridConfig]="gridConfig"
      [dataSource$]="dataSource$"
      (rowSelectionChanged)="rowSelect($event)"
      (gridConfigChangedOnSave)="gridConfigService.update($event)"
      #gridComponent
    ></nv-grid>
  </div>
</div>
