<div class="component-wrap">
  <div class="nv-content content">
    <div class="actions-row">
      <nv-detail-view-actions
        [inEditingMode]="editMode"
        (editClicked)="enterEditMode()"
        (cancelClicked)="cancelEditing()"
        (saveClicked)="submit()"
        [form]="form"
        [formElement]="formElement"
      >
      </nv-detail-view-actions>
    </div>
    <div *ngIf="form" class="form-wrapper">
      <form
        nvSpyElement
        (initialized)="formInitialized($event)"
        [formGroup]="form"
        nz-form
        nzLayout="vertical"
      >
        <div class="form-row-host">
          <label class="partnerLabel">
            {{ wording.accounting.businessPartner | translate }}
          </label>
          <nz-radio-group formControlName="isPrivatePerson">
            <label
              nz-radio
              [nzValue]="true"
              [nzDisabled]="form.get('isPrivatePerson').disabled"
              data-radio="isPrivatePersonChecked"
            >
              {{ wording.accounting.privatePerson | translate }}
            </label>
            <label
              nz-radio
              [nzDisabled]="form.get('isPrivatePerson').disabled"
              [nzValue]="false"
              data-radio="isCompanyChecked"
            >
              {{ wording.general.company | translate }}
            </label>
          </nz-radio-group>
        </div>

        <div class="controls-wrap">
          <div class="left">
            <!-- Private Person -->
            <nv-fieldset
              [label]="wording.accounting.customer | translate"
              *ngIf="form.value.isPrivatePerson"
            >
              <div class="form-group">
                <div class="form-row-host">
                  <nv-input-wrapper
                    [label]="wording.accounting.companyName | translate"
                  >
                    <input formControlName="companyName" type="text" nz-input />
                  </nv-input-wrapper>
                  <div class="salutation-title-form-wrap">
                    <nv-input-wrapper
                      [label]="wording.accounting.salutation | translate"
                    >
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        [nzPlaceHolder]="
                          wording.accounting.chooseSalutation | translate
                        "
                        formControlName="salutationId"
                      >
                        <nz-option
                          *ngFor="let salutation of salutations$ | async"
                          [nzValue]="salutation.id"
                          [nzLabel]="salutation.displayLabel | translate"
                          nzCustomContent
                        >
                          <div [attr.data-salutation-option]="salutation.labelEn">
                            {{ salutation.displayLabel | translate }}
                          </div>
                        </nz-option>
                      </nz-select>
                    </nv-input-wrapper>
                    <nv-input-wrapper
                      [label]="wording.system.title | translate"
                    >
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        [nzPlaceHolder]="
                          wording.accounting.chooseSalutation | translate
                        "
                        formControlName="titleId"
                      >
                        <nz-option
                          *ngFor="let title of titles$ | async"
                          [nzValue]="title.id"
                          [nzLabel]="title.displayLabel | translate"
                          nzCustomContent
                        >
                          <div [attr.data-salutation-option]="title.labelEn">
                            {{ title.displayLabel | translate }}
                          </div>
                        </nz-option>
                      </nz-select>
                    </nv-input-wrapper>
                  </div>
                </div>
                <div class="form-row-host">
                  <nv-input-wrapper
                    [label]="wording.general.firstName | translate"
                  >
                    <input formControlName="firstName" type="text" nz-input />
                  </nv-input-wrapper>
                </div>
                <div class="form-row-host">
                  <nv-input-wrapper
                    [label]="wording.general.lastName | translate"
                  >
                    <input formControlName="lastName" type="text" nz-input />
                  </nv-input-wrapper>
                </div>
              </div>
            </nv-fieldset>

            <!-- Company -->
            <nv-fieldset
              [label]="wording.accounting.customer | translate"
              *ngIf="!form.value.isPrivatePerson"
            >
              <div class="form-group">
                <p *ngIf="businessNameHasError" class="error">
                  {{ wording.general.theFieldIsRequired | translate }}
                </p>

                <nv-legal-entity-business-names
                  [editable]="editMode"
                  [businessNamesCtrl]="form.get('businessNames')"
                  (businessNameAdd)="onBusinessNameAdd($event)"
                  (businessNameDelete)="onBusinessNameDelete($event)"
                >
                </nv-legal-entity-business-names>

                <!--todo: replace with component LegalTypeDropdownComponent-->
                <div class="legal-form-wrap">
                  <nv-input-wrapper
                    [label]="wording.accounting.legalForm | translate"
                  >
                    <nz-select
                      nzAllowClear
                      nzShowSearch
                      formControlName="legalForm"
                      (ngModelChange)="onLegalFormChange($event)"
                    >
                      <nz-option
                        *ngFor="let legalForm of companyLegalForms"
                        [nzValue]="legalForm.value"
                        [nzLabel]="legalForm.displayLabel | translate"
                        nzCustomContent
                      >
                        <div
                          [attr.data-legal-form-option]="
                            legalForm.displayLabel.en
                          "
                        >
                          {{ legalForm.displayLabel | translate }}
                        </div>
                      </nz-option>
                    </nz-select>
                  </nv-input-wrapper>

                  <nv-input-wrapper
                    [label]="wording.system.legalFormType | translate"
                  >
                    <nz-select
                      nzAllowClear
                      nzShowSearch
                      formControlName="legalFormType"
                    >
                      <nz-option
                        *ngFor="let legalForm of companyLegalFormTypes"
                        [nzValue]="legalForm.value"
                        [nzLabel]="legalForm.displayLabel | translate"
                        nzCustomContent
                      >
                        <div
                          [attr.data-legal-form-option]="
                            legalForm.displayLabel.en
                          "
                        >
                          {{ legalForm.displayLabel | translate }}
                        </div>
                      </nz-option>
                    </nz-select>
                  </nv-input-wrapper>
                </div>

                <nv-input-wrapper
                  [label]="wording.accounting.taxNo | translate"
                >
                  <input formControlName="taxNo" type="text" nz-input />
                </nv-input-wrapper>

                <nv-input-wrapper
                  [label]="wording.accounting.vatId | translate"
                >
                  <input formControlName="vatId" type="text" nz-input />
                </nv-input-wrapper>

                <div class="form-row-host" *ngIf="canCheckVatId$ | async">
                  <button
                    nz-button
                    [disabled]="!editMode || !form.value.vatId"
                    (click)="validateVatId(form.value.vatId)"
                  >
                    <ng-container
                      *ngIf="
                        form.value.vatIdValid != null;
                        else unknownTemplate
                      "
                    >
                      <i
                        nz-icon
                        [nzType]="form.value.vatIdValid ? 'check' : 'close'"
                      ></i>
                      {{
                        form.value.vatIdValid
                          ? (wording.general.valid | translate)
                          : (wording.general.invalid | translate)
                      }}
                    </ng-container>
                  </button>
                </div>
                <div class="legal-department-checkbox">
                  <label
                    nz-checkbox
                    formControlName="isLegalDepartmentResponsible"
                    data-checkbox="isLegalDepartmentResponsible"
                  >
                    {{
                      wording.system.legalDepartmentReponsibleForLegalData
                        | translate
                    }}
                  </label>
                </div>
              </div>
            </nv-fieldset>

            <!-- Relations -->
            <nv-fieldset [label]="wording.general.relations | translate">
              <div class="form-group">
                <nv-input-wrapper
                  [label]="wording.system.debitorCreditor | translate"
                >
                  <input
                    formControlName="debitorCreditor"
                    type="text"
                    nz-input
                  />
                </nv-input-wrapper>

                <nv-input-wrapper
                  [label]="wording.accounting.mandator | translate"
                >
                  <input formControlName="mandator" type="text" nz-input />
                </nv-input-wrapper>
              </div>
            </nv-fieldset>
          </div>
          <div class="right">
            <nv-fieldset [label]="wording.general.logo | translate">
              <div class="logo-area">
                <nv-image-uploader
                  [inEditingMode]="inEditMode$ | async"
                  (imageUploaded)="updateLogo($event)"
                >
                  <div class="fb logo-wrapper">
                    <img
                      class="logo"
                      [src]="
                        form.value.logoId
                          ? (form.value.logoId | imgSrc)
                          : 'assets/company_logo.jpg'
                      "
                    />
                  </div>
                </nv-image-uploader>
              </div>
            </nv-fieldset>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #unknownTemplate>
  <i nz-icon nzType="question"></i>{{ wording.general.checkNow | translate }}
</ng-template>
