:host {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .component-wrap {
    overflow: hidden;
    display: flex;
    .form-wrapper {
      display: flex;
      flex-direction: column;
      overflow: auto;
      form {
        >div {
          width: 100%;

          ::ng-deep nv-grid.mini-grid {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            box-shadow: none;
            padding: 0;
            border-radius: 0;

            nv-grid-toolbar {
              width: fit-content;
              height: fit-content;

              nv-toolbar .nv-toolbar {
                height: fit-content;
                min-height: auto;
              }

              ::ng-deep button {
                display: flex;
                align-items: center;
                height: 28px;
              }
            }

            .grid-wrapper {
              width: fit-content;
            }

            // 'No data available' text
            .grid-body-container > p {
              padding: 0 5px;
            }
          }
        }
        .controls-wrap {
          display: flex;
          .left {
            margin-right: 5px;
          }
        }
      }
      @media screen and (max-width: 900px) {
        .controls-wrap {
          flex-direction: column-reverse;
        }
      }
      @media screen and (min-width: 900px) {
        form {
          min-width: 900px;
          .left {
            min-width: 700px;
          }
          .legal-form-wrap {
            display: flex;
            nv-input-wrapper {
              &:first-child {
                margin-right: 5px;
              }
              width: 100%;
            }
          }
          .salutation-title-form-wrap {
            display: flex;
            nv-input-wrapper {
              &:first-child {
                margin-right: 5px;
              }
              width: 100%;
            }
          }
        }
      }

      .legal-form-wrap {
        nv-input-wrapper {
          width: 100%;
        }
      }

      .salutation-title-form-wrap {
        nv-input-wrapper {
          width: 100%;
        }
      }

      .form-row-wrapper {
        padding: 0 14px;
        margin-top: 10px;
      }

      .partnerLabel {
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }
}

.nv-paper .nv-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.content {
  padding-top: 0px;
}

.logo-area {
  margin-bottom: 10px;

  .logo-wrapper {
    flex: 0 0 auto;
    width: 100%;
    height: 120px;

    .logo {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

nv-legal-entity-business-names {
  margin-bottom: 20px;
}

.error {
  color: #c44747;
  margin: 0px;
}
