<div class="login-box">
  <div class="info-text">
    To change your password, please enter your email
  </div>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <nv-input-wrapper
      label="Email address"
      [showErrMessages]="false"
      [redBorderError]="false"
    >
      <input
        formControlName="email"
        type="email"
        nz-input
      >
    </nv-input-wrapper>
    <button
      nz-button
      [disabled]="!form.valid"
    >
      Send Verification
    </button>
  </form>
</div>
<div class="background-image"></div>
