<nav class="l-navigation">
  <ul>
    <li *ngFor="let navItem of navItems"
        class="l-navigation-item">
      <lavash-link [routingLink]="true"
                   [href]="navItem.href"
                   [icon]="navItem.icon"
                   [text]="navItem.text">
      </lavash-link>
    </li>
  </ul>
</nav>

