.popup-container {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(33, 81, 87, .5);
    z-index: 999999999;
}

.popup-body {
    background: #fcfcfc;
    position: absolute;
    width: 90%;
    height: 80vh;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.popup-user-general {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.popup-user-ifo {
    background: lightblue;
    width: 300px;
    height: 150px;
}

#popup-repos, .popup-user-ifo {
    padding: 10px;
}

.popup-user-ifo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup-repos {
    width: 90%;
    height: 250px;
    margin: 0 auto;
    margin-top: 35px;
}