:host {
  position: absolute;
  top: 18px;
  left: 10px;
  display: flex;
  cursor: pointer;
  width: 40px;
  color: darkgrey;
  justify-content: center;
  align-items: center;

  &:hover {
    color: white;
  }
  .btn {
    width: 40px
  }
}
