<div class="l-progress-container"
     (click)="onChangeProggressPosition($event)"
     #container>
    <div class="l-progress-bar" [ngStyle]="{'width.%': progressPercentage}"></div>
    <!--div class="l-progress-toggle"
         [ngStyle]="{'left.%': progressPercentage ? progressPercentage.toFixed(2) : 0}"
         (click)="onMousedown($event)"
         (mouseup)="onMouseup($event)"
         (mousemove)="onMouseMove($event)">
    </div-->
</div>

