<div class="popup-container" mat-dialog-content>
  <div class="header">
    <span class="title"> {{ dataModel.title || 'Choose object visibility status' }}</span>
    <i-feather name="x" (click)="customEvent('close')"></i-feather>
  </div>
  <div class="content">
    <div
      class="loader-container"
      *ngIf="!dataModel.currentKeyValue || !dataModel.radioButtons"
      [meComponentLoading]="!dataModel.currentKeyValue || !dataModel.radioButtons"
    ></div>
    <ng-container *ngIf="dataModel.currentKeyValue && dataModel.radioButtons">
      <mat-radio-group class="radio" [(ngModel)]="dataModel.currentKeyValue" color="primary">
        <mat-radio-button
          class="radio-button"
          *ngFor="let button of dataModel.radioButtons"
          [value]="button.key"
          [disabled]="button.disabled"
        >
          {{ button.value }}
        </mat-radio-button>
      </mat-radio-group>
    </ng-container>
  </div>
  <div class="footer">
    <me-button class="button" [dataModel]="cancelBtn" (clickEvent)="customEvent('close')">{{
      dataModel.cancelButtonPlaceholder || 'Cancel'
    }}</me-button>
    <me-button class="button" [dataModel]="changeBtn" (clickEvent)="customEvent('change', dataModel.currentKeyValue)">
      {{ dataModel.changeButtonPlaceholder || 'Change' }}</me-button
    >
  </div>
</div>
