.popup-container {
  min-width: 500px;

  .header {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid var(--color-main-lighter);
    height: 54px;
    justify-content: space-between;

    .title {
      font-weight: 600;
      font-size: 1.14em;
      margin-left: 20px;
    }
  }

  .content {
    min-height: 100px;
    .loader-container {
      height: 100px;
    }

    .radio {
      display: flex;
      flex-direction: column;

      .radio-button {
        margin: 10px;
        font-weight: 600;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 78px;
    width: 100%;
    border-top: 1px solid var(--color-main-lighter);

    .button {
      margin-right: 20px;
    }
  }
}
