.certificate-box {
  display: flex;
  width: 100%;
  .ce-logo {
    height: 130px;
    width: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .ce-detail {
    width: calc(100% - 130px);
    padding-left: 20px;
    .ce-title-box {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      h3 {
        font-size: 16px;
        color: var(--color-main-darker);
        line-height: 22px;
        margin: 0;
        position: relative;
        padding-right: 25px;
      }
      .c-link {
        position: absolute;
        top: 2px;
        right: 0;
        color: var(--color-primary);
        me-icons {
          height: 16px;
          width: 16px;
        }
      }
      .c-urn-link-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .c-urn-link {
          position: relative;
          me-icons {
            height: 16px;
            width: 16px;
            position: absolute;
            top: 2px;
            left: -24px;
            color: var(--color-primary);
          }
        }
        me-context-menu {
          margin-top: -10px;
        }
      }
    }
    .status-date {
      margin: 13px 0 10px 0;
      me-label {
        display: inline-block;
      }
      .date {
        font-size: 12px;
        font-weight: bold;
        color: #7d8794;
        margin-left: 7px;
      }
    }
    p {
      font-size: 12px;
      font-weight: bold;
      color: #7d8794;
      line-height: 16px;
    }
    .ce-media {
      .media-title {
        @extend p;
      }
      .media-files {
        white-space: nowrap;
        overflow-x: auto;
        margin-top: 10px;
        li {
          background-color: #f6f6f6;
          height: 100px;
          width: 100px;
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
          display: inline-block;
          border-radius: 4px;
          margin-right: 10px;
          vertical-align: top;
          me-icons {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
