<div class="certificate-box">
  <div class="ce-logo" [ngStyle]="{ 'background-image': 'url(' + dataModel.logoDefault + ')' }"></div>
  <div class="ce-detail">
    <div class="ce-title-box">
      <h3>
        {{ dataModel.name }}
        <a *ngIf="dataModel.link" class="c-link" href="{{ dataModel.link }}" target="_blank"><me-icons name="Link"></me-icons></a>
      </h3>
      <div class="c-urn-link-container">
        <a class="c-urn-link" *ngIf="dataModel.urn" href="{{ dataModel.urn }}" target="_blank"
          ><me-icons name="contact-information"></me-icons> {{ dataModel.urn }}</a
        >
        <me-context-menu [dataModel]="dataModel.contextMenu" (itemClick)="customEvent('selectedContextMenu', $event)"></me-context-menu>
      </div>
    </div>
    <div class="status-date">
      <me-label [dataModel]="statusLabel">
        <span content>{{ dataModel.active ? 'ACTIVE' : 'INACTIVE' }}</span>
      </me-label>
      <span class="date" *ngIf="dataModel.issuedDate && dataModel.expirationDate"
        >{{ dataModel.issuedDate | date: 'MMM y' }} - {{ dataModel.expirationDate | date: 'MMM y' }}</span
      >
    </div>
    <p *ngIf="dataModel.companyCertificateName">{{ dataModel.companyCertificateName }}</p>
    <p *ngIf="dataModel.description">{{ dataModel.description }}</p>
    <div class="ce-media" *ngIf="dataModel.certDocument && dataModel.certDocumentExtension">
      <div class="media-title">{{ dataModel.mediaFiles }}</div>
      <ul class="scrollbar media-files">
        <li *ngIf="dataModel.certDocumentExtension === 'pdf'; else img">
          <a href="{{ dataModel.certDocument }}" target="_blank" rel="noopener noreferrer">
            <me-icons name="file-pdf"></me-icons>
          </a>
        </li>
        <ng-template #img>
          <li [ngStyle]="{ 'background-image': 'url(' + dataModel.certDocument + ')' }"></li>
        </ng-template>
      </ul>
    </div>
  </div>
</div>
