<lavash-popup closeBtnIcon="icon-resize1"
              (popupOpenEvent)="onPopupOpen($event)"
              (popupCloseEvent)="onPopupClose($event)">

    <!-- layout option : IMAGE SLIDER -->
    <div class="app-popup-slider" *ngIf="popupName === popupNameList.IMG_SLIDER">
        <app-img-slider  [sliderItem]="popupData.portfolioItem"
                         [sliderItems]="popupData.portfolioItems">
        </app-img-slider>
    </div>

    <!-- layout option : FULL STORY -->
    <lavash-article-card *ngIf="popupName === popupNameList.STORY"
                         [article]="popupData.story"
                         [articleImgPath]="articleImgPath">
    </lavash-article-card>

</lavash-popup>
