.form-item {
  margin-bottom: 0px;
}

:host ::ng-deep .label-wrap>label {
  font-size: 12px;
  color: grey;
  text-align: left;
  padding-left: 2px;
  text-transform: uppercase;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.requiredSymbol {
  &::after {
    display: inline-block !important;
    margin-right: 4px;
    content: "*";
    font-family: SimSun;
    line-height: 1;
    font-size: 14px;
    color: #c44747;
  }
}

.label-wrap {
  display: flex;
  justify-content: space-between;

  span {
    cursor: pointer;
  }
}

:host ::ng-deep .invalid {
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1.5px #ff5050;

  input {
    border: 0;
  }

  nz-select {

    div,
    input {
      border: 0;
    }
  }
}

.validation-error-message {
  color: #c44747;
  margin-top: 2px;
  margin-bottom: -5px;
}

.input-container {
  line-height: initial;
}

.vertical {
  .form-item {
    flex-direction: column;
  }
}
