<div *ngIf="formControl" [ngClass]="className">
  <nz-form-item [formGroup]="formGroup" class="form-item">
    <div class="label-wrap">
      <label
        [ngClass]="{'requiredSymbol': required && formGroup.root.enabled}"
        *ngIf="showLabel && label"
      >
        {{ label }}
      </label>
      <span *ngIf="infoText" nz-tooltip [nzTooltipTitle]="infoText">
        <i nz-icon nzType="info-circle" nzTheme="outline"></i>
      </span>
    </div>
    <nz-form-control
      [nzSpan]="horizontal ? inputCol : null"
      [nzOffset]="inputOffset"
      [nzValidateStatus]="formControl"
    >
      <div
        class="input-container"
        [ngClass]="{invalid: redBorderError && hasErrors && (formControl.dirty || formControl.touched)}"
        nz-tooltip
        nzTooltipPlacement="topLeft"
        [nzTooltipTitle]="hasErrors && ((formControl!.errors | objectFirstEl).message | translate)"
        [nzOverlayStyle]="{
          minWidth: '100px',
          display:  hasErrors && (formControl.dirty || formControl.touched)
            ? 'block'
            : 'none'
        }"
      >
        <ng-content></ng-content>
      </div>

      <div
        class="validation-error-message e2e-validation-error-message"
        *ngIf="
          showErrMessages
          && hasErrors
          && (formControl.dirty || formControl.touched)
        "
      >
        {{ (formControl!.errors | objectFirstEl).message | translate }}
      </div>
    </nz-form-control>
  </nz-form-item>
</div>

