:host ::ng-deep {
  h2 {
    color: #c2c2c2;
  }

  nv-grid {
    box-shadow: none;

    .grid-wrapper {
      overflow: auto;
      max-height: 400px;
      display: flex;
      flex-direction: column;
    }
  }
}
