.git-avatar {
    width: 150px;
    height: 150px;
    background: lightblue;
    border: 1px solid gainsboro;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

text-component {
    margin-top: 10px;
    transform: scale(.7);
}

img {
    width: 50px;
    height: 50px;
    background: #e7e7e7;
    border-radius: 50%;
}