<nv-paper-view>
  <div class="container">
    <nz-alert
      *ngIf="newOnlineUser"
      nzType="success"
      nzMessage="{{ newOnlineUser.name }} is online now"
      nzShowIcon
    ></nz-alert>

    <nz-alert
      *ngIf="disconnectedUser"
      nzType="info"
      nzMessage="{{ disconnectedUser }} is disconnected"
      nzShowIcon
    ></nz-alert>
  </div>

  <nz-tabset>
    <nz-tab nzTitle="Direct Messages">
      <ng-template nz-tab>
        <nv-real-time-chat
          mode="direct"
          (newOnlineUser)="onNewOnlineUser($event)"
          (disconnectedUser)="onDisconnectedUser($event)"
        ></nv-real-time-chat>
      </ng-template>  
    </nz-tab>
    <nz-tab nzTitle="Group Messages">
      <ng-template nz-tab>
        <nv-real-time-chat
          mode="group"
          receiverChannel="SendGroup"
          invokeMethod="SendMessageToGroup"
        ></nv-real-time-chat>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="General Notifications">
      <ng-template nz-tab>
        <nv-real-time-chat
          mode="all"
          receiverChannel="SendAll"
          invokeMethod="SendMessageToAll"
        ></nv-real-time-chat>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</nv-paper-view>
