:host {
  height: calc(100% - 45px);
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
}

.component-wrap {
  height: 100%;
  .nv-content.content {
    height: 100%;

    nv-detail-view-actions ::ng-deep .actionsRow {
      margin-right: 0;

      [data-crud-action-button="save"] {
        margin-right: 0;
      }
    }
  }
}

.form-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

nv-fieldset {
  flex: 1;
}

label[nz-checkbox][nz-row] {
  display: block;
  margin-left: 0;
  margin-top: 15px;
  white-space: nowrap;
}

nz-radio-group[formControlName="type"] {
  display: flex;
  flex-wrap: nowrap;
}
