<div class="component-wrap">
  <div class="nv-content content">
    <div class="actions-row">
      <nv-detail-view-actions
        [inEditingMode]="editMode"
        (editClicked)="enterEditMode()"
        (cancelClicked)="cancelEditing()"
        (saveClicked)="submit()"
        [form]="form"
        [formElement]="formElement"
      >
      </nv-detail-view-actions>
    </div>
    <div
      class="form-wrapper"
      *ngIf="form"
    >
      <form
        nvSpyElement
        (initialized)="formInitialized($event)"
        [formGroup]="form"
        class="form-group"
        nz-form
        nzLayout="vertical"
      >
        <div
          class="form-content-wrapper"
          nz-row
          nzGutter="20"
          nzType="flex"
        >
          <nv-fieldset
            nz-col
            class="details"
            [label]="wording.general.details | translate"
          >
            <div class="fieldset-content-wrapper">
              <nv-input-wrapper [label]="wording.chartering.shortName | translate">
                <input
                  nz-input
                  formControlName="shortName"
                />
              </nv-input-wrapper>
              <nv-input-wrapper [label]="wording.general.nameEnglish | translate">
                <input
                  nz-input
                  formControlName="labelEn"
                />
              </nv-input-wrapper>
              <nv-input-wrapper [label]="wording.general.nameGerman | translate">
                <input
                  nz-input
                  formControlName="labelDe"
                />
              </nv-input-wrapper>
              <nv-input-wrapper [label]="wording.chartering.type | translate">
                <nz-radio-group formControlName="type">
                  <label
                    *ngFor="let type of expensesTypes"
                    nz-radio
                    [nzDisabled]="form.get('type').disabled"
                    [nzValue]="type.value"
                  >
                    {{ type.displayLabel | translate }}
                  </label>
                </nz-radio-group>
              </nv-input-wrapper>
              <label
                nz-row
                nz-checkbox
                formControlName="isDefaultForTcVoyages"
              >
                {{ wording.chartering.defaultForTcVoyages | translate }}
              </label>
              <label
                nz-row
                nz-checkbox
                formControlName="isActive"
              >
                {{ wording.general.active | translate }}
              </label>
            </div>
          </nv-fieldset>

          <nv-fieldset
            nz-col
            class="accounting"
            [label]="wording.accounting.accounting | translate"
          >
            <div class="fieldset-content-wrapper">
              <nv-booking-account-autocomplete [form]="form">
              </nv-booking-account-autocomplete>
              <nv-input-wrapper [label]="wording.chartering.costType | translate">
                <input
                  nz-input
                  formControlName="costType"
                />
              </nv-input-wrapper>
              <nv-booking-code-autocomplete [form]="form"></nv-booking-code-autocomplete>
            </div>
          </nv-fieldset>
        </div>
      </form>
    </div>
  </div>
</div>