<nv-paper-view>
  <nv-list-select
    [resource]="(mandators$ | async) | filterStream: { isAutoBankWorkflow: true }"
    [properties]="['no', 'name']"
    [selectType]="SelectType.Radio"
    [getLabel]="mandatorNoModifier"
    (selectedId)="selectedMandatorId = $event"
  ></nv-list-select>
  <nv-grid
    [dataSource]="(autobankRuleRepo.getStream() | async) | filterStream: { mandatorId: selectedMandatorId }"
    [gridConfig]="gridConfig"
  ></nv-grid>
</nv-paper-view>
