<div class="image-upload-container box-sizing-border-box" meDragDrop (fileDropped)="onDropped($event)" *ngIf="uploadImageData">
  <ng-container *ngIf="!uploadImageData.thumbnail && !uploadImageData.showProgress">
    <div class="img" [ngStyle]="{ 'background-image': 'url(' + uploadImageData.backgroundimage + ')' }"></div>
  </ng-container>
  <ng-container *ngIf="uploadImageData.thumbnail && !uploadImageData.showProgress">
    <div class="img" [ngStyle]="{ 'background-image': 'url(' + uploadImageData.thumbnail + ')' }"></div>
  </ng-container>
  <div *ngIf="!uploadImageData.disabled" class="middle" (click)="fileInput.click()">
    <me-icons name="camera"></me-icons>
    <div class="text">
      {{ uploadImageData.thumbnail ? 'Update' : 'Upload' }}
      <span>{{ uploadImageData.dimensions }}</span>
    </div>
  </div>
  <input
    hidden
    (change)="handleFileInput($event)"
    #fileInput
    type="file"
    id="file"
    class="droparea"
    accept="{{ uploadImageData.acceptPhotoExtensions }}"
  />
  <ng-container *ngIf="uploadImageData.showProgress && fileToUpload">
    <div class="progress-bar">
      <mat-progress-bar mode="determinate" value="{{ uploadImageData.percentageDone }}"></mat-progress-bar>
    </div>
  </ng-container>
</div>
