@import "../../../core/styles/variables";

:host {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;

  &::ng-deep router-outlet + * {
    height: 100%;
  }
}

.nv-router-tabs-main {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
}

:host ::ng-deep {
  .tabs-scroll-container {
    overflow-y: auto;
    max-width: 98vw !important;
    min-height: 50px;

    &::-webkit-scrollbar-track {
      border-radius: 8px;
      opacity: 1;
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      opacity: 1;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: $primary;
      transition: background-color .3s;
    }
  }
}
