<div class="nv-router-tabs-main">
  <nv-tabset class="sticky-always-on-top">
    <ng-container *ngFor="let node of tabNodes; let index=index">
      <nv-tab
        *ngIf="!node.hidden"
        [title]="node.title | translate"
        [path]="node.path"
        [selected]="selectedTabIndex === index"
        [isDataMissing]="isDataMissing && (isDataMissing(node) | async)"
        [disabled]="disabledNodes.includes(node)"
        (nvClick)="tabClicked(node)"
        [missingDataWording]="node.notAllowedTabMessage || wording.general.dataMissing"
      ></nv-tab>
    </ng-container>
  </nv-tabset>
  <router-outlet></router-outlet>
</div>
