<div class="action-buttons">
  <ng-container *ngFor="let d of data">
    <ng-template
      *meTableActionButtonWrapper="{component: d.component, subject: tableDataChangeEvent, componentData: d.componentData, type:  d.type}">
    </ng-template>
  </ng-container>
</div>
