<nv-paper-view
  [routeBack]="routeBack"
  [customTitle]="wording.system.globalSettings | translate"
  [routeBack]="false"
>
  <nv-detail-view-actions
    header
    [inEditingMode]="form?.enabled"
    (editClicked)="enterEditMode()"
    (cancelClicked)="exitEditMode()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>
  <!-- Content -->
  <div class="form-wrapper">
    <form
      nvSpyElement
      (initialized)="formInitialized($event)"
      *ngIf="form"
      [formGroup]="form"
      class="main"
    >
      <ng-container formArrayName="accountingRelationRanges">
        <h3 class="group-title"> {{wording.accounting.accountingRelation | translate}} </h3>
        <div class="ranges-title">
          <label>{{ wording.general.rangeStart  | translate | uppercase }}</label>
          <label>{{ wording.general.rangeEnd | translate | uppercase }}</label>
        </div>
        <div
          *ngFor="let group of form.get('accountingRelationRanges')['controls']; let i=index"
          [formGroupName]="i"
          class="wrap"
        >
          <nv-range-start-end
            [form]="group"
            [showLabel]="false"
          ></nv-range-start-end>

          <nz-select
            nzShowSearch
            nzAllowClear
            [nzPlaceHolder]="wording.accounting.selectAccountingRelationType | translate"
            formControlName="type"
          >
            <nz-option
              *ngFor="let option of accountingRelationTypesOptions"
              [nzLabel]="option.displayLabel | translate"
              [nzValue]="option.value"
              nzCustomContent
            >
              <div [attr.data-accounting-relation-option]="option.displayLabel.en">
                {{ option.displayLabel | translate }}
              </div>
            </nz-option>
          </nz-select>
          <div class="btn-wrap">
            <button
              nz-button
              type="button"
              nzType="danger"
              (click)="removeAccountingRelation(i)"
              [disabled]="form.disabled"
            >
              <i
                nz-icon
                nzType="delete"
                nzTheme="outline"
              ></i>
            </button>
          </div>
        </div>
        <div class="btn-wrap">
          <p>{{overlappedAccountingRelation}}</p>
          <button
            nz-button
            type="button"
            nzType="primary"
            (click)="addAccountingRelation()"
            [disabled]="form.disabled"
          >
            <i
              nz-icon
              nzType="plus-circle"
              nzTheme="outline"
            ></i>
          </button>
        </div>
      </ng-container>
      <ng-container formArrayName="debitorCreditorRanges">
        <h3>{{wording.accounting.debitorCreditor | translate}}</h3>
        <div class="ranges-title">
          <label>{{ wording.general.rangeStart  | translate | uppercase }}</label>
          <label>{{ wording.general.rangeEnd | translate | uppercase }}</label>
        </div>
        <div
          *ngFor="let group of form.get('debitorCreditorRanges')['controls']; let i=index"
          [formGroupName]="i"
          class="wrap"
        >
          <nv-range-start-end
            [form]="group"
            [showLabel]="false"
          ></nv-range-start-end>
          <nz-select
            nzShowSearch
            nzAllowClear
            [nzPlaceHolder]="wording.accounting.selectAccountType | translate"
            formControlName="type"
          >
            <nz-option
              *ngFor="let option of creditorDebitorOptions"
              [nzLabel]="option.displayLabel | translate"
              [nzValue]="option.value"
              nzCustomContent
            >
              <div [attr.data-creditor-debitor-option]="option.displayLabel.en">
                {{ option.displayLabel | translate }}
              </div>
            </nz-option>
          </nz-select>

          <div class="btn-wrap">
            <button
              nz-button
              type="button"
              nzType="danger"
              (click)="removeAccountingType(i)"
              [disabled]="form.disabled"
            >
              <i
                nz-icon
                nzType="delete"
                nzTheme="outline"
              ></i>
            </button>
          </div>
        </div>
        <div class="btn-wrap">
          <p>{{overlappedDebitorCreditor}}</p>
          <button
            nz-button
            type="button"
            nzType="primary"
            (click)="addAccountingType()"
            [disabled]="form.disabled"
          >
            <i
              nz-icon
              nzType="plus-circle"
              nzTheme="outline"
            ></i>
          </button>
        </div>
      </ng-container>

      <h3>{{wording.accounting.accrualAccounting | translate}}</h3>
      <nv-booking-account-autocomplete
        [form]="form"
        [autofocus]="false"
        [setNullIfNotFound]="true"
        [label]="wording.accounting.defaultAccountPrepaidExpenses"
        controlName="defaultAccountPrepaidExpensesId"
        [filters]="{ isAccruedAndDeferredItem: true, accountTypeAccruals: ACCOUNT_TYPE_ACCRUALS.AccountPrepaidExpenses }"
      >
      </nv-booking-account-autocomplete>
      <br />
      <nv-booking-account-autocomplete
        [form]="form"
        [autofocus]="false"
        [setNullIfNotFound]="true"
        [label]="wording.accounting.defaultAccountDeferredIncome"
        controlName="defaultAccountDeferredIncomeId"
        [filters]="{ isAccruedAndDeferredItem: true, accountTypeAccruals: ACCOUNT_TYPE_ACCRUALS.AccountDeferredIncome }"
      >
      </nv-booking-account-autocomplete>
      <br />
      <nv-email-domains formControlName="emailDomains"></nv-email-domains>
    </form>
  </div>

</nv-paper-view>