:host {
  display: flex;
  overflow: hidden;

  // .nv-content element cares about scrolling
  // so .form-wrapper has to fit its content
  .form-wrapper {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
}
nv-paper-view {
  p {
    max-width: 800px;
  }

  h1 {
    margin: 0px;
  }

  nz-select {
    min-width: 245px;
    margin-left: 3px;
  }

  .wrap {
    display: flex;
  }

  .btn-wrap {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;

    p {
      color: #c44747;
    }
  }

  .ranges-title {
    display: flex;

    label {
      margin-bottom: 3px;
      margin-bottom: 3px;
      width: 135px;
      margin-left: 4px;
      font-size: 12px;
      font-weight: 700px;
      color: grey;
    }
  }

  .save-btn-wrap {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
  }
}

.main{
  padding: 10px;
}

.group-title{
  margin-bottom: 12px;
}

:host ::ng-deep {
  .ant-row {
    display: block !important;
  }
}
