<nv-paper-view
  [routeBack]="!creationMode && routeBack"
  [customTitle]="
    creationMode ? (wording.general.create | translate) : (title$ | async)
  "
>
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <div class="form-wrap">
    <form
      *ngIf="form"
      nvSpyElement
      (initialized)="formInitialized($event)"
      [formGroup]="form"
      nz-form
      nzLayout="vertical"
      class="form"
      nz-row
    >
      <div
        nz-col
        nzSpan="12"
      >
        <nv-fieldset>
          <nv-input-wrapper [label]="wording.general.nameDe | translate">
            <input
              type="text"
              formControlName="labelDe"
              [placeholder]="wording.general.nameDe | translate"
              nz-input
            />
          </nv-input-wrapper>

          <nv-input-wrapper [label]="wording.general.nameEn | translate">
            <input
              type="text"
              formControlName="labelEn"
              [placeholder]="wording.general.nameEn | translate"
              nz-input
            />
          </nv-input-wrapper>

          <nv-input-wrapper [label]="wording.accounting.abbreviation | translate">
            <input
              formControlName="abbreviation"
              [placeholder]="wording.accounting.abbreviation | translate"
              nz-input
              maxlength="2"
              (keydown)="onAbbreviationKeyDown($event)"
            />
          </nv-input-wrapper>
        </nv-fieldset>
      </div>
    </form>
  </div>
</nv-paper-view>