<nv-paper-view [customTitle]="customTitle" [routeBack]="routeBack">
  <div class="sections-wrap">
    <div class="left-section">
      <nv-fieldset [label]="wording.technicalManagement.vessels | translate">
        <nv-vessels-list
          *ngIf="availableVesselIds"
          [availableVesselIds]="availableVesselIds"
          [chartererNames]="chartererNames"
          (vesselChecked)="onVesselChecked($event)"
          (chartersChecked)="onCharterChecked($event)"
        >
        </nv-vessels-list>
      </nv-fieldset>
      <div class="alarm-resubmission">
        <h2 class="title">
          {{ wording.technicalManagement.alarmResubmission | translate }}
        </h2>
        <div class="resubmission-bar" *ngFor="let bar of alarmResubmission">
          <label
            nz-checkbox
            [ngModel]="activeBars[bar.key]"
            (ngModelChange)="barClick(bar.key)"
          >
          </label>
          <div class="bar-wrap" (click)="barClick(bar.key)">
            <div
              class="bar"
              [style.width.%]="resubmissionRelativeFrequency[bar.key]"
              [ngClass]="[bar.className]"
            >
              <span>
                {{ resubmissionRelativeFrequency[bar.key] }} %
              </span>
            </div>
          </div>
          <div class="count">
            {{ wording.technicalManagement.reports | translate }}: {{ resubmissionCounts[bar.key] }}
          </div>
        </div>
        <div class="legend">
          <div *ngFor="let l of alarmResubmission" class="sqr-text-wrap">
            <span [ngClass]="[l.className]" class="square"></span>
            <span>{{ l.title | translate }}</span>
          </div>
        </div>
        <div class="total-wrap">
          <span class="total-count">
            {{ wording.general.totalReports | translate }}: {{ totalCount }}
          </span>
        </div>
      </div>
    </div>
    <nv-grid
      content
      [gridConfig]="gridConfig"
      [dataSource$]="dataSource$"
      (gridConfigChangedOnSave)="gridConfigService.update($event)"
    >
    </nv-grid>
  </div>
</nv-paper-view>
