:host ::ng-deep .nv-paper .nv-content {
  width: 100% !important;
  padding: 10px;
}

:host ::ng-deep nv-grid {
  .toolbar-buttons {
    min-width: fit-content;
    width: 100%;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    text-align: right;
    white-space: nowrap;

    nv-button {
      @media screen and (max-width: 1200px) {
        float: none !important;
        display: inline-block !important;
        vertical-align: middle;
        margin-top: 0px !important;
      }

      button {
        transition: 0s;

        > * {
          transition: 0s;
        }
      }
    }

    nv-button.nv-download-as-excel-button {
      order: 6;
      margin-left: 70px;
      border-radius: 7px;
      @media screen and (max-width: 1440px) {
        margin-left: 35px;
      }

      & > button {
        border-radius: inherit;
        background-color: inherit;
      }
    }

    nv-button.toolbar-button-create {
      order: 7;
    }

    nv-drop-down {
      order: 8;
      overflow: unset;
    }

    nv-button.toolbar-red-button {
      text-align: left;
      float: left;
      margin: 0;
      color: #fff;
      position: relative;
      height: 50px;
      width: auto;
      margin-left: 35px;
      line-height: 50px;
      display: block;

      button {
        text-overflow: ellipsis;
        overflow: hidden;
        color: #fff;
        padding: 0 20px;
        border: 0;
        height: 50px;
        width: 150px;
        font-size: 15px;
        @media screen and (max-width: 1440px) {
          font-size: 14px;
          width: 130px;
        }
        line-height: 50px;
        border-radius: 0;
        position: relative;
        text-align: center;

        &:hover {
          border: 0 !important;
        }
      }

      &:before {
        content: "";
        width: 0;
        height: 0;
        border-top-width: 25px;
        border-bottom-width: 25px; //  solid #ffffff
        border-left-width: 30px; //  solid transparent
        border-style: solid;
        position: absolute;
        top: 0;
        left: -30px;
        border-left-color: transparent;
      }

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-top-width: 25px; //  solid transparent
        border-bottom-width: 25px; // solid transparent
        border-left-width: 30px; // solid #231f20
        border-style: solid;
        position: absolute;
        bottom: 0;
        border-top-color: transparent;
        border-bottom-color: transparent;
      }

      &.toolbar-button-rating-required {
        order: 1;
        margin-left: -5px;

        button {
          background-color: #f44336;
        }
        &:before {
          border-width: 0;
        }
        &:after {
          border-left-color: #f44336;
        }
      }

      &.toolbar-button-release-required {
        order: 2;
        button {
          background-color: #e53935;
        }
        &:before {
          border-top-color: #e53935;
          border-bottom-color: #e53935;
        }
        &:after {
          border-left-color: #e53935;
        }
      }

      &.toolbar-button-in-progress {
        order: 3;
        button {
          background-color: #d32f2f;
        }
        &:before {
          border-top-color: #d32f2f;
          border-bottom-color: #d32f2f;
        }
        &:after {
          border-left-color: #d32f2f;
        }
      }

      &.toolbar-button-invoice-created {
        order: 4;
        button {
          background-color: #c62828;
        }
        &:before {
          border-top-color: #c62828;
          border-bottom-color: #c62828;
        }
        &:after {
          border-left-color: #c62828;
        }
      }

      &.toolbar-button-cleared {
        order: 5;
        margin-right: auto;

        button {
          background-color: #b71c1c;
        }
        &:before {
          border-top-color: #b71c1c;
          border-bottom-color: #b71c1c;
        }
        &:after {
          border-left-color: #b71c1c;
        }
      }

      &.active {
        button {
          color: #ffed00;
          font-weight: 600;
        }
      }

      &.inactive {
        button {
          background: #948686 !important;
        }
        &:before {
          border-top-color: #948686;
          border-bottom-color: #948686;
        }
        &:after {
          border-left-color: #948686;
        }
      }
    }
  }
}


.alarm-resubmission {
  .on-time {
    background: #3c3cba;
  }
  .expiring {
    background: #1da11d;
  }
  .overdue {
    background: #c44747de;
  }
  .title {
    text-align: center;
    font-size: 28px;
    padding: 5px 0;
    margin: 0px;
    font-weight: 400;
  }

  .resubmission-bar {
    .bar-wrap {
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-grow: 1;
      margin-left: 5px;
      background: #80808088;
    }
    .count {
      padding-left: 5px;
    }

    display: flex;
    align-items: center;
    margin-bottom: 5px;

    .bar {
      color: #fff;
      padding: 5px;
      border-radius: 4px;
      min-width: fit-content;
      text-align: center;
      width: 100%;
      height: 30px;
    }
  }
  .legend {
    @media screen and (max-width: 1440px) {
      flex-direction: column;
    }
    display: flex;
    justify-content: space-around;
    .sqr-text-wrap {
      display: flex;
      align-items: center;
      .square {
        border: 1px solid #ccc;
        width: 12px;
        height: 12px;
        margin-right: 2px;
      }
    }
  }
  .total-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

:host ::ng-deep .sections-wrap {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  align-items: end;
  height: 100%;
  .left-section {
    overflow: auto;
    .ant-list {
      &.ant-list-split {
        overflow: auto;
        max-height: 27rem;
      }
    }
    grid-column: span 4 / auto;
    @media screen and (max-width: 1024px) {
      grid-column: span 6 / auto;
    }
    padding: 0px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    nv-fieldset {
      flex: 1;
      fieldset {
        height: auto;
      }
    }
  }
  nv-grid {
    grid-column: span 20 / auto;
    @media screen and (max-width: 1024px) {
      grid-column: span 18 / auto;
    }
  }
}

.inactive {
  background: #948686 !important;
}
