<nv-fieldset [label]="wording.accounting.mandators | translate">
  <div class="mandators-list-wrap">
    <div class="header">
      <div class="actions">
        <button nz-button nzType="primary" (click)="onAllSelected()">
          <i nz-icon nzType="check-square" nzTheme="outline"></i>
          {{ wording.accounting.selectAllMandators | translate }}
        </button>

        <button nz-button nzType="default" (click)="onAllCleared()">
          {{ wording.accounting.clearAll | translate }}
          <i nz-icon nzType="close-circle" nzTheme="outline"></i>
        </button>
      </div>

      <div class="search-box">
        <form [formGroup]="form" class="invoice-num-voucher-num-search">
          <nv-autocomplete
            [resource]="invoiceLedger$ | async"
            [title]="wording.accounting.invoiceLedger | translate"
            [placeholder]="
              (wording.accounting.invoiceNo | translate) +
              ' ' +
              (wording.accounting.voucherNo | translate)
            "
            [modalGridConfig]="invoiceLedgerGridConfig"
            [properities]="['invoiceNumber', 'voucherNumber']"
            [takeFirst]="false"
            formControlName="invoiceLedgerId"
          ></nv-autocomplete>
        </form>
        <hr />
        <nz-input-group nzAddOnAfterIcon="search">
          <input
            type="text"
            [placeholder]="wording.accounting.mandator | translate"
            nz-input
            [(ngModel)]="mandatorSearchInputValue"
            (keyup)="onMandatorSeach()"
          />
        </nz-input-group>
      </div>
    </div>

    <div class="mandators-list">
      <nz-list
        [nzDataSource]="mandatorsList"
        [nzRenderItem]="m"
        [nzLoading]="isLoading$ | async"
        nzItemLayout="horizontal"
      >
        <ng-template #m let-m>
          <nz-list-item>
            <nz-list-item-meta
              [nzTitle]="nzTitle"
              [nzDescription]="nzDescription"
              [nzAvatar]="checkbox"
            >
              <ng-template #nzTitle>
                <span>{{ m?.noView }} </span>
              </ng-template>

              <ng-template #nzDescription>
                <p>{{ m?.name }}</p>
              </ng-template>

              <ng-template #checkbox>
                <label
                  nz-checkbox
                  [(ngModel)]="checkedMandators[m.id]"
                  (ngModelChange)="onMandatorsChecked()"
                >
                </label>
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>
  </div>
</nv-fieldset>

<nv-fieldset [label]="wording.accounting.invoiceLedgerBookingYear | translate">
  <div class="mandators-list-wrap">
    <div class="header">
      <div class="actions">
        <button nz-button nzType="primary" (click)="onAllBookingYearsChecked()">
          <i nz-icon nzType="check-square" nzTheme="outline"></i>
          {{ wording.accounting.selectAllBookingYears | translate }}
        </button>

        <button nz-button nzType="default" (click)="onAllBookingYearsCleared()">
          {{ wording.accounting.clearAll | translate }}
          <i nz-icon nzType="close-circle" nzTheme="outline"></i>
        </button>
      </div>

      <div class="search-box">
        <nz-input-group nzAddOnAfterIcon="search">
          <input
            type="text"
            nz-input
            [(ngModel)]="invoiceLedgerYearInputValue"
            (keyup)="onBookingYearSeach()"
          />
        </nz-input-group>
      </div>
    </div>

    <div class="mandators-list">
      <nz-list
        [nzDataSource]="bookingYears"
        [nzRenderItem]="n"
        [nzLoading]="isLoading$ | async"
        nzItemLayout="horizontal"
      >
        <ng-template #n let-n>
          <nz-list-item>
            <nz-list-item>
              <p>
                <label
                  nz-checkbox
                  [(ngModel)]="checkedYears[n]"
                  (ngModelChange)="onMandatorsChecked()"
                >
                </label>
                {{ n }}
              </p>
            </nz-list-item>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>
  </div>
</nv-fieldset>
