@import '../../../assets/less/variables.less';

/*.l-error {
  height: 30px;
  border-radius: 3px;
  padding: 0 3px;
}

.l-error {
  width: 150px;
  border: 1px solid @gray;
}*/

.l-msg-container {
  font-size: .8rem;
  margin-bottom: 3px;

  border: none;
  line-height: 15px;

  &.l-error {
    color: @red;
  }

  &.l-success {
    color: @green;
  }

  &.l-info {
    color: @blue;
  }
}
