@import 'global/breakpoints';

.loader-container {
  width: 100%;
  height: 100%;
}

.stepper-container {
  width: 100%;
  height: 100%;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .click-holder {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .step-label-heading {
    display: block;
    color: var(--color-body-font);
    font-size: 14px;
    margin-bottom: 3px;
    margin-left: 10px;
  }

  .step-label-heading-active {
    color: var(--color-primary);
  }

  .step-label-heading-completed {
    color: var(--color-success);
  }

  .step-label-subheading {
    display: block;
    color: #9a9c9e;
    font-size: 12px;
    margin-left: 10px;
  }

  .step-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .step-content-label {
      font-size: 38px;
      max-width: 900px;
      width: 100%;
      margin: 30px 0;
    }


    .attribute-group-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      max-width: 900px;
      width: 100%;

      @include tablet {
        flex-wrap: wrap;
      }

      .thumbnail-container {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 2px var(--black-box-shadows), 0px 2px 3px var(--black-box-shadows);
        border-radius: 4px;
        padding: 8px;
        margin-top: 24px;

        .icon {
          width: 80px;
          height: 80px;
          text-align: center;
        }
      }

      .ulpoad-container {
        max-width: 900px;
        width: 100%;
        height: 215px;
        padding: 0 30px;
      }

      .group-container {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
        max-width: 560px;

        .group-label {
          width: calc(100% - 20px);
          font-size: 16px;
          margin: 10px;
        }

        .row-container {
          display: flex;
          flex-flow: row wrap;
          align-items: flex-start;
          justify-items: flex-start;
        }
      }
    }

    .certificate-group-container {
      align-items: flex-start;


      .icon-container .img-certi {
        width: 100%;
        height: 100%;
      }
    }

    .circle-proggress-bar-container {
      align-self: flex-end;
      position: sticky;
      top: 30px;
      right: 10px;
      z-index: 1;
      height: 0px;
      overflow: visible;
    }

    .column {
      flex-direction: column;
    }

    .button-section {
      width: 100%;
      height: 100px;
      padding: 0 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &.single {
        justify-content: flex-end;
      }

      me-button {
        margin-right: 20px;
      }
    }
  }
}
