<div class="loader-container" *ngIf="!companydomain" [meComponentLoading]="!companydomain"></div>
<div class="stepper-container" *ngIf="companydomain">
  <mat-horizontal-stepper linear #stepper class="user-select-none" (selectionChange)="markFormAsTouched($event)">
    <ng-template matStepperIcon="edit">
      <i-feather name="check" class="step-label-heading-completed icon"></i-feather>
    </ng-template>

    <mat-step #stepOne *ngIf="companyInfoAttributeForm && comapanyInfoAttributeItemMap" [stepControl]="companyInfoAttributeForm">
      <ng-template matStepLabel>
        <div class="click-holder" (click)="checkStepBeforeSwitch(0)"></div>
        <span
          [ngClass]="{
            'step-label-heading': true,
            bold: true,
            'step-label-heading-active': stepper.selected === stepOne,
            'step-label-heading-completed': stepOne.completed && stepper.selected !== stepOne
          }"
        >
          {{ i18nStrings.companyInfo }}</span
        >

        <span class="step-label-subheading">{{ i18nStrings.companyInfoSubheading }}</span>
      </ng-template>

      <div class="step-content">
        <div class="attribute-group-container column">
          <div *ngFor="let group of companyInfoLayoutGroups" class="group-container">
            <div class="group-label bold">{{ group.displayName }}</div>

            <div *ngFor="let row of group.rows" class="row-container" [attr.data-row]="row.rowIndex">
              <ng-container *ngFor="let rowAttribute of row.attributes">
                <me-attribute 
                  [attributeItem]="comapanyInfoAttributeItemMap.get(rowAttribute.internalName)"
                  [attWidth]="rowAttribute.width"
                  [attr.data-row]="rowAttribute.row"
                  [attr.data-column]="rowAttribute.column"
                ></me-attribute>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="button-section single">
          <me-button [dataModel]="buttonSubmit.data" (clickEvent)="updateCompany(companyInfoAttributeForm)"
            >{{ buttonSubmit.label }}
          </me-button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
