<div [class.opt-required-input-attribute-wrapper]="data.optRequired && !data.required">
  <mat-form-field [formGroup]="form">
    <mat-label [class.mark-required]="data.required" [class.mark-opt-required]="data.optRequired && !data.required">{{
      data.displayName
    }}</mat-label>
    <mat-select [formControlName]="data.internalName" multiple>
      <mat-select-trigger>
        <mat-chip-list>
          <mat-chip *ngFor="let label of multiselectLabels" [removable]="!data.disabled" (removed)="multiselectItemRemoved(label)">
            <span class="truncate">{{ label }}</span>
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-select-trigger>

      <mat-option>
        <ngx-mat-select-search
          [formControl]="searchFilterCtrl"
          placeholderLabel="Search"
          noEntriesFoundLabel="No matches"
        ></ngx-mat-select-search>
      </mat-option>

      <mat-option *ngFor="let optionValue of filteredValues | async" [value]="optionValue.value" (click)="refreshChips()">{{
        optionValue.displayName
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
