<div  class="detail-view-main">
  <nv-detail-view-actions
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
  >
  </nv-detail-view-actions>

  <nv-grid
    [gridConfig]="gridConfig"
    [dataSource$]="dataSource$"
    (rowSelectionChanged)="rowSelectionChanged($event)"
    (gridConfigChangedOnSave)="gridConfigService.update($event)"
  >
  </nv-grid>
</div>
