@import 'src/app/core/styles/_mixins';

:host {
  display: flex;
  width: 1000px;
  max-width: 100%;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &:not([disabled="true"]) .todo-list-container {
    padding: 20px 0;

    .labels-container {
      flex-wrap: wrap;
    }
    .fields-labels {
      width: 100%;
    }
    .dates {
      margin-right: 108px;
    }
  }
}

.todo-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  label {
    color: gray;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .title {
    font-size: 16px;
    margin-left: 5px;
    flex: 1;
    max-width: 350px;
    margin-right: 10px;
  }

  .labels-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-left: 3px;
  }
  .fields-labels {
    width: fit-content;
   display: flex;    
  }
  .name {
    flex: 1;
    max-width: 350px;

    &:first-child {
      margin-left: 5px;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  .dates {
    display: flex;
    margin-right: 45px;

    > label {
      width: 120px;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

}

.todo-list {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  @include setScrollBar(4px);
  padding: 3px;
  padding-right: 10px;
}

.custom-placeholder {
  border-radius: 4px;
  background: rgb(209, 209, 209);
  border: dotted 1px #999;
  height: 40px;
  width: 970px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
