<div class="todo-list-container">
  <label class="title" *ngIf="!value.length">
    {{ wording.general.checklistItems | translate }}:
  </label>
  <div class="labels-container" *ngIf="value.length">
    <label class="title">
      {{ wording.general.checklistItems | translate }}:
    </label>
    <div class="fields-labels">
      <label
        *ngIf="showEnLabel"
        class="name"
      >
        {{ wording.general.nameEn | translate }}
      </label>
      <label
        *ngIf="showDeLabel"
        class="name"
      >
        {{ wording.general.nameDe | translate }}
      </label>
      <div class="dates">
        <label>
          {{ wording.general.started | translate }}
        </label>
        <label>
          {{ wording.general.done | translate }}
        </label>
      </div>
    </div>
  </div>
  <div
    class="todo-list"
    cdkDropList
    (cdkDropListDropped)="handleDrop($event)"
    dropAutoScrollContainer=".todo-list"
  >
    <button
      *ngIf="!value.length && !disabled"
      nz-button
      nzType="default"
      nzShape="circle"
      (click)="addTodo()"
    >
      <i nz-icon nzType="plus" nzTheme="outline"></i>
    </button>

    <nv-vessel-task-todo-item
      *ngFor="let item of value; let i = index"
      [(value)]="value[i]"
      (add)="addTodo(i + 1)"
      (delete)="deleteTodo(i)"
      (focus)="handleFocus($event)"
      (blur)="handleBlur($event)"
      (valueChange)="handleTodoChange()"
      (statusChange)="statusChange.emit()"
      [disabled]="disabled"
      cdkDrag
      cdkDragLockAxis="y"
      [cdkDragDisabled]="disabled || hasFocusedInput"
      cdkDragBoundary=".todo-list-container"
      [languageType]="languageType"
      [showOppositeLangueIfFieldEmpty]="showOppositeLangueIfFieldEmpty"
    >
      <div
        *cdkDragPlaceholder
        class="custom-placeholder"
      ></div>
    </nv-vessel-task-todo-item>
  </div>
</div>
