<div class="nv-paper paper">
  <div class="nv-header header flex">
    <nv-route-back-button (click)="routeBack()"></nv-route-back-button>
    <div class="nv-title">Form Frame Example ?</div>
  </div>

  <div class="nv-content flex content">
    <nv-fieldset label="example">
      <form [formGroup]="form" nz-form nzLayout='vertical'>
        <div nz-row nzGutter="22">
          <div nz-col nzSpan="18">
            <nv-input-wrapper label="First Name">
              <input formControlName="firstName" type="text" placeholder="First Name" nz-input>
            </nv-input-wrapper>
            <nv-input-wrapper label="Last Name">
              <input formControlName="lastName" type="text" placeholder="Last Name" nz-input>
            </nv-input-wrapper>
            <button nz-button nzType="primary" (click)="submit()">Submit</button>
          </div>
        </div>
      </form>
    </nv-fieldset>
    </div>
  </div>
