<div>
  <div class="content">
    <nv-interval-list
      [intervalItems]="billings"
      [selectedId]="selectedInterval?.id"
      [disabled]="inEditMode"
      [withCreateOption]="authService.canCreate(zone)"
      [creationMode]="inCreationMode"
      [withOrderNumber]="true"
      [width]="250"
      (select)="intervalClicked($event)"
      (create)="addIntervalClicked()"
    >
    </nv-interval-list>

    <div class="intervalDetails">
      <div class="actionBar">
        <button
          *ngIf="selectedInterval?.id"
          nz-button
          nzType="dashed"
          class="btn delete-button"
          (click)="deleteClicked()"
          data-crud-action-button="delete"
        >
          {{ wording.general.delete | translate }}
        </button>
        <nv-detail-view-actions
          *ngIf="selectedInterval"
          [inEditingMode]="inEditMode"
          [editDisabled]="!selectedInterval?.id"
          (editClicked)="enterEditMode()"
          (cancelClicked)="cancelEditing()"
          (saveClicked)="saveClicked()"
          [form]="form"
          [formElement]="formElement"
        >
        </nv-detail-view-actions>
      </div>
      <div class="form-wrapper">
        <form
          #formElement
          [formGroup]="form"
          class="form-group"
          nz-form
          nzLayout="vertical"
        >
          <div nz-row>
            <div
              class="checkbox-wrap"
              [ngStyle]="{ marginBottom: '8px' }"
            >
              <nz-switch formControlName="isActive"></nz-switch>
              <div class="switchLabel">
                {{ wording.chartering.billingActive | translate }}
              </div>
            </div>
          </div>

          <div nz-row>
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.general.from | translate">
                <nv-datebox
                  formControlName="from"
                  [withTime]="true"
                >
                </nv-datebox>
              </nv-input-wrapper>

              <nv-input-wrapper [label]="wording.general.until | translate">
                <nv-datebox
                  formControlName="until"
                  [withTime]="true"
                >
                </nv-datebox>
              </nv-input-wrapper>

              <div class="switchGroup">
                <div class="checkbox-wrap">
                  <nz-switch formControlName="isHire"></nz-switch>
                  <div class="switchLabel">
                    {{ wording.chartering.hire | translate }}
                  </div>
                </div>

                <div class="checkbox-wrap">
                  <nz-switch formControlName="isHireOff"></nz-switch>
                  <div class="switchLabel">
                    {{ wording.chartering.offHire | translate }}
                  </div>
                </div>

                <div class="checkbox-wrap">
                  <nz-switch formControlName="isLumpsumExpenses"></nz-switch>
                  <div class="switchLabel">
                    {{ wording.chartering.lumpsumExpenses | translate }}
                  </div>
                </div>

                <div class="checkbox-wrap">
                  <nz-switch formControlName="isAtCostExpenses"></nz-switch>
                  <div class="switchLabel">
                    {{ wording.chartering.atCostExpenses | translate }}
                  </div>
                </div>

                <div class="checkbox-wrap">
                  <nz-switch formControlName="isCommission"></nz-switch>
                  <div class="switchLabel">
                    {{ wording.chartering.commission | translate }}
                  </div>
                </div>
              </div>

              <nv-input-wrapper [label]="wording.chartering.billingCycleType | translate">
                <nz-select
                  formControlName="billingCycleType"
                  nzAllowClear
                  nzShowSearch
                >
                  <nz-option
                    *ngFor="
                      let billingCycleTypesOption of billingCycleTypesOptions
                    "
                    [nzLabel]="billingCycleTypesOption.displayLabel | translate"
                    [nzValue]="billingCycleTypesOption.value"
                    nzCustomContent
                  >
                    <div [attr.data-group-type-option]="
                        billingCycleTypesOption.value
                      ">
                      {{ billingCycleTypesOption.displayLabel | translate }}
                    </div>
                  </nz-option>
                </nz-select>
              </nv-input-wrapper>

              <nv-input-wrapper [label]="wording.chartering.processing | translate">
                <nz-select
                  formControlName="processing"
                  nzAllowClear
                  nzShowSearch
                >
                  <nz-option
                    *ngFor="let processingOption of processingOptions"
                    [nzLabel]="processingOption.displayLabel | translate"
                    [nzValue]="processingOption.value"
                    nzCustomContent
                  >
                    <div [attr.data-group-type-option]="processingOption.value">
                      {{ processingOption.displayLabel | translate }}
                    </div>
                  </nz-option>
                </nz-select>
              </nv-input-wrapper>

              <nv-currency-autocomplete [form]="form">
              </nv-currency-autocomplete>

              <div class="billing-cycle-commission-wrap">
                <nv-input-wrapper [label]="wording.chartering.billingCycle | translate">
                  <input
                    formControlName="billingCycle"
                    type="number"
                    nz-input
                  />
                </nv-input-wrapper>

                <div class="checkbox-wrap contiually-switch-wrap">
                  <nz-switch
                    formControlName="isContinually"
                    [ngStyle]="{
                      alignItems: 'center',
                      display: 'flex'
                    }"
                  ></nz-switch>
                  <div class="switchLabel">
                    {{ wording.chartering.continually | translate }}
                  </div>
                </div>
              </div>

              <nv-input-wrapper [label]="wording.chartering.dueOnDayOfMonth | translate">
                <input
                  formControlName="dueOnDayOfMonth"
                  type="number"
                  nz-input
                />
              </nv-input-wrapper>

              <nv-input-wrapper [label]="
                  wording.chartering.issueInvoiceDaysBeforeDue | translate
                ">
                <input
                  formControlName="daysBeforeDue"
                  type="number"
                  nz-input
                />
              </nv-input-wrapper>

              <nv-input-wrapper [label]="wording.chartering.issueInvoicesInAdvance | translate">
                <input
                  formControlName="invoicesInAdvance"
                  type="number"
                  nz-input
                />
              </nv-input-wrapper>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>