:host {
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  height: 100%;
  flex-direction: row;
  padding: 10px;

  .section {
    border-top: 1px solid #e8e8e8;
    padding-top: 16px;
    margin-top: 6px;
  }

  .intervalDetails {
    display: flex;
    flex-direction: column;
    min-width: 670px;
    min-height: 400px;
    padding: 12px;
    margin-left: 6px;
    padding-top: 2px;

    .actionBar {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .delete-button {
        margin-right: 6px;
      }
    }

    .form-wrapper {
      display: flex;
      flex-direction: column;
      overflow: auto;
      margin-top: 10px;
      padding: 7px;

      .switchGroup {
        margin-bottom: 8px;
        margin-top: 8px;
      }

      .checkbox-wrap {
        display: flex;
        padding-bottom: 5px;
      }

      .billing-cycle-commission-wrap {
        display: flex;
        align-items: center;

        .contiually-switch-wrap {
          padding-top: 18px;
          padding-left: 8px;
        }
      }
    }
  }
}

:host ::ng-deep {
  nz-switch {
    padding-right: 5px;
  }
}

.switchLabel {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
}
