@import "src/app/core/styles/_mixins";

::ng-deep
  nv-grid
  .grid-body-container
  .grid-row
  [data-cell="flagPath"]
  .grid-cell {
  @include listViewFlag();
}

:host ::ng-deep nv-paper-view {
  .nv-content {
    flex-direction: row;
    nv-grid {
      flex: 5;
      .nv-toolbar {
        nv-button.nv-download-as-excel-button {
          order: 3;
          background-color: #c44647;
          border-radius: 7px;

          & > button {
            border-radius: inherit;
            color: #f7e8de;
            background-color: inherit;
          }
        }
      }
    }
    .filter {
      overflow: hidden;
      flex: 1;
      padding: 20px 10px;
      fieldset {
        min-height: 400px;
        .header {
          padding-bottom: 7px;
          .actions {
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 1640px) {
              flex-direction: column;
              button {
                &:first-child {
                  margin-bottom: 5px;
                }
              }
            }
          }
          .vessel-type-active-inactive {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            .left {
              display: flex;
              align-items: center;
              flex: 2;
              margin-right: 5px;
              i {
                position: absolute;
                left: 9.5%;
                cursor: pointer;
              }
              nz-select {
                width: 100%;
              }
              .ant-select-selection-item-remove {
                display: none;
              }
            }
            .right {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              .ant-checkbox-wrapper {
                margin-left: 0px;
              }
            }
            // L Laptop
            @media screen and (max-width: 1640px) {
              flex-direction: column;
              .left {
                margin-bottom: 5px;
                i {
                  left: 14%;
                }
              }
            }
            // S Laptop
            @media screen and (max-width: 1024px) {
              .left {
                i {
                  left: 13%;
                }
              }
            }
          }

          .search-box {
            padding: 10px 0px;
          }
        }
      }
    }
  }
}

::ng-deep .vessel-accountings {
  .ant-list-item-meta {
    align-items: center;
  }
  .ant-list-item-meta-title {
    margin-bottom: 0px;
  }
  .vessel-name,
  .vessel-type {
    margin: 0px;
  }
  .vessel-name {
    text-transform: uppercase;
  }
  .vessel-type {
    text-transform: capitalize;
  }
  .ant-list-items {
    @include setScrollBar();
    overflow: auto;
    max-height: 500px;
    // L Laptop
    @media screen and (max-width: 1640px) {
      max-height: 300px;
    }
  }
}

::ng-deep html[data-theme="dark"] {
  .vessels-list {
    .ant-list-item-meta-description {
      color: #fff;
    }
    li {
      border-bottom: 1px solid white;
    }
  }
}

.vessel-name {
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    color: #c44747;
    cursor: pointer;
  }
}