<nv-paper-view>
  <section class="filter">
    <nv-fieldset [label]="wording.technicalManagement.vessels | translate">
      <div class="wrap">
        <div class="header">
          <div class="actions">
            <button nz-button nzType="primary" (click)="onAllSelected()">
              <i nz-icon nzType="check-square" nzTheme="outline"></i>
              {{ wording.general.selectAll | translate }}
            </button>

            <button nz-button nzType="default" (click)="onAllCleared()">
              {{ wording.general.clearAll | translate }}
              <i nz-icon nzType="close-circle" nzTheme="outline"></i>
            </button>
          </div>

          <div class="vessel-type-active-inactive">
            <div class="left">
              <nz-select
                [nzMaxTagCount]="3"
                nzMode="multiple"
                [formControl]="vesselTypeCtrl"
                [nzPlaceHolder]="wording.chartering.vesselType | translate"
              >
                <nz-option
                  *ngFor="let vesselType of vesselTypes"
                  [nzLabel]="vesselType.displayLabel | translate"
                  [nzValue]="vesselType.value"
                ></nz-option>
              </nz-select>
              <i nz-icon nzType="search"></i>
            </div>

            <div class="right">
              <label nz-checkbox [formControl]="activeCtrl">
                {{ wording.general.active | translate }}
              </label>
              <label nz-checkbox [formControl]="inActiveCtrl">
                {{ wording.general.inactive | translate }}
              </label>
            </div>
          </div>

          <div class="search-box">
            <nz-input-group nzAddOnAfterIcon="search">
              <input type="text" nz-input [formControl]="vesselSearchCtrl" />
            </nz-input-group>
          </div>
        </div>

        <div class="vessel-accountings">
          <nz-list
            [nzDataSource]="vesselAccountings$ | async"
            [nzRenderItem]="v"
            [nzLoading]="isLoading$ | async"
            nzItemLayout="horizontal"
          >
            <ng-template #v let-v>
              <nz-list-item>
                <nz-list-item-meta
                  [nzTitle]="nzTitle"
                  [nzDescription]="nzDescription"
                  [nzAvatar]="checkbox"
                >
                  <ng-template #nzTitle>
                    <span>{{ v?.vesselNo }} </span>
                  </ng-template>

                  <ng-template #nzDescription>
                    <p class="vessel-name">
                      {{ v?.vesselName || v?.chartererName || v?.imo }}
                    </p>
                    <p class="vessel-type">{{ v?.vesselTypeDisplayValue }}</p>
                  </ng-template>

                  <ng-template #checkbox>
                    <label
                      nz-checkbox
                      [(ngModel)]="checkedVessels[v.id]"
                      (ngModelChange)="onVesselChecked()"
                    >
                    </label>
                  </ng-template>
                </nz-list-item-meta>
              </nz-list-item>
            </ng-template>
          </nz-list>
        </div>
      </div>
    </nv-fieldset>
  </section>
  <nv-grid
    [gridConfig]="gridConfig"
    [dataSource$]="dataSource$"
    (gridConfigChangedOnSave)="gridConfigService.update($event)"
    #registrationFleetGrid
  >
    <ng-template
      nvColumnTemplate
      columnName="vesselName"
      let-rowIndex="rowIndex"
    >
      <ng-container>
        <div class="vessel-name">
          <span>{{ registrationFleetGrid.rows[rowIndex].vesselName }}</span>
          <i
            *ngIf="registrationFleetGrid.rows[rowIndex].doesPeriodStartWithinSixtyDays"
            nz-icon
            nzType="exclamation-circle"
            nzTheme="outline"
            nz-tooltip
            [nzTooltipTitle]="registrationFleetGrid.rows[rowIndex]
              .nextPeriodStartsWording | translate"
          ></i>
        </div>

      </ng-container>
    </ng-template>
    <ng-template
      nvColumnTemplate
      let-cell
      columnName="flagPath"
      let-data
    >
      <ng-container>
        <img [src]="data" default="assets/no-flag.png" alt="country-flag" />
      </ng-container>
    </ng-template>
  </nv-grid>
</nv-paper-view>
