:host {
  mat-form-field {
    width: 100%;
    margin-right: 10px;

    &.percentage {
      width: 120px;
    }
  }

  .components span {
    line-height: 20px;
    vertical-align: top;
    margin-right: 5px;
  }

  .components .component-values {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
  }

  .sum-error {
    color: var(--color-danger);
  }

  .sum-success {
    color: var(--color-success);
  }

  .first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
