<ng-container [formGroup]="form" class="composite-container">
  <div [class.opt-required-input-attribute-wrapper]="data.optRequired && !data.required">
    <div class="first-row">
      <mat-form-field>
        <mat-label [class.mark-required]="data.required" [class.mark-opt-required]="data.optRequired && !data.required">{{
          data.displayName
        }}</mat-label>
        <mat-select #compositeSelect [id]="data.internalName">
          <mat-option *ngFor="let optionValue of data.values" [value]="optionValue.value">
            {{ optionValue.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="percentage">
        <mat-label>Percentage</mat-label>
        <input #compositePercentage type="number" matInput min="0" [max]="sumLeftOver" [value]="sumLeftOver" />
      </mat-form-field>

      <me-button [dataModel]="addButton" (clickEvent)="handleAddButtonClick()">Add</me-button>
    </div>

    <div class="components">
      <div class="component-values">
        <div *ngFor="let component of components">
          <span>{{ getComponentLabel(component.name) }}</span>
          <span>{{ component.percentage }}%</span>
          <i-feather name="x" class="sum-error" (click)="removeComponent(component)"></i-feather>
        </div>
      </div>

      <span [className]="sum < 100 ? 'sum-error' : 'sum-success'"> Sum = {{ sum }}% </span>

      <span [className]="sumLeftOver > 0 ? 'sum-error' : 'sum-success'"> Left = {{ sumLeftOver }}% </span>
    </div>

    <input [formControlName]="data.internalName" matInput hidden />
  </div>
</ng-container>
