:host {
  display: flex;
  overflow: auto;
  .form-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}

form {
  width: 800px;
  padding: 20px;
}

.footer {
  padding: 8px;
  border-top: 1px solid #e8e8e8;
  justify-content: flex-end;
  display: flex;

  button {
    margin-left: 6px;
  }
}
