<div class="form-container">
  <form [formGroup]="form" nz-form nzLayout="vertical">
    <div nz-row nzGutter="22">
      <div nz-col nzSpan="12">
        <nv-fieldset [label]="wording.accounting.bankAccount | translate">
          <nv-input-wrapper [label]="wording.accounting.bank | translate">
            <nv-autocomplete
              [title]="wording.accounting.bank | translate"
              [resource]="banks$ | async"
              [modalGridConfig]="bankGridConfig"
              [properities]="['name']"
              formControlName="bankId"
              [setNullIfNotFound]="true"
            >
            </nv-autocomplete>
          </nv-input-wrapper>

          <nv-input-wrapper [label]="wording.accounting.bicSwift | translate">
            <input formControlName="bic" type="text" nz-input />
          </nv-input-wrapper>
          <nv-currency-autocomplete [form]="form"></nv-currency-autocomplete>
          <nv-input-wrapper
            [label]="wording.accounting.accountNumber | translate"
          >
            <input
              formControlName="accountNo"
              type="text"
              nz-input
              [placeholder]="wording.accounting.accountNumber | translate"
            />
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.accounting.iban | translate">
            <input
              formControlName="iban"
              type="text"
              nz-input
              [placeholder]="wording.accounting.iban | translate"
            />
          </nv-input-wrapper>
        </nv-fieldset>

        <nv-fieldset [label]="wording.accounting.viaBank | translate">
          <nv-input-wrapper label="Via Bank">
            <input
              formControlName="viaBank"
              type="text"
              nz-input
              [placeholder]="wording.accounting.viaBank | translate"
            />
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.accounting.viaAccount | translate">
            <input
              formControlName="viaAccount"
              type="text"
              nz-input
              [placeholder]="wording.accounting.viaAccount | translate"
            />
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.accounting.viaBic | translate">
            <input
              formControlName="viaBic"
              type="text"
              nz-input
              [placeholder]="wording.accounting.viaBic | translate"
            />
          </nv-input-wrapper>
          <nv-input-wrapper
            [label]="wording.accounting.viaBankCode | translate"
          >
            <input
              formControlName="viaBankCode"
              type="text"
              nz-input
              [placeholder]="wording.accounting.viaBankCode | translate"
            />
          </nv-input-wrapper>
        </nv-fieldset>
      </div>
      <div nz-col nzSpan="12">
        <nv-fieldset [label]="wording.general.function | translate">
          <nv-input-wrapper>
            <label
              nz-checkbox
              formControlName="forInvoices"
              data-checkbox="forInvoices"
            >
              {{ wording.accounting.forInvoices | translate }}
            </label>
          </nv-input-wrapper>
          <nv-input-wrapper>
            <label
              nz-checkbox
              formControlName="forPayments"
              data-checkbox="forPayments"
            >
              {{ wording.accounting.forPayments | translate }}
            </label>
          </nv-input-wrapper>
          <nv-input-wrapper>
            <label
              nz-checkbox
              formControlName="forAccountStatements"
              data-checkbox="forAccountStatements"
              (ngModelChange)="onForAccountStatementsChange($event)"
            >
              {{ wording.accounting.forAccountStatements | translate }}
            </label>
          </nv-input-wrapper>
        </nv-fieldset>
      </div>
    </div>
  </form>
  <nv-modal-footer>
    <button nz-button nzType="info" (click)="closeModal()">
      {{ wording.general.cancel | translate }}
    </button>
    <ng-container
      *nvAccessControl="ACL_ACTIONS.UPDATE; zoneName: bankAccountsZone"
    >
      <button
        nz-button
        nzType="primary"
        (click)="saveClicked()"
        [disabled]="form.invalid"
      >
        {{ wording.general.save | translate }}
      </button>
    </ng-container>
  </nv-modal-footer>
</div>
