.nv-paper .nv-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

:host {
  display: flex;
  overflow: hidden;

  .component-wrap {
    display: flex;

    .form-wrapper {
      min-width: 360px;
      padding: 10px;

      .form-col {
        display: flex;
        flex-direction: column;

        >* {
          margin-bottom: 16px;
        }
      }
    }
  }
}

form {
  min-width: 100%;
}