<div class="component-wrap" >
  <div class="nv-content content">
    <div class="actions-row">
      <!-- Header -->
      <nv-detail-view-actions
        header
        [inEditingMode]="editMode"
        (editClicked)="enterEditMode()"
        (cancelClicked)="cancelEditing()"
        (saveClicked)="submit()"
        [form]="form"
        [formElement]="formElement"
      ></nv-detail-view-actions>
    </div>
    <!-- Content -->
    <div class="form-wrapper">
      <form #formElement [formGroup]="form" nz-form nzLayout='vertical'>
        <div class="form-content">
          <div class="form-col">
            <nv-input-wrapper [label]="wording.accounting.isoCode | translate">
              <input
                formControlName="isoCode"
                type="text"
                [placeholder]="wording.accounting.isoCode | translate"
                nz-input>
            </nv-input-wrapper>
            <nv-input-wrapper [label]="wording.accounting.labelDe | translate">
              <input
                formControlName="labelDe"
                type="text"
                [placeholder]="wording.accounting.labelDe | translate"
                nz-input>
            </nv-input-wrapper>
            <nv-input-wrapper [label]="wording.accounting.labelEn | translate">
              <input
                formControlName="labelEn"
                type="text"
                [placeholder]="wording.accounting.labelEn | translate"
                nz-input>
            </nv-input-wrapper>
            <div class="form-row-host">
              <label nz-checkbox formControlName="isActive">
                {{ wording.general.active | translate }}
              </label>
              <label nz-checkbox formControlName="isFavorite">
                {{ wording.general.favorite | translate }}
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
