<nz-input-group
  [nzSuffix]="menuUnfoldIcon"
  class="button-like"
  (click)="openVesselsModal()"
>
  <input type="text" nz-input readonly [disabled]="disabled" [formControl]="control"/>
  <ng-template #menuUnfoldIcon>
    <i nz-icon nzType="menu-unfold" nzTheme="outline"></i>
  </ng-template>
</nz-input-group>
