:host {
  --label-regular-color: transparent;
  --label-inversed-color: transparent;
  height: 18px;
  display: flex;

  .label {
    min-width: 50px;
    height: 18px;
    padding: 0 8px;
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 8px;
    line-height: 11px;
    font-weight: 600;
    text-transform: uppercase;

    &[class*='regular'] {
      background-color: var(--label-regular-color);
      color: var(--color-white);
    }

    &[class*='inversed'] {
      color: var(--label-regular-color);
      background-color: var(--label-inversed-color);
    }

    &[class*='none'] {
      margin: 0;
    }

    &[class*='small'] {
      margin: 0 8px;
    }

    &.black-text {
      color: var(--color-black, #000000);
    }
  }
}
