<ng-content select="[icon]"></ng-content>
<div
  [ngClass]="{ 'black-text': dataModel.color === 'warning' }"
  [class]="'label ' + dataModel.type + ' ' + dataModel.margin"
  [style.--label-regular-color]="'var(--color-' + dataModel.color + ')'"
  [style.--label-inversed-color]="'var(--color-' + dataModel.color + '-background)'"
>
  <ng-content select="[content]"></ng-content>
</div>
