.material-card {
  --description-height: 85px;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 2px solid transparent;
  box-sizing: content-box;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .image-container {
    display: flex;
    height: calc(100% - var(--description-height));
    width: 100%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
    position: absolute;
    top: 0;

    .thumbnail {
      width: 100%;
      height: 100%;
      position: absolute;
      transition: transform 400ms ease;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .thumbnail-no-picture {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-main-lighter);
      color: var(--color-main-light);
      me-icons {
        width: 700px;
        height: 70px;
      }
    }

    .checkbox {
      display: flex;
      flex-grow: 1;
      align-items: baseline;
      justify-content: flex-end;
      margin: 20px 20px 0 0;
      pointer-events: none;
    }
  }

  .visibility-container {
    width: 100%;
    position: absolute;
    display: flex;

    .visibility {
      border-radius: 3px;
      font-size: 0.85em;
      font-weight: 600;
      padding: 3px 10px;
      margin: 20px;
    }
  }

  .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--description-height);
    padding: 10px 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: visible;

    .left-side {
      display: flex;
      flex-direction: column;

      .material-name {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
      }

      .price {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        color: var(--color-main-light);
      }
    }

    .right-side {
      display: flex;
      align-items: flex-start;
    }
  }
}

.material-card:hover {
  .thumbnail {
    transform: scale(1.15);
  }
}

.selected {
  margin: 0px;
  border: 2px solid var(--color-primary);
}

.selected:hover {
  margin: 0px;
  border: 2px solid var(--color-primary);
}
