<div class="material-card cursor-pointer" [ngClass]="{ selected: dataModel.selected }">
  <div class="image-container">
    <ng-container *ngIf="dataModel.thumbnail">
      <div class="thumbnail" [ngStyle]="{ 'background-image': 'url(' + dataModel.thumbnail + ')' }"></div>
    </ng-container>
    <ng-container *ngIf="!dataModel.thumbnail">
      <div class="thumbnail-no-picture"><me-icons name="image"></me-icons></div>
    </ng-container>
    <div *ngIf="dataModel.selectionEnabled" class="checkbox">
      <mat-checkbox [checked]="dataModel.selected" name="Primary" color="primary"></mat-checkbox>
    </div>
  </div>
  <ng-container *ngIf="dataModel.visibility">
    <div class="visibility-container">
      <div
        class="visibility"
        [ngStyle]="{ 'background-color': dataModel.visibility.backgroundColorHex, color: dataModel.visibility.fontColorHex }"
      >
        {{ dataModel.visibility.label | uppercase }}
      </div>
    </div>
  </ng-container>
  <div class="description box-sizing-border-box">
    <div class="left-side">
      <me-ellipsis-row class="material-name" [text]="dataModel.materialName"></me-ellipsis-row>
      <!-- TODO later remove this hardcoded dollar sign and empty space -->
      <me-ellipsis-row
        *ngIf="dataModel.materialPrice !== undefined && dataModel.materialPrice !== null"
        class="price"
        [text]="'$' + dataModel.materialPrice + (dataModel.materialUOM ? ' per ' + dataModel.materialUOM : '')"
      ></me-ellipsis-row>
    </div>

    <div class="right-side">
      <me-context-menu
        [dataModel]="{
          contextMenuItems: dataModel.contextMenuItems
        }"
        (itemClick)="customEvent('contextMenuItemClick', $event)"
        (click)="preventOtherEvents($event)"
      ></me-context-menu>
    </div>
  </div>
</div>
