@import '../../../core/styles/variables';

.intervalList {
  display: flex;
  flex-direction: column;
  // width: 230px;
  min-height: 300px;
  height: 100%;
  border-right: 1px solid $primary;

  .dateContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 auto;
  }

  .addButton {
    font-weight: 500;
    background: white;
    height: 34px;
    align-items: center;
    margin: 4px 6px;

    display: flex;
    justify-content: flex-end;
    margin: 6px;
  }

  &.disabled {
    color: #969696;
    pointer-events: none;
  }

  .row {
    display: flex;
    background: #f3f3f3;
    flex-direction: row;
    padding: 6px;
    cursor: pointer;

    &.inCreation{
      height: 56px;
    }

    .orderNumber {
      border-right: 1px solid #00000024;
      display: flex;
      margin-right: 8px;
      align-items: center;
      font-size: 20px;
      width: 30px;
      align-items: center;
      justify-content: center;
    }

    &.selected {
      .orderNumber {
        border-right: 1px solid #ffffff4f;
      }
    }

    .dateCell {
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .date {
        display: flex;
      }

      .time {
        display: flex;
        font-size: 10px;
      }
    }

    .separator {
      display: flex;
      align-items: center;
      margin: 0px 10px;
    }

    &:hover{
      background: lightgrey;
    }

    &.selected {
      background: $primary;
      color: white;
    }


    &:not(:last-of-type){
      border-bottom: 2px solid white;
    }
  }
}

.items-container {
  height: 100%;
  overflow-y: auto;
}
