<div class="intervalList e2e-intervalList" [ngClass]="{disabled: disabled}" [ngStyle]="{'width.px': width}"  >
    <div *ngIf="withCreateOption" class="addButton">
      <button nz-button nzType="default" (click)="create.emit()">{{ wording.general.newEntry | translate }}</button>
    </div>
    <div *ngIf="creationMode" class="selected row inCreation">
      <div class="orderNumber" *ngIf="withOrderNumber">{{ getNextOrderNumber()}}</div>
      <div class="dateContent" >
        <div class="separator"> - </div>
      </div>
    </div>
    <div class="items-container e2e-items-container">
      <div *ngFor="let item of intervalItemsSorted"
        (click)="select.emit(item.id)"
        [ngClass]="{selected: selectedId && (item.id === selectedId) }"
        class="row"
      >
        <div class="orderNumber" *ngIf="withOrderNumber">{{ item.orderNumber }}</div>
        <div class="dateContent" >
          <div class="dateCell">
            <div class="date">{{ item.from | toCurrentDateFormat }}</div>
            <div class="time" *ngIf="withTime">{{ item.from | toCurrentDateFormat : { justTime: true } }}</div>
          </div>
          <div class="separator"> - </div>
          <div *ngIf="!item.until" class="dateCell" >{{ wording.general.open | translate }}</div>
          <div *ngIf="item.until" class="dateCell">
            <div class="date">{{ item.until | toCurrentDateFormat }}</div>
            <div class="time" *ngIf="withTime">{{ item.until | toCurrentDateFormat : { justTime: true } }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
