<div class="component-wrapper">
  <div class="action-bar">
    <nv-detail-view-actions
      [inEditingMode]="editMode"
      (editClicked)="enterEditMode()"
      (cancelClicked)="cancelEditing()"
      (saveClicked)="submit()"
      [form]="form"
      [formElement]="formElement"
      style="margin-left: auto;"
    >
    </nv-detail-view-actions>
  </div>

  <div
    class="nv-content flex content form-wrapper"
    *ngIf="form"
  >
    <form
      nvSpyElement
      (initialized)="formInitialized($event)"
      [formGroup]="form"
      nz-form
      nzLayout="vertical"
    >
      <div
        nz-row
        nzGutter="8"
        class="section"
      >
        <div
          nz-col
          nzSpan="16"
        >
          <nv-fieldset [label]="wording.system.paymentTerms | translate">
            <div class="discount-level-deduction-after-wrap">
              <label [innerText]="wording.system.discountLevel | translate | textReplace: '{LEVEL}' : '1'"></label>
              <nv-input-wrapper
                [label]="wording.system.discountLevel | translate | textReplace: '{LEVEL}' : '1'"
                [showLabel]="false"
                [showErrMessages]="false"
              >
                <nv-decimal-input
                  formControlName="percentageDiscountLevel1"
                  [decimalPlaces]="2"
                >
                </nv-decimal-input>
              </nv-input-wrapper>
              <label
                class="in-label"
                [innerText]="wording.system.percentDeductionAfter | translate"
              ></label>
              <nv-input-wrapper
                [showErrMessages]="false"
                [showLabel]="false"
                [label]="wording.system.percentDeductionAfter | translate | textReplace: '{LEVEL_INDEX}' : '1'"
              >
                <input
                  formControlName="daysDiscountLevel1"
                  nz-input
                />
              </nv-input-wrapper>
              <label class="post-label">{{wording.general.days | translate}}</label>
            </div>

            <div class="discount-level-deduction-after-wrap">
              <label [innerText]="wording.system.discountLevel | translate | textReplace: '{LEVEL}' : '2'"></label>
              <nv-input-wrapper
                [label]="wording.system.discountLevel | translate | textReplace: '{LEVEL}' : '2'"
                [showLabel]="false"
                [showErrMessages]="false"
              >
                <nv-decimal-input
                  formControlName="percentageDiscountLevel2"
                  [decimalPlaces]="2"
                >
                </nv-decimal-input>
              </nv-input-wrapper>
              <label
                class="in-label"
                [innerText]="wording.system.percentDeductionAfter | translate"
              ></label>
              <nv-input-wrapper
                [showErrMessages]="false"
                [showLabel]="false"
                [label]="wording.system.percentDeductionAfter | translate | textReplace: '{LEVEL_INDEX}' : '2'"
              >
                <input
                  formControlName="daysDiscountLevel2"
                  nz-input
                />
              </nv-input-wrapper>
              <label class="post-label">{{wording.general.days | translate}}</label>
            </div>

            <div class="discount-level-deduction-after-wrap">
              <label [innerText]="wording.system.discountLevel | translate | textReplace: '{LEVEL}' : '3'"></label>
              <nv-input-wrapper
                [label]="wording.system.discountLevel | translate | textReplace: '{LEVEL}' : '3'"
                [showLabel]="false"
                [showErrMessages]="false"
              >
                <nv-decimal-input
                  formControlName="percentageDiscountLevel3"
                  [decimalPlaces]="2"
                >
                </nv-decimal-input>
              </nv-input-wrapper>
              <label
                class="in-label"
                [innerText]="wording.system.percentDeductionAfter | translate"
              ></label>
              <nv-input-wrapper
                [showErrMessages]="false"
                [showLabel]="false"
                [label]="wording.system.percentDeductionAfter | translate | textReplace: '{LEVEL_INDEX}' : '3'"
              >
                <input
                  formControlName="daysDiscountLevel3"
                  nz-input
                />
              </nv-input-wrapper>
              <label class="post-label">{{wording.general.days | translate}}</label>
            </div>

            <p
              *ngIf="form.getError(percentageOrderErrorKey)"
              class="error-message"
            >{{form.getError(percentageOrderErrorKey).message | translate}}
            </p>

            <div class="discount-level-deduction-after-wrap">
              <label
                class="net-label"
                [innerText]="wording.system.net | translate"
              ></label>
              <div class="end-part">
                <nv-input-wrapper
                  [showErrMessages]="false"
                  [showLabel]="false"
                  [label]="wording.system.net | translate"
                >
                  <input
                    formControlName="net"
                    nz-input
                  />
                </nv-input-wrapper>
                <label class="post-label">{{wording.general.days | translate}}</label>
              </div>
            </div>

            <p
              *ngIf="form.getError(daysOrderErrorKey)"
              class="error-message"
            >{{form.getError(daysOrderErrorKey).message | translate}}
            </p>
          </nv-fieldset>
        </div>
        <div
          nz-col
          nzSpan="8"
        >
          <nv-fieldset [label]="wording.system.terms | translate">
            <nv-input-wrapper [label]="wording.system.termsAgreed | translate">
              <textarea
                class="terms"
                rows="4"
                nz-input
                formControlName="termsAgreed"
              ></textarea>
            </nv-input-wrapper>
          </nv-fieldset>
        </div>
      </div>
      <div
        nz-row
        nzGutter="8"
        class="section"
      >
        <div
          class="customer-supplier-system"
          nz-col
          nzSpan="16"
        >
          <nv-fieldset [label]="wording.system.relation | translate">
            <nv-input-wrapper
              className="customer-no"
              [label]="wording.system.customerNoSupplierSystem | translate"
            >
              <input
                formControlName="customerNo"
                nz-input
              />
            </nv-input-wrapper>
          </nv-fieldset>
        </div>
      </div>
    </form>
  </div>
</div>