:host ::ng-deep, .component-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .discount-level-deduction-after-wrap {
    display: flex;

    label {
      min-width: 140px;
      padding-right: 10px;
      line-height: 2;
    }

    input {
      width: 65px;
    }

    .in-label {
      padding-left: 10px;
    }

    .post-label {
      padding-left: 10px;
      text-transform: initial;
    }

    .net-label {
      min-width: 24.6em;
    }
  }

  .end-part {
    display: flex;
  }

  .error-message {
    max-width: 325px;
    color: #c44747;
    padding-left: 5px;
  }

  .terms {
    min-height: 150px;
  }

  .customer-no {
    .input-container, .input-container-invalid {
      width: 50%;
    }
  }
  .form-wrapper {
    overflow: auto;
  }
}
