<form [formGroup]="form">
  <div
    [class.reverse]="swapped"
    class="local-foreign-currency"
  >
    <nv-input-wrapper
      [showErrMessages]="false"
      [label]="wording.accounting.localCurrency | translate"
    >
      <nv-autocomplete
        [resource]="currencies"
        [modalGridConfig]="currencyGridConfig"
        [properities]="['isoCode', 'label' | labelKey]"
        [setId]="false"
        formControlName="localCurrency"
        [autofocus]="false"
      >
      </nv-autocomplete>
    </nv-input-wrapper>
    <button
      nz-button
      class="swap"
      [class.swapped]="swapped"
      (click)="swap()"
    >
      <i
        nz-icon
        nzType="swap"
      ></i>
    </button>
    <nv-input-wrapper
      [showErrMessages]="false"
      [label]="wording.accounting.foreignCurrency | translate"
    >
      <nv-autocomplete
        [resource]="currencies"
        [modalGridConfig]="currencyGridConfig"
        [properities]="['isoCode', 'label' | labelKey]"
        [setId]="false"
        formControlName="foreignCurrency"
        [maxLength]="10"
        [autofocus]="false"
      >
      </nv-autocomplete>
    </nv-input-wrapper>
  </div>
  <div class="from-until-wrap">
    <nv-input-wrapper
      [showErrMessages]="false"
      [label]="wording.general.from | translate"
    >
      <nv-datebox formControlName="from"></nv-datebox>
    </nv-input-wrapper>
    <nv-input-wrapper
      [showErrMessages]="false"
      [label]="wording.general.until| translate"
    >
      <nv-datebox formControlName="until"></nv-datebox>
    </nv-input-wrapper>
    <div class="history-btn-wrap">
      <button
        nz-button
        class="history"
        (click)="openHistoryModal()"
        [disabled]="!form.valid"
      >
        <i
          nz-icon
          nzType="history"
        ></i>
      </button>
    </div>
  </div>
  <p
    *ngIf="form?.errors"
    class="form-err"
  >
    {{(form.errors | objectFirstEl).message | translate }}
  </p>
</form>
<div class="calendar">
  <nz-calendar
    [(ngModel)]="calendarDate"
    (nzSelectChange)="changes($event)"
  >
    <div
      *nzDateCell="let date"
      class="day-text"
      [title]="((date | date: 'ddMMyyyy')
        | rateDate : (foreignRates | async) : swapped)
        | number :'1.5-5' : nvLocalMapper[settingsService.locale]"
      [innerHtml]="((date | date: 'ddMMyyyy')
        | rateDate : (foreignRates | async) : swapped)
        | number :'1.5-5' : nvLocalMapper[settingsService.locale]"
    >
    </div>
  </nz-calendar>
  <p
    class="copy-excel-btn"
    (click)="exportToExcel()"
  >
    <i
      nz-icon
      nzType="export"
    ></i>
    {{ wording.general.copyExcel | translate }}
  </p>
</div>
<div class="calendar-footer e2e-calendar-footer">
  {{ wording.general.midrate | translate }}
  <nz-input-group
    [nzSuffix]="label"
    [nzAddOnAfter]="copyIcon"
  >
    <input
      nz-input
      readonly="readonly"
      [value]="(midRate | async) | number:'1.5-5' : nvLocalMapper[settingsService.locale]"
    >
  </nz-input-group>
  <ng-template #copyIcon>
    <i
      class="copy-value"
      nz-icon
      nzType="copy"
      (click)="copyToClipboard()"
    ></i>
  </ng-template>
</div>
