:host {
  min-width: fit-content;
}

.local-foreign-currency,
.from-until-wrap {
  display: flex;
  align-items: flex-end;

  &.reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.swap {
  margin-right: 10px;
  margin-left: 10px;
}

.history {
  margin-left: 10px;
}

nv-input-wrapper {
  width: 181px;
}

button {
  &.swapped {
    background: #c44747;
    color: white;
    border-color: white;
  }
}

.copy-excel-btn {
  text-align: end;
  cursor: pointer;
}

.copy-value {
  cursor: pointer;
}

.day-text {
  margin: auto;
  padding: 0;
  text-align: center;
  width: fit-content;
  white-space: nowrap;
}


.calendar {
  padding-right: 1px;
}

.from-until-wrap nv-input-wrapper:first-child {
  margin-right: 10px
}

:host ::ng-deep {
  td.ant-picker-cell {
    border: 1px solid #d9d9d9;
    max-height: 58px;
    .ant-picker-calendar-date {
      border-top: none;
      max-height: 55px;
      width: 100%;
      padding: 4px 8px;
      margin: 0;
      overflow: hidden;
    }
  }
  .ant-fullcalendar-calendar-body {
    padding: 0;
  }

  .ant-fullcalendar-content {
    height: auto;
    overflow: hidden;
  }

  .ant-fullcalendar-today {
    .ant-fullcalendar-value {
      color: black;
    }
  }

  .ant-fullcalendar-value {
    font-weight: 500;
    padding-right: 2px;
  }

  .ant-fullcalendar-month,
  .ant-fullcalendar-date {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    border: 0;
  }

  .ant-fullcalendar td {
    border: 1px solid #d9d9d9;
  }

  .ant-fullcalendar-date {
    height: 55px;
  }

  .ant-fullcalendar-month {
    height: 89.5px;
  }
}
