@import "../materials/materials.component.scss";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .header-container {
    height: 53px;
    border-bottom: 1px solid var(--color-body-background);
  }

  .collection-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    overflow-y: scroll;
    padding: 5% 0;
    background-color: var(--color-white);

    .collection-grid {
      width: 85%;
      height: fit-content;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
      grid-gap: 40px;
    }
  }
}

.empty-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
}
