<me-introduction-message [dataModel]="introMsgData" (btnEvent)="btnEventHandler()"></me-introduction-message>
<ng-container *ngIf="collectionCardItems.length !== 0 || areCollectionsLoading || isSearch; else noCollectionTemplate">
  <div class="header-container">
    <me-search-bar
      [dataModel]="searchBarData"
      (sortBy)="handleSortByEvent($event)"
      (searchInput)="handleSearch($event)"
      (toggleSelect)="handleToggleSelectEvent()"
      (searchBarActions)="handleSearchBarEvents($event)"
    ></me-search-bar>
  </div>
  <div meScrollToBottom (bottomReached)="bottomReachedHandler()" class="collection-container box-sizing-border-box">
    <div class="collection-grid" *ngIf="collectionCardItems.length !== 0 || areCollectionsLoading; else zeroCollectionsTemplate">
      <me-new-collection-card
        *ngFor="let item of collectionCardItems; let index = index; trackBy: trackByOid"
        [dataModel]="item"
        (click)="handleItemClick(item, index)"
        (eventOccurs)="customEvent($event.eventName, $event.payload, item)"
      >
      </me-new-collection-card>
    </div>
    <ng-template #zeroCollectionsTemplate> THERE ARE NO COLLECTIONS </ng-template>
  </div>
</ng-container>
<ng-template #noCollectionTemplate>
  <me-empty-content class="empty-container" [dataModel]="emptyContent" (clicked)="handleAddButtonClick()"> </me-empty-content>
</ng-template>

<ng-template #materialsGrid>
  <div
    class="materials-container"
    [meComponentLoading]="areMaterialsLoading"
    *ngIf="materialCardItems.length !== 0 || areMaterialsLoading || materialsIsSearch; else noMaterialsTemplate"
  >
    <div class="materials-content box-sizing-border-box">
      <div class="header">
        <me-search-bar
          [dataModel]="materialsSearchBarData"
          (searchInput)="materialsHandleSearch($event)"
          (sortBy)="handleSortByEvent($event)"
          (searchBarActions)="handleSearchBarEvents($event)"
        ></me-search-bar>
      </div>

      <div meScrollToBottom (bottomReached)="bottomReachedHandler()" class="my-materials-container box-sizing-border-box">
        <div class="grid-container" *ngIf="materialCardItems.length !== 0 || areMaterialsLoading; else zeroMaterialsTemplate">
          <me-material-card
            *ngFor="let cardItem of materialCardItems; let cardIndex = index; trackBy: trackByOid"
            [dataModel]="cardItem"
            (click)="handleItemClick(cardItem, cardIndex)"
            (eventOccurs)="customEvent($event.eventName, $event.payload, cardItem)"
          ></me-material-card>
        </div>
        <ng-template #zeroMaterialsTemplate> THERE ARE NO MATERIALS </ng-template>
      </div>
    </div>
  </div>
  <ng-template #noMaterialsTemplate>
    <me-empty-content class="empty-container" [dataModel]="materialsEmptyContent" (clicked)="handleAddButtonClick()"> </me-empty-content>
  </ng-template>
</ng-template>
<ng-template #createButton>
  {{ i18nStrings.create }}
  <i-feather name="plus"></i-feather>
</ng-template>
