<nv-paper-view>
  <nv-grid
    (gridConfigChangedOnSave)="gridConfigService.update($event)"
    [gridConfig]="gridConfig"
    [dataSource$]="dataSource$"
    #grid
  >
  </nv-grid>
  <nv-inactive-entities-checkbox [gridComponent]="gridComponent"></nv-inactive-entities-checkbox>
</nv-paper-view>
