:host {
  display: block;
}

form {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.section {
  display: flex;
  align-items: center;
  flex-direction: column;

  [nz-row] {
    margin: 5px 0;
  }
}

.checkbox-container {
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
}