<div class="main">
  <form nz-form [formGroup]="form" nzLayout='vertical'>
    <div nzGutter="28" nz-col class="section">
      <div nz-row nzSpan="10">
        <nv-input-wrapper nz-col [label]="wording.general.nameEn | translate">
          <input type="text" nz-input formControlName="labelEn">
        </nv-input-wrapper>
      </div>
      <div nz-row nzSpan="10">
        <nv-input-wrapper nz-col [label]="wording.general.nameDe | translate">
          <input type="text" nz-input formControlName="labelDe">
        </nv-input-wrapper>
      </div>
      <div nz-row nzSpan="10">
        <nv-input-wrapper nz-col [label]="wording.accounting.abbreviation | translate">
          <input type="text" nz-input formControlName="abbreviation">
        </nv-input-wrapper>
      </div>
      <div nz-row class="checkbox-container">
        <div class="checkbox-field" nz-col>
          <label nz-checkbox formControlName="isAutomaticNumbering">
            {{ wording.accounting.autoNumbering | translate }}
          </label>
        </div>
      </div>
    </div>
  </form>
  <div>
    <div class='fb footer'>
    </div>
  </div>
  <nv-modal-footer>
    <button nz-button nzType="info" (click)="closeModal()">
      {{ wording.general.cancel | translate }}
    </button>
    <button
      [disabled]="!form.dirty"
      (click)="saveClicked()"
      nz-button
      nzType="primary"
    >
      {{ wording.general.submit | translate }}
    </button>
  </nv-modal-footer>
</div>
