<div class="home-main box-sizing-border-box scrollbar">
  <me-introduction-message *ngIf="isImport" [dataModel]="introMsgData" (btnEvent)="btnEventHandler()"></me-introduction-message>
  <div class="intro box-sizing-border-box">
    <div class="intro-left">
      <div class="intro-txt">
        <h2 class="title-txt">Welcome</h2>
        <p>
          Welcome to the Material Exchange Open Marketplace! We are very happy to have you here, and look forward to becoming integral to
          your digital transformation journey!
        </p>
        <p>
          As you start to use this new Plaform, please refer to the
          <a href="https://5883447.hs-sites.com/knowledge" target="_blank" rel="noopener noreferrer">Knowledge Base</a>,
          <a href="https://material-exchange.com/contact-us/" target="_blank" rel="noopener noreferrer">Request Help</a>, or
          <a href="https://material-exchange.com/contact-us/" target="_blank" rel="noopener noreferrer">Provide Feedback.</a>
        </p>
      </div>
      <div class="video" (click)="playVideo()">
        <img src="assets/images/omp-video-thumbnail.jpg" alt="Welcome from our CEO" />
      </div>
    </div>
    <div class="intro-right">
      <div class="help-box">
        <a href="https://5883447.hs-sites.com/knowledge" class="icon-btn-home" target="_blank" mat-button color="primary">
          Knowledge Base<me-icons class="circle" name="book"></me-icons>
        </a>
        <p>Learn everything you need to know about how to use the platform with detailed documentation and tutorials.</p>
      </div>
      <div class="help-box">
        <a href="https://material-exchange.com/contact-us/" class="icon-btn-home" target="_blank" mat-button color="primary">
          Get Help<me-icons name="help-circle"></me-icons>
        </a>
        <p>Our dedicated Customer Support team is ready to help. Open a support request to get the assistance you need fast.</p>
      </div>
      <div class="help-box">
        <a href="https://material-exchange.com/contact-us/" class="icon-btn-home" target="_blank" mat-button color="primary">
          Provide Feedback<me-icons class="circle" name="message-square"></me-icons>
        </a>
        <p>Have an idea about how to improve the Platform? Want a feature that isn’t implemented yet? Please let us know.</p>
      </div>
    </div>
  </div>
  <div class="ht-heading">
    <h3>PLATFORM TIMELINE</h3>
    <p>
      The Material Exchange Marketplace Platform will grow over the next few months in three key phases. Here’s what you should do now, and
      what’s coming next.
    </p>
  </div>
  <div class="home-timeline">
    <div class="gird">
      <div class="column m-color">
        <div class="box-header">
          <div>
            <h2>PHASE 1</h2>
            <p>Open Marketplace Preparations</p>
          </div>
          <div class="calendar">
            <span class="m">MAR </span>
            <span class="d">5</span>
          </div>
        </div>
        <div class="column-inner">
          <p *ngIf="isCompanyProfileEdit && isMaterialsView && isCollectionsView">
            Create and set up your <a [routerLink]="['/digital-profile/view']">company profile</a>,
            <a [routerLink]="['/materials']">materials</a> and <a [routerLink]="['/collections']">collections</a> in preparation for the
            marketplace launch on 26 April.
          </p>
          <ul>
            <li *ngIf="isImport">
              <div class="box-desc">
                <h3>Import data from the Material Exchange Library Platform<me-icons class="circle" name="book"> </me-icons></h3>
                If you have an account in the Material Exchange Library Platform, you can import your Company Profile, Materials, Books,
                Certificates, and Users.
              </div>
              <div class="btn-box">
                <button (click)="btnEventHandler()" mat-flat-button color="primary">GO</button>
              </div>
            </li>
            <li *ngIf="isCompanyProfileView">
              <div class="box-desc">
                <h3>
                  Configure your Company Profile<a
                    href="https://5883447.hs-sites.com/knowledge/setting-up-digital-profile-suppliers"
                    target="_blank"
                  >
                    <me-icons class="circle" name="book"></me-icons>
                  </a>
                </h3>
                Upload your logo and cover image, locations, contact into, and description.
              </div>
              <div class="btn-box">
                <a [routerLink]="['/digital-profile/view']" mat-flat-button color="primary">GO</a>
              </div>
            </li>
            <li *ngIf="isUserList">
              <div class="box-desc">
                <h3>
                  Invite your Colleagues<a href="https://5883447.hs-sites.com/knowledge/managing-users-groups-suppliers" target="_blank">
                    <me-icons class="circle" name="book"></me-icons>
                  </a>
                </h3>
                Manage your Users and set their permissions by adding users to predefined groups.
              </div>
              <div class="btn-box">
                <a [routerLink]="['/users']" mat-flat-button color="primary">GO</a>
              </div>
            </li>
            <li *ngIf="isMaterialsView">
              <div class="box-desc">
                <h3>
                  Create Materials<a href="https://5883447.hs-sites.com/knowledge/materials-suppliers" target="_blank">
                    <me-icons class="circle" name="book"></me-icons>
                  </a>
                </h3>
                Manage your materials, attach associated Visuals and Documents, and set the visibility.
              </div>
              <div class="btn-box">
                <a [routerLink]="['/materials']" mat-flat-button color="primary">GO</a>
              </div>
            </li>
            <li *ngIf="isCollectionsView">
              <div class="box-desc">
                <h3>
                  Create Collections<a href="https://5883447.hs-sites.com/knowledge/collections-suppliers" target="_blank">
                    <me-icons class="circle" name="book"></me-icons>
                  </a>
                </h3>
                Organize your materials, attach associated Visuals and Documents, and set the visibility.
              </div>
              <div class="btn-box">
                <a [routerLink]="['/collections']" mat-flat-button color="primary">GO</a>
              </div>
            </li>
            <li>
              <div class="m-color-box">
                <div class="box-desc">
                  <h3>Invite your Customers</h3>
                  Build anticipation by inviting your Customers to sign up for the Open Marketplace Launch Event waiting list. Use our email
                  template.
                </div>
                <div class="btn-box">
                  <button (click)="openInviteForm()" mat-flat-button color="primary">View Template</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="box-header">
          <div>
            <h2>PHASE 2</h2>
            <p>Open Marketplace Launch</p>
          </div>
          <div class="calendar">
            <span class="m">APRIL</span>
            <span class="d">26</span>
          </div>
        </div>
        <div class="column-inner">
          <p>On April 26, customers will enter the Open Marketplace to find your company profile, materials, collections, and more.</p>
          <ul>
            <li>
              <div class="box-desc">
                <h4>Manage your Customer Community</h4>
                Invite customers. Manage requests from customers to join. Then give your Community members access to exclusive materials and
                collections.
              </div>
            </li>
            <li>
              <div class="box-desc">
                <h4>Customize your Supplier Story</h4>
                Easily create an easy to read overview that allows customers to quickly learn about your company. Share beautiful links to
                your Story from anywhere.
              </div>
            </li>
            <li>
              <div class="box-desc">
                <h4>Communicate Directly with Customers</h4>
                and receive requests for samples using a fully featured messaging center.
              </div>
            </li>
            <li>
              <div class="box-desc">
                <h4>Gain Key Insights</h4>
                about interactions with your marketplace content. Learn what’s most popular and where to place focus.
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="box-header">
          <div>
            <h2>PHASE 3</h2>
            <p>Private Marketplaces</p>
          </div>
          <div class="calendar">
            <span class="m">SUMMER</span>
            <span class="d">2021</span>
          </div>
        </div>
        <div class="column-inner">
          <p>Discover new opportunites and reach additional customers by participating in private marketplaces.</p>
          <ul>
            <li>
              <div class="box-desc">
                <h4>Discover numerous private marketplaces</h4>
                where your materials can be presented to targeted buyers looking specifically for what you have to offer.
              </div>
            </li>
            <li>
              <div class="box-desc">
                Choose which materials and collections are visible in each private marketplace where you participate. You’re in control!
              </div>
            </li>
            <li>
              <div class="box-desc">
                The Material Exchange Marketplace Platform lets you to manage all your customers and online communications in one central
                place.
              </div>
            </li>
            <li>
              <div class="m-color-box g-color-box">
                Additional features and functionality will launch regularly to help expand your reach, grow your business and give you more
                control.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #popupImportData>
  <me-data-import (sendFormData)="handleSendFormData($event)"></me-data-import>
</ng-template>
<ng-template #inviteForm>
  <div class="inviteForm">
    <div class="box-body scrollbar">
      <mat-form-field hideRequiredMarker="true">
        <textarea rows="18" readonly matInput id="firstName" #inviteCustomerTextArea>
Hi there!

We’ve joined the Material Exchange Open Marketplace – a digital material marketplace that connects footwear and apparel brands with material suppliers. All our materials will soon be live and ready to be discovered there, along with detailed material attribute data, including certificates! You can also get access to our exclusive materials!

The Open Marketplace launches at the end of April. We would love for you to be part of it. Join the waiting list today at the link below to stay up to date with the launch and be the first to see our latest materials.

https://material-exchange.com/mp-waitinglist/

See you there!</textarea
        >
      </mat-form-field>
    </div>
    <div class="box-footer">
      <button (click)="copyinviteUrl()" mat-flat-button color="primary">{{ i18nStrings.copy }}</button>
    </div>
  </div>
</ng-template>
