@import "global/breakpoints";
.scrollbar {
  height: 100%;
  overflow-y: auto;
}
.intro {
  background-color: var(--color-white);
  padding: 60px 40px;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 20px));
  grid-gap: 40px;
  border-radius: 4px;
  .intro-left {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: calc(100% - 305px) 265px;
    .video {
      height: 150px;
      cursor: pointer;
      position: relative;
      .w-txt {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        padding: 15px;
        box-sizing: border-box;
        background-color: rgba(0,0,0,0.5);
        h3 {
          font-weight: 600;
          font-size: 21px;
          color: var(--color-white);
        }
        p {
          color: var(--color-white);
          font-weight: 600;
          font-size: 16px;
          letter-spacing: 0.2px;
          margin: 0;
          me-icons {
            height: 32px;
            width: 32px;
            margin-right: 10px;
            vertical-align: -11px;
          }
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .intro-txt {
      .title-txt {
        font-size: 30px;
        color: var(--color-main-darke);
        margin-bottom: 10px;
      }
      p {
        font-size: 15px;
        letter-spacing: 0.2px;
        color: #333333;
        line-height: 1.4;
        margin-bottom: 0;
        & + p {
          margin-top: 10px;
        }
      }
    }
  }
  .intro-right {
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 26px));
    grid-gap: 40px;
    .help-box {
      .mat-button {
        display: block;
        padding: 0;
        text-decoration: none;
      }
      .circle {
        border: 1px solid var(--color-primary);
        border-radius: 100%;
        box-sizing: border-box;
        padding: 0 4px;
      }
      p {
        font-size: 15px;
        letter-spacing: 0.2px;
        color: #333333;
        line-height: 1.4;
        margin: 5px 0 0 0;
      }
    }
  }
  @include desktop {
    padding: 40px 20px;
    grid-template-columns: repeat(2, calc(50% - 8px));
    grid-gap: 15px;
    .intro-left {
      grid-gap: 15px;
      grid-template-columns: calc(100% - 280px) 265px;
    }
    .intro-right {
      grid-template-columns: repeat(3, calc(33.33% - 10px));
      grid-gap: 15px;
    }
  }
  @media (max-width: 1580px) {
    grid-template-columns: repeat(1, 100%);
    grid-gap: 15px;
  }
  @include tablet_small {
    .intro-left {
      grid-template-columns: repeat(1, 100%);
    }
    .intro-right {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
  }
}
.ht-heading {
  max-width: 800px;
  margin: 60px 0 35px 0;
  h3 {
    font-weight: bold;
    font-size: 20px;
    color: var(--color-main-darker);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #333333;
    line-height: 23px;
  }
}
.text {
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: var(--color-black);
}
.home-timeline {
  .gird {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, calc(33.33% - 20px));
    align-items: flex-start;
    .column {
      background-color: var(--color-white);
      border-radius: 4px;
      overflow: hidden;
      .column-inner {
        padding: 30px 20px 20px;
      }
    }
  }
  .box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-main);
    padding: 15px 20px;
    h2 {
      font-weight: bold;
      font-size: 22px;
      line-height: 33px;
      color: var(--color-white);
      margin: 0;
    }
    p {
      font-size: 18px;
      line-height: 25px;
      color: var(--color-white);
      margin: 0;
    }
    .calendar {
      height: 50px;
      width: 50px;
      background-color: var(--color-primary);
      border: 4px solid var(--color-white);
      border-radius: 4px;
      text-align: center;
      padding: 2px 5px 5px;
      .m {
        line-height: 15px;
        color: var(--color-white);
        display: block;
        font-size: 10px;
      }
      .d {
        background-color: var(--color-white);
        color: var(--color-primary);
        font-size: 18px;
        border-radius: 2px;
        display: block;
        font-weight: bold;
        height: calc(100% - 17px);
        line-height: 35px;
        margin-top: 2px;
      }
    }
  }
  p {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: var(--color-black);
    a {
      font-weight: bold;
    }
  }
  ul {
    li {
      @extend .text;
      border-top: 1px dashed #747474;
      margin-top: 24px;
      padding-top: 24px;
      display: flex;
      justify-content: space-between;
      .box-desc {
        width: calc(100% - 85px);
      }
      .m-color-box {
        border-radius: 4px;
        border: 1px solid var(--color-primary);
        background: #eeedfc;
        padding: 14px;
        display: flex;
        justify-content: space-between;
        &.g-color-box {
          background-color: #ecf7ed;
          border: none;
        }
        .box-desc {
          width: calc(100% - 130px);
        }
      }
      h3 {
        font-weight: 700;
        color: var(--color-black);
        margin: 0;
        line-height: 22px;
        me-icons {
          border: 1px solid var(--color-primary);
          border-radius: 100%;
          box-sizing: border-box;
          padding: 0 4px;
          vertical-align: -6px;
          margin-left: 5px;
        }
      }
      h4 {
        font-weight: 600;
        color: var(--color-black);
        margin: 0;
        line-height: 22px;
      }
    }
  }
  .m-color {
    .box-header {
      background-color: var(--color-primary);
    }
  }
  @media (max-width: 1580px) {
    .box-header {
      padding: 15px;
      h2 {
        font-size: 20px;
        line-height: 28px;
      }
      p {
        font-size: 16px;
      }
      .calendar {
        height: 40px;
        width: 40px;
        .d {
          line-height: 24px;
          font-size: 16px;
        }
      }
    }
    .gird {
      grid-template-columns: repeat(auto-fill, minmax(445px, 1fr));
    }
  }
}
.inviteForm {
  width: 500px;
  @include mobile{
    width: 290px;
  }
  .box-body {
    box-shadow: inset 0px 1px 0px #efeff3;
    padding: 30px 20px 0 20px;
    max-height: calc(100vh - 210px);
    mat-form-field{
      width: 100%;
    }
  }
  .box-footer {
    box-shadow: inset 0px 1px 0px #efeff3;
    text-align: right;
    padding: 20px;
  }
}
