<lavash-popup closeBtnIcon="icon-resize1"
              (popupOpenEvent)="onPopupOpen($event)"
              (popupCloseEvent)="onPopupClose($event)">

    <!-- layout option : IMAGE SLIDER -->
    <app-img-slider  *ngIf="popupName === popupNameList.IMG_SLIDER"
                       [sliderItem]="popupData.portfolioItem"
                       [sliderItems]="popupData.portfolioItems">
    </app-img-slider>

    <!-- layout option : FULL STORY -->
    <lavash-article-card *ngIf="popupName === popupNameList.STORY"
                         [article]="popupData.story"
                         [articleImgPath]="articleImgPath">
    </lavash-article-card>

</lavash-popup>
