<div class="video-container">
  <div class="exit-button" mat-dialog-close>
    <div class="background"></div>
    <me-icons name="x"></me-icons>
  </div>
  <vg-player>
    <video #media [vgMedia]="$any(media)" disablePictureInPicture id="singleVideo" preload="auto" controls>
      <source *ngFor="let videoSource of videoSources" [src]="videoSource.source" [type]="videoSource.type" />
    </video>
  </vg-player>
</div>
