.video-container {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;

  &:hover {
    .exit-button {
      visibility: unset;
    }
  }

  .exit-button {
    visibility: hidden;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(0,0,0,0.4);
    border-radius: 50%;
  }
}
