@import '../../../assets/less/variables.less';

@iteartions: 12;

@gridGap: 10px;

.repeatGridTemplateColumns( @i, @partial) when (@i> 0) {
  .repeatGridTemplateColumns((@i - 1), @partial);
  grid-template-columns+_: percentage(100 / @partial / 100);
}

.container-width-loop (@i) when (@i > 0){
  &.col-@{i}, lavash-container[type="col-@{i}"] {
    width: percentage(@i / @iteartions);
  }

  &.flex {
    lavash-container[type="col-@{i}"] {
      background: red;
      flex: @i;

      .l-container {
        width: 100%;
      }
    }
  }

  &.flex-wrap {
    lavash-container[type="col-@{i}"] {
       width: percentage(@i / @iteartions);
    }
  }

  &.grid {
    &.col-@{i} {
      grid-gap: @gridGap;
      .repeatGridTemplateColumns(@i, @i);
    }

    lavash-container[type="col-@{i}"] {
      width: calc(100% - @gridGap);
      background: orange;
      grid-column: 1 / span @i;

      .l-container {
        width: 100%;
      }
    }
  }

  &.flex-wrap {
    lavash-container[type="col-@{i}"] {
       width: percentage(@i / @iteartions);
    }
  }

  .container-width-loop(@i - 1);
}

:host ::ng-deep {
  .l-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: .9rem;
    min-height: 200px;
    height: auto;
    border: 1px solid @gray;

    .container-width-loop(@iteartions);
  }
}

