<div class="main">
  <form nz-form [formGroup]="form" nzLayout='vertical'>

    <div nzGutter="24" nz-row>
      <div nz-row nzSpan="24" class="checkbox-container">
        <div class="checkbox-field">
          <label nz-checkbox formControlName="isAttached">
            {{ wording.technicalManagement.attach | translate }}
          </label>
        </div>
      </div>

      <div nz-row nzSpan="24">
        <nv-input-wrapper
          [label]="wording.technicalManagement.remarks | translate"
        >
          <textarea
            rows="4"
            cols="60"
            nz-input
            formControlName="remark"
          ></textarea>
        </nv-input-wrapper>
      </div>
    </div>
  </form>
</div>
