.logo-wrapper {
  height: 80px;
  margin-bottom: 10px;

  img {
    height: 100%;
    width: auto;
  }
}

.company-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .select-and-route-btn {
    display: flex;
    align-items: center;
  }
  a {
    &:focus {
      border-color: #d9d9d9 !important;
      outline-color: transparent !important;
      color: rgba(0, 0, 0, 0.65) !important;
    }
    margin-left: 4px;
    margin-top: 12px;
  }
}

nz-select {
  min-width: 250px;
}

:host {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .component-wrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .form-wrap {
      overflow: auto;
    }
  }
}

