<div class="component-wrap">
  <div class="action-bar">
    <nv-detail-view-actions
      [inEditingMode]="editMode"
      (editClicked)="enterEditMode()"
      (cancelClicked)="cancelEditing()"
      (saveClicked)="submit()"
      [form]="form"
      [formElement]="formElement"
      style="margin-left: auto"
    >
    </nv-detail-view-actions>
  </div>

  <div class="form-wrap nv-content flex content" *ngIf="form">
    <form
      nvSpyElement
      (initialized)="formInitialized($event)"
      [formGroup]="form"
      nz-form
      nzLayout="vertical"
    >
      <div nz-row class="section">
        <div>
          <nv-fieldset [label]="wording.accounting.debitorCreditor | translate">
            <nv-input-wrapper
              *ngIf="form.get('no')"
              [label]="wording.system.debitorCreditorNumber | translate"
            >
              <input formControlName="no" type="number" nz-input />
            </nv-input-wrapper>
            <div class="company-wrap">
              <div class="select-and-route-btn">
                <nv-input-wrapper [label]="wording.general.company | translate">
                  <nv-autocomplete
                    [resource]="companies"
                    [properities]="['companyName']"
                    formControlName="companyId"
                    [modalGridConfig]="gridConfig"
                    [title]="wording.general.company"
                    [setNullIfNotFound]="true"
                  ></nv-autocomplete>
                </nv-input-wrapper>
                <a
                  nz-button
                  *ngIf="form.get('companyId').value"
                  [routerLink]="countryPath + '/' + form.get('companyId').value"
                  target="_blank"
                >
                  <i nz-icon nzType="right"></i>
                  <span>{{
                    wording.general.showCompanyAndBankDetails | translate
                  }}</span>
                </a>
              </div>

              <div class="logo-wrapper" *ngIf="form.get('companyId').value">
                <a
                  [routerLink]="countryPath + '/' + form.get('companyId').value"
                  target="_blank"
                >
                  <img
                    class="logo"
                    [src]="
                      logoId ? (logoId | imgSrc) : 'assets/company_logo.jpg'
                    "
                  />
                </a>
              </div>
            </div>

            <nv-input-wrapper
              [label]="wording.system.customersGroup | translate"
            >
              <input formControlName="customersGroup" nz-input />
            </nv-input-wrapper>
            <div class="is-acitve-checkbox">
              <label
                nz-checkbox
                formControlName="isActive"
                data-checkbox="isActive"
              >
                {{ wording.general.active | translate }}
              </label>
            </div>
          </nv-fieldset>
          <nv-fieldset
            [label]="wording.accounting.accounting | translate"
            *ngIf="!creationMode"
          >
            <nv-input-wrapper
              [label]="wording.system.debitorAccoutnNo | translate"
            >
              <input formControlName="debitorAccountNo" nz-input />
            </nv-input-wrapper>
            <nv-input-wrapper
              [label]="wording.system.creditorAccoutnNo | translate"
            >
              <input formControlName="creditorAccountNo" nz-input />
            </nv-input-wrapper>
          </nv-fieldset>
          <nv-fieldset [label]="wording.system.intercompany | translate">
            <nv-input-wrapper
              [label]="wording.system.intercompanyRelevance | translate"
            >
              <nz-select
                nzShowSearch
                nzAllowClear
                formControlName="isIntercompanyRelevant"
              >
                <nz-option
                  [nzValue]="false"
                  [nzLabel]="
                    wording.system.hasNoIntercompanyRelevance | translate
                  "
                  nzCustomContent
                >
                  <div [attr.intercompany-relevant-option]="true">
                    {{ wording.system.hasNoIntercompanyRelevance | translate }}
                  </div>
                </nz-option>
                <nz-option
                  [nzValue]="true"
                  [nzLabel]="
                    wording.system.hasIntercompanyRelevance | translate
                  "
                  nzCustomContent
                >
                  <div [attr.intercompany-relevant-option]="false">
                    {{ wording.system.hasIntercompanyRelevance | translate }}
                  </div>
                </nz-option>
              </nz-select>
            </nv-input-wrapper>
          </nv-fieldset>
        </div>
      </div>
    </form>
  </div>
</div>
