<nv-paper-view
  [routeBack]="!creationMode && routeBack"
  [customTitle]="
    creationMode
      ? (wording.general.create | translate)
      : title$ | async
  "
>
  <!-- Header -->
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <!-- Content -->
  <div class="form-wrap">
    <form
      #formElement
      [formGroup]="form"
      nz-form
      nzLayout="vertical"
      class="padding-mid"
    >
      <nv-input-wrapper [label]="wording.general.name | translate">
        <input
          formControlName="label"
          type="text"
          [placeholder]="wording.general.label | translate"
          nz-input
        />
      </nv-input-wrapper>
    </form>
  </div>
</nv-paper-view>