<div>
  <div class='fb image-uploader-main'>
    <div *ngIf="inEditingMode" class='fb uploadImageBar' (click)="uploadLogoBarClicked()">
      {{ label }}
    </div>
    <ng-content></ng-content>
    <!-- file input click event gets triggered programmatically, we hide the element: -->
    <input
      type="file"
      id="inputFileLogo"
      (change)="onFileChange($event)"
      [ngStyle]="{display: 'none'}"
      #input
    >
  </div>
</div>
<div class='fb' *ngIf="options
    && cropperMode
    && inEditingMode
    && withCropper">
  <nz-modal
    [nzVisible]="true"
    nzWrapClassName="img-cropper-modal-body"
    [nzMaskClosable]="false"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="null"
    (nzOnCancel)="leaveCropperMode()"
  >

    <ng-template #modalTitle>
      Crop Image
    </ng-template>

    <ng-template #modalContent>
      <nv-image-cropper
        [optionsInp]="options"
        (cancel)="leaveCropperMode()"
        (cropped)="uploadImage($event)"
      ></nv-image-cropper>
    </ng-template>

  </nz-modal>
</div>
