.image-uploader-main {
  position: relative;
  padding: 6px;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.19);
  width: 100%;

  .uploadImageBar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30%;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    align-self: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.80);
    }
  }

  img {
    height: 100%;
  }
}

::ng-deep .img-cropper-modal-body {
  .ant-modal {
    .ant-modal-content {
      .ant-modal-body {
        align-items: center;
      }
    }
  }
}
