<div class="l-radio-button" (click)="onSelectOption()">
      <div class="selection-area" [ngClass]="option.selected ? 'selected' : ''">
        <lavash-icon class="not-selected"
                *ngIf="!option.selected"
                [iconClassName]="uncheckedIcon || 'icon-radio-unchecked'">
        </lavash-icon>

        <lavash-icon class="selected"
                *ngIf="option.selected"
                [iconClassName]="checkedIcon || 'icon-radio-checked'">
        </lavash-icon>
      </div>
      <div class="selection-value">{{option.value}}</div>
</div>
