.pointer {
  cursor: pointer;
}

nz-auto-option {
  span {
    margin-right: 5px;
    &:first-child {
      font-weight: bold;
    }
  }
}

label {
  width: fit-content;
}

.selectbox-selected-image {
  width: 25px;
  margin-right: 3px;
}

