<nz-input-group
  *ngIf="form"
  [formGroup]="form"
  [nzSuffix]="suffixIconSearch"
  [nzPrefix]="prefixTemplateUser"
>
  <input
    #input
    nz-input
    type="text"
    formControlName="customModel"
    [placeholder]="placeholder"
    [nzAutocomplete]="auto"
    [maxlength]="maxLength"
    (keydown.escape)="handleEscape($event)"
    (keydown.tab)="handleTab(
      $event,
      (this.options.length > 0 && auto.activeItem?.nzValue)
      || $event.target?.value
    )"
    (keydown.f2)="openSearchGridModal($event)"
    (keydown.shift.tab)="handleTab(
      $event,
      (this.options.length > 0 && auto.activeItem?.nzValue)
      || $event.target?.value
    )"
    (keydown.enter)="setId ? 
      handleEnter($event, $event.target?.dataset.id)
    : handleEnter($event, $event.target?.value)"
    (input)="onChangeInput($event.target?.value)"
    (blur)="setId ?
      onBlur($event, $event.target?.dataset.id)
    : onBlur($event, $event.target?.value)"
    (click)="handleClick($event)"
    autocomplete="off"
  >
</nz-input-group>

<nz-autocomplete
  #auto
  [nzBackfill]="true"
  [nzWidth]="'auto'"
  [nzDefaultActiveFirstOption]="isControlRequired"
  (selectionChange)="autocompleteCurrentValue($event.nzValue, true)"
>
  <nz-auto-option
    *ngFor="let option of options;"
    [nzLabel]="(
      propertyToDisplayModifier
        ? propertyToDisplayModifier(option[properities[0]])
        : option[properities[0]]
        )
        + (properities[1]
          ? ' ' + option[properities[1]]
          : '')"
    [nzValue]="setId ? option.id : option[properities[0]]"
  >
    <img
      *ngIf="imageProp"
      class="selectbox-selected-image"
      [src]="option[imageProp]"
      default="assets/no-flag.png"
      alt="selectbox-image"
    />
    <ng-container *ngFor="let optionKey of properities;">
      <ng-container *ngIf="propertyToDisplayModifier && (optionKey === properities[0]); else normalTemplate">
        <span [attr.data-value]="propertyToDisplayModifier(option[optionKey])">
          {{propertyToDisplayModifier(option[optionKey])}}
        </span>
      </ng-container>
      <ng-template #normalTemplate>
        <span [attr.data-value]="option[optionKey]">{{option[optionKey]}}</span>
      </ng-template>
    </ng-container>
  </nz-auto-option>
</nz-autocomplete>

<ng-template #suffixIconSearch>
  <i
    class="pointer"
    nz-icon
    nzType="search"
    (mousedown)="handleSearchIconMouseDown($event)"
    (click)="handleSearchIconClick($event)"  >
  </i>
</ng-template>

<ng-template #prefixTemplateUser>
  <img
    *ngIf="resource?.length && imageProp"
    class="selectbox-selected-image"
    [src]="imageSrc"
    default="assets/no-flag.png"
    alt="selectbox-image"
  />
</ng-template>

<ng-template #gridTemplate>
  <nv-grid
    #modalGrid
    [gridConfig]="gridConfig"
    [dataSource]="showingAll ? rawResource : resource"
  >
  </nv-grid>
  <label
    *ngIf="rawResource && rawResource.length > 0"
    nz-checkbox
    [ngModel]="showingAll"
    (ngModelChange)="showingAll=!showingAll"
  >
    {{ wording.autocomplete.showAll | translate}}
  </label>
</ng-template>
<ng-template #modalTitle>
  {{ title ? title : wording.general.select | translate }}
</ng-template>