/* AVETIQ MODULE */


.#{$prefix}-badge {
  font-size: 80%;
  line-height: 1;
  display: inline;
  padding: .4em .6em .3em;
  text-align: center;
  text-transform: uppercase;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: .25em;
  font-weight: $font-weight-light;
  border-radius: $border-radius;
  box-sizing: border-box;
  text-transform: uppercase;
  color: white;
  background-color: $gray;
}

  // badge color variants
  @each $color, $value in $theme-colors {
    .#{$prefix}-badge {
      &.#{$color} {
        color: white;
        background-color: $value;
      }
    }
  }
