/* AVETIQ MODULE */

$button-active-darken: 10%;


$default-button-color: $gray;

.#{$prefix}-button {
  border-radius: $border-radius;
  box-sizing: none;
  padding: $space/1.5 $space;
  font-size: $font-size;
  display: flex;

  margin-bottom: $space;

  outline: none;
  cursor: pointer;
  transition: all 0.05s ease-in-out;

  border: solid 1px $default-button-color;

  position: relative;
  &:after {
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background: $default-button-color;
    content: '';
  }

  overflow: hidden;

  .material-icons {
    margin-right: $space/1.5 ;
    font-size: 15px;
  }

  color: darken($default-button-color, 30%);
  &:active {
    background-color: lighten($default-button-color, 20%);
  }
}

// button color variants
@each $color, $value in $theme-colors {
  .#{$prefix}-button {
    &.#{$color} {
      border: solid 1px $value;
      color: white;
      &:after {
        background: darken($value, $button-active-darken);
      }
      &:active {
        border-color: darken($value, $button-active-darken);
        background-color: darken($value, $button-active-darken);
      }
      border-bottom-color: darken($value, $button-active-darken);
      background-color: $value;
    }
  }
}
