/* AVETIQ MODULE */

// theme-colors
$primary: #4697b2;
$secondary: #324D5C;
$info: #5d99ed;
$danger: #DE5B49;
$warning: #E37B40;
$success: green;
$dark: #343a40;

// additional colors
$light: #f8f9fa;
$gray-light: #ebebeb;
$gray: #b3b3b3;

// color arrays
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "dark": $dark,
  "white": #fff,
  "gray": $gray
);

// // text coloring
// @each $color, $value in $theme-colors {
//   .#{$prefix}-color-#{$color} {
//     color: $value;
//   }
// }

// // background coloring
// @each $color, $value in $theme-colors {
//   .#{$prefix}-bg-#{$color} {
//     background: $value;
//   }
// }
