/* AVETIQ MODULE */


$input-background-color: rgba(0, 0, 0, 0.025);

input {
  background: $light;
  border: solid 1px $gray-light;
  border-radius: $border-radius;
  padding: $space/1.5;
  box-sizing: border-box;
  &:focus {
    outline: none;
    border-color: $info;
    background: #ecf7ff;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(0,0,0,0.27);
    font-style: italic;
    font-size: $font-size-sm;
  }
}
