/* AVETIQ MODULE */
@mixin truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin setScrollBar($scrollbarWidth: 7px) {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    opacity: 1;
  }

  &::-webkit-scrollbar {
    width: $scrollbarWidth;
    height: 7px;
    opacity: 1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #9c9c9c;
  }
}

@mixin listViewFlag() {
  text-align: center;
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  img {
    width: 35px;
  }
}
