body {
  .nv-confirm-modal, .nv-warning-modal {
    min-width: 480px;

    .ant-modal-confirm-btns {
      button {
        // Cancel button
        &:first-child {
          background-color: rgba(0, 0, 0, 0);
          border: 1px rgba(0, 0, 0, 0) solid;
          color: rgba(0, 0, 0, 0.65);

          &:focus,
          &:hover {
            background-color: rgba(0, 0, 0, 0);
            border: 1px #343a40 solid;
          }
        }
        // Delete button
        &:last-child {
          background-color: $primary-light;
          border: 1px $primary-light solid;
          color: $text-primary;

          &:focus,
          &:hover {
            background-color: $primary;
            border: 1px $primary solid;
          }
        }
      }
    }
  }
}
html[data-theme="dark"] {
  body {
    .nv-confirm-modal, .nv-warning-modal {
      .ant-modal-confirm-btns {
        button {
          // Cancel button
          &:first-child {
            background-color: rgba(0, 0, 0, 0);
            border: 1px #fff solid;
            color: $text-primary;

            &:focus,
            &:hover {
              background-color: #5a3c3c;
              border: 1px $text-primary solid;
            }
          }
          // Delete button
          &:last-child {
            background-color: #8a2926;
            border: 1px $primary-light solid;
            color: $text-primary;

            &:focus,
            &:hover {
              background-color: $primary;
              border: 1px $primary solid;
            }
          }
        }
      }
    }
  }
}
