/* AVETIQ MODULE */

.#{$prefix}-paper {
  overflow: auto;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  flex-direction: column;

  .#{$prefix}-header {
    padding: $space;
    border-bottom: solid 1px $gray-light;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;
  }

  .#{$prefix}-title {
    font-size: 28px;
    line-height: 33px;
    font-weight: 200;
    padding-right: $space*2;
    @include truncate();
    flex: 0 1 auto;
  }

  .#{$prefix}-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;

    &:not(.no-padding) {
      padding: $space;
    }
  }

  .#{$prefix}-footer {
    flex: 0 0 auto;
    flex-direction: row;
    direction: flex;
    align-items: center;
    padding: $space;
    border-top: solid 1px $gray-light;
    background: rgba(128, 128, 128, 0.07);
  }
}

.#{$prefix}-context-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 1 0 auto;
  .#{$prefix}-button {
    margin: 0 0 0 $space;
  }
}
