/* AVETIQ MODULE */


.#{$prefix}-bold {
  font-weight: $font-weight-bold;
}

.#{$prefix}-thin {
  font-weight: $font-weight-light;
}

.#{$prefix}-lowercase {
  text-transform: lowercase;
}

.#{$prefix}-uppercase {
  text-transform: uppercase;
}

.#{$prefix}-capitalize {
  text-transform: capitalize;
}

.#{$prefix}-truncate {
  @include truncate();
}

.#{$prefix}-text-xl {
  font-size: $font-size-xl;
}

.#{$prefix}-text-lg {
  font-size: $font-size-lg;
}

.#{$prefix}-text-md {
  font-size: $font-size-md;
}

.#{$prefix}-text-sm {
  font-size: $font-size-sm;
}

bold {
  font-weight: $font-weight-bold;
  display: inline-block;
}

thin {
  font-weight: $font-weight-light;
  display: inline-block;
}
