/* AVETIQ MODULE */

$prefix: "nv";


// theme-colors
$primary: #c44747;
$secondary: #2D728F;
$info: #5d99ed;
$danger: $primary;
$warning: #F18F01;
$success: #7AC74F;
$dark: #343a40;

// additional colors
$text-primary: #efe8dd;
$primary-light: #d1706d;
$light: #f8f9fa;
$gray-light: #ebebeb;
$gray: #b3b3b3;

// color arrays
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "dark": $dark,
  "white": #fff,
  "gray": $gray
);


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$space:                      12px !default;
$spacer:                      $space;

$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .5),
  2: ($spacer * 1),
  3: ($spacer * 1.5),
  4: ($spacer * 3),
  5: ($spacer * 6)
), $spacers);

$line-height:                 1.5;
$border-width:                1px;
$border-radius:               2px;

$transition:                  all .2s ease-in-out;
$transition-fast:             all .12s ease-in-out;
$transition-fade:             opacity .15s linear;

$font-family-no-number:       "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family:                 "Monospaced Number", $font-family-no-number;

$font-size:                   14px;
$font-size-xl:                ($font-size * 1.5);
$font-size-lg:                ($font-size * 1.25);
$font-size-md:                ($font-size * 1);
$font-size-sm:                ($font-size * .875);

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;

$headings-margin-bottom:      ($space / 2);
$headings-font-family:        inherit;
$headings-font-weight:        500;
$headings-line-height:        1.2;
$headings-color:              inherit;


