/* AVETIQ MODULE */

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800');
@import "_normalize";
@import "_colors";
@import "_variables";
@import "_mixins";
@import "_breakpoints";
@import "_input";
@import "_buttons";
@import "_badges";
@import "_icons";
@import "_paper";
@import "_typography";
@import "_spacing";
@import "_busy";
@import "_flex";
@import "_modal";

html {
  font-family: $font-family;
  font-size: $font-size-md;
}

hr {
  border: none;
  border-bottom: solid 1px $gray-light;
}

.no-pointer-events{
  pointer-events: none;
}
