@import "src/app/core/styles/_mixins";
:host {
  form {
    padding: 15px;
    ::ng-deep .language {
      nz-form-item {
        flex-direction: row;
        align-items: center;
        .label-wrap {
          margin-right: 10px;
        }
      }
    }
    .color-checkboxes-wrap {
      padding: 0px 11px;
      display: flex;
      align-items: flex-end;
      width: 100%;
      justify-content: space-between;
      .color-radio-wrap {
        ::ng-deep nz-form-item {
          padding: 0px;
        }
        display: flex;
        align-items: flex-end;
      }
    }
    nv-fieldset.checklist {
      width: 100%;
      padding: 0px 11px;
      margin-bottom: 5px;
      .actions {
        margin-bottom: 5px;
      }
      .todos-wrap {
        max-height: 400px;
        overflow: auto;
        padding: 1px 7px;
        @include setScrollBar();
      }
      .todo-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .inputs {
          display: flex;
          flex: 2;
          .input-wrap {
            flex: 1;
            margin-right: 10px;
            .requiredSymbol {
              &::after {
                display: inline-block !important;
                margin-right: 4px;
                content: "*";
                font-family: SimSun;
                line-height: 1;
                font-size: 14px;
                color: #c44747;
              }
            }
            input {
              &.invalid {
                border: 0;
                box-shadow: 0px 0px 0px 1.5px #ff5050;
              }
            }
          }
        }
        .action-buttons {
          margin-top: 20px;
        }
      }
    }
  }
}
