<div class="wrap">
  <form [formGroup]="form" nz-form nzLayout="vertical">
    <div nz-row nzGutter="22">
      <nv-input-wrapper
        class="language"
        [label]="wording.general.language | translate"
        nz-col
        nzSpan="24"
      >
        <nz-radio-group formControlName="languageType">
          <label nz-radio [nzValue]="TaskLanguageType.En">EN</label>
          <label nz-radio [nzValue]="TaskLanguageType.De">DE</label>
          <label nz-radio [nzValue]="TaskLanguageType.All">
            {{ wording.general.all | translate }}
          </label>
        </nz-radio-group>
      </nv-input-wrapper>

      <div nz-col nzSpan="12" *ngIf="isSameLanguageOrAll(TaskLanguageType.En)">
        <nv-input-wrapper [label]="wording.accounting.labelEn | translate">
          <input nz-input formControlName="labelEn" type="text" />
        </nv-input-wrapper>
      </div>
      <div nz-col nzSpan="12" *ngIf="isSameLanguageOrAll(TaskLanguageType.De)">
        <nv-input-wrapper [label]="wording.accounting.labelDe | translate">
          <input nz-input formControlName="labelDe" type="text" />
        </nv-input-wrapper>
      </div>

      <nv-fieldset
        [label]="wording.system.checklist | translate"
        class="checklist"
      >
        <div class="actions">
          <button
            nz-button
            nzType="primary"
            (click)="addTodoForm()"
            nz-tooltip
            [nzTooltipTitle]="wording.system.addTodo | translate"
            [nzTooltipMouseEnterDelay]="0.5"
          >
            <i nz-icon nzType="plus-circle"></i>
          </button>
        </div>
        <ng-container *ngIf="todosCtrl.controls; else noTodos">
          <div class="todos-wrap">
            <ng-container
              formArrayName="todos"
              *ngFor="let todo of todosCtrl.controls; let i = index"
            >
              <div [formGroupName]="i" class="todo-wrap">
                <div class="inputs">
                  <div
                    class="input-wrap"
                    *ngIf="isSameLanguageOrAll(TaskLanguageType.En)"
                  >
                    <label
                      [ngClass]="{
                        requiredSymbol: isSameLanguageOrAll(TaskLanguageType.En)
                      }"
                    >
                      {{ wording.accounting.labelEn | translate }}
                    </label>
                    <input
                      #todoInput
                      [ngClass]="{
                        invalid:
                          todo.get('labelEn').errors &&
                          (todo.get('labelEn').dirty ||
                            todo.get('labelEn').touched)
                      }"
                      nz-tooltip
                      nzTooltipPlacement="topLeft"
                      [nzTooltipTitle]="
                        todo.get('labelEn').errors &&
                        (todo.get('labelEn').dirty ||
                          todo.get('labelEn').touched) &&
                        ((todo.get('labelEn')!.errors | objectFirstEl).message
                          | translate)
                      "
                      nz-input
                      formControlName="labelEn"
                    />
                  </div>

                  <div
                    class="input-wrap"
                    *ngIf="isSameLanguageOrAll(TaskLanguageType.De)"
                  >
                    <label
                      [ngClass]="{
                        requiredSymbol: isSameLanguageOrAll(TaskLanguageType.De)
                      }"
                    >
                      {{ wording.accounting.labelDe | translate }}
                    </label>
                    <input
                      #todoInput
                      [ngClass]="{
                        invalid:
                          todo.get('labelDe').errors &&
                          (todo.get('labelDe').dirty ||
                            todo.get('labelDe').touched)
                      }"
                      nz-input
                      formControlName="labelDe"
                      nz-tooltip
                      nzTooltipPlacement="topLeft"
                      [nzTooltipTitle]="
                        todo.get('labelDe').errors &&
                        (todo.get('labelDe').dirty ||
                          todo.get('labelDe').touched) &&
                        ((todo.get('labelDe')!.errors | objectFirstEl).message
                          | translate)
                      "
                    />
                  </div>
                </div>
                <div class="action-buttons">
                  <button
                    [disabled]="!i"
                    nz-button
                    nzType="primary"
                    nzDanger
                    nzShape="circle"
                    nzSize="small"
                    (click)="removeTodoForm(i)"
                    nz-tooltip
                    [nzTooltipTitle]="wording.system.deleteTodo | translate"
                    [nzTooltipMouseEnterDelay]="0.5"
                  >
                    <i nz-icon nzType="delete"></i>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <ng-template #noTodos>
          <p class="no-todos">
            <i nz-icon nzType="info-circle" nzTheme="outline"></i>
            {{ wording.system.noChecklistItemsYet | translate }}
          </p>
        </ng-template>
      </nv-fieldset>

      <div class="color-checkboxes-wrap">
        <div class="color-radio-wrap">
          <nv-input-wrapper [label]="wording.general.color | translate">
            <div>
              <input
                type="color"
                formControlName="color"
                [ngStyle]="{ backgroundColor: form.get('color').value }"
              />
            </div>
          </nv-input-wrapper>

          <nz-radio-group formControlName="useStartDate">
            <label nz-radio [nzValue]="true">
              {{ wording.chartering.showOnStartDate | translate }}
            </label>
            <label nz-radio [nzValue]="false">
              {{ wording.chartering.showOnDoneDueDate | translate }}
            </label>
          </nz-radio-group>
        </div>

        <label nz-checkbox formControlName="isSystemDefault">
          {{ wording.general.systemDefault | translate }}
        </label>
      </div>
    </div>
  </form>
  <nv-modal-footer>
    <button nz-button nzType="info" (click)="closeModal()">
      {{ wording.general.cancel | translate }}
    </button>
    <button
      [disabled]="!form?.valid"
      (click)="save()"
      nz-button
      nzType="primary"
    >
      {{ wording.general.save | translate }}
    </button>
  </nv-modal-footer>
</div>
