@import "src/app/core/styles/_mixins";

.create-task {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
}
.task-templates-wrap {
  overflow: auto;
  height: 64vh;

  @media only screen and(max-height: 844px) {
    height: 55vh;
  }

  @media only screen and(max-height: 660px) {
    height: 50vh;
  }

  @include setScrollBar();
  nz-collapse {
    nz-collapse-panel {
      .sub-header {
        display: flex;
        justify-content: flex-end;
        .actions {
          margin-bottom: 10px;
          > button {
            margin-right: 5px;
          }
        }
      }
      &.unfolded {
        ::ng-deep .ant-collapse-header {
          background: #fafad2;
        }
      }
      ::ng-deep .ant-collapse-header {
        display: flex;
        align-items: center;
        .color {
          width: 25px;
          height: 25px;
          margin: 0px;
          margin-left: auto;
          margin-right: 13px;
          border-radius: 50%;
          border: 1px solid #0000004d;
        }
      }
    }
  }
}
