<div class="create-task">
  <button
    nz-button
    nzType="primary"
    (click)="onTaskCreateOrEdit()"
    [disabled]="!(taskTemplatesHelperService.selectedCategory$ | async)"
  >
    {{ wording.system.createTaskTemplate | translate }}
    <i nz-icon nzType="menu"></i>
  </button>
</div>

<div class="task-templates-wrap">
  <nz-collapse [nzAccordion]="true">
    <nz-collapse-panel
      *ngFor="let task of taskTemplates$ | async"
      [nzHeader]="header"
      [(nzActive)]="collapsableStatus[task.id].active"
      [ngClass]="{ unfolded: collapsableStatus[task.id].active }"
    >
      <ng-template #header>
        <span *ngIf="task.languageType === taskLanguageType.All">
          {{ task.displayLabel | translate }}
        </span>

        <span *ngIf="task.languageType === taskLanguageType.En">
          {{ task.labelEn || task.labelDe }}
        </span>

        <span *ngIf="task.languageType === taskLanguageType.De">
          {{ task.labelDe || task.labelEn }}
        </span>
        <div class="color" [ngStyle]="{ background: task.color }"></div>
      </ng-template>
      <div class="sub-header">
        <div class="actions">
          <button
            nz-button
            nzType="primary"
            (click)="onTaskCreateOrEdit(task)"
            nz-tooltip
            [nzTooltipTitle]="wording.system.editTask | translate"
            [nzTooltipMouseEnterDelay]="0.5"
          >
            <i nz-icon nzType="edit"></i>
          </button>
          <button
            nz-button
            nz-danger
            (click)="onTaskDelete(task)"
            nz-tooltip
            [nzTooltipTitle]="wording.system.deleteTask | translate"
            [nzTooltipMouseEnterDelay]="0.5"
          >
            <i nz-icon nzType="delete"></i>
          </button>
        </div>
      </div>
      <nv-task-template-checklist
        [taskTemplate]="task"
      ></nv-task-template-checklist>
    </nz-collapse-panel>
  </nz-collapse>
</div>
