:host {
  width: 100%;

  // strict selector for detail-view content
  & ::ng-deep nv-paper-view > .nv-paper > .nv-content {
    width: 100%;
  }
}

nv-paper-view ::ng-deep .damage-type-and-status {
  margin-left: 30px;
}
