<div class="wrap" e2e-modal="company-legal-entity-partners-modal">
  <form [formGroup]="form" *ngIf="form" nz-form nzLayout="vertical">
    <div nz-row nzGutter="24">
      <nv-input-wrapper
        nz-col
        nzSpan="12"
        class="date-picker"
        [label]="wording.system.from | translate"
      >
        <nv-datebox formControlName="from"></nv-datebox>
      </nv-input-wrapper>
    </div>
    <div nz-row nzGutter="24">
      <nv-input-wrapper
        nz-col
        nzSpan="12"
        [label]="trusteePartnerLabel | translate"
      >
        <nv-autocomplete
          [autofocus]="false"
          [resource]="companiesObservable | async"
          [properities]="['companyName']"
          [displayOneProperty]="true"
          [setNullIfNotFound]="true"
          formControlName="partnerId"
        ></nv-autocomplete>
      </nv-input-wrapper>
      <nv-input-wrapper
        nz-col
        nzSpan="12"
        [label]="partnerLabel | translate"
      >
        <nv-autocomplete
          [autofocus]="false"
          [resource]="partners"
          [properities]="['companyName']"
          [displayOneProperty]="true"
          [setNullIfNotFound]="true"
          formControlName="shareholderId"
        ></nv-autocomplete>
      </nv-input-wrapper>
    </div>
    <div nz-row nzGutter="10">
      <nv-input-wrapper
        nz-col
        [nzSpan]="isNonParValueShare ? 24: 20"
        [label]="contributionLabel | translate"
      >
        <nv-decimal-input
          formControlName="contributionAmount"
          [decimalPlaces]="2"
        >
        </nv-decimal-input>
      </nv-input-wrapper>
      <nv-input-wrapper
        *ngIf="!isNonParValueShare"
        nz-col
        nzSpan="4"
        className="iso-code"
        [showErrMessages]="false"
        [label]="wording.system.currency | translate"
      >
        <input formControlName="currency" type="text" nz-input />
      </nv-input-wrapper>
    </div>
    <nv-input-wrapper
      nz-col
      nzSpan="24"
      [label]="wording.system.remark | translate"
    >
      <textarea
        [nzAutosize]="{ minRows: 2, maxRows: 4 }"
        nz-input
        formControlName="remark"
      ></textarea>
    </nv-input-wrapper>
  </form>
  <nv-modal-footer class="modal-footer">
    <button nz-button nzType="info" (click)="cancel()">
      {{ wording.general.cancel | translate }}
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="submit()"
      [disabled]="!form?.valid"
    >
      {{ wording.general.save | translate }}
    </button>
  </nv-modal-footer>
</div>
