.wrap {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  overflow: hidden;
  height: 100%;
  .sidebar-filter {
    padding: 0 10px;
    min-width: 380px;
    overflow: auto;
  }
}

:host ::ng-deep {
  .ant-list-items {
    overflow: auto;
    max-height: 140px;
  }
}
::ng-deep .nv-invoiceledger-confirm-modal {
  .ant-modal-confirm-content {
    margin-top: 0px;
  }
  .ant-modal-confirm-btns {
    display: none;
  }
}
