<nv-paper-view>
  <div class="wrap">
    <div class="sidebar-filter" *ngIf="availableMandators?.length">
      <nv-mandator-sidebar-filter
          [availableMandators]="availableMandators"
          (mandatorsChecked)="onMandatorChecked($event)"
          [invoiceLedger$]="dataSource$"
        >
        </nv-mandator-sidebar-filter>
    </div>
    <nv-grid
      (gridConfigChangedOnSave)="gridConfigService.update($event)"
      [gridConfig]="gridConfig"
      [dataSource$]="dataSource$"
    >
    </nv-grid>
  </div>
</nv-paper-view>
