@import "./dark-variables.scss";

nv-autocomplete {
  nz-input-group {
    background: $input-background !important;
    background-color: $input-background !important;
    color: #fff;
    &.ant-input-affix-wrapper-disabled {
      background-color: $input-background-disabled !important;
    }
    input {
      &:disabled {
        border: none !important;
      }
      border: none !important;
    }
  }
}
