.ant-collapse {
  color: #e8e6e3a6;
  background-color: #1b1d1e;
  border-color: #3b4042;
  border-bottom: initial;
  .ant-collapse-item {
    border-bottom-color: #3b4042;
    .ant-collapse-header {
      color: #e8e6e3d9;
    }
    &.ant-collapse-item-active {
      .ant-collapse-header {
        background-color: #494908 !important;
      }
    }
    .ant-collapse-content {
      color: #e8e6e3a6;
      background-color: rgb(24, 26, 27);
      border-top-color: rgb(59, 64, 66);
    }
  }
}
