
html[data-theme="dark"] {
  @import "./dark-variables.scss";
  @import "./nv-grid.scss";
  @import "./autocomplete.scss";
  @import "./form-controls.scss";
  @import "./master-structure.scss";
  @import "./collapsable.scss";

  body {
    background: $dark;
    color: white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .nv-title {
    color: rgba(242, 240, 237, 0.85);
  }

  .layout {
    background: $dark;
    color: white;
  }

  p,
  .ant-form,
  .weather-name,
  .other-info,
  .weather-description {
    color: $text-primary;
  }

  .topbar {
    background: $dark-red;
  }

  table {
    thead {
      background: $dark-red !important;
      color: $text-primary;
    }
  }
  .ant-table {
    background: transparent;
    color: $text-primary;
    .ant-table-tbody {
      tr {
        td {
          border-bottom-color: rgb(49, 49, 49);
        }

        &:hover:not(.ant-table-expanded-row) {
          td {
            background-color: rgb(53, 0, 0);
          }
        }
      }
    }
  }

  gridster-item {
    background: #353535;
  }

  gridster {
    background: $dark-red;
  }

  .ant-btn {
    color: $text-primary;
    background-color: $dark-red;
    border-color: $text-primary;

    &:hover {
      border: 1px solid #757575;
      background: #671a18;
    }
    &:disabled {
      color: #efe8dd;
      background-color: #441c1c;
      border-color: #757472;
    }
  }

  .sitemap-main {
    .section-main {
      background: #3f4345 !important;
      .section-icon {
        img {
          display: none;
        }
      }

      .section-title {
        color: $text-primary !important;
        font-weight: normal !important;
      }
    }

    .topic-item {
      i {
        color: #ffd700 !important;
      }

      .topic-title {
        color: #cebcbc !important;
      }
    }
  }

  .topics-container {
    .topic-item {
      i {
        color: #ffd700 !important;
      }

      .topic-title {
        color: #cebcbc !important;
      }
    }
  }

  .ant-breadcrumb-link,
  .ant-breadcrumb-separator {
    color: $light-red;

    a {
      color: $text-primary;
    }
  }

  .nv-paper {
    background-color: inherit;
    .nv-title {
      font-weight: normal;
    }

    .nv-header,
    .nv-content,
    .nv-footer {
      background: $dark;
      color: $text-primary;
    }

    .nv-footer,
    .nv-header {
      border-color: #74787b;
    }
  }

  .actionsRowWrapper {
    background: $dark !important;
  }

  nv-tabset {
    background-color: #5a5757;
    border-bottom: 1px solid #a09696;
    .tabMain {
      color: #fffdfd !important;
      &.disabled {
        color: #fffdfdb5 !important;
      }
      &.selected {
        color: #e8dcdc;
      }
    }
  }

  .ant-modal {
    .ant-modal-header,
    .ant-modal-body,
    .ant-modal-footer,
    nv-modal-footer {
      background: #343a40;
      color: #fff;
      .ant-modal-title {
        color: white;
      }
      .ant-modal-confirm-content {
        color: #fff;
      }
    }
    .ant-modal-body {
      .ant-modal-confirm-title {
        color: #fff;
      }
    }
    .ant-modal-close-x {
      color: #fff;
    }
  }
  .steps-bar {
    background: #5a656f;
    border-bottom: 1px solid #5a5555;
  }

  .intervalList {
    .addButton {
      background: none !important;
    }
    .row {
      background: #545454 !important;
      &:hover {
        background: $input-background-disabled !important;
      }
      &.selected {
        background: #6b2b2b !important;
      }
    }
  }

  nv-route-back-button {
    background: #5d5d5d;
    color: #fff;
  }

  nv-topic-search-content {
    .main-list {
      background: #5d5d5d;
      color: #ddd;
      border: none;
    }
    .ant-input-suffix,
    .ant-input-prefix {
      color: white;
    }
    .search-input {
      background: #4e3232;
      color: #fff;
      &:hover,
      &:focus {
        background-color: $input-background !important;
        background: $input-background !important;
      }
    }
  }

  .ant-dropdown {
    .ant-dropdown-menu {
      background: #4b4c4e;
      .option-selected {
        .ant-dropdown-menu-item {
          background: #5b5b5c;
        }
      }
      .ant-dropdown-menu-item {
        a,
        i {
          color: #fff;
        }
        color: #fff;
        background: #4b4c4e;
        &:hover {
          background: #616264;
        }
      }
    }
  }

  nv-fieldset fieldset legend {
    background: none !important;
    color: #fff !important;
  }

  nv-voyage-main {
    .voyageListViewMain .tree-wrap .tree-header {
      background: #565656 !important;
    }
    .toggleFavoriteButton {
      button {
        background: #b3b3b3;
      }
    }
    .vesselItem {
      &.active {
        background: #625e5e !important;
      }
      .vessel-wrap {
        a {
          color: #fff !important;
        }
      }
      .iconWrapper {
        background: #b3b3b3;
      }
    }
  }

  .ant-popover-inner {
    background: #5d5d5d;
    .ant-popover-title {
      color: #fff;
    }
    .notification {
      background: #6d6a6a;
      &:hover {
        background: #324c5c !important;
      }
      &.unseen-notification {
        background: #534f4f;
      }
      .date {
        color: #f7f7f7 !important;
      }
      .message {
        color: #fff;
      }
    }
  }
  nv-conditions-of-payment,
  nv-dunning-system {
    form {
      label {
        color: #eee1e1 !important;
      }
    }
  }
  nv-bookmark,
  nv-todo-widget {
    .headline {
      color: #f1f1f1cf;
    }
    .label {
      color: #cacaca;
    }
  }

  .ant-divider-inner-text {
    color: #ededed;
  }

  .charterer-rates-content {
    .headRow {
      background: #464242 !important;
      color: #fff;
    }

    .nv-paper {
      box-shadow: 0 3px 13px 0 rgba(255, 255, 255, 0.15),
        0 1px 2px 0 rgba(255, 255, 255, 0.2);
    }
  }

  nv-editable-roles-permissions,
  nv-readable-roles-permissions {
    .related-zones {
      background: #373c42;
      color: #fdfdfd;
    }

    .ant-tabs-tab {
      color: #fdfdfd;
    }

    .ant-tabs-tab-active {
      color: #c44747;
    }
    .operation-name {
      color: #fdfdfd;
    }

    .role-header {
      color: #fdfdfd;
    }

    .operations-wrapper {
      color: #fdfdfd;
    }
  }

  nv-stevedore-damages-list-view nv-grid .toolbar-buttons nv-button {
    color: #343a40 !important;
  }
  account-settings {
    .label {
      color: #cacaca !important;
    }
  }

  nv-range-calendar {
    thead {
      th {
        color: #fff;;
      }
    }
    .calendar-footer {
      .ant-input-affix-wrapper {
        background: $input-background;
      }
    }
  }
}
