// Input Group
nz-input-group {
  background: $input-background !important;
  .ant-input-suffix {
    color: #fff;
  }
  .ant-input-group-addon {
    background: #671a18;
    color: #fff;
  }
  &.ant-input-affix-wrapper-disabled {
    background: $input-background-disabled !important;
    input {
      border: none !important;
    }
  }
  input {
    background-color: $input-background !important;
    // border: none;
  }
}

// Select
nz-select {
  nz-select-top-control {
    background: $input-background !important;
    &:disabled {
      background: $input-background-disabled !important;
    }
  }
  nz-select-item, nz-select-arrow {
    color: #fff;
  }
  span.ant-select-arrow {
    color: #fff !important;
  }
}
// Select option (in CDK modal)
nz-option-item {
  color: $text-primary;
  &:hover, &:focus, &.ant-select-item-option-active {
    color: #000;
  }
}

// Input wrapper
nv-input-wrapper {
  nv-box-select {
    color: #fff;
  }
  .label-wrap {
    label {
      color: #eee1e1;
    }

    // info icon
    & > span[nz-tooltip] > .anticon.anticon-info-circle {
      color: #fff;
    }
  }
  .validation-error-message {
    color: #ffc1c1;
  }
}

nz-form-control {
  .ant-select-arrow {
    color: #fff;
  }
  .has-error {
    input {
      background: #ba5454;
      &:hover {
        background: #ba5454;
      }
    }
  }
  nz-select {
    // ant-select-disabled
    &:not(.ant-select-disabled) {
      .ant-select-selector-search,
      .ant-select-selector,
      nz-select-top-control {
        background: $input-background !important;
        color: #fff !important;
      }
    }
    &.ant-select-disabled {
      .ant-select-selector-search,
      .ant-select-selector,
      nz-select-top-control {
        background-color: $input-background-disabled !important;
        color: #fff !important;
      }
    }
    nz-select-item {
      color: #fff;
    }
  }
  nz-year-picker {
    background: $input-background;
    color: #fff;
    .ant-picker-suffix {
      color: #fff;
    }
    .ant-picker-clear {
      background: transparent;
      i {
        background: #fff;
      }
    }
    &.ant-picker-disabled {
      background: $input-background-disabled;
    }
    nz-picker {
      input {
        :not(.disabled) {
          background: $input-background;
          color: #fff;
        }
      }
    }
  }
}

// Picker modal
.ant-picker-panel-container {
  background: #636363;
  .ant-picker-header,
  button {
    color: #fff;
  }
  td.ant-picker-cell {
    // enabled cell
    &.ant-picker-cell-in-view {
      color: #fff;
      &:hover {
        color: #000;
      }
    }
  }
}

nz-date-picker,
.date-picker-group {
  .ant-input-suffix {
    color: #fff;
  }
}
.ant-calendar-picker-icon {
  color: #fff;
}
.ant-calendar-disabled-cell {
  .ant-calendar-date {
    background: #343434;
  }
}

.ant-calendar {
  background-color: #5a5757;
  .ant-calendar-year-panel,
  .ant-calendar-decade-panel {
    background-color: #5a5757;
    .ant-calendar-year-panel-decade-select-content,
    .ant-calendar-decade-panel-decade,
    .ant-calendar-decade-panel-century {
      color: #fff;
    }
    .ant-calendar-year-panel-body,
    .ant-calendar-decade-panel-tbody {
      .ant-calendar-year-panel-year,
      .ant-calendar-decade-panel-decade {
        color: #fff;
        &:hover {
          background: #7e7776;
        }
      }
    }
  }
  .ant-calendar-header {
    a:hover {
      &:before,
      &:after {
        border-color: #fff;
      }
    }
  }
  .ant-calendar-date {
    color: #fff;
    &:hover {
      background: #8e8a8a;
    }
  }
  .ant-calendar-selected-day {
    .ant-calendar-date {
      color: #a72310;
    }
  }
  .ant-calendar-my-select a {
    color: #fff;
  }
  .ant-calendar-today-btn {
    color: #ffeeee;
  }
}

.ant-fullcalendar-date {
  color: #fff;
  font-weight: 400;
}
.ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-month,
.ant-fullcalendar-selected-day .ant-fullcalendar-date {
  background: rgba(0, 0, 0, 0.4);
}

.ant-fullcalendar-month:hover,
.ant-fullcalendar-date:hover {
  background: $input-background;
}

.ant-fullcalendar td {
  border: 1px #6d6767 solid;
}

.ant-select-dropdown {
  background: $input-background;
  li {
    color: #ffffff;
    &:hover {
      background: #d17f72;
      color: #000;
    }
    &.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
      background-color: #a72310;
    }
  }
}

input,
textarea,
[nz-radio-button],
.ant-select-selector-search,
.ant-select-selector {
  background: $input-background;
  color: #fff;
  &:disabled {
    background-color: $input-background-disabled !important;
    color: #fff;
  }
}

.ant-input[disabled] {
  background-color: $input-background-disabled;
  color: #fff;
}

.ant-checkbox-wrapper {
  .ant-checkbox-disabled {
    .ant-checkbox-inner {
      &:after {
        border-color: rgba(0, 0, 0, 0.69);
      }
    }
  }
  span {
    color: #fff;
  }
}
nz-radio-group {
  label {
    span {
      color: #fff;
    }
  }
}

nv-inactive-entities-checkbox {
  .main {
    background: inherit;
  }
}

nz-form-item .has-error, nz-form-item.ant-form-item-has-error {
  input {
    background: #ba5454 !important;
    &:hover {
      background: #ba5454 !important;
    }
  }
}

// Datebox
nv-datebox {
  .datebox-container {
    nz-input-group {
      &.ant-input-affix-wrapper-disabled {
        background: $input-background-disabled !important;
      }
      input {
        border: none;
      }
    }
  }
  nz-date-picker {
    border: none;
  }
  input {
    &.invalid {
      background: #ba5454 !important;
      &:hover {
        background: #ba5454 !important;
      }
    }
  }
  .calendarIcon {
    &:hover {
      color: #c5c5c5;
    }
  }
}
