nv-master-structures {
  .additional-buttons {
    button {
      color: #efe8dd !important;
      border-color: #efe8dd !important;

      [disabled] {
        color: #efe8dd !important;
        background-color: #441c1c !important;
        border-color: #757472 !important;
      }
    }

    .delete-btn[disabled] {
      background-color: #441c1c !important;
      border-color: #757472 !important;
    }

    .copy-btn[disabled] {
      background-color: #441c1c !important;
      border-color: #757472 !important;
    }
  }

  .download-buttons {
    .excel-download[disabled],
    .pdf-download[disabled] {
      color: #efe8dd !important;
      background-color: #441c1c !important;
      border-color: #757472 !important;
    }
  }
}

nv-master-structure-nodes {
  nz-tree {
    background: transparent;
    color: #cacaca;
    nz-tree-node-title {
      &:hover {
        color: #000;
      }
    }
    .ant-tree-node-selected {
      color: $dark-red !important;
      font-weight: bold;
    }
  }
  li {
    color: #cacaca !important;
  }

  .structure-name {
    color: #efe8dd !important;
  }

  .tree-buttons {
    button {
      background-color: #343a40 !important;
      border: 0 !important;

      &:hover {
        background-color: #343a40 !important;
        color: #c44747 !important;
        border: 1px solid #c44747 !important;
      }
    }
  }
}

nv-node-summation {
  .nodes-title {
    color: #343a40;
    font-weight: bold;
  }
}
