nv-grid {
  background: $dark;

  .ant-skeleton.ant-skeleton-active
    .ant-skeleton-content
    .ant-skeleton-paragraph
    > li:nth-child(n-1) {
    background: #565656;
  }

  input,
  .ant-select-selector-search,
  nz-select,
  nz-select .ant-select-selector {
    border: 1px solid #9a9696 !important;
    border-radius: 0px;
    background: $dark !important;
    color: $text-primary !important;

    i {
      color: $text-primary;
    }
  }

  .nv-toolbar {
    background: $dark;
    .toolbar-title {
      color: #ecc1c1;
    }

    .inner-toolbar-wrap {
      border-color: $dark;
    }
  }
  .grid-cell,
  .grid-footer-cell,
  .grid-header-cell,
  .nv-left-action,
  .nv-right-action {
    border-color: #343434;
    color: $text-primary;
  }

  .grid-header,
  .grid-header nv-left-action-empty,
  .grid-filter,
  .grid-footer {
    background-color: #262626 !important;
  }
  .grid-body-container .grid-row {
    background-color: #262626 !important;
  }
  .grid-body-container .grid-row:nth-child(even) {
    background-color: #404040 !important;
  }
  .grid-body-container .grid-row.selected {
    background-color: #000000 !important;
  }
  .grid-body-container .grid-row.highlighted {
    box-shadow: inset 0 0 50px 1px #000000 !important;
  }
  .grid-body-container .grid-row:hover {
    box-shadow: inset 0px -2px 10px 1px #561313 !important;
  }

  nv-grid-cell.invalid {
    box-shadow: inset 0px 0px 0px 2px red;
  }

  nv-grid-cell.focused {
    box-shadow: inset 0px 0px 2px 2px white;
  }

  nv-grid-cell.disabled {
    color: #efe8dd;
    background-color: $input-background-disabled;
    border-color: #757472;
  }

  .ant-btn {
    background-color: #4b4c4e;
    color: #efe8dd;
    border: 1px solid #343434;
  }

  .ant-pagination-item-link,
  .ant-pagination-item {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    a {
      color: #fff;
    }
  }

  .ant-pagination-options-quick-jumper {
    color: #fff;
  }

  nz-select-item {
    color: $text-primary !important;
  }

  nv-filter-cell {
    nz-select {
      &:hover, &:focus-within, &:focus {
        i {
          background: $input-background;
        }
      }
      nz-select-top-control {
        padding: 0px !important;
        nz-select-search {
          input {
            margin-left: 0px !important;
            border: none !important;
          }
        }
      }
    }
    nz-select-item {
      &.ant-select-selection-item {
        color: #fff !important;
      }
      color: #000 !important;
    }
    .ant-select-clear {
      &:hover {
        background: transparent;
      }
    }
  }
}
