<div class="top-section">
  <nv-booking-form-fields-inline
    #bookingFormFields
    [createMode]="createMode"
    [cloneMode]="cloneMode"
    [readMode]="readMode"
    [currentBookingData$]="currentBookingData$"
    [changeMandator$]="changeMandator$"
    (jumpToGridEmitter)="jumpIntoGrid()"
    (mandatorValueChanged)="setMandatorToFirstRow($event)"
    (invoiceDateValueChanged)="validateBookingLine('paymentDate')"
    (accountingTypeValueChanged)="refreshBookingLinesOnAccountingTypeChange()"
    (yearValueChanged)="refreshFilteredMandatorsOnYearOrPeriodChange()"
    (periodValueChanged)="refreshFilteredMandatorsOnYearOrPeriodChange()"
    (leadingAccountChanged)="disableFirstRowAmounts($event)"
    (accrualAccountingChanged)="handleAccountingChanged($event)"
  >
  </nv-booking-form-fields-inline>
  <p *ngIf="bookInvoiceMode">
    {{ wording.accounting.bookingInvoiceMode | translate }}
    <span
      nz-tooltip
      [nzTooltipTitle]="
        wording.accounting.bookingFormDisabledFieldsWarning | translate
      "
    >
      <i
        nz-icon
        nzType="info-circle"
        nzTheme="outline"
      ></i>
    </span>
  </p>
</div>
{{ wording.accounting.currentAccount | translate }}: {{ currentAccountNo }}
{{ currentAccountName | translate }}
<nv-grid
  #bookingGrid
  [dataSource$]="bookingLines$"
  [gridConfig]="gridConfig"
>
  <ng-template
    nvEditColumnTemplate
    columnName="mandatorNo"
    let-data
  >
    <ng-container [formGroup]="data.form">
      <nv-autocomplete
        [resource]="
          mandatorLookups$ | async | filterStream: { isActive: true }
        "
        [rawResource]="mandatorLookups$ | async"
        [propertyToDisplayModifier]="mandatorNoModifier"
        [modalGridConfig]="mandatorGridConfig"
        [properities]="['no', 'name']"
        [setId]="false"
        [displayOneProperty]="true"
        [openListOnInit]="true"
        [formControlName]="data.column.key"
        (tab)="data.externalEmitter.emit($event)"
        (enter)="data.externalEmitter.emit($event)"
        (escape)="data.externalEmitter.emit($event)"
        (blur)="data.externalEmitter.emit($event)"
      ></nv-autocomplete>
    </ng-container>
  </ng-template>
  <ng-template
    nvEditColumnTemplate
    columnName="accountNo"
    let-data
  >
    <ng-container [formGroup]="data.form">
      <nv-booking-account-autocomplete
        [form]="data.form"
        [controlName]="data.column.key"
        [onlyOfMandator]="true"
        [setId]="false"
        [showLabel]="false"
        [displayOneProperty]="true"
        [autofocus]="true"
        [openListOnInit]="true"
        (tab)="data.externalEmitter.emit($event)"
        (enter)="data.externalEmitter.emit($event)"
        (escape)="data.externalEmitter.emit($event)"
        (blur)="data.externalEmitter.emit($event)"
      >
      </nv-booking-account-autocomplete>
    </ng-container>
  </ng-template>
  <ng-template
    nvEditColumnTemplate
    columnName="bookingCodeNo"
    let-data
  >
    <ng-container [formGroup]="data.form">
      <nv-autocomplete
        [resource]="
          mandatorCodeRepo.getStream()
            | async
            | filterStream: { mandatorId: data.form.get('mandatorId').value }
            | transformId
              : (bookingCodeRepo.getStream() | async)
              : 'bookingCodeId'
            | filterStream: { isActive: true }
        "
        [rawResource]="
          bookingCodeRepo.getStream() | async | filterStream: { isActive: true }
        "
        [modalGridConfig]="bookingCodeGridConfig"
        [properities]="['no', 'label' | labelKey]"
        [displayOneProperty]="true"
        [setId]="false"
        [openListOnInit]="true"
        [formControlName]="data.column.key"
        (tab)="data.externalEmitter.emit($event)"
        (enter)="data.externalEmitter.emit($event)"
        (escape)="data.externalEmitter.emit($event)"
        (blur)="data.externalEmitter.emit($event)"
      >
      </nv-autocomplete>
    </ng-container>
  </ng-template>
  <ng-template
    nvEditColumnTemplate
    columnName="currencyIsoCode"
    let-data
  >
    <ng-container [formGroup]="data.form">
      <nv-autocomplete
        [resource]="
          currencyRepo.getStream() | async | filterStream: { isActive: true }
        "
        [rawResource]="currencyRepo.getStream() | async"
        [modalGridConfig]="currencyGridConfig"
        [properities]="['isoCode', 'label' | labelKey]"
        [setId]="false"
        [displayOneProperty]="true"
        [openListOnInit]="true"
        [formControlName]="data.column.key"
        (tab)="data.externalEmitter.emit($event)"
        (enter)="data.externalEmitter.emit($event)"
        (escape)="data.externalEmitter.emit($event)"
        (blur)="data.externalEmitter.emit($event)"
      >
      </nv-autocomplete>
    </ng-container>
  </ng-template>
  <ng-template
    nvEditColumnTemplate
    columnName="+/-"
    let-data
  >
    <ng-container [formGroup]="data.form">
      <nv-auto-jump
        [autoJumpValues]="['+', '-', 'D', 'd', 'C', 'c', 'S', 's', 'H', 'h']"
        [model]="data.cell"
        [formControlName]="data.column.key"
        (tab)="data.externalEmitter.emit($event)"
        (enter)="data.externalEmitter.emit($event)"
        (escape)="data.externalEmitter.emit($event)"
        (blur)="data.externalEmitter.emit($event)"
        (next)="data.externalEmitter.emit(true)"
      ></nv-auto-jump>
    </ng-container>
  </ng-template>
  <ng-template
    nvEditColumnTemplate
    columnName="exchangeRate"
    let-data
  >
    <ng-container [formGroup]="data.form">
      <nv-update-on-jump
        type="number"
        [disableArrows]="true"
        [saveValueAfterBlur]="true"
        [model]="data.cell"
        [formControlName]="data.column.key"
        [maxDecimalDigits]="5"
        (tab)="data.externalEmitter.emit($event)"
        (enter)="data.externalEmitter.emit($event)"
        (escape)="data.externalEmitter.emit($event)"
        (blur)="emitBlur(data.externalEmitter, $event)"
        (dblclick)="initDatesRatesModal(data.form, data.externalEmitter)"
        (keydown.f2)="initDatesRatesModal(data.form, data.externalEmitter)"
      ></nv-update-on-jump>
    </ng-container>
  </ng-template>
  <ng-template
    nvEditColumnTemplate
    columnName="amountLocal"
    let-data
  >
    <ng-container [formGroup]="data.form">
      <nv-update-on-jump
        type="number"
        [disableArrows]="true"
        [saveValueAfterBlur]="true"
        [model]="data.cell"
        [formControlName]="data.column.key"
        (tab)="data.externalEmitter.emit($event)"
        (enter)="data.externalEmitter.emit($event)"
        (escape)="data.externalEmitter.emit($event)"
        (blur)="data.externalEmitter.emit($event)"
      ></nv-update-on-jump>
    </ng-container>
  </ng-template>
  <ng-template
    nvEditColumnTemplate
    columnName="amountTransaction"
    let-data
  >
    <ng-container [formGroup]="data.form">
      <nv-update-on-jump
        type="number"
        [disableArrows]="true"
        [saveValueAfterBlur]="true"
        [model]="data.cell"
        [formControlName]="data.column.key"
        (tab)="data.externalEmitter.emit($event)"
        (enter)="data.externalEmitter.emit($event)"
        (escape)="data.externalEmitter.emit($event)"
        (blur)="data.externalEmitter.emit($event)"
      ></nv-update-on-jump>
    </ng-container>
  </ng-template>
  <ng-template
    nvEditColumnTemplate
    columnName="discount"
    let-data
  >
    <ng-container [formGroup]="data.form">
      <nv-autocomplete
        [resource]="
          getPaymentConditionOfAccount(data.form.get('bookingAccountId').value)
        "
        [modalGridConfig]="discountGridConfig"
        [properities]="['percentage', 'paymentDateLabel']"
        [setId]="false"
        [openListOnInit]="true"
        [formControlName]="data.column.key"
        (tab)="data.externalEmitter.emit($event)"
        (enter)="data.externalEmitter.emit($event)"
        (escape)="data.externalEmitter.emit($event)"
        (blur)="data.externalEmitter.emit($event)"
        [customOptionsFilter]="autocompleteDiscountOptionsFilter"
      >
      </nv-autocomplete>
    </ng-container>
  </ng-template>
  <ng-template
    nvEditColumnTemplate
    columnName="paymentDate"
    let-data
  >
    <ng-container [formGroup]="data.form">
      <nv-datebox
        [autofocus]="true"
        [formControlName]="data.column.key"
        [propagateInvalidDate]="true"
        (tab)="data.externalEmitter.emit($event)"
        (enter)="data.externalEmitter.emit($event)"
        (escape)="data.externalEmitter.emit($event)"
        (blur)="data.externalEmitter.emit($event)"
      ></nv-datebox>
    </ng-container>
  </ng-template>
  <ng-template
    nvEditColumnTemplate
    columnName="tax"
    let-data
  >
    <ng-container [formGroup]="data.form">
      <nv-autocomplete
        [resource]="
          mandatorTaxKeyRepo.getStream()
            | async
            | filterStream: { mandatorId: data.form.get('mandatorId').value }
            | transformId: (taxKeyRepo.getStream() | async):'taxKeyId'
            | filterStream: { isActive: true }
        "
        [modalGridConfig]="taxGridConfig"
        [properities]="['code', 'label' | labelKey]"
        [setId]="false"
        [openListOnInit]="true"
        [displayOneProperty]="true"
        [formControlName]="data.column.key"
        (tab)="data.externalEmitter.emit($event)"
        (enter)="data.externalEmitter.emit($event)"
        (escape)="data.externalEmitter.emit($event)"
        (blur)="data.externalEmitter.emit($event)"
      >
      </nv-autocomplete>
    </ng-container>
  </ng-template>

  <ng-template
    nvEditColumnTemplate
    columnName="costTypeNo"
    let-data
  >
    <ng-container [formGroup]="data.form">
      <nv-cost-type-autocomplete
        [form]="data.form"
        [controlName]="data.column.key"
        [onlyOfBookingAccount]="true"
        [setId]="false"
        [showLabel]="false"
        [displayOneProperty]="true"
        [autofocus]="true"
        [openListOnInit]="true"
        (tab)="data.externalEmitter.emit($event)"
        (enter)="data.externalEmitter.emit($event)"
        (escape)="data.externalEmitter.emit($event)"
        (blur)="data.externalEmitter.emit($event)"
      >
      </nv-cost-type-autocomplete>
    </ng-container>
  </ng-template>
  <ng-template
    nvEditColumnTemplate
    columnName="costCenterNo"
    let-data
  >
    <ng-container [formGroup]="data.form">
      <nv-cost-center-autocomplete
        [form]="data.form"
        [controlName]="data.column.key"
        [onlyOfBookingAccount]="true"
        [setId]="false"
        [showLabel]="false"
        [displayOneProperty]="true"
        [autofocus]="true"
        [openListOnInit]="true"
        (tab)="data.externalEmitter.emit($event)"
        (enter)="data.externalEmitter.emit($event)"
        (escape)="data.externalEmitter.emit($event)"
        (blur)="data.externalEmitter.emit($event)"
      >
      </nv-cost-center-autocomplete>
    </ng-container>
  </ng-template>
  <ng-template
    nvEditColumnTemplate
    columnName="costUnitNo"
    let-data
  >
    <ng-container [formGroup]="data.form">
      <nv-cost-unit-autocomplete
        [form]="data.form"
        [controlName]="data.column.key"
        [onlyOfMandator]="true"
        [setId]="false"
        [showLabel]="false"
        [displayOneProperty]="true"
        [autofocus]="true"
        [openListOnInit]="true"
        (tab)="data.externalEmitter.emit($event)"
        (enter)="data.externalEmitter.emit($event)"
        (escape)="data.externalEmitter.emit($event)"
        (blur)="data.externalEmitter.emit($event)"
      >
      </nv-cost-unit-autocomplete>
    </ng-container>
  </ng-template>
  <ng-template
    nvColumnTemplate
    columnName="accrualAccounting"
    let-cellValue
  >
    <i
      *ngIf=" cellValue === true"
      class="cell-center-content"
      nz-icon
      nzType="check"
    > </i>
  </ng-template>
</nv-grid>

<ng-template
  #accountNoIsNotRelatedTemplate
  let-form
>
  <nv-button
    [action]="
      assignBookingAccountToMandator(
        form.get('bookingAccountId').value,
        form.get('mandatorId').value
      )
    "
    [title]="wording.accounting.relateNow[settingsService.language]"
    [label]="wording.accounting.relateNow[settingsService.language]"
    [iconType]="'check-circle'"
  >
  </nv-button>
</ng-template>
<ng-template
  #bookingCodeIsNotRelatedTemplate
  let-form
>
  <nv-button
    [action]="
      assignBookingCodeToMandator(
        form.get('bookingCodeId').value,
        form.get('mandatorId').value
      )
    "
    [title]="wording.accounting.relateNow[settingsService.language]"
    [label]="wording.accounting.relateNow[settingsService.language]"
    [iconType]="'check-circle'"
  >
  </nv-button>
</ng-template>
<div class="balances">
  <nv-fieldset [label]="
      (wording.accounting.balance | translate) +
      ' ' +
      (wording.accounting.amountLocal | translate)
    ">
    <nv-account-balance
      [key]="'amountLocal'"
      [current]="accountBalanceMainService.amounts.amountLocal.current"
      [currentFormat]="
        getPlusMinusValue(
          accountBalanceMainService.amounts.amountLocal.current > -1 ? 1 : -1
        )
      "
      [init] = "accountBalanceMainService.amounts.amountLocal.init"
      [differ]="accountBalanceMainService.amounts.amountLocal.differ"
      [newFormat]="
        getPlusMinusValue(
          (accountBalanceMainService.amounts.amountLocal.init 
          + accountBalanceMainService.amounts.amountLocal.differ) > -1 
          ? 1 : -1
        )
      "
    ></nv-account-balance>
  </nv-fieldset>
  <nv-fieldset
    [label]="
      (wording.accounting.balance | translate) +
      ' ' +
      (wording.accounting.amountTransaction | translate)
    "
  >
    <nv-account-balance
      [key]="'amountTransaction'"
      [current]="accountBalanceMainService.amounts.amountTransaction.current"
      [currentFormat]="
        getPlusMinusValue(
          accountBalanceMainService.amounts.amountTransaction.current > -1
            ? 1
            : -1
        )
      "
      [init] = "accountBalanceMainService.amounts.amountTransaction.init"
      [differ]="accountBalanceMainService.amounts.amountTransaction.differ"
      [newFormat]="
        getPlusMinusValue(
          (accountBalanceMainService.amounts.amountTransaction.init 
          + accountBalanceMainService.amounts.amountTransaction.differ) > -1
            ? 1
            : -1
        )
      "
    ></nv-account-balance>
  </nv-fieldset>
  <nv-fieldset
    [label]="wording.accounting.bookingValidation | translate"
    class="booking-validation"
  >
    <button
      type="button"
      nz-button
      nz-tooltip
      [nzTooltipTitle]="wording.accounting.checkValidation | translate"
      [disabled]="readMode || isBookingSaveButtonDisabled()"
      (click)="checkValidations()"
    >
      {{ wording.accounting.checkValidation | translate }}
    </button>
    <div class="validation-messages">
      <div *ngIf="shouldShowNoValidationErrorMessage">
        {{ wording.accounting.noValidationErrors | translate }}
      </div>
      <ul>
        <li *ngFor="let validationError of validationErrors$ | async">
          {{ validationError.messageWording | translate }}
        </li>
      </ul>
    </div>
  </nv-fieldset>
</div>