:host {
  flex-direction: column;
  .top-section {
    p {
      font-weight: 400;
      font-size: 2em;
      margin-bottom: 0px;
    }
  }
}

.balances {
  display: flex;
}

.balances * {
  margin-right: 5px;
}

::ng-deep
  .accounting-type-warning-modal
  .ant-modal-confirm-btns
  button:first-child {
  display: none;
}

::ng-deep .select-incoming-invoice {
  .ant-modal-title {
    font-weight: bold;
  }
}

.cell-center-content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

nv-fieldset.booking-validation {
  width: 500px;
  min-width: 500px;
}

.validation-messages {
  margin-top: 8px;
}


nv-update-on-jump ::ng-deep input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}

nv-account-balance ::ng-deep input {
  text-align: end;
}

::ng-deep .dates-rates-modal nv-grid {
  height: auto;
}
