<div class="l-audio-container">

    <div class="l-equilizer-container flex" #equilizer>
        <div  *ngFor="let bar of equilizerList"
              class="kostik"
              [ngStyle]="{
              'width.px': barsWidth,
              'marginRight.px': barsSpace}">

            <div
                  class="k"
                  [ngStyle]="{
              'height.px': bar.height}">
            </div>

        </div>
    </div>

    <lavash-media-control [mediaType]="audio"
                          [hasSpeedControl]="hasSpeedControl"
                          (playEvent)="onPlay($event)"
                          (pauseEvent)="onPauseStop($event)"
                          (stopEvent)="onPauseStop($event)">
        <audio #audio>
            <!--todo loop for all source types"-->
            <!--source src="horse.ogg" type="audio/ogg"-->
            <source [src]="audioPath + audioSrc" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </lavash-media-control>

    <div class="l-audio-title">
        {{audioTitle}}
    </div>
</div>