.tabMain {
  display: inline-block;
  padding: 12px 16px;
  box-sizing: border-box;
  color: inherit;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;

  &.selected {
    color: #c44747;
    border-bottom: 3px solid #c44747;
  }

  &:hover {
    color: #d1706d;
  }

  // every value is truthy for `disabled` attribute expected "false"
  &.disabled, &.disabled:hover {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }

  &:not(:last-of-type) {
    margin-right: 32px;
  }

  .exclamation {
    color: #c44747;
  }
}
