:host {
  flex: 1 1 auto;
  display: flex;
  .form-wrap {
    overflow: auto;
  }
}

.paper {
  .header {
    padding: 10px;
    flex-direction: row;
    align-items: center;
  }
}

form [nz-input][type="text"] {
  width: 350px;
}
