:host {
  padding: 10px;
  .component-wrap {
    .wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .remark-wrap {
        margin-top: 10px;
        min-width: 50%;
        label {
          text-transform: uppercase;
          margin-left: 4px;
          font-size: 15px;
        }
      }

      @media screen and (max-width: 1640px) {
        .remark-wrap {
          min-width: 100%;
        }
      }
    }
  }
  ::ng-deep nv-grid {
    .toolbar-buttons,
    nv-right-action {
      pointer-events: none;
      opacity: 0.8;
    }

    &.edit-mode {
      .toolbar-buttons,
      nv-right-action {
        opacity: 1;
        pointer-events: all;
      }
    }
    .grid-header-cell-title {
      text-transform: capitalize;
    }
    box-shadow: none !important;
  }
}
