<div class="component-wrap">
  <nv-detail-view-actions
    *ngIf="!readOnly"
    header
    [inEditingMode]="editMode"
    (editClicked)="enterCreationMode()"
    (cancelClicked)="onCancel()"
    (saveClicked)="submit()"
  >
  </nv-detail-view-actions>

  <div class="wrap">
    <div class="grid-view">
      <nv-grid
        [ngClass]="{ 'edit-mode': editMode }"
        #mortgageGridComponent
        [dataSource]="dataSource"
        [gridConfig]="mortgageGridConfig"
      >
        <ng-template nvEditColumnTemplate columnName="mortgagee" let-data>
          <ng-container [formGroup]="data.form">
            <nv-update-on-jump
              type="text"
              [disableArrows]="true"
              [saveValueAfterBlur]="true"
              [model]="data.cell"
              [formControlName]="data.column.key"
              (tab)="data.externalEmitter.emit($event)"
              (enter)="data.externalEmitter.emit($event)"
              (escape)="data.externalEmitter.emit($event)"
              (blur)="data.externalEmitter.emit($event)"
            ></nv-update-on-jump>
          </ng-container>
        </ng-template>
        <ng-template nvEditColumnTemplate columnName="mortgageAmount" let-data>
          <ng-container [formGroup]="data.form">
            <nv-update-on-jump
              type="number"
              [maxDecimalDigits]="2"
              [disableArrows]="true"
              [saveValueAfterBlur]="true"
              [model]="data.cell"
              [formControlName]="data.column.key"
              (tab)="data.externalEmitter.emit($event)"
              (enter)="data.externalEmitter.emit($event)"
              (escape)="data.externalEmitter.emit($event)"
              (blur)="data.externalEmitter.emit($event)"
            ></nv-update-on-jump>
          </ng-container>
        </ng-template>
        <ng-template nvEditColumnTemplate columnName="currencyName" let-data>
          <ng-container [formGroup]="data.form">
            <nv-autocomplete
              [resource]="
                currencyRepo.getStream()
                  | async
                  | filterStream: { isActive: true }
              "
              [rawResource]="currencyRepo.getStream() | async"
              [modalGridConfig]="currencyGridConfig"
              [properities]="['isoCode', 'label' | labelKey]"
              [setId]="false"
              [displayOneProperty]="true"
              [openListOnInit]="true"
              [formControlName]="data.column.key"
              [setNullIfNotFound]="true"
              (tab)="data.externalEmitter.emit($event)"
              (enter)="data.externalEmitter.emit($event)"
              (escape)="data.externalEmitter.emit($event)"
              (blur)="data.externalEmitter.emit($event)"
            >
            </nv-autocomplete>
          </ng-container>
        </ng-template>
      </nv-grid>
    </div>
    <div class="remark-wrap" *ngIf="!readOnly">
      <label>
        {{ wording.accounting.remarks | translate }}
      </label>
      <textarea
        [nzAutosize]="{ minRows: 6, maxRows: 6 }"
        [formControl]="remarkCtrl"
        nz-input
      >
      </textarea>
    </div>
  </div>
</div>
