<form [formGroup]="form" nz-form nzLayout="vertical">
  <div class="legal-form-wrap">
    <nv-input-wrapper
      [label]="wording.accounting.legalForm | translate"
    >
      <nz-select
        nzAllowClear
        nzShowSearch
        formControlName="legalForm"
        (ngModelChange)="onLegalFormChange($event)"
      >
        <nz-option
          *ngFor="let legalForm of companyLegalForms"
          [nzValue]="legalForm.value"
          [nzLabel]="legalForm.displayLabel | translate"
          nzCustomContent
        >
          <div [attr.data-legal-form-option]="legalForm.displayLabel.en">
            {{ legalForm.displayLabel | translate }}
          </div>
        </nz-option>
      </nz-select>
    </nv-input-wrapper>

    <nv-input-wrapper
      [label]="wording.system.legalFormType | translate"
    >
      <nz-select
        nzAllowClear
        nzShowSearch
        formControlName="legalFormType"
        (ngModelChange)="onLegalFormTypeChange($event)"
      >
        <nz-option
          *ngFor="let legalForm of companyLegalFormTypes"
          [nzValue]="legalForm.value"
          [nzLabel]="legalForm.displayLabel | translate"
          nzCustomContent
        >
          <div [attr.data-legal-form-option]="legalForm.displayLabel.en">
            {{ legalForm.displayLabel | translate }}
          </div>
        </nz-option>
      </nz-select>
    </nv-input-wrapper>
  </div>
</form>
