:host {
  display: flex;
  width: 100%;
  height: 45px;
  background-color: white;
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  flex: 0 0 auto;
}

.tabs-scroll-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
}