:host {
  --button-regular-color: transparent;
  --button-transparent-color: transparent;

  [class*='regular-'] {
    border: 1px solid var(--color-main-light);
  }

  .regular-primary {
    border: unset;
  }

  .rounded {
    border-radius: 50%;
    padding: 0;
    min-width: 38px;
  }

  button:not([class*='disabled']) {
    &[class*='regular-'] {
      background-color: var(--button-regular-color);
      color: var(--color-white);
    }

    &[class*='transparent-'] {
      color: var(--button-regular-color);
      background-color: var(--button-transparent-color);
    }

    &.regular-secondary {
      background-color: transparent;
      color: var(--color-main-dark);
    }

    &.transparent-secondary {
      background-color: transparent;
      color: var(--color-main-dark);
    }

    &.regular-warning,
    &.transparent-warning {
      color: var(--color-black);
    }

    &.regular-link {
      background-color: transparent;
      color: var(--color-primary);
      border: none;
    }
  }

  button.mat-flat-button {
    min-width: unset;
    padding: 0 8px;
  }
}
