<nz-input-group [nzSuffix]="suffixIconSearch">
  <input
    type="text"
    nz-input
    [(ngModel)]="inputValue"
    (ngModelChange)="filter()"
  >
</nz-input-group>
<ng-template #suffixIconSearch>
  <div class="counter">
    {{ resource?.length }} / {{ original?.length }}
  </div>
  <i
    nz-icon
    nzType="search"
  ></i>
</ng-template>

<nz-list>
  <label
    *ngIf="selectType === SelectType.Checkbox"
    nz-checkbox
    [(ngModel)]="allChecked"
    (ngModelChange)="updateAllChecked($event)"
    [nzIndeterminate]="indeterminate"
  >
    {{ wording.general.selectAll | translate }}
  </label>
  <nz-list-item *ngFor="let item of resource">
    <nz-list-item-meta
      [nzTitle]="nzTitle"
      [nzDescription]="nzDescription"
      [nzAvatar]="checkboxOrRadio"
    >

    <ng-template #nzTitle>
      <span>{{ item[properties[0]] | modify: getLabel }}</span>
    </ng-template>

    <ng-template #nzDescription>
      <p>{{ item[properties[1]] }}</p>
    </ng-template>
      <ng-template #checkboxOrRadio>
        <label
          *ngIf="selectType === SelectType.Checkbox"
          class="option-label"
          nz-checkbox
          [(ngModel)]="!!item.checked"
          (ngModelChange)="onItemChecked($event)"
        >
        </label>
        <nz-radio-group
          *ngIf="selectType === SelectType.Radio"
          [(ngModel)]="selectedItemId"
          (ngModelChange)="onItemSelected($event)"
        >
          <label
            nz-radio
            class="option-label"
            [(ngModel)]="!!item.selected"
            [nzValue]="item"
          >
          </label>
        </nz-radio-group>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
</nz-list>
