:host {
  display: flex;
  flex-direction: column;
}

:host ::ng-deep {
  .ant-input-suffix {
    display: flex;
    align-items: center;
  }
}

nz-list {
  padding: 24px;
  overflow: auto;
}

.counter {
  margin-right: 5px;
}

input {
  padding-right: 90px !important;
}

nz-list-item-meta {
  align-items: center;
  position: relative;

  ::ng-deep.ant-list-item-meta-content {
    margin-left: 16px;
  }
}

.option-label {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  right: 0;
}
