<ng-container *ngIf="attributeGroup">
  <div class="view-attributes-container box-sizing-border-box">
    <ng-container *ngIf="attributeGroup.attributes">
      <div class="attributes-content box-sizing-border-box" *ngFor="let attribute of attributeGroup.attributes">
        <div class="attribute-name box-sizing-border-box">{{ attribute.displayName }}:</div>
        <div class="attribute-value box-sizing-border-box">
          {{ attribute.convertedValue !== null ? attribute.convertedValue : 'N/A' }}
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
