.view-attributes-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  overflow-y: auto;
  box-sizing: border-box;

  .title {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-kingpin-gray);
    margin: 10px 0;
  }

  .attributes-content {
    display: flex;
    flex-direction: row;
    width: 100%;

    .attribute-name {
      font-size: 14px;
      font-weight: 400;
      padding: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-top: 1px solid var(--material-view-attributes-border-color, #efeff3);
      border-left: 1px solid var(--material-view-attributes-border-color, #efeff3);
      border-right: 1px solid var(--material-view-attributes-border-color, #efeff3);
      width: 50%;
      max-width: 50%;
    }

    .attribute-value {
      width: 50%;
      max-width: 50%;
      font-size: 14px;
      font-weight: 600;
      color: var(--color-kingpin-gray);
      padding: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-top: 1px solid var(--material-view-attributes-border-color, #efeff3);
      border-right: 1px solid var(--material-view-attributes-border-color, #efeff3);

      .multiple-values {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }

      .composite-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }

  .attributes-content:nth-child(odd) {
    background: var(--single-material-table-colors, rgba(88, 73, 224, 0.06));
  }

  .attributes-content:last-child {
    border-bottom: 1px solid var(--material-view-attributes-border-color, #efeff3);
  }
}
