<div class="lavash-checkbox-list">
  <div class="lavash-checkbox-option"
       *ngFor="let o of options">
    <lavash-checkbox [option]="o"
                    (selectOption)="onSelectOption(o)">
    </lavash-checkbox>
  </div>
</div>
