@import '../../../assets/less/variables.less';
@import '../../../assets/icomoon/style.css';

.l-checkbox-list {
  .flex;
}

.l-checkbox-option {
  .flex;
  .center-top;
  cursor: pointer;
  margin-right: 12px;
}




