<nv-paper-view>
  <div class="wrap">
    <div class="sidebar-filter">
      <nv-list-select
        [resource]="mandators$ | async"
        [properties]="['no', 'name']"
        [selectType]="SelectType.Radio"
        [getLabel]="mandatorNoModifier"
        (selectedId)="onMandatorSelect($event)"
      ></nv-list-select>
    </div>
    <nv-grid
      (gridConfigChangedOnSave)="gridConfigService.update($event)"
      [gridConfig]="gridConfig"
      [dataSource$]="dataSource$"
    >
    </nv-grid>
  </div>
</nv-paper-view>
