.wrap {
  display: flex;
  flex: 1;
  overflow: hidden;
  .sidebar-filter {
    flex: 1;
  }
  nv-grid {
    flex: 4;
  }
}

:host ::ng-deep {
  .sidebar-filter {
    display: flex;
    nv-list-select {
      flex: 1;
    }
    .ant-list-item {
      padding: 5px 0;
    }
  }
}
