<form [formGroup]="form">
  <nv-input-wrapper
    [label]="wording.general.rangeStart | translate"
    [showErrMessages]="false"
    [showLabel]="showLabel">
    <input
      nz-input
      [placeholder]="wording.general.rangeStart | translate"
      formControlName="start">
  </nv-input-wrapper>
  <span>
    <i nz-icon nzType="minus" nzTheme="outline"></i>
  </span>
  <nv-input-wrapper
    [label]="wording.general.rangeEnd | translate"
    [showErrMessages]="false"
    [showLabel]="showLabel">
    <input
      nz-input
      [placeholder]="wording.general.rangeEnd | translate"
      formControlName="end">
  </nv-input-wrapper>
</form>
