:host {
  display: flex;
  margin-right: 10px;
}

form {
  display: inline-flex;
  align-self: center;

  span {
    margin: 5px 5px 0px 5px;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    margin-bottom: 18px;
    color: #9c9c9c;
  }

  input {
    max-width: 115px;
    width: auto;
  }
}
