<div class="company-view-main scrollbar" meScrollToBottom *ngIf="companyAttributes">
  <div class="company-banner">
    <div>
      <me-cover-image-upload
        class="banner-image"
        [uploadCoverImageData]="uploadCoverImageData"
        (returnCoverImageFormData)="handleImageFormData($event, 'coverImage')"
      >
      </me-cover-image-upload>
      <div class="banner-txt">
        <div class="bt-left">
          <div class="c-logo">
            <me-logo-upload [uploadImageData]="uploadLogoData" (returnImageFormData)="handleImageFormData($event, 'logo')"></me-logo-upload>
          </div>
          <div>
            <h1 class="c-title">{{ companyAttributes.name || i18nStrings.notAvailable }}</h1>
            <p>{{ companyAttributes.nameLocal || i18nStrings.notAvailable }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bt-right">
      <button mat-raised-button (click)="editCompany()">
        <i-feather name="edit-2"></i-feather>{{ i18nStrings.edit }}
      </button>
    </div>
  </div>
  <div class="company-view-tab">
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
      <mat-tab label="{{ i18nStrings.company }} {{ i18nStrings.info }}">
        <div class="grid-container">
          <div class="grid-container-half">
            <div class="overview-b">
              <me-icons name="Clock"></me-icons>
              <p>
                {{
                  companyAttributes.experience
                    ? companyAttributes.experience.substring(1).toString().replace('_', '-')
                    : i18nStrings.notAvailable
                }}
                {{ i18nStrings.years }}
              </p>
              <span>{{ i18nStrings.experience }}</span>
            </div>
            <div class="overview-b">
              <me-icons name="Employees"></me-icons>
              <p>
                {{
                  companyAttributes.numberOfEmployees
                    ? companyAttributes.numberOfEmployees.substring(1).toString().replace('_', '-')
                    : i18nStrings.notAvailable
                }}
                {{ i18nStrings.employees }}
              </p>
              <span>{{ i18nStrings.employed }}</span>
            </div>
            <div class="overview-b">
              <me-icons name="Certificates"></me-icons>
              <!-- <p>{{ certificateCardItems.length }} {{ i18nStrings.certificates }}</p> -->
            </div>
            <div class="overview-b">
              <me-icons name="Sustainability"></me-icons>
              <!-- <p>{{ sustainabilityCount }} {{ i18nStrings.sustainability }}</p> -->
            </div>
          </div>
          <div class="company-d">
            <div class="title-b"><me-icons name="company-introduction"></me-icons>{{ i18nStrings.companyIntroduction }}</div>
            <div class="company-video-desc">
              <ng-container *ngIf="companyAttributes.video">
                <video controls>
                  <source src="{{ companyAttributes.video }}" />
                  Company Video
                </video>
              </ng-container>
              <ng-container *ngIf="companyAttributes.description">
                <div class="company-intro">
                  <p>{{companyAttributes.description}}</p>
                </div>
              </ng-container>
            </div>
            <div class="company-info" *ngIf="companyInfoAttributeGroups.length !== 0">
              <ng-container *ngFor="let group of companyInfoAttributeGroups">
                <ng-container *ngIf="group.attributes.length !== 0">
                  <div class="info-inner">
                    <div class="title-b">
                      <ng-container *ngIf="group.internalName === 'businessInformation'">
                        <me-icons name="business-information"></me-icons>
                      </ng-container>
                      <ng-container *ngIf="group.internalName === 'factoryInformation'">
                        <me-icons name="factory"></me-icons>
                      </ng-container>
                      <ng-container *ngIf="group.internalName === 'contactInformation'">
                        <me-icons name="contact-information"></me-icons>
                      </ng-container>
                      {{ group.displayName }}
                    </div>
                    <div class="i-box" *ngFor="let item of group.attributes">
                      <span class="it">{{ item.displayName }}:</span>
                      <p *ngIf="item.internalName !== 'languageCapabilities'; else hasLanguage">
                        {{ item.convertedValue !== null ? item.convertedValue : 'N/A' }}
                      </p>
                      <ng-template #hasLanguage>
                        <me-label [dataModel]="languageLabel" *ngFor="let language of item.value">
                          <span content>{{ language }}</span>
                        </me-label>
                      </ng-template>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Users">
        <me-company-users></me-company-users>
      </mat-tab>
      <mat-tab label="Groups">
        <me-company-groups></me-company-groups>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
