.company-view-main {
  height: 100%;
  overflow-y: auto;
}
.company-banner {
  height: 323px;
  position: relative;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .banner-image {
    height: 100%;
    background-size: cover;
    background-position: center center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .banner-txt {
    padding: 0 20px 0 60px;
    margin-bottom: -25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    z-index: 3;
    .bt-left {
      display: flex;
      align-items: center;
      .c-logo {
        background-color: var(--color-white);
        border: 1px solid var(--color-table-border);
        border-radius: 60px;
        height: 200px;
        width: 200px;
        margin-right: 20px;
        overflow: hidden;
        form {
          height: 100%;
          width: 100%;
        }
      }
      .c-title {
        font-size: 36px;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.55);
        color: var(--color-white);
        line-height: 1.37;
        margin-bottom: 10px;
      }
      p {
        font-size: 14px;
        line-height: 16px;
        color: #dfdfdf;
        margin: 0;
      }
    }
  }
  .bt-right {
    z-index: 1;
    margin-bottom: 45px;
    margin-right: 20px;
    button {
      display: flex;
      cursor: pointer;
    }
  }
}
.grid-container {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 380px calc(100% - 400px);
  grid-gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}
.grid-container-half {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 10px));
  grid-gap: 20px;
}
.company-view-tab {
  position: relative;

  .overview-b {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 10px;
    border-radius: 4px;
    me-icons {
      height: 53px;
      width: 53px;
    }
    p {
      font-size: var(--font-body-size);
      line-height: 19px;
      color: var(---color-body-font);
      margin: 13px 0 5px 0;
    }
    span {
      font-size: var(--font-body-size);
      line-height: 16px;
      color: #7d8794;
    }
  }
  .company-d {
    background-color: var(--color-white);
    padding: 40px 25px;
    border-radius: 4px;
    .title-b {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: var(--color-main-darker);
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      me-icons {
        height: 50px;
        width: 50px;
        margin-right: 10px;
      }
    }
  }
  .company-video-desc {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 20px;
    video {
      width: 100%;
    }
    .company-intro {
      // margin-left: 55px;
      p {
        line-height: 19px;
        color: #7d8794;
        font-size: var(--font-body-size);
        white-space: pre-line;
      }
    }
  }
  .company-info {
    --column-min-width: 260px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 13px));
    grid-gap: 20px;
    width: 100%;
    box-sizing: border-box;
    .info-inner {
      .i-box {
        margin-top: 15px;
        .it {
          display: block;
          font-size: 12px;
          line-height: 16px;
          color: #7d8794;
        }
        p {
          margin: 3px 0 0 0;
          font-size: var(--font-body-size);
          line-height: 164.5%;
          color: var(--color-main-darker);
        }
        me-label {
          display: inline-block;
          margin: 10px 5px 0 0;
        }
      }
    }
  }
}
