:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  background: url(../../../../assets/navido-logo.png) no-repeat center center;
  height: 100px;
  width: 300px;
  height: 71px;
  margin-bottom: 55px;
  background-size: contain;
}

.background-image {
  background: url(../../../../assets/login-background.jpg) no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.login-box {
  display: flex;
  flex-direction: column;
  padding: 30px 48px 48px 48px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 20px 0px #00000036;
  border-radius: 11px;
  max-width: 420px;
  justify-content: space-between;
}

input {
  background: rgba(255, 255, 255, 0.15);
  width: 100%;
  color: white;
  border-radius: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

form>* {
  margin-bottom: 15px;
  width: 100%;
}

:host ::ng-deep form {

  label {
    color: white !important
  }

  .has-error .ant-input,
  .has-error .ant-input:hover {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 0px 1.5px #ff5050;
  }

  .ant-form-item-has-error {
    input{
      color: #ff5050;
    }
  }
}

a {
  color: white;
  width: fit-content;
}

.cta {
  display: flex;

  a:last-child {
    margin-left: auto;
  }
}
