<div class="login-box e2e-login-box">
  <div class="title"></div>
  <form [formGroup]="form" nz-form nzLayout="vertical">
    <nv-input-wrapper
      label="Email address / Username"
      [redBorderError]="false"
      [showErrMessages]="false"
    >
      <input formControlName="userIdentifier" type="text" nz-input />
    </nv-input-wrapper>
    <nv-input-wrapper
      label="Password"
      [redBorderError]="false"
      [showErrMessages]="false"
    >
      <input
        formControlName="password"
        type="password"
        [autocomplete]="false"
        nz-input
      />
    </nv-input-wrapper>
    <button
      nz-button
      nzType="primary"
      [disabled]="!form.valid"
      (click)="signInAction()"
    >
      <i nz-icon nzType="login" nzTheme="outline"></i> Sign in
    </button>
    <div class="cta">
      <a class="forgot-password" routerLink="/auth/registration">
        Forgot Password?
      </a>
      <a href="#" (click)="openPrivacyPolicy()">
        {{wording.general.privacyPolicy | translate}}
      </a>
    </div>
  </form>
</div>
<div class="background-image"></div>
