.header {
    border-bottom: 1px solid gainsboro;
    background: gainsboro;
    padding: 10px;
}

git-app-navigation:first-child {
    margin-right: 5px;
}

[active="true"] {
    pointer-events: none;
    opacity: .2;
}

.header-container {
    font-size: .7rem;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2rem;
}

.intro {
    margin-left: 0;
}

.nav {
    display: flex;
}