@import 'global/breakpoints';
.m-outer {
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  .m-inner {
    width: calc(100% - 170px);
    display: flex;
  }
  .icon {
    color: var(--color-main-light);
    height: 30px;
    width: 30px;
  }
  p {
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    color: var(--color-main-darker);
    width: calc(100% - 30px);
    padding: 4px 0 0 15px;
  }
  @include tablet {
    display: block;
    .m-inner {
      width: 100%;
      margin-bottom: 5px;
    }
    p {
      padding-top: 0;
    }
  }
}
