<div class="m-outer" *ngIf="dataModel">
  <div class="m-inner">
    <me-icons class="icon" name="info"></me-icons>
    <p>{{ dataModel.content }}</p>
  </div>
  <button mat-button color="primary" class="text-button" (click)="onBtnClick()" title="{{ dataModel.buttonText }}">
    {{ dataModel.buttonText }}
  </button>
</div>
