<me-table
  [dataSource]="items"
  [columns]="columns"
  [columnOptions]="columnOptions"
  [isLoadingResults]="loader"
  [hideFooterPagination]="true"
  [cellClickEvent]="cellClickEventSubject"
>
</me-table>

<!-- Add users to group popup -->
<ng-template #addGroupsList>
  <div class="box-sizing-border-box scrollbar add-users-list-container" meScrollToBottom>
    <p *ngIf="!addGroupListCardItems.length">Loading...</p>
    <me-add-list-card
      *ngFor="let addGroupListCard of addGroupListCardItems; let cardIndex = index; trackBy: getCardOid"
      [dataModel]="addGroupListCard"
      (addListCardEvent)="userActionsService.handleAddListCardEvent($event, cardIndex, addGroupListCardItems)"
    ></me-add-list-card>
  </div>
</ng-template>
