@import '../../../../core/styles/variables';

:host {
  display: flex;
  background: #f3f3f3;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px;
  cursor: pointer;

  &:hover{
    background: lightgrey;
  }

  &.selected {
    background: $primary;
    color: white;
  }

  &:not(:last-of-type){
    margin-bottom: 2px;
  }
}

html[data-theme="dark"] :host {
  background: #545454;

  &:hover {
    background: #737373;
  }

  &.selected {
    background: #6b2b2b;
  }

  &:not(:last-of-type){
    border-bottom: 2px solid transparent;
  }
}
