.wrapper {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  top: 60px;
  height: 100%;
  position: fixed;
  z-index: 9999;
}

.spinner {
  background: url("../../../../../assets/icons/loading-spinner.png") no-repeat center;
  width: 100px;
  height: 100px;
  background-size: contain;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 45px);
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
