<ul nz-menu>
  <li
    nz-menu-item
    (click)="openEditablePermissions()"
    [attr.data-context-menu-option]="wording.general.roleRightsGruppeRechte.en"
  >
    {{ wording.general.roleRights | translate}}
  </li>
  <li
    nz-menu-item
    (click)="openReadablePermissions()"
    [attr.data-context-menu-option]="wording.general.assignedRights.en"
  >
    {{ wording.general.assignedRights | translate}}
  </li>
</ul>
