<div
  class="main"
>
  <gridster
    [options]="options"
    #grid
  >
    <gridster-item
      [item]="widget"
      *ngFor="let widget of dashboardWidgetItems | async ;let i=index"
      [ngClass]="{'editMode' : gridEditEnabled, 'nonEditMode': !gridEditEnabled}"
      [id]="'widget-'+widget.id"
    >
      <nv-widgets-container
        [widget]="widget"
        [editMode]="gridEditEnabled"
        (widgetDelete)="onWidgetDelete(widget.id, i)"
      >
      </nv-widgets-container>
    </gridster-item>
  </gridster>
  <div class="btn-edit e2e-btn-edit">
      <button
        class="settings-dropdown-btn e2e-settings-dropdown-btn"
        nz-button
        nz-dropdown
        [nzDropdownMenu]="menu"
        [nzTrigger]="'click'"
        nzPlacement="bottomRight"
        nzType="default"
        [disabled]="gridEditEnabled"
      >
        <i
          nz-icon
          nzType="plus-circle"
        ></i>
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li
            nz-menu-item
            *ngFor="let widgetListItem of widgetsList"
            (click)="addWidget(widgetListItem.type)"
            [attr.data-widget-item]="widgetListItem.name"
          >
            <i
              nz-icon
              [nzType]="widgetListItem.icon"
            ></i>
            {{ widgetListItem.name }}
          </li>
        </ul>
      </nz-dropdown-menu>
      <button
        nz-button
        nzType="default"
        (click)="toggleGrid()"
        [id]="gridEditEnabled ? 'save-btn': 'edit-btn'"
      >
        <i
          nz-icon
          [nzType]="gridEditEnabled ? 'save': 'edit'"
        ></i>
      </button>
    </div>
</div>
