:host ::ng-deep {
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  gridster {
    &.fit {
      height: 100%;
      background: #e9e9e9;
    }
  }

  .btn-edit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button:first-child {
      margin-right: 4px;
    }
  }
}
