:host {
  display: flex;
  overflow: hidden;

  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    overflow: auto;
    width: 100%;
    box-shadow: inset 0px 0px 5px 0px #d2d2d2;

    form {
      width: 100%;
    }
  }

  .flex-container {
    margin: 0 11px;
  }
}

.form-wrapper {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    opacity: 1;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    opacity: 1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #9c9c9c;
    transition: background-color .3s;
  }
}

:host ::ng-deep nv-stream-autocomplete-input-wrapper .form-item {
  margin-bottom: 10px;
}

:host ::ng-deep {
  .ant-row {
    display: block !important;
  }
}
