<nv-detail-view-actions
  header
  [inEditingMode]="editMode"
  (saveClicked)="submit()"
  (editClicked)="enterEditMode()"
  (cancelClicked)="cancelEditing()"
  [form]="form"
  [formElement]="formElement"
></nv-detail-view-actions>

<div class="form-wrapper">
  <form
    *ngIf="form"
    [formGroup]="form"
    nvSpyElement
    (initialized)="formInitialized($event)"
  >
    <div class="flex-container">
      <div
        nz-row
        nzGutter="22"
      >
        <div
          nz-col
          nzSpan="12"
        >
          <nv-booking-code-autocomplete
            [form]="form"
            controlName="bookingCodeBankAccountBookingId"
            [label]="wording.accounting.bookingCodeBankAccountBookings"
          ></nv-booking-code-autocomplete>
          <nv-booking-code-autocomplete
            [form]="form"
            controlName="bookingCodeBankForeignIncomingPaymentId"
            [label]="wording.accounting.bookingCodeForeignIncomingPayments"
          ></nv-booking-code-autocomplete>
          <nv-booking-account-autocomplete
            [form]="form"
            controlName="matchingAccountIncomingPaymentId"
            [label]="wording.accounting.matchingAccountIncomingPayments"
          ></nv-booking-account-autocomplete>
          <nv-booking-account-autocomplete
            [form]="form"
            controlName="matchingAccountOutgoingPaymentId"
            [label]="wording.accounting.matchingAccountOutgoingPayments"
          ></nv-booking-account-autocomplete>
          <nv-booking-account-autocomplete
            [form]="form"
            controlName="bankFeesAccountId"
            [label]="wording.accounting.bankFeesAccount"
          ></nv-booking-account-autocomplete>

          <nz-divider
            nzText="{{ wording.accounting.alternativeAccountExchangeRate | translate }}"
            nzOrientation="left"
          ></nz-divider>

          <nv-booking-account-autocomplete
            [form]="form"
            controlName="exchangeRateProfitAccountId"
            [label]="wording.accounting.exchangeRateProfitAccount"
          ></nv-booking-account-autocomplete>
          <nv-booking-account-autocomplete
            [form]="form"
            controlName="exchangeRateLossAccountId"
            [label]="wording.accounting.exchangeRateLossAccount"
          ></nv-booking-account-autocomplete>
          <nv-input-wrapper
            [label]="wording.accounting.pathMT950Files | translate"
            [showErrMessages]="false"
            [redBorderError]="true"
          >
            <input
              formControlName="path"
              type="text"
              nz-input
            >
          </nv-input-wrapper>
        </div>
      </div>
    </div>
  </form>
</div>