:host {
  height: calc(100% - 45px);
  display: flex;
  flex-direction: column;

  .component-wrap {
    height: 100%;

    .nv-content.content {
      height: 100%;

      nv-detail-view-actions ::ng-deep .actionsRow {
        margin-right: 0;

        [data-crud-action-button="save"] {
          margin-right: 0;
        }
      }
    }
  }

  form {
    width: 100%;
  }

  nv-fieldset {
    display: block;

    &.history {
      display: flex;
    }
  }

  textarea {
    resize: none;
  }

  .form-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
  }
}
