<div class="component-wrap">
  <div class="nv-content content">
    <div class="actions-row">
      <nv-detail-view-actions
        [inEditingMode]="editMode"
        (editClicked)="enterEditMode()"
        (cancelClicked)="cancelEditing()"
        (saveClicked)="submit()"
        [form]="form"
        [formElement]="formElement"
      >
      </nv-detail-view-actions>
    </div>
    <div
      class="form-wrapper"
      *ngIf="form"
    >
      <form
        nvSpyElement
        (initialized)="formInitialized($event)"
        [formGroup]="form"
        class="form-group"
        nz-form
        nzLayout="vertical"
      >
        <div
          class="form-content-wrapper"
          nz-col
          nzGutter="20"
        >
          <nv-fieldset
            nz-col
            class="remarks"
            [label]="wording.chartering.remarks | translate"
          >
            <div class="fieldset-content-wrapper">
              <nv-input-wrapper
                [label]="wording.chartering.remarks | translate"
                nz-row
              >
                <textarea
                  nz-input
                  rows="15"
                  formControlName="remark"
                ></textarea>
              </nv-input-wrapper>
            </div>
          </nv-fieldset>
          <nv-fieldset
            nz-row
            class="history"
            [label]="wording.general.history | translate"
          >
            <div
              class="fieldset-content-wrapper"
              nz-row
              nzType="flex"
              nzGutter="10"
            >
              <nv-input-wrapper
                [label]="wording.chartering.lastChange | translate"
                nz-col
              >
                <input
                  nz-input
                  formControlName="lastChange"
                />
              </nv-input-wrapper>
              <nv-input-wrapper
                [label]="wording.chartering.change | translate"
                nz-col
              >
                <input
                  nz-input
                  formControlName="change"
                />
              </nv-input-wrapper>
            </div>
          </nv-fieldset>
        </div>
      </form>
    </div>
  </div>
</div>