<div class="document-card cursor-pointer" [ngClass]="{ selected: dataModel.selected }">
  <div class="image-container">
    <ng-container *ngIf="dataModel.documentThumbnail; else extensionIcon">
      <div class="thumbnail" [ngStyle]="{ 'background-image': 'url(' + dataModel.documentThumbnail + ')' }"></div>
    </ng-container>
    <ng-template #extensionIcon>
      <div class="extension-icon">
        <me-icons *ngIf="dataModel.documentExtensionIcon" [name]="dataModel.documentExtensionIcon"></me-icons>
      </div>
    </ng-template>
    <div *ngIf="dataModel.selectionEnabled" class="checkbox">
      <mat-checkbox [checked]="dataModel.selected" name="Primary" color="primary"></mat-checkbox>
    </div>
  </div>

  <div class="description box-sizing-border-box">
    <me-ellipsis-row class="title" [text]="dataModel.documentName"></me-ellipsis-row>

    <span class="creation-date">{{ dataModel.creationDate }}</span>

    <me-context-menu
      class="context-menu"
      [dataModel]="dataModel.contextMenu"
      (itemClick)="customEvent('contextMenuItemClick', $event)"
      (click)="$event.stopPropagation()"
    ></me-context-menu>
  </div>
</div>
