.document-card {
  --description-height: 60px;

  display: flex;
  flex-direction: column;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 4px;
  margin: 2px;
  box-sizing: content-box;
  position: relative;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.1);

  &::before {
    content: "";
    display: block;
    padding-top: 80%;
  }

  .image-container {
    display: flex;
    height: calc(100% - var(--description-height));
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);

    .thumbnail {
      width: 100%;
      height: 100%;
      position: absolute;
      transition: transform 400ms ease;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .extension-icon {
      margin-top: 5%;
      width: 70%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 400ms ease;

      me-icons {
        height: 100%;
        width: 100%;
      }
    }

    .checkbox {
      position: absolute;
      display: flex;
      flex-grow: 1;
      align-items: baseline;
      justify-content: flex-end;
      pointer-events: none;
      top: 20px;
      right: 20px;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    height: var(--description-height);
    padding: 10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: visible;
    position: relative;
    align-items: center;
    background-color: var(--color-white);

    .title {
      max-width: 100%;
      font-size: 12px;
      line-height: 16px;
      height: 16px;
      font-weight: 600;
      color: var(--color-main-darker);
      text-align: center;
      margin-bottom: 4px;
      user-select: none;
    }

    .creation-date {
      font-size: 10px;
      line-height: 14px;
      font-weight: 600;
      color: var(--color-main);
    }

    .context-menu {
      position: absolute;
      bottom: 2px;
      right: 0;
    }
  }
}

.document-card:hover {

  .thumbnail,
  .extension-icon {
    transform: scale(1.15);
  }
}

.selected {
  margin: 0px;
  border: 2px solid var(--color-primary);
}

.selected:hover {
  margin: 0px;
  border: 2px solid var(--color-primary);
}
