<div class="path box-sizing-border-box">
  <div class="page">
    <i-feather name="home" (click)="onGoToHomeClick()" class="home"></i-feather>
    <span class="xng-breadcrumb-separator">-</span>
    <xng-breadcrumb separator="-">
      <ng-container *xngBreadcrumbItem="let breadcrumb">
        <me-ellipsis-row class="text ellipsis" [text]="breadcrumb"></me-ellipsis-row>
      </ng-container>
    </xng-breadcrumb>
  </div>
  <div class="buttons">
    <me-button
      class="button"
      *ngFor="let action of dataModel.actions; let index = index; trackBy: trackById"
      [dataModel]="action.button.data"
      (clickEvent)="action.callBack()"
    >
      <ng-container *ngIf="action.button.content; else useText">
        <ng-container *ngTemplateOutlet="action.button.content"></ng-container>
      </ng-container>
      <ng-template #useText>
        {{ action.button.text }}
      </ng-template>
    </me-button>
  </div>
</div>
