:host {
  width: 100%;
}

.path {
  display: flex;
  flex-direction: row;
  height: 54px;
  width: 100%;
  justify-content: space-between;
  background-color: var(--color-white, #ffffff);

  .page {
    display: flex;
    flex-direction: row;
    align-items: center;

    .home {
      margin-left: 10px;
    }

    .page-name {
      display: flex;
      color: var(--color-main-darker);
      text-transform: uppercase;
      font-weight: 600;
      line-height: 14px;
    }

    .page-name:hover {
      color: var(--color-primary);
      background-color: var(--color-primary-background);
      border-radius: 4px;
    }
    .text {
      max-width: 500px;
      text-transform: uppercase;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;

    .button {
      margin-left: 10px;
    }
  }
}
