@mixin desktop_large {
  @media (min-width: 1681px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1680px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin tablet_small {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
