html,
body {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  background-color: var(--color-body-background);
  font-size: var(--font-body-size);
  color: var(--color-body-font);
  font-family: var(--font-family-primary);

  a,
  .link {
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    object-fit: contain;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .cursor-default {
    cursor: default;
  }

  b,
  .bold {
    font-weight: bold;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--color-white) inset;
    box-shadow: 0 0 0 30px var(--color-white) inset;
  }

  .text-center {
    text-align: center;
  }

  .error {
    color: var(--color-danger);
  }

  .success {
    color: var(--color-success);
  }

  .warning {
    color: var(--color-warning);
  }

  .info {
    color: var(--color-info);
  }

  .regular {
    color: var(--color-primary);
  }

  .mark-required::after {
    content: ' **';
  }

  .mark-opt-required::after {
    content: ' *';
  }

  .scrollbar {
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar);
    scrollbar-width: thin;
  }

  .scrollbar::-webkit-scrollbar {
    width: 7px; // size of vertical scrollbar
    height: 7px; // size of horizontal scrollbar
  }

  .scrollbar::-webkit-scrollbar-track {
    background: var(--color-scrollbar);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
    border-right: 1px solid transparent;
  }

  .user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .capitalize {
    text-transform: capitalize;
  }

  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .box-sizing-border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  // Remove outline from browser user-agent
  *,
  *:focus,
  *:hover {
    outline: none;
  }
}
