:host {
  flex: 1 1 auto;
  display: flex;
}

.paper{
  max-width: 880px;

  .header{
    padding: 10px;
    flex-direction: row;
    align-items: center;
  }
}

.mainRow{
  flex-direction: row;
  .mainDataWrapper{
    flex: 1 1 auto;
  }
}

.form-content{
  display: flex;
  flex-direction: row;

  .form-col{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 18px;
    max-width: 500px;
  }
}
