<nv-paper-view
  [routeBack]="routeBack"
  [customTitle]="isCreationMode ? (createWording | translate) : title"
  class="has-{{helperService.buttonsCount}}-buttons"
>
  <nv-one-step-slider
    header
    *ngIf="registers?.length"
    [dataArray]="registers"
    [value]="selectedRegister"
    [disabled]="helperService.registersSliderDisabledSubject | async"
    (valueChange)="helperService.selectedRegisterSubject.next($event)"
  >
    <div class="date-period">
      (
        {{ selectedRegister?.from | systemDate }} -
        <ng-container *ngIf="selectedRegister?.until; else openText">
          {{ selectedRegister?.until | systemDate }}
        </ng-container>
        <ng-template #openText>
          <i>{{ wording.general.open | translate }}</i>
        </ng-template>
      )
    </div>
  </nv-one-step-slider>
  <nv-router-tabs
    [sitemapNode]="sitemap"
    [tabDisabler]="tabDisabler"
  ></nv-router-tabs>
</nv-paper-view>
