<mat-form-field class="me-search-input-form-field">
  <mat-label>{{ dataModel.placeholder }}</mat-label>
  <input type="text" matInput [formControl]="searchInput" />
  <i-feather *ngIf="!searchInput.value" matSuffix name="search" class="search-icon"></i-feather>
  <i-feather *ngIf="searchInput.value" (click)="resetSearchInputValue()" name="x" class="close" matSuffix></i-feather>
</mat-form-field>
