<div class="component-wrap">
  <div class="nv-content content">
    <div class="actions-row">
      <nv-detail-view-actions
        [inEditingMode]="editMode"
        (editClicked)="enterEditMode()"
        (cancelClicked)="cancelEditing()"
        (saveClicked)="submit()"
        [form]="form"
        [formElement]="formElement"
      >
      </nv-detail-view-actions>
    </div>
    <div
      class="form-wrapper"
      *ngIf="form"
    >
      <form
        nvSpyElement
        (initialized)="formInitialized($event)"
        [formGroup]="form"
        class="form-group"
        nz-form
        nzLayout="vertical"
      >
        <!--General && Charter reference-->
        <div
          nz-row
          class="form-children-container"
        >
          <!--General-->
          <nv-fieldset
            class="block"
            nz-col
            [label]="wording.technicalManagement.general | translate"
          >
            <div
              nz-row
              nzGutter="14"
            >
              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="wording.technicalManagement.reportType | translate"
              >
                <nz-select formControlName="reportType">
                  <nz-option
                    *ngFor="let reportType of reportTypes"
                    [nzLabel]="reportType.displayLabel | translate"
                    [nzValue]="reportType.value"
                    nzCustomContent
                  >
                    <div [attr.data-group-type-option]="reportType.displayLabel.en">
                      {{ reportType.displayLabel | translate }}
                    </div>
                  </nz-option>
                </nz-select>
              </nv-input-wrapper>
              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="wording.technicalManagement.resubmission | translate"
              >
                <nv-datebox
                  [propagateInvalidDate]="false"
                  [disabledUntil]="dateNowISOString"
                  formControlName="resubmissionDate"
                >
                </nv-datebox>
              </nv-input-wrapper>
            </div>
            <div>
              <nv-vessel-autocomplete
                [form]="form"
                (select)="onVesselSelect($event)"
              >
              </nv-vessel-autocomplete>
            </div>
            <div
              nz-row
              nzGutter="14"
            >
              <nv-input-wrapper
                class="report-no-wrapper"
                nz-col
                nzSpan="12"
                [label]="wording.technicalManagement.sdReportNo | translate"
              >
                <input
                  class="uppercase"
                  formControlName="sdReportNo"
                  type="text"
                  nz-input
                />
              </nv-input-wrapper>
              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="wording.technicalManagement.dateOfTheDamage | translate"
              >
                <nv-datebox
                  [withTime]="true"
                  [disabledFrom]="dateNowISOString"
                  [propagateInvalidDate]="false"
                  formControlName="sdReportDate"
                >
                </nv-datebox>
              </nv-input-wrapper>
            </div>
            <div
              nz-row
              nzGutter="14"
            >
              <nv-input-wrapper
                class="report-no-wrapper"
                nz-col
                nzSpan="12"
                [label]="wordingAccounting.technicalManagement.crewReportNo | translate"
              >
                <input
                  class="uppercase"
                  formControlName="crewReportNo"
                  type="text"
                  nz-input
                />
              </nv-input-wrapper>
              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="wording.technicalManagement.dateOfTheDamage | translate"
              >
                <nv-datebox
                  [disabledFrom]="dateNowISOString"
                  [withTime]="true"
                  [propagateInvalidDate]="false"
                  formControlName="crewReportDate"
                >
                </nv-datebox>
              </nv-input-wrapper>
            </div>
            <div
              nz-row
              class="settlement-checkbox"
            >
              <label
                nz-checkbox
                formControlName="isSettlementWithoutAutomaticCharterReference"
              >
                {{ wording.technicalManagement.settlementWithoutAutomaticCharterReference | translate }}
              </label>
            </div>
          </nv-fieldset>
          <!--Charter reference-->
          <nv-fieldset
            class="block"
            nz-col
            [label]="wording.technicalManagement.charterReference | translate"
          >
            <div
              nz-row
              nzGutter="14"
            >
              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="wording.accounting.vessel | translate"
              >
                <input
                  type="text"
                  nz-input
                  formControlName="vesselReadOnlyData"
                />
              </nv-input-wrapper>
              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="wording.technicalManagement.charterName | translate"
              >
                <input
                  type="text"
                  nz-input
                  formControlName="charterName"
                />
              </nv-input-wrapper>
            </div>
            <div
              nz-row
              nzGutter="14"
            >
              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="wording.technicalManagement.voyageNumber | translate"
              >
                <input
                  type="text"
                  nz-input
                  formControlName="voyageNo"
                />
              </nv-input-wrapper>
              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="wording.technicalManagement.cpDate | translate"
              >
                <nv-datebox
                  [withTime]="true"
                  [propagateInvalidDate]="false"
                  [disabledFrom]="dateNowISOString"
                  formControlName="cpDate"
                ></nv-datebox>
              </nv-input-wrapper>
            </div>
            <div
              nz-row
              nzGutter="14"
            >
              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="wording.technicalManagement.startOfTimeCharter | translate"
              >
                <nv-datebox
                  [withTime]="true"
                  [propagateInvalidDate]="false"
                  [disabledFrom]="dateNowISOString"
                  formControlName="startOfTimeCharter"
                ></nv-datebox>
              </nv-input-wrapper>
              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="wording.technicalManagement.approximateDateOfRedelivery | translate"
              >
                <nv-datebox
                  [withTime]="true"
                  [propagateInvalidDate]="false"
                  [disabledFrom]="dateNowISOString"
                  formControlName="approximateDateOfRedelivery"
                ></nv-datebox>
              </nv-input-wrapper>
            </div>
            <div>
              <nv-input-wrapper [label]="wording.chartering.charterer | translate">
                <nv-autocomplete
                  [resource]="charterers"
                  [modalGridConfig]="debitorsCreditorsGridConfig"
                  [properities]="['no', 'companyName']"
                  formControlName="chartererId"
                  [autofocus]="false"
                  [setNullIfNotFound]="true"
                >
                </nv-autocomplete>
              </nv-input-wrapper>
            </div>
            <div
              nz-row
              nzGutter="14"
            >
              <nv-input-wrapper
                nz-col
                nzSpan="12"
              >
                <label
                  nz-checkbox
                  formControlName="isChartererInformed"
                >
                  {{ wording.technicalManagement.chartererInformed | translate }}
                </label>
              </nv-input-wrapper>
              <nv-input-wrapper
                nz-col
                nzSpan="12"
                [label]="wording.chartering.billingAddress | translate"
              >
                <textarea
                  class="billing-address-textarea"
                  rows="4"
                  nz-input
                  formControlName="billingAddress"
                ></textarea>
              </nv-input-wrapper>
            </div>
          </nv-fieldset>
        </div>
        <!--Event-->
        <div
          nz-row
          class="form-children-container event"
        >
          <nv-fieldset
            class="event-block"
            nz-col
            [label]="wording.technicalManagement.event | translate"
          >
            <div class="form-children-container">
              <!--event left-->
              <div class="block">
                <div
                  nz-row
                  nzGutter="14"
                >
                  <nv-input-wrapper
                    nz-col
                    nzSpan="12"
                    [label]="wording.technicalManagement.incident | translate"
                  >
                    <nz-select
                      formControlName="incident"
                      nzAllowClear
                      nzShowSearch
                    >
                      <nz-option
                        *ngFor="let incident of incidents"
                        [nzLabel]="incident.displayLabel | translate"
                        [nzValue]="incident.value"
                        nzCustomContent
                      >
                        <div [attr.data-position-sbps-option]="
                            incident.displayLabel.en
                          ">
                          {{ incident.displayLabel | translate }}
                        </div>
                      </nz-option>
                    </nz-select>
                  </nv-input-wrapper>
                  <nv-input-wrapper
                    nz-col
                    nzSpan="12"
                    [label]="wording.accounting.port | translate"
                  >
                    <nv-autocomplete
                      [resource]="ports"
                      [modalGridConfig]="portsGridConfig"
                      [properities]="['name']"
                      formControlName="portId"
                      [autofocus]="false"
                      [setNullIfNotFound]="true"
                    >
                    </nv-autocomplete>
                  </nv-input-wrapper>
                </div>
                <div
                  nz-row
                  nzGutter="14"
                >
                  <div
                    nz-col
                    nzOffset="12"
                  >
                    <label
                      class="form-label-like"
                      nz-checkbox
                      formControlName="noPort"
                    >
                      {{ wording.technicalManagement.noPort | translate | uppercase }}
                    </label>
                  </div>
                </div>
                <nv-input-wrapper
                  nz-row
                  [label]="wording.general.description | translate"
                  className="description-wrap"
                >
                  <textarea
                    rows="4"
                    nz-input
                    formControlName="description"
                  ></textarea>
                </nv-input-wrapper>
              </div>
              <!--event right-->
              <nv-fieldset
                nz-col
                [label]="wording.technicalManagement.position | translate"
              >
                <div
                  nz-row
                  nzGutter="20"
                >
                  <nv-input-wrapper
                    nz-col
                    nzSpan="6"
                    class="horizontal-control"
                    [label]="wording.technicalManagement.hold | translate"
                  >
                    <input
                      type="text"
                      nz-input
                      formControlName="hold"
                    />
                  </nv-input-wrapper>
                  <nv-input-wrapper
                    nz-col
                    nzSpan="6"
                    class="horizontal-control"
                    [label]="wording.technicalManagement.bay | translate"
                  >
                    <input
                      type="text"
                      nz-input
                      formControlName="bay"
                    />
                  </nv-input-wrapper>
                  <nv-input-wrapper
                    nz-col
                    nzSpan="6"
                    class="horizontal-control"
                    [label]="wording.technicalManagement.row | translate"
                  >
                    <input
                      type="text"
                      nz-input
                      formControlName="row"
                    />
                  </nv-input-wrapper>
                  <nv-input-wrapper
                    nz-col
                    nzSpan="6"
                    class="horizontal-control"
                    [label]="wording.technicalManagement.tier | translate"
                  >
                    <input
                      type="text"
                      nz-input
                      formControlName="tier"
                    />
                  </nv-input-wrapper>
                </div>
                <div
                  nz-row
                  nzGutter="14"
                >
                  <nv-input-wrapper
                    nz-col
                    nzSpan="12"
                    [label]="wording.technicalManagement.positionsSBPS | translate"
                  >
                    <nz-select
                      formControlName="positionSBPS"
                      nzAllowClear
                      nzShowSearch
                    >
                      <nz-option
                        *ngFor="let position of positionsSBPS"
                        [nzLabel]="position.displayLabel | translate"
                        [nzValue]="position.value"
                        nzCustomContent
                      >
                        <div [attr.data-position-sbps-option]="position.displayLabel.en">
                          {{ position.displayLabel | translate }}
                        </div>
                      </nz-option>
                    </nz-select>
                  </nv-input-wrapper>
                  <nv-input-wrapper
                    nz-col
                    nzSpan="12"
                    [label]="wording.technicalManagement.positionsFWDAFT | translate"
                  >
                    <nz-select
                      formControlName="positionFWDAFT"
                      nzAllowClear
                      nzShowSearch
                    >
                      <nz-option
                        *ngFor="let position of positionsFWDAFT"
                        [nzLabel]="position.displayLabel | translate"
                        [nzValue]="position.value"
                        nzCustomContent
                      >
                        <div [attr.data-position-fwdaft-option]="position.displayLabel.en">
                          {{ position.displayLabel | translate }}
                        </div>
                      </nz-option>
                    </nz-select>
                  </nv-input-wrapper>
                </div>
              </nv-fieldset>
            </div>
          </nv-fieldset>
        </div>
      </form>
    </div>
  </div>
</div>