:host {
  display: flex;
  overflow: hidden;

  .component-wrap {
    overflow: hidden;
    display: flex;
    width: 100%;
  }
}

.settlement-checkbox {
  margin-bottom: 10px;
}

.cleared-item-container {
  padding-bottom: 8px;
}

.billing-address-textarea {
  margin: 0;
}

::ng-deep [data-theme="dark"] .form-label-like {
  color: #eee1e1;
}

nv-input-wrapper.horizontal-control ::ng-deep {
  nz-form-item {
    display: flex;

    .label-wrap {
      white-space: nowrap;
      margin-right: 10px;
    }
  }
}

.report-no-wrapper  ::ng-deep{
  .validation-error-message {
    white-space: pre-line;
  }
}

.form-wrapper {
  overflow: auto;

  form {
    padding: 0 15px;
    width: 100%;
  }
}

.right-container {
  display: flex;
  flex-direction: column;
}

[formcontrolname="isChartererInformed"] {
  &:not(.ant-checkbox-wrapper-checked) {
    color: #c44747;

    & ::ng-deep .ant-checkbox-disabled + span {
      color: inherit;
    }
  }
}

textarea {
  height: 100%;
  resize: none;
}

:host ::ng-deep {
  .description-wrap {
    width: 100%;
  }

  .form-children-container {
    display: flex;

    &.event {
      padding-bottom: 25px;
    }

    .event-block {
      width: 100%;
    }

    nv-fieldset {
      flex: 1;
    }

    .block {
      flex: 1;

      &:nth-child(1) {
        margin-right: 25px;
      }
    }
  }
}
