<ul>
  <li class="bolder">{{ wording.accounting.summationOf | translate }}</li>
  <li class="with-columns">
    <div class="node-name bolder">{{ wording.general.nameEn | translate }}</div>
    <div class="node-name bolder">{{ wording.general.nameDe | translate }}</div>
  </li>
  <li class="nodes-title">{{ wording.accounting.unassignedNodes | translate }}</li>
  <li class="with-columns">
    <ul>
      <li
        *ngFor="let node of unassignedNodes; index as i"
        class="with-columns cursor-pointer"
        (click)="selectNode(node, 'unassigned', i, $event)"
        [ngClass]="{'selected-node': selectedNodes[node.id]}"
      >
        <div class="node-name">{{ node.labelEn }}</div>
        <div class="node-name">{{ node.labelDe }}</div>
      </li>
    </ul>
  </li>
  <li class="buttons">
    <button
      nz-button
      nzType="default"
      (click)="assignNode()"
    >
      <i nz-icon nzType="down" nzTheme="outline"></i>
    </button>
    <button
      nz-button
      nzType="default"
      (click)="unassignNode()"
    >
      <i nz-icon nzType="up" nzTheme="outline"></i>
    </button>
  </li>
  <li class="nodes-title">{{ wording.accounting.assignedNodes | translate }}</li>
  <li class="with-columns">
    <ul>
      <li
        *ngFor="let node of assignedNodes; index as i"
        class="with-columns cursor-pointer"
        (click)="selectNode(node, 'assigned', i, $event)"
        [ngClass]="{'selected-node': selectedNodes[node.id]}"
      >
        <div class="node-name">{{ node.labelEn }}</div>
        <div class="node-name">{{ node.labelDe }}</div>
      </li>
    </ul>
  </li>
</ul>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="triggerCancel()">
    {{ wording.general.cancel | translate }}
  </button>
  <button
    nz-button
    nzType="primary"
    (click)="triggerOk()"
    [ngClass]="{'disabled-button': !assignedNodes.length}"
    nz-tooltip
    nzTooltipPlacement="topCenter"
    [nzTooltipTitle]="wording.accounting.noNodesWereAssigned | translate"
    [nzOverlayStyle]="{
      display: !assignedNodes.length ? 'block' : 'none'
    }"
  >
    {{ wording.general.save | translate }}
  </button>
</div>