:host {
  max-height: 600px;
  max-width: 85vw;
  padding: 10px;
  min-width: 500px;
}

ul {
  padding: 0;

  .nodes-title {
    background-color: #efefef;
  }

  .selected-node {
    background-color: #c44747;
    color: #fff;
  }

  li {
    text-align: center;
    list-style-type: none;
    width: 100%;
    padding: 7px;
    border-bottom: 1px solid #ccc;

    ul {
      max-height: 150px;
      overflow-y: auto;
      li:last-child {
        border-bottom: 0;
      }
    }

    .node-name {
      width: 50%;
      display: inline-block;
      border-left: 1px solid #ccc;

      &:first-child {
        border-left: 0;
      }
    }
  }

  .with-columns {
    padding: 0;

    .node-name {
      padding: 7px;
      user-select: none;
    }
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      margin-left: 15px;

      &:first-child {
        margin-left: 0px;
      }
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.disabled-button {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}

.bolder {
  font-weight: bolder;
}