:host {
  flex: 1 1 auto;
  display: flex;
}

.paper {
  max-width: 880px;
  .header {
    padding: 10px;
    flex-direction: row;
    align-items: center;
  }
  .content {
    padding: 26px;
  }
}

.checkboxes {
  div {
    padding-bottom: 10px;
  }
}

.error {
  color: #c44747;
}

.remark {
  height: 60px;
}

.form-wrap {
  overflow: auto;
  form {
    min-width: 850px;
  }
}
