<nv-paper-view
  [customTitle]="
    creationMode
      ? (wording.general.create | translate)
      : title$ | async
  "
  [routeBack]="!creationMode && routeBack"
>
  <!-- Header -->
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
    [showEditButton]="isAdmin"
  ></nv-detail-view-actions>

  <!-- Content -->
  <div class="form-wrap">
    <form
      *ngIf="form"
      (initialized) = "formInitialized($event)"
      nvSpyElement
      [formGroup]="form"
      nz-form
      nzLayout="vertical"
      class="padding-mid"
    [form]="form"
    [formElement]="formElement"
    >
      <div nz-row nzGutter="22">
        <div nz-col nzSpan="12">
          <nv-fieldset>
            <nv-input-wrapper [label]="wording.accounting.no | translate">
              <input formControlName="no" type="number" nz-input />
            </nv-input-wrapper>
            <nv-input-wrapper
              [label]="wording.general.nameEn | translate"
            >
              <input formControlName="labelEn" type="text" nz-input />
            </nv-input-wrapper>
            <nv-input-wrapper
              [label]="wording.general.nameDe | translate"
            >
              <input formControlName="labelDe" type="text" nz-input />
            </nv-input-wrapper>
            <nv-input-wrapper [label]="wording.accounting.remark | translate">
              <input
                formControlName="remark"
                type="text"
                nz-input
                class="remark"
              />
            </nv-input-wrapper>
          </nv-fieldset>
        </div>
        <div nz-col nzSpan="12">
          <nv-fieldset>
            <div class="form-row-host">
              <label nz-checkbox formControlName="isSystemDefault">
                {{ wording.general.systemDefault | translate }}
              </label>
            </div>
            <div class="form-row-host">
              <label nz-checkbox formControlName="isPaymentsRelevance">
                {{ wording.accounting.paymentsRelevance | translate }}
              </label>
            </div>
            <div class="form-row-host">
              <label nz-checkbox formControlName="isActive">
                {{ wording.general.active | translate }}
              </label>
            </div>
          </nv-fieldset>
        </div>
      </div>
    </form>
  </div>
</nv-paper-view>
