<nv-paper-view>
  <nv-detail-view-actions
    [inEditingMode]="editMode"
    (saveClicked)="submit()"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
  ></nv-detail-view-actions>
  <nv-list-select
    [resource]="(mandators$ | async) | filterStream : { isAutoBankWorkflow: true }"
    [properties]="['no', 'name']"
    [propertyToReturn]="'companyId'"
    [selectType]="SelectType.Radio"
    [getLabel]="mandatorNoModifier"
    (selectedId)="itemChanged($event)"
  ></nv-list-select>
  <nv-grid
    [dataSource]="
         (
           (
           bankAccountRepo.getStream() | async
           ) | filterStream : { companyId: selectedItem.companyId, forAccountStatements: true }: 'bankId')
             | transformId : (bankRepo.getStream() | async) : 'bankId'"
    [gridConfig]="gridConfig"
    (expandComponent)="setExpandableComponent($event)"
  ></nv-grid>
</nv-paper-view>
