<div class="basic-input-container box-sizing-border-box">
  <div class="header box-sizing-border-box">
    <span class="title">{{ dataModel.title }}</span>
    <span><me-icons name="x" mat-dialog-close></me-icons></span>
  </div>
  <div class="content">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
  <div class="footer box-sizing-border-box">
    <div class="actions">
      <me-button *ngIf="!dataModel.inputEmailValue" [dataModel]="cancelButton" (clickEvent)="customEvent('close')">Cancel</me-button>
      <me-button *ngIf="dataModel.inputEmailValue" [dataModel]="inviteButton" (clickEvent)="customEvent('invite')">Invite</me-button>
    </div>
  </div>
</div>
