.basic-input-container {
  width: 380px;
  height: 277px;
  background: #ffffff;
  box-shadow: 0px 10px 10px var(--black-box-shadows, rgba(0, 0, 0, 0.1));
  border-radius: 4px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;

    .title {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .content {
    flex-grow: 1;
  }

  .footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    font-weight: 600;

    .actions {
      display: flex;
      align-items: center;

      &.hidden {
        visibility: hidden;
      }
    }
  }
}
