.advanced-filter-container {
  width: 310px;
  height: 100%;
  border-right: 1px solid var(--color-body-background, #F1F2F7);
  transition: width 0.5s ease;
  background-color: var(--color-body-white, #ffffff);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &.closed {
    width: 0px;
  }

  .advanced-filter-header {
    flex-shrink: 0;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid var(--color-body-background, #F1F2F7);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .reset {
      padding-left: 12px;
    }

    .filter-button {
      width: 54px;
      height: 100%;
      border-left: 1px solid var(--color-body-background, #F1F2F7);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .advanced-filter-content {
    flex-grow: 1;
    width: 100%;
    overflow-y: scroll;
  }
}
