<div class="advanced-filter-container box-sizing-border-box" [class.closed]="!dataModel.active">
  <div class="advanced-filter-header box-sizing-border-box">
    <div class="reset">
      <me-button [dataModel]="resetButton" (clickEvent)="emitToggleFilter('clear')">{{ dataModel.resetMessage }}</me-button>
    </div>
    <div class="filter-button box-sizing-border-box">
      <me-button [dataModel]="filterButton" (clickEvent)="emitToggleFilter('close')">
        <me-icons [name]="dataModel.icon"></me-icons>
      </me-button>
    </div>
  </div>
  <div class="advanced-filter-content scrollbar">
    <ng-content></ng-content>
  </div>
</div>
