:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.main-list {
  border-top: 1px solid #d9d9d9;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;

  .icon {
    width: 20px;
    margin-right: 8px;
  }

  .category-li {
    &:not(:first-of-type) {
      border-top: 1px solid #d9d9d9;
    }

    .category {
      background-color: #efefef;
      padding: 8px;
      height: 36px;
      border-bottom: 1px solid #d9d9d9;
      color: #d43a42;
      font-weight: bold;
      display: flex;
      align-items: center;
      top: 0px;
      z-index: 1;
      position: sticky;
    }
  }

  .section {
    padding: 0px;
    padding-left: 4px;
    height: 36px;
    border-bottom: 1px solid #eaeaea;
    margin-left: 12px;
    line-height: 36px;
    font-weight: bold;
  }

  .topic {
    padding: 0 0 0 34px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;

    .title {
      &:hover {
        text-decoration: underline;
      }
    }
  }

}

nz-input-group {
  padding: 11px !important;

  input {
    font-size: 16px;
  }
}

.clear-button {
  font-size: 16px;

  span {
    cursor: pointer;
  }

  &:hover {
    color: #c44747;
  }
}

.search-icon {
  font-size: 18px;
}

.focused-topic {
  background: #c44747 !important;
  color: #fff;
}

.search-input {
  border: 0;
  outline: 0;
  box-shadow: none;

  &:hover,
  &:focus {
    background-color: #fff !important;
    background: #fff !important;
  }
}
