<nz-input-group [nzPrefix]="searchIcon" [nzSuffix]="clearButton">
  <input
    nz-input
    #searchInput
    type="text"
    (input)="onChange($event)"
    [placeholder]="wording.general.inputSearchText | translate"
    class="search-input"
  >
</nz-input-group>

<ng-template #searchIcon>
  <i nz-icon nzType="search" class="search-icon"></i>
</ng-template>

<ng-template #clearButton>
  <div (click)="clearSearchInput()" class="clear-button">
    <span>{{ wording.general.clear | translate }}</span>
  </div>
</ng-template>

<ul
  nz-menu
  *ngIf="(sitemapArr$ | async).length > 0"
  class="main-list e2e-main-list"
>
  <li
    *ngFor="let category of (sitemapArr$ | async); let categoryIndex = index;"
    class="category-li"
  >


    <span title class="category" nz-row
    >
    <i nz-icon [nzType]="category.icon" class="icon"></i>
      {{ category.title | translate }}
    </span>

    <ul *ngFor="let section of category.section; let sectionIndex = index;">

      <span title class="section" nz-row>
        <img [src]="section.icon" class="icon">{{ section.title | translate }}
      </span>

      <li
        nz-menu-item
        class="topic"
        *ngFor="let topic of section.topic; let topicIndex = index;"
        [attr.data-topic-search]="topic.title.en"
        [ngClass]="{ 'focused-topic': focusedTopic.url === topic.url }"
        [attr.data-topic-url]="topic.url"
      >
        <div
          [nzTooltipTitle]="topic.description | translate"
          nzTooltipPlacement="topLeft"
          nz-tooltip
          class="title-route"
          (click)="navigateTo(topic.url)"
          nzMouseEnterDelay="0.40"
          [attr.data-topic-title]="topic.title.en"
          title
        >
          <div class='title'>{{ topic.title | translate }}</div>
        </div>
      </li>
    </ul>
  </li>
</ul>
