<div

  class="content-wrap"
>
    <div class="action-bar">
      <nv-detail-view-actions
        [inEditingMode]="editMode"
        (editClicked)="enterEditMode()"
        (cancelClicked)="cancelEditing()"
        (saveClicked)="submit()"
      >
      </nv-detail-view-actions>
    </div>


    <div class="nv-content flex content" *ngIf="form">
      <form [formGroup]="form" nz-form
        nzLayout="vertical">
        <div nz-row>
          <div class="customer-supplier-system" nz-col nzSpan="24">
            <nv-fieldset
                [label]="wording.system.remarks | translate">
              <nv-input-wrapper
                [label]="wording.system.remarks | translate"
              >
                <textarea rows="4" nz-input formControlName="remark"></textarea>
              </nv-input-wrapper>
            </nv-fieldset>
          </div>
        </div>
      </form>
    </div>
</div>
