:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .content-wrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    form {
      overflow: auto;
      min-width: 460px;
    }
  }
}
