<div class="content-wrap">
  <div class="content">
    <nv-interval-list
      [intervalItems]="settings"
      [selectedId]="selectedSetting && selectedSetting.id"
      [disabled]="editMode"
      [withCreateOption]="authService.canCreate(zone)"
      [creationMode]="inCreationMode"
      (select)="intervalClicked($event)"
      (create)="addIntervalClicked()"
    >
    </nv-interval-list>
    <div class="intervalDetails">
      <div class="actionBar">
        <nv-detail-view-actions
          *ngIf="selectedSetting"
          [inEditingMode]="editMode"
          [editDisabled]="!selectedSetting?.id"
          (editClicked)="enterEditMode()"
          (cancelClicked)="cancelEditing()"
          (saveClicked)="submit()"
          [form]="form"
          [formElement]="formElement"
        ></nv-detail-view-actions>
      </div>
      <div class="detail-view-main">
        <form
          #formElement
          [formGroup]="form"
          class="form-wrapper"
          nz-form
          nzLayout="vertical"
        >
          <div
            nz-row
            class="period-from-until"
          >
            <nv-input-wrapper
              class="period-from"
              [label]="wording.chartering.periodFrom | translate"
            >
              <nv-datebox
                formControlName="from"
                [withTime]="true"
              ></nv-datebox>
            </nv-input-wrapper>

            <nv-input-wrapper
              [label]="wording.general.until | translate | lowercase"
              class="no-label"
            >
              <nv-datebox
                formControlName="until"
                [withTime]="true"
              ></nv-datebox>
            </nv-input-wrapper>
          </div>
        </form>
        <nv-grid
          *ngIf="gridConfig"
          [gridConfig]="gridConfig"
          [dataSource$]="dataSource$"
          (rowSelectionChanged)="rowSelectionChanged($event)"
          (gridConfigChangedOnSave)="gridConfigService.update($event)"
        >
        </nv-grid>
      </div>
    </div>
  </div>
</div>
