:host {
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  overflow: hidden;
  .content-wrap {
    overflow: auto;
  }
}
nv-grid {
  box-shadow: none;
}

.content {
  display: flex;
  height: 100%;
  flex-direction: row;
  padding: 10px;
  overflow: hidden;

  .section {
    border-top: 1px solid #e8e8e8;
    padding-top: 16px;
    margin-top: 6px;
  }

  .intervalDetails {
    min-width: min-content;
    min-height: min-content;
    padding: 12px;
    margin-left: 6px;
    padding-top: 2px;
    display: flex;
    flex-direction: column;   
    height: 100%;
    overflow: auto;

    .actionBar{
      display: flex;
      align-items: center;
      justify-content: flex-end;

    }
  }
}
.period-from-until {
  display: flex !important;
  .period-from {
    margin-right: 10px;
  }
}
