<section class="bg">
    <app-toolbar>
        <!--left part-->
        <lavash-button
                class="mode l active"
                text="Photos">
        </lavash-button>
        <lavash-button
                class="mode l"
                text="Story telling"
                (clickEvent)="onNavigateTo('story-telling')">
        </lavash-button>
        <lavash-button
                class="mode l"
                graphics="icon-video2"
                (clickEvent)="onNavigateTo('videos')">
        </lavash-button>
        <!--right part-->
        <div class="items r">{{portfolioItemsSelected.length}} items in portfolio</div>
        <lavash-button
                class="mode r"
                [ngClass]="columns === 1 ? 'deactive' : ''"
                graphics="icon-zoomin1"
                (clickEvent)="changeMode(columns - 1)">
        </lavash-button>
        <lavash-button
                class="mode r"
                [ngClass]="columns === colMax || columns === portfolioItemsSelected.length ? 'deactive' : ''"
                graphics="icon-zoomout"
                (clickEvent)="changeMode(columns + 1)">
        </lavash-button>
        <lavash-button
                class="mode r"
                [ngClass]="_columns === 1 ? 'hidden' : columns === _columns ? 'deactive' : ''"
                graphics="icon-grid"
                (clickEvent)="changeMode(_columns)">
        </lavash-button>
        <lavash-button
                class="mode r"
                [ngClass]="columns === 1 ? 'deactive' : ''"
                graphics="icon-list"
                (clickEvent)="changeMode(1)">
        </lavash-button>
    </app-toolbar>

    <div class="portfolio">
        <app-grid-container [items]="portfolioItemsSelected"
                            [columns]="columns"
                            (windowResizeEvent)="onResize($event)">
        </app-grid-container>
    </div>
</section>
