<nv-paper-view>
  <nv-grid
    #grid
    [gridConfig]="config"
    [dataSource$]="dataSource$"
    (gridConfigChangedOnSave)="gridConfigService.update($event)"
  >
  </nv-grid>
  <nv-inactive-entities-checkbox [gridComponent]="gridComponent"></nv-inactive-entities-checkbox>
</nv-paper-view>
