<div class="component-wrap">
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <nz-alert
    *ngIf="resource && (resource.isActive === false)"
    [nzMessage]="wording.general.thisItemIsInactive | translate"
    nzType="warning"
    nzShowIcon
    class="alert-bar"
  >
  </nz-alert>
  <div class="form-wrap">
    <form
      nvSpyElement
      (initialized)="formInitialized($event)"
      [formGroup]="form"
      nz-form
      nzLayout='vertical'
      class="padding-mid"
    >
      <div
        nz-row
        nzGutter="22"
      >
        <div
          nz-col
          nzSpan="18"
        >
          <nv-input-wrapper [label]="wording.accounting.abbreviation | translate">
            <input
              formControlName="abbreviation"
              type="text"
              [placeholder]="wording.accounting.abbreviation | translate"
              nz-input
            >
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.accounting.descriptionEn | translate">
            <input
              formControlName="labelEn"
              type="text"
              [placeholder]="wording.accounting.descriptionEn | translate"
              nz-input
            >
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.accounting.descriptionDe | translate">
            <input
              formControlName="labelDe"
              type="text"
              [placeholder]="wording.accounting.descriptionDe | translate"
              nz-input
            >
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.accounting.useCase | translate">
            <input
              formControlName="useCase"
              type="text"
              [placeholder]="wording.accounting.useCase | translate"
              nz-input
            >
          </nv-input-wrapper>
          <div class="form-row-host">
            <label
              nz-checkbox
              formControlName="isAutomaticNumbering"
            >{{wording.accounting.autoNumbering | translate}}</label>
          </div>
          <div class="form-row-host">
            <label
              *ngIf="showIsActiveCheckbox"
              nz-checkbox
              formControlName="isActive"
            >{{wording.accounting.active | translate}}</label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>