:host {
  display: flex;
  overflow: hidden;
  .form-wrap {
    overflow: auto;
    .form-row-host {
      width: max-content;
    }
  }
}

.component-wrap {
  width: 100%;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    opacity: 1;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    opacity: 1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #9c9c9c;
    transition: background-color .3s;
  }
}
