<div class="user-profile-container">
  <mat-horizontal-stepper #stepper linear (selectionChange)="activateTabIndex($event.selectedIndex)">
    <mat-step #stepOne>
      <ng-template matStepLabel>
        <span
          [ngClass]="{
            'step-label-heading': true,
            bold: true,
            'step-label-heading-active': stepper.selected === stepOne
          }"
        >
          {{ i18nStrings.personalInfo }}</span
        >
      </ng-template>
      <div *ngIf="attributesForm" class="stepper-container-wrapper box-sizing-border-box">
        <div class="stepper-container box-sizing-border-box">
          <div class="title">{{ 'personalInfo' | translate }}</div>
          <form [formGroup]="attributesForm">
            <div class="user-data">
              <div class="thumbnail-container">
                <me-upload-image [uploadImageData]="uploadImageData" (returnImageFormData)="handleImageFormData($event)"></me-upload-image>
              </div>

              <div class="inputs">
                <div class="form-row">
                  <div class="form-field">
                    <mat-form-field>
                      <mat-label [class.mark-required]="true">
                        {{ 'firstName' | translate }}
                      </mat-label>
                      <input matInput [formControlName]="'firstName'" #firstName />
                      <button
                        mat-button
                        *ngIf="firstName.value && firstNameControl"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="firstNameControl.setValue('')"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="form-field">
                    <mat-form-field>
                      <mat-label [class.mark-required]="true">
                        {{ 'lastName' | translate }}
                      </mat-label>
                      <input matInput [formControlName]="'lastName'" #lastName />
                      <button
                        mat-button
                        *ngIf="lastName.value && lastNameControl"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="lastNameControl.setValue('')"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-row extended">
                  <div class="form-field">
                    <mat-form-field>
                      <mat-label [class.mark-required]="true">
                        {{ 'userEmail' | translate }}
                      </mat-label>
                      <input matInput value="{{ userProfile.user.attributes.email }}" type="email" #email readonly />
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-row extended">
                  <div class="form-field">
                    <mat-form-field>
                      <mat-label>
                        {{ 'preferredName' | translate }}
                      </mat-label>
                      <input matInput [formControlName]="'preferredName'" #preferredName />
                      <button
                        mat-button
                        *ngIf="preferredName.value && preferredNameControl"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="preferredNameControl.setValue('')"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-row extended">
                  <div class="form-row">
                    <div class="form-field">
                      <mat-form-field>
                        <mat-label>
                          {{ 'jobTitle' | translate }}
                        </mat-label>
                        <input matInput [formControlName]="'jobTitle'" #jobTitle />
                        <button
                          mat-button
                          *ngIf="jobTitle.value && jobTitleControl"
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          (click)="jobTitleControl.setValue('')"
                        >
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div class="form-field">
                      <mat-form-field>
                        <mat-label>
                          {{ 'language' | translate }}
                        </mat-label>
                        <mat-select matInput [formControlName]="'language'" #language>
                          <mat-option *ngFor="let lang of availableLanguages" [value]="lang">{{ lang | translate }}</mat-option>
                        </mat-select>
                        <button
                          mat-button
                          *ngIf="language.value && languageControl"
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          (click)="languageControl.setValue('')"
                        >
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="buttons">
              <me-button [dataModel]="cancelButton" (click)="cancel($event)" type="cancel" class="cancel">
                {{ 'cancel' | translate }}
              </me-button>
              <me-button [dataModel]="updateButton" type="submit" class="update" (clickEvent)="updateUserProfile()">{{
                'saveChanges' | translate
              }}</me-button>
            </div>
          </form>
        </div>
      </div>
    </mat-step>
    <mat-step #stepTwo>
      <ng-template matStepLabel>
        <span
          [ngClass]="{
            'step-label-heading': true,
            bold: true,
            'step-label-heading-active': stepper.selected === stepTwo
          }"
        >
          {{ i18nStrings.changePassword }}</span
        >
      </ng-template>
      <div *ngIf="passwordForm" class="stepper-container-wrapper box-sizing-border-box">
        <div class="stepper-container box-sizing-border-box">
          <div class="title">{{ 'changeYourPassword' | translate }}</div>
          <form [formGroup]="passwordForm" id="create-new-password-form" (ngSubmit)="changePassword()">
            <input hidden autocomplete="username" />

            <mat-form-field class="forgot-password-form-att" hideRequiredMarker="true">
              <mat-label>{{ 'oldPassword' | translate }}</mat-label>
              <input
                matInput
                formControlName="oldPassword"
                [type]="showPassword ? 'text' : 'password'"
                required
                autocomplete="old-password"
              />
            </mat-form-field>

            <mat-form-field class="create-new-password-att inline-icon" hideRequiredMarker="true">
              <mat-label>{{ 'newPassword' | translate }}</mat-label>
              <input
                matInput
                formControlName="newPassword"
                [type]="showPassword ? 'text' : 'password'"
                required
                (focus)="checkPasswordStrength()"
                (blur)="checkPasswordStrength()"
                autocomplete="new-password"
                #newPassword
              />
              <i-feather
                *ngIf="showPassword"
                name="eye-off"
                (click)="changeShowPasswordState()"
                matTooltip="{{ 'hidePassword' | translate }}"
                matTooltipPosition="above"
              ></i-feather>
              <i-feather
                *ngIf="!showPassword && newPassword.value"
                name="eye"
                (click)="changeShowPasswordState()"
                matTooltip="{{ 'showPassword' | translate }}"
                matTooltipPosition="above"
              ></i-feather>
              <div class="password-errors" *ngIf="checkPasswordStrengthOpen && newPasswordControl!.value">
                <span>{{ 'passwordValidation.title' | translate }}</span>

                <div class="password-error-row">
                  <i-feather
                    [ngClass]="{ error: newPasswordControl!.hasError('minlength'), success: !newPasswordControl!.hasError('minlength') }"
                    name="check-circle"
                  ></i-feather>
                  <span>{{ 'passwordValidation.charLong' | translate: { chars: 8 } }}</span>
                </div>

                <div class="password-error-row">
                  <i-feather
                    [ngClass]="{
                      error: newPasswordControl!.hasError('hasCapitalCase'),
                      success: !newPasswordControl!.hasError('hasCapitalCase')
                    }"
                    name="check-circle"
                  ></i-feather>
                  <span>{{ 'passwordValidation.oneUppercase' | translate }}</span>
                </div>

                <div class="password-error-row">
                  <i-feather
                    [ngClass]="{
                      error: newPasswordControl!.hasError('hasSmallCase'),
                      success: !newPasswordControl!.hasError('hasSmallCase')
                    }"
                    name="check-circle"
                  ></i-feather>
                  <span>{{ 'passwordValidation.oneLowercase' | translate }}</span>
                </div>

                <div class="password-error-row">
                  <i-feather
                    [ngClass]="{ error: newPasswordControl!.hasError('hasNumber'), success: !newPasswordControl!.hasError('hasNumber') }"
                    name="check-circle"
                  ></i-feather>
                  <span>{{ 'passwordValidation.oneNumber' | translate }}</span>
                </div>

                <div class="password-error-row">
                  <i-feather
                    [ngClass]="{
                      error: newPasswordControl!.hasError('hasSpecialCharacters'),
                      success: !newPasswordControl!.hasError('hasSpecialCharacters')
                    }"
                    name="check-circle"
                  ></i-feather>
                  <span>{{ 'passwordValidation.oneSymbol' | translate: { symbols: '!#$%&()@_.' } }}</span>
                </div>
              </div>
            </mat-form-field>

            <mat-form-field class="forgot-password-form-att" hideRequiredMarker="true">
              <mat-label>{{ 'confirmNewPassword' | translate }}</mat-label>
              <input
                matInput
                formControlName="confirmPassword"
                [type]="showPassword ? 'text' : 'password'"
                required
                autocomplete="new-password"
              />
            </mat-form-field>

            <mat-error
              *ngIf="newPasswordControl!.dirty && confirmPasswordControl!.dirty && passwordForm!.hasError('noPassswordMatch')"
              class="no-match"
            >
              {{ 'inputsDontMatch' | translate }}
            </mat-error>
            <button
              mat-raised-button
              [disabled]="!passwordForm.valid || changePasswordSent"
              color="primary"
              type="submit"
              class="create-new-password-button"
            >
              {{ 'saveChanges' | translate }}
            </button>
          </form>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
