.step-label-heading {
  display: block;
  color: var(--color-body-font);
  font-size: 14px;
  margin-bottom: 3px;
  margin-left: 10px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-label-heading-active {
  color: var(--color-primary);
}

.stepper-container-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-header-background);
  padding-bottom: 20px;

  .step-label-subheading {
    display: block;
    color: #9a9c9e;
    font-size: 12px;
    margin-left: 10px;
  }

  .stepper-container {
    max-width: 900px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .title {
      font-weight: 700;
      font-size: 1.71em;
      letter-spacing: 0.2px;
      margin: 40px 0;
    }

    .user-data {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 20px;

      .thumbnail-container {
        width: 240px;
        box-shadow: 0px 0px 2px var(--black-box-shadows), 0px 2px 3px var(--black-box-shadows);
        border-radius: 4px;
        padding: 8px;
        margin-right: 40px;
      }

      .inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 560px;

        .form-row {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-between;

          .form-field {
            width: calc(50% - 10px);

            mat-form-field {
              width: 100%;
            }
          }

          &.extended {
            .form-field {
              width: 100%;
            }
          }
        }
      }
    }

    .buttons {
      display: flex;
      width: 100%;
      justify-content: flex-end;

      .cancel {
        margin-right: 20px;
      }
    }

    .forgot-large {
      color: var(--color-main-darker);
      font-weight: bold;
      font-size: 2.86em;
      margin: 24px 0px 24px;
      line-height: 40px;
    }

    .forgot-small {
      font-size: 1em;
      color: var(--color-main);
      margin-bottom: 32px;
      text-align: center;
    }

    #create-new-password-form {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      min-height: 300px;

      .create-new-password-att {
        width: 100%;

        .password-errors {
          position: absolute;
          left: -11px;
          top: 46px;
          max-width: 250px;
          background-color: var(--color-white);
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 16px;
          font-size: 0.86em;
          color: var(--color-main);
          z-index: 999;
          -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);

          .password-error-row {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;
            align-items: center;

            i-feather {
              height: 20px;
              width: 20px;
              stroke-width: 1.5;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 4px;
            }
          }
        }

        .password-errors::after,
        .password-errors::before {
          top: -10px;
          border: solid transparent;
          content: ' ';
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }

        .password-errors::after {
          border-color: rgba(255, 255, 255, 0);
          border-bottom-color: var(--color-white);
          border-width: 12px;
          margin-top: -14px;
        }

        .password-errors::before {
          border-color: rgba(0, 0, 0, 0);
          border-bottom-color: var(--color-main-light);
          border-width: 12px;
          margin-top: -14px;
        }
      }

      .no-match {
        margin-bottom: 6px;
        font-size: 12px;
      }

      .create-new-password-button {
        width: 100%;
      }
    }

    .go-to-login-button {
      width: 100%;
    }
  }
}

// .create-new-password-section {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-bottom: auto;

// }
