<nv-paper-view>
  <label>Simple date-picker</label>
  <nv-datebox>
  </nv-datebox>
  <br>
  <br>
  <label>date-picker with time</label>
  <nv-datebox
    [withTime]="true"
  >
  </nv-datebox>
  <br>
  <br>
  <label>date-picker with 24th hour time</label>
  <nv-datebox
    [withTime]="true"
    [show24thHour]="true"
  >
  </nv-datebox>
  <br>
  <br>
  <label>date-picker with week day</label>
  <nv-datebox
    [withWeekDay]="true"
  >
  </nv-datebox>
  <br>
  <br>
  <label>date-picker with string as @Input</label>
  <nv-datebox
    [withWeekDay]="true"
    [withTime]="true"
    [dateString]="22.12.2016"
  >
  </nv-datebox>
</nv-paper-view>
