<nv-paper-view
  [routeBack]="!creationMode && routeBack"
  [customTitle]="creationMode ? (wording.general.create | translate) : title$ | async"
>
  <!-- Header -->
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <!-- Content -->
  <div class="form-wrap">
    <form
      #formElement
      [formGroup]="form"
      nz-form
      nzLayout='vertical'
      class="mainForm"
    >
      <div
        nz-row
        nzGutter="22"
      >
        <div
          nz-col
          nzSpan="12"
        >

          <nv-input-wrapper [label]="wording.general.shortName | translate">
            <input
              formControlName="shortName"
              type="text"
              [placeholder]="wording.general.shortName | translate"
              nz-input
            >
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.general.name | translate">
            <input
              formControlName="name"
              type="text"
              [placeholder]="wording.general.name | translate"
              nz-input
            >
          </nv-input-wrapper>
          <nv-country-autocomplete
            [form]="form"
            [withFlag]="true"
          ></nv-country-autocomplete>
          <nv-input-wrapper [label]="wording.accounting.unLoCode | translate">
            <input
              formControlName="unLoCode"
              type="text"
              [placeholder]="wording.accounting.unLoCode | translate"
              nz-input
            >
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.general.latitude | translate">
            <nv-decimal-input
              [decimalPlaces]="6"
              formControlName="cordsLat"
            ></nv-decimal-input>
          </nv-input-wrapper>
          <nv-input-wrapper [label]="wording.general.longitude | translate">
            <nv-decimal-input
              [decimalPlaces]="6"
              formControlName="cordsLong"
            ></nv-decimal-input>
          </nv-input-wrapper>

        </div>
      </div>
    </form>
  </div>
</nv-paper-view>