:host {
  flex: 1 1 auto;
  display: flex;
}

.mainForm {
  padding: 22px;
}

.paper {
  .header {
    padding: 10px;
    flex-direction: row;
    align-items: center;
  }

  .content {
    padding: 26px;
  }
}

.form-wrap {
  overflow: auto;
  form {
    min-width: 850px;
  }
}
