@import '../../../assets/less/variables.less';

.l-text-unit {
  //margin-right: 5px;

  &.highlight, &.highlightMatches {
    background: @text_hover_background_color;
    color: @text_hover_color;
    border-radius: @border-radius;
    padding-left: 5px;
    .transition;
  }

  &.highlightMatches {
    opacity: .7;
  }
}

