@import '../../../assets/less/_vars';


:host ::ng-deep {
  .l-over-data {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 75%);

    &.l-video,  &.l-card {
      background: transparent;

      .project,  .author{
        width: auto;
        //background: @toxic_b;
        margin-bottom: 1px;
      }
    }
  }

  .l-photo-info {
    color: @white;
    position: absolute;
    bottom: 0;
    left: 0;
    word-wrap: break-word;
    font-size: .8rem;
    opacity: .7;
    padding: 20px;

    a {
      color: @toxic;
    }

    &.video, &.card {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .l-item-wrapper {
    &.l-video, &.l-card {
      .l-over {
        min-height: 35px;
        height: auto;
      }
    }
  }

  .l-article-card {
    button {
      &.l-no-background {
        color: @white;
      }
    }
  }
}
