.vessels-list-wrap {
  .header {
    padding-bottom: 7px;
    .actions {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 1640px) {
        flex-direction: column;
        button {
          &:first-child {
            margin-bottom: 5px;
          }
        }
      }
    }

    .search-box {
      padding: 10px 0px;
    }
  }
  .vessels-list {
    .ant-list-item-meta {
      align-items: center;
    }
    .ant-list-item-meta-title {
      margin-bottom: 0px;
    }
  }
}

:host ::ng-deep {
  .vessels-list {
    .ant-list-item-meta {
      align-items: center;
    }
    .ant-list-item-meta-title {
      margin-bottom: 0px;
    }
    .vessel-name,
    .vessel-type {
      margin: 0px;
    }
    .vessel-name {
      text-transform: uppercase;
    }
    .vessel-type {
      text-transform: capitalize;
    }
  }
}

::ng-deep html[data-theme="dark"] {
  .vessels-list {
    .ant-list-item-meta-description {
      color: #fff;
    }
    li {
      border-bottom: 1px solid white;
    }
  }
}
