<div class="vessels-list-wrap">
  <div class="header">
    <div class="actions">
      <button nz-button nzType="primary" (click)="onAllSelected()">
        <i nz-icon nzType="check-square" nzTheme="outline"></i>
        {{ wording.general.selectAll | translate }}
      </button>

      <button nz-button nzType="default" (click)="onAllCleared()">
        {{ wording.general.clearAll | translate }}
        <i nz-icon nzType="close-circle" nzTheme="outline"></i>
      </button>
    </div>

    <div class="search-box">
      <nz-input-group nzAddOnAfterIcon="search">
        <input
          type="text"
          nz-input
          [(ngModel)]="searchInputValue"
          (keyup)="onSeach()"
        />
      </nz-input-group>
    </div>
  </div>

  <div class="vessels-list">
    <nz-list
      [nzDataSource]="vesselsViewList | async"
      [nzRenderItem]="v"
      [nzLoading]="isLoading$ | async"
      nzItemLayout="horizontal"
    >
      <ng-template #v let-v>
        <nz-list-item>
          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzDescription]="nzDescription"
            [nzAvatar]="checkbox"
          >
            <ng-template #nzTitle>
              <span>{{ v?.vesselNo }} </span>
            </ng-template>

            <ng-template #nzDescription>
              <p class="vessel-name">{{ v?.vesselName || v?.chartererName }}</p>
              <p class="vessel-type">{{ v?.vesselTypeDisplayValue }}</p>
            </ng-template>

            <ng-template #checkbox>
              <label
                *ngIf="v.id"
                nz-checkbox
                [(ngModel)]="checkedVessels[v.id]"
                (ngModelChange)="onVesselChecked()"
              >
              </label>
              <label
                *ngIf="v.chartererName"
                nz-checkbox
                [(ngModel)]="checkedCharters[v.chartererName]"
                (ngModelChange)="onCharterChecked()"
              >
              </label>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>
</div>
