<nv-paper-view
  [routeBack]="!creationMode && routeBack"
  [customTitle]="
    creationMode
      ? (wording.general.create | translate)
      : title$ | async
  "
>
  <!-- Header -->
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <!-- Content -->
  <div class="form-wrap">
    <form
      #formElement
      [formGroup]="form"
      nz-form
      nzLayout="vertical"
      class="padding-mid"
    >
      <nv-input-wrapper [label]="wording.general.nameEnglish | translate">
        <input
          formControlName="labelEn"
          type="text"
          [placeholder]="wording.general.nameEnglish | translate"
          nz-input
        />
      </nv-input-wrapper>

      <nv-input-wrapper [label]="wording.general.nameGerman | translate">
        <input
          formControlName="labelDe"
          type="text"
          [placeholder]="wording.general.nameGerman | translate"
          nz-input
        />
      </nv-input-wrapper>

      <nv-input-wrapper [label]="wording.general.code | translate">
        <input
          formControlName="code"
          type="text"
          [placeholder]="wording.general.code | translate"
          nz-input
        />
      </nv-input-wrapper>

      <div class="form-row-host">
        <label
          nz-checkbox
          formControlName="isActive"
        >
          {{ wording.general.active | translate }}
        </label>
      </div>
    </form>
  </div>
</nv-paper-view>