
:host {
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  overflow: hidden;
  .wrap {
    overflow: auto;
  }
}

.content {
  display: flex;
  height: 100%;
  flex-direction: row;
  padding: 10px;
  overflow: hidden;
  .section {
    border-top: 1px solid #e8e8e8;
    padding-top: 16px;
    margin-top: 6px;
  }

  .intervalDetails {
    min-width: min-content;
    min-height: min-content;
    padding: 12px;
    margin-left: 6px;
    padding-top: 2px;
    display: flex;
    flex-direction: column;

    .actionBar{
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .deleteButton{
        margin-left: 4px;
      }
    }

    .form-wrapper {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      form {
        padding: 10px;
        overflow: auto;
      }
    }
  }
}



nz-input-number {
  width: 100%;
}

.insolvency-administrator {
  height: 100px;
}

