<div class="wrap">
  <div class="content">
    <nv-interval-list
      [intervalItems]="accountings"
      [selectedId]="selectedAccounting && selectedAccounting.id"
      [disabled]="inEditMode"
      [withCreateOption]="authService.canCreate(zone)"
      [creationMode]="inCreationMode"
      (select)="intervalClicked($event)"
      (create)="addIntervalClicked()"
    >
    </nv-interval-list>
    <div class="intervalDetails">
      <div class="actionBar">
        <nv-detail-view-actions
          *ngIf="selectedAccounting"
          [inEditingMode]="inEditMode"
          [editDisabled]="!selectedAccounting?.id"
          (editClicked)="enterEditMode()"
          (cancelClicked)="cancelEditing()"
          (saveClicked)="saveClicked()"
          [form]="form"
          [formElement]="formElement"
        >
        </nv-detail-view-actions>
        <!-- TODO: Enable once backend has DELETE ready -->
        <!-- <button
            nz-button
            class="deleteButton"
            (click)="deleteClicked()"
            [disabled]="!accountings.length"
          ><i nz-icon nzType="delete" nzTheme="outline"></i>
        </button> -->
      </div>
      <div
        class="form-wrapper"
        *ngIf="form"
      >
        <form
          nvSpyElement
          (initialized)="formInitialized($event)"
          [formGroup]="form"
          class="form-group"
          nz-form
          nzLayout="vertical"
        >
          <div
            nz-row
            nzGutter="14"
          >
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper
                class="date-picker"
                [label]="wording.general.from | translate"
              >
                <nv-datebox
                  formControlName="from"
                  [withTime]="true"
                >
                </nv-datebox>
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper
                class="date-picker"
                [label]="wording.general.until | translate | lowercase"
              >
                <nv-datebox
                  formControlName="until"
                  [withTime]="true"
                >
                </nv-datebox>
              </nv-input-wrapper>
            </div>
          </div>
          <div
            nz-row
            nzGutter="14"
          >
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.endOfTermReason | translate">
                <nz-select
                  formControlName="endOfTermReason"
                  nzAllowClear
                  nzShowSearch
                >
                  <nz-option
                    *ngFor="let reason of endOfTermReasons"
                    [nzLabel]="reason.displayLabel | translate"
                    [nzValue]="reason.value"
                    nzCustomContent
                  >
                    <div [attr.data-vessel-type-option]="reason.displayLabel.en">
                      {{ reason.displayLabel | translate }}
                    </div>
                  </nz-option>
                </nz-select>
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.bareboatCompany | translate">
                <nv-autocomplete
                  [resource]="debitorsCreditors$ | async"
                  [title]="wording.chartering.bareboatCompany | translate"
                  [modalGridConfig]="debitorsCreditorsGridConfig"
                  [properities]="['companyName']"
                  formControlName="bareboatCompanyId"
                  [setNullIfNotFound]="true"
                >
                </nv-autocomplete>
              </nv-input-wrapper>
            </div>
          </div>
          <div
            nz-row
            nzGutter="14"
          >
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.vesselNo | translate">
                <div
                  nz-tooltip
                  [nzTooltipTitle]="vesselNoDisabled && (wording.chartering.vesselNoDisabledPopup | translate)"
                >
                  <input
                    formControlName="vesselNo"
                    type="text"
                    nz-input
                  />
                </div>
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.commercialManager | translate">
                <nv-autocomplete
                  [resource]="debitorsCreditors$ | async"
                  [title]="wording.chartering.commercialManager | translate"
                  [modalGridConfig]="debitorsCreditorsGridConfig"
                  [properities]="['companyName']"
                  formControlName="commercialManagerId"
                  [setNullIfNotFound]="true"
                >
                </nv-autocomplete>
              </nv-input-wrapper>
            </div>
          </div>
          <div
            nz-row
            nzGutter="14"
          >
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.vesselName | translate">
                <div
                  nz-tooltip
                  [nzTooltipTitle]="vesselNameDisabled && (wording.chartering.vesselNameDisabledPopup | translate)"
                >
                  <input
                    formControlName="vesselName"
                    type="text"
                    nz-input
                  />
                </div>
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.technicalManager | translate">
                <nv-autocomplete
                  [resource]="debitorsCreditors$ | async"
                  [title]="wording.chartering.technicalManager | translate"
                  [modalGridConfig]="debitorsCreditorsGridConfig"
                  [properities]="['companyName']"
                  formControlName="technicalManagerId"
                  [setNullIfNotFound]="true"
                >
                </nv-autocomplete>
              </nv-input-wrapper>
            </div>
          </div>
          <div
            nz-row
            nzGutter="14"
          >
            <div
              nz-col
              nzSpan="12"
            >
              <nv-mandator-autocomplete
                [form]="form"
                [filters]="mandatorsFilter"
                [label]="wording.chartering.accountingMandator"
              >
              </nv-mandator-autocomplete>
            </div>
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.crewingCompany | translate">
                <nv-autocomplete
                  [resource]="debitorsCreditors$ | async"
                  [title]="wording.chartering.crewingCompany | translate"
                  [modalGridConfig]="debitorsCreditorsGridConfig"
                  [properities]="['companyName']"
                  formControlName="crewingCompanyId"
                  [setNullIfNotFound]="true"
                >
                </nv-autocomplete>
              </nv-input-wrapper>
            </div>
          </div>
          <div
            nz-row
            nzGutter="14"
          >
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.owningCompany | translate">
                <nv-autocomplete
                  [resource]="debitorsCreditors$ | async"
                  [title]="wording.chartering.owningCompany | translate"
                  [modalGridConfig]="debitorsCreditorsGridConfig"
                  [properities]="['companyName']"
                  formControlName="owningCompanyId"
                  [setNullIfNotFound]="true"
                >
                </nv-autocomplete>
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="
                  wording.chartering.owningCompanyForBookkeepingPurposes
                    | translate
                ">
                <nv-autocomplete
                  [resource]="debitorsCreditors$ | async"
                  [title]="
                    wording.chartering.owningCompanyForBookkeepingPurposes
                      | translate
                  "
                  [modalGridConfig]="debitorsCreditorsGridConfig"
                  [properities]="['companyName']"
                  formControlName="bookkeepingCompanyId"
                  [setNullIfNotFound]="true"
                >
                </nv-autocomplete>
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.insolvencyAdministrator | translate">
                <textarea
                  class="insolvency-administrator"
                  rows="4"
                  nz-input
                  formControlName="insolvencyAdministrator"
                ></textarea>
              </nv-input-wrapper>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
