:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-bottom: 0px;
    white-space: nowrap;
  }
}

.dropdown-label-content{
  display: flex;
  align-items: center;
  color: white;

  .user-avatar{
    width: 30px;
    height: 30px;
    margin-right: 4px;
    border-radius: 52px;
    overflow: hidden;

    .mini-avatar{
      height: 100%;
      width: 100%;
    }
  }

  .anticon{
    margin-top: 4px;
    margin-left: 2px;
  }
}
