<a
  class='dropdown-label-content'
  nz-dropdown
  [nzTrigger]="'click'"
  [nzPlacement]="'bottomRight'"
  [nzDropdownMenu]="menu"
>
  <div class='fb e2e-user-avatar user-avatar'>
    <img
      class='mini-avatar'
      [src]="user.avatar?.location.href || 'assets/no-user-avatar.png'"
    >
  </div>
  <i
    nz-icon
    nzType="down"
  ></i>
</a>
<p>{{ user.firstName }} {{ user.lastName }}</p>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>
      <a
        class="fb link"
        [routerLink]="url(sitemap.main.children.settings.children.accountSettings)"
        [attr.data-topbar-dropdown-option]="sitemap.main.children.settings.children.accountSettings.title.en"
      >
        {{ sitemap.main.children.settings.children.accountSettings.title | translate }}
      </a>
    </li>
    <li
      nz-menu-item
      (click)="showVersionInfo()"
    >
    {{ wording.general.about | translate }}
    </li>
    <li nz-menu-divider></li>
    <li
      [attr.data-logout-btn]="'logout-btn'"
      nz-menu-item
      (click)="logout.emit()"
    >
    {{ wording.general.signOut | translate }}
    </li>
  </ul>
</nz-dropdown-menu>
