<form [formGroup]="form"
      class="form-wrapper"
      [ngClass]="{'readonly': readOnly}"
      nz-form nzLayout="vertical">
  <div class="title">
    {{ wording.chartering.typeOfRegistration | translate }}
  </div>
  <nz-radio-group formControlName="type" nzName="radiogroup">
    <label nz-radio [nzValue]="RegistrationTypes.Bareboat">
      {{ wording.chartering.bareboat | translate }}
    </label>
    <label nz-radio [nzValue]="RegistrationTypes.Permanent">
      {{ wording.chartering.permanent | translate }}
    </label>
  </nz-radio-group>
</form>
