:host ::ng-deep{

  .readonly {
    nz-radio-group {
      cursor: not-allowed;
    }
    label {
      pointer-events: none;
      color: rgba(0, 0, 0, 0.25);
      cursor: not-allowed;
    }

    .ant-radio {
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.25);
    }

    .ant-radio-inner {
      background-color: #f5f5f5;
      border-color: rgba(0, 0, 0, 0.25);

      &:after {
        border-color: rgba(0, 0, 0, 0.25);
        background: rgba(0, 0, 0, 0.25);
      }
    }
  }
}
