<div
  class="upload-container box-sizing-border-box"
  meDragDrop
  (fileDropped)="handleFileInput($event)"
  *ngIf="uploadData"
  (click)="fileInput.click()"
>
  <ng-container *ngIf="!uploadData.fileName; else succesUploadedFile">
    <i-feather [class.danger]="uploadData.isStatusInvalid" name="upload"></i-feather>
    <span [class.danger]="uploadData.isStatusInvalid" class="desc-filename">Drop the File here, or Upload </span>
    <span *ngIf="uploadData.supportedFiles" [class.danger]="uploadData.isStatusInvalid" class="supported">
      Files supported: {{ uploadData.supportedFiles }}
    </span>
    <span *ngIf="uploadData.maxUploadSize" [class.danger]="uploadData.isStatusInvalid" class="size">
      Max size {{ uploadData.maxUploadSize }}</span
    >
  </ng-container>
  <ng-template #succesUploadedFile>
    <i-feather name="file"></i-feather>
    <span class="desc-filename">{{ uploadData.fileName }}</span>
    <span class="supported"> Drop or Upload file to update</span>
  </ng-template>

  <input
    hidden
    (change)="handleFileInput($event)"
    #fileInput
    type="file"
    id="file"
    class="droparea"
    accept="{{ uploadData.acceptFileExtensions }}"
  />

  <ng-container *ngIf="uploadData.showProgress && fileToUpload">
    <div class="progress-bar">
      <mat-progress-bar mode="determinate" value="{{ uploadData.percentageDone }}"></mat-progress-bar>
    </div>
  </ng-container>
</div>
