.upload-container {
  border: 1px dashed var(--color-main-light);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;

  .supported {
    color: var(--color-main-light);
    font-size: 12px;
    font-weight: 600;
  }

  .size {
    color: var(--color-main);
    font-size: 8px;
    font-weight: 600;
  }

  .desc-filename {
    color: var(--color-main-darker);
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
  }

  .danger {
    color: var(--color-danger);
    font-weight: bold;
  }

  .progress-bar {
    width: 200px;
    height: auto;
    display: flex;
    justify-items: center;
    align-items: center;
  }
}
