@import 'src/app/core/styles/_mixins';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  @include setScrollBar();
}

.title {
  font-size: 28px;
}

.grids-row {
  display: flex;
  flex: 1;

  nv-grid {
    width: fit-content;
    height: fit-content;
    box-shadow: none;
    max-height: 600px;
  }
}

.mandators-grid {
  margin-right: 50px;
}
