@import "./app/core/styles/index.scss";
@import url("https://fonts.googleapis.com/css?family=Exo+2:300,400,400i,700,900");
@import "./dark-styles/dark-styles.scss";

$boldRed: #c44747;
$lightRed: #d1706d;
$extraLightRed: #fff0f0;
$lightGrey: #d9d9d9;

@mixin no-focus-btns {
  &:focus {
    color: rgba(0, 0, 0, 0.65);
    border: 1px solid $lightGrey;

    &:hover {
      color: $lightRed;
      border-color: $lightRed;
    }
  }
}

@mixin no-focus-btns-editMode {
  &:focus {
    background-color: #FFF;
    border-color: #FFF;

    &:hover {
      background-color: $extraLightRed;
      border-color: $extraLightRed;
    }
  }
}

@mixin no-focus-btns-primary {
  &:focus {
    background-color: $boldRed;

    &:hover {
      background-color: $lightRed;
    }
  }
}

body {
  background: #efefef;

  .cdk-overlay-container {
    z-index: 10000;
  }

  .pre-line {
    white-space: pre-line;
  }
}

.flex,
.fb {
  display: flex;
  // flex: 0 0 auto;
  flex-direction: column;
}

.layout {
  background: #e9e9e9;
}

.fb-row {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
}

.fb-col {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
}

.padding-mid {
  padding: 22px;
}

:focus {
  outline: none !important;
}

// NG-ZORRO FormFields ////////////////
// Following rules override the ng-zorro form field in the whole project
// because disabled-form-fields are used to read data and for that
// readability needs to be ensured, with stronger font-color contrast.

.ant-select-disabled {
  color: rgb(86, 86, 86);
}

.ant-checkbox-disabled + span {
  color: rgb(86, 86, 86);
  cursor: auto;
}

.ant-input[disabled] {
  color: rgb(86, 86, 86);
}

.ant-input-disabled {
  color: rgb(86, 86, 86);
}

.ant-modal {
  .ant-modal-header {
    padding-right: 48px;
  }
}

input[type="text"]:disabled,
input[type="number"]:disabled {
  border: 1px solid gainsboro;
  background: #f3f3f3;
  color: rgb(86, 86, 86);

  &::placeholder {
    color: rgba(0, 0, 0, 0); // to hide the placeholder when disabled
  }
}

.ant-form-vertical .ant-form-item {
  padding-bottom: 8px;
}

.input-container {
  nz-input-group:focus-within {
    background: #ecf7ff;
    .ant-input {
      &:focus {
        background: #ecf7ff;
      }
    }
  }
}

// NG-ZORRO FormFields END ////////////////

.main-content {
  > :not(router-outlet) {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
  }

  .nv-paper {
    position: relative;
  }
}

.ant-dropdown {
  position: unset !important;
}

.grid-wrapper,
.nv-toolbar,
nz-list {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    opacity: 1;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    opacity: 1;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $primary;
    transition: background-color 0.3s;
  }

  .ant-progress {
    line-height: unset !important;
  }
}

nz-year-picker {
  nz-picker {
    width: 100%;

    .ant-calendar-picker {
      width: 100%;
    }
  }
}

//NG ZORRO Modal
.ant-modal {
  top: 0px;
  padding: 30px;
  height: 100%;
}

.ant-modal-content {
  max-width: 100%;
  max-height: 100%;
  height: auto !important;
}

.ant-modal-content,
.ant-modal-body,
.ant-modal-confirm-body-wrapper,
.ant-modal-confirm-content,
.ant-modal-confirm-body {
  height: 100%;
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.ant-modal-confirm-content {
  overflow: auto;
}

.ant-modal-confirm-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ant-modal-confirm-body i {
  position: absolute;
  width: fit-content;
}

.ant-modal-confirm-title {
  display: contents !important;
}

.ant-modal-confirm-title span {
  margin-left: 38px;
}

/** This line will be removed after nv-grid gets update
  * in the next version. This line must be added
  * somewhere in order to get the wrapper to scroll in the nv-grid
  */
nv-grid {
  overflow: auto !important;
    .ant-btn {
      @include no-focus-btns;
    }
}

button.nv-no-focus {
  @include no-focus-btns;
}

button.nv-no-focus-primary {
  @include no-focus-btns-primary;
}

.nv-hide {
  display: none !important;
}

.uppercase {
  text-transform: uppercase;
}

.ant-fullcalendar-value {
  color: #c44747;
}

.uppercase {
  text-transform: uppercase;
}

.ant-modal-body nv-grid {
  min-height: 450px;
  height: 450px;
  max-height: 600px;
  margin: 20px 5px;
}

.no-label .label-wrap {
  visibility: hidden;
}

.ant-row {
  display: flex;
  position: relative;
  height: auto;
  margin-right: 0;
  margin-left: 0;
  zoom: 1;
  box-sizing: border-box;
}

nv-autocomplete,
nv-datebox,
nv-radio-select {
  nz-input-group {
    input {
      &:disabled {
        border: none !important;
      }
      border: none !important;
    }
  }
}

/**
 * to hide and fix google-maps popup issue
 */
body > .pac-container {
  display: none;
}