<div class="l-form-container">
  <div class="l-form-filed-container"
       *ngFor="let field of fieldsConfig">
      <lavash-form-field [field]="field"
                         [fieldDataObject]="formData"
                         (typedDataEvent)="onTypedDataEvent($event, field)">
      </lavash-form-field>
  </div>

  <div class="cta">
      <lavash-button [text]="submitBtnText"
                     (clickEvent)="onSubmit($event)">
      </lavash-button>
  </div>

  <div class="l-form-msg">
      <lavash-msg *ngIf="showFormMsg"
                  [message]="formMsg"
                  [messageType]="formMsgType">
      </lavash-msg>
  </div>
</div>
