.materials-container {
  width: 100%;
  height: 100%;
  display: flex;

  .advanced-filter {
    margin: 20px;
    height: fit-content;

    .filter-section-title {
      margin: 10px 0;
      font-weight: 600;
    }

    .filter-field {
      margin-left: -10px;
      margin-right: 10px;
    }

    .material-type-grid {
      width: 100%;
      height: fit-content;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      grid-gap: 10px;
    }
  }

  .materials-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
      height: 53px;
      border-bottom: 1px solid var(--color-main-lighter);
    }

    .my-materials-container {
      height: 100%;
      width: 100%;
      overflow-y: scroll;
      padding: 20px;
      background-color: var(--color-white, #ffffff);

      .grid-container {
        --column-min-width: 260px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 0 3px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--column-min-width), 1fr));
        grid-gap: 20px;
        justify-content: space-between;
      }
    }
  }
}

.empty-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
}
