<me-introduction-message [dataModel]="introMsgData" (btnEvent)="btnEventHandler()"></me-introduction-message>
<div class="materials-container">
  <me-advanced-filter *ngIf="advancedFilter" [dataModel]="advancedFilter" (eventOccurs)="handleAdvancedFilterEvent($event)">
    <div class="advanced-filter box-sizing-border-box">
      <div class="filter-section-title">{{ this.i18nStrings.materialVisibility }}</div>
      <div *ngIf="materialStatesAttribute" class="filter-field box-sizing-border-box">
        <me-attribute [attributeItem]="materialStatesAttribute"></me-attribute>
      </div>
      <div class="filter-section-title">{{ this.i18nStrings.materialType }}</div>
      <div class="material-type-grid">
        <me-material-type-card
          *ngFor="let card of materialTypeCards; let cardIndex = index; trackBy: trackByType"
          [dataModel]="card"
          (clickEvent)="handleToggleTypeSelection(cardIndex)"
        ></me-material-type-card>
      </div>
    </div>
  </me-advanced-filter>
  <div
    class="materials-content box-sizing-border-box"
    *ngIf="materialCardItems.length !== 0 || areMaterialsLoading || isSearch; else noMaterialsTemplate"
  >
    <div class="header">
      <me-search-bar
        [dataModel]="searchBarData"
        (searchInput)="handleSearch($event)"
        (sortBy)="handleSortByEvent($event)"
        (toggleSelect)="handleToggleSelectEvent()"
        (searchBarActions)="handleSearchBarEvents($event)"
      ></me-search-bar>
    </div>
    <div meScrollToBottom (bottomReached)="bottomReachedHandler()" class="my-materials-container box-sizing-border-box">
      <div class="grid-container" *ngIf="materialCardItems.length !== 0 || areMaterialsLoading; else zeroMaterialsTemplate">
        <me-material-card
          *ngFor="let cardItem of materialCardItems; let cardIndex = index; trackBy: getCardOid"
          [dataModel]="cardItem"
          (click)="materialCRUD && handleItemClick(cardItem, cardIndex)"
          (eventOccurs)="customEvent($event.eventName, $event.payload, cardItem)"
        ></me-material-card>
      </div>
      <ng-template #zeroMaterialsTemplate> THERE ARE NO MATERIALS </ng-template>
    </div>
  </div>
</div>

<ng-template #noMaterialsTemplate>
  <me-empty-content class="empty-container" [dataModel]="emptyContent" (clicked)="handleAddButtonClick()"> </me-empty-content>
</ng-template>

<ng-template #createButton>
  {{ i18nStrings.create }}
  <i-feather name="plus"></i-feather>
</ng-template>

<ng-template #collectionsPopupGrid>
  <ng-container *ngIf="collectionCardItems.length !== 0 || areCollectionsLoading || collectionsIsSearch; else noCollectionTemplate">
    <div class="header-container">
      <me-search-bar
        [dataModel]="collectionsSearchBarData"
        (searchInput)="collectionsHandleSearch($event)"
        (sortBy)="handleSortByEvent($event)"
        (searchBarActions)="handleSearchBarEvents($event)"
      ></me-search-bar>
    </div>
    <div meScrollToBottom (bottomReached)="bottomReachedHandler()" class="collection-container box-sizing-border-box">
      <div
        class="collection-grid"
        [meComponentLoading]="areCollectionsLoading"
        *ngIf="collectionCardItems.length !== 0 || areCollectionsLoading; else zeroCollectionsTemplate"
      >
        <me-new-collection-card
          *ngFor="let item of collectionCardItems; let index = index; trackBy: getCardOid"
          [dataModel]="item"
          (click)="handleItemClick(item, index)"
        >
        </me-new-collection-card>
      </div>
      <ng-template #zeroCollectionsTemplate> THERE ARE NO COLLECTIONS </ng-template>
    </div>
  </ng-container>
  <ng-template #noCollectionTemplate>
    <me-empty-content [dataModel]="collectionsEmptyContent" (clicked)="handleAddButtonClick()"> </me-empty-content>
  </ng-template>
</ng-template>
