<div class="main">
  <div class='fb'>
    <nv-grid
      [gridConfig]="gridConfig"
      [dataSource$]="dataSource$"
      (rowSelectionChanged)="rowSelect($event)"
    ></nv-grid>
  </div>
  <div>
    <div class="fb footer">
      <button
        nz-button
        nzType="primary"
        class="footer-button save-button"
        (click)="add()"
        [disabled]="selectedArticles.length === 0"
      >
        {{ wording.general.add | translate  }}
      </button>
    </div>
  </div>
</div>

