@import '../../../core/styles/variables';
@import '../../../core/styles/mixins';

:host {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  width: fit-content;
  height: 100%;
  min-height: 300px;
  border-right: 1px solid $primary;
  overflow-y: auto;
  @include setScrollBar(5px);

  &.disabled {
    color: #969696;
    pointer-events: none;
  }
}

.content-wrapper:not(:empty) + .no-content {
  display: none;
}
.no-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}