<div class="component-wraper">
  <div class="action-bar">
    <nv-detail-view-actions
      [inEditingMode]="editMode"
      (editClicked)="enterEditMode()"
      (cancelClicked)="cancelEditing()"
      (saveClicked)="submit()"
      [form]="form"
      [formElement]="formElement"
      style="margin-left: auto;"
    >
    </nv-detail-view-actions>
  </div>

  <div
    class="nv-content flex content form-wrapper"
    *ngIf="form"
  >
    <form
      nvSpyElement
      (initialized)="formInitialized($event)"
      [formGroup]="form"
      nz-form
      nzLayout="vertical"
    >
      <div
        nz-row
        class="section"
      >
        <div
          nz-col
          nzSpan="24"
        >
          <nv-fieldset [label]="wording.system.conditions | translate">
            <div class="is-acitve-checkbox">
              <label
                nz-checkbox
                formControlName="isActivated"
                data-checkbox="isActive"
              >
                {{ wording.system.dunningIsActivated | translate }}
              </label>
            </div>

            <div class="wrap">
              <label [innerText]="
                  wording.system.dunningLevelNAfter
                    | translate
                    | textReplace: '{LEVEL_INDEX}':'1'
                "></label>

              <div class="input-and-days">
                <nv-input-wrapper
                  [showErrMessages]="false"
                  [showLabel]="false"
                  [label]="
                    wording.system.dunningLevelNAfter
                      | translate
                      | textReplace: '{LEVEL_INDEX}':'1'
                  "
                >
                  <input
                    formControlName="daysLevel1"
                    nz-input
                  />
                </nv-input-wrapper>
                <label class="post-label">{{
                  wording.general.days | translate
                }}</label>
              </div>
            </div>

            <div class="wrap">
              <label [innerText]="
                  wording.system.dunningLevelNAfter
                    | translate
                    | textReplace: '{LEVEL_INDEX}':'2'
                "></label>

              <div class="input-and-days">
                <nv-input-wrapper
                  [showErrMessages]="false"
                  [showLabel]="false"
                  [label]="
                    wording.system.dunningLevelNAfter
                      | translate
                      | textReplace: '{LEVEL_INDEX}':'2'
                  "
                >
                  <input
                    formControlName="daysLevel2"
                    nz-input
                  />
                </nv-input-wrapper>
                <label class="post-label">{{
                  wording.general.days | translate
                }}</label>
              </div>
            </div>

            <div class="wrap">
              <label [innerText]="
                  wording.system.dunningLevelNAfter
                    | translate
                    | textReplace: '{LEVEL_INDEX}':'3'
                "></label>
              <div class="input-and-days">
                <nv-input-wrapper
                  [showErrMessages]="false"
                  [showLabel]="false"
                  [label]="
                    wording.system.dunningLevelNAfter
                      | translate
                      | textReplace: '{LEVEL_INDEX}':'3'
                  "
                >
                  <input
                    formControlName="daysLevel3"
                    nz-input
                  />
                </nv-input-wrapper>
                <label class="post-label">{{
                  wording.general.days | translate
                }}</label>
              </div>
            </div>

            <div class="wrap">
              <label [innerText]="
                  wording.system.collectionProcedureAfter | translate
                "></label>
              <div class="input-and-days">
                <nv-input-wrapper
                  [showErrMessages]="false"
                  [showLabel]="false"
                >
                  <input
                    formControlName="daysCollectionProcedure"
                    nz-input
                  />
                </nv-input-wrapper>
                <label class="post-label">{{
                  wording.general.days | translate
                }}</label>
              </div>
            </div>

            <p
              *ngIf="form.getError(dunningLevelErrorKey)"
              class="dunning-level-error-message"
            >
              {{ form.getError(dunningLevelErrorKey).message | translate }}
            </p>

            <div class="dunning-lateFee-wrap">
              <nv-input-wrapper
                [label]="wording.system.lateFee | translate"
                [showErrMessages]="false"
                className="dunning-lateFee"
              >
                <nv-decimal-input
                  formControlName="lateFee"
                  [decimalPlaces]="2"
                >
                </nv-decimal-input>
              </nv-input-wrapper>
              <nv-input-wrapper
                className="iso-code"
                [showErrMessages]="false"
                [label]="wording.accounting.isoCode | translate"
              >
                <nv-autocomplete
                  [resource]="currencies"
                  [properities]="['isoCode']"
                  formControlName="currencyId"
                  [modalGridConfig]="gridConfig"
                  [title]="wording.accounting.isoCode"
                  [setNullIfNotFound]="true"
                ></nv-autocomplete>
              </nv-input-wrapper>
            </div>
          </nv-fieldset>
        </div>
      </div>
    </form>
  </div>
</div>