:host ::ng-deep, .component-wraper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .form-item {
    display: flex;
    align-items: center;
  }
  .label-wrap {
    margin-right: 5px;
  }

  .is-acitve-checkbox {
    margin-bottom: 25px;
  }

  nz-form-control {
    width: 95px;
  }
  .wrap {
    display: flex;
    justify-content: space-between;
    width: 305px;
  }

  label {
    font-size: 12px;
    color: grey;
    text-align: left;
    padding-left: 5px;
    margin-top: 3px;
    text-transform: uppercase;
  }
  .post-label {
    text-transform: initial;
  }

  .input-and-days, .dunning-lateFee-wrap, form {
    display: flex;
  }
  .dunning-lateFee-wrap {
    .dunning-lateFee {
      margin-right: 3px;
      nz-form-item {
        flex-direction: row;
      }
    }
    nz-select {
      padding-left: 10px;
      min-width: 90px;
    }
  }
  .dunning-level-error-message {
    max-width: 300px;
    color: #c44747;
    padding-left: 5px;
  }
  .section {
    min-width: 500px;
  }
  .iso-code {
    nz-form-item {
      flex-direction: column;
    }
  }
  .dunning-lateFee {
    display: flex;
    align-items: center;
    margin-top: 22px;
  }
  .form-wrapper {
    overflow: auto;
  }
}
