<div class="content">
  <div class="info-container">
    <div class="title">{{ dataModel.title }}</div>
    <div class="comment">
      {{ dataModel.comment }}
    </div>
    <div class="button">
      <me-button [dataModel]="addButton" (clickEvent)="clickEventHandeler()">
        <me-icons name="plus"></me-icons>
        {{ dataModel.buttonText }}
      </me-button>
    </div>
  </div>
  <div class="icon-container">
    <me-icons class="icon" [name]="dataModel.emptyIconName"></me-icons>
  </div>
</div>
