.content {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--color-white);

  .info-container {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 30%;
    text-align: center;

    .title {
      max-width: 40%;
      font-weight: 700;
      font-size: 1.71em;
      margin-bottom: 1%;
    }

    .comment {
      max-width: 40%;
      font-weight: 400;
      font-size: 1em;
      margin-bottom: 2%;
    }
  }

  .icon-container {
    height: 50%;
    width: 100%;
    position: relative;
    top: 25%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .icon {
      width: 70%;
      height: 70%;
    }
  }
}
