<div *ngIf="graphics"
              (click)="onGraphicClick($event)">
    <lavash-image *ngIf="validationService.validationRules.fileFormatImage(graphics)"
                  [src]="graphics"
                  [alt]="'l-builder-wrapper-image'">
    </lavash-image>

    <lavash-icon  *ngIf="!validationService.validationRules.fileFormatImage(graphics)"
                  [iconClassName]="graphics">
    </lavash-icon>
</div>