@import '../../../assets/less/variables.less';

lavash-image, lavash-icon {
  overflow: hidden;
  width: @height_sm;
  height: @height_sm;
  padding: @padding_sm;
  .flex;
  .center-top;
  .center-left;
}

i{
  font-size: 1rem;
  width: @height_sm;
}

img {
  display: block;
  height: 100%;
}
