@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nuogfw');
  src:  url('fonts/icomoon.eot?nuogfw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nuogfw') format('truetype'),
    url('fonts/icomoon.woff?nuogfw') format('woff'),
    url('fonts/icomoon.svg?nuogfw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


