@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nuogfw');
  src:  url('fonts/icomoon.eot?nuogfw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nuogfw') format('truetype'),
    url('fonts/icomoon.woff?nuogfw') format('woff'),
    url('fonts/icomoon.svg?nuogfw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e90b";
}
.icon-add:before {
  content: "\e900";
}
.icon-folder:before {
  content: "\e901";
}
.icon-folder_noBg:before {
  content: "\e902";
}
.icon-list:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-trash:before {
  content: "\e905";
}
.icon-remove:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-arrow_right:before {
  content: "\e908";
}
.icon-arrow_left:before {
  content: "\e909";
}
.icon-arrow-fill:before {
  content: "\e90a";
}
.icon-minus:before {
  content: "\e90d";
}
.icon-expand:before {
  content: "\e90c";
}
.icon-file-unknown:before {
  content: "\e925";
}
.icon-file-txt:before {
  content: "\e926";
}
.icon-cancel:before {
  content: "\ea0d";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-doc:before {
  content: "\eae1";
}
.icon-file-csv:before {
  content: "\eae2";
}
