
:host {
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  overflow: hidden;
  .content-wrap {
    overflow: auto;
  }
}

.content {
  display: flex;
  height: 100%;
  flex-direction: row;
  padding: 10px;
  overflow: hidden;

  .section {
    border-top: 1px solid #e8e8e8;
    padding-top: 16px;
    margin-top: 6px;
  }

  .intervalDetails {
    min-width: min-content;
    min-height: min-content;
    padding: 12px;
    margin-left: 6px;
    padding-top: 2px;
    display: flex;
    flex-direction: column;

    .actionBar{
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .delete-button {
        margin-right: 4px;
      }
    }

    .form-wrapper {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      form {
        padding: 10px 13px;
        overflow: auto;
      }
    }
  }
}

:host ::ng-deep .checkbox-label span {
  font-size: 12px;
  color: grey;
  text-align: left;
  padding-left: 2px;
  text-transform: uppercase;
  line-height: 20px;
}

:host ::ng-deep .checkbox-container {
  padding-top: 25px;
}

.booking-account-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  nv-input-wrapper {
    flex-grow: 1;
  }
  button {
    margin-left: 4px;
    top: 2px;
  }
}
