<div class="content-wrap">
  <div class="content">
    <nv-interval-list
      [intervalItems]="commissions"
      [selectedId]="selectedCommission && selectedCommission.id"
      [disabled]="inEditMode"
      [withCreateOption]="authService.canCreate(zone)"
      [creationMode]="inCreationMode"
      (select)="intervalClicked($event)"
      (create)="addIntervalClicked()"
    >
    </nv-interval-list>
    <div class="intervalDetails">
      <div class="actionBar">
        <button
          *ngIf="selectedCommission?.id"
          nz-button
          nzType="dashed"
          class="btn delete-button"
          (click)="deleteClicked()"
          data-crud-action-button="delete"
        >
          {{ wording.general.delete | translate }}
        </button>
        <nv-detail-view-actions
          *ngIf="selectedCommission"
          [inEditingMode]="inEditMode"
          [editDisabled]="!selectedCommission?.id"
          (editClicked)="enterEditMode()"
          (cancelClicked)="cancelEditing()"
          (saveClicked)="saveClicked()"
          [formGroup]="form"
          [formElement]="formElement"
        ></nv-detail-view-actions>
      </div>
      <div
        class="form-wrapper"
        *ngIf="form"
      >
        <form
          nvSpyElement
          (initialized)="formInitialized($event)"
          [formGroup]="form"
          class="form-wrapper"
          nz-form
          nzLayout="vertical"
        >
          <div
            nz-row
            nzGutter="22"
          >
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.general.from | translate">
                <nv-datebox
                  formControlName="from"
                  [withTime]="true"
                >
                </nv-datebox>
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.general.until | translate">
                <nv-datebox
                  formControlName="until"
                  [withTime]="true"
                >
                </nv-datebox>
              </nv-input-wrapper>
            </div>
          </div>
          <div
            nz-row
            nzGutter="22"
          >
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.commissionType | translate">
                <nv-autocomplete
                  [resource]="commissionTypes$ | async"
                  [title]="wording.chartering.commissionType | translate"
                  [modalGridConfig]="commissionTypeGridConfig"
                  [properities]="['label' | labelKey]"
                  formControlName="commissionTypeId"
                  [setNullIfNotFound]="true"
                >
                </nv-autocomplete>
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="12"
            >
              <nv-currency-autocomplete [form]="form">
              </nv-currency-autocomplete>
            </div>
          </div>
          <div
            nz-row
            nzGutter="22"
          >
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.general.amount | translate">
                <nv-decimal-input
                  formControlName="amount"
                  [showSeparator]="true"
                >
                </nv-decimal-input>
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.billingCycle | translate">
                <input
                  formControlName="billingCycle"
                  type="number"
                  nz-input
                />
              </nv-input-wrapper>
            </div>
          </div>
          <div
            nz-row
            nzGutter="22"
          >
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.billingCycleType | translate">
                <nz-select
                  formControlName="billingCycleType"
                  nzAllowClear
                  nzShowSearch
                >
                  <nz-option
                    *ngFor="let b of billingCycleTypesOptions"
                    [nzLabel]="b.displayLabel | translate"
                    [nzValue]="b.value"
                    nzCustomContent
                  >
                    <div [attr.data-billing-cycle-type-option]="b.value">
                      {{ b.displayLabel | translate }}
                    </div>
                  </nz-option>
                </nz-select>
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="12"
              class="checkbox-container"
            >
              <label
                nz-checkbox
                formControlName="isBillingCycleContinually"
                data-checkbox="isBillingCycleContinually"
                class="checkbox-label"
              >
                {{ wording.chartering.billingCycleContinually | translate }}
              </label>
            </div>
          </div>
          <div
            nz-row
            nzGutter="22"
          >
            <div
              nz-col
              nzSpan="12"
            >
              <nv-mandator-autocomplete [form]="form">
              </nv-mandator-autocomplete>
            </div>
            <div
              nz-col
              nzSpan="12"
              class="booking-account-wrap"
            >
              <nv-booking-account-autocomplete
                #bookingAccountAutocomplete
                [onlyOfMandator]="true"
                [form]="form"
              ></nv-booking-account-autocomplete>
            </div>
          </div>
          <div
            nz-row
            nzGutter="22"
          >
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.costCenter | translate">
                <input
                  formControlName="costCenter"
                  type="number"
                  nz-input
                />
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.accounting.taxKey | translate">
                <nv-autocomplete
                  [resource]="mandatorTaxKeys$ | async"
                  [title]="wording.accounting.taxKey | translate"
                  [modalGridConfig]="taxKeysGridConfig"
                  [properities]="['code']"
                  formControlName="taxKeyId"
                  [setNullIfNotFound]="true"
                >
                </nv-autocomplete>
              </nv-input-wrapper>
            </div>
          </div>
          <div
            nz-row
            nzGutter="22"
          >
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.processing | translate">
                <nz-select
                  formControlName="processing"
                  nzAllowClear
                  nzShowSearch
                >
                  <nz-option
                    *ngFor="let p of processingOptions"
                    [nzLabel]="p.displayLabel | translate"
                    [nzValue]="p.value"
                    nzCustomContent
                  >
                    <div [attr.data-processing-option]="p.value">
                      {{ p.displayLabel | translate }}
                    </div>
                  </nz-option>
                </nz-select>
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.invoiceRecipient | translate">
                <nv-autocomplete
                  [resource]="debitorCreditors$ | async"
                  [title]="wording.chartering.invoiceRecipient | translate"
                  [modalGridConfig]="debitorsCreditorsGridConfig"
                  [properities]="['no', 'companyName']"
                  formControlName="invoiceRecipientId"
                  [setNullIfNotFound]="true"
                  [setNullIfNotFound]="true"
                >
                </nv-autocomplete>
              </nv-input-wrapper>
            </div>
          </div>
          <div
            nz-row
            nzGutter="22"
          >
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.chartering.invoicedUntil | translate">
                <nv-datebox
                  formControlName="invoicedUntil"
                  [withTime]="true"
                >
                </nv-datebox>
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="12"
            >
              <nv-input-wrapper [label]="wording.system.remarks | translate">
                <textarea
                  rows="4"
                  nz-input
                  formControlName="remark"
                  type="text"
                >
                </textarea>
              </nv-input-wrapper>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>