<nz-tabset
  *ngIf="currentTabIndex !== undefined"
  (nzSelectChange)="onTabChange($event)"
  [nzSelectedIndex]="currentTabIndex"
>
  <nz-tab
    *ngFor="let tab of tabComponents;"
    [nzTitle]="tab.label"
    [nzDisabled]="tab.disabled || (allTabsDisabled$ | async)"
  >
  </nz-tab>

</nz-tabset>
<ng-template #vc ></ng-template>
