<nv-grid
  #grid
  [gridConfig]="gridConfig"
  [dataSource]="(dataSource$ | async) | filterStream: {
    bankId: bankId,
    mandatorId: mandatorId,
    companyId: companyId
  }"
>
  <ng-template
    nvEditColumnTemplate
    columnName="bookingAccountId"
    let-data
  >
    <ng-container [formGroup]="data.form">
      <nv-booking-account-autocomplete
        [form]="data.form"
        [controlName]="data.column.key"
        [onlyOfMandator]="true"
        [mandatorId]="mandatorId"
        [setId]="true"
        [showLabel]="false"
        [displayOneProperty]="true"
        [autofocus]="true"
        [openListOnInit]="true"
        (tab)="data.externalEmitter.emit($event)"
        (enter)="data.externalEmitter.emit($event)"
        (escape)="data.externalEmitter.emit($event)"
        (blur)="data.externalEmitter.emit($event)"
      >
      </nv-booking-account-autocomplete>
    </ng-container>
  </ng-template>
</nv-grid>
