<nv-vertical-list>
  <nv-datebox
    [formControl]="control"
    [placeholder]="wording.general.chooseDate"
  >
  </nv-datebox>
  <nv-vertical-list-item
    (click)="onClick()"
    *ngFor="let date of dates"
    [routerLink]="[]"
    routerLinkActive="selected"
    [queryParams]="{ from: date }"
    queryParamsHandling="merge">
    {{ wording.system.from | translate }}
    {{ date | toCurrentDateFormat }}
  </nv-vertical-list-item>
</nv-vertical-list>
