:host {
  form {
    width: 100%;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 285px);
  }

  .registration-type {
    .title {
      font-size: 12px;
      color: grey;
      text-align: left;
      padding-left: 2px;
      text-transform: uppercase;
      line-height: 20px;
      white-space: nowrap;
    }
    label {
      width: 100%;
      margin: 2px 0 0 0;
    }
  }

  .training {
    padding-top: 15px;
  }

  .register-block {
    display: flex;
  }

  .primary-secondary-block {
    flex: 2;
  }

  .remark-block{
    flex: 1;
    padding-top: 10px;
    padding-left: 0 !important;
  }

  &::ng-deep {
    .primary-secondary-register {
      width: 100%;
    }
    .register-block {
      flex: 1;
    }

    .grid-wrapper {
      max-height: 150px;
    }
  }
}
