<div class="component-wrap">
  <nv-detail-view-actions
    header
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  >
  </nv-detail-view-actions>

  <form
    *ngIf="form"
    nvSpyElement
    (initialized)="formInitialized($event)"
    [formGroup]="form"
    nz-form
    nzLayout="vertical"
  >
    <div
      nz-row
      [nzGutter]="48"
    >
      <div
        nz-col
        nzSpan="24"
      >
        <nv-fieldset>
          <div nz-row nzGutter="24">
            <div
              nz-col
              nzSpan="4"
            >
              <nv-vessel-autocomplete
                [form]="form"
                (select)="onVesselAccountingChange($event)"
              >
              </nv-vessel-autocomplete>
            </div>
            <div
              nz-col
              nzSpan="4"
            >
              <nv-input-wrapper [label]="wording.chartering.chartername | translate">
                <input
                  formControlName="chartername"
                  type="text"
                  nz-input
                />
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="4"
            >
              <nv-input-wrapper [label]="wording.chartering.imoNo | translate">
                <input
                  type="text"
                  formControlName="imoNo"
                  nz-input
                />
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="4"
            >
              <nv-input-wrapper [label]="wording.chartering.officialNo | translate">
                <input
                  formControlName="officialNumber"
                  type="text"
                  nz-input
                >
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="4"
            >
              <nv-input-wrapper [label]="wording.chartering.mmsi | translate">
                <input
                  formControlName="mmsi"
                  type="text"
                  nz-input
                >
              </nv-input-wrapper>
            </div>
          </div>

          <div nz-row nzGutter="24" nzJustify="space-between">
            <div
              nz-col
              nzSpan="4"
            >
              <nv-input-wrapper [label]="wording.chartering.vesselType | translate">
                <nz-select
                  formControlName="vesselType"
                  nzAllowClear
                  nzShowSearch
                >
                  <nz-option
                    *ngFor="let vesselType of vesselTypes"
                    [nzLabel]="vesselType.displayLabel | translate"
                    [nzValue]="vesselType.value"
                    nzCustomContent
                  >
                    <div [attr.data-vessel-type-option]="vesselType.displayLabel.en">
                      {{ vesselType.displayLabel | translate }}
                    </div>
                  </nz-option>
                </nz-select>
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="4"
            >
              <nv-input-wrapper [label]="wording.chartering.portOfRegistry | translate">
                <input
                  type="text"
                  formControlName="portOfRegistry"
                  nz-input
                />
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="4"
            >
              <nv-input-wrapper [label]="wording.chartering.periodFrom | translate">
                <nv-datebox formControlName="from">
                </nv-datebox>
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="4"
            >
              <nv-input-wrapper [label]="wording.chartering.periodTill | translate">
                <nv-datebox formControlName="until">
                </nv-datebox>
              </nv-input-wrapper>
            </div>
            <div
              nz-col
              nzSpan="4"
            >
              <nv-vessel-type-of-registration
                [form]="form"
                [readOnly]="true"
              ></nv-vessel-type-of-registration>
            </div>
            <div
              nz-col
              nzSpan="4"
              class="training"
            >
              <label
                nz-checkbox
                formControlName="isTraining"
                data-checkbox="training"
              >
                {{ wording.chartering.training | translate }}
              </label>
            </div>
          </div>
        </nv-fieldset>
      </div>
    </div>
    <div
      nz-row
      [nzGutter]="48"
      class="register-block"
    >

      <div
        nz-col
        class="primary-secondary-block"
      >
        <nv-vessel-primary-secondary-register
          [formGroup]="form"
          [vesselId]="vesselId"
          [inEditMode]="isInEditMode"
          [isReadOnly]="true"
        ></nv-vessel-primary-secondary-register>
      </div>

      <div
        nz-col
        nzSpan="12"
        class="remark-block"
      >
        <nv-fieldset>
          <nv-input-wrapper [label]="wording.chartering.client | translate">
            <input
              type="text"
              formControlName="client"
              nz-input
            />
          </nv-input-wrapper>

          <nv-input-wrapper [label]="wording.system.remarks | translate">
            <textarea
              [nzAutosize]="{ minRows: 4, maxRows: 8 }"
              nz-input
              formControlName="remarks"
            ></textarea>
          </nv-input-wrapper>

        </nv-fieldset>
      </div>
    </div>
  </form>
</div>