<!-- Header -->
<nv-detail-view-actions
  header
  [inEditingMode]="editMode"
  (editClicked)="enterEditMode()"
  (cancelClicked)="cancelEditing()"
  (saveClicked)="submit()"
  [saveDisabled]="resource?.text === form?.value?.text"
></nv-detail-view-actions>

<!-- Content -->
<div class="form-wrap">
  <form
    *ngIf="form"
    [formGroup]="form"
    nz-form
    [nzLayout]="'vertical'"
    class="padding-mid"
  >
    <div nz-row nzGutter="22">
      <div nz-col nzSpan="12">
        <nv-input-wrapper [label]="wording.accounting.remarks | translate">
          <textarea
            class="remarks-text"
            rows="3"
            nz-input
            formControlName="text"
          ></textarea>
        </nv-input-wrapper>
      </div>

      <div nz-col nzSpan="12">
        <div class="input-wrap">
          <label>
            {{ wording.accounting.created | translate }}
          </label>
          <input
            disabled
            [value]="resource.createdByFull"
            type="text"
            nz-input
          />
        </div>

        <div class="input-wrap">
          <label>
            {{ wording.accounting.edited | translate }}
          </label>
          <input
            disabled
            [value]="resource.editedByFull"
            type="text"
            nz-input
          />
        </div>
      </div>
    </div>
  </form>
</div>
<!-- </nv-paper-view> -->
