:host,
.form-wrap {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  form {
    overflow: auto;
    min-width: 750px;

    textarea {
      max-height: 400px;
    }
  }
}

.remarks-text {
  min-height: 108px;
}

.input-wrap {
  label {
    font-size: 12px;
    color: grey;
    text-align: left;
    padding-left: 2px;
    text-transform: uppercase;
    line-height: 20px;
  }

  margin-top: 10px;
}
