<div class="l-img-slider-container">
  <lavash-event-container (keyboardEvent)="onKeydown($event)"
                          (touchEvent)="onTouchEvent($event)">

    <!-- img container-->
    <div class="l-img-container">
      <lavash-image [ngClass]="'l-img-' + imgPosition"
                    [path]="imagePath"
                    [src]="sliderItem.src"
                    [isLazy]="sliderItem.isLazy"
                    [alt]="sliderItem.alt || defaultAlt">
      </lavash-image>
      <!-- some custom data related to current image-->
      <ng-content></ng-content>
    </div>

    <div class="l-arrows">
      <lavash-button class="l-arrow-icon l-right"
                     className="animated"
                     [graphics]="nextIcon"
                     (clickEvent)="onSlide('next')">
      </lavash-button>

      <lavash-button class="l-arrow-icon l-left"
                     className="animated"
                     [graphics]="prevIcon"
                     (clickEvent)="onSlide('prev')">
      </lavash-button>
    </div>
  </lavash-event-container>
</div>