@import '../../../assets/less/variables.less';

:host ::ng-deep {
  .l-event-container {
    width: 100%;
    height: 100%;
  }

  .l-img-slider-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .l-arrows {
    width: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 2;
  }

  button {
    padding: 0;
  }

  .l-arrow-icon {
    position: absolute;
    top: 0;
    opacity: .5;
    .transition;

    &.l-left {
      left: 0;
    }

    &.l-right {
      right: 0;
    }

    &:hover {
      opacity: 1;
    }
  }

  .l-img-container {
    .flex;
    .center-top;
    .center-left;
    width: 100%;
    height: 100%;

    lavash-image {
      width: 100%;
      height: 100%;
      &.l-img-center {
        width: 100%;
        height: 100%;
        .flex;
        .center-left;
        .center-top;
      }

      &.l-img-cright {
        // todo right
      }
    }

    img {
      display: block;
      height: 100%;
      width: auto;

      /*&.l-img-height {
        height: 100%;
        width: auto;
      }

      &.l-img-width {
        width: 100%;
        height: auto;
      }*/
    }
  }

  // todo test anel normal
  @media screen and (max-width: 500px) {
    .l-img-container {
      img {
        height: auto;
        width: 100%;
      }
    }
  }
}