<nz-input-group [nzSuffix]="suffixTemplate">
  <input
    type="text"
    nz-input
    [placeholder]="(placeholder | translate) || ''"
    [(ngModel)]="searchValue"
    (input)="onSearch()"
    [disabled]="isDisabled"
  />
  <ng-template #suffixTemplate>
    <i nz-icon nzType="search"></i>
  </ng-template>
</nz-input-group>
<nz-divider></nz-divider>

<p class="no-results" *ngIf="searchResult.length === 0">
  {{ wording.general.noResults | translate }}
</p>

<nz-radio-group [ngModel]="value" (ngModelChange)="onSelect($event)" [disabled]="disabled">
  <ng-container *ngIf="withRouterLink; else withoutRouterLink">
    <a *ngFor="let item of searchResult" [routerLink]="item.id">
      <label nz-radio [nzValue]="item.id" [nzDisabled]="item.disabled || disabled">
        {{ item.displayLabel }}
      </label>
    </a>
  </ng-container>
  <ng-template #withoutRouterLink>
    <label *ngFor="let item of searchResult" nz-radio [nzValue]="item.id" [nzDisabled]="item.disabled || disabled">
      {{ item.displayLabel }}
    </label>
  </ng-template>
</nz-radio-group>
