@import 'src/app/core/styles/_mixins';

:host {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

nz-input-group {
  width: 100%;
}

.no-results {
  text-align: center;
}

nz-divider {
  margin: 12px 0;
}

nz-radio-group {
  flex: 1;
  display: flex;
  width: 100%;
  padding: 0 10px;
  flex-direction: column;
  overflow-y: auto;
  @include setScrollBar();

  label {
    display: block;
  }
}