.basic-alert {
  width: 100%;
  padding: 14px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;

  .icon-side {
    margin-right: 8px;

    .feather {
      height: 40px;
      width: 40px;
      cursor: default;
    }

    i-feather {
      height: 40px;
      width: 40px;
      stroke-width: 1.5;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .text-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5px;

    .text-header {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
    }

    .text-content {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: var(--color-body-font);
    }
  }

  .link-close-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a {
      font-size: 12px;
      font-weight: 600;
      margin-right: 8px;
      width: 90px;
      max-width: 100px;
      word-break: break-all;
    }

    i-feather {
      height: 20px;
      width: 20px;
      stroke-width: 1.5;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 4px;
    }
  }

  &.regular {
    background-color: var(--color-primary-background);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }

  &.success {
    background-color: var(--color-success-background);
    color: var(--color-success);
    border: 1px solid var(--color-success);
  }

  &.error {
    background-color: var(--color-danger-background);
    color: var(--color-danger);
    border: 1px solid var(--color-danger);
  }

  &.warning {
    background-color: var(--color-warning-background);
    color: var(--color-warning);
    border: 1px solid var(--color-warning);
  }

  &.light {
    background-color: var(--color-white);
    color: var(--color-black);
    border: none;
  }

  &.dark {
    background-color: var(--color-main-darker);
    color: var(--color-white);
    border: none;

    .text-side {

      .text-content {
        color: var(--color-white);
      }
    }
  }

  &.outlined {
    background-color: var(--color-white);
    color: var(--color-black);
    border: 1px solid var(--color-main);
  }
}
