.collection-materials-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    height: 53px;
    border-bottom: 1px solid var(--color-main-lighter);
  }

  .collection-materials-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 20px;
    background-color: var(--color-white, #ffffff);

    .grid-container {
      --column-min-width: 260px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      padding: 0 3px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(var(--column-min-width), 1fr));
      grid-gap: 20px;
      justify-content: space-between;
    }
  }
}

.collection-description {
  line-height: 1.71em;
  color: var(--color-main);
  margin: 20px;
}

.documents {
  height: 100%;

  .header {
    height: 54px;
    margin: 20px 0;
  }

  .cards-container {
    flex-grow: 1;
    max-height: calc(100% - 94px);
    overflow-y: scroll;
    &.no-documentCards {
      height: calc(100% - 94px);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cards {
      display: flex;
      flex-direction: column;

      .card {
        border-bottom: 1px solid var(--color-main-lighter, #f1f2f7);
      }
    }
  }
}
