<div
  class="collection-materials-content box-sizing-border-box"
  [meComponentLoading]="areMaterialsLoading"
  *ngIf="materialCardItems.length !== 0 || areMaterialsLoading || isSearch; else noMaterialsTemplate"
>
  <div class="header">
    <me-search-bar
      [dataModel]="searchBarData"
      (searchInput)="handleSearch($event)"
      (sortBy)="handleSortByEvent($event)"
      (toggleSelect)="handleToggleSelectEvent()"
      (changeViewType)="handleViewTypeEvent()"
      (searchBarActions)="handleSearchBarEvents($event)"
    ></me-search-bar>
  </div>
  <div meScrollToBottom (bottomReached)="bottomReachedHandler()" class="collection-materials-container box-sizing-border-box">
    <ng-container *ngIf="collection || isCollectionLoading; else noCollection">
      <div class="grid-container">
        <ng-container *ngIf="materialCardItems.length !== 0 || areMaterialsLoading; else zeroMaterialsTemplate">
          <me-material-card
            *ngFor="let cardItem of materialCardItems; let cardIndex = index; trackBy: itemOid"
            [dataModel]="cardItem"
            (click)="handleItemClick(cardItem, cardIndex)"
            (eventOccurs)="customEvent($event.eventName, $event.payload, cardItem)"
          ></me-material-card>
        </ng-container>
        <ng-template #zeroMaterialsTemplate>There are no materials</ng-template>
      </div>
    </ng-container>
    <ng-template #noCollection>There are no collection</ng-template>
  </div>
</div>

<ng-template #noMaterialsTemplate>
  <me-empty-content class="empty-container" [dataModel]="materialsEmptyContent" (clicked)="handleAddButtonClick()"> </me-empty-content>
</ng-template>

<ng-template #edit>
  <i-feather name="edit"></i-feather>
</ng-template>
<ng-template #info>
  <i-feather name="info"></i-feather>
</ng-template>

<ng-template #rightSidebarContent>
  <me-tab-group *ngIf="tabGroupData" [dataModel]="tabGroupData" (selectedTabChanged)="handleSelectedTabChange($event)"></me-tab-group>
</ng-template>

<ng-template #tabOne>
  <me-info-card
    *ngIf="collectionInfoCard"
    [dataModel]="collectionInfoCard"
    (eventOccurs)="customEvent($event.eventName, $event.payload, this.collection || undefined)"
  ></me-info-card>
  <div class="collection-description">{{ collection?.attributes?.description || '' }}</div>
  <!-- TODO: implement video -->
</ng-template>

<ng-template #tabTwo>
  <div class="documents" [meComponentLoading]="areDocumentsLoading">
    <div class="header">
      <me-search-bar [dataModel]="documentsSearchBarData" (searchInput)="documentsHandleSearch($event)"></me-search-bar>
    </div>
    <div
      meScrollToBottom
      (bottomReached)="documentsBottomReachedHandler()"
      class="cards-container"
      [class.no-documentCards]="documentCards.length === 0"
    >
      <div class="cards">
        <ng-container *ngIf="documentCards.length !== 0 || areDocumentsLoading; else zeroDocumentsTemplate">
          <div class="card" *ngFor="let item of documentCards; trackBy: itemOid">
            <div class="grid-test box-sizing-border-box">
              <me-document-line [dataModel]="item" (eventOccurs)="customEvent($event.eventName, $event.payload, item)"></me-document-line>
            </div>
          </div>
        </ng-container>
        <ng-template #zeroDocumentsTemplate> THERE ARE NO DOCUMENTS </ng-template>
      </div>
    </div>
  </div>
</ng-template>
