:host {
  position: relative;
  height: 100%;
}

$a: var(--header-height) + var(--breadcrumb-height);

.me-table-container {
  height: calc(100vh - 126px);
  background-color: #fff;
  // overflow: auto;
  // overflow-y: scroll;
  // overflow: scroll;
  overflow: auto;

  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .mat-header-cell, .mat-footer-cell, .mat-cell {
  //   min-width: 80px;
  //   box-sizing: border-box;
  // }

  .mat-header-row, .mat-footer-row, .mat-row {
    min-width: 1560px;
  }

  mat-table {
    // min-width: 1500px;
    mat-header-row {
      border-color: #efeff3;

      mat-header-cell {
        border: 0;
        color: #434349;
        font-weight: 700;

        .mat-icon {
          width: 14px;
          height: 14px;
          font-size: 14px;
          color: #565974;
        }

        &.mat-column-select {
          width: 16px;
        }

        &.soratable-column {
          cursor: pointer;
        }

        &.hidden {
          // flex: unset;
        }
      }
    }

    .mat-cell {
      border: 0;

      .cell-content {
        display: flex;
        width: 100%;
        align-items: center;
        font-weight: 600;

        .chevron-icon {
          width: 16px;
          height: 16px;
          display: flex;
          align-items: center;
          color: #747474;
          margin-right: 24px;
        }
      }

      &.hidden {
        // flex: unset;
      }
    }

    .visible-row {
      &:hover {
        background: whitesmoke;
      }
    }

    .detail-row {
      min-height: auto;
      border: 0;
    }

    .detail-container {
      position: relative;
      overflow: hidden;
      width: 100%;

      .row {
        min-height: 48px;
        display: flex;
        border-width: 0;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #efeff3;
        align-items: center;
        box-sizing: border-box;

        mat-cell {
          font-weight: 600;
        }
      }

      .expanded-content-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
      }

      &.empty-content {
        min-height: 100px;
      }
    }
  }

  .mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
  }

  .no-records {
    text-align: center;
    margin: 20px 0;
  }
}

:host ::ng-deep {
  .mat-sort-header-container {
    .mat-icon {
      width: 14px;
      height: 14px;
      font-size: 14px;
    }
  }
  .mat-checkbox {
    margin: 0 10px;
  }
  .mat-checkbox-checked,
  .mat-checkbox-indeterminate {
    .mat-checkbox-background {
      background-color: #343434;
    }
  }

  .detail-container {
    .mat-cell {
      &.first {
        & > :first-of-type {
          margin-left: 44px;
        }
      }
    }
  }

  me-table-string {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
