<div class="me-table-container" #tableContainer>
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner [strokeWidth]="3" [diameter]="50"></mat-spinner>
  </div>

  <mat-table multiTemplateDataRows matSort [dataSource]="dataSource" [trackBy]="trackByRowOid" class="mat-elevation-z0">
    <ng-container
      matColumnDef="{{ column.field }}"
      *ngFor="let column of columns; let first = first; let colIndex = index; trackBy: trackByField"
    >
      <mat-header-cell
        *matHeaderCellDef
        [ngClass]="{ 'soratable-column': isColSortable(column.field), hidden: isColHidden(column.field) }"
        (click)="sortData(column)"
      >
        <ng-container *ngIf="!isColHidden(column.field)">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? toggleAllSelection() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            *ngIf="first && checkboxSelection"
          >
          </mat-checkbox>
          <mat-icon aria-hidden="false" *ngIf="isColSortable(column.field)">
            {{ getSortableArrowNameByColumnFieldName(column.field) }}
          </mat-icon>
          {{ getColHeaderName(column.field, colIndex) }}
        </ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="{ hidden: isColHidden(column.field) }">
        <div class="cell-content">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? toggleRowSelection(row) : null"
            [checked]="selection.isSelected(row)"
            *ngIf="first && checkboxSelection"
          >
          </mat-checkbox>
          <i-feather
            class="chevron-icon"
            matSuffix
            [name]="row.rowOID == expandedRow ? 'chevron-down' : 'chevron-up'"
            *ngIf="row.hasChildren && first"
          >
          </i-feather>
          <ng-container *ngFor="let cell of row.renderedCells; trackBy: trackByComponentData">
            <ng-container *ngIf="cell.forField === column.field">
              <ng-template
                *meTableCellComponent="{
                  component: cell.component,
                  componentData: cell.componentData,
                  rowOID: row.rowOID,
                  subject: cellClickEvent,
                  colIndex: colIndex
                }"
              >
              </ng-template>
            </ng-container>
          </ng-container>
        </div>
      </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <ng-container *matCellDef="let row">
        <div
          class="detail-container"
          [class.empty-content]="!row.children"
          [@detailExpand]="row.rowOID == expandedRow ? 'expanded' : 'collapsed'"
          *ngIf="row.hasChildren"
        >
          <ng-container *ngIf="row.children; else spinnerBlock">
            <div class="row" *ngFor="let children of row.children; let detailIndex = index; trackBy: trackByRowOid">
              <ng-container
                *ngFor="
                  let childRenderedCell of children.renderedCells;
                  let childColIndex = index;
                  let first = first;
                  trackBy: trackByComponentData
                "
              >
                <mat-cell [class]="{ first: first }" *ngIf="childColIndex + 1 <= displayedColumnsKeys.length">
                  <ng-template
                    *meTableCellComponent="{
                      component: childRenderedCell.component,
                      componentData: childRenderedCell.componentData,
                      rowOID: row.rowOID,
                      subject: cellClickEvent,
                      colIndex: childColIndex,
                      child: {
                        rowOID: children.rowOID
                      }
                    }"
                  ></ng-template>
                </mat-cell>
              </ng-container>
              <mat-cell *ngFor="let c of countOfEmptyCell(children.renderedCells)">
                <span>{{ countOfEmptyCell(children.renderedCells) | json }}</span>
              </mat-cell>
            </div>
          </ng-container>
          <div class="no-records" *ngIf="row.children && !row.children.length">No recoreds</div>
          <ng-template #spinnerBlock>
            <div class="expanded-content-loader">
              <mat-spinner [strokeWidth]="2" [diameter]="40"></mat-spinner>
            </div>
          </ng-template>
        </div>
      </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsKeys; sticky: true"></mat-header-row>
    <mat-row
      *matRowDef="let element; columns: displayedColumnsKeys"
      class="visible-row"
      [class.example-expanded-row]="expandedRow === element"
      (click)="onClickExpandedRow(element)"
    >
    </mat-row>
    <mat-row mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></mat-row>
  </mat-table>

  <div class="no-records" *ngIf="!isLoadingResults && dataSource.length === 0">No records found</div>

  <!-- Pagination -->
  <mat-paginator
    class="mat-paginator-sticky"
    [length]="pagination.totalCount"
    [pageSize]="pagination.pageSize"
    [pageIndex]="pagination.pageIndex"
    [pageSizeOptions]="getPageSizeOptionsValue()"
    (page)="onChangePage($event)"
    *ngIf="!hideFooterPagination && dataSource.length"
  >
  </mat-paginator>
</div>
