<div class="detail-view-main">
  <!-- Header -->
  <nv-detail-view-actions
    [inEditingMode]="editMode"
    (editClicked)="enterEditMode()"
    (cancelClicked)="cancelEditing()"
    (saveClicked)="submit()"
    [form]="form"
    [formElement]="formElement"
  ></nv-detail-view-actions>

  <!-- Content -->
  <div class="form-wrap padding-mid">
    <div class="main-content-wrapper">
      <div
        *ngIf="form"
        class="avatar-area form-row"
      >
        <nv-image-uploader
          [inEditingMode]="inEditMode$ | async"
          (imageUploaded)="updateAvatar($event)"
        >
          <div class="avatar-wrapper">
            <img
              class="avatar"
              [src]="
                form.value.avatarId
                  ? (form.value.avatarId | imgSrc)
                  : 'assets/no-user-avatar.png'
              "
            />
          </div>
        </nv-image-uploader>
      </div>
      <form
        *ngIf="form"
        nvSpyElement
        (initialized)="formInitialized($event)"
        [formGroup]="form"
        nz-form
        nzLayout="vertical"
        autocomplete="off"
      >
        <label
          nz-checkbox
          formControlName="noEmail"
          *ngIf="creationMode"
          (ngModelChange)="withoutEmailChange()"
        >
          {{ wording.system.createUserWithoutEmail | translate }}
        </label>

        <div
          nz-row
          nzGutter="16"
          class="form-row"
        >
          <nv-input-wrapper
            label="first name"
            [formGroup]="form"
            nz-col
            nzSpan="12"
          >
            <input
              formControlName="firstName"
              type="text"
              nz-input
            />
          </nv-input-wrapper>

          <nv-input-wrapper
            label="last name"
            [formGroup]="form"
            nz-col
            nzSpan="12"
          >
            <input
              formControlName="lastName"
              type="text"
              nz-input
            />
          </nv-input-wrapper>
        </div>

        <div
          nz-row
          nzGutter="16"
          class="form-row"
        >
          <nv-input-wrapper
            label="username"
            nz-col
            nzSpan="12"
          >
            <input
              formControlName="username"
              name="username-create"
              type="text"
              nz-input
            />
          </nv-input-wrapper>

          <nv-input-wrapper
            label="email"
            nz-col
            nzSpan="12"
            *ngIf="!form.get('noEmail').value; else password"
          >
            <input
              name="email-create"
              formControlName="email"
              type="text"
              nz-input
            />
          </nv-input-wrapper>

          <ng-template #password>
            <nv-input-wrapper
              label="password"
              nz-col
              nzSpan="12"
              [infoText]="wording.general.passwordPolicies | translate"
            >
              <input
                name="password-create"
                formControlName="password"
                type="password"
                nz-input
              />
            </nv-input-wrapper>
          </ng-template>
        </div>

        <div
          nz-row
          nzGutter="16"
          class="form-row"
        >
          <nv-input-wrapper
            label="display name"
            [formGroup]="form"
            nz-col
            nzSpan="12"
          >
            <input
              formControlName="displayName"
              type="text"
              nz-input
            />
          </nv-input-wrapper>

          <nv-input-wrapper
            label="phone number"
            [formGroup]="form"
            nz-col
            nzSpan="12"
          >
            <input
              formControlName="tel"
              type="text"
              nz-input
            />
          </nv-input-wrapper>
        </div>

        <div
          nz-row
          nzGutter="16"
          class="form-row"
        >
          <nv-input-wrapper
            label="fax"
            [formGroup]="form"
            nz-col
            nzSpan="12"
          >
            <input
              formControlName="fax"
              type="text"
              nz-input
            />
          </nv-input-wrapper>

          <nv-input-wrapper
            label="location"
            [formGroup]="form"
            nz-col
            nzSpan="12"
          >
            <input
              formControlName="location"
              type="text"
              nz-input
            />
          </nv-input-wrapper>
        </div>

        <div
          nz-row
          nzGutter="16"
          class="form-row"
        >
          <nv-input-wrapper
            label="language"
            [formGroup]="form"
            nz-col
            nzSpan="12"
          >
            <nz-select formControlName="language">
              <nz-option
                nzLabel="English"
                [nzValue]="Language.EN"
                nzCustomContent
              >
                <div data-language-option="en">
                  English
                </div>
              </nz-option>
              <nz-option
                nzLabel="Deutsch"
                [nzValue]="Language.DE"
                nzCustomContent
              >
                <div data-language-option="de">
                  Deutsch
                </div>
              </nz-option>
            </nz-select>
          </nv-input-wrapper>
        </div>
        <div
          nz-row
          nzGutter="16"
          class="form-row activation-fields"
        >
          <div
            nz-col
            nzSpan="12"
          >
            <div nz-row>
              <div
                nz-col
                nzSpan="8"
                class="checkbox-wrap"
              >
                <nz-switch formControlName="isActive"></nz-switch>
                <div class="switchLabel">
                  {{ wording.general.isActive | translate }}
                </div>
              </div>
              <nv-input-wrapper
                nz-col
                nzSpan="16"
                [label]="wording.system.untilDate | translate"
                class="date-picker"
              >
                <nv-datebox
                  formControlName="expirationDate"
                  [disabledUntil]="expirationDateStart"
                  [withTime]="false"
                >
                </nv-datebox>
              </nv-input-wrapper>
            </div>
            <div class="checkbox-wrap">
              <nz-switch formControlName="isAdmin"></nz-switch>
              <div class="switchLabel">
                {{ wording.general.admin | translate }}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>