:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .detail-view-main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .form-wrap {
      overflow: auto;
      form {
        width: 100%;
      }
    }

    .main-content-wrapper {
      padding: 14px 4px;
    }
  }
}

.form-row {
  margin-bottom: 8px;
}

.avatar-area {
  margin-bottom: 18px;

  .avatar-wrapper {
    width: 160px;

    .avatar {
      width: 100%;
    }
  }
}
.activation-fields {
  padding: 0 8px;

  [nz-row] {
    margin-bottom: 8px;
    display: flex;
    align-items: flex-end;
  }
  .checkbox-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
}
