<div class="view-material-container box-sizing-border-box">
  <div class="carousel-container user-select-none box-sizing-border-box">
    <ng-container *ngIf="documentsImages && documentsImages.length > 0; else noImagesTemplate">
      <div class="all-images box-sizing-border-box scrollbar">
        <div
          [ngStyle]="{ 'background-image': 'url(' + image + ')' }"
          *ngFor="let image of documentsImages; let i = index"
          (click)="carouselNavigateToIndex(i)"
          [ngClass]="{ active: i === selectedCarouselImageIndex }"
          class="image-thumbnail index-{{ i }}"
        ></div>
      </div>
      <div class="carousel box-sizing-border-box" #carouselDiv>
        <div class="arrow" (click)="changeImage('previous')" *ngIf="documentsImages.length > 1">
          <i-feather name="chevron-left"></i-feather>
        </div>
        <div class="presentation">
          <mat-carousel
            timings="250ms ease-in"
            [autoplay]="false"
            [interval]="5000"
            color="primary"
            maxWidth="{{ presentationHeight + 'px' }}"
            [proportion]="100"
            [slides]="documentsImages.length"
            [loop]="false"
            [hideArrows]="true"
            [hideIndicators]="true"
            [useKeyboard]="false"
            [useMouseWheel]="false"
            orientation="ltr"
            (change)="updatePage($event)"
            #carousel
          >
            <mat-carousel-slide
              #matCarouselSlide
              *ngFor="let slide of documentsImages"
              [image]="slide"
              overlayColor="#00000040"
              [hideOverlay]="false"
            ></mat-carousel-slide>
          </mat-carousel>
        </div>
        <div class="arrow" (click)="changeImage('next')" *ngIf="documentsImages.length > 1">
          <i-feather name="chevron-right"></i-feather>
        </div>
      </div>
      <div class="carousel-buttons">
        <me-button (clickEvent)="download2dImage()" [dataModel]="downloadButton">
          <i-feather name="download"></i-feather>{{ i18nStrings.downloadVisual }}
        </me-button>
      </div>
    </ng-container>
    <ng-template #noImagesTemplate> No images </ng-template>
  </div>

  <div class="attributes-container box-sizing-border-box">
    <div class="material-info box-sizing-border-box">
      <div class="top-part">
        <me-ellipsis-row *ngIf="materialAttributes.name" class="name ellipsis" [text]="materialAttributes.name"></me-ellipsis-row>
        <div class="name ellipsis" *ngIf="!materialAttributes.name">
          {{ i18nStrings.notAvailable }}
        </div>
        <div class="icon">
          <me-context-menu
            [dataModel]="{
              contextMenuItems: viewMaterialContextMenuItems
            }"
            (itemClick)="viewMaterialContextMenuEvent($event)"
          ></me-context-menu>
        </div>
      </div>

      <div class="description">
        {{ i18nStrings.basePrice }}:
        <ng-container *ngIf="materialAttributes.price !== null && unitOfMeasure; else noPriceOrUom">
          <span>${{ materialAttributes.price }} {{ i18nStrings.per }} {{ unitOfMeasure }}</span>
        </ng-container>
        <ng-template #noPriceOrUom> {{ i18nStrings.notAvailable }} </ng-template>
      </div>
      <ng-container *ngIf="materialAttributes.priceRMB">
        <div class="description">
          {{ i18nStrings.priceRMB }}: <span>{{ materialAttributes.priceRMB }}</span>
        </div>
      </ng-container>
      <div class="description">
        {{ i18nStrings.visibility }}:
        <span
          class="material-visibility"
          [ngStyle]="{
            'background-color': visibility && visibility.backgroundColorHex,
            color: visibility && visibility.fontColorHex,
            'border-radius': '3px'
          }"
          >{{ materialState.displayName || i18nStrings.notAvailable | uppercase }}</span
        >
      </div>
      <div class="description">
        {{ i18nStrings.materialType }}: <span>{{ materialType || i18nStrings.notAvailable }}</span>
      </div>
      <div class="description">
        {{ i18nStrings.supplierCollection }}: <span>{{ materialAttributes.collection || i18nStrings.notAvailable }}</span>
      </div>
    </div>
    <div class="tab box-sizing-border-box">
      <mat-tab-group>
        <mat-tab label="General">
          <div class="content box-sizing-border-box scrollbar" *ngIf="generalInfoAttributeGroup">
            <me-group-attributes [attributeGroup]="generalInfoAttributeGroup"></me-group-attributes>
          </div>
        </mat-tab>
        <mat-tab label="Material Attributes">
          <div class="content box-sizing-border-box scrollbar">
            <me-group-attributes
              *ngIf="singleGroupForRestAttributesGroup"
              [attributeGroup]="singleGroupForRestAttributesGroup"
            ></me-group-attributes>
          </div>
        </mat-tab>
        <mat-tab label="Attachments">
          <div class="content box-sizing-border-box scrollbar">
            <ng-container *ngIf="documentCardItems && documentCardItems.length > 0; else noAttachmentsTemplate">
              <div class="document-grid">
                <me-document-card
                  *ngFor="let documentCard of documentCardItems; let index = index; trackBy: getCardOid"
                  [dataModel]="documentCard"
                  (eventOccurs)="handleDocumentCardEvent($event.eventName, $event.payload, documentCard)"
                >
                </me-document-card>
              </div>
            </ng-container>
            <ng-template #noAttachmentsTemplate>
              <div class="no-attachments">No attachments</div>
            </ng-template>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<ng-template #editButton>
  <i-feather name="edit"></i-feather>
</ng-template>
