@import 'global/breakpoints';

.view-material-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  --carousel-images-height: 125px;
  --carousel-buttons-height: 50px;

  .carousel-container {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    align-items: center;
    justify-content: center;
    height: 100%;
    //justify-content: flex-start;
    font-weight: bold;
    font-size: 33px;

    .all-images {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      overflow-y: hidden;
      overflow-x: auto;
      margin-bottom: 10px;
      min-width: 55%;
      max-width: 400px;
      height: var(--carousel-images-height);

      .image-thumbnail {
        height: 100px;
        width: 100px;
        min-width: 100px;
        min-height: 100px;
        margin-right: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-origin: border-box;
        background-position: center;
        box-sizing: border-box;
        background-size: cover;

        &.active {
          border: 3px solid var(--color-primary, #5849e0);
        }
      }

      .image-thumbnail:last-child {
        margin-right: 0;
      }

      .image {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;

          &.active {
            border: 3px solid var(--color-primary, #5849e0);
          }
        }
      }
    }

    .carousel {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: calc(100% - (var(--carousel-images-height) + var(--carousel-buttons-height)));

      .presentation {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55%;

        @include desktop {
          width: 70%;
        }
      }
    }

    .carousel-buttons {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: var(--carousel-buttons-height);
      align-items: center;
      justify-content: center;
      padding-bottom: 20px;

      app-button {
        margin-right: 16px;
      }
    }
  }

  .attributes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 40%;
    height: 100%;
    background-color: var(--color-white, #ffffff);
    padding: 20px;

    .material-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 80px;

      .top-part {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .name {
          font-family: var(--font-family-secondary);
          color: var(--color-primary, #5849e0);
          font-weight: 700;
          font-size: 32px;
          line-height: 32px;
          text-transform: uppercase;
          margin-bottom: 16px;
          max-width: 460px;
        }

        .icon {
          color: red;
        }
      }

      .material-description {
        max-height: 80px;
        overflow-y: auto;

        .long-text {
          font-size: 14px;
          font-weight: 600;
          color: var(--color-kingpin-gray);
          word-break: break-word;
        }
      }
    }

    .tab {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;

      mat-tab-group {
        width: 100%;
        height: 100%;

        .content {
          height: 100%;
          overflow-y: auto;
          padding-top: 20px;

          .title {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 20px;
          }

          .document-grid {
            width: 100%;
            height: fit-content;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
            grid-gap: 20px;
          }

          .no-attachments {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
    }

    .description {
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 10px;

      span.material-visibility {
        padding: 3px 10px;
        font-weight: 600;
        font-size: 14px;
      }
    }
  }
}
