@import '../../../../../l-builder/src/assets/less/variables.less';

.project {
  padding: 10px 20px;
  cursor: pointer;
  .transition;

  &:hover, &.active {
    background: rgba(255,255,255,.12);
  }

  &.active {
    pointer-events: none;
    cursor: auto;
  }

  .project-name {
    font-size: .8rem;
    color: @white;
  }

}
.project-img {
  width: 65px;
  height: 40px;
  overflow: hidden;
}
.project-info {
  padding-left: 10px;
}

:host ::ng-deep {
  lavash-image {
    .flex;
    .center-left;
    .center-top;
    width: 100%;
    height: 100%;
    background: black;
  }

  img {
    height: 100%;
    width: auto;
  }
}