<div class="calendar-event">
  <form
    [ngClass]="{'read-only': isDisabled}"
    [formGroup]="form"
    nz-form
    nzLayout="vertical"
  >
    <nv-input-wrapper [label]="wording.general.nameEn | translate">
      <input nz-input formControlName="labelEn">
    </nv-input-wrapper>
    <nv-input-wrapper [label]="wording.general.nameDe | translate">
      <input nz-input formControlName="labelDe">
    </nv-input-wrapper>
    <nv-input-wrapper [label]="wording.chartering.calendar | translate">
      <nz-select nzAllowClear nzShowSearch formControlName="calendarId">
        <nz-option
          *ngFor="let calendars of calendars"
          [nzValue]="calendars.id"
          [nzLabel]="calendars.displayLabel | translate"
          nzCustomContent
          [disabled]="readOnly"
        >
          <div [attr.e2e-calendar-option]="calendars.displayLabel.en">
            {{ calendars.displayLabel | translate }}
          </div>
        </nz-option>
      </nz-select>
    </nv-input-wrapper>

    <div class="flex-box">
      <nv-input-wrapper [label]="wording.general.start | translate">
        <nv-datebox formControlName="start"></nv-datebox>
      </nv-input-wrapper>
      <nv-input-wrapper [label]="wording.general.until | translate" *ngIf="!form.get('isWholeDayEvent').value">
        <nv-datebox formControlName="end"></nv-datebox>
      </nv-input-wrapper>
    </div>

    <div class="flex-box">
      <label nz-checkbox formControlName="isWholeDayEvent" (nzCheckedChange)="onToggleIsWholeDay()">
        {{ wording.general.isWholeDayEvent | translate }}
      </label>
      <label nz-checkbox formControlName="isSystemDefault" *ngIf="isSuperAdmin">
        {{ wording.general.systemDefault | translate }}
      </label>
    </div>

    <div class="color"
         [style.backgroundColor]="form.get('color').value"
         (mouseenter)="handleColorPickerHover(true)"
         (mouseleave)="handleColorPickerHover(false)">
      <div class="color-picker-container" [ngClass]="{'visible': isColorPickerOpened}">
        <color-sketch
          [disableAlpha]="true"
          [color]="form.get('color').value"
          (onChangeComplete)="handleColorChange($event)"
        ></color-sketch>
      </div>
    </div>
  </form>
  <button *ngIf="!isDisabled" nz-button class="submit-btn" (click)="submitCalendarEvent()">
    {{wording.general.submit | translate}}
  </button>
</div>
