:host ::ng-deep{
  .read-only {
    pointer-events: none;

    input, nz-select-top-control {
      background: #e9e9e9 !important;
    }

    .datebox-container {
      pointer-events: none !important;

      nz-input-group {
        background: #e9e9e9;
      }
    }
  }

  .calendar-event {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
  }


  nv-input-wrapper {
    margin-bottom: 10px;
  }


  .flex-box {
    display: flex;

    nv-input-wrapper {
      flex: 1;

      &:first-child {
        margin-right: 5px;
      }
    }
  }

  .submit-btn {
    margin-top: 10px;
    margin-left: auto;
    background: #c44747;
    color: #fff;
  }

  .color {
    height: 100%;
    width: 15px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;


    .color-picker-container {
      padding-top: 60px;
      height: 100%;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 200px;
      opacity: 0;
      pointer-events: none;
      transition: all .2s;

      &.visible {
        opacity: 1;
        pointer-events: all;
      }
    }
    color-sketch {
      width: 100%;
    }
  }

  .ant-modal-body { overflow: hidden !important;}
}
