:host {
  flex: 1 1 auto;
  display: flex;
}

.content {
  padding: 26px;
  // added to fix scrolling
  // the footer of nv-paper-view is covering the content
  // TODO: remove this once the footer styles will be fixed
  margin-bottom: 45px;
}

.vessel-fieldset {
  margin-right: 5px;
}

.vessel-fieldset-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;

  .foreign-country-flag {
    width: 25px;
  }
}

.accountings-history-container {
  font-size: 12px;
  margin-top: 0;

  .label {
    padding: 0 2px;
  }

  nv-grid {
    height: fit-content;
    width: fit-content;
    max-height: 150px;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
  }
}

:host ::ng-deep {
  [formcontrolname="foreignCountry"] .ant-select-arrow {
    display: none;
  }


  nv-fieldset.accountings-history-container {
    fieldset {
      margin: 0;
      padding: 12px;
      padding-top: 0;

      nv-grid {
        margin: 5px;
      }
    }
  }

  .charternames {
    fieldset {
      width: 100%;
    }
  }
}

.charternames {
  height: 100%;
  margin-bottom: 0px;
  width: fit-content;

  form {
    margin: 0;
  }
}

.checkboxes-wrap {
  display: flex;
  flex-direction: column;
  label {
    margin-left: 8px;
    margin-bottom: 15px;
  }
}

.history, .chartername, .vessel {
  nv-fieldset {
    width: 100%;
    height: 100%;
  }
}

.flag-history {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  nv-flag-history {
    display: flex;
    flex-direction: column;
  }

  ::ng-deep nv-grid {
    max-height: 300px;
    flex: 1;
    display: flex;
  }
}