<div class="nv-content content">
  <div class="actions-row">
    <nv-detail-view-actions
      [inEditingMode]="editMode"
      (editClicked)="enterEditMode()"
      (cancelClicked)="cancelEditing()"
      (saveClicked)="submit()"
      [form]="form"
      [formElement]="formElement"
    >
    </nv-detail-view-actions>
  </div>
  <div
    class='form-wrapper'
    *ngIf="form"
  >
    <form
      nvSpyElement
      (initialized)="formInitialized($event)"
      [formGroup]="form"
      nz-form
      nzLayout="vertical"
    >
      <div
        nz-row
        nzGutter="24"
      >
        <div
          nz-col
          nzSpan="8"
          class="vessel"
        >
          <nv-fieldset
            [label]="wording.chartering.vessel | translate"
            class="vessel-fieldset"
          >
            <div class="vessel-fieldset-wrapper">
              <div
                nz-col
                class="form-group"
              >
                <div
                  *ngIf="!creationMode"
                  nz-row
                  nzGutter="24"
                >
                  <nv-input-wrapper
                    nz-col
                    nzSpan="10"
                    [label]="wording.general.number | translate"
                  >
                    <input
                      formControlName="vesselAccountingNo"
                      type="text"
                      nz-input
                    >
                  </nv-input-wrapper>

                  <nv-input-wrapper
                    nz-col
                    nzSpan="14"
                    [label]="wording.general.name | translate"
                  >
                    <input
                      formControlName="vesselAccountingName"
                      type="text"
                      nz-input
                    >
                  </nv-input-wrapper>
                </div>

                <div
                  nz-row
                  nzGutter="24"
                >
                  <div
                    nz-col
                    nzSpan="10"
                    *ngIf="currentCountryISO"
                  >
                    <nv-input-wrapper [label]="wording.general.flag | translate">
                      <nz-select
                        formControlName="foreignCountry"
                        nzAllowClear
                        [nzCustomTemplate]="defaultTemplate"
                      >
                        <nz-option
                          *ngFor="let c of countries"
                          [nzLabel]="c.displayLabel | translate"
                          [nzValue]="c.id"
                        >
                        </nz-option>
                      </nz-select>

                      <ng-template
                        #defaultTemplate
                        let-selected
                      >
                        <img
                          class="foreign-country-flag"
                          [src]="'assets/country-flags/' + currentCountryISO + '.svg'"
                          default="assets/no-flag.png"
                          alt="country-flag"
                        >
                        {{ selected.nzLabel }}
                      </ng-template>

                    </nv-input-wrapper>
                  </div>

                  <div
                    nz-col
                    [nzSpan]="currentCountryISO ? 14 : 24"
                  >
                    <nv-input-wrapper
                      class="date-picker delivery-date"
                      [label]="wording.chartering.deliveredFromShipyard | translate"
                      [showErrMessages]="false"
                      [showErrorInPopover]="true"
                      [redBorderError]="false"
                    >
                      <nv-datebox formControlName="deliveryDate"></nv-datebox>
                    </nv-input-wrapper>
                  </div>
                </div>

                <div
                  nz-row
                  nzGutter="24"
                >
                  <div
                    nz-col
                    nzSpan="8"
                  >
                    <nv-input-wrapper [label]="wording.chartering.imoNumber | translate">
                      <input
                        formControlName="imo"
                        type="text"
                        nz-input
                      >
                    </nv-input-wrapper>
                  </div>

                  <div
                    nz-col
                    nzSpan="8"
                  >
                    <nv-input-wrapper [label]="wording.chartering.officialNoAbbr | translate">
                      <input
                        formControlName="officialNumber"
                        type="text"
                        nz-input
                      >
                    </nv-input-wrapper>
                  </div>

                  <div
                    nz-col
                    nzSpan="8"
                  >
                    <nv-input-wrapper [label]="wording.chartering.mmsi | translate">
                      <input
                        formControlName="mmsi"
                        type="text"
                        nz-input
                      >
                    </nv-input-wrapper>
                  </div>
                </div>
              </div>
            </div>
          </nv-fieldset>
        </div>

        <div
          nz-col
          nzSpan="8"
          class="history"
          *ngIf="!creationMode"
        >
          <nv-fieldset
            class="accountings-history-container"
            [label]="wording.general.history | translate"
          >
            <div class="vessel-rightside-wrap">
              <nv-grid
                [gridConfig]="accountingsGridConfig"
                [dataSource$]="accountingsDataSource$"
                (gridConfigChangedOnSave)="gridConfigService.update($event)"
              >
              </nv-grid>
            </div>
          </nv-fieldset>
        </div>

        <div
          nz-col
          nzSpan="8"
          class="chartername"
        >
          <nv-fieldset
            *ngIf="authService.canRead(preDelayZone)"
            class="charternames"
            [label]="wording.technicalManagement.charterName | translate"
          >
            <div
              nz-row
              nzType="flex"
              nzGutter="15"
            >
              <nv-input-wrapper
                nz-col
                nzSpan="8"
                [label]="wording.chartering.preDelivery | translate"
              >
                <nv-datebox formControlName="preDelay"></nv-datebox>
              </nv-input-wrapper>
              <nv-input-wrapper
                [label]="'\u200B'"
                nz-col
                nzSpan="16"
              >
                <!-- the label is zero-width-space character to not let be trimmed -->
                <input
                  nz-col
                  formControlName="charterName"
                  type="text"
                  nz-input
                >
              </nv-input-wrapper>
            </div>
            <nv-input-wrapper
              *ngIf="authService.canRead(charternameZone)"
              [label]="wording.chartering.voyages | translate"
            >
              <nv-chartername-grid
                [isEditableGrid]="false"
                formControlName="charternames"
              >
              </nv-chartername-grid>
            </nv-input-wrapper>
          </nv-fieldset>
        </div>
      </div>

      <div class="flag-history">
        <nv-flag-history
          *ngIf="resource?.id"
          [vesselId]="resource.id"
        >
        </nv-flag-history>


        <div class="checkboxes-wrap">
          <label
            nz-checkbox
            formControlName="isIntendedSale"
            data-checkbox="intendedSale"
          >
            {{ wording.chartering.intendedSale | translate }}
          </label>

          <label
            nz-checkbox
            formControlName="isActive"
            data-checkbox="active"
          >
            {{ wording.general.active | translate }}
          </label>
        </div>
      </div>
    </form>

  </div>
</div>